[2018-06-21 11:17] #1566 closed

[2018-06-22 04:00] ssrakesh commented on #1655
By looking at log from the VS2017 Pro  system, I copied Microsoft.VisualStudio.UwpTestHostRuntimeProvider.Deployment, Microsoft.VisualStudio.UwpTestHostRuntimeProvider, Microsoft.VisualStudio.Telemetry to Build tools 2017 system.
Then I got the error "This operation requires installation of Visual Studio with the Universal Windows Platform development workload selected."

[2018-06-22 05:32] kaadhina commented on #1650
Unfortunately, since we don't have an idea as to what is causing your issue, we will not be able to debug without the logs. You may choose to get in touch with us via the customer support team at https://visualstudio.microsoft.com/team-services/tfs-support/ and they will guide you further in the process.

[2018-06-22 10:28] ericlemes commented on #1592
Hi @pvlakshm,

I think the first thing is to simplify the command line exclusions, without needing to write a script to run tests + coverage. Personally I think everything you do in .testsettings should be doable by command line, which is the current "standard" for devops/build automation.

Other things, I'd rather take offline because I have some information I can't disclose here. If you can cont

[2018-06-22 16:03] smadala commented on #1643
@ManishJayaswal

I agree with you. Because
- See the below message in [our PR check](https://ci.dot.net/job/Microsoft_vstest/job/master/job/Windows_NT_Debug_prtest/2319/consoleFull),
[code]
I don't know since when the tests has not been running from test-assembly `Microsoft.TestPlatform.Extensions.EventLogCollector.UnitTests.dll`. Here we are silently printing warning(In some cases warning helps i

[2018-06-22 18:52] Owen-Mak opened #1657 "Failed to set up the execution context to run the test"
## Description
If we run vstest.console.exe on two production dlls, A.dll and B.dll, all the tests in B.dll will fail with error message "Failed to set up the execution context to run the test".

However, if we specify B.dll before A.dll in the command line, all tests run fine (i.e. specifying "A.dll B.dll" in vstest.console.exe produces the error, but specifying "B.dll A.dll" does not).

It's wor

[2018-06-23 00:00] ManishJayaswal commented on #1643
How much work would it be for TP to know if no tests were found in assembly or tests were found but all got filtered away. I suspect that initially all tests are getting discovered and then passed through the filter?

[2018-06-23 12:33] smadala commented on #1657
@Owen-Mak Thanks for creating issue.

This is very important information. Yes, VSTest.console loads both the dlls in same process. With `/parallel` option it creates pool of test-processes(testhost.x86.exe) depending on number of cores and reuses it for all the 80 assemblies. As there is a chance to both A.dll and B.dll goes same test-process, you will hit the issue randomly.

Currently there is a

[2018-06-23 12:39] smadala commented on #1655
@ssrakesh

Then I got the error "This operation requires installation of Visual Studio with the Universal Windows Platform development workload selected."

Please don't do this which can corrupt your Buildtools installation.

This error occurs when UWP workload wasn't installed. or UWP workload didn't ship the runtime provider which is required for vstest.console to run UWP tests.

Can you share w

[2018-06-23 13:49] PokGirard commented on #594
I have exactly the same issue, my version is 15.7.4. That's weird

[2018-06-23 14:46] borrrden commented on #594
Sometimes I still get this but the reason is unrelated. One thing to try out is uninstalling the unit test runner via the windows add and remove programs (the UWP settings one, not the traditional one).

[2018-06-23 17:53] PokGirard commented on #594
I uninstalled the 2017 version and installed the 2015 one. It took a little while but now everything works fine.

[2018-06-23 17:55] smadala commented on #1643
Did you think about this?

[2018-06-23 18:08] smadala commented on #1643
I have provided enough info why the message level should be warning. Why do you want it to be info other than harmless and meaningful warning message on LUT restart.

Why the LUT sending run request if it expects no tests to run always?

[2018-06-23 18:21] smadala commented on #1532
@bastianbrinkmann VSTest.console accepts response file. Can you try it?

Example command: `vstest.console.exe @filewithlenghty.rsp`

[2018-06-23 18:28] ManishJayaswal commented on #1643
The only things we can do on LUT side is to check every error and block this one which does not seem right. LUT needs to send the request because there may be new tests. Gen can confirm that. Gen is there anything LUT can do to not send requests in such cases?

[2018-06-23 18:40] onovotny commented on #326
Bump?

[2018-06-25 04:36] smadala commented on #1647
@idontknowwhY666 I read your original issue again.

 Yes, Looks like we have to fix value for `ExeConfig`.

I'm not sure how the `..\..\..\artifacts\release\net451\win7-x64\testhost.x86.exe` ended up for ExeConfig value which is looks a lot like path to testhostx86.exe in CI build system.

Can share details steps how to repro the issue?

Yes

@abhishkk  Can you look into this?

[2018-06-25 08:57] smadala opened #1658 "Fix trx parsing in test.ps1 to handle hierarchical changes from MSTest V2 1.3.2"
## Description
-  Stdout and Stderror of failed tests of vstest repo not showing up on console.

## Steps to reproduce
- Update MSTest v2 version to 1.3.2 [here](https://github.com/Microsoft/vstest/blob/master/scripts/build/TestPlatform.Dependencies.props#L9)
- Run test.ps1 with some failing tests.

## Expected behavior
- All the standard output and error message should be displayed like below.
[c

[2018-06-25 12:33] smadala commented on #1569
Fixed in https://github.com/Microsoft/vstest/pull/1656

[2018-06-25 12:33] #1569 closed

[2018-06-25 13:06] idontknowwhY666 commented on #1647
Can share details steps how to repro the issue?

[2018-06-25 14:45] smadala commented on #1638
@pvvl Create a https://github.com/Microsoft/vstest/pull/1660 to address this. Please review it. If possible test on your scenario.

@qingjuntian you might well interested on this issue.

[2018-06-26 08:43] smadala commented on #326
@onovotny We haven't decided when to pick this yet. If you would like to contribute, Let me know I'm happy help you.

[2018-06-26 13:33] smadala commented on #1654
I have debugged the issue and observed that exception is occurred while calling .ctor of `NUnit.Framework.Api.FrameworkController`
Below is the callstack.
[code]

We suspect this is due to the some security attribute/property of `nunit.framework.dll` assembly, [FrameworkController.cs](https://github.com/nunit/nunit-compactframework/blob/4d48d7a3f0dca99f7bcea3c24f6d63d063248606/src/NUnitFramework/f

[2018-06-26 13:35] smadala commented on #1654
@OsirisTerje Sorry, Forgot to tag you.

[2018-06-26 16:20] OsirisTerje commented on #1654
The configuration file comes from @NikitaEgorov , I assume he can answer.  Are you sure this is not some default file?

[2018-06-26 17:28] bgavrilMS commented on #298
Why is this closed if the work is not done?

[2018-06-27 06:03] smadala commented on #1657
I'm assuming above comment helped you address the issue. Closing the issue, Feel free to ping again if issue not resolved.

[2018-06-27 06:03] #1657 closed

[2018-06-27 12:53] jiimaho commented on #1129
We have the following folder structure which makes it work _Ok_. Then I can run dotnet test from the test folder.
.sln
/src
/test

[2018-06-27 13:29] smadala commented on #1652
@csoltenborn
Looks like issue introduced in VS 15.5 because SettingsProvider implementation loading form assemblies which ends with `SettingsProvider.dll`.

Below diff should fix the issue. I will raise PR to fix this ASAP.

[code]
This has been reported from multiple sources making it P1.

- `Settings Provider named 'SpecRun' was not found. The settings can not be loaded.` [here](https://develope

[2018-06-27 13:38] smadala commented on #1545
Will be addressed with https://github.com/Microsoft/vstest/issues/1652

[2018-06-27 13:38] #1545 closed

[2018-06-27 13:45] smadala commented on #1654
@NikitaEgorov Can you use custom runsettings file to enable code coverage with default configuration.

@ShreyasRmsft @kaadhina Do you have idea why the RFT task settings `UseVerifiableInstrumentation` to `false` ?

[2018-06-27 13:46] smadala commented on #1642
Fix will be available in VS 15.8.

[2018-06-27 13:46] #1642 closed

[2018-06-27 13:52] smadala commented on #1655
@ssrakesh UWP workload should drop the runtime provider in TestPlatform folder. We are working with UWP team to find why the runtime provider assembly not available in build tools. I will let you know as soon as I have more info .

[2018-06-27 13:54] smadala commented on #1638
Fix for this will be available in VS 15.8

[2018-06-27 13:54] #1638 closed

[2018-06-27 14:05] smadala commented on #800
Yesterday [VS 15.8 preview 3](https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-preview-relnotes#15.8_Preview3) released. It has fix for this issue.

Please try it and let us know if you find any issue(Please create separate issue with details repro steps), we will try to fix it ASAP.

[2018-06-27 14:50] singhsarab opened #1661 "Unexpected exception during cancel operation."
## Description

When cancellation request is raised by client, some times unexpected exceptions is reported back instead of clean cancel.
This is an inconsistent issue.

## Steps to reproduce
* Create a managed UT project in VS
* Add some tests that take some time to run
* Run All using Test Explorer
* Cancel the run via Test Explorer

## Expected behavior

## Actual behavior

[code]

[2018-06-27 15:01] onovotny commented on #800
@smadala does that support pdb type of embedded?

[2018-06-27 15:34] onovotny commented on #800
I just tried with 15.8 and it doesn't return any data for emedded pdb's, so this issue cannot be resolved yet.

[2018-06-27 17:02] csoltenborn commented on #1652
Sounds great, thanks in advance! Should have created this issue (much) earlier...

Now I [know](https://github.com/Microsoft/vstest/issues/1545) why you wanted to see the size of the pull resulting from your issue ;-)

[2018-06-28 06:00] ssrakesh commented on #1655
Thanks a lot

[2018-06-28 10:38] grayver commented on #1586
I'm experiencing the same problem with my project based on .NET Core 2.1.
One of my test projects runs normally (it contains unit tests for class library) while another one (which contains unit tests for ASP.NET Core application) is stably hangs over while test running (reproduced on Windows 7, Windows 10, Ubuntu 17.10)

I don't have any node services in my solution, but symptoms are the same.

[2018-06-28 10:41] smadala commented on #1586
@grayver @wizofaus Can you please share repro project and steps?

[2018-06-28 10:48] grayver commented on #1586
@smadala I will try to prepare separate repro project

[2018-06-28 10:48] smadala commented on #1586
@grayver Thanks!

[2018-06-28 12:27] singhsarab opened #1662 "Multiple places runsettings is read and inferred"
## Description

There multiple places in code, where we read the runsettings and nodes inside it. This is not performant and confusing.

Ideas

[2018-06-28 17:55] grayver commented on #1586
Hmm.. it seems to be it's not straightforward as I thought.

I tried to run this web test project on my another Win10 machine and got failure of one of unit tests instead of hang up. I fixed this error and tried to rerun test project in other environments (Win7 and Ubuntu) - and it works fine now without hang up.

Also I tried to create repro project from scratch using that error in unit test whic

[2018-06-29 09:50] joaopgrassi commented on #1590
@martincostello I just bumped into the same issue! Saw your other tickets as well. I just upgraded from `2.1.101` to `2.1.300` and was getting no tests on TeamCity as well. I agree that this is a breaking change and I don't having to pass more arguments than before. It works passing `--logger:"console;verbosity=normal"` but.. was better before.

[2018-06-29 13:00] nphmuller opened #1663 "Support wildcards in filenames for vstest.console.exe"
## Description
I'm using dotnet cli extensively and (almost) all commands have wildcard support. (dotnet restore, build, test, etc). It would be great to be able to do
`vstest.console.exe /path/to/project/tests/**.Tests/**/*.Tests.dll`.
Or in my case `dotnet vstest  /path/to/project/tests/**.Tests/**/*.Tests.dll`.

[2018-06-29 15:54] mraigonsp commented on #981
Is it possible to generate the coverage file as @kennethkryger suggested with VS Professional? My idea is to generate the report using VS Professional installed in a agent, and then publish the results to SonarQube. I don't need the Enterprise Version to see the report, is it require to generate it?

[2018-06-29 17:41] oscarcabrero commented on #1616
this did not solve the problem for me

[2018-06-29 21:38] saul commented on #1171
Opened #1664 which does this - it's not a lot of work at all.

[2018-06-30 05:52] RomanKernSW commented on #981
@mraigonsp you can install vs enterprise edition on your CI machine. the agent do not require VS licence at all. do someone know when vs 15.8 will be released?

[2018-06-30 07:50] ErikSchierboom commented on #1171
Love it! Thank a ton @saul!

[2018-07-01 11:13] mraigonsp commented on #981
Ok @RomanKernSW  so we only require a license when "opening and using VS" right? so, isn't a licence necessary to use the build tools? That solution may work for us now, but I can not understand how such an essential feature as code coverage is not available in a Professional licensing.

[2018-07-01 16:12] ssrakesh commented on #1655
btw, does this vstest project standalone has UWP testplatform to test .appxreciepe? or this requires VS?

[2018-07-02 06:39] idontknowwhY666 commented on #1647
hi, could be fixed in an upcoming preview of Visual Studio 15.8.Preview4?

[2018-07-02 09:04] TomFreeman commented on #705
This would also be of benefit when using `dotnet watch`. At the moment it can run all the tests but it reports the run as failed because of the non-test projects that get run.

[2018-07-02 10:21] smadala commented on #800
@onovotny No, embedded pdb not supported. Currently plan is support it in VS 16.

[2018-07-02 13:15] onovotny commented on #800
Is there a global MSBuild Property set when using VS's "Analyze Code Coverage command"? At the very least, it would let us set a conditional property on that so we can use portable for those builds.

[2018-07-02 13:18] smadala commented on #800
@onovotny Sorry, No such property available.

[2018-07-02 13:19] onovotny commented on #800
@smadala Can that be added for 15.8? It would seem to be useful to know if a build is happening in the context of prepping to run code coverage that way.

[2018-07-02 13:23] smadala commented on #800
@onovotny AFAIK There is no infra/way to add the MSBuild property. Test explorer `Analyze Code Coverage command` comes into the picture only after build completed.

@ManishJayaswal @AbhitejJohn  better persons to answer it?

[2018-07-02 14:19] smadala commented on #1655
@ssrakesh

No, vstest.console required VS installation to run UWP tests.

[2018-07-02 14:36] smadala commented on #1590
@NikolayPianikov @dtretyakov Can you please consider printing messages to console [in teamcity logger](https://github.com/JetBrains/TeamCity.VSTest.TestAdapter/blob/master/TeamCity.VSTest.TestLogger/TeamCityTestLogger.cs#L71)?

[2018-07-02 17:47] NikolayPianikov commented on #1590
@smadala Yes but the test information will be duplicated depending on verbosity level

[2018-07-02 18:19] markti opened #1668 "Service Fabric test projects (x64) start failing after upgrading to VS2017 15.6.7"
## Description
Long working unit tests projects suddenly stop working after upgrading Visual Studio to version 15.6.7,

## Steps to reproduce
Create a new Unit Test Project using VS Testing Tools (Microsoft.VisualStudio.TestPlatform.TestFramework). Change TargetFramework to 4.6.1 PlatformTarget to x64.

## Expected behavior
VS executes the tests.

## Actual behavior

## Diagnostic logs

## Environ

[2018-07-02 19:39] AbhitejJohn commented on #800
@onovotny : There is the [DesignMode switch](https://github.com/Microsoft/vstest-docs/blob/master/docs/configure.md) that the platform sets in the runsettings when running from IDE. Would that work?

[2018-07-02 21:38] CIPop opened #1669 "Linux Test runner uses netcoreapp2.1 regardless of csproj TargetFramework of netcoreapp2.0"
## Description
In Linux, `dotnet run` doesn't seem to honor the TFM of a test application:
[code]

## Steps to reproduce

1. Clone https://github.com/azure/azure-iot-sdk-csharp
2. Checkout the `lts_2018_01` branch
2. b - I've worked around the issue. You would need to checkout commit id# 53fef330f8d6a62f39342ad82dc070c65ea1dcab
3. `cd provisioning\service\tests`
4. `dotnet test`

## Expected behav

[2018-07-03 14:48] smadala commented on #1590
@NikolayPianikov Can we add `##teamcity` prefix only in logger itself rather than in xunit adapter?

Console logger behavior has been changing almost in every release as per different requirements of  `vstest.console.exe` and `dotnet test` scenario.

We really don't want to change the behavior of vstest console logger until it is very much required.

I think teamcity CI integration can be achieved

[2018-07-03 16:52] natemcmaster commented on #1503
Any progress on this? I'm struggling with this right now because VSTest output does not appear on the console or in MSBuild logging. I can't figure out why tests are failing in my build.

[2018-07-04 08:44] smadala commented on #1590
@NikolayPianikov

We all are on same page here.

Can you please provide more details about your scenarios? We will work on a solution which will have little or no impact on Teamcity customers.

If you are using `##teamcity` only for test reporting, why can't we use `trx` logger?

[2018-07-04 08:48] martincostello commented on #1590
With the console, TeamCity streams the test results to CI jobs in real time as they run. With `.trx`, don't you have to wait for the job to complete to get all the results at once from the XML file? Knowing a long-running test job is failing early on, rather than having to wait for the whole job to complete, is much more valuable.

[2018-07-04 09:49] NikolayPianikov commented on #1590
[TeamCity service messages](https://confluence.jetbrains.com/display/TCD18/Build+Script+Interaction+with+TeamCity) are useful for a set of scenarios like gathering statistics, code coverage, code inspections, attaching artifacts, build process's flow control. And as @martincostello mentioned it provides real-time feedback to a TeamCity server and users can save a lot of time.

TeamCity sends servi

[2018-07-04 10:42] vagisha-nidhi opened #1671 "vstest.console.exe hangs indefinitely when enabling datacollector in In-Assembly Parallel mode"
## Description
vstest.console.exe hangs when enabling datacollector in In-Assembly Parallel mode. The hang is flaky.
I have tried enabling blame as well as event log datacollector along with IAP and the issue of hang is consistent in both the cases. From the dumps of the processes during the hang, it is observed that multiple threads in the host are blocked on NetworkStream.Read().

## Steps to re

[2018-07-04 11:23] GraemeF commented on #880
Same problem occurs with multiple test projects. For example, I have an `IntegrationTests.sln` with two projects in it so that I can easily run them in a single command, however the second project gives the `WARNING: Overwriting results file` message and overwrites the first project's results.

[2018-07-04 12:02] smadala commented on #1590
@NikolayPianikov Thanks for detail info. I will get back to you.

/cc @cltshivash @pvlakshm @mayankbansal018 @singhsarab FYI

[2018-07-04 22:06] brunolm commented on #411
Looks like specifying a solution is already supported in 2.1.2

[code]

[2018-07-05 06:01] karanjitsingh opened #1673 "ISettingsProvder is not loaded from adapter.settingsprovider.dll with --Platform:x64"
I have two dlls `testadapter.dll` and `testadapter.settingsprovider.dll` with settings name as `JSTest`

I get this when I run `vstest.console.exe` with `/Platform:x64`

[code]

If `ISettingsProvider` implementation is put in the `testadapter.dll` itself instead of having two dlls, the `/Platform:x64` works however it throws the same error for x86 i.e without the platform switch.

TL;DR
`ISettings

[2018-07-05 07:02] tlycken commented on #411
@brunolm does that solution contain any projects that are not test projects? I have 2.1.300, and it does allow `dotnet test` targeting a solution, but attempts to run tests in _all_ projects, not just the test projects, and then spews out ugly errors for all non-test projects.

[2018-07-05 11:15] Kritner commented on #411
@tlycken Yeah, still same issue here.  If you add `Microsoft.NET.Test.Sdk` to ***all*** projects, not just test projects, this seems to be enough to get the solution to report an overall "success".  It's kinda gross putting a Test.SDK on a non test project, but it's a workaround for the moment.

Be prepared if you go this route to get lots of localization stuff in your build if you didn't already

[2018-07-05 15:42] brunolm commented on #411
@tlycken I have 2 .sln files

[code]

When I run the test sln only my test project is run

[2018-07-05 18:33] DanieleScipioni opened #1675 "vstest.console.exe for UWP test project fails with error "Failed to initialize client proxy: could not connect to test process""
## Description
I'm trying to automate tests for an UWP project using vstest.console.exe, when I run the command it ends with message `Test Run Aborted`. I expect to find a .trx file with the outcome of the tests.

Currently I'm using Visual Studio 15.7.4 and Microsoft (R) Test Execution Command Line Tool Version 15.7.2 on Windows 10.0.16299.492

## Steps to reproduce
I run the following command:

[2018-07-05 19:48] GreenDavidA opened #1676 "vstest.console indefinite TcpClientExtensions.MessageLoopAsync: Polling on remoteEndPoint"
## Description

I am trying to run a .Net Core 2.0 integration test suite I have written. It connects to a SQL database via configuration and runs a series of commands. When running the tests locally via vstest.console.exe, the tests run successfully. When they are run from the build server (Win2012 with VS Ent 2017 15.7.4 installed, either via the VSTest task or manually via vstest.console.exe),

[2018-07-05 19:50] GreenDavidA commented on #1676
It's worth noting that when running SQL trace, the commands for the first test are sent to the SQL server, but no further commands are sent.

[2018-07-05 21:37] zfilipov commented on #981
@kennethkryger Kenneth, I was trying to follow your example using the preview Microsoft Test SDK but am getting same the error as @Coder3333 . My test executor shows: "Microsoft (R) Test Execution Command Line Tool Version 15.7.0" but I have installed the preview version of the SDK

[2018-07-06 12:22] smadala commented on #1652
I found workaround while fixing the issue. Please use `/Inisolation` option to mitigate the issue.

[2018-07-06 16:47] SWarnberg opened #1679 "How to execute .NET Core unit tests?"
## Description
I started to configure my release workflow to execute my .NET Core unit tests, something I thought would be super-easy with the VSTest task + the VSTest Platform installer. However, it turns out to be quite complex in my case.
I need some advice in hot to set it up correctly.

## Steps to reproduce
My environment is configured w/o Visual Studio. Hence, I'm using the VSTest Platform

[2018-07-06 16:58] SWarnberg commented on #1679
Update: running manually on the environment with `vstest.console.exe MyTest.Tests.dll` works. So it must be some configuration in the task that I'm missing. It's not that clear however.

[2018-07-09 01:39] JamesNK opened #1680 "Discover tests in parallel"
## Description
It takes 30 seconds to discover all the ASP.NET MVC tests, mostly because there are multiple test projects. Discovering tests in parallel across projects would speed this process up.

## Steps to reproduce
1. Clone https://github.com/aspnet/mvc
2. Open sln in VS
3. Wait 30 seconds for tests to be discovered in projects one at a time

## Expected behavior
VS should discover tests in

[2018-07-09 09:14] SWarnberg commented on #1679
OK, I did some reading and saw that you need to use the "Other console options" configuration, and supply "/Framework:FrameworkCore10" for it to execute .NET Core Tests. However, the link the tooltip referenced [https://msdn.microsoft.com/en-us/library/jj155796.aspx?f=255&MSPPError=-2147217396](https://msdn.microsoft.com/en-us/library/jj155796.aspx?f=255&MSPPError=-2147217396), which says nothing

[2018-07-09 09:14] #1679 closed

[2018-07-10 00:14] oscarcabrero commented on #1676
i have the same hanging issue, using VS2017 with parallelize enable

[2018-07-10 09:12] #1171 closed

[2018-07-10 10:02] kiran-mahadev commented on #1675
I'm running into the same issue as well when executing the VSTest step from TFS.

Everything works fine locally (on my laptop) but the same step setup as part of a TFS build task fails with the error - Microsoft.VisualStudio.TestPlatform.ObjectModel.TestPlatformException: Failed to initialize client proxy: could not connect to test process.

[2018-07-10 12:21] mayankbansal018 commented on #1524
@DerGary , I still don't have complete analysis from UWP team, I've shared what they have so far.

**UWP Team:**
Is VS programmatically enabling debugging for the package of interest for the duration of the test?

From the trace, the platform is behaving as expected. Debugging is not enabled for the test package, and when all views are stopped (which happens between 6.1s and 69.53s, in this trace)

[2018-07-11 06:01] nvineeth opened #1683 "Enum in DataRow"
## Description
If an Enum is passed in DataRow, then the following error is thrown:
`Message: Error in executing test. No result returned by extension. If using extension of TestMethodAttribute then please contact vendor.`

This error is seen in Release but not in Debug.

## Steps to reproduce
* Create a C# Unit Test csproj for Universal Windows.
* Add a test case which accepts an enum as one of t

[2018-07-11 12:11] bruno-garcia opened #1684 "dotnet test doesn't run net462 after strong naming assemblies"
## Description
Once I enabled strong naming assemblies, running `dotnet test` on a multi targeted project no longer runs `net462` target. `netcoreapp2.x` targets still work normally.

The project is on GitHub. I merged [this PR](https://github.com/getsentry/sentry-dotnet/pull/41/files) which adds strong naming to all assemblies in the solution. The [build of the PR passed](https://ci.appveyor.com/

[2018-07-11 13:22] bruno-garcia commented on #1684
Running tests through `dotnet xunit` points out the exact issue:

[code]

Google pointed me to: https://github.com/dotnet/roslyn/issues/6052

Disabling shadow copy for xunit seems to solve the problem when running `dotnet test` through the command line.

I still can't get the tests to run on **Visual Studio** though. Only shows *netcoreapp2.x*

[2018-07-11 14:39] csoltenborn opened #1685 "Hierarchy view vs. data-driven tests"
Google Test Adapter currently considers improved support for the hierarchy view. In particular, we want to improve on the visual representation of [parameterized tests](https://github.com/google/googletest/blob/master/googletest/docs/advanced.md#value-parameterized-tests) (the gtest equivalent of [data-driven tests](https://github.com/Microsoft/vstest-docs/blob/master/RFCs/0004-Adapter-Extensibili

[2018-07-11 15:16] frboyer commented on #1685
Also, if values in a data driven test come from an external file and we want to list them in the Test Explorer (as they are listed by "--gtest_list_tests"), currently there does not seem to be a way to force a "refresh" of the tests list (force to rerun the test discovery without recompiling).  It's possible to close the solution and reopen it, but it's a bit cumbersome.

[2018-07-11 20:46] dothenrik opened #1686 "vstest tests fail"
## Steps to reproduce
Run all tests included in the in TestPlatform.sln solution in Visual Studio or use the included test.cmd to run tests.

## Expected behavior
All tests except FailingTest and FailingTestWithTraits (and possibly SocketThroughput1 and SocketThroughput2) should pass.

## Actual behavior
Running test.cmd runs 2045 tests out of which 7 fails.

Running all 2241 tests from Visual Stu

[2018-07-13 09:36] NetTecture opened #1687 "Nuget pacakge 15.8.0 is broken"
IVor .NETCoreApp and .NEETFramework

it looks for Microsoft.CodeCoverage versions >= 15.8.9

That is not how they are numbered - they currently area at version 1.0.3

That was working nice in the last preview I have (0610-02), but now the upgrade is broken.

[2018-07-13 09:54] mswietlicki commented on #1687
For me it's looking for Microsoft.CodeCoverage 15.8.0 but still this version is not published yet.
"Unable to find package Microsoft.CodeCoverage with version (>= 15.8.0)"

[2018-07-13 10:03] NetTecture commented on #1687
Which is what I say.

Excelt: This version will also not be published for a LONG time as Microsoft.CodeCoverage uses a different numbering scheme and is now at 1.0.3 - the 15.8.0 is the vstest numbering, so likely a copy/paste error.

[2018-07-13 13:20] efrainsteinbach commented on #1607
I get this error message when I try to run my tests on `ubuntu-16.04` with `dotnet core 2.1` and `Microsoft.NET.Test.Sdk 15.7.2`.

The logs look very similar to the one posted before. I could reproduce this on multiple machines (docker containers and physical machines). `<CopyLocalLockFileAssemblies>` doesn't help.

Can you explain more about what's going wrong here? Does anyone understand the roo

[2018-07-13 13:48] smadala commented on #1607
Can you please try to downgrade Microsoft.NET.Test.SDK to 15.7.0? Let us know if that solved the problem.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: efrainsteinbach <notifications@github.com>
Sent: Friday, July 13, 2018 6:50:06 PM
To: Microsoft/vstest
Cc: Satya Madala; Mention
Subject: Re: [Microsoft/vstest] Failed to negotiate protocol. Wait for respon

[2018-07-13 16:08] eerhardt opened #1688 "Debug.Assert(false) causes poor experience in tests"
## Description
When a Debug.Assert fails during unit tests, there is no way to know what failed from looking at the output.

I've looked at https://github.com/Microsoft/vstest/issues/1022, but the behavior there seems to have regressed in the latest builds. I am not getting an output that says an assert failed, and in no place does it say a stack trace of the failing assert.

## Steps to reproduce

[2018-07-14 00:02] AbhitejJohn opened #1689 "vstest.console waits for the host process to connect even if it failed to start in .Net Core scenarios"
## Description
For a net core solution with tests, if a user performs a Build that triggers CBD discovery and performs a cancellation/rebuild when discovery is in progress, the discovery operation goes on for a considerably longer time and later reports that it could not find tests with the below stacktrace:
[code]
This is more of a timing issue and is scoped mostly to process startup. It looks li

[2018-07-14 00:03] AbhitejJohn commented on #1689
/cc: @cltshivash to help triage.

[2018-07-14 00:14] nguerrera opened #1690 ""dotnet test" fails to find .so file in output folder on Ubuntu when LD_LIBRARY_PATH is blank."
_From @mpp-oliverh on July 11, 2018 21:29_

I have a cross-platform project which uses [DllImport] to load a native binary. I have equivalent .dll and .so placed in the application root, set to CopyAlways and they appear in the output folder.

The application runs correctly on both Windows and Linux (Ubuntu) both when published and from the command line with "dotnet run".

I have a test which call

[2018-07-14 19:03] dev-rsilver opened #1691 "NuGet Package License"
The license associated with the NuGet package for Microsoft.NET.Test.Sdk is the Microsoft .NET Library license. Is this intentional as this project appears to be licensed under MIT?

[2018-07-16 08:36] jayaranigarg commented on #1586
@grayver : Any updates here?

[2018-07-16 12:47] smadala commented on #1688
@eerhardt This is not regression, complete stacktrace for xunit tests not appearing due to [ErrorLength](https://github.com/Microsoft/vstest/blob/master/src/Microsoft.TestPlatform.TestHostProvider/Hosting/DotnetTestHostManager.cs#L119). I think we should increase `ErrorLength` to reasonable number to show complete stacktrace.

/cc @anurse

[2018-07-16 13:12] smadala commented on #1607
@efrainsteinbach Did downgrading `Microsoft.NET.Test.SDK` version helped you? Can you please share `Dockerfile`/docker image to get repro for this issue? So that we can avoid theoretical fix?

[2018-07-16 16:14] kendrahavens commented on #298
Since some folks are still commenting here I'll to repeat @snkota, this issue is being tracked here: [https://developercommunity.visualstudio.com/content/problem/145945/multitfm-support-for-ide-net-core.html](https://developercommunity.visualstudio.com/content/problem/145945/multitfm-support-for-ide-net-core.html?childToView=293889#comment-293889)

It is on the backlog for Visual Studio 2019, but

[2018-07-16 21:00] AbhitejJohn opened #1692 ".Net Core tests take a long time to report a missing SDK."
## Description
When I run a .Net Core test where the sdk being targeted is not installed on the box we do nothing for about a minute after which we show the following message in the output pane
[code]
This is precise and helpful messaging. Is there a way we could report this earlier then having to wait for the connection timeout? This isn't very important but would give a better experience.

[2018-07-16 21:01] AbhitejJohn commented on #1661
@singhsarab : Sure here you are: #1692

[2018-07-16 23:03] XiaoFaye commented on #1690
Even set the LD_LIBRARY_PATH as your suggestions, I still got the error in Ubuntu 18.04. The dotnet core version is 2.1.302

[2018-07-17 06:16] singhsarab commented on #1661
Thanks. Closing this one as it has been addressed via #1667

[2018-07-17 06:16] #1661 closed

[2018-07-17 06:17] singhsarab commented on #1692
@pvlakshm Please triage.

[2018-07-17 07:53] menno-zeilstra opened #1693 ".nuget"
## Description

## Steps to reproduce

## Expected behavior

## Actual behavior

## Diagnostic logs

## Environment

[2018-07-17 07:53] #1693 closed

[2018-07-17 07:53] menno-zeilstra commented on #1693
sorry mixup

[2018-07-17 12:38] JohnGalt1717 commented on #981
Any update to this working properly under the sdk on Linux? Right now you can't get code coverage if you're using docker because your tests run in docker on Linux.

[2018-07-17 12:41] henryJack commented on #981
+1 on that. Desperate for this

[2018-07-17 12:43] ollyjshaw commented on #981
I've been following the thread for over a year. All the well meaning work arounds require windows and / or VisualStudio. As @JohnGalt1717 suggests, we're done when you can get a coverage report using docker via a linux base image.

[2018-07-17 12:56] latop2604 commented on #981
Coverlet as global tool is available on nuget : https://www.nuget.org/packages/coverlet.console/
Same for reportgenerator https://www.nuget.org/packages/dotnet-reportgenerator-globaltool/

Perfect combo

[2018-07-17 13:03] JohnGalt1717 commented on #981
That's nice and all but it should be built into the dotnet sdk since this is a basic feature of devops and required for testing to be relevant. Hence why this is an issue for the dotnet team to implement properly instead of hacking with VS.net

[2018-07-17 16:15] cltshivash commented on #1690
@nguerrera Do you see this issue on a simple console app ? (to narrow down the root cause)

[2018-07-17 17:18] nguerrera commented on #1690
I haven't reproduced this myself.  I moved @mpp-oliverh's issue because they indicated that it only repros in dotnet test. Perhaps they can answer your question...

[2018-07-17 18:46] NetTecture commented on #1687
Close. Whow. Someone published that one - and changed the CodeCoverage numbering scheme seriously to 15.8 - quite a jumb.

[2018-07-17 18:46] #1687 closed

[2018-07-17 20:11] armanio123 opened #1694 "Program has more than one entry point defined..."
Building a project is blocked for an Empty .NET Core Web Application and after adding the NuGet package Microsoft.NET.Test.Sdk.

The error displayed:
[code]

Steps:
1. Open Visual Studio and create a new Empty .NET Core Web Application.
2. Add the NuGet package Microsoft.NET.Test.Sdk.
3. Build the project. Errors out.

Expected:
Builds successfully.

![image](https://user-images.githubusercontent.

[2018-07-18 09:41] abhishkk commented on #1668
@markti
Versioning of `MSTest.Adapter` was not followed properly earlier and this if old version of MSTest adapter is present, test platform might pick that old adapter and thus causing issues above mentioned.

Can you please clear cached `VisualStudioTestExplorerExtensions` folder and try the scenario again?

[2018-07-18 09:47] abhishkk commented on #1669
@CIPop
Are you still facing this issue?
I see reference of this pull request: https://github.com/Azure/azure-iot-sdk-csharp/pull/545

[2018-07-18 10:39] abhishkk commented on #1676
@GreenDavidA
Can you please share complete vstest.console logs and testhost logs to debug into this issue further?
Also can you share a sample repro project where issue is reproducing?

[2018-07-18 11:00] abhishkk commented on #1683
@nvineeth
With above environment details, we are not able to repro the issue. For both debug and release mode, tests are running fine.

Sample code tried:
[code]

Can you please share a sample repro project where you are able to reproduce the issue?

[2018-07-18 18:24] CIPop commented on #1669
Yes - this is a bug in vstest, not our SDK. The referenced PR is for a workaround in our code.
The issue is that vstest is not using the specified TFM which is a big impact for us: our LTS bits were released with .NET Core 2.0 support only and we are now blocked on testing them against the correct .NET Core version.

[2018-07-19 00:55] t-carob opened #1695 "Launching Code Coverage Collector from TestCaseStart Handler and Stopping in TestCaseEnd"
## Description
I am trying to create a tool that selects which tests to run based on the code coverage of the tests. To do so, I need to collect code coverage information for each test, while the current code coverage DataCollector collects coverage information for the union of all tests.

I am working on modifying your code coverage DataCollector to launch a new CodeCoverage.exe task for each tes

[2018-07-19 08:35] jayaranigarg commented on #1694
@armanio123 : Why are you trying to consume Microsoft.NET.Test.Sdk package in a Web application project? Would it be possible for you to write your tests in normal net core project?
Can you explain your scenario to us?

[2018-07-19 09:56] pvlakshm commented on #1691
Several of the vstest related packages are indeed using the Microsoft .NET Library license. Is there any specific concern?

[2018-07-19 10:02] pvlakshm commented on #1655
As @smadala mentioned some of the components required to light up this scenario are not part of the Build Tools SKU. This will currently not work (as you have observed) and getting those components into Build Tools is not in our immediate roadmap. Please let usss know if this is a blocker for you?

[2018-07-19 10:08] nvineeth commented on #1683
Hi,
Here is the code,
[code]

[2018-07-19 10:11] nvineeth commented on #1683
@abhishkk , the unit test code is as follows:
[code]

[2018-07-19 10:32] abhishkk commented on #1690
@mpp-oliverh
Are you seeing this issue on simple console app as well?

[2018-07-19 15:11] dev-rsilver commented on #1691
The .NET Library license imposes relatively significant requirements on an application that utilizes software licensed under it (compared to permissive open source licenses).

The .NET Core packages appear to be made available under permissive open source licenses. The Microsoft.NETCore.App package license for instance points back to the MIT license in the repository.

The .NET Core CLI has the op

[2018-07-19 19:47] armanio123 commented on #1694
This is related to PR: https://github.com/Microsoft/nodejstools/pull/1997, where we're enabling the users to add Javascript unit tests on .net core projects. Most commonly web applications.

[2018-07-19 20:02] paulvanbrenk commented on #1694
To add to @armanio123's comment.

JavaScript unit tests, generally reference the JavaScript in the application. And currently there is no good way to copy these JavaScript files to a separate "Unit test project" (other than perhaps using "linked files", which sounds horrible).

[2018-07-20 06:57] ssrakesh commented on #1655
Hi, Yes currently this issue is a blocking one, bz we don't want to install full VS 2017 in build PC.
So we cannot run our unit test projects and also coverage automatically. so we have to end up doing these manually in developer PC.
Regarding coverage, we are not able to get this working with UWP. in VS2017 pro version.
I was in impression that UWP is more preferred development than WPF,

Also th

[2018-07-20 09:40] abhishkk commented on #1586
@grayver
Closing this issue. Please re-open in case you are able to create a repro for this.

[2018-07-20 09:40] #1586 closed

[2018-07-20 09:55] pvlakshm commented on #1691
Although I cannot commit to whether (and by when) this might get changed, I will have someone more conversant with licensing from our side to have a look. Thank you for bringing this up.

[2018-07-20 10:02] pvlakshm commented on #1655
I am afraid this scenario will not work. Getting this right components packaged into the Build Tools SKU will likely figure for inclusion only in the next planning cycle. I have cleared the "Question" tag.

[2018-07-20 10:04] pvlakshm commented on #1680
@JamesNK, may i assume that this is a VS IDE-specific "ask"?

[2018-07-20 10:07] pvlakshm commented on #1663
Indeed, if we were to support wildcards in filenames, it will need to be supported uniformly by `vstest.console.exe`,  `dotnet test`, and `dotnet vstest`.

[2018-07-20 10:20] liangdaxian opened #1696 "Can vstest.console.exe support -nologo parameters ?"
we are using this exe to run our tests , however our build engine does not handle trackmarks well( a.k.a Domino), so we see problems about logging in domino build, most likely the log get truncked.

so is it possbile to support adding -nologo to supress this lines ?

Microsoft (R) Test Execution Command Line Tool Version 15.7.0
Copyright (c) Microsoft Corporation.  All rights reserved.

[2018-07-20 10:32] pvlakshm commented on #1680
OK. Thanks.
Tagging @ManishJayaswal.

[2018-07-20 11:44] DanieleScipioni commented on #1675
@mayankbansal018: 2 answers.

thanks for the hint, please note that the full command line is welcome in order to avoid mistakes following the input (same reasons listed to create a new issue).

To use ".appxrecipe" I run this command line:

`vstest.console.exe /Platform:x86 /Framework:FrameworkUap10 /InIsolation /logger:trx;LogFileName=project.test.trx Project.Test\bin\x86\Release\Project.Test.bui

[2018-07-20 12:01] mayankbansal018 commented on #1675
@DanieleScipioni , few follow up questions:

- Do you see the same error, if you run the test via VS IDE?
- When you run via CLI do you see the TestApp being launched, or not. I can see from your above logs that it says the the App did launch, just wanted a confirmation.
- Can you enable diagnostics logging via  "_vstest.console.exe project.Test\bin\x86\Release\Project.Test.build.appxrecipe /diag:

[2018-07-20 15:00] grayver commented on #1586
Sorry, I haven't succeeded with creating separate repro project :(

[2018-07-20 17:36] DanieleScipioni commented on #1675
No, via VS IDE test are executed correctly.

Yes, the TestApp is launched for a moment just after log line `Successfully launched process Id 'XXXX'.` and then it closes. It seems that the TestApp runs just for tenths of a second. I used the Task Manager to look for process with the given id without success.

I used the command
`vstest.console.exe /Platform:x86 /Framework:FrameworkUap10 /InIsolatio

[2018-07-21 03:35] ManishJayaswal commented on #1680
With real time test discovery, tests are discovered as the files get added to Roslyn workspace so it should not be per project. Additionally you should not need a build to discover tests. Can you check you tool-options-tests to see if real time test discovery is on or not?

[2018-07-21 08:03] JamesNK commented on #1680
It is turned off because it doesn't discover all tests for me. You can log an issue about that if you want to: MVC solution runs 3833 tests after opening the solution with real time turned on, 10000+ with it turned off.

[2018-07-22 13:33] StanislawSwierc commented on #1688
Even if you cannot make it 100% reliable I would appreciate at least hinting that Debug.Assert might be a cause. Because the error message was uninformative I wasted several hours diagnosing my tests before I finally came across this thread.

[2018-07-23 04:16] smadala commented on #1680
FYI Related issue https://github.com/Microsoft/vstest/issues/499.

/cc @smalpani-msft

[2018-07-23 11:07] mayankbansal018 commented on #1684
@bruno-garcia from the logs provided above I can see the same exception in file "debug.host.18-07-11_14-02-52_92419_1.txt", unfortunately it came as warning from xunit, hence it did not get logged on console. For such failing scenarios, we recommend you pass verbosity flag to vstest.console, to get more detailed log straight on console.

Closing as issue already has a resolution.

[2018-07-23 11:07] #1684 closed

[2018-07-23 11:32] mayankbansal018 commented on #1683
@nvineeth We tried reproducing this locally, but failed. Can you try moving to latest mstest adapter/framework. Also can you run these tests via CLI, & enable diag logs https://github.com/Microsoft/vstest-docs/blob/master/docs/diagnose.md#collect-traces-using-command-line

CLI command : vstest.console <path_to_appxrecipe>
If possible can you also share sample repro project?

[2018-07-23 11:34] mayankbansal018 commented on #1685
@PBoraMSFT , @pvlakshm , can you please respond to this.

[2018-07-23 11:37] mayankbansal018 commented on #1675
@DanieleScipioni , since you are only getting one log file, it means that TestApp is failing immediately after it is launched. We might need to have a session to figure this, can you drop a mail to devops_tools@microsoft.com

[2018-07-24 07:29] DanieleScipioni commented on #1675
Now I'm able to run tests with CLI, I made the following changes in Project.Test.csproj file:

- changed references to test framework libraries:
[code]
replaced with
[code]
- added
[code]

[2018-07-24 07:31] #1675 closed

[2018-07-24 07:43] mayankbansal018 commented on #1675
@DanieleScipioni , good know that you got the issue fixed, can you please try one more thing i.e. remove

[code]
& add
replaced with
[code]

Just change the adaper version to 1.3.1 or lower

[2018-07-24 09:09] mayankbansal018 commented on #1694
@armanio123 , if you take a look at our SDK's [target file ](https://github.com/Microsoft/vstest/blob/f1a2a4bd100ce49e3508d8261e618fbbc82ee611/src/package/nuspec/Microsoft.NET.Test.Sdk.targets#L63) we are already adding Main method, which is needed for us to generate appropriate reference for dotnet core UT projects.

I would suggest that rather than adding your logic in Main, can you please move

[2018-07-24 09:22] DanieleScipioni commented on #1675
@mayankbansal018 do not understand what you want me to do. I already removed `SDKReference` and I am already using version 1.3.1.
Maybe my comment was unclear? I repeat here the changes i did to make the test project working:

- I removed SDKReference to `MSTestFramework.Universal`
- I added PackageReference to `MSTest.TestAdapter` and `MSTest.TestFramework` (both with version 1.3.1)
- I added `<R

[2018-07-24 09:40] mayankbansal018 commented on #1675
@DanieleScipioni ,apologies, I though you did the way around, that is removed the package reference, & added SDK. Thanks for confirming.

[2018-07-24 19:12] CoolDadTx opened #1698 "VSTest is identifying wrong framework version for multi-target projects"
## Description
I have a library that is multi-targeting .NET 4.7 and .NET Standard 2.0. It uses the newer project SDK format. I also have a unit test project associated with it that is targeting only .NET 4.7.

When using VSTS's VSTest task to run tests against this solution it reports the framework incorrectly and fails to run some tests.

## Steps to reproduce
Create a solution containing a clas

[2018-07-25 09:00] mayankbansal018 commented on #1694
@armanio123 , I'm closing this issue, please comment here if it needs to be re-opened

[2018-07-25 10:07] mayankbansal018 commented on #1524
@DerGary as per our analysis the issue seems to have been introduced since winver 17134(RS4), we are following up with UWP team to get the RCA

[2018-07-25 10:11] mayankbansal018 commented on #1683
@nvineeth for UWP project the Microsoft.Net.Test.SDK doesn't bring any dependency apart from those of NewtonSoft.Json. Hence you don't need to update this SDK nuget.

Since the error doesn't happen from CLI, it means that Enum is not the issue here.
Can you enable diagnostics logs for vstest.console via "https://github.com/Microsoft/vstest-docs/blob/master/docs/diagnose.md#collect-trace-using-conf

[2018-07-25 12:09] nvineeth commented on #1683
hi @mayankbansal018 , wanted to share further information before sharing the diagnostic info, may the follow will give clues to you:
- From the CLI, the Debug|x64 build of appx runs all cases however, for the Release|x64 build vstest.console.exe shows the message that no unit tests could be discovered.
- From VS 2017 , the build of Debug|x64 does not give any warning, however Release|x64 throws a

[2018-07-25 12:10] pvlakshm commented on #1680
@ManishJayaswal, @JamesNK,
Will wait to see if this is addressed via real-time-test discovery.

[2018-07-25 12:17] mayankbansal018 commented on #1683
Hi @nvineeth , the warnings you are getting are known, which come in release mode, when ".netnative tool chain" compilation option is enabled. This however should not cause test failure.

For CLI "release" can you please use ".appxrecipe" as input, before doing so, please make sure that you have uninstalled the TestApp

[2018-07-25 12:31] mayankbansal018 commented on #1668
closing this issue, please comment here if you are still facing issue.

[2018-07-25 12:31] #1668 closed

[2018-07-25 14:01] nvineeth commented on #1683
the msbuild is not generating appxrecipe, I am using the following command `msbuild /p:configuration=Release;platform=x64 /verbosity:minimal Solution.sln`

If I can at least run the Release unit tests via CLI it will be helpful.
Can you pls help me with it?

[2018-07-25 15:59] sinapis commented on #981
@kennethkryger when i try installing 2.1.400-preview-008975 on my agent i get this error:

I tried installing the latest available .net core sdk version (2.1.302) but then I get the following error:

I deleted --logger "trx" from command line to dotnet test and then the error went away but no trx file was generated, even through command looks good:

any help would be appreciated

[2018-07-25 17:53] paulvanbrenk commented on #1694
@mayankbansal018 this is not related to any code @armanio123 is adding.. When you add the [Microsoft.NET.Test.Sdk](https://www.nuget.org/packages/Microsoft.NET.Test.Sdk/) to an ASP.NET Core application you'll see this error.

The reason we want to add this package to enable JavaScript unit test scenarios. We're happy to work with you to make this work, but using a class library project won't work

[2018-07-25 18:30] halter73 opened #1699 "The reason why a test run was aborted is not indicated"
## Description

When the test process crashes, no reason is indicated in the output. Similar to #527.

## Steps to reproduce

Clone [KestrelHttpServer](https://github.com/aspnet/KestrelHttpServer) and checkout the 2.1.2 tag. Add a `Debug.Assert(false, "reason")` to an xunit test. This is the exact change I made to test this:

[code]

## Expected behavior

I expect output similar to what I see when

[2018-07-25 19:41] mayankbansal018 commented on #1694
@paulvanbrenk , as per the image attached by armanio earlier, it looks that someone is adding the Main function to an application which takes reference on Microsoft..Net.Test.SDK

As you mentioned you can't use class library that doesn't allow javascript reference, so the current option for you is to create a console asp.net core app, which I suppose would bring in Main method implicitly, & to thi

[2018-07-25 19:56] paulvanbrenk commented on #1694
@mayankbansal018 do you still need your generated empty `main` entry point, when there already is one present?

I can see that would add that conditionally for only classlibrary projects?

[2018-07-25 20:09] mayankbansal018 commented on #1694
@paulvanbrenk , for .netcore UT projects we actually generate an "exe", the reason being, that if create class libraries, we won't get required runtime config that is needed by dotnet.exe to load the dependencies of the test project.

You can do dotnet new mstest, & see that the generated UT project is actually a console app.

I'll get more details on it tomorrow.

[2018-07-25 20:14] paulvanbrenk commented on #1694
@mayankbansal018 great!

[2018-07-25 21:12] li0nsar3c00l commented on #981
So aparently ths is only working with .NET Core SDK 2.400 and higher which is only in preview right now? @kennethkryger can you confirm?

[2018-07-26 08:33] JamesNK commented on #1680
Even when I turn on real time test discovery, after compiling there is still a 30 second wait while VS re-discovers tests.

Have any of you tried out the solution I linked to?

[2018-07-26 09:53] mayankbansal018 commented on #1694
@paulvanbrenk , I verified that we should be okay to not auto generate _main_ program if it is already present.
Can you please raise a PR to determine if the app has _main_ entry point

[2018-07-26 11:02] mayankbansal018 commented on #1676
@GreenDavidA can you please provide the logs requested above.

From the logs above it seems that the testhost process is in a hang state, could be because of test issue as well, can you enable /blame data collector, to check which test is stuck on your agent machine.
Also if possible capture the full dumps for testhost process, when it gets stuck

[2018-07-26 13:35] kennethkryger commented on #981
@sinapis: I can't really help with the debugging the installation process, as the ".Net Core Tool Installer" I mentioned above, simple did the trick for me... Maybe someone else reading this issue has some input on this?
But my "Test Execution Command Line Tool" shows version 15.8.0-preview-20180605-02, and not 15.7.0 as yours - so the tools hasn't been installed properly, that's for sure...

@li0

[2018-07-26 17:35] ManishJayaswal commented on #1680
After building the regular reflection based discovery will kick in which is taking this time. This is the default behavior. We chose this default because real time discovery may not discover certain types of tests. If real time test discovery is discovering all tests in your solution ( which I don't think is the case based on your earlier comments) then you can go to tools, options, test and disab

[2018-07-26 20:18] GreenDavidA commented on #1676
Actually, I determined the cause of the issue. These were integration tests going against a database, and two tests were running in parallel causing a deadlock. I decorated the assembly to disable parallelism and this resolved the issue. Thanks!

[2018-07-26 20:18] #1676 closed

[2018-07-27 05:41] cltshivash commented on #1590
@NikolayPianikov The verbosity levels of quiet and minimal shouldn't log information for successful tests. It was a bug that was fixed. Unfortunately the dependency has been taken on it and it is better to correct rather than let it remain for perpetuity.

[2018-07-27 15:52] rifaterdemsahin commented on #981
any update on linux for --collect:"Code Coverage" ?

[2018-07-27 19:34] wli3 opened #1701 "dotnet test does not appear to respect nologo"
_From @chamons on July 27, 2018 3:25_

## Steps to reproduce
Unlike dotnet build, dotnet test when used with xunit does not appear to respect nologo.
[code]

## Expected  behavior
These lines not shown:
[code]

## Actual behavior
https://gist.github.com/chamons/032eddcceecdecef97216e9ffc8aa1ff

## Environment data
`dotnet --info` output: https://gist.github.com/chamons/bd96b104e88a0fd15a36f2bf0975

[2018-07-30 05:27] smadala opened #1702 "Code Coverage not getting collected for some assemblies"
## Description
- No code coverage data available for some assemblies

## Steps to reproduce
- git clone https://github.com/dotnet/reactive
 - Make sure to have a 2.1.4xx dotnet available.(https://dotnetcli.blob.core.windows.net/dotnet/Sdk/2.1.400-preview-008975/dotnet-sdk-2.1.400-preview-008975-win-x64.exe)
- Go to Ix.NET\Source

- Run `dotnet test .\System.Interactive.Async.Tests.csproj --collect

[2018-07-30 05:30] smadala commented on #1702
I have debugged this issue found that  `System.interactive.Async` code coverage not available because `DIA` api not able to load the  `System.interactive.Async.pdb`.

@mayankbansal018 Can you please take a look at this?

[2018-07-30 06:49] smadala commented on #1695
@t-carob Can you share your code changes on github as well?

I think you are trying to create tool similar to `TestImpact`. See below blogs for more details and code for TestImpact is [here](https://devdiv.visualstudio.com/DevDiv/_git/VS?path=%2Fsrc%2Fedev%2Fdiagnostics%2Fintellitrace%2FCollectorV2%2FTestImpactDataCollector.cs&version=GBlab%2Fvsumain&line=23&lineStyle=plain&lineEnd=23&lineStartCol

[2018-07-30 07:30] mayankbansal018 commented on #1702
What was the error thrown by DIA API's? If we are sure that it is DIA issue, can you create an internal bug, & assign it to DIA team.

[2018-07-30 08:53] ShaifaliKhera opened #1703 "Failed: ETIMEDOUT connect ETIMEDOUT error while running tests on browserstack through npm task"
I have a protractor test automation framework which is integrated with browserstack. When I run the tests from local system in browserstack, the tests run fine. But on "Hosted VS2017" agent, when npm task run to start tests on browserstack (and wait for the results), the tests are failing at random places with Failed: ETIMEDOUT connect ETIMEDOUT error.  The issue is not from the browserstack side

[2018-07-30 10:23] mayankbansal018 commented on #1702
@tmat, can you please take a look, coverage file is generated is debugtype is full, for portable it is not. I've also dropped a mail to you internally

[2018-07-30 10:50] mayankbansal018 commented on #1695
@t-carob ,  Additional thing to note, CodeCoverage currently does not subscribe to TestCase level event. We add handling of events [here](https://github.com/Microsoft/vstest/blob/9f8fb1e863afd2b9264587f48470406bece9a397/src/DataCollectors/TraceDataCollector/VanguardCollector/DynamicCoverageDataCollector.cs#L103). Can you try subscribing to TestCase level events at this location, & see if you get t

[2018-07-30 12:23] nigurr commented on #1690
Closing this issue as there's no further response. Please feel free to re-open this if you are still having an issue.

[2018-07-30 12:28] nigurr opened #1705 "TRX Logger shouldn't fail if test result attachments are missing/Invalid"
In case of invalid test result path/attachment, currently TRX logger fails to write `testresult outcome` causing test results to be reported in Invalid state.

[code]

[2018-07-30 12:36] smadala commented on #1699
Dup of https://github.com/Microsoft/vstest/issues/1688

[2018-07-30 12:36] #1699 closed

[2018-07-30 12:52] nigurr commented on #1698
@CoolDadTx
Currently we don't have .NET core test support using Visual Studio Test task. It supports only .NET desktop/full tests only.
Please refer this issue for more details -  https://github.com/Microsoft/vsts-tasks/issues/5066

We are actively working on this to enable full support for .NET core tests however we don't have exact timelines to share at this moment.

[2018-07-30 13:11] #1652 closed

[2018-07-30 13:11] #1673 closed

[2018-07-30 15:16] mayankbansal018 commented on #1683
Please comment if the issue still repros'

[2018-07-30 15:16] #1683 closed

[2018-07-30 18:48] t-carob commented on #1695
@smadala you're correct, I am essentially recreating the functionality of test impact because unfortunately there doesn't seem to be a way to use that feature with our CDP pipeline.

@mayankbansal018 yes, I added the event handling as you described @ was able to receive those events.

After doing some digging, I found some writing on vsperfmon from 2007... it isn't exactly the codecoverage.exe too

[2018-07-30 20:30] clairernovotny opened #1706 "Xamarin support"
The VS Test platform should support Xamarin platforms as first-class citizens for discovering and executing tests. It should work similarly to the way the UWP-based ones work, where it can deploy to the device for discovery and execution.

[2018-07-30 20:35] dotMorten commented on #1706
I'd also like identical or near-identical commandline options for deploying, executing and retrieving a TRX report like vstest.console.exe (obviously with specific parameters to deploy to android or ios devices/simulators)

[2018-07-30 20:46] billti commented on #1694
Bill here, Dev Lead on the Node/TypeScript/JavaScript Tools in VS. Chiming in now that @paulvanbrenk has left the team.

This sounds like entirely a fix needed in the Microsoft.NET.Test.Sdk package right, and not related to any of our components. As such, we have little to zero experience in this codebase, and would be very inefficient in trying to come up with the correct fix. If the team that ow

[2018-07-30 20:47] dotMorten opened #1707 "Mark timeout tests as timed out instead of failed"
## Description
If you add a `[Timeout(xxx)]` attribute to a test, and it times out, the test is shown as failed with a System.Timeout exception. There's no way to tell if the test actually timed out due to this attribute, or whether the test itself threw this exception unexpectantly deeper down below the test-runner.

The set of `TestOutcome` values declared in the TRX Schema actually lists a `Tim

[2018-07-30 23:50] smadala commented on #1703
@ShaifaliKhera Can you provide more details about to how repro the issue?
What is the exact `vstest.console.exe` command you are running?

[2018-07-31 00:41] ShaifaliKhera commented on #1703
I'm using npm task to run "npm run e2e-browserstack" command specified in package.json file, which actually calling  "node ./node_modules/protractor/bin/protractor ./e2e/protractorBrowserstack.conf.js" command. I have protractorBrowserstack.conf.js file which controls running tests on browserstack. Can't share the whole framework for you to reproduce the issue. do you need any specific file, then

[2018-07-31 05:28] smadala commented on #1703
Looks like issue related to Hosted VS2017. Moving to `vsts-tasks` repo.

[2018-07-31 05:28] smadala commented on #1703
This issue was moved to Microsoft/vsts-tasks#7880

[2018-07-31 05:28] #1703 closed

[2018-07-31 06:09] dotMorten opened #4139 "Tests that are timing out are flagged as failed instead of timed out"
## Description
When a test times out, there's no indication in the test report it timed out - it's showing as failed instead. There's quite a big difference between the two, as a timed out test is more of the inconclusive kind.

I believe this issue is occurring here:

https://github.com/Microsoft/testfx/blob/fa7f9a8ecb2fc01fd68745a467a977e0485d6320/src/Adapter/MSTest.CoreAdapter/Extensions/TestRe

[2018-07-31 06:28] smadala commented on #1695
@t-carob Let's not reinvent wheel again. We would like to address missing feature in CDP.

[2018-07-31 06:35] t-carob commented on #1695
@smadala I agree that using TIA with CDP would be the ideal solution. What do you suggest for next steps?

[2018-07-31 06:36] smadala commented on #1695
@t-carob Just sent you email internally, We will follow up on it.

[2018-07-31 06:39] mayankbansal018 commented on #1695
@t-carob , @smadala  can you close this issue

[2018-07-31 06:40] smadala commented on #1695
Done.

[2018-07-31 06:40] #1695 closed

[2018-07-31 06:51] smadala commented on #1706
/cc @cltshivash @pvlakshm

[2018-07-31 07:17] dotMorten commented on #1706
I've been hacking around in testfx to build a TestAdapter that works on Android. The good news is it was only VERY few changes that needed to be made, to allow you to use it. Really if you could release a netstd2.0 compatible TestAdapter library, that would be the first huge step forward, since all you would t hen need to add yourself is a simple little test runner on top of it, considering the te

[2018-07-31 09:07] mayankbansal018 commented on #1694
@billti , @armanio123 A simple option would be set GenerateProgramFile = false in your csrproj. This will tell .net test sdk to not add auto-generated main program.

[2018-07-31 11:00] smadala commented on #1688
Working on this. https://github.com/Microsoft/vstest/pull/1708

[2018-07-31 13:32] mpetito commented on #981
I've installed the preview sdk and can get the binary coverage outputs, but is there a way to convert these to xml? I'm trying to import them into sonarqube which expects the [.coveragexml format](https://docs.sonarqube.org/pages/viewpage.action?pageId=6389770).

[2018-07-31 14:02] epoyraz commented on #981
@mpetito i had the very same problem. I added an inline PowerShell Task after the Test Task to convert the binary coverage.

[code]

This is just a workaround. It works for me. I am interested in a proper solution, too :)

[2018-07-31 14:16] efrainsteinbach commented on #1607
I tried up- and downgrading between `15.6.0` and `15.8.0`.. none of them worked.

Here's my dockerfile:

`ARG DOTNET_VERSION=2.1

# prepare build image
FROM ubuntu:16.04 AS build

WORKDIR /tmp
ARG DOTNET_VERSION
ENV DOTNET_CLI_TELEMETRY_OPTOUT 1

RUN apt-get update \
&& apt-get install -y --no-install-recommends \
    ca-certificates \
    curl \
    apt-transport-https \
    wget \
&& wget -q htt

[2018-07-31 15:57] mpetito commented on #981
@epoyraz Thanks! I had explored using CodeCoverage.exe but unfortunately that requires an installation of Visual Studio Enterprise edition (which i do not have).  I was hoping there is a way to do this with the .NET Core sdk directly, otherwise the preview sdk generates a very nice binary coverage file that I cannot use.

[2018-07-31 20:42] nguerrera commented on #821
CLI supports this from environment variable  `set DOTNET_CLI_UI_LANGUAGE=en`. It will also respect VSLANG=LCID. If either override is in place, it will export both forms down to child processes, so VS test could respect that.

[2018-08-01 00:08] ashkaun commented on #1690
I am still running into this issue. The workaround mentioned in the original post works for me as well.

To reiterate:

The application runs correctly on both Windows and Linux (Ubuntu) both when published and from the command line with "dotnet run".

I have a test which calls a method from the loaded library. On Windows the test runs correctly, on a Linux system when LD_LIBRARY_PATH is not set (s

[2018-08-01 03:59] codito commented on #981
`CodeCoverage.exe` is available in this nuget package: https://www.nuget.org/packages/Microsoft.TestPlatform/. I think it should work without VS installed.

Look for the relative path: `tools\net451\Team Tools\Dynamic Code Coverage Tools\CodeCoverage.exe` in the nuget package.

[2018-08-01 05:00] nigurr commented on #1690
@ashkaun thanks for updating the thread. This seems to be an issue with dotnet coreclr. Test platform doesn't use any of these variables to load dependencies. They are resolved by the coreclr.
I came across this active issue in coreclr https://github.com/dotnet/coreclr/issues/12707. Are they related? If not, can you please open new issue in dotnet/coreclr repo.

[2018-08-01 05:59] smadala commented on #821
@mayankbansal018 Can you take a look into this?

[2018-08-01 05:59] smadala commented on #821
Related issue https://github.com/dotnet/cli/issues/9722#issuecomment-409361336

[2018-08-01 06:12] smadala commented on #1607
Looking into this. I will try to get the `diag` logs and see where the failure occurring.

[2018-08-01 07:30] mayankbansal018 commented on #1694
@billti @armanio123 any update on this?

[2018-08-01 08:47] pvlakshm commented on #1706
Xamarin support can be enabled in a manner similar to what is used for UWP today.
It means that the `vstest` platform be able to deploy-to-target and run the tests there, where the target could be a emulator/simular/device running Android, or iOS via a paired Mac.
The vstest platform can support this via host extensibilty. See here: [https://github.com/Microsoft/vstest-docs/blob/master/RFCs/0001-T

[2018-08-01 09:09] smadala commented on #1607
@efrainsteinbach I have tried above `Dockerfile`, I couldn't repo for simple MSTest test project.

Can you please share your test projects on github?
Pass `--diag log.txt` to `dotnet test` command and share all log.*.txt files?

[2018-08-01 09:13] alexsaare commented on #1607
Same problem here for Multi-target test project.  Only affects netcoreapp1.0 and 1.1.  Works for other frameworks (net452, net46, net472).  Works on others developer machines.  Has happened to 2 developers now.  Upgrade/downgrade/reinstall of test sdk makes no difference.  Tried reinstalling Visual Studio - no difference.  Problem seen in both Visual Studio and command line.

Only identified fix h

[2018-08-01 09:28] smadala commented on #1607
@alexsaare Pass --diag log.txt to dotnet test command and share all log.*.txt files?

[2018-08-01 09:29] alexsaare commented on #1607
Log files below

[log.host.18-08-01_11-25-17_87760_5.txt](https://github.com/Microsoft/vstest/files/2248860/log.host.18-08-01_11-25-17_87760_5.txt)
[log.host.18-08-01_11-26-18_61992_1.txt](https://github.com/Microsoft/vstest/files/2248861/log.host.18-08-01_11-26-18_61992_1.txt)
[log.host.18-08-01_11-26-21_05959_1.txt](https://github.com/Microsoft/vstest/files/2248862/log.host.18-08-01_11-26-21_059

[2018-08-01 09:31] alexsaare commented on #1607
source can be found in the repo below (migrate-tests branch)

https://github.com/Insure-Tech/InsuranceHub.Client.Net/tree/feature/migrate-tests

[2018-08-01 09:37] smadala commented on #1607
@alexsaare Above logs are from failed test-run?

[2018-08-01 09:44] smadala commented on #1607
@alexsaare Nevermind, found the required log.

[2018-08-01 09:56] alexsaare commented on #1607
@smadala I'm going to leave this machine in this state for now (mostly because i don't have time to re-install windows).  So, if you need and further info or want me to try any fixes please let me know.

[2018-08-01 10:13] smadala commented on #1607
I'm able to repo the issue.
 From `log.host.18-08-01_11-24-17_12463_5.txt` log messages this looks like RCA is .NET Core 1.0 APIs.
`System.PlatformNotSupportedException: System.Reflection.TypeExtensions is not supported on NET Standard 1.3 or 1.5.`

[code]

[2018-08-01 10:40] alexsaare commented on #1607
But this works fine on other PCs??

[2018-08-01 10:44] smadala commented on #1607
Yeah, It could be because .NET Core runtimes.

Can you see is there what is difference between two machine of `dotnet --info`? Mine is below.

[code]

[2018-08-01 10:52] alexsaare commented on #1607
mine...

[code]

I'll get one from the other guys asap

[2018-08-01 12:09] #1688 closed

[2018-08-01 12:11] onovotny commented on #1706
@pranavkm

I would say this has to be prioritized and done by the VSTest team itself, working with the Xamarin team as appropriate. VSTest is missing major platforms, and ones that are first-party at that.

[2018-08-01 12:15] alexsaare commented on #1607
Still waiting for the others to get back in the office however, in the mean time... the stack trace you posted above got my brain thinking.

We used to have a reference to System.Reflection.TypeExtensions however, this was removed.  In visual studio when I clicked on Manage NuGet Dependencies it was showing under the Installed packages.  Trying to remove it gave an error saying it was not installe

[2018-08-01 12:52] dferretti-fig commented on #1607
@alexsaare I have seen the "Failed to negotiate protocol" error when testing something with a reference to System.Reflection.TypeExtensions v4.5.0 and a target framework of netcoreapp1.0 or netcoreapp1.1 (2.0 and 2.1 work fine), but for some reason the problem doesn't happen when I reference System.Reflection.TypeExtensions v4.4.0 or lower - that works on all target frameworks for me.

[2018-08-01 12:54] ShreyasRmsft opened #1711 "Test host process or child processes spawned by test host process (selenium webdrivers, browsers etc) linger on after test run complete"
## Description
Test host process or child processes spawned by test host process (selenium webdrivers, browsers etc) linger on after test run complete

Attached is a sample app with selenium tests. Wherein on error the selenium webdrivers and chome instances do not close and keep a lock on the test dlls

## Steps to reproduce
Add an env variable ChromeWebDriver to point to the folder containing ch

[2018-08-01 13:02] mayankbansal018 commented on #1711
@ShreyasRmsft does the testhost process crashes when test fail? Or is it a case of simple test failing.
How does the child processes get killed in case when test pass?

[2018-08-01 14:31] eerhardt commented on #1688
This is great to hear, @smadala!  Do you know, will this make it into a VS 2017 update?  If so, which one?

[2018-08-01 14:53] smadala commented on #1688
VS 15.9

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Eric Erhardt <notifications@github.com>
Sent: Wednesday, August 1, 2018 8:02:05 PM
To: Microsoft/vstest
Cc: Satya Madala; Mention
Subject: Re: [Microsoft/vstest] Debug.Assert(false) causes poor experience in tests (#1688)

This is great to hear, @smadala<https://na01.safelinks.protection.outlook.com/?ur

[2018-08-01 17:33] ashkaun commented on #1690
@nigurr From what I can tell this issue is unique to `dotnet test`, there are no problems running with the *.so file when running it with `dotnet run`. Additionally the *.so files are in the output & publish directories for the test projects as well as the solution itself.

I'll see if the issue you linked provides additional info in isolating the behaviour I'm experiencing.

[2018-08-01 17:39] mpp-oliverh commented on #1690
@cltshivash the issue report was prompted by a problem with testing a dotnet console application.

@nigurr the issue isn't present at run time, only ever during test. that issue you linked doesn't seem directly related.

this issue was originally posted to the dotnet-cli repository and was moved while I was away, sorry for the delay responding.

[2018-08-02 04:53] smadala commented on #1634
Fixed via https://github.com/Microsoft/vstest/pull/1674

[2018-08-02 04:53] #1634 closed

[2018-08-02 04:55] smadala commented on #1671
@kaadhina I think you have this issue via https://github.com/Microsoft/vstest/pull/1682 .
Can we close this issue?

[2018-08-02 04:56] kaadhina commented on #1671
This has been fixed.

[2018-08-02 04:56] #1671 closed

[2018-08-02 05:04] smadala commented on #1702
This is issue due to bug in `DIA` apis. @VCZYK has fix for it. I will update regarding fix release ASAP here.

[2018-08-02 06:43] smadala commented on #1607
Looks like we have multiple reasons for `Failed to negotiate protocol. Wait for response timeout` error. We are seeing this error due to failure of inter process communication in vstest(vstest.console <-> testhost).

Here is summary for solutions/workarounds discussed in this issue.

- https://github.com/Microsoft/vstest/issues/1607#issuecomment-394521170
 I was having similar issues with my unit

[2018-08-02 06:43] #1607 closed

[2018-08-02 08:41] abhishkk commented on #1561
Resolved. PR: https://github.com/Microsoft/vstest/pull/1709

[2018-08-02 08:41] #1561 closed

[2018-08-02 10:06] SharpNoiZy commented on #981
Please support the ExcludeFromCodeCoverage Attribute.

Except that, --logger "trx" --collect "Code Coverage" works with the new SDK.

[2018-08-02 10:08] smadala commented on #981
Except that, --logger "trx" --collect "Code Coverage" works with the new SDK.

Related: https://github.com/Microsoft/vstest/issues/1548

/cc: @pvlakshm @cltshivash @mayankbansal018

[2018-08-02 10:51] acesiddhu commented on #1711
This is expected. This is how Selenium works today. Their RemoteDriver instance does not have a destructor that Quits and closes the chrome sessions. The guideline is that driver instances should be Closed/Quit during TestCleanup.

Test platform should not be smart and should not close process at it's will. testhost is not the guy which launched chrome, it's the test and hence life time of chrome

[2018-08-02 11:39] acesiddhu commented on #1711
By the way I didn't get a repro of test dlls getting locked by the process. Ideally it shuld not happen as test dlls are running in testhost.exe and not chromedriver.exe

Can you repro this on your machine?

[2018-08-02 13:03] nzandy commented on #705
Once again, another issue our dev team has ran into when attempting to slowly shift to using .NET core / standard.

These problems are not obvious when playing around with a new technology. But when you start to migrate an enterprise solution you realise that there are still a lot of rough edges in the tooling that makes life very annoying when trying to configure things like your CI pipeline.

We

[2018-08-02 13:57] VictorioBerra commented on #705
@nzandy Core is still maturing and they are using feedback from people like us to constantly improve it. I will say, before you write your blog post take the time here to **read some of the solutions that others have come up with for solving this problem**. If you are moving to core,[ you should follow best practices and put your test projects in a "tests" folder](https://gist.github.com/davidfowl

[2018-08-02 14:04] nzandy commented on #705
Appreciate the comment @VictorioBerra - Currently our solution is structured in a way that the test projects sit alongside the projects they test (for example /Customers/Customers.Domain and /Customer/Customer.Domain.Tests folders). So it would be easy to iterate over all folders ending with *.Tests/ in powershell. However because currently we use the NUnit command line for running the .NET framew

[2018-08-02 14:10] mayankbansal018 commented on #813
fixed in latest Microsoft.Net.Test.SDK(15.8) VS 2017

[2018-08-02 14:10] #813 closed

[2018-08-02 16:49] henryJack commented on #981
@livarcocc - This is still an issue and should not be closed

[2018-08-02 16:50] livarcocc commented on #981
I didn't really close this issue. github did when @smadala made a PR tagged as fixing it. @smadala can you re-activate it?

[2018-08-03 06:02] pvlakshm commented on #1691
These are indeed the licenses we are required to use.

[2018-08-03 08:54] efrainsteinbach opened #1715 "Could not load type 'System.Runtime.Loader.AssemblyLoadContext' from assembly 'System.Runtime.Loader'"
## Description
Somehow having a custom `nuget.config` in a parent folder of the test project, with a setting `globalPackagesFolder` breaks the execution **on Linux hosts**.

## Steps to reproduce
- Get the repro ZIP [here](http://s000.tinyupload.com/download.php?file_id=11605448365005286119&t=1160544836500528611949211).
- Run 'docker build .' .. see the dockerfile: this takes an ubuntu image, inst

[2018-08-03 09:05] #821 closed

[2018-08-03 14:30] mayankbansal018 commented on #1701
still need to complete dotnet cli PR

[2018-08-03 22:11] dotMorten commented on #98
It's already in the TRX schema:
[code]

Essentially any use of `[TestProperty]` should go in here. I was able to use it in my own TRX logger, and it passes schema validation

[2018-08-06 03:51] smadala commented on #98
@dotMorten Thanks for info. Do you like to patch your own TRX logger changes to vstest TRX logger?

[2018-08-06 04:00] smadala commented on #1705
@vagisha-nidhi Can we close this issue?

[2018-08-06 04:42] vagisha-nidhi commented on #1705
@smadala Yes this issue has been resolved. We can close this.

[2018-08-06 04:42] #1705 closed

[2018-08-06 04:46] #1691 closed

[2018-08-06 05:26] smadala commented on #1503
@natemcmaster Can you please share sample repo for issue you are facing?

I have tried `dotnet msbuild /t:VSTest` , I see test failure messages.

[code]

[2018-08-06 08:30] FlukeFan commented on #1503
You can also see the workaround here:
https://github.com/dotnet/cli/blob/master/src/dotnet/commands/dotnet-test/Program.cs#L35

My understanding is that a lot of the build performance improvement comes from paralellization of the build, but that certain (console, I think) output is lost when doing this.  The workaround turns off the paralellism for `dotnet test`, but not for `dotnet msbuild` I thi

[2018-08-06 09:04] smadala commented on #1503
@FlukeFan I'm able to repro the issue when invoking `/t:VSTest` solution/directory level.

Unfortunately `/t:VSTest` won't support from solution/directory level. We are tracking https://github.com/Microsoft/vstest/issues/705 https://github.com/Microsoft/vstest/issues/411 to address it.

@rainersigwald @natemcmaster I observer that using `/nodereuse:false` at solution/directory level( `dotnet msbui

[2018-08-06 14:42] rainersigwald commented on #1503
Yes, it is. As a workaround you can set the environment variable `MSBUILDENSURESTDOUTFORTASKPROCESSES=1` in addition to passing `/nodereuse:false`. That changes the way MSBuild creates child processes to force them to share a stdout stream with the parent.

The `dotnet` cli uses this workaround when you invoke `dotnet test`. @FlukeFan the build is still parallel in the `dotnet test` case, but it d

[2018-08-07 05:40] nigurr commented on #1085
Hi,

Update on this thread. Work is in progress to support .NET core tests in Visual Studio test task which provides the option to override parameters.
However, we don't have exact timeline for roll out. Assured that we are actively working on this.

Thanks for your support. Please do raise your feature requests/voice here: https://visualstudio.uservoice.com/forums/330519-visual-studio-team-servic

[2018-08-07 05:40] #1085 closed

[2018-08-07 06:47] nvineeth opened #1720 "Cannot run Unit tests in Release mode from CLI when a winrt module is present in sln"
## Description
Attached is the test sln consisting of a C++ WinRT component and a C# Unit test UWP Project.
`vstest.console.exe` fails to run the tests, due to which we are unable to automate the tests on a build machine.

## Steps to reproduce
* Extract the contents of the attached `WindowsRuntimeComponent1.7z`
[WindowsRuntimeComponent1.zip](https://github.com/Microsoft/vstest/files/2265258/Windo

[2018-08-07 06:49] baruchiro opened #1721 "Use ~ operator for filter by TestCategory"
## Description

## Steps to reproduce

## Expected behavior

## Actual behavior

## Environment

[2018-08-07 06:59] #1721 closed

[2018-08-07 08:10] mayankbansal018 commented on #649
@nphmuller , sorry for getting so late on this. Can you please summarize what is the current ask for this issue?

From what I can see that it still exists for fullCLR,  as the test adapters load test assemblies in separate appdomain for which the EntryAssembly is not set. It seems the fix here needs to go in individual adapters, is that correct?

[2018-08-07 08:31] mayankbansal018 commented on #649
@nphmuller

I suppose by this you mean on the test adapter end, also what is the user's expectation for GetEntryAssembly() in this scenario. From the various other posts, it seems they need test assembly to be marked as EntryAssembly, which seems fair.

We'll forward this to other test framework owners, & based on the user feedback, they can provide the solution appropriately.

[2018-08-07 08:34] mayankbansal018 commented on #782
Hi @smbecker , sorry for getting so late on this, but the issue seems to be identical to #649 , where GetEntryAssembly()(invoked internally by DependencyContext) returns null, as the the test assembly is loaded in different appdomain by test adapters, & for such AppDomain, no EntryAssembly is set.

Can you please confirm if this issue is same?

[2018-08-07 08:59] mayankbansal018 commented on #1616
@oscarcabrero , any update on this? is your issue resolved

[2018-08-07 09:01] abhishkk commented on #1449
Closing this issue as now IDE only prints the exception trace from TestMessage. It no longer prints the stack from TestRunCompleteEvent.

[2018-08-07 09:01] #1449 closed

[2018-08-07 23:43] dotMorten commented on #98
@smadala [My logger](https://github.com/dotMorten/MSTestX/blob/master/src/TestAppRunner/TestAppRunner/TrxWriter.cs) is completely different from yours. I would have preferred being able to reuse the TRX logger you have (a .NET Standard version that can serialize an `IEnumerable<TestResult>` would be appreciated !), but found it overly complex to deal with and would need a lot of forking.

I could

[2018-08-08 05:30] #649 closed

[2018-08-08 05:32] mayankbansal018 commented on #782
@smbecker, I'm closing this issue, please add a comment if it is still relevant. However it seems identical to #649

[2018-08-08 05:32] #782 closed

[2018-08-08 06:25] ShreyasRmsft commented on #1711
@acesiddhu i got the repro of test dlls getting locked a few times.

[2018-08-08 07:41] mayankbansal018 commented on #419
@NTaylorMullen is this bug still relevant, did the work around mentioned above not work for you?

[2018-08-08 11:48] ShreyasRmsft commented on #1711
@acesiddhu
![image](https://user-images.githubusercontent.com/25194518/43835276-0d7bfa5e-9b2f-11e8-824b-479c678e5ce1.png)

[2018-08-08 18:59] NTaylorMullen commented on #419
No clue, this was opened ages ago

[2018-08-08 20:13] tillig opened #1724 "Add test case filter based on existence of a property"
The [documentation on TestCase filtering](https://github.com/Microsoft/vstest-docs/blob/master/docs/filter.md) shows this example:

[code]

And it shows that you can run all the tests marked with `[TestCategory("CategoryA")]` using this command:

`dotnet test --filter TestCategory=CategoryA`

However, if there doesn't seem to be a way to run tests _that are not marked with any test category_.

Sam

[2018-08-09 09:05] #419 closed

[2018-08-09 12:32] smadala commented on #633
Addressed via https://github.com/Microsoft/vstest/pull/1052

[2018-08-09 12:32] #633 closed

[2018-08-09 12:40] smadala commented on #886
Addressed via https://github.com/Microsoft/vstest/pull/1474

[2018-08-09 12:40] #886 closed

[2018-08-09 12:43] smadala commented on #367
Dupe of https://github.com/Microsoft/vstest/issues/946

[2018-08-09 12:43] #367 closed

[2018-08-09 12:45] smadala commented on #972
Related to https://github.com/Microsoft/vstest/pull/1677

[2018-08-09 12:48] smadala commented on #972
@abhishkk Can we close this?

[2018-08-09 12:56] smadala commented on #1046
Related to https://github.com/Microsoft/vstest/pull/1382 . @abhishkk Can we close this?

[2018-08-09 12:57] smadala commented on #1101
Dupe of https://github.com/Microsoft/vstest/issues/1125

[2018-08-09 12:57] #1101 closed

[2018-08-09 13:01] smadala commented on #1106
Addressed by https://github.com/nunit/nunit3-vs-adapter/pulls?q=is%3Apr+author%3Anavin22+is%3Aclosed

[2018-08-09 13:01] #1106 closed

[2018-08-09 13:03] #1115 closed

[2018-08-09 13:04] smadala commented on #1268
@nigurr Is this still relevant?

[2018-08-09 13:06] smadala commented on #1283
@ShreyasRmsft Please re-open the issue if you can provide repro here.

[2018-08-09 13:06] #1283 closed

[2018-08-09 13:11] smadala commented on #1312
Dupe of https://github.com/Microsoft/vstest/issues/981 . Installing VS 15.8(non-enterprise also) should fix this issue.

[2018-08-09 13:11] #1312 closed

[2018-08-09 13:14] smadala commented on #1461
Fixed via https://github.com/Microsoft/vstest/pull/1681

[2018-08-09 13:14] #1461 closed

[2018-08-09 13:15] #1532 closed

[2018-08-09 13:17] smadala commented on #1694
Please use `GenerateProgramFile` property to skip auto generated `Main`.

[2018-08-09 13:17] #1694 closed

[2018-08-09 22:38] #1590 closed

[2018-08-10 06:55] abhishkk commented on #972
Fixed issue with PR: https://github.com/Microsoft/vstest/pull/1677

[2018-08-10 06:55] #972 closed

[2018-08-10 08:38] abhishkk commented on #939
As VSTS pipeline is moving away from trx, we are not enhancing the platform with trx merge functionality. We will revisit the ask in case such request comes for different scenarios.

[2018-08-10 08:38] #939 closed

[2018-08-10 11:57] mayankbansal018 commented on #1616
@oscarcabrero, pinging again

[2018-08-10 13:58] CreepyGnome commented on #1085
Hi @nigurr if what you say is true why would you close the issue that is listed in the backlog unless it was completed? Seems closed backlog issues are either done or are considered not going to do them anytime in the foreseeable future.   You state work is in progress, but you closed the issue, so it seems it's not done nor is it not going to get done as it's in progress. I am a little confused a

[2018-08-11 05:49] nigurr commented on #1085
@CreepyGnome Currently we do have internal tracking system where we track the features/user stories. It would be hard for us to maintaining them separately (github/internal).
We do sincerely understand your concerns/feature requests and update our backlog. We keep informing about feature deliveries in VSTS release notes which gets published with every update.
Please let us know if there's better a

[2018-08-11 17:47] CreepyGnome commented on #1085
@nigurr seems like your teams can learn a lot from the .NET Core teams.  If you are going to have a public facing issue tracking system, why not just use it and do it all in the public like other teams at Microsoft.

Also VSTS issues like source, if I remember correctly, can be made public facing as well and you could just use that instead of GitHub if you have no source here. Also you could put a

[2018-08-13 05:07] nigurr commented on #1085
@CreepyGnome Thanks for feedback. Really appreciate it. We will discuss this feedback and will be more transparent to community.

[2018-08-13 08:44] #1616 closed

[2018-08-13 11:57] mayankbansal018 opened #1727 "Invalid event raised during socket failure"
## Description
In case when connection b/w testhost, & vstest.console fails, we are incorrectly raised Connected Event in [SocketClient.cs](https://github.com/Microsoft/vstest/blob/310968a049f906f7bf5c1775842f3fea71753de4/src/Microsoft.TestPlatform.CommunicationUtilities/SocketClient.cs#L83) , which ends up creating confusion., & the finally the test fails by throwing an incorrect stack

`StackTra

[2018-08-13 12:12] singhsarab commented on #1585
This is now fixed.

[2018-08-13 14:00] abhishkk opened #1729 "Discrepancy in test state while running combination of tests targeting different frameworks"
## Description
We have enabled association support for MSTest v2. Not users can associate mstest v2(both full framework and net core).

If a user adds net core and full frameword mstest v2 tests in same test plan and runs it via vstest v2 task, then following happens:
1. If target framework is set to .NET (in runsettings) and test plan is ran, .NET core tests are not discovered and thus are not ra

[2018-08-13 15:33] #1727 closed

[2018-08-14 12:27] cltshivash commented on #1129
@smadala  Please pick this up for resolution as discussed.

[2018-08-14 19:51] JunielKatarn opened #1732 "Can't list full test names from a DLL."
## Description

There is no way to list all tests with their fully qualified name in the command line.

## Steps to reproduce

For a C++ test DLL (Microsoft Unit Test Framework for C++), run:
[code]
This will fail with message:
[code]

## Expected behavior

(List of FQDN tests in the DLL).

## Actual behavior

The command forces to print the output to a file using switch `--ListTestsTargetPath`.
T

[2018-08-16 00:42] shanselman commented on #705
@livarcocc ya this sucks. I thought this was a good solution but the Globbing works everywhere but windows. We should fix this. @DamianEdwards

[code]

[2018-08-16 07:34] amolraut86 opened #1733 "Getting error Test host exited with error: '' when run vstest.console.exe"
## Description
Hi All, I have been searching for solution this problem i am facing since couple of days,
I am getting an error **Test host exited with error: ''**
I am using xunit test project with target framework dotnetcore 2.0

## Steps to reproduce

I have tried every solution available in MS community but not getting success,

Get below errors in logs,
1) vstest.console.exe, Test host exited

[2018-08-16 11:36] singhsarab commented on #1724
@tillig We haven't received any feedback for such a scenario before. I am just trying to understand more about the scenario we trying to enable.
For example, I would usually give Category!=Nightly to achieve what you want instead.

@pvlakshm @cltshivash Can you please triage this.
/cc: @genlu Please share your thoughts.

[2018-08-16 11:47] singhsarab commented on #1729
I think, if both .Net core and full framework dlls are given, we should error out and tell the user. Point (1) seems to be an issue to me.

[2018-08-16 13:06] singhsarab commented on #1732
This was not meant for internal consumption only and is not even documented anywhere.
The current behavior is by design.

@pvlakshm Can you please triage this.

[2018-08-16 13:49] tillig commented on #1724
My specific use case is that I have a microservice project that has a fully automated CI/CD pipeline. About half of the tests, spread across multiple assemblies, are unit tests. The other half, also spread across multiple assemblies, are BDD tests that run against the service during various stages of deployment.

Right now, we have four types of tests:

- Unit - runs during the build
- Canary - so

[2018-08-16 19:55] pMaske commented on #1393
@mayankbansal018 I updated my Visual Stuido to 15.7.4 and realize the old appx way is not working. I updated my command to use appx and saw same behavior I reported earlier. Can you please confirm if I should continue to use  appxrecipe or switch to appx. Well at the moment none of them are working for me
##APPXRECIPE

C:\>"C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\I

[2018-08-16 21:36] jhedlund opened #1734 "Errors running in Framework35"
## Description

I have target v3.5 framework project with unit tests that I was looking to upgrade from NUnit 2 to 3.

I am having a few issues running some of the tests I believe due to a change in VSTest that runs in compat mode instead of running in v3.5 test process.

The easiest issue to describe:

The code contains deserialization routines that read a string into a MemoryStream to deserializ

[2018-08-17 00:13] rchouser opened #1735 "VSTest with dotnet core in VSO Test Assemblies Task fails with No Tests but ran 73 tests"
I have a dotnet core built test dll which I'm invoking with a Test.runsettings file and /Framework:FrameworkCore10.  Locally I get 73 test passes and everything looks good.  With a VSO Test Assemblies task I see the same 73 successful tests but I get a "no test" error.

A snippet of the log

2018-08-17T00:11:31.7533163Z vstest.console.exe "C:\BA\1\s\Applications\InputIntel\InputIntel.UnitTests\bin

[2018-08-17 03:39] plioi opened #1736 "Test Explorer discovers but fails to execute tests targeting full .NET Framework after upgrading to VS 15.8"
## Description
Using Visual Studio 15.7.4, I can successfully open a solution containing many test projects with a variety of TargetFramework/TargetFrameworks values, discovering and executing all tests without error.

After upgrading Visual Studio to 15.8.0, test projects which target net471, or test projects which multitarget but target net471 *first*, successfully discover but do not execute. T

[2018-08-17 14:05] vbondaryuk opened #1739 "VSTest starts work unpredictable after adding TfsPublisher"
## Description
We found out strange behavior after adding TfsPublisher logger to our project.
For one of our business cases we implemented custom logger. This logger uses without coping to extension folder, just add `--TestAdapterPath`. It works correctly.

But now we try to add TfsPublisher we found out some issues:
- can't use some of new futures vstest for example: `--ResultsDirectory`, moreove

[2018-08-17 20:09] johnwc commented on #624
It's been a year, any update to this?

[2018-08-20 06:35] singhsarab commented on #1720
@nvineeth I looked into your repro project.
The problem I see is that your Unit test project is pointing to older version of TestPlatform.Universal (15.0.0.0) while expected to point to 15.5.0.0. (which I am guessing is because of project.json files present in the project).

I was able to get it working,
1. Setting UnitTestPlatformVersion to 15.5 in the csproj
2. Restore and build the project.
3.

[2018-08-20 08:08] amolraut86 commented on #1733
Hi Guys,
Can anybody response on this issue plzz?

Please find below screenshots for more reference
![xunit_issue](https://user-images.githubusercontent.com/41044479/44327980-f13d6500-a47d-11e8-8d6e-bd406d044aad.PNG)

Does anybody knows why this is happening? this message appears whenever i add /EnableCodeCoverage option in vstest run command. when i remove /EnableCodeCoverage, tests executes succ

[2018-08-20 15:07] NikolayPianikov commented on #1335
I think it is not convenient way to hard-coded the timeout ... why not 3000 ms or not 10 ms? Potentially it could be a cause of issues related to other performance/memory profilers for instance. User has no way to find any simple workaround on that.

[2018-08-20 20:13] plioi commented on #1129
Is this going to work by literally looking for references to the MS Test SDK package, or instead for the flags that project sets like so:

[code]

I strongly recommend it work by looking for those flags.

If it looks for the SDK reference itself, that'd be quite limiting for non-MSTest frameworks. Non-MSTest frameworks today can avoid the need for an explicit test SDK reference by including these

[2018-08-20 20:51] hudsonmendes commented on #1129
If anybody here accepts a sh solution:
`find . -type f -name '*-test.csproj'  -exec dotnet test "{}" \;`
My tests all end in `-test.csproj`, you're likely to have to customise it for yourself.

[2018-08-20 22:30] dasMulli commented on #1129
I'd still prefer a solution that would treat it as a single test run. all solutions involve invoking vstest multiple times, either through sh commands or looking at all projects with `$(IsTestProject)` in the solution (see [my blog post](https://dasmulli.blog/2018/01/20/make-dotnet-test-work-on-solution-files/)).
But none them can:
* Synchronize access to shared resources implemented through const

[2018-08-21 01:33] plioi commented on #1129
@dasMulli What would a single test run really mean? Imagine your test project multitargets net47 and netcoreapp2. Those definitely have to be separate processes.

[2018-08-21 03:28] Silic0nS0ldier commented on #1735
I had an issue with a fresh .NET Core test project too, though the specific error was different. Given the otherwise identical behaviour however, it might be caused by the same issue.

[code]

[2018-08-21 05:44] singhsarab commented on #1735
@rchouser @Silic0nS0ldier
I think I understand the issue here.
The test dll is getting picked up from 2 locations, one is the *bin* directory which is the actual output directory, and other from the *obj* directory.

TestPlatform is not able to run the one from *obj* directory because of missing dependencies (deps file)

What is that the pattern you are using for *Test files* in the task ?
You sho

[2018-08-21 05:48] rchouser commented on #1735
@singhsarab - Thanks for looking!  That's a great observation, I'll try adding the filter for the obj folder.  This wasn't required prior to switching to dotnet core so I'd not thought to look for this.

[2018-08-21 06:31] Silic0nS0ldier commented on #1735
@singhsarab Your on the money regarding the task picking up `obj`. The docs at https://docs.microsoft.com/en-us/vsts/pipelines/tasks/test/vstest hinted at this, though the shown syntax resulted in nothing being picked up (`**/*Tests.dll!**/obj/**`).

Solution for me was to specify that `bin` must be in the path with `**/bin/**/*Tests.dll`.

[2018-08-21 06:40] singhsarab commented on #1735
@Silic0nS0ldier Those are two patterns, **/*Tests.dll and !**/obj/**, and should separated with new line. Give that a shot.

[2018-08-21 06:46] Silic0nS0ldier commented on #1735
Bear with me, YAML is my kryptonite. I originally tried;
[code]
However VSTS complained about it not being a scalar type. But if I tried;
[code]
It would work?

[2018-08-21 09:49] smadala commented on #1129
@plioi As @dasMulli suggestions. Single invocation of `dotnet vstest.console.dll` is way to go, To achieve accumulated test-results and leverage parallelism built in `vstest.console`.

Currently `dotnet test/vstest/vstest.console.dll` lunches separate process to run tests for each test project(At least for .NET Core test project). For multi target scenario we can have multiple `trx` files rather t

[2018-08-21 10:48] DmitryNaumovA1qa commented on #98
Is there a fix for the issue?
If so which version of .net core should I use to be able to include description attribute?

[2018-08-21 11:02] singhsarab commented on #1739
@vbondaryuk This is a known issue.
TfsPublisher is not supported with new TestPlatform.

If TfsPublisher is opted like /logger:TfsPublisher, it fallbacks to older TestPlatform which does not have the new features.

/cc: @pvlakshm @cltshivash @smadala @mayankbansal018

[2018-08-21 11:26] vbondaryuk commented on #1739
@singhsarab Thank you for your response.

Will it be fixed in future?

Since TfsPublisher is not supported with new TestPlatform is there any possibilities to publish test results to Tfs without usage of TfsPubliser?

If yes, could you provide any examples?

[2018-08-21 12:45] Larswa commented on #981
@mpetito Codecoverage comes with the nuget package, and it comes with the VSTS "Visual Studio Test Platform Installer" task.
In my case I end up with this on my buildserver that doesn't have VS2017 installed btw ...
`D:\VSTSAgent\_work\_tool\VsTest\15.8.0\x64\tools\net451\Team Tools\Dynamic Code Coverage Tools\CodeCoverage.exe`

[2018-08-21 13:14] singhsarab commented on #1739
@vbondaryuk TfsPublisher is only used to publish results against XAML builds. With most of our customers on or moving to new build system, highly unlikely we would be investing here.

We have had no asks for new Test platform to support this. In next major release, we would not be supporting via fallback scenario as well.

Given that, the general guidance from our side to write a custom logger to

[2018-08-21 13:15] dotMorten commented on #98
@dmitryNaumovA1qa no 😒

[2018-08-21 13:38] singhsarab commented on #1733
@amolraut86 What is the version of dotnet installed on your machine ?
Have you tried using *dotnet test* verb?

[2018-08-21 14:39] amolraut86 commented on #1733
Thanks for your reply,

I am using dotnet version 2.0.2
Yes, I have tried with dotnet test --collect:"Code Coverage" and get the same result as
Data collection : Could not find data collector 'Code Coverage'

Have gone through the link https://github.com/Microsoft/vstest/issues/981 as support for code coverage is not yet provided in dotnet test but it should work with VS Test Agent 2017 & vstest.c

[2018-08-21 16:35] rchouser commented on #1735
I've confirmed this fixes my issue.  I also noticed that the 2.* version of VSO unit task does in fact give you this template which excludes the obj file which is very useful.

[2018-08-21 16:35] #1735 closed

[2018-08-21 18:25] pvlakshm commented on #1732
Yes, this is by design, and I suppose we can live with it.

[2018-08-21 18:44] pvlakshm commented on #1592
We will take this up for consideration in the next round of planning (for Q4 onwards).

[2018-08-21 18:46] pvlakshm commented on #958
Contributions welcome. This is marked up-for-grabs.

[2018-08-21 19:14] groogiam opened #1744 "Visual Studio 15.8 Blocking Package Upgrade from Microsoft.NETCore.App 2.1.2 on MSTest projects"
## Description
I have an MSTest project which references projects utilizing Microsoft.NETCore.App 2.1.2

When attempting to build I get the following error message.

Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1605	Detected package downgrade: Microsoft.NETCore.App from 2.1.2 to 2.1.0. Reference the package directly from the project to select a different version.

However

[2018-08-21 19:43] JunielKatarn commented on #1732
It's not a matter of "live with".
It's a feature available in virtually every test framework, missing on this one.

Would it be too hard to implement for VSTest?
Does this pose security issues?
If it were truly by design, why does Visual Studio not have a problem displaying the tests with their fully qualified name?

[2018-08-21 20:37] hudsonmendes commented on #1129
I agree with @plioi on the single `dotnet test`. It should be smart enough and combine the test results. The sh solution is a temporary fix until this is done properly on the cli.
Nonetheless, I'm using dotnetcore with Xunit.

[2018-08-22 07:50] DerGary commented on #1524
Still waiting for a fix on this issue!

[2018-08-22 09:41] ankitaLath opened #1746 "Does .Net core 2.1 supports code coverage so can we skip coverlet?"
I have searched all over internet and just getting information about previous .net core 2.0 that does not support code coverage. So, I am using coverlet for it but will update in future to .Net core 2.1. Will this new will support code coverage so that i can avoid using coverlet which I am using for my msbuild.

[2018-08-22 12:09] Delphinidae84 opened #1747 "Tests execution freezes while closing the app"
## Description
After building an UWP-project via msbuild I am running the tests inside the project via:

[code]
While it does work using command line, all tests pass and the application is being closed, I do have issues running those tests via a "Windows Batch-File" element in Jenkins.

The project does build. It does run the tests but after it passes some tests, it tries to close the application

[2018-08-22 12:36] singhsarab commented on #1746
@ankitaLath The support for dotnet test --collect:"Code Coverage" is available in .Net core 2.1, but currently is supported only on Windows.

Support for other OS and embedded pdbs is being tracked currently via https://github.com/Microsoft/vstest/issues/981

[2018-08-22 12:39] singhsarab commented on #1733
@amolraut86 The support for  dotnet test --collect:"Code Coverage" is available for windows now. Try dotnet version 2.1.400

Yes, it should work via vstest.console.
Can you please share the diagnostic logs? https://github.com/Microsoft/vstest-docs/blob/master/docs/diagnose.md#collect-trace-using-config-file

[2018-08-22 19:37] groogiam commented on #1744
See https://github.com/dotnet/cli/issues/9879

[2018-08-22 19:37] #1744 closed

[2018-08-23 05:31] mayankbansal018 commented on #1524
@DerGary , The PR to fix this has been raised internally, today itself. I'm expecting the fix to be in 15.9. Will keep you posted once I've tested it out, & it is publicly available.

I apologize for the delay, thanks for being so patient with this.

[2018-08-23 09:12] ankitaLath commented on #1746
@singhsarab : Thanks for your reply. But can you please elaborate and tell me in respect to Visual Studio Team Services. I have an agent running in windows virtual machine(Azure VM) and that agent is integrated to VSTS and my .net core 2.1 C# build is running in VSTS. Currently I have referenced to coverlet nuget package in my project and getting the code coverage. Can you tell me what support to

[2018-08-23 10:11] singhsarab commented on #1739
@vbondaryuk Please let us know if you have any concerns.
If you don't, I will go ahead and close the issue.

[2018-08-23 10:24] smadala opened #1748 "Support Code coverage for embedded pdb"
## Description
 No code coverage data collected on `dotnet test --collect "Code Coverage"`

## Steps to reproduce
Add `<DebugType>Embedded</DebugType>` to default test project.
[code]
- Run `dotnet test --collect "Code Coverage"`
## Expected behavior
Code coverage data should be collected

## Actual behavior
No code coverage data collected

[2018-08-23 10:25] smadala commented on #800
Tracking embedded pdb https://github.com/Microsoft/vstest/issues/1748

[2018-08-23 10:25] #800 closed

[2018-08-23 10:27] smadala commented on #1748
Fix for this planned in VS 16.0

/cc @VCZYK

[2018-08-23 10:57] alastairtree commented on #800
From the looks of things this is not really closed, just bumped off to another issue, and still not fixed. Version 2.1 of .net core and would really expect `dotnet test --collect:"Code Coverage"` to just work out of the box. Please can we get some clear comms on how/when code coverage will work?

[2018-08-23 11:20] ViktorHofer opened #1749 "Add option to use a different DOTNET host than the one located in the path"
Follow-up on the offline discussion that we had. We (the .NET team) want to enable VS Text Explorer support for corefx.

We are building the shared framework and the runtime ourselves, we do things differently as the average user. Still we see a strong demand for enabling Test Explorer like in a regular app.
- Framework
We (corefx) are the ones that build the framework itself. Therefore we can’t u

[2018-08-23 11:50] jawn opened #1750 "XSD validation error when running tests"
## Description
Running `vstest.console.exe C:\path\ToTest.dll C:\path\To\xunit.runner.visualstudio.testadapter.dll  /logger:trx` creates a .trx file that fails XSD validation.

## My goal:
- Using TFS 2017 Update 1
- With a build agent on Windows Server 2016
- Running a build with a `Visual Studio Test` build step that runs xUnit.net tests.
- Get a successful build when all tests pass.

I was able

[2018-08-23 12:39] #1739 closed

[2018-08-23 12:46] smadala commented on #800
Install dotnet core sdk >= 2.1.400 from [here](https://www.microsoft.com/net/learn/get-started-with-dotnet-tutorial) and update `Microsoft.NET.Test.Sdk` to 15.8.0.

Example: https://github.com/pvlakshm/Samples/tree/master/NetCoreSampleForCC

[2018-08-23 12:59] onovotny commented on #1702
Any updates on this in terms of a servicing vehicle? When/where can we expect to see this fix?

[2018-08-24 06:12] singhsarab commented on #1746
@ankitaLath
When you say .net core 2.1 C# build, I guessing you are talking about dotnet task in your build pipeline.
If above is true, it should work for you, since you are running on Windows VM.
Just make sure the version of dotnet >=2.1.400 (check the logs for that)

Regarding the support, agent configured for Mac or Linux will not be able to give you the coverage you need because *dotnet test*

[2018-08-24 09:42] ankitaLath commented on #1746
Ohh nice. Very nice explanation. Thanks @singhsarab.

[2018-08-24 09:42] #1746 closed

[2018-08-24 11:04] bergmeister opened #1751 "VsTestv2: Mark task as SucceededWithIssues if tests had to be re-run"
The option to re-run failed tests in VsTestv2 is nice but in I still want to see if a 'green' run had to rerun at least 1 test in order to be 'green'. At the moment I have to look into each release result in order to know that information (because it is still worthwhile to investigate why a test failed sporadically). Marking the task as `SucceededWithIssues` if all tests passed but at least one te

[2018-08-24 11:05] bergmeister commented on #1751
Sorry, I meant to open this issue in the [vsts-tasks](https://github.com/Microsoft/vsts-tasks) repo

[2018-08-24 11:05] #1751 closed

[2018-08-24 14:18] singhsarab commented on #1736
@AbhitejJohn @ManishJayaswal As this seems to be an IDE related change.

[2018-08-24 18:52] Shyam-Gupta commented on #1736
@plioi Can you please disable following option in Visual Studio -> Tools -> Options -> Test dialog and see if it helps:

"For improved performance, only use test adapters in test assembly folder or as specified in runsettings file"

[2018-08-25 04:28] vikasillumina commented on #981
@harshjain2 any timelines for providing this support? I am currently working on building the CI/CD for our .NET core based projects and we use docker for running the CI/CD and this feature is missing. If code coverage is natively supported with dotnet test command itself it will make it very easy to use this.

[2018-08-25 12:19] mpetito commented on #981
@vikasillumina use coverlet for now.

I ended up using coverlet even in Windows build environments as the workarounds required above are less than ideal. The issues I ran into included:

 - Output of 0 byte .coverage files without any warning or explanation.
 - Binary coverage outputs that I couldn't use otherwise.
 - Separate package references needed to download CodeCoverage.exe to run binary-to

[2018-08-27 05:57] singhsarab commented on #1733
@amolraut86 Can you please share the logs, so we can diagnose your issue.

[2018-08-27 06:46] singhsarab commented on #1685
It can done by registering TestProperty and then Setting the property on the test case object. References from MSTest adapter:
https://github.com/Microsoft/testfx/blob/e50e1f784e82a5f29fd8cdbf0d91147d33880d45/src/Adapter/MSTest.CoreAdapter/Constants.cs#L33
https://github.com/Microsoft/testfx/blob/3197e7bb9f7fd4219c7855be575fb5def205aff7/src/Adapter/MSTest.CoreAdapter/ObjectModel/UnitTestElement.cs

[2018-08-27 07:15] prawalagarwal commented on #1750
@jawn We need additional details to investigate this issue. Please enable debug logs (set system.debug as true in build variables) and send us the logs. Can you try moving to the latest update of TFS2017 as there are many bug fixes that have gone in since update 1?

[2018-08-27 17:06] phatcher commented on #1732
It also makes it non-obvious to locate test failures in VSTS - where I'm told the test "Add" has failed out a selection of 150 other methods called "Add" :-)

[2018-08-28 09:43] pvlakshm commented on #1732
The following would work:
`vstest.console abc.dll /ListFullyQualifiedTests /ListTestsTargetPath:abc.txt`

[2018-08-28 11:57] singhsarab commented on #1729
@vagisha-nidhi Can you check the behavior for architecture as well ?

[2018-08-28 13:55] #1585 closed

[2018-08-28 21:00] bichuga opened #1753 "Feature Request: Expose test case timeout on TestCase object during discovery"
## Description
When discovering test cases we would like to have access to any [Timeout(..)] attribute information specified by the test case author. If none is specified we would like to have the default timeout which the vstest.console.exe will use when it runs. Without this information we do not know how long our test harness should wait between messages from the test console.

## Steps to repr

[2018-08-28 21:36] tdmiller commented on #1736
@plioi , @Shyam-Gupta -- I was having this same issue, but I just deselected the option indicated above and the tests are now showing up.

[2018-08-29 00:44] Shyam-Gupta commented on #1736
@tdmiller , @plioi
This change was done in VS 15.8 to improve test execution perf for C# and VB projects, by limiting the number of locations Test Platform has to lookup for test adapters.

More details about this change are available at:
https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-relnotes#testadapterextension

This change requires test adapter dll to be present along with t

[2018-08-29 06:33] ManishJayaswal commented on #1736
Each project in the solution is expected to reference everything that it needs. Hence the test projects should reference the VS test adapter it needs for the tests to be properly discovered and executed in VS.

Yes if you would like the tests to be discovered and shown in TE windows and executed from there and you want test execution to be fast. If you do not want to use test explorer then you can

[2018-08-29 10:11] singhsarab commented on #1300
@pvlakshm @PBoraMSFT @cltshivash
I think we missed this earlier, we should see if we pick this up for Dev16, breaking ties with VS.

[2018-08-29 11:04] vagisha-nidhi commented on #1729
@singhsarab With platform architecture as well, we get similar warning message about framework/platform settings with `No test available` warning.

[2018-08-29 11:04] singhsarab commented on #1749
@ViktorHofer As I asked in the mail.
Can’t we set the environment variable “PATH” to point to the new path to dotnet?

[2018-08-29 11:35] li0nsar3c00l commented on #981
@vikasillumina 2.1.400 is not in preview anymore, so the feature exist and can be used. I got it working in my pipeline. only downside is, that you only get the coverage report and not an output of the percentage.

[2018-08-29 17:03] JohnGalt1717 commented on #981
@li0nsar3c00l Does this work on Linux now?

[2018-08-29 21:47] vikasillumina commented on #981
@li0nsar3c00l I actually tried the 2.1.400 version and coverage option does work, however its only supported on Windows. Please correct me if I am wrong. I am looking to use the same command natively on docker running linux. :(
Thanks @mpetito for your inputs and lessons learnt on the way to use coverlet, I will give it a try.

[2018-08-29 22:09] plioi commented on #1736
Thanks everyone for the troubleshooting and the background information!

The workaround works for me as well as coworkers who were experiencing the same issue, and now I know what changes to make to my own NuGet package to avoid the problem in the first place.

[2018-08-29 22:09] #1736 closed

[2018-08-30 00:27] rchouser opened #1754 "Trx not found after Visual Studio 2017 installation on build VM"
## Description

## Steps to reproduce

Run: "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe" c:\ba\2\s\Applications\InputIntel\InputIntel.UnitTests\bin\x64\Release\netcoreapp2.0\InputIntel.UnitTests.dll /Diag:c:\temp\console.txt /Settings:"c:\ba\2\s\Applications\InputIntel\TestCommon\test.runsettings" /TestAdapterP

[2018-08-30 01:29] codito commented on #981
@joymon it seems to work for me, here's what I tried:

[code]

Please don't check-in the exe in any case :) As an alternative, consider adding a step in your CI to download the nuget package directly. Like this in powershell script:

[code]

[2018-08-30 02:37] vikasillumina commented on #981
@mpetito Thanks once again for your input and I was able to get the Coverlet to work without any issues other than creating the Result directory to save the output file on Windows (few team members use windows for local development) On mac it worked like charm! I didn't need to do any conversion just used this command:
`dotnet test %csproj file% /p:CollectCoverage=true /p:CoverletOutput='./Results

[2018-08-30 06:34] singhsarab commented on #1747
@mayankbansal018 this is unexpected. Any ideas?

[2018-08-30 06:38] mayankbansal018 commented on #1747
@singhsarab , no idea, closing of the App is handled by runtime provider, we can ask UWP team to see what logs we can enable to understand, why it has stuck.

[2018-08-30 10:37] MoiMoiDG opened #1755 "Code Coverage enabled breaks reporting"
## Description

In TFS 2018.2 CI build, enabling code coverage breaks reporting of test results (and code coverage itself).

## Steps to reproduce

TFS 2018.2, code coverage enabled. See details below.

## Expected behavior

Enabling code coverage shall show the code coverage, disabling it shall not compute it or hide the results.

## Actual behavior

Enabling code coverage breaks test results.

#

[2018-08-30 18:45] kendrahavens commented on #1685
Hey, I'm sorry it took a bit to get this routed to us. Is there still interest in this issue with the current options?

If you are interested in what behavior would fit well with the Test Explorer, I can provide an example of how xUnit data-driven tests are currently displayed. It's similar to your example screenshot above.
![image](https://user-images.githubusercontent.com/8293542/44868367-7cb5b3

[2018-08-30 21:22] x2048 opened #1756 "Tests get executed with compatibility level of .NET Framework 4.5.x"
## Description
When using Microsoft.NET.Test.SDK to execute tests, e.g. xUnit tests, compiled for a recent version of .NET Framework (e.g. .NET 4.7.1), the code of the tests is always executed at compatibility level of .NET Framework 4.5.x.

For example, tests that rely on TLS 1.2 being supported by default will fail.

## Steps to reproduce

  * Check out [Example](https://github.com/x2048/vstest-

[2018-08-31 06:53] prawalagarwal commented on #1750
@jawn Any updates here?

[2018-09-01 17:09] acesiddhu commented on #1754
@rchouser as mentioned over mail, this is happening because the runsettings you are using has empty resultsdirectory. either remove the node or give a proper resultdirectory

[2018-09-03 06:15] singhsarab commented on #1749
@ViktorHofer Gentle ping.

[2018-09-04 07:00] ObeA opened #1757 "Avoid usage of JsonConvert in test host process"
Putting the following code in a test case, or executing something like this some where in your application wil cause tests to run indefinitely. My guess it is messes up the communication with VSTest, because JsonConvert will fall back to the settings returned by JsonConvert.DefaultSettings.

[code]

I've found that JsonConvert is being called [here](https://github.com/Microsoft/vstest/blob/7b62482

[2018-09-04 09:11] singhsarab commented on #1750
Closing this issue for now.
@jawn Please let us know if you are still facing this issue, I will re-open. Thanks.

[2018-09-04 09:11] #1750 closed

[2018-09-04 17:33] JeremyKuhne opened #1758 "Need a way to specify the config file for dotnet test"
## Description
This is coming up more and more with users porting from .NET Framework to .NET Core and looks like it might become critical for 3.0.  For example: https://github.com/dotnet/corefx/issues/22101. System.Configuration loads configuration files next to the launching "app". In the case of `dotnet test` the configuration file is `testhost.dll.config`.

On .NET Framework you customize your

[2018-09-05 08:48] pvlakshm commented on #1732
I will close this - let me know if there are any concerns.

[2018-09-05 09:59] ShreyasRmsft commented on #1757
@ObeA can you please provide us with a basic sample repro? Create a github repo with a bare minimum project where this repros and we'll take it from there.

[2018-09-05 10:13] ObeA commented on #1757
@ShreyasRmsft you can reproduce it by running the test case in https://github.com/ObeA/vstest-issue-1757.

[2018-09-05 10:15] ShreyasRmsft commented on #1757
@ObeA thanks, we'll get back to you on this.

[2018-09-05 10:40] ShreyasRmsft opened #1759 "Logging issue when it comes to assembly bind failures"
## Description
When test run is aborted due to an assembly load failure a proper error message does not appear in the run logs. This can only be inferred via the diag logs today.

## Steps to reproduce
Add a random redirect in the test dll config file or remove a dependent dll from the test dlls

## Expected behavior

## Actual behavior

## Diagnostic logs
`Failed to run the tests. Reason: System.

[2018-09-05 10:46] mayankbansal018 commented on #1747
@MSLukeWest , can you please help here.

[2018-09-05 12:26] remiX- commented on #862
So is this possible now? :|

[2018-09-05 21:31] MSLukeWest commented on #1747
Can you describe the behavior of the app in this case?  When you see this message is it still running?  And if so what happens when you close it?

@mayankbansal018 - There is an issue on the test platform side here as well.  It's calling CleanTestHostAsync twice, presumably because the first one failed.  That's why we see two instances of the message "Closing app with package full name 'dummy'".

[2018-09-06 01:39] JunielKatarn commented on #1732
@pvlakshm  What channel should I reach if I want to address this at a development level?

I fail to understand how needing to create a file just to get the full test names is a "design" decision.
Moreover, as @phatcher says, running tests (C++) forces the developer to give redundant and long names because the test class or name space just won't be output.

Is this also by design?

[2018-09-06 07:08] Delphinidae84 commented on #1747
@MSLukeWest Yes, the app is still running (I can see it) when I see the message. If I kill the Jenkins job, The app and the process (Task-Manager) are still running, so still I can see the app. If I close the app nothing special seems to happen, both the app and the according process are being stopped.

[2018-09-06 10:02] ShreyasRmsft commented on #1755
@MoiMoiDG take a look at issue https://github.com/nunit/nunit3-vs-adapter/issues/519

Nunit does not support running tests with code coverage run while using the vstest platform tool installer.

[2018-09-06 13:14] ObeA commented on #1757
Great! Sounds excellent. Can you give any indication of when this should be fixed?

[2018-09-06 18:28] jainaashish commented on #1692
I also raised this[ feedback ticket](https://developercommunity.visualstudio.com/content/problem/325145/test-explorer-window-hangs-after-rebuilding-the-pr.html?childToView=326005#comment-326005) for the same issue. And IMHO this feels like a broken scenario. I installed the latest VS 15.8 and opened an existing solution and tried to run tests. If Test explorer window has hard dependency on some sd

[2018-09-07 06:15] #1643 closed

[2018-09-07 06:59] singhsarab opened #1760 "TestPlatform.CI.Real is broken"
## Description

## Steps to reproduce

## Expected behavior

## Actual behavior

[2018-09-07 18:36] vikasillumina commented on #705
@livarcocc this is quite a long thread and after reading all the comments I unfortunately don't see the solution for running all the tests (at least at the test class level) for a given list of test projects using the `dotnet test` cli.  :(

Do you or anyone else have a suggestion?
I am currently running all the tests sequentially like this:
`dotnet test test.proj`
where test.proj is a msbuild sty

[2018-09-07 18:51] AbhitejJohn commented on #1692
@jainaashish : Test Explorer or the platform does not take a hard dependency on an sdk. It picks up whatever the test app specifies. The VS installer AFAIK downloads only the latest stable sdk. you might want to look at additional components to install 1.* sdks or pull the one the app requires from the downloads page.

[2018-09-09 19:45] MoiMoiDG commented on #1755
@ShreyasRmsft: Thank you the reply. I had a look at the linked issue, but I could not find any information to solve my problem.

[2018-09-10 02:43] philiparvidsson opened #1762 "vstest.console.exe missing colors when run through some other process"
## Description
Colors are missing from output when run through, e.g., Gradle.

## Steps to reproduce
1. Run any tests with vstest.console.exe through some other process, e.g., Gradle.
2. Look at output.

## Expected behavior
Output text is colored.*

*) Actually, it's probably the pipe provided by Gradle that doesn't report color support properly. However, with MSBuild, this can be fixed by using

[2018-09-10 05:57] ShreyasRmsft commented on #1755
@MoiMoiDG as of now this hasn't been fixed. We have to go fix it in the Nunit adapter. Until then you may want to use VS instead of the vstestplatformtool installer for running Nunit tests with code coverage

[2018-09-10 21:59] #1760 closed

[2018-09-10 22:03] singhsarab commented on #1733
@amolraut86 Closing this issue for now. Please let us know if you are still hitting the issue, We'd re-open the issue.

[2018-09-10 22:03] #1733 closed

[2018-09-10 22:09] singhsarab commented on #1734
@mayankbansal018 @cltshivash Thoughts?

[2018-09-11 01:55] cltshivash commented on #705
@vikasillumina We are working on fixing the issue of running tests from different projects in a solution and should have an update soon. If there's a repro for your issue, please do share it so that it is validated as well.

[2018-09-11 02:03] VictorioBerra commented on #705
I'm confused why most of you can't just parse all the resulting test result files in your CI/CD environment like Bamboo, Jenkins, VSTS/TFS, TeamCity, you name it. All of those support parsing a variety of test result files and as many as you need.

[2018-09-11 02:04] cltshivash commented on #1732
@JunielKatarn We show the display name of the tests when executed using vstest.console.exe. Visual Studio does show the same display name but under a hierarchy of namespace/classname that helps in distinguishing the test methods. ListFullyQualifiedName option is something that we want to remove at some point. Are you looking for an option to just display the FullyQualifiedName ? If you can let us

[2018-09-11 08:52] phatcher commented on #1732
@cltshivash We are using both NUnit3 for dotnet and GoogleTest for C++ code.

I would like the ability to cluster the tests under assembly + namespace + class as per Visual Studio, I'm not sure what you mean by container, I can see options for Test Suite, but we are not using that so we get something like this...

![image](https://user-images.githubusercontent.com/192778/45349016-15d1bc00-b5a8-11e

[2018-09-11 12:32] nzandy commented on #705
@VictorioBerra using your solution means every time you add a new test project to your solution, you then have to remember to go and update the static list of test files in your CI server, Alternatively you can create a hacky bit of powershell that iterates over some pre-defined folder structure convention, which is not viable in many use cases.

In-built support of running all test projects in a

[2018-09-11 19:51] ViktorHofer commented on #1749
Sorry for the late response, I was OOF for a few days.

Sure that's an option but we want to use a different host for testing than for building (in corefx we currently use a minimal dotnet host which is only used during testing). Also for an optimal inner loop dev scenario we want to avoid setting local environment variables and launching VS from bash.

[2018-09-12 06:35] mariuszjamro commented on #705
@VictorioBerra that's what most of us do. It means additional work. We don't wont to do that. It adds no value.

Having test and non-test projects in one solution is a common approach. Running all tests in a solution is a common use case.

[2018-09-12 09:38] JunielKatarn commented on #1732
@cltshivash The main issue is not listing the tests, but running them.
Even if the switch to list the existing tests is to be phased out, running C++ tests (Microsoft Unit Test Framework) also shows the test name without the containing test class or namespace prefix.

Not all workflows, especially automated ones can rely on Visual Studio to tell the fully qualified test name.
We need to be able to

[2018-09-12 13:21] grondinjc opened #1763 "Generated trx does not contain test categories of native tests"
When launching `vstest.console.exe` with the logger type `trx`, tests categories defines on test methods are extracted into the trx for managed tests **but not for the natives ones**.

## Steps to reproduce
I made an isolated solution that contains both a c# and a c++ project that have unit tests.
To reproduce my setup, open the solution, compile, run the script `trx_generator.bat` and analyse the

[2018-09-12 13:39] VictorioBerra commented on #705
@nzandy that's not true at all. Most test result parsers can glob. Just output your test results to the same folder. That's not even remotely hacky. If you keep all your tests in a folder structure then you can loop and run your tests. See my cake example above. Literally the only difference between my solution and the solution everyone is asking for is one single loop to run tests.

[2018-09-12 16:40] vyadh commented on #705
@VictorioBerra for me, the argument doesn't involve a CI system. I just want to go into a solution and type 'dotnet test' pre-commit. I was pretty surprised that didn't work.

[2018-09-12 16:47] VictorioBerra commented on #705
I can sympathize. Considering commands like `dotnet sln My.sln src/**/*.csproj` seem to work you would assume that could work for testing. Who knows, maybe it does?

[2018-09-13 15:47] StuffOfInterest commented on #981
Even with the 15.8 tools there appears to still be issues with code coverage running under some scenarios.  I was able to get the command line to work on my local PC.  When I tried adding it to a TFS build things didn't go so well.  The command that ran was:

[code]

What came out was many, many instances of errors like this:
[code]

This is being run on a build server with TFS on premises.  The b

[2018-09-13 20:35] tmat opened #1764 "Remove dependencies from Microsoft.Net.Test.Sdk"
The Microsoft.Net.Test.Sdk package depends on the following packages, which causes these dependencies to flow to unit tests, potentially causing conflicts with other dependencies that the tests have. The test runner should not leak its implementation details. Please remove all these dependencies from the package nuspec.

[code]

[2018-09-14 03:02] MatthewLymer commented on #1129
A solution which I've been using is to generate a solution on the fly using the `dotnet new sln` and `dotnet sln add` commands.

[code]

I run this in bash, I couldn't get the globbing pattern `./tests/**/*.csproj` to work right under Windows, but my build server is linux so it works on my machine (tm).

[2018-09-14 11:12] JamesFenton commented on #1590
Hi, our team has just hit this problem. I agree with @joaopgrassi, this is a breaking change for users. `dotnet test` used to correctly report tests to TeamCity, and now it does not. I imagine `dotnet test` was supposed to make it easier to run tests, but the xunit and TeamCity integration has had multiple bugs.

[2018-09-14 11:51] dtretyakov commented on #1590
@JamesFenton, did you tried using logging verbosity parameter mentioned above? https://github.com/Microsoft/vstest/issues/1590#issuecomment-393460921

[2018-09-14 12:39] JamesFenton commented on #1590
@dtretyakov I did try it, and it does work. Its just annoying that `dotnet test` does not work out the box - I had to find a Github issue so that my build worked.

[2018-09-14 21:52] AraHaan opened #1765 "Cannot see Code Covarage on xUnit test projects."
## Description

## Steps to reproduce

Create a normal test project with the normal test project template that produces MSTest references and code.
Remove the MSTest references and add "Codecov", "OpenCover", "xunit", and "xunit.runner.visualstudio".
Target .NET Framework 4.7.2.
Change up the code to how xUnit works on them.
The Code Coverage for test explorer option then just does not show up on

[2018-09-14 21:55] #1765 closed

[2018-09-17 00:31] mvarblow commented on #862
This still doesn't seem to be possible. Can this issue be reopened?

[2018-09-17 06:51] singhsarab commented on #1749
@ViktorHofer
Any reason, why we avoid setting local environment variables and launching VS from bash?

One basic principle we follow is to avoid adding new tags in Runsettings unless absolutely necessary. Reason being, adding is easy, removing is difficult. This ask is very specific to this particular scenario. And given there is already a workaround for this, I am not able to make a case.

Anothe

[2018-09-17 08:34] zootyzoot commented on #862
I also need to be able to modify TestRunParameters from cmdln.
Please re-open this issue.

[2018-09-17 10:15] ShreyasRmsft commented on #1764
@tmat those are necessary dependencies for the testplatform to function. This is a meta package and the purpose it to bring in these transitive dependencies via the meta package.

Please use the following option to instruct the testplatform to load the dll.config of the test sources and thus picking up the versions of these dlls that your tests are specifying in their dll.config files

<RunSetting

[2018-09-17 11:07] kaadhina commented on #1763
@grondinjc There is an attribute called TestCategory for C#, but I don't think there is an equivalent attribute for cpp though. Neither does your sample use any such attribute for the cpp project.
Can you mention the exact attribute that you don't see reported in the trx?

[2018-09-17 12:14] ShreyasRmsft commented on #1755
@MoiMoiDG please follow the workaround for now. Will track the issue in the one filed on the NUnit Adapter side

[2018-09-17 12:14] #1755 closed

[2018-09-17 12:18] StuffOfInterest commented on #981
@mayankbansal018 , I'm seeing the issue very consistently.  All is happening with netcore.  The memory footprint is not excessive.

First, a bit of background.  I'm converting over an existing code base of libraries from .NET Framework to .NET Standard.  There are currently six library projects.  Each library project has a unit test project targeting .NET Core 2.1.  Across the six test projects th

[2018-09-17 17:06] grondinjc commented on #1763
Hi @kaadhina,
I am well aware of the c# attribute TestCategory (from namespace Microsoft.VisualStudio.TestTools.UnitTesting). Indeed, there are no identical equivalent in c++ because the language does not support decorated methods the same way. However, the equivalent is done using macros.

As shown in many example (**see vstest_issue_testcategory.zip from my initial post**), the **TEST_METHOD_ATT

[2018-09-17 17:59] ViktorHofer commented on #1749
Yes two reasons:

- We use a different dotnet host for testing than for building
- We want to provide a dev flow that doesn't require setting environment variables and launching VS from bash.

[2018-09-17 19:55] tmat commented on #1764
@ShreyasRmsft Why are they necessary? Why does TestPlatform need to add these dependencies to test projects?

[2018-09-18 06:10] ShreyasRmsft commented on #1764
@tmat they are required by the testhost process and the way we leverage these dependencies in the dotnet core world is via the meta package.

[2018-09-18 06:11] ShreyasRmsft commented on #1764
@singhsarab to provide a more detailed explanation

[2018-09-18 08:34] ashish2rathi commented on #838
I am also facing the same issue while debugging with native code. I tried this with visual studio 2017  version 15.8.4. The native projects are migrated from visual studio 2008 to visual studio 2017 directly. The applications runs perfectly but when I try to debug it just step over the native function call.

[2018-09-18 08:51] kaadhina commented on #1763
Okay, I understand the ask. I will mark this as enhancement and add this ask to our backlog. But please note that this is not a priority for us right now, since we have not had any other asks.
Can you also please specify your complete scenario and why this is important for you?

[2018-09-18 09:28] singhsarab commented on #1764
@tmat
- For UWP projects, we need those dependencies need to be part of the appx container along with the test dll.
- For NetCoreApp, TestHost dependency is required to find the path to the testhost.dll which is the actual host where the adapter gets loaded and tests run. Also, in case of publish of test project, we want testhost.dll to get copied next to the source.
- Code coverage nuget is for b

[2018-09-18 11:39] grondinjc commented on #1763
@kaadhina
This is needed for a continuous integration system that is integrated within VSTS that ends up using MTM. Those attributes are then use to categorize test methods in the proper test cases and test suites.

Having that feature, a complete scenario usage would be :
1. Decorate test methods with metadata specific to my usecases
2. A release definition is trigged using VSTS release managemen

[2018-09-18 12:49] MoiMoiDG commented on #1755
@ShreyasRmsft: Thanks for the reply. I understand to keep the other issue open, but the workaround is not that easy for me, because I would need VS Enterprise on each machine running the tests. Is there any other solution but switching from NUnit to MS Test?

[2018-09-18 14:07] remiX- commented on #862
Yes pleaaase

[2018-09-18 15:37] tmat commented on #1764
Indeed.

To repro, clone repository https://github.com/tmat/roslyn and checkout branch `NS20-VSTest`.
Run `restore` from the root of the repository.

You'll see the following errors:

[code]

If you change this line in `build/Targets/Packages.props`:

[code]

to
[code]

The `restore` completes successfully. The version 15.9.0-dev2 of the package is a custom build that I produced from vstest repo w

[2018-09-19 01:13] JoshuaKGoldberg commented on #799
@Faizan2304 this is not working for me using `dotnet test`. No `System.Console.WriteLine` output shows up during unit tests.

Could you please re-open the issue? This is still broken for many.

[2018-09-19 10:16] cltshivash commented on #1732
@phatcher The UI for the test tab shows the test results grouped under the test file (in case of C++ it would be the dll). The name displayed is the DisplayName of the test case. Grouping based on namespace and class is not available in Azure Devops (VSTS). I would forward this to the concerned product owner and would recommend to open developer community ticket for this feature so that others can

[2018-09-19 10:18] cltshivash commented on #1732
@JunielKatarn You can selectively run tests specifying the FQN as filter. https://github.com/Microsoft/vstest-docs/blob/master/docs/filter.md. Do let us know if this isn't sufficient.

[2018-09-19 20:56] KarlZ commented on #1655
Which version of Visual Studio will work with Microsoft.CodeCoverage 15.8.0?
I believe this is the same issue we face when trying to upgrade Microsoft.CodeCoverage from 1.0.3 to 15.8.0 as the Build environment on Azure DevOps for a Hosted VS2017 Agent has VisualStudio/15.8.1+28010.2003 installed.

[2018-09-20 14:32] ViktorHofer commented on #1749
So we discussed that topic internally and it seems in fact we don't need to tell the test framework to use a different host but to use the same as the project-system does. We pass the host via the StartProgram/RunCommand (launchSettings.json) same as the usual customer does.

If I'm right the test-framework currently determines the host in the specific order (https://devdiv.visualstudio.com/DevDiv

[2018-09-21 03:58] gtbuchanan opened #1768 "dotnet vstest only supports one framework at a time with multiple test projects"
## Steps to reproduce
Running the following command fails in our environment because we have multiple test assemblies targeting different frameworks (netcoreapp2.0 & net461):

[code]

## Expected behavior
dotnet vstest should infer the framework for each assembly and create a single output file

## Actual behavior
The test run is aborted with "Unable to find tests" because all test assemblies are

[2018-09-21 05:15] smadala commented on #1756
@x2048 It is Adapter(xunit) responsibility to set right target framework while running tests. Can you please create an issue at https://github.com/xunit/xunit/issues .

FYI, MSTest V2 sets the right target framework, See the patch [mstest.txt](https://github.com/Microsoft/vstest/files/2404023/mstest.txt)

[2018-09-21 05:15] #1756 closed

[2018-09-21 05:33] kaadhina commented on #1763
Thank you.
Right now, the only workaround I can think of is to add some sort of a prefix to test method name to identify the category, such as TestCategory_TestMethodName.
I will get this added to the backlog though. Thanks for the feedback!

[2018-09-21 06:43] singhsarab commented on #1749
@ViktorHofer Thank you for note.
This seems like a better approach to me. Can you please help me get a better understanding of these environment variables passed in via launchSettings.json ?
If you think it is a small change in the code you pointed out, feel free to contribute. :)

[2018-09-21 07:47] ShreyasRmsft opened #1769 "Test stack trace when exception is thrown from both try block and finally block"
## Description

[code]

## Steps to reproduce

## Expected behavior

## Actual behavior

[TryFinallyDebacle.zip](https://github.com/Microsoft/vstest/files/2404354/TryFinallyDebacle.zip)

[2018-09-21 08:55] smadala commented on #1769
Console app prints `Exception("1")` stacktrace. But both the xunit and mstest v2 prints `Exception("2")` stack trace. This bug should be logged on adapter.

Below is console app output.

[code]

[2018-09-21 08:55] #1769 closed

[2018-09-21 08:57] ViktorHofer commented on #1749
@davkean can you please assist here? How can the test framework ask the project system for the right executable and other stuff defined in the launchSettings.json / Run props?

[2018-09-21 08:58] smadala commented on #1768
Currently `dotnet vstest` supports only running one kind of target frameworks(Full or Core). This is as per design.

We suggest running `dotnet vstest` for each target framework separately.

[2018-09-21 09:09] vagisha-nidhi opened #1770 "Logging error messages in case of exceptions like AccessViolation"
## Logging error messages from test host
We don't get test run aborted when an AccessViolation occurs in full framework. The call stack is is available in the error stream of the process in full framework but not in net core.
As in the example, Test Run successful is reported althought the test run aborted due to Access  Violation.
[code]

Exceptions like these cannot be caught and need special at

[2018-09-21 10:37] roblframpton commented on #799
Could this be re-opened?  It is clearly not fixed for a very large number of users.

Incidentally, is there anyone for whom `ITestOutputHelper` nor `dotnet -v n` is working?  I simply cannot debug my tests because I can't see what's going on at all, and nothing is helping.

[2018-09-24 09:15] acesiddhu commented on #1531
@asartem as @vagisha-nidhi said I see one test result and one stack trace and exception (in latest VS). I am closing the issue for now. if you have a sample test with repro please share it with us.

[2018-09-24 09:15] #1531 closed

[2018-09-25 05:47] ssrakesh commented on #1655
Is there any update on this issue?

[2018-09-25 06:45] ObeA commented on #1757
@ShreyasRmsft any updates?

[2018-09-26 05:00] #1392 closed

[2018-09-26 08:37] jayaranigarg commented on #1655
@ssrakesh: This is a bigger change and unfortunately this will not be a part of VS 2017. This will be done as part of next VS release.

[2018-09-28 16:40] josepmc opened #1772 "FileExtension is not being respected"
## Steps to reproduce
- Use the sample project encountered here: https://github.com/josepmc/githubtestadapter
- Run `dotnet test'

## Expected behavior
One test would be detected, and 'RunTest' would be diplayed in the console.

## Actual behavior
No tests are detected. If the 'FileExtension' is changed back to 'dll' then one test will be detected.

## Environment
- Windows 10

It's worth mentioni

[2018-09-28 17:10] livarcocc opened #1773 "dotnet test verbosity level for test output only"
_From @codefactorydevelopment on September 28, 2018 14:10_

If we want to have a list of tests passed in test suite (only overall stats), we need to use at least
`dotnet test -v n`
verbosity level. But, that one comes with a whole bunch of build output info also.

It would be nice to have a verbosity level that would show tests that were run in suite but without all the build info.

_Copied from o

[2018-10-01 09:58] jayaranigarg commented on #1773
@codefactorydevelopment: you can specify  --logger:"console;verbosity=normal" in your arguments to dotnet test to show passed tests.
 Command would look like

[2018-10-01 10:03] jayaranigarg commented on #1772
@josepmc : Thank you for reaching out to us.

FileExtension Attribute is used to specify the extension of test binaries your TestAdapter can execute. Specifying  `[FileExtension(".xml")]` means that your CoreTestAdapter can only execute testcode written in xml files, but since your testcode i.e. UnitTestProject is generating output as '.dll' file, hence specifying '[FileExtension(".dll")]' works.

[2018-10-01 10:36] jayaranigarg commented on #1747
@Delphinidae84 : Can you run your tests from vstest.console and pass --diag:log.txt switch and share those logs with us?

@MSLukeWest : Can you tell @Delphinidae84 which logs he should enable where we can see why first call to CleanTestHostAsync  failed maybe or any such logs which might help debug this issue?

[2018-10-01 10:42] jayaranigarg commented on #1749
@ViktorHofer : Any updates here?

[2018-10-01 12:59] ViktorHofer commented on #1749
I didn't yet get a response from Dave, I also contacted him offline. Let me reach out to him again as I don't know how to follow-up here.

[2018-10-01 20:30] jyotisingh100988 opened #1774 "vstest.console does not create a trx file when logger is used with LogFileName"
When ever i run the below command without 'LogFileName' i can see a new .trx getting created in TestsResults Folder but When i use it there is no .trx file creating but the Log file get created

Can anyone please help. I have tried many combinations to make it work but nothing helps. I need to have both the file .trx and the log.txt file.

[2018-10-02 05:58] dschob commented on #862
Please make this work!

[2018-10-02 14:55] TFTomSun commented on #1129
@livarcocc I ran into the same issue. There's a quite good workaround for that:
create a Directory.Build.targets in the root of your repository with the following content:

[code]
create the file OverrideTest.targets beside the Directory.Build.targets
[code]
what happens here is that the VSTest target is overridden as empty (nothing happens) when the project is not considered as test project by ms

[2018-10-03 07:27] josepmc commented on #1772
@jayaranigarg Correct me if I'm wrong, but here are my assumptions;
- If we use the FileExtensionAttribute, then the platform will invoke the adapter for every file matching this Attribute (according to the parameters through which it was invoked).
- Once invoked, then it's up to the adapter to determine if that file contains a test or not. Another part of the adapter (the executor), will run the

[2018-10-03 07:49] phraemer commented on #1393
Having the same problem.

If I do the following when logged into my PC it works....

[code]

It doesn't work for Jenkins. Same symptoms as the person above describes.

So I wondered if it was something to do with the fact I'm logged in. I set up sshd and connected remotely to the PC, logged in as the same user and launched the tests again as above but in the diagnostic logs I can see that an excep

[2018-10-03 09:11] jayaranigarg commented on #1774
@jyotisingh100988 : Thank you for reaching out to us.
LogFileName is just used to give a custom name/extension(.txt in your case) to your trx file that gets generated. You can't have both the trx file and LogFile.txt with same contents. Refer [this](https://github.com/Microsoft/vstest-docs/blob/master/docs/report.md#2-trx-logger) doc for detailed explanations.

However, if you want vstest.console.

[2018-10-03 12:51] JulienTheron commented on #1524
Hi, we are hit by the same issue. Did the fix make it to 15.9 Preview 3? Thanks.

[2018-10-03 12:58] jayaranigarg commented on #1524
This bug have been fixed in 15.9 Preview2. Make sure your OS version is Windows RS5 and not below that.

[2018-10-03 14:00] jayaranigarg commented on #1772
@josepmc : Can you try moving to latest version of Nuget packages
[code]
and see if things work for you?

[2018-10-03 14:31] smadala opened #1775 "Test project gets skipped silently if `IsTestProject` prop not present."
## Description
No proper information message when skipping running tests in  `dotnet test` scenario
- Tests not running for project with no `Microsoft.NET.Test.Sdk` package for desktop project.
- Running tests without restore.

## Steps to reproduce
- dotnet new mstest -n is-test-project
- dotnet test --no-restore

or
- dotnet new mstest -n is-test-project
- change targetframework to net46
- remov

[2018-10-03 15:52] mayankbansal018 commented on #1393
@phraemer from the diag file it says `System.UnauthorizedAccessException: Access is denied` when we are attempting to deploy to machine, I'm assuming it is local since in your command above you have not specified any IP.

@MSLukeWest can you please check why this could be happening?

@pMaske , apologies, I've not gotten back on this issue yet. Can you please do following

- Make sure you have unin

[2018-10-03 19:29] pMaske commented on #1393
@mayankbansal018 , I was able to get it working again but I can't recall what I did to get it running again 😁 .

[2018-10-03 19:32] pMaske opened #1776 "Re-Run failed tests using vstest command line options."
I am trying to look for command line switches to pass to VSTest.console command to re-run the flaky failed tests. We have lot of tests that rely on real-time data and often times the tests will time out and fail. When re-run, they will most likely pass. I saw this [article](https://docs.microsoft.com/en-us/azure/devops/release-notes/2017/dec-11-vsts#identify-flaky-tests) and was wondering if this

[2018-10-03 20:21] pMaske opened #1777 "/blame switch cannot detect the source of vstest crash when all tests have run successfully."
This is more of a question/puzzle I am trying to solve and looking for some advise. So our unit test are triggered from jenkins . The unit tests are run via vstest comamnd. Occasionally we run into a situation where vstest will crash after all tests are run and are completed. At that point , the jenkins job fails to complete and is aborted after timeout is reached. This results in no trx is genera

[2018-10-04 10:16] ognjenkurtic commented on #558
Still failing with Visual Studio 15.8.6 and xunit 2.4.0. Tried all of the above workarounds to no avail. Running of tests works but debugging fails with
![image](https://user-images.githubusercontent.com/23699661/46467919-51d6f600-c7cf-11e8-9aab-8a2e9461fb2a.png)

[2018-10-04 11:06] abhishkk opened #1779 "On session timeout, blame doesn't collect dump even if collectDump is set to always"
Issue:
Set session timeout to 30 seconds and set collectDump to always.
After 30 seconds, if the tests are still running, session timeout will happen causing test run to end. In this case, dump is not getting generated even if collectDump is set to always.

Expectation:
Dump should be generated even in session timeout case when collectDump is set to always

[2018-10-04 16:32] pMaske commented on #1776
I think it will be a very good enhancement. I think , if relevant tags are provided by platform, this could be easily be achieved by passing values to parameters in test settings file.

[2018-10-05 00:23] shenhong1000 opened #1780 "vstest.console.exe with orderedtest cannot load dependecy"
Tried to run vstest.console.exe orderedtest, but failed to load dependency

## Steps to reproduce
1. Create test.orderedtest file and drop to test assembly folder. See below orderedtest file
2. run vstest.console.exe test.orderedtest --diag:log.txt

## Expected behavior
Test case binary and its dependency should load properly

## Actual behavior
Assembly referenced cannot be found.
Starting test e

[2018-10-05 10:28] josepmc commented on #1772
@jayaranigarg: I tried to upgrade the packages (and updated the project) but I can't get it to detect the file. I am running the following commands:
[code]

And directly with vsconsole, the result being the same:

[code]

[2018-10-05 12:31] abhishkk opened #1783 "Unstable testId (Guid) - with /logger:trx switch"
Original issue:
https://github.com/nunit/nunit3-vs-adapter/issues/547

[2018-10-05 13:51] jayaranigarg commented on #1772
@josepmc : You need to specify
[code]
in your RunTests() methods to inform us(vstest runner) that there were some test results, otherwise it just assumes no tests ran as part of test run and prints "No test available" message.

![image](https://user-images.githubusercontent.com/17309452/46539255-9c419b00-c8d3-11e8-8a06-dfa4193d025a.png)

PS- "RunTests" message is being printed for me clearly signi

[2018-10-05 16:19] abhishkk commented on #1777
@pMaske Blame helps only when some test caused the run failure. In your case, it seems like vstest crashed unexpectedly.
We have one more feature in blame which is to create a crash dump in case of failures caused by a test, and few unexpected exceptions like StackOverflow, AccessViolation etc. Can you please try the option? https://github.com/Microsoft/vstest-docs/blob/master/RFCs/0024-Blame-Coll

[2018-10-05 16:50] #1783 closed

[2018-10-05 19:32] berdon commented on #840
At some point, the cache folder stopped existing in my %TEMP% directory. Doing a rm -rf **/bin **/obj in the project directory fixed the issue.

[2018-10-05 22:13] pMaske commented on #1777
Actually after some more debugging found out that vstest is not crashing by itself. So what happens is, Jenkins triggers the unit tests, After all tests are run the vstest is still hung and process is not completing. It appears some thread is locking it up. While Jenkins job is waiting for trx report to generate, which is not happening because vstest is hung even though all tests have run and comp

[2018-10-05 22:14] pMaske commented on #1777
[2198WPFdiagnostics.txt](https://github.com/Microsoft/vstest/files/2452388/2198WPFdiagnostics.txt)

I can't find any useful info in the diagnostics file either. I saw a similar thread. https://github.com/Microsoft/vsts-tasks/issues/5601

[2018-10-08 09:33] jayaranigarg commented on #1774
Closing the thread. Please feel free to re-open if the above comment didn't unblock you.

[2018-10-08 09:33] #1774 closed

[2018-10-08 09:36] jayaranigarg commented on #1773
Closing the thread. Please feel free to re-open if the above command didn't work for you.

[2018-10-08 09:36] #1773 closed

[2018-10-08 10:37] abhishkk commented on #1777
Currently we don't have option to create process dump on deadlocks.
We only support the ability to collect dump on test failure and few exceptions (like AccessViolation, StackOverflow).

I have opened an issue https://github.com/Microsoft/vstest/issues/1779 to support process dump creation on session timeout which will help debugging deadlocks in future.

For now, you can do following:
1. Log in t

[2018-10-08 19:39] josepmc commented on #1772
@jayaranigarg The tests will run when you use the '.NET Framework' mode (e.g you pass --Framework:".NETFramework,Version=4.6.1" or any similar). But will fail whenever you use the **.NET Core** mode (e.g. you use --Framework:'.NETCore,Version=<any>').

The easiest way to reproduce this is to run it under *NIX systems, where .NET Framework is not going to be present (or in WSL).

Also, with the lat

[2018-10-09 04:40] csoltenborn commented on #1652
I finally wanted to disable the workaround for this bug (I provided the possibility to specify the settings file via an env variable, from which the settings would be loaded if the bug occured), but found out that two of my end-to-end tests are still having the same problem. Since I'm having difficulties identifying the differences to the non-failing tests (the end-to-end tests are generated and a

[2018-10-09 09:07] OlegKarasik commented on #1129
I know this could be a strange solution but I personally do the following.

1. Create a separate solution configuration (I usually name it "Test") using Visual Studio Configuration Manager (**do not** create project configurations, select to copy configuration from the configuration you use for build i.e. "Release").
2. Now set build checkboxes only for Test projects.
3. Execute dotnet test -c Tes

[2018-10-09 10:50] abhishkk commented on #1780
I had a look at your orderedtest file. Can you please confirm following?

1. Why storage attribute value of is "cA:\testcases\test.orderedtest"? Should it not be “c:\testcases\test.orderedtest”? (Open orderedtest in notepad to check this)
`<OrderedTest name="mytests" storage="cA:\testcases\test.orderedtest" id="ed4d22c5-ab9a-4ebd-954f-65ac4c034338" xmlns="http://microsoft.com/schemas/VisualStudio/

[2018-10-09 10:51] jayaranigarg commented on #1772
@josepmc : To run tests using `dotnet` , we need a TestProject.deps.json file to figure out the location of testhost.dll. In your case, since the source is an xml file, you should make sure that the name of your xml file is consistent with the name of *.deps.json file.
Please try renaming File.xml to UnitTestProject.xml and see that you will get 'RunTests' message getting printed.

[2018-10-09 12:40] MeikTranel commented on #630
@codito am i correct that the entire csproj compatible logic is happening in the CLI itself?
This sounds like its gonna use shared resolution logic from the cli. Does this issue belong here? It sounds like it could have lots of impact on the entire dotnet cli.

[2018-10-09 13:58] josepmc commented on #1772
@jayaranigarg Thanks! I can confirm that it does work like this now.
Is there a way to avoid having a .deps.json per each file? My adapter is meant to target .feature files, so I'd like to avoid having a script copying the same .deps.json next to every .feature that I want to have loaded.

[2018-10-09 17:20] shenhong1000 commented on #1780
Thanks Abhishkk

#1, It’s a typo. The actual file has the value “c:\testcases\test.orderedtest”

#2, Yes, “QAApplication.SharedFeatures.exe” is at the same directory as test.orderedtest. This dll can be loaded, however its dependency cannot.

[2018-10-09 17:54] dotMorten opened #1790 "Microsoft.TestPlatform.TestHost NetStandard is missing Utilities and CrossPlatEngine assemblies"
## Description
The NuGet Package Microsoft.TestPlatform.TestHost v15.8.0 has a `Microsoft.TestPlatform.Utilities.dll` dll in the UAP10.0 folder, but this is missing in the netstandard1.5 folder. The result of this is when using the package on anything but UAP10.0 or net45+, you get the following compilation error:

[code]

## Steps to reproduce
Create a Xamarin.Android application and reference th

[2018-10-09 18:02] Crono1981 commented on #996
Having this issue as well.

[2018-10-09 21:07] dotMorten opened #1791 "Make TRXLogger public"
## Description

In order for other test runners or frameworks to generate TRX reports, it would be useful if the TrxLogger class, it's default constructor and Initialize method were made public and published in a NuGet Package (with .NET Standard support).
I successfully referenced the TRX Logger source code myself and called these two methods, and was able to generate TRX Reports with just these

[2018-10-10 06:43] jayaranigarg commented on #1772
@josepmc : Glad to know it worked for you.

There is currently no way to avoid deps.json. In dotnet world, we need testhost.dll to run the tests and currently we figure out the location of testhost.dll from deps.json file only. This is how it has been designed. To de-couple these things, we will have to make some design changes on our end.

Tagging @singhsarab @mayankbansal018 @cltshivash to see i

[2018-10-10 08:28] josepmc commented on #1772
I am happy to use a deps.json for .NET Core. However, I believe it would make sense to support the flag `--additional-deps` that is supported by dotnet (but not MSTest).
Using that we could have one dependency per project (e.g point always to the same dependency file) instead of having to do something like `DEPS="$(pwd)/foo.deps.json" find -name "*.feature" -execdir sh -c 'cp $DEPS $(basename "{}"

[2018-10-10 11:31] smadala commented on #1791
@dotMorten Are you planning to create PR for creating NuGet package?

[2018-10-10 12:40] dotMorten commented on #1791
@smadala I could, if you can tell me where to start

[2018-10-10 15:55] livarcocc opened #1794 "Add "!~" operator to test filter"
_From @mano-cz on October 10, 2018 8:12_

## Steps to reproduce
run "dotnet test Some.csproj --filter FullyQualifiedName!~Some.Namespace"

## Expected  behavior
Not contain operator will work.

## Actual behavior
Not contain operator is not implemented yet.

## Use case
Parallelization of test execution according to namespaces e.g.:
#1 thread - filter on few namespaces
#2 thread - filter on other

[2018-10-10 15:57] livarcocc opened #1795 "Setting environment variables for tests"
_From @bbc2 on October 10, 2018 9:47_

Environment variables can be set for `dotnet run` with `launchSettings.json`.  However, I couldn't find an equivalent for `dotnet test`.  Does that exist?  If not, would adding it be considered?

My use case is the setting of `CORECLR_*` environment variables for attaching a profiler to the CoreCLR.  You can set the variables before calling `dotnet` but then

[2018-10-10 18:11] pMaske commented on #1776
@PBoraMSFT do you think this is a feasible enhancement?

[2018-10-10 21:14] NDDeveloper13 opened #1796 "VS Test task fails for data-driven tests that use TestCase as data source"
I have the following setup:
- Compiled my solution with my test assemblies in 15.9.0 Preview 3 (I have also tried 15.8.6)
- VSTS Agent version 2.141.0 (I have also tried other agent versions including 2.140.2)
- Test agents are Win10 OS
- On-Premise TFS 2018 Update 3

I have a release definition with the following steps:
- VsTest Platform Installer installing the latest pre-release (15.9.0)
- Copy

[2018-10-11 06:04] jayaranigarg commented on #1524
@pMaske : RS5 would be v1809. It became installable in last week.

[2018-10-11 06:58] jayaranigarg commented on #1749
@ViktorHofer : Did you get a chance to follow up with Dave?

[2018-10-11 08:30] #1775 closed

[2018-10-11 10:53] smadala commented on #1791
@dotMorten Nuspec file location is https://github.com/Microsoft/vstest/tree/master/src/package/nuspec .
After build.cmd `.\artifacts\Debug\packages` location contains nuget packages.

[2018-10-11 11:02] abhishkk commented on #1796
@NDDeveloper13 There were various issues in test case data driven based tests. We have resolved them in 15.9 preview 4 which will be publicly available on 23rd October.

You don't need to do this when you try in 15.9 preview 4 once available.

You will be able to resolve this issue with 15.9 preview 4 along with using Test.TestCaseAccessToken variable.

Closing this issue for now. Please re-open i

[2018-10-11 11:02] #1796 closed

[2018-10-11 14:33] NDDeveloper13 commented on #1796
We are still working with old VS 2013 test controllers and test agents and have been trying to upgrade to use build/release definitions for years, but have been unable to because all of the features supported with lab center and automated testing within MTM were not supported with build/release definitions. The last piece of it was data-driven testing.

TFS 2018 RTW release notes states:
"Support

[2018-10-11 22:08] NDDeveloper13 commented on #1796
I have come up with a solution that removes the dependency on a fix being available for data driven tests using test cases. I'm posting it here so that maybe it will be useful to someone else.

1. Remove the DataSource attribute for data-driven tests using test cases and replace with this:
    [TestProperty("DataSourceTestCaseId", "52550")]
2. In your test initialize, put the following code:
if (T

[2018-10-12 09:44] abhishkk commented on #1777
@pMaske Closing this issue as we are tracking this new support request via https://github.com/Microsoft/vstest/issues/1779

[2018-10-12 09:44] #1777 closed

[2018-10-12 15:07] #1772 closed

[2018-10-12 20:43] robdalsanto opened #4157 "Feature request - add custom data to TRX result output - extend TestResultType"
We have some automated tests we are trying to use to measure and track functional performance in a specific area. Some of what we want is already in the TRX file, e.g. "Duration". It would be helpful if we could add additional properties, so we are not trying to parse the StdOut of the TRX.

One mechanism I could imagine is to extend the TestContext to have an additional Dictionary<K,V>, say Resul

[2018-10-13 17:06] josepmc commented on #1772
For anyone coming across this issue, this is what you need to do:
- Create your .NET adapter, publish it to NuGet (if you want)
- Create a sample project (e.g. 'testProject') that just imports the .NET Adapter
- Build the project (you can use a nuget.config to get the dependencies into a folder). Take the .dll (e.g. testProject.dll), .deps.json, .runtimeconfig.json, .runtimeconfig.dev.json as you'

[2018-10-14 13:16] ledped commented on #1425
Does anyone know where the metadata that is used to sort according to the different "Sort by" options is stored?
My teammates and I are getting very different outcome, when sorting by the same "Sort by" and even different quantities of tests, when using the Test Explorer, although we are cloning the same Git Repo.

[2018-10-15 13:38] mayankbansal018 commented on #1780
@shenhong1000 from the logs it says that it failed to find file "Mita.Foundation", can you please enable fusion logs, & check what all are the resolving paths for this dll?

`Message: Test method TestCases.Platform.Sandbox.ExecutionTests.AsynchronousIsolatedSimpleSdkPlugin threw exception:
System.ArgumentException: Unable to locate the file
Parameter name: value ---> System.IO.FileNotFoundExceptio

[2018-10-15 18:34] kendrahavens commented on #1425
@ledped That sounds like a bug. Feel free to open an issue on [developer community](https://developercommunity.visualstudio.com).  A repro solution with the branch you are seeing this on is always super helpful!

(Sorry to redirect you there. This issue was meant more for design discussion.)

The metadata used to sort depends on what test framework you are using. In the bug, could you provide what

[2018-10-16 10:56] kaadhina commented on #1795
Thank you for your feedback, but please note that for profiling scenarios, we recommend using data collection, which sets env vars on top of testhost where the tests are actually run.
Here is a link that can help you get started: https://github.com/Microsoft/vstest-docs/blob/master/docs/extensions/datacollector.md

[2018-10-16 11:45] mayankbansal018 commented on #981
@StuffOfInterest , apologies for getting so late on this. Can you please create a separate bug for your issue, & see if you can attach a repro project to it.
At the very minimum please do attach the diagnostics logs that you get when you generate Code Coverage for your projects.

[2018-10-16 14:59] maxime645 opened #1797 "vstest language setting"
I am currently working on a script to run some Unit Tests for a precommit hook. Everything works fine, except for the display language of vstest is in French. Everytime I run my script with git bash, there is this message that comes up "▒chec de la s▒rie de tests." (for "tests failed"). Used with VS17, I get the following message "Unable to translate bytes [90] at index 0 from specified code page

[2018-10-16 15:21] mayankbansal018 commented on #1794
@mano-cz, we don't support similar to(~) operator, with not(!), however we support similar(~). For more queries related to filters please go through https://github.com/Microsoft/vstest-docs/blob/master/docs/filter.md

However if you exact ask is !~, that would be an enhancement on our part

[2018-10-16 16:18] JohnGalt1717 commented on #981
Still requires Visual studio and isn't a dotnet.exe function so it doesn't work in docker for instance. And using coverlet etc. is VERY slow and often fails.

This needs to be independent of Visual Studio and just work as part of dotnet.exe

[2018-10-16 21:09] carlosrpg commented on #981
Not resolved to me, If enable code coverage I get the following error: (I'm using on TFS)
`2018-10-16T20:56:55.6793227Z Microsoft.VisualStudio.TestPlatform.ObjectModel.TestPlatformException: Failed to initialize client proxy: could not connect to test process.
2018-10-16T20:56:55.6793768Z    at Microsoft.VisualStudio.TestPlatform.CrossPlatEngine.Client.ProxyOperationManager.SetupChannel(IEnumerabl

[2018-10-17 00:43] SIkebe opened #1798 "v15.9.0 release info missing"
## Description
Microsoft.NET.Test.Sdk v15.9.0 seems to have been released 1 week ago.
https://www.nuget.org/packages/Microsoft.NET.Test.Sdk/15.9.0

However the release page in this repo doesn't have that version.

[2018-10-17 00:57] SIkebe opened #1799 "v15.9.0 shows wrong version"
## Description
Microsoft.NET.Test.Sdk v15.9.0 shows wrong version in console.

## How to repro
[code]

## Expected behavior
[code]

## Actual behavior
[code]

[2018-10-17 04:58] Bhattaha commented on #1469
how to find out exactly which test has failed

[2018-10-17 09:30] singhsarab commented on #1799
@SIkebe This version for the command line tool is *NOT* the same as the Microsoft.Net.Test.Sdk version. This is the version of the test platform component that gets shipped with dotnet cli.
Installing the latest dotnet SDK should update this version.

[2018-10-17 09:32] mayankbansal018 commented on #981
@JohnGalt1717 , the coverage support is not longer tied to Visual Studio, & is available with dotnet.exe. Can you please try it again with latest dotnet.exe, & make sure you also have latest version of Microsoft.Net.Test.SDK. Please let me know if you face any errors with it.

@henryJack As mentioned previously, it is part of our black log, we are exploring what all gaps we need to fill, to move o

[2018-10-17 09:56] SIkebe commented on #1799
Thank you for clarification! I found this.
https://github.com/dotnet/cli/blob/v2.1.403/build/DependencyVersions.props#L56

[2018-10-17 09:56] #1799 closed

[2018-10-17 11:31] mayankbansal018 commented on #1790
@dotMorten , `Microsoft.TestPlatform.Utilities.dll` shouldn't be a build time dependency, can you please share the exact build errors you are facing?

[2018-10-17 11:50] mayankbansal018 commented on #1797
@maxime645 Can you please set env variable `DOTNET_CLI_UI_LANGUAGE=en-US`, at system level, & then restart VS, it should display information in English

[2018-10-17 13:04] maxime645 commented on #1797
That didn't do the trick, results are still in French...

Here is a screen that might help understand my situation

![image](https://user-images.githubusercontent.com/42465940/47088015-ca9d6f80-d21d-11e8-867d-e75dd2ed74ff.png)

[2018-10-17 13:07] maxime645 commented on #1797
That didn't do the trick, results are still in French...

[2018-10-17 13:14] JohnGalt1717 commented on #981
@mayankbansal018 I can't find any documentation on how this is supposed to be done. We're using VSTS (Azure pipelines) and docker. I'm not sure what the output is and how to get it and have it run.

Here's my entrypoint:

ENTRYPOINT dotnet test /src/CADLearning.Api.Test/CADLearning.Api.Test.csproj -c Release --no-restore --collect "Code Coverage" --logger trx --results-directory /var/results

Whic

[2018-10-17 13:15] mayankbansal018 commented on #1797
@maxime645 ,Can you please share the VS version, I believe our changes to honor this var went in the VS2017 update 9, if you are on update 8, then it won't work.

Alternatively you can download [Testplatform nuget](https://www.nuget.org/packages/Microsoft.TestPlatform/15.9.0), & try to do the same. You can find vstest.console at "tools\net451\Common7\IDE\Extensions\TestPlatform" inside the nuget

[2018-10-17 14:06] jhedlund commented on #1734
I'll try to get a repro that I can share, thanks.

[2018-10-17 14:46] mayankbansal018 commented on #1798
added [release info]( https://github.com/Microsoft/vstest/releases/tag/v15.9.0)

[2018-10-17 14:46] #1798 closed

[2018-10-17 14:54] dotMorten commented on #1790
The repro steps are:
1. `File->New Project-> Android App (Xamarin)`
2. Add NuGet package `Microsoft.TestPlatform.TestHost NetStandard`
3. Compile

You'll get these build errors:

[code]

[2018-10-17 15:07] maxime645 commented on #1797
I am on 15.8.2

I'll try that workaround thanks

[2018-10-17 20:15] noelmcgrath commented on #705
any progress on this?

[2018-10-18 04:51] dotMorten commented on #98
Just submitted a PR that ensures Description, WorkItemIDs and TestProperties gets written to the TRX

[2018-10-18 15:56] Mastahh opened #1802 "Delete"
Please Delete

[2018-10-19 06:03] csoltenborn opened #1805 "VsTest.Console in some cases still fails to load settings"
## Description
#1652 (created from my issue csoltenborn/GoogleTestAdapter#184) was about a bug where settings could not be loaded any more, and has in general been fixed. Thus, I finally wanted to disable the workaround for this bug (I provided the possibility to specify the settings file via an env variable, from which the settings would be loaded if the bug occured), but found out that two of my

[2018-10-19 10:17] hgran commented on #1794
Issue #1385 describes the same functionality.

[2018-10-19 14:03] lomholdt commented on #981
First of all, it seems that a requirement is the `2.1.403` SDK when running `dotnet test --collect:"Code Coverage"`. Each test project will then have a coverage file. But What about multiple test projects? If I wan't to use eg. TFS to show an overview of coverage this is not supported for multiple files. Is it possible to create a combined code coverage file across multiple test projects in a solu

[2018-10-19 15:48] bbc2 commented on #1795
That's interesting, thanks!  I didn't know about data collectors.  It's more complicated than defining environment variables in a JSON file but it works:

[code]

[code]

It worked on Linux but not WIndows (for some reason unrelated to profiling: `System.IO.FileNotFoundException: Could not load file or assembly 'System.Runtime.Extensions [...]'`).  I think I'll open a separate issue for that.

[2018-10-19 17:11] bbc2 opened #1807 "Loading data collector fails with System.IO.FileNotFoundException"
## Description

Loading a data collector fails with the following exception (also see log at the end of this post):

[code]

## Steps to reproduce

Create a solution with three projects:

* application
* data collector
* tests

In the tests project, create a `collect.runsettings` file:

[code]

Run the following command:

```vstest.console.exe /Settings:collect.runsettings```

Example: https://git

[2018-10-20 00:16] kendrahavens opened #1808 "Suggestion: remove extra summary result from Data Driven tests"
### Summary
Data Driven tests give an extra result that is the sum of all the data driven tests. So if all are passing then the summary test passes, if one fails then the summary test also fails. We got [some feedback](https://twitter.com/kitokeboo/status/1053372805096427520) that this extra result was confusing and does not provide them much value.

We can [document ](https://github.com/Microsoft

[2018-10-20 21:12] adamralph commented on #799
I'm also experiencing this problem on Windows. On Linux, it works just fine.

Interestingly, on Appveyor Windows builds, I also see the console output. It's only locally that I see nothing.

[2018-10-21 15:32] csoltenborn commented on #1805
To gain control over which VsTest.Console version my tests are running, I have changed them to consume VsTest.Console via NuGet. Apparently, #1652 has only been fixed for 15.9.0 (and VS is still delivered with 15.8.0).

This is kind of surprising - I would have assumed that the fix would go into one of the (many) bugfix releases of VS 15.8. Anyways, this probably means that this issue can be close

[2018-10-21 15:32] #1805 closed

[2018-10-21 15:57] csoltenborn opened #1809 "VsTest.Console: Behavior changes from 15.8.0 to 15.9.0"
## Description
Switching the end-to-end tests of [GoogleTestAdapter](https://github.com/csoltenborn/GoogleTestAdapter) to VsTest.Console 15.9.0 shows two kinds of behavioral changes:
* With 15.8.0, if a test run would not result in any test cases (e.g. because no test case filter matched), no output `.trx` file had been produced. Now, a file is produced, pointing out that the test run has been com

[2018-10-21 16:11] csoltenborn commented on #1763
Just in case you would be willing to port your C++ tests to google test: You might be able to make use of [traits](https://github.com/csoltenborn/GoogleTestAdapter#assigning-traits-to-tests) to decorate your tests and then run selections of the tests using test case filters. You would end up with as many [invocations of VsTest.Console](https://github.com/csoltenborn/GoogleTestAdapter#running-tests

[2018-10-22 04:02] kaadhina commented on #1795
Glad this helped. Yes, please go ahead and open another issue if you face any.

[2018-10-22 04:02] #1795 closed

[2018-10-22 07:50] mayankbansal018 commented on #1797
@maxime645 any update on this?

[2018-10-22 09:37] mayankbansal018 commented on #1809
@csoltenborn , since you have closed the other issues(#1805), is this still valid? As you know the fix is available in VS 15.9.0 which will be available in next VS update(15.9).

[2018-10-22 09:41] #1650 closed

[2018-10-22 10:06] mayankbansal018 commented on #1802
@Mastahh , can you please use our latest testpaltform from https://www.nuget.org/packages/Microsoft.TestPlatform/ & try to run your test again.

[2018-10-22 10:59] mayankbansal018 commented on #1807
@bbc2 I tried this, & was able to reproduce the issue with dotnet.exe, however if I change the target version from `netcoreapp2.1` to `netcoreapp2.0`, everything works fine. This seems to be more likely dotnet core issue itself, can you please file a bug at https://github.com/dotnet/coreclr/issues

[2018-10-22 12:20] Mastahh opened #1810 "Data-Driven Unit Tests Failing"
Hi,

I have CodedUi Test projects and it is uses following sources
[DataSource("Microsoft.VisualStudio.TestTools.DataSource.TestCase", "https://tfs.xxxxx.com/Development 4.0/;ProjectName", "2873", DataAccessMethod.Sequential)]

We just upgraded to TFS 2017 and all tests which we were running using XAML Build and MTM 2012 stoped working, only we can run tests from VS.

Each time when I run tests us

[2018-10-22 12:24] lomholdt opened #1811 "Add support for merging coverage files from multiple test projects using dotnet test --collect:"Code Coverage""
## Description
When collecting code coverage using `dotnet test --collect:"Code Coverage"` I would like to be able to merge multiple coverage files into one if I have multiple test projects in a solution.

[See #981 for reference](https://github.com/Microsoft/vstest/issues/981#issuecomment-431771521)

## Expected behavior
A single coverage file that contains coverage for all test projects in a sol

[2018-10-22 12:25] lomholdt commented on #981
@mayankbansal018 Thanks. I have created it [here](https://github.com/Microsoft/vstest/issues/1811).

[2018-10-22 12:32] mayankbansal018 commented on #1780
@shenhong1000 any update on this?

[2018-10-22 16:02] kennethkryger commented on #1811
+1 🤞

[2018-10-22 20:06] prisar commented on #1152
`<DebugType>Full</DebugType>`
worked for me

[2018-10-23 05:28] csoltenborn commented on #1809
This issue (#1809) is valid. In #1805, as I wrote, I was surprised to learn that the patch would only go into 15.9.0, and that VS is still delivered with the bug, but that's how it is, I suppose....

[2018-10-23 06:36] vagisha-nidhi commented on #1647
Thank you for your feedback.
We will get this fix in upcoming Visual Studio 16.0.

[2018-10-23 09:07] mayankbansal018 commented on #1808
@PBoraMSFT , @pvlakshm to take a call

[2018-10-23 09:09] mayankbansal018 commented on #1807
@bbc2 closing this issue for now, please comment if it needs any attention from our side.

[2018-10-23 09:09] #1807 closed

[2018-10-23 09:10] #1802 closed

[2018-10-23 09:16] mayankbansal018 commented on #1797
@maxime645 , closing this issue for now, please comment again for reopening, if the above solution doesn't work for you.

[2018-10-23 09:16] #1797 closed

[2018-10-23 09:43] maxime645 commented on #1797
Sorry for the timing @mayankbansal018, I did not have time until today to try.
My project is still using .NET 4.5, so I can't even install the latest package. Would this work with a previous version?

[2018-10-23 10:13] mayankbansal018 commented on #1797
Yes, the package will work irrespective of the .net version you are using for your test/product assemblies.

Follow https://github.com/Microsoft/vstest/issues/1797#issuecomment-430623602 to see how you can use that package as standalone.

[2018-10-23 10:29] mayankbansal018 commented on #1790
@dotMorten , I tried the above steps & could repro the issue, but I would suggest that you please use [Microsoft.NET.Test.Sdk](https://www.nuget.org/packages/Microsoft.NET.Test.SDK) to take reference for test platform, as this brings in the required dependencies for test platform.

I could build the android app successfully after taking reference of `Microsoft.NET.Test.Sdk`

[2018-10-23 11:43] mayankbansal018 opened #1814 "Code Coverage Analysis Engine threw exception(s)"
From: https://github.com/Microsoft/testfx/issues/245

## Description

## Steps to Reproduce

## Expected behavior

## Actual behavior

![error screenshot](https://preview.ibb.co/bCUezv/Screen_Shot_2017_08_16_at_7_40_45_PM.png)

## Environment

Any help or guidance would be greatly appreciated.

[2018-10-23 11:45] mayankbansal018 commented on #1814
RCA: Issue happened when we processed too many(`> 65535(USHRT_MAX)`) blocks for a single function.
Fix: Exclude such functions from instrumentation, & log info about them in coverage file

[2018-10-23 18:09] javiercn opened #1815 "vstest.console.dll hanging for hours until our CI agent kills it"
On one of our latest test runs on our CI, the build hung on the test run until team city killed it.
From what I can see in the logs seems like some kind of issue within vstest.console.dll

## Steps to reproduce
This happened as part of
https://github.com/aspnet/AspNetCore-Internal/issues/1217

## Expected behavior

## Actual behavior

## Diagnostic logs

## Environment

Below is a brief extract of

[2018-10-23 19:11] #1794 closed

[2018-10-23 19:12] #1385 closed

[2018-10-24 07:47] maxime645 commented on #1797
It works well with this package.
The only thing that bother me is that I need to update the target version of .Net from 4.5 to 4.5.1.
I suppose there is no solution to avoid that ?

Anyway, thanks a lot for your time

[2018-10-24 07:48] mayankbansal018 commented on #1797
@maxime645 good to know that your issue got resolved.

[2018-10-24 08:31] mayankbansal018 commented on #1815
@javiercn can you please attach full logs for both vstest.console, & testhost.dll.
Do these runs pass for you during local developement? Or is it just CI issue?

[2018-10-24 09:34] codekoenig commented on #981
@mayankbansal018 I tried to add a "Publish Code Coverage Results" task to have the generated coverage files from different projects merged, but it shows the following warning:

`##[warning]Multiple file or directory matches were found. Using the first match: [Path to .coverage file]`

So it doesn't seem to be able to merge multiple files. I used the following minimatch pattern in the "Summary file

[2018-10-24 10:08] singhsarab opened #1816 "Fix the Acceptance tests for Code coverage"
## Steps to reproduce

## Expected behavior

## Actual behavior

## Note
This is a regression and was not caught by the acceptance tests. Fix the acceptance tests.

[2018-10-24 11:38] grizzle2101 opened #1818 "Programatically Run/Ignore Tests Plugin"
Hey Guys,

I am looking to see if there is a way to programatically run or ignore tests based on a CSV. We have something working with NUnit where we intercept the test before running to check if the name exists then call run or ignore.
Any solution we've come across for VSTest has been create a Custom Attribute, or inheriting from a Base Test which sets up the ignore/run, however these solutions

[2018-10-24 11:39] RehanSaeed commented on #981
Using `dotnet test --logger "trx;LogFileName=Foo.trx" --collect:"Code Coverage"` produces some crazy long file names and sub folders:

[code]

A few questions come to mind:

1. Is it possible to provide a custom name, like we can for `.trx` files above?
2. I'm not very familiar with `.coverage` files but why are there two of them per test project and why do we have nested folders?
3. I know you ar

[2018-10-24 12:14] KLuuKer commented on #1811
Any decent size application (heck even small ones) will have many projects each with there own tests, so this is a must!

[2018-10-24 15:03] livarcocc opened #1819 "Issue with Test Category Integration"
_From @chantianu on October 24, 2018 14:52_

I found an issue with dotnet cli code to run tests.
## Steps to reproduce
Do not have any Integration Test filter

 and run this command in command prompt

## Expected  behavior
When the Category is not equal to Integration then it should check if that category exists.
**if exists:** then exclude those tests and run remaining tests
**else:** then it sho

[2018-10-24 15:18] mayankbansal018 commented on #981
@acesiddhu Can you please help @codekoenig regarding publishing multiple coverage files via [publish code coverage task](https://github.com/Microsoft/vstest/issues/981#issuecomment-432585840)

[2018-10-24 16:37] javiercn commented on #1815
Tests pass normally and on the CI regularly. I would have to check the specific configuration. (Also not sure if we have those logs you’re asking for)

We run our tests with dotnet test on both local and CI

[2018-10-24 17:20] OsirisTerje commented on #1654
@ShreyasRmsft This is from your code, can you please check connect up with https://github.com/nunit/nunit3-vs-adapter/issues/519.

[2018-10-24 20:38] jeffdoolittle commented on #705
This is a bit hacky but is working for me for now:

`Get-ChildItem -recurse *tests.csproj | % { Start-Process -FilePath 'dotnet' -NoNewWindow -ArgumentList "watch", "--project=`"$($_.FullName)`"",
"test";if($? -ne $TRUE) {throw 'Unit Test Failure.'} }`

This watches changes and also filters down to test projects only. Not ideal, but it does allow me to keep all my tests rebuilding and running the

[2018-10-25 00:44] NinoFloris opened #1820 "Can't call target with multiple dlls in TargetPath unlike the CLI"
## Steps to reproduce

[code]
Won't work while it does in the CLI.
Going via the TestProjects route gives different behavior as vstest is basically started twice in that case. Fixing or having an option to have that do the other behavior would solve it too!

[code]

EDIT:
Interestingly running this target file with or without `/p:VSTestNoBuild=true` changes the workings completely. Running without

[2018-10-25 06:56] mayankbansal018 commented on #981
@codekoenig @lomholdt , I just checked with team, & if you are using dotnet task to run tests in vsts pipeline, it should publish test results, as well as code coverage files, & merge them as well. "Publish Code Coverage" task however does not work with ".coverage" files, it works with "Cobertura" & other coverage outputs.

If you still face issue with dotnet task to run & publish coverage results

[2018-10-25 11:49] mayankbansal018 commented on #1790
@dotMorten any update on this?

[2018-10-25 11:53] mayankbansal018 commented on #1780
@shenhong1000 gentle reminder.

[2018-10-25 13:56] frjol opened #1823 "Test discovery fails with Guid should contain 32 digits with 4 dashes (xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx)."
We are having an issue regarding Native C++ tests discovery in Visual Studio or in command line. It seems to be new in 15.8. Browsing around I could not find any work around or similar issue opened. I managed to build the same release version and could not find an easy way of fixing it.

We have the same issue just listing the tests. In some cases, it can list a couple tests before failing. We cou

[2018-10-25 14:03] singhsarab opened #1824 "Improve the cli experience for dotnet test"
## Description

o	Show the results using unicode ✔ and ❌ with colors
o	Progress bar (only prints a dot every ~3 seconds just so the user knows we haven’t frozen.)
o	Clean summary table at the end of run for the whole solution file. Includes Pass/Fail Unicode character, Test Name, and duration.
o	Option to output an html file.

[2018-10-25 15:55] mayankbansal018 commented on #1815
@javiercn the trace logs that you have shared above, there must be two files generated, one for vstest.console.dll(that you partially shared), & other for testhost.dll, can you share both those files with us? The files are generated when you run dotnet with `--diag:<path_to_some_file>`

As you said that the tests used to pass, is this intermittent issue, or are you getting it consistent?

[2018-10-25 17:49] javiercn commented on #1815
@mayankbansal018 This is an intermittent/point in time issue. I haven't seen it happen more than this time, but I don't believe we have changed anything recently. @ryanbrandenburg have you seen this issue happen other times? Can you help in providing the logs they are asking for?

[2018-10-25 18:07] frjol commented on #1823
I managed to get the call stack of the error in testhost.x86.exe.

[2018-10-25 18:14] ryanbrandenburg commented on #1815
We've had hangs with the same behavior [here](https://github.com/aspnet/AspNetCore-Internal/issues/1062) and [here](https://github.com/aspnet/AspNetCore-Internal/issues/1025). Unfortunately we didn't use to produce/store these logs, but the issue happens frequently enough that we've had [at least one instance](http://aspnetci/viewLog.html?buildId=578352&buildTypeId=XPlat_Windows_Win8_Universe&tab=

[2018-10-25 19:47] javiercn commented on #1815
@mayankbansal018 I've uploaded the logs here.
[vstestlogs.zip](https://github.com/Microsoft/vstest/files/2516481/vstestlogs.zip)

[2018-10-25 23:59] Eilon commented on #1815
@mayankbansal018 - this is happening a lot to ASP.NET Core tests. Do you have an ETA when we can have someone take a look at this? (It might not even be an issue in vstest - but perhaps vstest can offer more diagnostic information about why it fails.)

[2018-10-26 09:34] mayankbansal018 commented on #1815
@javiercn , I went through the logs, & it seems that for some unknown reason the testhost which is executing tests for assembly "Microsoft.AspNetCore.Mvc.Core.Test.dll" full CLR(net461) is stuck, can you please try running test for this one single test assembly multiple times, & check if you can repro it locally ? If possible please try to capture dumps for the testhost process at that time.

[2018-10-26 13:32] frjol commented on #1823
It seems that this is due to the TEST_METHOD_ATTRIBUTE("TestType", "UnitTest") that now requires a Guid instead of a string like before. Actually, it converts the string directly into Guid.

[2018-10-26 14:53] mayankbansal018 commented on #1790
@dotMorten , I'm closing this issue with solution suggested above, please comment back here, if you think it needs to be discussed further.

[2018-10-26 15:02] mayankbansal018 commented on #1780
@shenhong1000 closing this for now, please comment back here if you find any additional info.

[2018-10-26 15:02] #1780 closed

[2018-10-26 18:13] javiercn commented on #1815
@mayankbansal018 This looks like a recurring issue across different components of the product (not just this test assembly).

I'm not familiar with what to do to capture the logs and the dumps as you are suggesting, I think it would be better if you try to reproduce it on your box, all our tests and code are public and you just need to clone the repo (for example MVC) and call build.cmd to setup e

[2018-10-29 11:52] mayankbansal018 commented on #1823
@frjol , can you please share a sample project with us to diagnose it better? Also you mentioned that the tests are Native, but from the logs I see you have also enabled Fakes, are you running to managed, & native tests?

[2018-10-29 12:09] frjol commented on #1823
[code]

You can see that the `TEST_METHOD_ATTRIBUTE` with "TestType" was working in 15.7 while now it is broken in 15.8.

It breaks in TestHost.x86.exe at TestObject.cs line 311
`return converter.ConvertFrom(null, culture, value);`
Trying to convert the string "UnitTest" to a Guid.

[2018-10-29 12:45] codekoenig commented on #981
@mayankbansal018 Thank you, that actually seems to work now! That makes everything so much easier. Big thanks to the team for working on this!

Although when it comes to Code Coverage, the results do not seem to be correct. First I noticed coverage is reported in the TFS build, but with a very low blocks/line count that is wrong:

![image](https://user-images.githubusercontent.com/18646713/4765037

[2018-10-29 12:54] RehanSaeed commented on #981
Is there an ETA on getting `"Publish Code Coverage" task working with `.coverage` files?

[2018-10-29 13:47] Azrrael commented on #981
We have the exact same issue. We need Code Coverage running on a dockerized Linux container. Please let us know when you have an ETA for this.

[2018-10-29 14:01] NinoFloris commented on #1820
So why is the sample pointing me to do it like this?
https://docs.microsoft.com/en-us/aspnet/core/tutorials/dotnet-watch?view=aspnetcore-2.1#custom-watch-projects

[2018-10-29 15:54] mayankbansal018 commented on #1823
@frjol , I analyzed this issue, & the reason for this is, that one of our internal test adapter `Microsoft.VisualStudio.TestPlatform.Extensions.TmiAdapter.dll`, is already registering a property `TypeType`, & setting it's value type to be `Guid`, hence when you define it on your C++ test case, it says I've already registered this property, & it's Type is Guid, which causes us to throw the exceptio

[2018-10-29 15:55] mayankbansal018 commented on #1820
@NinoFloris dotnet watch is a valid behavior, & should work. My response was to as per your initial comment where you are passing path to multiple test dll.

For the dotnet watch issue, can you please share a small repro project, I'll investigate it further from there.

[2018-10-29 16:04] mayankbansal018 commented on #1823
@frjol , Just checked it, & it seems we have recently added this property to one of our legacy adapters. I'll talk to the team to see if that Property is needed, or can it be avoided or not.

Assuming worst case, where we cannot avoid that, is it possible for you to take a fix at your end?

[2018-10-29 16:07] mayankbansal018 commented on #1815
@javiercn, I tried to repro this locally, but so far was unsuccessful, even after running it 10 times consecutively. Will let it run 100 times over the night hoping for a possible repro. Will get back to you if I do manage to find one.

[2018-10-29 16:29] javiercn commented on #1815
I tried to repro it on our end running it 1000 times over the weekend but I wasn’t able to either. I’ll try to setup something on our CI to capture dumps when we believe it hangs.

[2018-10-29 16:31] Eilon commented on #1815
@mayankbansal018 - are you aware of any changes from the last ~1 month that could affect this? Changes to how threads are managed? Perf optimizations that could have unintended consequences? Across our hundreds of test runs with millions of tests being run, we're seeing failures quite often. It's just hard to repro in any single case.

[2018-10-29 17:36] NinoFloris commented on #1820
I explained in the opening post, when I add multiple TestProjects to `<MSBuild Targets="VSTest" Projects="@(TestProjects)" />` it doesn't work correctly if build is enabled (VSTestNoBuild=true). If build isn't enabled it at least builds the 2 projects, but it basically starts vstest twice instead of running it in the same process.

[2018-10-29 17:37] NinoFloris commented on #1820
FYI just noticed I said "it doesn't work correctly if build is enabled (VSTestNoBuild=true). If build isn't enabled it at least BUILD the 2 projects" which of course should be "runs"