[2018-02-07 14:16] mayankbansal018 commented on #1361
@drjp81 , can you please explain what _"(ie: c:\program files ... vstest201.exe)"_ path is? Is it "C:\Program Files (x86)\Microsoft Visual Studio\Preview\d16stg\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe"?

Also I've not seen the issue with CodeCoverage alone, does your definition also have tests have Fakes enabled? or some other datacollector?
Is it possible for you to s

[2018-02-07 18:13] KevinH-MS opened #1424 "Provide a way to skip the test host version check for callers of IVsTestConsoleWrapper"
## Description
I do not have a consistent repro, but I recently saw the following error while running Live Unit Testing:
[code]

## Steps to reproduce
N/A

## Expected behavior
No error

## Actual behavior
Error, even though I don't think there's any scenario where the console doesn't match the testhost in the VS IDE.  I've also seen this protocol version negotiation show up in perf traces (about

[2018-02-07 20:43] kendrahavens opened #1425 "Test Explorer sorting"
## Description
This issue exists so the community can leave feedback on the sorting and/or grouping of tests in the Test Explorer.

## Details
The Visual Studio 2017 Update 15.6 Preview introduces the hierarchy view to the Test Explorer. This first iteration of the hierarchy organizes tests by Project, Namespace, Class, and theory/data driven tests where applicable. Future improvement should inclu

[2018-02-07 21:13] eerhardt commented on #1365
I repro'd this myself with VS 15.6 Preview 3.  It appears to be a bug with the sdk (or targeting pack) that is supposed to be adding these binding redirects for net471.  `System.Net.Http.dll` is getting locally bin placed, but no binding redirects are being added.

Talking with @weshaggard and @ericstj, it appears that `netfx.force.conflicts.dll` is not getting referenced on net471, and thus the b

[2018-02-07 21:16] joperezr commented on #1365
yup, this is fixed with the new targeting pack that will now include netfx.force.conflicts on 4.7.1 as well. This new targeting pack was already inserted to the CLI, and in theory it is supposed to make it to VS 15.6 RTM since that CLI is in theory going to be inserted into VS. @livarcocc do you know if that CLI has already been inserted into VS? which preview of VS 15.6 should we expect the fix t

[2018-02-08 00:23] livarcocc opened #1426 "dotnet vstest: how to remotely debug of test runs in Docker?"
_From @evil-shrike on February 7, 2018 23:20_

## Steps to reproduce
I need to remotely debug mstest unit-tests inside a Linux Docker container.
I publish my mstest project, build and run a container with that output and then run [dotnet vstest](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-vstest) in the container which I expect to debug from my Windows host in VS/VSCode. But it turne

[2018-02-08 04:10] #1413 closed

[2018-02-08 06:10] mayankbansal018 commented on #1365
@joperezr , can you provide me link to dotnet bug where this got fixed? Also can you share the preview version of dotnet sdk, which @msmolka can you use to unblock?

[2018-02-08 09:35] mayankbansal018 commented on #1419
@MattSFT, We have published a fix for this issue in our latest Testplatform preview on nuget.org, can you please modify your build definition to use “VsTest platform Installer”, & then use it in VsTest task by setting “Test platform version” to “Installed by Tools Installer”.

Make sure you have “VsTest platform Installer” before “VsTest” task.

See attached images for more reference. This is woul

[2018-02-08 10:08] adamfriedland commented on #1262
Is there any update on this? Would be very convenient to specify certain logger configurations via runsettings.

[2018-02-08 10:32] nothrow opened #1427 "dotnet test --blame does not work"
## Description
`dotnet test --blame` does not work.

[code]

## Steps to reproduce
- Create empty xunit project
`dotnet new xunit`
- Run test with --blame
`dotnet test --blame`

## Expected behavior
Test to run, and eventually create Sequence.xml

## Actual behavior
[code]

## Diagnostic logs
I believe this is not necessary.

## Environment
- Tested on Win10 with SDK 2.1.4
- Easiest to reproduce i

[2018-02-08 13:01] mayankbansal018 commented on #1393
@alekkowalczyk  for CLI please continue using vstest.console from TestWindow folder, & not from TestPlatform.

Regarding the UWP issue can you please provide info regarding following

1. Are you building your UWP Test app targetting RS3 SDK( 16299) as the minimum SKD?
If you are targeting RS3 SDK then it will go via our newer platform present in "Common7\IDE\Extensions\TestPlatform", & if you crea

[2018-02-08 14:29] pkaramol commented on #981
So, to sum up, there is currently **no way** of running tests with cov support on linux for `.NET` core projects? Even with `mono` that runs `.exe` files on Linux from what I understand?

[2018-02-08 14:34] alexl0gan commented on #981
Mono has coverage built in. For example to get coverage from NUnit tests you can run

`mono --debug --profile=log:coverage,covfilter=+[MyProject]MyProject packages/NUnit.ConsoleRunner.3.7.0/tools/nunit3-console.exe --noh --inprocess Tests/MyTestProject.csproj`

However this is limited as it only provides coverage of the methods you call, so tests that hit all lines in one method out of twenty woul

[2018-02-08 17:16] joperezr commented on #1365
Sure, this is the PR that inserted the package with the fix into the CLI https://github.com/dotnet/cli/pull/8249 and this is the actual PR that fixed that package https://github.com/dotnet/corefx/pull/25786.

@livarcocc should be able to point us to a CLI that will contain the fix.

[2018-02-09 07:36] smadala commented on #1098
@fir3pho3nixx My bad, I checkout wrong branch.
Looks like you are trying to load all the assemblies from current appdomain base directory(Code [here](https://github.com/cryosharp/fluentwindsor/blob/fluentwindsor-next-nunit-adapter-issue/FluentWindsor/FluentWindsor/ApplicationDomain.cs#L25) and [here](https://github.com/cryosharp/fluentwindsor/blob/fluentwindsor-next-nunit-adapter-issue/FluentWinds

[2018-02-09 08:27] HristoHentov commented on #558
Had the same isssue with VS 2017 15.5.6 and .NET Core 2.0 using XUnit.

Had no launchsettings.json, and the solution by @bryanrcarlson did not help.
Managed to fix it by disabling the nUnit test adpators from Tools->Extensions and Updates

[2018-02-09 08:27] singhsarab commented on #977
Unable to reproduce this is the latest bits

Microsoft (R) 测试执行命令行工具版本 15.6.0-preview-20180109-01
版权所有 (C) Microsoft Corporation。保留所有权利。

正在启动测试执行，请稍候...

总测试: 1。已通过: 1。失败: 0。已跳过: 0。
测试运行成功。
测试执行时间: 1.8383 秒

[2018-02-09 08:27] #977 closed

[2018-02-09 10:13] mayankbansal018 commented on #1365
@msmolka , the issue was on dotnet sdk end, which they have fixed. Please move to latest preview, & you should not hit this issue any more.
I'm closing this now, please reopen it if it does not get resolved in latest dotnet sdk

[2018-02-09 10:13] #1365 closed

[2018-02-09 10:19] mayankbansal018 commented on #980
could not repro on latest

[2018-02-09 10:19] #980 closed

[2018-02-09 12:36] evil-shrike commented on #1426
Hi. Any comments/ideas/workarounds?

[2018-02-09 12:58] pkaramol commented on #981
Minicover states it is based on this: https://github.com/gaillard/SharpCover

Has anyone tried it on Linux? Hasn't been updated for a couple of years though...

[2018-02-09 13:14] lionelarmanet commented on #981
Did not try SharpCover, but minicover was easy to setup / launch. However, I had problems to integrate it with my sonar toolchain, so I chose to make coverage w/ OpenCover on a windows node (I'm working with a distributed ci).

This article may be a good start : https://automationrhapsody.com/net-core-code-coverage-linux-minicover/.

My 2 cents.

[2018-02-09 16:12] trevorchunestudy commented on #558
No dice on @bryanrcarlson and no launchsettings.json.  Fixed by updating .netcore packages to latest (2.0.5).  Debug tests now working. ???

[2018-02-11 16:11] #1098 closed

[2018-02-12 12:31] evil-shrike commented on #1426
Found some workaround via setting VSTEST_HOST_DEBUG=1 envvar and then attaching debugger.
Full story: https://techblog.dorogin.com/running-and-debugging-net-core-unit-tests-inside-docker-containers-48476eda2d2a

[2018-02-12 13:24] fir3pho3nixx commented on #1098
@cltshivash this was closed before I could validate it. Sorry about that was doing Castle work over the weekend.

Did not think this issue was time sensitive as it had been open for a while.

[2018-02-12 14:45] abhishkk opened #1430 "Test run hangs when ran from VSTS given incorrect runsettings format"
## Description
When runsettings contains incorrect attribute (For e.g. name instead of friendlyName in dataCollectorRunSettings or LoggerRunSettings) and test is ran via VSTS, then VSTS hangs.

## Steps to reproduce
In runsettings add LoggerRunSettings and add trx logger. Instead of mentioning friendlyName="trx", write name="trx" (which is incorrect)

Run test dll from vsts.
Test run hangs.

## Ex

[2018-02-12 14:47] abhishkk commented on #1430
This issue is happening because SettingsException, TestPlatformeException, InvalidOperationException are eaten up by TestRequestManager and not forwarded to design mode client. Thus design mode doesn't know about the failure and keeps on waiting for test discovery/excution to complete.

[2018-02-13 08:43] mayankbansal018 commented on #1360
@ejcoyle88 , We use JsonConvert.SerializeObject to serialize the message we need to send back to vstest runner. Since you are modifying the default Json Serializer, vstest.console does not understand the message it receives from testhost process. Meanwhile testhost is waiting to receive an appropriate shutdown message from vstest.console, which it never receives. This is causing the system to be i

[2018-02-13 11:41] mayankbansal018 commented on #1361
@drjp81 , I'm closing this issue, regarding the hang issue you are facing during datacollection, we have resolved it in latest preview version. For more details please follow issue #1419 . I've also posted a solution there.

[2018-02-13 11:41] #1361 closed

[2018-02-13 11:42] ejcoyle88 commented on #1360
Hi @mayankbansal018,

We've already gone ahead and reworked our projects to use the serializer this way. 😄
I reported the issue because many guides seem to suggest setting your JsonConvert settings using the DefaultSettings property, and so this may be an issue other people also see.

If this isn't something that can be fixed within the test runner, it would be much better for debugging if the run

[2018-02-13 13:38] anjmao commented on #981
This is so sad. I can't recommend .NET Core for anyone. How can someone decided that such basic but important feature like test coverage is not supported by default. It is 2018 and we are not able to run .NET Core tests coverage on Jenkins during CI build. Amazing. Just Amazing.

[2018-02-13 14:14] alexl0gan commented on #981
Looks like this decision has come from a product manager level, who want code coverage to be a feature in visual studio enterprise only

[2018-02-13 15:06] mayankbansal018 commented on #1360
@ejcoyle88 , thanks for bringing this issue. Investigating this helped us realized how our serialization can get impacted. We plan to discuss this further internally.
The code is open source anyways, if you get a chance, please feel free to contribute.. :)

[2018-02-13 15:21] voronoipotato commented on #981
Gotta say, it seems like late-capitalism is the only thing holding us back from better software. They have to purposely sabotage their own product so that they can charge for it. If you're so hard up for money Microsoft maybe put up a donation page. Thankfully I have confidence in my OSS comrades to fight the planned obsolescence and ultimately save Microsoft from their own undoing.

[2018-02-14 02:37] jean-paullizotte commented on #1419
New issues have now popped up. All kinds of behaviors including messages like:

2018-02-14T02:03:14.3225911Z ##[error]Error connecting to Vstest Command Line
2018-02-14T02:03:14.3226790Z ##[error]DiscoverTests.PerformDiscovery : Could not locate rocksteady binaries

And in some cases

2018-02-14T02:19:07.2269991Z ##[error]RunMessage : An exception occurred while invoking executor 'executor://mstes

[2018-02-14 03:15] jnm2 commented on #624
I'm leaving a link to that issue in the NUnit test adapter repository readme. When do you think we might see this feature?

[2018-02-14 03:58] jnm2 opened #1432 "Using DiaSession in test adapter causes COM manifest error"
I've finished the much-anticipated work of making NUnit's VSTest adapter handle test assemblies with portable PDBs by using DiaSession rather than Mono.Cecil, except for this one last issue.

`dotnet vstest` and `dotnet test` both work fine with .NET Core tests.
The `vswhere`-located vstest.console.exe works fine with .NET Framework tests.
However, `dotnet test` with .NET Framework tests causes th

[2018-02-14 06:40] mayankbansal018 commented on #1419
@jean-paullizotte , Given that you have mentioned your problem with this issue, I'm assuming you are using Hosted Agents to run your tests

In your build definition, can you please enable logs when you are running tests using VS 2017. You can enable logs via setting "system.debug=true" under variables in your build definition, & please share those logs with us.

See attached image.
![vs-test-diagn

[2018-02-14 17:02] jean-paullizotte commented on #1419
I am aware how to do verbose logging in team build. Thank you.
I am sorry to inform you, though, that when we reproduce the error it breaks our workflow and that I have no **FREE** time to help you debug this issue.

All I can say is that this was working Monday and was broken on Tuesday **without doing any changes on our side**.

I was  billing the client over 100$/hour to fix, what I am presumin

[2018-02-14 17:58] #1321 closed

[2018-02-15 09:27] AlokArora commented on #811
Still facing the issue, none of your solutions above are actually solutions, they are just workarounds!

[2018-02-15 09:43] cltshivash commented on #1419
@jean-paullizotte Few clarifications. The test platform tools installer is a mechanism to acquire test platform on machines without VS and on machines with VS it provides an option to acquire critical fixes to keep CI/CD pipelines running instead of waiting for VS updates. It doesn't impact your VS installation in any manner and is not a *workaround* and is fully supported by the test tools team i

[2018-02-15 14:37] jean-paullizotte commented on #1419
@cltshivash I think I understand how the platform tools installer maintains hosted build machines. The problem I have with your statement, is that VSTEST 2015 and 2017 is broken on the hosted machines (as per this whole thread), and our only way "around" this to use the "platform tools installer". You state this is not a workaround, yet... we should be able to just use latest version if it wasn't

[2018-02-16 09:36] aalmada commented on #627
I run up into this again but this time the issue was inside a finalizer, which means it was inside the GC. I don't if it's even possible but it would be great if this kind of issue was reported by the test runner. Thanks.

[2018-02-17 09:39] davidfowl opened #1435 "The active test run was aborted: Reason: After parsing a value an unexpected character ..."
I'm seeing the following error randomly on test runs:

[code]
I can't reproduce it consistently but it would be good to get a clue of where to look. I'm using the xunit test runner implementation but I don't know where the issue might be.

[2018-02-17 09:42] smadala commented on #1435
@davidfowl  Can you please share repo url?

[2018-02-17 09:51] davidfowl commented on #1435
A bit more info:
- It seems to fail when running tests on .NET 4.6.1
- xunit vs runner 2.4.0-beta.1.build3945
- xunit 2.3.1

dotnet --info
[code]

The repository is here.

https://github.com/aspnet/SignalR/pull/1468  This commit https://github.com/aspnet/SignalR/tree/08cd53bc7a5c21e89a1e761893e97b6d9a561984.

run `build.cmd` this will download and bring a new version of the .NET CLI to %userprofil

[2018-02-17 09:59] smadala commented on #1435
@davidfowl Thanks for more info. Looks like info is sufficient to investigate the issue. Let us know if it is blocking you then we investigate in priority.

[2018-02-17 15:46] smadala commented on #1435
Looks like crash is due to [Newtonsoft.Json](https://stackoverflow.com/questions/43900333/after-parsing-a-value-an-unexpected-character-was-encountered-6-path-0) serialization while reporting new test results to vstest.console from testhost(Test running process).

By error message, Newtonsoft.Json failed to serialize [Text](https://github.com/Microsoft/vstest/blob/master/src/Microsoft.TestPlatform

[2018-02-17 15:52] davidfowl commented on #1435
AFAIK nothing new was added in this PR with respect to writing out to the console.

[2018-02-17 15:58] davidfowl commented on #1435
The .NET Framework tests print to the output a lot more, and thats where it fails. Why is it failing to serialize?

[2018-02-19 08:58] cltshivash commented on #1098
@fir3pho3nixx : Please reopen if the issue persists

[2018-02-19 10:57] #1430 closed

[2018-02-19 12:35] mayankbansal018 commented on #1332
@psaniuk , We are introducing a newer test platform for UWP in VS2017 update 6, it's available since preview4, & this should get resolved.

Please re-open this issue, & share a repro if you hit it again

[2018-02-19 12:37] mayankbansal018 commented on #1370
@ryanbrandenburg , I tried to repro this locally, by running the script multiple times, but could not get a repro. I'm closing this issue for now, as we don't have required logs, please re-open it if you are still getting this error, & share with us the logs

[2018-02-19 12:37] #1370 closed

[2018-02-19 12:39] mayankbansal018 commented on #1393
@alekkowalczyk , I'm closing this issue for now, please re-open it if you hit it again

[2018-02-19 12:39] #1393 closed

[2018-02-19 17:53] ninjaboy commented on #811
Gentlemen, make sure to update your unit tests runner tools dependencies
and such dependencies alike. In my case updating all xunit dependencies and
consolidating their versions did the trick.
On Thu, 15 Feb 2018 at 09:27, AlokArora <notifications@github.com> wrote:

[2018-02-20 05:52] AlokArora commented on #811
For me when i upgraded to 4.7 framework, updating the dependencies to target net47 worked instead of net45.

[2018-02-20 08:31] acesiddhu opened #1437 "vstest.console.exe crashes at socket layer"
## Description
Don't have a consistent repro. we saw this on a production environment.
#[error]RunMessage : The active test run was aborted. Reason: Unhandled Exception: System.InvalidOperationException: LocalDataStoreSlot storage has been freed.
2018-02-12T09:25:52.8391446Z    at System.LocalDataStore.GetData(LocalDataStoreSlot slot)
2018-02-12T09:25:52.8391757Z    at System.Windows.Interop.Compo

[2018-02-20 13:13] pvlakshm commented on #1392
Please see here: [0014-Packaging.md](https://github.com/Microsoft/vstest-docs/blob/master/RFCs/0014-Packaging.md).

[2018-02-20 21:22] heaths commented on #1392
On GitHub, it's more common to list these in the README (or a link therefrom) or in the wiki that is included in all projects by default. I wasn't expecting to spelunk for documentation

[2018-02-21 06:03] mayankbansal018 commented on #1437
@acesiddhu , do you have a crash dump saved for vstest.console, & testhost process?

[2018-02-21 06:41] acesiddhu commented on #1437
@mayankbansal018 no. this is from our telemetry. some customer faced this issue. if we can debug from logs lets fix it. else we can close this one

[2018-02-22 00:39] jnm2 opened #1439 "Symbols for stepping into testhost.exe source"
Do you make symbols available anywhere with each release? If not, would you consider it?

[2018-02-22 01:07] jnm2 commented on #1392
That looks great! It's exactly what I hoped for!

Now, can this be done for all packages published from this repo?

For example, when writing a test adapter, you'd want to reference Microsoft.TestPlatform.ObjectModel.

Or here's something I'm looking at right now. In the tests for the NUnit adapter, I want to create an `ITestCaseFilterExpression` from a given string to test against. The keys to th

[2018-02-22 07:05] smadala opened #1441 "Test Run fails with "An exception occurred while invoking executor 'executor://mstestadapter/v2': Type ... is not marked as serializable.""
## Description
- Adding a Non serializable class to ` CallContext.LogicalSetData` causing test run failure.

## Steps to reproduce
- Run tests from https://github.com/smadala/samples/blob/master/CallContextData/UnitTest1.cs using "dotnet test"

## Actual behavior
[code]

[2018-02-22 23:19] borrrden opened #1448 "UWP test app gets launched in background?"
## Description
I am not sure what has triggered this to behave differently but my setup had been working fine for quite some time, and now when I launch vstest for UWP I have quite odd behavior.  The app will run tests for a while and then sit there and do nothing.  It will sit there and do nothing forever **UNLESS** I log into the machine it is running on, and click on the test runner app (thereb

[2018-02-23 05:44] abhishkk opened #1449 "In case of exception, exception is passed both as TestMessage and in TestRunCompleteArgs"
## Description
When we catch an exception in Translation layer (while execution), we generally do two things:
1. Pass a TestMessage of type error with exception message to design mode
2. Pass a TestRunCompleteEvent with exception details.

Any consumer of translation layer like IDE if outputs both exceptions, we get duplicated exceptions to be printed.

In case of discovery, we don't pass exceptio

[2018-02-23 11:16] cltshivash commented on #1419
@jean-paullizotte : Without logs we won't be able to make progress here.

[2018-02-23 11:16] #1419 closed

[2018-02-23 13:37] ErikSchierboom commented on #1171
Is there any plan to work on this?

[2018-02-26 05:37] smadala commented on #1441
This error occurs when the thread moving across appdomains with Non-Serializable Type in `CallContext` (See repro steps example).

Possible solutions,
- Mark type as  `Serializable`.
- Don't add the type to `'CallContext`.

[2018-02-26 05:37] #1441 closed

[2018-02-26 14:27] cltshivash commented on #1439
@jnm2 There was an issue with publishing portable pdbs to the symbol server. It has been fixed (to publish the full pdbs) and you should be able to use it in a week's time when the archival requests are completed., @jayaranigarg fyi.

[2018-02-26 14:27] #1439 closed

[2018-02-26 14:42] jnm2 commented on #1439
You sounds great! Just so I understand, this means I'll be able to step into the source of all the DLLs in https://www.nuget.org/packages/Microsoft.TestPlatform by including 'Microsoft Symbol Servers'?

![image](https://user-images.githubusercontent.com/8040367/36676271-3701ad1e-1ad9-11e8-89d6-085bbc5de204.png)

[2018-02-26 14:42] jnm2 commented on #1439
This sounds great! Just so I understand, this means I'll be able to step into the source of all the DLLs in https://www.nuget.org/packages/Microsoft.TestPlatform by including 'Microsoft Symbol Servers'?

![image](https://user-images.githubusercontent.com/8040367/36676271-3701ad1e-1ad9-11e8-89d6-085bbc5de204.png)

[2018-02-27 07:44] cltshivash commented on #1426
@evil-shrike : Thank you for documenting the work you have done. @smadala : Please look at possible improvements here to remove the manual steps.

[2018-02-27 07:44] #1426 closed

[2018-02-27 08:02] #1271 closed

[2018-02-28 02:08] ahaleiii opened #1453 "Request to merge dotnet test and dotnet vstest into single command"
Currently there are two different ways to run tests through dotnet cli:
$ dotnet test
$ dotnet vstest

According to @Faizan2304 in #637, these are both wrappers for the vstest.console.dll already and should be no real behavior differences between them. ([source](https://github.com/Microsoft/vstest/issues/637#issuecomment-291762855)) As a CI/CD scripter, I want the ability to run tests with the dot

[2018-02-28 11:38] mralnis commented on #981
Common its 2 years and still no metrics ....

[2018-02-28 11:48] RomanKernSW commented on #981
well right now it has prio 1 ;)

[2018-02-28 12:52] altinoren commented on #705
As a workaround, this PS snippet works for us:

`Get-ChildItem ".\test\" -recurse | where {$_.extension -eq ".csproj"} | % { dotnet test $_.FullName }`

[2018-02-28 16:05] RuslKoval opened #1455 "VsTest platform tools installer task fails: nuget.exe: invalid arguments"
## Description
nuget.exe says "invalid arguments"
![image](https://user-images.githubusercontent.com/23101758/36797909-defc74b6-1cb1-11e8-8d8e-99af89d25eb2.png)

## Steps to reproduce
1. Run build definition with "VsTest platform tools installer" task

## Expected behavior

## Actual behavior

## Diagnostic logs
[3_VsTest Platform Installer.txt](https://github.com/Microsoft/vstest/files/1767826/3_

[2018-03-01 04:39] acesiddhu commented on #1455
@RuslKoval thanks for reporting the issue. this happens because output directory has spaces in it
-OutputDirectory C:\Program Files\VSTSAgent\_work\_temp\VsTest
to workaround if the agent is configured inside a folder without any spaces this should work.
@ShreyasRmsft FYI

[2018-03-01 04:55] svickers commented on #558
I've tried every suggestion in here with no luck, anybody else still having the problem?

[2018-03-02 17:02] dprothero commented on #811
@ninjaboy could you be more specific on what this means and how to do it?

[2018-03-02 18:17] ninjaboy commented on #811
https://stackoverflow.com/questions/43065518/how-to-consolidate-all-applicable-projects-and-nuget-packages-from-the-command-l

https://www.google.co.uk/amp/s/artczernecki.wordpress.com/2015/09/08/consolidating-package-versions-with-visual-studio-2015-nuget-package-manager/amp/
On Fri, 2 Mar 2018 at 20:03, David Prothero <notifications@github.com>
wrote:

[2018-03-05 06:08] singhsarab commented on #1427
@nothrow --blame option in it's current form is for figuring out the faulty test in case of abort, where the host process crashes unexpectedly.
The sequence file gets generated only in abort scenarios.
So in your case, as per the repro steps, --blame would not generate the sequence file.

[2018-03-05 10:07] Xiu-Li opened #1459 "Select Test-->Windows-->Test Explorer, Loading MEF components failed with some exceptions."
## Steps to reproduce
- Open VS.
- Select Test-->Windows-->Test Explorer.
## Expected behavior
Test Explorer window is opened.
![image](https://user-images.githubusercontent.com/24784908/36968758-75a32bae-209e-11e8-9d3a-914e80a925d7.png)
## Actual behavior
Loading MEF components failed with the following exception:
![image](https://user-images.githubusercontent.com/24784908/36968934-f4c203a6-209e-

[2018-03-05 11:10] ShreyasRmsft commented on #1455
Fixed in the above linked PR. @RuslKoval in the next vsts-update this should work. Thank you for reporting this issue.

[2018-03-05 11:10] #1455 closed

[2018-03-05 18:16] mundhras commented on #579
I get the below error. Has any one see/resolved this.

Test run will use DLL(s) built for framework NETCoreApp,Version=v2.0 and platform X86. Following DLL(s) do not match framework/platform settings.
<Assemble>.Test.dll is built for Framework 2.0 and Platform X86.

C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\Extensions\TestPlatform\vstest.console.exe" F:\Vsts\agent-

[2018-03-06 06:17] smadala opened #1461 "Support all log level in --diag options"
## Description
- Today vstest.console only support "Verbose" log level for `--diag` option,
- Add support for all available log level.

[2018-03-07 00:42] PureKrome commented on #472
I just updated to VS `15.6`.

I just noticed that my `.csproj` is asking to add this back in.

Is this a regression? Anyone else noticed this?

[2018-03-07 00:53] jnm2 commented on #472
@PureKrome VS has never stopped doing that. A workaround is to add [this itemgroup](https://github.com/nunit/nunit/blob/master/nuget/framework/NUnit.props) or reference a NuGet package which has that (Nunit 3.10 will).

[2018-03-07 00:58] PureKrome commented on #472
Oh dang. i thought it was a fixed thing?

![image](https://user-images.githubusercontent.com/899878/37067622-c2c2091c-21fe-11e8-9f0d-3683d23bbe32.png)

[2018-03-07 01:28] jnm2 commented on #472
@PureKrome I did too; [see this comment](https://github.com/Microsoft/vstest/issues/472#issuecomment-348678947). Instead of fixing it in VS, they preferred to fix it by adding that MSBuild property to the Microsoft.NET.Test.Sdk NuGet package, which you have no reason to be referencing for .NET Framework tests.

[2018-03-07 01:48] bradwilson commented on #472
We (@xunit) also put it into the `xunit.core` NuGet package so everybody would get it. https://github.com/xunit/xunit/blob/97aca4d37b97952e2c0f693484f25508d8be1eab/src/xunit.core/build/xunit.core.props#L10

[2018-03-07 03:25] PureKrome commented on #472
- Adding in `Microsoft.NET.Test.Sdk` still added in the GUID. :/
- @bradwilson I'm using `xUnit.Core` 2.3.1 ... should that have added it? I also uninstalled and reinstalled that package ... GUID still back :(

I must be:
- cursed
- suck at all of this tooling stuff.
- badluck
- all of the above :/

[2018-03-07 03:39] bradwilson commented on #472
Yes, it was in 2.3.1. If the GUID's back, then there's nothing I can do about it, and suggests the bug is still present in Visual Studio.

![image](https://user-images.githubusercontent.com/16944/37072378-ef8d8ad6-2175-11e8-9c8f-51751db88319.png)

[2018-03-07 08:24] singhsarab commented on #472
@AbhitejJohn @ManishJayaswal Has something changed around this ?

[2018-03-07 09:37] DrSensor commented on #649
I have a similar problem. However, when I check
[code]
It prints
[code]

---
.NET Command Line Tools (2.1.4)
[code]

[2018-03-07 09:37] Xiu-Li commented on #1459
Verified this issue on VS build: **d15.7stg/27506.3001** (15.7 Preview 1) --> **Not repro**

[2018-03-07 10:41] ldematte commented on #472
Same issue: just updated to 15.6, and this is appearing in all my test .csproj files. Again. :(

[2018-03-07 14:40] wilhen01 commented on #472
Just updated to 15.6 and suddenly seeing this in all our NUnit `.csproj` files. Yuk.

[2018-03-07 14:41] wilhen01 commented on #472
@smadala or someone else from MS, can we reopen this issue please?

[2018-03-07 14:57] jnm2 commented on #472
To reiterate, in case there's a chance: If the presence of this GUID is somehow useful to VS, would you please redirect it into the `.vs` cache and keep our projects clean?

[2018-03-07 17:13] ManishJayaswal commented on #472
@singhsarab - I don't think this was ever fixed. I have reopened the issue.
@navin22 - let's chat offline to understand why this was resolved as fixed and if was indeed fixed then what change  in 15.6  brought it back.
@KevinH-MS - FYI

However the good news is that we have actually fixed this in 15.7 release - this time for sure, I promise :-)

We wanted to make this change early in a release to

[2018-03-07 20:01] rrector commented on #1425
The non-hierarchal "Group by traits" view now just seems to be in a random order. Please bring back the sorted by outcome presentation for this.

Ideally, there would be a "Sort by" menu that has the same options as the "Group by" to allow people to lay things out in the way that works best for them.

[2018-03-08 08:41] #1459 closed

[2018-03-08 13:15] smadala commented on #1353
Fixed in latest preview package https://www.nuget.org/packages/Microsoft.TestPlatform/15.7.0-preview-20180307-01

[2018-03-08 16:54] psaniuk commented on #1332
@mayankbansal018 thanks for the help. I've tried your suggestion and got and exception:

TpTrace Information: 0 : 23116, 5, 2018/03/08, 17:33:30.886, 1424523239554, vstest.console.exe, AssemblyResolver: Microsoft.Tools.Deploy, Version=10.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35: Failed to load assembly.
TpTrace Information: 0 : 23116, 7, 2018/03/08, 17:33:30.909, 1424523302669, vste

[2018-03-09 00:19] till6r commented on #1393
@alekkowalczyk I ran into a similar problem. I'm using a totally different version of Visual Studio but I'm seeing the same error you see on your build server. I wanted to share my solution in case it helps you.

Also, @DerGary, I noticed you linked to alekkowalczyk's issue here. They seem different to me but I wanted to loop you in just in case this gave some ideas for your problem.

## My App
C+

[2018-03-09 11:50] mayankbansal018 commented on #1332
@psaniuk , can you please share a sample repro project with us?

[2018-03-09 12:34] evilC opened #1468 "VSTest.Console.Exe `/Tests:` parameter matches substrings"
## Description
The command-line `vstest.console.exe MyTests.dll /Tests:"Add"` runs ALL TESTS that contain the word "Add".
Furthermore, given the command-line `vstest.console.exe MyTests.dll /Tests:"ns1.ns2.c1.Add"`, the following tests would match:
[code]

## Steps to reproduce
Create a suite with the tests `Add` and `AddThisToThat`
Run the command-line `vstest.console.exe MyTests.dll /Tests:"Add"

[2018-03-10 01:25] pMaske commented on #1393
OK, so what's the workaround until 15.7 is rolled out. It not clear in this [comment](https://github.com/Microsoft/vstest/issues/1393#issuecomment-364104941) exactly how to workaround the issue.

For us UWP UT app launches, but I think it fails to connect to vstest.console. There are no tests reported as being passing/failing.

[2018-03-10 01:32] pMaske commented on #1393
I have tried vstest.console from both locations
C:\Program Files\Microsoft Visual Studio\2017\Professional\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe
and
C:\Program Files\Microsoft Visual Studio\2017\Professional\Common7\IDE\Extensions\TestPlatform
with and without /framework:FrameworkUap10

All it does is launches the app and sits there forever when run from command line

[2018-03-11 12:40] rsenna commented on #1129
In powershell I am using this:

     dotnet vstest ((ls -Recurse *.Test.Unit.dll | % FullName) -Match "\\bin\\Release\\")

Meaning "run all tests in assemblies named `*.Test.Unit.dll`, where their paths contain `\bin\Release\`".

Pretty sure it could be improved (by using proper directory filtering instead of string match, for instance), but it gets the job done.

[2018-03-12 06:33] singhsarab commented on #1468
@evilC This is by design.
@pvlakshm Pratap, we need to change the documentation as suggested.

[2018-03-12 07:04] prawalagarwal commented on #1468
@evilC Don't know if this will be helpful but you can use:
 **/TestCaseFilter:"FullyQualifiedName=Namespace.ClassName.MethodName"** in case you want to run a specific test.

[2018-03-12 08:19] mayankbansal018 commented on #1393
@pMaske as you mentioned that the UWP app is launched, can you please share the screenshot once the app is launched.
Also is the app closed after certain time, say approx after 60secs? Can you share what is the error you see on CLI?

Can you enable CLI diagnostics logs for vstest, by following steps [here](https://github.com/Microsoft/vstest-docs/blob/master/docs/diagnose.md#collect-traces-using-c

[2018-03-12 10:39] evilC commented on #1468
Yes, I worked that out, I just though that the docs needed updating as it caused us quite some confusion.

[2018-03-12 10:48] harinelluri opened #1469 "Vstest failed with Error: C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe failed with return code: 1"
## Description

I’m getting the below error while running test using VSTS hosted agent , any help would be appreciated

2018-03-09T14:51:18.4435899Z ##[warning]Vstest failed with error. Check logs for failures. There might be failed tests.
2018-03-09T14:51:18.8485689Z ##[error]Error: C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vs

[2018-03-12 10:51] OsirisTerje commented on #1437
@acesiddhu @mayankbansal018 Have you managed to debug this further?  We have a system now with this error.

[2018-03-12 10:54] harinelluri commented on #1469
2018-03-09T14:51:16.8089639Z Total tests: 5431. Passed: 5384. Failed: 32. Skipped: 15.
2018-03-09T14:51:16.8092691Z Test Run Failed.
2018-03-09T14:51:16.8103470Z Test execution time: 16.2050 Minutes
2018-03-09T14:51:18.1296717Z Results File: D:\a\1\s\TestResults\VssAdministrator_factoryvm-az441_2018-03-09_14_35_24.trx
2018-03-09T14:51:18.4435899Z ##[warning]Vstest failed with error. Check logs for

[2018-03-12 11:06] acesiddhu commented on #1437
@OsirisTerje we weren't able to debug this. do you have dumps for this?
cc: @singhsarab

[2018-03-12 11:38] OsirisTerje commented on #1437
@acesiddhu  Ok, we'll try to get some dumps.

[2018-03-12 12:24] OsirisTerje commented on #1437
@acesiddhu It seems to a failure caused by using WPFControls, and not handling them correctly.
The fix to this was like shown below:
![image](https://user-images.githubusercontent.com/203432/37283407-266225cc-25f8-11e8-814b-2f7a6f92e689.png)
The test is running as STA  (using  the attribute  [Apartment(ApartmentState.STA)]) , but it seems that it is not properly STA for some reason, or....
Anyway,

[2018-03-12 12:49] acesiddhu commented on #1437
@OsirisTerje thanks for digging into the issue. I will close the issue for now.

[2018-03-12 12:49] #1437 closed

[2018-03-12 21:15] NateB2 opened #1471 "Vstest.console.exe incorrectly throws exception with try/catch block"
## Description
When running tests, the vstest.console.exe process throws exceptions, even when the "catch" block doesn't contain a "throw" command.  This worked fine until the 15.6 release.  Once we migrated to 15.6, it started throwing this error.  We then rolled back to 15.5 to verify, and sure enough, the error was not thrown.

Example code that throws an exception.  This code is executed durin

[2018-03-12 22:44] NateB2 opened #1472 "vstest.console.exe fails test run with socket exception"
## Description
Seemingly at random, our test run will fail with a socket connection error as follows:

[code]
We never received this error until we migrated to 15.6.

## Steps to reproduce
I'm not sure how to reproduce this reliably.  We run it on an Azure VM with multiple VSTS agent instances installed, and it seems to happen more frequently when the VM resources are taxed, but occasionally it oc

[2018-03-13 00:46] kendrahavens commented on #623
Hey all, I just wanted to give an update on the progress we've made in this experience. We still have a long way to go, but here are some improvements you can see in Visual Studio 2017 Update 15.6.

We've added a hierarchy view that should help the readability of test names as well as navigation. The Projects, namespaces, and classes are different tiers in the hierarchy.
![image](https://user-imag

[2018-03-13 01:08] PureKrome commented on #623
@kendrahavens Thansk for the update and I really don't want to add another +1 comment to a github thread .. but ...

just adding the hierarchy view has been such a godsend! Testing is already a bazillion (yes, I used scientific metrics to calculate the improvement level) times easier to manage.

Thank you for listening!

Looking forward to the other improvements that hopefully coming too 🥂

[2018-03-13 07:31] abhishkk opened #1473 "Test platform 15.7 nuget package fails to generate code coverage if other console options are provided"
Test platform 15.7 nuget package fails to generate code coverage if other console options are provided

[2018-03-13 07:49] singhsarab commented on #1469
@harinelluri vstest.console runs the tests, and exits with code 1 in case there are failing tests in the result. There are 32 failed tests in the run details you have shared.
This is by design.

/cc: @mayankbansal018 @cltshivash @smadala

[2018-03-13 07:49] #1469 closed

[2018-03-13 08:53] singhsarab commented on #1435
We fixed a similar issue via https://github.com/Microsoft/vstest/pull/1457
The fix is available in VS 15.6.2 release and for dotnet core projects we have released nuget packages (Microsoft.Net.Test.Sdk 15.6.1)

Can you please try out these bits and tell us if this fixed the issue for you.

[2018-03-13 09:17] singhsarab commented on #1471
@NateB2 The actually run of the tests is done by the adapter, so possibly adapter is doing something special here.
What is the test framework you are using?
Can you share the /diag logs for vstest.console ?
Also if you could share the output of vstest.console, I am just trying to see the stack trace to confirm your hypothesis.

[2018-03-13 11:06] psaniuk commented on #1332
@mayankbansal018  I've tried to point vstest.console to another test project and it worked well. Currently, I'm trying to get a sample repo where I can reproduce the issue.

[2018-03-13 17:32] KevinH-MS opened #1475 "Communication Setup overhead in testhost startup"
## Description

## Steps to reproduce

## Expected behavior

## Actual behavior

TcpChannel setup and DefaultContractResolver.ResolveContract (Json deserializer) are two things that stand out to me...

## Diagnostic logs

## Environment

[2018-03-13 18:42] NateB2 commented on #1471
We're using xunit 2.3.1.  It worked with the same version of xunit with 15.5 - the errors started cropping up with 15.6. Here is the Vsts output - I'll have to see if I can recreate the error with the diagnostic logs enabled - switching to a faster VM type and making some tweaks to how the LocalDB databases are created seems to have mostly alleviated the issue by minimizing the number of times the

[2018-03-14 10:11] harinelluri opened #1476 "VSTS Test Assemblies failed due to out of memory exception error"
## Description

We are using hosted agent. Total Test count is 5232.  Failed test count due to out of memory exception is 5.

Test task settings:

Build in parallel :true
run settings - True (maxcpu count :2, Platform version :x64)

Any recommendations regarding this would be appreciated.

[2018-03-14 12:57] ValorMorgan commented on #799
Bumping this in case anyone else comes along hoping to find an answer.

`dotnet test -v n`

I learned that running the above will show the "Standard Output Messages:" that you would expect from Console.Write*.  It does flood the terminal with information at build but at least is a solution for the time.  "-v" is a Verbosity argument.  "n" represents "normal".  Refer [here](https://docs.microsoft.c

[2018-03-14 19:56] jsiemens opened #1477 "Can't run UWP tests from vstest.console.exe in VS 15.6.2"
## Description
I am unable to run UWP tests from the VS test console (vstest.console.exe). I get the error:

No suitable test runtime provider found for this run.

![capture](https://user-images.githubusercontent.com/6842499/37427537-fb349048-2786-11e8-8bc5-0a6e34507d63.png)

## Steps to reproduce

1) Create new unit test project: Add new project > Windows Universal > Unit Test App (Universal Wind

[2018-03-15 02:29] zwcloud commented on #799
@Faizan2304 Apparently you guys think you have done quite well in handling the console output. But that's far from the truth. We don't want to *use IOutputHelper to log your message*, just *implement a simple way today to get this output from dotnet test directly on the console.*

[2018-03-15 07:55] #368 closed

[2018-03-15 08:26] NateB2 commented on #1471
Here's the last entries in the associated diagnostic log.  Looks like it might be a socket connection issue.
[code]

[2018-03-15 08:38] singhsarab commented on #1471
Interesting. Are these logs from the same run ?

[2018-03-15 09:08] max-buecker commented on #800
I am also genuinely interested in the status of this issue. For my netcore2.0 projects, I've added the debugtype full setting without any side-effects as far as I am aware. Is this still the way to go? Will there be a solution in the future, where this won't be required anymore?

[2018-03-15 09:10] NateB2 commented on #1471
Different runs, but same type of error in the VSTS console logs and in the diagnostic log.  For completeness sake, here's the corresponding error in the VSTS console log.  Note the log entry timecodes:
[code]

[2018-03-15 09:18] smadala commented on #800
@max-buecker Sorry for delay in fixing this issue.

CodeCoverage profiler has dependency on [msdia.dll](https://docs.microsoft.com/en-us/visualstudio/debugger/debug-interface-access/debug-interface-access-sdk) library, Currently msdia won't support for portable PDB.

 Luckily @VCZYK Implemented to support portable with msdia. I have tested private bits on vstest repo, Code coverage works without a

[2018-03-15 10:17] singhsarab commented on #1477
@jsiemens
The commandline that you have used seems incorrect. The commandline for running UWP tests is different from classic way.

For running UWP tests you can using the following commandline
```vstest.console <path_to_appxrecipe> /framework:FrameworkUap10```

[2018-03-15 10:28] singhsarab commented on #1476
@harinelluri The data you have shared is not sufficient for us to understand the issue.
Can you please share the logs with us.
Also, if you are hitting issues related to vstest task please file issues here https://github.com/Microsoft/vsts-tasks/issues

[2018-03-15 10:40] harinelluri commented on #1476
2018-03-14T12:56:19.3231014Z Error Message: 2018-03-14T12:56:19.5151118Z Unable to create instance of class . Error: System.OutOfMemoryException: Exception of type 'System.OutOfMemoryException' was thrown.. 2018-03-14T12:56:19.6393034Z Stack Trace: 2018-03-14T12:56:19.6395624Z at System.RuntimeMethodHandle.InvokeMethod(Object target, Object[] arguments, Signature sig, Boolean constructor) 2018-03-

[2018-03-15 19:41] ravarnamsft commented on #1472
We are seeing a similar issue on VSTS. This fails the test run though all tests pass. Can we disable this datacollection via a parameter in runsettings or commandline argument to vstest

[2018-03-15 19:44] jsiemens commented on #1477
@singhsarab

Thanks for the help. That did indeed get it running locally.

I notice this pops up a test window and the tests run in that window. The pop up windows has some interesting implications. #1, I can't actually run this at all on my build server because the build server is Windows Server 2012. Can UWP apps run on Windows Server 2016? Also, will it work to pop up a new application window w

[2018-03-15 20:08] amanda-tarafa opened #1479 "Using /diag:logs/log.txt generates log.txt but not any log.host.*.txt"
## Description
I've set up CI using appveyor.  On the simplest form I'm running `vstest.console.exe <test.dll> /logger:Appveyor /diag:logs\log.txt`.
`logs\log.txt` is correctly generated. But the most informative `logs\log.host.*.txt` are not.
Is there something else I need to add somewhere?

## Steps to reproduce
I can create a simple reduced version if it turns out I'm not missing anything and t

[2018-03-16 04:39] #1435 closed

[2018-03-16 04:44] cltshivash commented on #1479
If you don't pass /InIsolation flag the tests would be run in the vstest.console.exe process and no testhost process would be launched. Please check the log.txt you should be having the needed information.

[2018-03-16 04:45] #1479 closed

[2018-03-16 04:49] cltshivash commented on #1476
@harinelluri : Hosted agents are 1 core or 2 core machines with max 3 GB or 7GB. If you running out of memory either you will need to fix your test or move to private agents

[2018-03-16 04:49] #1476 closed

[2018-03-16 04:53] cltshivash commented on #1471
@NateB2 The socket issue is tracked #1472 . The other failure is adapter specific. Can we get a sample repro for this ?

[2018-03-16 04:55] cltshivash commented on #1453
@ahaleiii Thanks for the suggestion. We don't have any immediate plans for the above.

[2018-03-16 04:58] cltshivash commented on #1448
@borrrden : Can you try with the latest update 15.6 and let us know if the issue persists ? Are you trying to run your app in CI pipeline ?

[2018-03-16 05:07] borrrden commented on #1448
Yes, I am trying to run unit tests as part of a build / promotion pipeline.  I will upgrade to 15.6 and respond here if the issue continues.

[2018-03-16 05:29] pvlakshm commented on #1477
Will fix up the docs. In the meantime, this blogpost might help: [DevOps for IoT with Win10 IoT Core, UWP, and VSTS](https://blogs.msdn.microsoft.com/devops/2018/03/07/devops-for-iot-with-win10-iot-core-uwp-and-vsts/).

[2018-03-16 06:44] borrrden commented on #1448
It seems to have happened again.  I tried using powershell to bring it to the front at one point, but UWP apps seem immune to the regular window focusing tactics...

[2018-03-16 06:48] davidfowl commented on #1435
I'm hoping you guys re-ran the repro I gave you and confirmed the fix works right?

[2018-03-16 06:49] davidfowl commented on #1435
IIRC @smadala was able to reproduce the exact failure.

[2018-03-16 07:46] alexdrl opened #1480 "VSTests throws a FileNotFoundException in project to project references."
## Description
VSTests throws a FileNotFoundException when trying to launch related tests DLL when a test project references another test project (.NET Core).

## Steps to reproduce
Having a solution with 2 test projects, one of them referencing the other.

## Expected behavior
VSTests should execute the tests in its expected folder and ignore the tests DLLs that are copied over by the compilation

[2018-03-16 11:24] ShreyasRmsft opened #1484 "Runsettings with linked test settings not launching QTAgent"
Two Cases:

1)
[code]

2)
[code]

42icgpjc.aba.testsettings contents

[code]

Simple MsTest V1 tests

VS Version: 15.6.0

[2018-03-16 12:52] smadala commented on #1435
@davidfowl While trying to repro the issue, I have updated the Microsoft.NET.Test.Sdk to 15.6.0(it was [15.3.0](https://github.com/aspnet/SignalR/blob/08cd53bc7a5c21e89a1e761893e97b6d9a561984/build/dependencies.props#L57) in your PR, 15.6.0 has more logging), and able the repro (didn't try with 15.3.0 after that).

We have seen similar issue in developer community.
https://github.com/Microsoft/vst

[2018-03-16 12:53] smadala commented on #1435
Please reopen this issue, If you see the failure again with 15.6.1.

[2018-03-16 13:49] haf commented on #1284
Ping — will you be fixing this?

[2018-03-16 15:16] Valeriy1991 commented on #669
This commands work for me:
* powershell
[code]
* windows batch:
[code]

[2018-03-16 18:56] NateB2 commented on #1471
Creating a sample repro would be tricky because it doesn't happen 100% of the time anyway, and the code that's executed during the problematic test run contains a significant amount of information we wouldn't want to share, so I'd need to see about creating a repro virtually from scratch.  Since it appears it might be linked to the socket issue, I'm more than happy to wait to see if the fix for th

[2018-03-16 21:27] stefanmsft commented on #1472
Also seeing this IOException on VSTS, have been encountering it for the last two days. It seems to happen pretty frequently on builds - occasionally the exception is not thrown and the build succeeds. We're seeing the exact same exception as above.

[2018-03-16 23:31] borrrden commented on #1448
Yes, it is definitely still happening.  I think Jenkins is involved somehow.  If there is a powershell way to bring it to the foreground I'd like to know about it.

[2018-03-17 11:57] amanda-tarafa commented on #1479
Ok, I passed /InIsolation and now I get a little more info on `log.txt`, specifically where to find `vstest.*.dmp` files. But I still don't get any `log.host.*.txt` files.
My vstes execution is crashing, probably some of my tests are making it crash, but to properly diagnose that I would like to take a look also at `log.host.*.txt`. But apparently they are not being generated.

- If they were gene

[2018-03-17 12:01] amanda-tarafa opened #1485 "Follow up question from #1479"
This is a follow up question to #1479.
I passed /InIsolation and now I get a little more info on `log.txt`, specifically where to find `vstest.*.dmp` files. But I still don't get any `log.host.*.txt` files.
My vstes execution is crashing, probably some of my tests are making it crash, but to properly diagnose that I would like to take a look also at `log.host.*.txt`. But apparently they are not be

[2018-03-17 15:36] Yternity commented on #1472
I currently got it 100% of the time on VSTS, sometimes 2 or 3 times per build when running unit tests

[2018-03-18 02:14] HppZ commented on #472
still happen in 15.6.2

[2018-03-18 08:42] Diminouille commented on #1472
same thing here, we got it systematically. Our build pipeline is currently broken, goodbye continous feedback :(

[2018-03-19 05:40] pMaske commented on #1393
Thanks for responding @mayankbansal018

@mayankbansal018 after app is launched we see a launch page.
![image](https://user-images.githubusercontent.com/3878047/37579720-24382206-2afd-11e8-8a61-7b861443d283.png)

App is not closed ever until manually killed.

I will send the CLI logs in a day or so.

[2018-03-19 10:58] lloydmonteiro opened #1487 "VSTEST Console and Load Test"
I  am trying to run LoadTests developed in VS 2017 that reference a webtest which does a simple load test of 100 users using the record and play option in Visual studio. I have also setup a Agent and controller to generate load tests and all this works fine in Visual studio when I run the LoadTest, it invokes the webtest and runs successfully.

When I try to run it in VSTest.console.exe , I get th

[2018-03-19 11:04] lloydmonteiro commented on #1487
When I created the load test, I specified it as such and also configured Local Agent/Controller
![image](https://user-images.githubusercontent.com/37536919/37592014-692633da-2b93-11e8-9cfa-9f0d83fc241e.png)

[2018-03-19 11:23] lloydmonteiro commented on #1487
Further updates....

So after reading couple of MSDN articles, I now added a TestSettings file and a ordered test with a single webtest. I then executed this command in VSTEST.CONSOLE> and see a different error.

COMMAND
vstest.console.exe "C:\Users\lmonteir\Source\Repos\Capacity Testing\LoadTests\LoadTests\bin\Release\OrderedTest1.orderedtest" /Settings:"C:\Users\lmonteir\Source\Repos\Capacity Te

[2018-03-19 17:57] livarcocc opened #1489 "Debug Unit tests"
_From @Petermarcu on March 18, 2018 16:50_

@FvdG commented on [Fri Jan 19 2018](https://github.com/dotnet/core/issues/1229)

# Unable to debug (x)unit test(s) in a .Net Core 2.0 application

I was able te get my xunit test up and running from the console with the _dotnet xunit_ command.
The problem, i want to be able to debug my unit tests in case of a complex problem.

How can I debug my unit te

[2018-03-19 17:57] livarcocc commented on #1489
_From @Petermarcu on March 18, 2018 16:50_

I'm not sure where best to route this. Do we have a good place to track unit testing?

[2018-03-19 17:57] livarcocc commented on #1489
microsoft/vstest. I will move this issue there.

[2018-03-19 18:37] smadala commented on #1485
Log.host.*.txt gets created in same folder as log.txt.

   Tests runs in testhost.exe process, log.host.*.txt created by teshost.exe, It is possible vstest.console getting crashed before launching testhost or testhost crashing before creating log file.

Get more info from the eventviewer logs. and  [user mode full dump](https://msdn.microsoft.com/en-us/library/windows/desktop/bb787181(v=vs.85).asp

[2018-03-19 18:45] smadala commented on #1262
Addressed https://github.com/Microsoft/vstest/pull/1382

[2018-03-19 18:45] #1262 closed

[2018-03-20 13:38] mayankbansal018 commented on #1393
@pMaske to run your UWP tests, are you giving ".**appx**" as input to CLI? Looking at the App launched it seems you are using "appx" generated from VS2017 update 5 or older.

Can you please try to rebuild your project in VS2017 update 6, & then pass ".**appxrecipe**" as input to CLI, with above parameters that I mentioned.

[2018-03-21 17:29] smadala commented on #1472
Primary investigation indicates this issue occurs when running datacollection(Code Coverage, Fakes, etc..) in parallel. To unblock, Please disable the parallel(MaxCpuCount in runsettings) option while running tests. I'm working on fix. Will let you know once fix is available.

[2018-03-21 18:02] pvlakshm commented on #1477
Doc updated: [VSTest.Console.exe command-line options](https://msdn.microsoft.com/en-CA/library/jj155796.aspx) (see under valid values for frameworks).

[2018-03-21 18:02] #1477 closed

[2018-03-21 18:51] smadala commented on #1480
- Are these .NET Core tests assemblies(A.R.H.Application.Tests.dll) build on same machine? If not, do `dotnet publish` on A.R.H.Application.Tests.csproj, copy artifact this machine and run tests.

- A.R.H.Application.Tests csproj has reference to "Microsoft.NET.Test.Sdk" package?
- Can you share csproj of tests project?

[2018-03-21 18:58] smadala commented on #1489
@FvdG To run tests from visualstudio, You need `Microsoft.NET.Test.Sdk` nuget package in your test csproj.

I'm closing this, Let us know after adding the package if can't able to debug.

[2018-03-21 18:58] #1489 closed

[2018-03-21 20:27] smadala opened #1491 "Fail to debug tests"
### Description
- Fail to debug x64 tests from VS Test Explorer.

- Error message
[code]

[2018-03-21 20:28] smadala commented on #1491
“This appears to be an issue with Windows Defender and is being investigated on the Windows side. The workaround shared so far is:

In an elevated PowerShell, run **“set-mppreference -EnableNetworkProtection 0”**. Relaunch VS.”

[2018-03-21 20:28] #1491 closed

[2018-03-21 22:04] dotMorten commented on #1373
I don't really understand you make such a significant change before all the tooling is ready for it?

[2018-03-22 06:25] mayankbansal018 commented on #1373
@dotMorten , we understand your concern, but the newer platform was bringing in support for IOT devices as well, & the work to enable ".appx" as source was in flight already, which would be available in 15.7 RTM.

As a CLI solution we made sure we had something for the customers, so we started with ".appxrecipe".
Given the overall benefits of bringing in the new platform we took this call.

[2018-03-22 06:42] kaadhina commented on #1471
@NateB2 Do you have any datacollector such as codecoverage turned on? If so, can you try turning it off and retry?

[2018-03-22 06:50] kaadhina commented on #1471
@NateB2 Also, do you have "run in parallel" selected, or have a runsettings with maxcpucount tag to run in parallel? If so, can you try turning that off as well while retying?

[2018-03-22 07:11] lloydmonteiro opened #1492 "VSTS CLOUD LOAD TEST behind Firewall"
## Description
I followed this article https://blogs.msdn.microsoft.com/devops/2016/08/22/use-cloud-load-agents-on-your-infrastructure/ and successfully am able to run Load Tests using Cloud on my own machines behind Firewall. It is running fine on VisualStudio and VSTS Portal

Now I want this to also run using VSTS Release TASK and to that end I add the Cloud Load Test task. I also installed the

[2018-03-22 07:44] alexdrl commented on #1480
Yes, they are built on the same VS solution.

Yes

https://gist.github.com/alexdrl/016e16f895eaaffa7fd88cd2c0c6f657

[2018-03-22 08:07] ErikSchierboom commented on #1129
It would be great if this would work out of the work!

[2018-03-22 14:15] jemartin80 commented on #558
Clean Solution worked for me as well.

[2018-03-22 15:55] smadala commented on #1492
This issue was moved to Microsoft/vsts-tasks#6772

[2018-03-22 15:55] #1492 closed

[2018-03-22 16:29] smadala commented on #1427
Looks like blame changes for `dotnet test` are not in right branch of dotnet-cli.  We will fix this. Meanwhile you can use `dotnet vstest` to create sequence file.
[code]

[2018-03-22 17:07] amanda-tarafa commented on #1485
Here's a [branch](https://github.com/amanda-tarafa/google-cloud-visualstudio/tree/vstest-diagnostics) in the repo you can take a look at.
I've fixed the tests so vstest is not crashing anymore, still, no `log.host.*.txt`.
[Here's ](https://github.com/amanda-tarafa/google-cloud-visualstudio/blob/c6dd39889faeff90b9561a8f4fd32145dac0ee71/TestScript.ps1#L21)the line where I activate diagnostics and [h

[2018-03-22 17:39] smadala commented on #1485
What is VS version on build agent?
Looks like the VS version < 15.5. That is the reason you are not seeing *host files. If you move to > VS 15.5, you can use /blame option to figure out which test is causing test-process to crash.

[2018-03-22 17:54] #1485 closed

[2018-03-22 18:05] smadala commented on #1480
Can you queue a build with `system.debug` and `agent.diagnostic` variables to true and share build logs?
 `
![image](https://user-images.githubusercontent.com/4337332/37789183-439eb1b2-2e29-11e8-9f54-c1b527d364b0.png)

[2018-03-22 19:02] barry-hall commented on #996
I also have this issue on certain projects.

[2018-03-22 23:04] NateB2 commented on #1471
@kaadhina - yes, I was running the tests with code coverage in parallel.  It tended to happen more frequently when there was more concurrency.  If I have some time, I will try turning it off and running it again.  Once I was able to devote enough compute resources to the unit tests, I haven't received this particular error.

[2018-03-22 23:54] PureKrome opened #1495 "REQUEST: Have a HORIZONTAL SCROLL BAR when the test names are long"
Hi 👋

Totally loving the heirachy view. Thank you!

Now, some test names move 'offscreen' because the test runner window is not big enough. When this happens, **no HORIZONTAL SCROLL BAR** appears. A vertical one does appear if the list of tests go below the window size (yay!) ... just not sideways.

It's important because we can't see the full test name (which isn't a big deal because you can just

[2018-03-23 01:19] TheAngryByrd commented on #1284
+1

[2018-03-23 07:41] alexdrl commented on #1480
Those are the logs: [logs_15478.zip](https://github.com/Microsoft/vstest/files/1840542/logs_15478.zip)

[2018-03-23 15:02] smadala commented on #1480
To run tests for .NET core you need test-assembly's runtimeconfig.dev.json, runtimeconfig.json and deps.json files. These files are not present with `ADDInformatica.RPQPrototype.HealthAndWelfare.Application.Tests.dll`.
Can you find why, What is special about this project?

Are you using fakes in .NET Core test (Fakes not supported for .NET Core)?

Are you able to run these tests locally(on your de

[2018-03-23 15:18] smadala commented on #996
@ManishJayaswal FYI.

[2018-03-23 16:20] JochemVH1 opened #1500 "[UWP] TestPlatform error running on VM in Azure."
## Description
Hello, I am currently struggling with running tests for UWP in a build definition in VSTS.
I downloaded the agent and I am running one locally and one in a VM (Windows Server 2016 with Visual Studio) on azure.
The weird part is that when I run the definition on the agent locally everything is fine, and when I run on the agent in the VM I get an error.

DEP0700: Registration of the a

[2018-03-23 16:25] JochemVH1 commented on #1500
I am pretty sure I am missing something obvious. But I have been at it for 2 days and can't seem to figure it out. Any help is welcome!

[2018-03-23 16:32] alexdrl commented on #1480
I don't know, but they are similar projects.

The only framework library used is Moq

Yes, using Visual Studio and `dotnet test`

[2018-03-23 18:20] smadala commented on #1500
@JochemVH1 Can you share [build logs](https://github.com/Microsoft/vstest/issues/1480#issuecomment-375404214)?
What is the  Azure VM VS version? Looks like it is not VS 15.6.

[2018-03-23 18:26] smadala commented on #1480
You can use `.NET Core` task to build and test. If you can repro the same issue with vstest.console.exe locally, share the sample project.

[2018-03-23 21:53] paulvanbrenk opened #1501 "dotnet test assumes output assembly is test file"
I'm in the progress of making the Node Tools JavaScript unit test adapter work with different project types. One of those project types is ASP.NET Core, I specifically want to make it work with `dotnet test` to it's easy to integrate with existing build infrastructure.

One of the issues I ran into is that in the [Microsoft.TestPlatform.targets](https://github.com/Microsoft/vstest/blob/d493ee92a4b

[2018-03-24 02:08] dotMorten commented on #1373
@mayankbansal018 I don't have a problem with adding new functionality, but a problem with changing and breaking existing functionality for the sake of adding new functionality. It was very disruptive for our automated testing

[2018-03-24 07:01] smadala opened #1502 "Code Coverage can't be collected with codecoverage.exe"
_From @maulwuff on February 16, 2018 8:31_

## Description
Code coverage fails to be collected when used with `codecoverage.exe`
It succeeds when `vstest.console.exe` is used

## Steps to reproduce
Try to run unit tests and collect code coverage from cmd (to be passed to SonarQube):
[code]

In the event log you can find this error entry for the first try when using CodeCoverage.exe:
[code]

And th

[2018-03-24 07:01] smadala commented on #1502
@maulwuff I believe this is not supported scenario.

/c @pvlakshm @cltshivash @mayankbansal018 is this supported scenario?

[2018-03-24 07:24] smadala commented on #1495
Couldn't assign to @kendrahavens. Assigning to @ManishJayaswal

[2018-03-24 12:20] smadala commented on #1501
Currently `dotnet test` supports  .NET Core and .NET Full framework tests.

For .NET Core framework tests, below is the process tree:
![processes-created-while-running-core-tests](https://user-images.githubusercontent.com/4337332/37863444-70781d02-2f84-11e8-8ebb-7d6b72777e6d.PNG)

[code]

For .NET Full framework tests, below is the process tree:

![processes-created-while-running-desktop-tests](ht

[2018-03-24 12:46] rainersigwald opened #1503 "dotnet test is incompatible with MSBuild node reuse"
## Description

In the .NET SDK 2.1.300, MSBuild on .NET Core will introduce support for [node reuse](https://github.com/Microsoft/msbuild/issues/2703). This feature enable faster cycle times by keeping MSBuild worker processes alive after the first build ends, allowing them to be reused "hot" by the second and subsequent builds.

Unfortunately, this is incompatible with the output strategy used b

[2018-03-24 14:38] smadala commented on #1503
@rainersigwald I think you are talking about [this](https://github.com/Microsoft/vstest/pull/641/files#diff-5dbba459fe4845e0ad580abaf21d1e91L36) change. We have did this to show the output in color.

[2018-03-24 17:32] rainersigwald commented on #1503
@smadala That's part of it. Let's discuss options early in the week. The current approach will be really broken going forward.

[2018-03-25 11:28] JochemVH1 commented on #1500
@smadala I can confirm that Azure's VM VS version is 15.6.4

![image](https://user-images.githubusercontent.com/17174475/37874475-44ac1a82-3030-11e8-9159-2c836ab9906d.png)

Quick question what is the best way for me to provide you the logs?

[2018-03-25 12:41] sesispla commented on #981
Maybe coverlet is the solution we've been waiting for...

https://www.hanselman.com/blog/AutomaticUnitTestingInNETCorePlusCodeCoverageInVisualStudioCode.aspx

@shanselman

[2018-03-25 15:11] blelem commented on #1098
I get the same error with the JetBrains Rider IDE. Same project works fine with VS2017 v.15.6.3.
I wonder, will this get organically fixed on Rider side whenever they update their dotnet components, or should I report the issue to JetBrains?

[2018-03-25 16:33] smadala commented on #1500
- Go to failed build summary.

- Queue a new build with diagnostics logs.
![image](https://user-images.githubusercontent.com/4337332/37877375-e6cff896-3077-11e8-8ca7-e15695266a16.png)

- After build complete, Go to build summary,  click on `Download all logs as zip`.
![image](https://user-images.githubusercontent.com/4337332/37877334-4b1f261a-3077-11e8-85c7-4dea8c39a964.png)

- Share the zip file.

[2018-03-25 16:42] JochemVH1 commented on #1500
[JochemVanHespen_logs_244.zip](https://github.com/Microsoft/vstest/files/1845540/JochemVanHespen_logs_244.zip)
These are the logs from the VM

[JochemVanHespen_logs_245.zip](https://github.com/Microsoft/vstest/files/1845542/JochemVanHespen_logs_245.zip)
These are the logs from the local machine

[2018-03-25 17:10] smadala commented on #1500
@JochemVH1 Looks like vstest.console failed to launch UWP app on Auzre VM. There may be some settings required to launch UWP app(like Enable Developer mode).

Can you run blank UWP app with same Target version and Min version in Azure VM?

`DEP0700: Registration of the app failed. [0x80073CF6] error 0x80070005: Adding a tile failed with unexpected error.` Can you figure out when this error occurs?

[2018-03-25 17:19] smadala commented on #1098
@blelem This wasn't bug on vstest https://github.com/Microsoft/vstest/issues/1098#issuecomment-364358027. If your test/product code dealing with appdomains this can happens. Use [fusion logs](https://github.com/smadala/vstest-docs/blob/vstest-troubleshoot/docs/troubleshoot.md#how-to-collect-assembly-binding-logs) to determine what going wrong.

[2018-03-25 17:42] smadala commented on #1448
@borrrden Is this repro on local machine?
Can you share sample repo project and diagnostics logs(/diag:log.txt)?

[2018-03-25 18:17] JochemVH1 commented on #1500
Developer mode is enabled.

I cloned the master branch on to the VM and both the blank UWP app and UWP.Test app are running fine. Also removed the VsTest platform tools installer and nuget reference to Microsoft.TestPlatform.

It is hard to figure out when the DEP0700 is happening because it can not be reproduced through vstest.console.exe on the VM.

[2018-03-25 19:08] smadala commented on #1500
This makes me thinks, Issue is related to how the agent is running as [interactive/service](https://docs.microsoft.com/en-us/vsts/build-release/concepts/agents/agents?view=vsts#account). Azure VM agent running as service?

[2018-03-25 19:14] JochemVH1 commented on #1500
Yes the agent is running as a service. I will try to disable the service and run the agent in powershell.

[2018-03-25 19:20] JochemVH1 commented on #1500
Ow great, indeed it is! Thank you very much. This can be closed.

[2018-03-26 04:25] pvlakshm commented on #1468
This is already done: [here](https://msdn.microsoft.com/en-CA/library/jj155796.aspx)

[2018-03-26 04:25] #1468 closed

[2018-03-26 05:25] blelem commented on #1098
@smalada Thanks for the hint. I now tried to run the tests from dotnet cli (v 2.1.101), and I get the same result (System.TypeLoadException : Could not load type 'Microsoft.VisualStudio.TestPlatform.ObjectModel.Navigation.DiaSourceClass' from assembly 'Microsoft.)
This rules Rider out of the equation. The problem happens on my mac, same test works fine on my Windows VM. Is there something equivale

[2018-03-26 05:30] smadala commented on #1098
@blelem This is known issue. Full context https://github.com/Microsoft/vstest/issues/1417 https://github.com/dotnet/corefx/issues/26851

[2018-03-26 05:40] ShreyasRmsft commented on #1492
@lloydmonteiro Have provided a solution in the [issue](Microsoft/vsts-tasks#6772)

[2018-03-26 06:12] cltshivash commented on #1487
@lloydmonteiro Please use mstest.exe cmdline to execute the loadtests. LoadTests is not supported by the vstest.console.exe. Also instead of using the agent controller infrastructure to generate load, you can use the Cloud Load Test Service that helps provision agents for you. You can read more about it here: https://www.visualstudio.com/team-services/cloud-load-testing/

[2018-03-26 10:09] alexdrl commented on #1480
Here is the sample project. Two test projects and a file that contains the vstest.console.exe command similar to which the TFS task launches.

[TestProjectA.zip](https://github.com/Microsoft/vstest/files/1847336/TestProjectA.zip)

[2018-03-26 13:56] evilC commented on #1468
@pvlakshm I don't see it.
The entry for `/Tests:[ test name ]` is identical to what it was before, nothing has changed.

[2018-03-26 15:44] 42shadow42 commented on #1298
I am encountering a similar issue using the Visual Studio Test task with platform version Visual Studio 2017. I am not running tests in parallel.

I cannot reproduce the issue on my local machine, running visual studio 2017.

[2018-03-26 16:27] 42shadow42 commented on #1298
It appears early versions of VS2017 have this issue as well, my local machine has a new version of visual studio 2017 installed.

[2018-03-26 17:41] smadala commented on #1298
@42shadow42

Can you share build logs?
- Go to failed build summary.

- Queue a new build with diagnostics logs.
![image](https://user-images.githubusercontent.com/4337332/37877375-e6cff896-3077-11e8-8ca7-e15695266a16.png)

- After build complete, Go to build summary,  click on `Download all logs as zip`.
![image](https://user-images.githubusercontent.com/4337332/37877334-4b1f261a-3077-11e8-85c7-4

[2018-03-26 18:10] smadala commented on #1480
Thanks for repro. I got the problem now. You are trying to run tests of `TestProjectA.dll` two times.
- TestProjectA.dll from TestProjectA project output directory. this works fine because deps.json, runtimeconfig.dev.json and runtimeconfig.json files exits with it.
- TestProjectA.dll from TestProjectB project output directory. this fails because not able to find above mentioned files.

In `dotnet

[2018-03-26 19:38] paulvanbrenk commented on #1501
yes, we want to support both ASP.NET Full and ASP.NET Core

Not sure what you're question is, but we build the adapter against, .NET 4.6 and .NET Standard 1.0

I'll investigate the run settings option, but that does look promising.

[2018-03-27 06:12] smadala commented on #1079
@genlu Sorry I couldn't pick this up. As we are busy with other important customer ask, I will close this for now. We will use your work if it required in future.

[2018-03-27 06:12] #1079 closed

[2018-03-27 10:58] alexdrl commented on #1480
Yes, you are 100% correct.

We can not use `dotnet publish` to build the tests as the build requires VS for StrongNamer. We could use `dotnet publish`, but... This implies that every time a test is added to the solution, this task should be updated?

If `dotnet test` supported test coverage, we could use it, and the problem will go away for us, but not for VSTest users...

[2018-03-27 11:25] smadala commented on #1480
Following are options.

- You can avoid running tests of `TestProjectA` twice, by tuning `Test assemblies` option(Some regex work. 😄).
- Use `dotnet publish` at solution level. This makes no need update the task whenever you add new test project/test.

Code Coverage support with `dotnet test` is coming soon.

[2018-03-27 14:19] smadala commented on #1501
You answered my question. I'm surprised that you were able to build adapter with just NS1.0 APIs 😃  . Make sure you drop your adpater(should end name with *.testadapter.dll) to output directory(bin/Debug).

Great 👍 , We are looking forward to try this out. Please ping us once you are done with this change(best thing)/face any issue(second best thing 😃 ).

As of now there no Action from vstest. I'm

[2018-03-27 14:19] #1501 closed

[2018-03-27 14:24] smadala commented on #1480
@alexdrl  Above mentioned options should work for you.

/cc @cltshivash FYI.

I'm closing the issues as by design and won't fix.

[2018-03-27 14:24] #1480 closed

[2018-03-27 14:28] #1473 closed

[2018-03-27 14:30] smadala commented on #1475
@abhishkk I think you worked on this. Can you please update your finding here?

[2018-03-27 15:58] abhishkk commented on #1475
@KevinH-MS @smadala
We will investigate Json serialization overhead and take changes for 15.8 if needed.
Letting the issue open considering it enhancement for 15.8.

[2018-03-27 17:04] KevinH-MS commented on #1475
@abhishkk @mayankbansal018 this is the other serialization library I was thinking of this morning:   https://github.com/Microsoft/bond

[2018-03-27 17:51] paulvanbrenk commented on #1501
@smadala which version of NS would you recommend, and what are the trade-offs? Depending on  a newer version would make a bunch of things easier.

[2018-03-28 04:19] borrrden commented on #1448
The odd thing is that this doesn't happen on my local machine, only on the VM...but I will try getting the diagnostic log.

[2018-03-28 04:31] lloydmonteiro commented on #1487
please tell me how do I run loadtest using mstest on release pipeline, what task should I add?

[2018-03-28 05:00] smadala commented on #1448
This looks like similar https://github.com/Microsoft/vstest/issues/1500. The program which launches vstest.console running as service(background program)?

[2018-03-28 05:02] borrrden commented on #1448
I'm not doing anything fancy, literally just run those three lines above on my compiled app package and the UWP window launches "behind" other things (as if I clicked away from it).

[2018-03-28 05:02] borrrden commented on #1448
P.S. It looks like it will be a while for the logs since .NET Native just barfed over the recent changes I made...

[2018-03-28 05:55] ShreyasRmsft commented on #1487
@lloydmonteiro please use the [load test task](https://docs.microsoft.com/en-us/vsts/build-release/tasks/test/cloud-based-load-test?view=vsts) for running load tests in the build/release pipeline

[2018-03-28 06:05] smadala commented on #1472
Published [Microsoft.TestPlatform.15.6.2](https://www.nuget.org/packages/Microsoft.TestPlatform/15.6.2) package with fix. You can get the latest test platform by using the [Visual studio test platform installer](https://docs.microsoft.com/en-us/vsts/release-notes/2017/nov-28-vsts#test) task to try out the fix right away.

We are planning to fix this issue in VS 15.6 coming update.

[2018-03-28 06:05] #1472 closed

[2018-03-28 09:07] jayaranigarg opened #1516 "Print better message when multiple versions of same extension is found"
## Description
Currently, when we have multiple versions of adapter being referenced in a solution, we print following message on console :

![version](https://user-images.githubusercontent.com/17309452/38019254-b68f7f3e-3294-11e8-91c2-1d6bc2da34ea.png)

File version hardly makes any sense to user. Better to print Adapter/extension version or full file path.

Additionally, also validate that same

[2018-03-28 19:10] shanselman commented on #981
@tonerdo

[2018-03-28 21:16] onovotny commented on #326
Bump. Using `dotnet test --no-build` no longer works for certain scenarios. Really need a way to invoke the targets via an MSBuild target.

[2018-03-28 21:19] onovotny commented on #326
I should add that as-of MSBuild 15.6. we can now have SDK's distributed via NuGet, so it should be a lot easier to support adding this as a test sdk out-of-band for both msbuild and dotnet.

[2018-03-29 00:48] borrrden commented on #1448
Ok new information, this seems unrelated to being behind other windows or not, it seems that just logging into the machine causes the tests to resume.  Maybe related to the "display sleep" settings?  I disabled them and will let you know.

[2018-03-29 06:43] qingjuntian commented on #1345
Thanks Satya,

May I know how to install version with this fix? I tried to install Dotnet
Core SDK 2.1.300-preview3-008424 - which I think is the newest build. But
it seems still request write access to the dev.json file.

thanks.
Qingjun

On Thu, Jan 25, 2018 at 4:14 PM, Satya Madala <notifications@github.com>
wrote:

[2018-03-29 08:25] smadala opened #1519 "TestCase results not reported to vstest.console if adapter not calling `frameworkHandle.RecordEnd`"
## Description:
- Try to run tests with adapter which don't call `frameworkHandle.RecordEnd` on test-case execution complete.
More details [here](https://mseng.visualstudio.com/DefaultCollection/VSOnline/Automated%20Testing/_workitems/edit/1216643)
## Expected Output

Test should run.

## Actual Output

No test is available in C:\Path\to\test-assembly.dll . Make sure that test discoverer & executo

[2018-03-29 09:18] DerGary opened #1520 "UWP Deploy failing when TestApp is already deployed with different Configuration"
## Description
vstest.console.exe fails because it can not deploy the app. This only happens if the test app is already installed but build with another configuration. If the test app is not installed everything works. If the test app with the same configuration is installed everything works as well.

## Steps to reproduce
Unfortunately I can not reproduce this on my developer machine only on our

[2018-03-29 13:12] maulwuff commented on #1502
The steps are actually taken from https://docs.sonarqube.org/pages/viewpage.action?pageId=6389770

[2018-03-29 13:51] mayankbansal018 commented on #1502
@maulwuff , CodeCoverage.exe can be used to gather coverage data, however it is not our primary supported scenario. We recommend folks to always use vstest.console to gather coverage.

Is there any limitation as to why you can't use vstest.console in your scenario?

[2018-03-29 20:38] pMaske commented on #1393
OK, this is what I am getting same error with both commands

C:\Program Files\Microsoft Visual Studio\2017\Professional\Common7\IDE\Extensions\TestPlatform> vstest.console "C:\output\winuwp_x86_release\bin\Esri.ArcGISRuntime.Tests\Esri.ArcGISRuntime.Tests.Universal.build.appxrecipe" /Logger:trx /InIsolation /framework:FrameworkUap10

OR

C:\Program Files\Microsoft Visual Studio\2017\Professional\C

[2018-03-29 22:04] atlemann commented on #1284
I got `dotnet test` working for a `net461` test project on Ubuntu. Created a small repo [here](https://github.com/atlemann/dotnet-test-workaround). It's a workaround at least. For more info about it, look [here](https://atlemann.github.io/fsharp/2018/03/07/multi-targeting-mono.html).

[2018-03-30 22:16] AbhitejJohn opened #1522 "Test Platform fails to run tests if an adapter supplied does not exist"
## Description
The platform fails to run any test if one of the adapters does not exist.

## Steps to reproduce
1. Create an nunit test project with nunit 3.10.1 and nunit3testadapter 3.10.0
2. Ensure that tests are discovered.
3. Remove/rename the test adapter from "packages\NUnit3TestAdapter.3.10.0\build\netcoreapp1.0"
4. Run all the tests in the solution.

## Expected behavior
The tests run (us

[2018-03-30 22:20] AbhitejJohn commented on #1522
This is something that we've run into as part of our testing. We do not yet know how the adapter files are being deleted. It also does not help that in a design mode scenario these extensions are initialized once and cached thereafter. So an intermittent issue like so, can cause issues throughout the session.

[2018-03-31 19:17] lucastheisen commented on #1129
The `dotnet pack` command looks for the `<IsPackable>` property.  It would be nice if `dotnet test` looked for `<IsTestable>`.  At face value, it seems like a really simple solution that would be quite valuable.

[2018-04-01 03:13] #1069 closed

[2018-04-01 03:16] cltshivash commented on #1471
@NateB2 Though there are two errors, the cause for the failure is #1472. if you are using VSTS you can use the Test Tools Installer task to get the fix. VS 15.6.5 update will also have the fix.

[2018-04-01 23:43] ManishJayaswal commented on #1495
This is currently tracked by the following internal VS issue - (https://devdiv.visualstudio.com/DevDiv/_workitems/edit/575737)

[2018-04-02 00:43] ManishJayaswal commented on #1522
@cltshivash FYI. We have seen this several times now. I also suspect some feedback where we are asking folks to delete the extensions folder might be caused by this. It would be great if this could be fixed in 15.7.

[2018-04-02 14:09] borrrden commented on #1448
It's been a while since I've seen this, so I think it was actually the machine's display going to sleep ("display" here is kind of confusing since it is in a VM which is one of several dozen running via Xen on a machine).

[2018-04-02 14:09] #1448 closed

[2018-04-02 14:29] smadala commented on #1501
@paulvanbrenk Depends on which processes loads your NS test adapter. For working with `dotnet test` NS1.6 is good enough to support >= .NET Core1.0.  [More details](https://github.com/dotnet/standard/blob/master/docs/versions.md)

![image](https://user-images.githubusercontent.com/4337332/38199967-34956208-36b0-11e8-9664-4f3a5a3c1992.png)

[2018-04-02 14:54] smadala commented on #1345
@qingjuntian You are changes released in >= 15.7.0-preview-20180221-13. You can see the version when you run `dotnet test`.

![image](https://user-images.githubusercontent.com/4337332/38200613-b0b3cd64-36b2-11e8-916a-958197e526c7.png)
****

I learnt while working on another issue that you can open a file in two different process with read mode also. You should specify [fileshare](https://msdn.micr

[2018-04-03 01:00] 42shadow42 commented on #1298
@smadala I probably could but the issue appears to have already been fixed. I identified my version of visual studio to be out of date on my build box. I cant reproduce it on a box with the latest version. Do you still want me to get you logs?

[2018-04-03 10:08] ShreyasRmsft commented on #1332
@psaniuk closing this issue for now. Please re-open if you get a re-pro. Also share the re-pro steps/solution.

[2018-04-03 10:17] ShreyasRmsft commented on #816
Have added it to [back log](https://mseng.visualstudio.com/VSOnline/_workitems/edit/1225270). Closing this issue.

[2018-04-03 10:17] #816 closed

[2018-04-03 13:35] DerGary opened #1524 "UWP Unit Test App is paused when no one is logged in on build server or the app gets minimized"
## Description
We are using VSTS to build and tests our uwp apps.
Since we moved to the new TestPlatform for uwp unit tests, the Unit Test App gets paused when no user is logged in on the server. It is also paused when you minimize the Unit Test App on the local computer.

(we switched to TestPlatform because VSTest build task on Visual Studio 15.5 or later is always using the vstest of the new Te

[2018-04-03 13:57] qingjuntian commented on #1345
thanks Satya,

In fact I did not test the change with my scenario - that is why i am
asking here how to install version with this fix.

My scenario is when I run cases (my funtional test case project is
targeting Dotnet core app2.0)
1, the dev.json file is a soft link, which is not writable - I work around
this by copying the real json file
2, I need to run the cases in a parallel way, thus there

[2018-04-03 14:02] smadala commented on #1345
@qingjuntian I have update my earlier comment.

Because of above reason, your second scenario won't work with your fix.

[2018-04-04 08:34] mookid8000 commented on #472
Seems to be an issue in 15.6.4 too .... good times 😐

[2018-04-04 08:39] ilia-valchenko opened #1526 "Handle test run start event"
Need to way to handle test run start event. It looks like currently I can't to do it. I implemented `ITestLogger` interface and created the following event handlers.

[code]
There is no way to do something when a test starts. I have read about `DataCollector` which is probably responsible for it, but I'm not sure.

[2018-04-04 08:52] pvlakshm commented on #1526
Yes, you can write a data collector. See [SampleDataCollector.cs](https://github.com/pvlakshm/Samples/blob/master/NUnit39/OutOfProcDataCollector/SampleDataCollector.cs)

[2018-04-04 09:08] ilia-valchenko commented on #1526
@pvlakshm I did it, but didn't get any response from it. I create a separate class library targeted to .NET Framework 4.5.2. Install the latest version of Microsoft.TestPlatform.ObjectModel library from Nuget.

[code]

Also I added reference to this library to my Unit Test Project. Now it contains `SimpleDataCollector.Collector.dll` into my `Repos\TestSolution\Service.UnitTests\bin\Debug`
And the

[2018-04-04 13:13] jnm2 commented on #472
@HppZ @mookid8000 Like the team said right above your comments, you should not expect this to work until 15.7.

Has anyone installed 15.7 yet? I'm going to play with Blazor when I get a chance, so if no one else wants to confirm the GUID fix I'll do it.

[2018-04-04 14:13] smadala commented on #1004
The fix was in Microsoft.NET.Test.SDK which is meta package with prop and targets.  For details refer https://github.com/Microsoft/vstest/issues/515#issuecomment-347825351

[2018-04-04 14:13] #1004 closed

[2018-04-04 14:54] smadala commented on #1503
@rainersigwald Is there any change required from VSTestTask?

[2018-04-04 21:54] pMaske commented on #1393
@mayankbansal018 just wanted to update, I was finally able to run the UWP unit tests using appxrecipe
and /framework:FrameworkUap10 switch. Thanks for your help.

[2018-04-05 05:05] pvlakshm commented on #1502
@maulwuff
Agree @mayankbansal018. Please use vstest.console to gather codecoverage.

[2018-04-05 06:43] smadala commented on #1502
@maulwuff Ping us if you find any limitation with collecting code coverage with vstest.console.exe

[2018-04-05 06:43] #1502 closed

[2018-04-05 08:01] mayankbansal018 commented on #1393
@pMaske , good to know it worked for you, however as I mentioned the support for ".appx" will be available from 15.7 update, you would need to rebuild ".appx" in 15.7 though before trying it out.

[2018-04-05 09:56] kaadhina commented on #1471
Closing this since #1472 is tracked

[2018-04-05 09:56] #1471 closed

[2018-04-05 12:51] pvlakshm commented on #1526
Please see this [Sample](https://github.com/pvlakshm/Samples/tree/master/NUnit39). It has a data collector implementation

[2018-04-05 16:25] StrangeWill commented on #705
Yeah, I'm not a fan of having to piggy-back on various scripting platforms (bash/powershell) because they're not portable (outside of Powershell Core, and I'm not a fan of pushing Powershell as a must on Linux for proper dotnet support).

This concept should really be supported by our tool chain and not hacked around.

[2018-04-06 02:08] trparky opened #1530 "Visual Studio doesn't remember all pinned files"
## Description
Visual Studio doesn't remember all pinned files.

## Steps to reproduce

## Expected behavior

## Actual behavior

[2018-04-06 08:59] asartem opened #1531 "Wrong exception handling (outside of catch block) makes 2 same test results instead of single one."
## Description
vstest.console.exe returns two exceptions instead of single one and that creates two test results in TFS instead of one. The problem is in wrong and to earlier exception handling. Developer may need to suppress current exception and wrap it or update exception message inside of catch block, but vstest doesn't handle the last exception, it creates 2 exceptions.

## Steps to reproduce

[2018-04-06 09:07] bastianbrinkmann opened #1532 "VsTest Console - TestCaseFilter via filter file"
## Description
The filtering of testcases can only be performed directly in the command line (https://github.com/Microsoft/vstest-docs/blob/master/docs/filter.md).
In my use case scenario, I need to filter individual test cases by FullyQualifiedName causing the arguments to get too long for the command line (>  32,767 characters).

It would be beneficial if it would be possible to pass the test fi

[2018-04-06 20:25] shawnhar opened #1534 "Running C++/CX UWP unit test project via vstest.console.exe hangs"
- Clone https://mscodehub.visualstudio.com/_git/Win2D
- Using Visual Studio 15.6.4
- Building and running tests inside the IDE works fine
- But if I run tests from commandline via vstestconsole.exe, the winrt.test.external.uap test run hangs
- Easiest way to repro this is "msbuild win2d.proj /p:BuildPlatforms=Win32 /p:BuildConfigurations=Debug"
- vstest.console.exe is able to launch the test appli

[2018-04-06 20:38] shawnhar opened #1535 "Cannot customize IntermediateOutputPath and BaseIntermediateOutputPath for C# UAP test project"
My original repro:
- Clone https://mscodehub.visualstudio.com/_git/Win2D
- Edit winrt\test.managed\winrt.test.managed.uap.csproj
- From line 27, delete:
[code]
- Using Visual Studio 15.6.4
- Load win2d.uap.sln
- Attempt to run test.managed unit tests
- Tests cannot launch because MSTest.TestAdapter was not copied to the build output folder

Simplified repro:
- File / New / Project / Visual C# / Wi

[2018-04-08 08:54] qingjuntian commented on #1345
The default value Fileshare  Enum when opening file is FileShare.Read
right?

https://referencesource.microsoft.com/#mscorlib/system/io/filestream.cs,460

In this case should I specify the fileshare parameter again?

Thanks,
Qingjun

On Tue, Apr 3, 2018 at 10:02 PM, Satya Madala <notifications@github.com>
wrote:

[2018-04-09 02:00] cltshivash commented on #1530
@trparky : Please open this issue at https://developercommunity.visualstudio.com/

[2018-04-09 02:00] #1530 closed

[2018-04-09 02:07] cltshivash commented on #1522
@ManishJayaswal @AbhitejJohn Haven't we fixed the code to not use the Extensions cache folder for 15.7 ? Is there some user sceanrio (apart from a manual delete) where we are hitting this ?

[2018-04-10 00:10] ManishJayaswal commented on #1522
@cltshivash - yes we have fixed the code to not use the cache in 15.7. So that set of users should not see it in 15.7. However I believe this specific issue is still happening in 15.7 and tests are not getting run.

[2018-04-10 19:24] AbhitejJohn commented on #1522
@cltshivash : Post the cache fix there still appears to be something that is causing certain adapter dependencies to disappear. I haven't figured out what yet, since this is pretty rare and is intermittent. Probably I can add selective filelogger logging to get to this, since it does happen quite often with Manish at least. However, when this does happen it would be great to continue on with the t

[2018-04-10 20:05] genlu opened #1539 "`FIlterOptions` is not serialized correctly when running .NET Core tests"
We have noticed that for .NET Core tests, when we run them using filter and a valid `FilterOptions` (through `IVsTestConsoleWrapper`, see the first screenshot below), the `FilterOptions` received on the testhost side will be `null` (see 2nd screenshot below). This doesn't happen for desktop framework tests.

Here's the internal bug tracking this
https://devdiv.visualstudio.com/DevDiv/_workitems/ed

[2018-04-10 20:06] genlu commented on #1539
FYI @ManishJayaswal

[2018-04-10 20:23] AbhitejJohn opened #1540 "Cancel/Abort is not honored when triggered before a custom host is launched."
## Description
When a Cancel/Abort is sent to the DesignModeClient before the custom host is launched(for debugging let's say) we tend to ignore this and continue on with sending out requests to the client to launch the custom host and continue with the workflow.

## Steps to reproduce
1. Open a solution with some tests
2. Open Test Explorer
3. Run all tests, quickly cancel before tests are run.
4

[2018-04-11 11:42] qingjuntian commented on #1345
hello Satya, could you please help check my previous question?
"
The default value Fileshare  Enum when opening file is FileShare.Read
right?

https://referencesource.microsoft.com/#mscorlib/system/io/filestream.cs,460

In this case should I specify the fileshare parameter again?"

Thanks,
Qingjun

On Sun, Apr 8, 2018 at 4:54 PM, qing jun tian <qj.tian@gmail.com> wrote:

[2018-04-11 12:32] GrimSmiler commented on #981
Used coverlet's feature to export the results in OpenCover format as part of TFS build step.
Also managed to feed it to SonarQube server. Not sure about the validity of metrics, but i can assure that such pipeline is possible.

@tonerdo +1

[2018-04-12 07:18] mmajcica opened #1541 "Trx file format"
Dear,

I took a look on previouslly reported issues and I found some of them that can relate to this. However, the response in those is inconclusive.

Many tools do relay on the trx file. In case of the test run with MsTest the resulting trx is different then if run with VsTest with trx logger.
Differences between the two TRX outputs are small but are preventing tools such as SpecFlow report gener

[2018-04-12 09:34] cfletcher commented on #705
@altinoren the problem with that script is that you're not handling the failure of tests in an individual project - You're running the tests, displaying the output and ignoring the result of the run to continue onto the next project
In something like a docker build a unit test failure will not result in a build failure.
We switched to this:
`RUN Get-ChildItem -recurse *tests.csproj | % { dotnet te

[2018-04-12 13:53] bjorn-ali-goransson commented on #811
Try deleting your `AppData\Local\Temp\VisualStudioTestExplorerExtensions` folder and restarting visual studio.

I also updated my XUnit packages first, but it did not want to work until I did this as well.

[2018-04-12 21:55] NateB2 commented on #1472
We have ran builds with the fixed version since Monday, and no builds have failed due to the socket exception, so it appears to be fixed for us.  Thanks!

[2018-04-13 06:30] davidfowl opened #1542 "The active test run was aborted. Reason: After parsing a value an unexpected character was encountered"
This is another version of https://github.com/Microsoft/vstest/issues/1435 that we're seeing recently on various SignalR runs. I don't have a consistent repro but here's an instance of that failure:

https://ci.appveyor.com/project/aspnetci/signalr/build/1.0.4105

[code]

The current commit that reproduces the problem https://github.com/aspnet/SignalR/commit/d8d8e24c80c94dd78aef20cdf9a851aba13d762

[2018-04-13 07:34] gulbanana commented on #998
hopefully it's fixed, then

[2018-04-13 09:30] jayaranigarg commented on #1534
@shawnhar : Thank you for reaching out to us. The support for UWP C++ tests running via appx was not rolled out in VS 15.6.4. This will only be available in latest 15.7 Preview.

As a workaround (for 15.6.4), you can run tests in CLI using appxrecipe(instead of appx). First, uninstall  test.external application from Windows start menu and then try running your tests from CLI like

Let us know if t

[2018-04-13 12:43] pvlakshm commented on #981
We are starting on enabling code coverage via `dotnet test` as described in this [RFC](https://github.com/Microsoft/vstest-docs/blob/master/RFCs/0021-CodeCoverageForNetCore.md).

[2018-04-13 12:44] pvlakshm commented on #1312
We are starting on enabling code coverage via `dotnet test` as described in this [RFC](https://github.com/Microsoft/vstest-docs/blob/master/RFCs/0021-CodeCoverageForNetCore.md).

[2018-04-13 19:29] fguinan commented on #1534
I'm having the same issue and don't understand the workaround. What appxrecipe file do I point vstest.console to? When pointing at the appxrecipe file generated in the build output, I get the following message:

_"Test container 'C:\<path-to-build-output>\UnitTestApp2.exe' skipped. The tests in this test container can be executed only in windows store app unit test execution mode
No test is availa

[2018-04-13 21:06] alexsandro-xpt commented on #799
@mattiasw2 nice job! but, it's a bug in dotnet test?

[2018-04-13 22:04] davidfowl commented on #1542
Happened again here https://ci.appveyor.com/project/aspnetci/signalr/build/1.0.4149

[2018-04-17 01:11] BlitzkriegSoftware commented on #579
This is still an issue for XUnit on .NET Core 2.0 projects. Why is this closed?

[2018-04-17 08:26] smadala opened #1544 "VSTest.console.exe fails due to connection timeout."
## Description
- When vstest.console.exe running on slow machines(E.g: Hosted agents), Intermittently it is failing various timeouts.

Following are the various error messages appears.
- Timeout while connecting to testhost.
[code]

- Timeout while negotiating protocol with testhost.
[code]

- Timeout while connecting to datacollector.
[code]

- Timeout while datacollector connecting to vstest.con

[2018-04-17 08:58] DerGary commented on #1520
someone please?

[2018-04-17 08:59] DerGary commented on #1524
sorry but that is not a question

[2018-04-17 09:05] IvanAlekseev commented on #579
Thats the latest update from Microsoft I believe - https://github.com/Microsoft/vstest-docs/blob/master/RFCs/0021-CodeCoverageForNetCore.md

[2018-04-17 10:50] abhishkk opened #1545 "Allow ISettingsProvider implementation with the test adapter itself."
**Issue**:
ITestDsicoverer, ITestExecutor are the required implementations of test adater.
ISettingsProvider is the implementation which is optional for the adapter, but is a [part](https://github.com/Microsoft/vstest-docs/blob/master/RFCs/0004-Adapter-Extensibility.md#adapter-specific-settings) of adapter extensibility.

Today we require SettingsProvider to be implemented as a separate assembly e

[2018-04-17 10:57] ganesp commented on #1484
@ShreyasRmsft
This is as designed. You need to set the ForcedLegacyMode to true.
Please refer this doc: https://msdn.microsoft.com/en-us/library/jj635153.aspx

[2018-04-17 11:15] #1484 closed

[2018-04-17 19:07] vaishnavk opened #1546 "Starting Http listener in VS Test fails with AccessDenied"
We have a test which brings up a Owin Selfhost service. The test fails with access denied when running it through the VS Test Task.

Error message
 Initialization method VolumeResourceManager.Test.VolumeResourceManagerTest.TestSetup threw exception. System.Net.HttpListenerException: Access is denied.
 Stack trace
 at System.Net.HttpListener.AddAllPrefixes()

at System.Net.HttpListener.Start()

at

[2018-04-18 08:01] isaac-mcgarvey commented on #1332
Here's a repro solution:
[repro.zip](https://github.com/Microsoft/vstest/files/1922904/repro.zip)

I only know how to repro it in Visual Studio, not the command line. I'm using Visual Studio 2017 15.6.6. Open that solution and build the XamarinUnitTests.UWP project. Make sure it actually builds rather than getting skipped (right click the project in Solution Explorer and choose build). Then, click

[2018-04-18 10:38] jayaranigarg commented on #1534
@fguinan : Apologies for the confusion. I edited my previous comment to say that appx support is broken in VS15.6 and will be fixed in VS15.7.

Meanwhile, you can use appxrecipe generated in build output to run your tests. You will have to pass
**/framework:FrameworkUap10** switch as well while using vstest.console to run your tests.

[2018-04-18 10:39] jayaranigarg commented on #1534
@shawnhar : Any updates on this? Did the workaround work for you?

[2018-04-18 10:44] davidfowl commented on #1542
Happened again here https://ci.appveyor.com/project/aspnetci/signalr/build/1.0.4302

[2018-04-18 11:59] davidfowl commented on #1542
@smadala what can I do to get somebody to investigate this?

[2018-04-18 13:05] smadala commented on #1542
@jayaranigarg @abhishekkumawat23 Can you please look into this issue?

[2018-04-18 13:08] smadala commented on #1544
Fixed in https://github.com/Microsoft/vstest/pull/1538 .
Increased timeout to 90 seconds and made all the connection timeouts configurable by environment variable `VSTEST_CONNECTION_TIMEOUT` .

[2018-04-18 13:08] #1544 closed

[2018-04-18 13:25] shawnhar commented on #1534
I wasn't able to get the workaround working.   Good to hear this will be fixed in the next VS update though!

[2018-04-18 16:08] SabotageAndi commented on #135
It looks like this is still a problem in VS 2017 15.7 Preview 3.0 and in vstest.console.exe 15.7.0-preview-20180320-02.

Is there a recommendation what to do, if devs have their sources on different locations on their machines?

[2018-04-18 18:16] StingyJack opened #1548 "Code Coverage should not be checking the unit test projects themselves for coverage."
Running the code coverage option from the test explorer will always display the coverage statistics for unit test assemblies, and this skews the overall results.

I'm aware that this can be excluded by using a runsettings/testsettings file, but that has become tedious after a hundred or so projects, especially since VS cant associate and remember the test settings file with the solution. The way i

[2018-04-19 05:55] jayaranigarg commented on #1534
@shawnhar : Can you post here the results of running his command on your box here:

Are you blocked on this or does nest release works for you?

[2018-04-19 07:15] smadala commented on #1548
Agreed with @StingyJack , To get proper coverage for product code only, Currently we have to pass runsettings. I run into same experience when try to get code coverage for vstest repo.

[2018-04-19 07:26] bastianbrinkmann opened #1549 "Restoring NuGet "Microsoft.TestPlatform.TranslationLayer" fails for Project targeting 4.6.1"
## Description
When I try installing the NuGet Package "Microsoft.TestPlatform.TranslationLayer" (current Version: 15.7.0) in a project targeting .NET Framework 4.6.1, I get the following Error Message:

Workaround: Adding a reference to 'C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.6.1\Facades\System.Runtime.dll' fixes the Issue, but this does not seem to be ri

[2018-04-19 09:11] abhishkk commented on #1359
Test case data driven is working with TPv2 for mstest v1 adapters (tried the same for DataSource attribute with CodedUI.)

[2018-04-19 09:11] #1359 closed

[2018-04-19 17:37] livarcocc opened #1554 "`dotnet test` fails when the file path has an ampersand in it"
_From @cynic on April 18, 2018 14:27_

## Steps to reproduce

1. Move existing solution, which contains a test project, to a directory that has an ampersand in it, e.g. `C:\Projects\Tom&Jerry\`.
2. Run `dotnet test` with the relevant `.csproj` file.

## Expected  behavior

Tests should be executed.

## Actual behavior

An `XmlException` is thrown; a stack trace is printed out; and the tool exits b

[2018-04-19 17:37] livarcocc commented on #1554
_From @omajid on April 18, 2018 20:46_

Here is the stack trace:

    Unhandled Exception: System.Xml.XmlException: An error occurred while parsing EntityName. Line 1, position 25.
       at System.Xml.XmlTextReaderImpl.Throw(Exception e)
       at System.Xml.XmlTextReaderImpl.Throw(String res, String arg)
       at System.Xml.XmlTextReaderImpl.ParseEntityName()
       at System.Xml.XmlTextReaderI

[2018-04-19 21:08] livarcocc opened #1555 "dotnet 2.1-preview 2 test unable to load dependent project libraries"
_From @lunim on April 19, 2018 6:29_

Hello,

I have a simple xunit test project that references a single .net core 2.1 app.  Both define `<TargetFramework>netcoreapp2.1</TargetFramework>`.  The app references System.CommandLine: `<PackageReference Include="System.CommandLine" Version="0.1.0-preview2-180412-1" />` and includes the proper myget source in order to restore it.

I can build the app wi

[2018-04-19 21:08] livarcocc commented on #1555
_From @Petermarcu on April 19, 2018 21:2_

So the app builds and runs just fine? Its just the unit testing that doesn't work? @kendrahavens Do you know the best people to loop in to help here?

[2018-04-19 21:32] lunim commented on #1555
@Petermarcu Yes, the app builds and runs without issue.  The unit tests also work correctly if I add the System.CommandLine PackageReference to the test's .csproj.

[2018-04-19 21:47] lunim commented on #1555
@Petermarcu @livarcocc I believe I may have found a cause, the app I am testing is a global tool, I have the option `<PackAsTool>true</PackAsTool>` set.  If I remove this flag, the tests work.

[2018-04-20 01:06] cltshivash commented on #1546
You will need to run the automation agent with a higher privilege. There's no plan to enhance the vstest task as a different user.

[2018-04-20 02:05] #1546 closed

[2018-04-20 02:16] livarcocc commented on #1555
@wli3 can you take a look? If seems some of our pack work may have broken dotnet test for direct references to a global tool.

[2018-04-20 08:04] PaulVrugt opened #1556 "Xamarin.Forms UI Tests cannot be run"
## Description
Xamarin.Forms UI Tests cannot be run. In visual studio IDE the tests show up in the test explorer, but once you try to run the tests, the test output windows shows:

------ Run test started ------
[20-Apr-18 09:50:27 Warning] No test is available in ***.dll. Make sure that test discoverer & executors are registered and platform & framework version settings are appropriate and try ag

[2018-04-20 13:32] jayaranigarg commented on #1542
Looking into this..

[2018-04-20 13:47] jayaranigarg commented on #1542
@davidfowl : I followed following repro steps
1. Cloned repo and went to commit 4a568e90d2eba112b7adae3526ef6
2. Ran build.cmd
and hit this error:
![image](https://user-images.githubusercontent.com/17309452/39054435-3f83373a-44cf-11e8-8b78-1bfd79323fb1.png)
What did I miss out?

[2018-04-20 15:04] davidfowl commented on #1542
You need to install nodejs https://nodejs.org/en/.

[2018-04-20 15:14] wli3 commented on #1555
This issue was moved to dotnet/cli#9109

[2018-04-20 15:15] wli3 commented on #1555
seems i cannot close it

[2018-04-23 11:26] abhishkk opened #1561 "Trx file generated is not beautified when opened in editor"

[2018-04-23 12:39] cltshivash commented on #1556
Could you please open an issue at https://developercommunity.visualstudio.com/ ?

[2018-04-23 12:39] #1556 closed

[2018-04-23 12:41] dmstrat commented on #1213
I realize this is closed, but what is the 'supported' CLI Integration for a MSTest v2 Project? I'm feeling misled to call it a MSTest project if MStest doesn't work 'out of the box' as it were.  Changing it to a MSTest v1 project doesn't feel like 'moving foward'.

[2018-04-23 12:49] jayaranigarg commented on #1542
@davidfowl : After installing nodejs I am facing these errors:

![image](https://user-images.githubusercontent.com/17309452/39127457-b7155fb2-4722-11e8-883c-efb2c052fb68.png)

[2018-04-23T09_49_03_085Z-debug.log](https://github.com/Microsoft/vstest/files/1938220/2018-04-23T09_49_03_085Z-debug.log)

[2018-04-23 15:41] anurse commented on #1542
That error is in our browser-based JavaScript tests, which run after the `dotnet test`-based test, so the error would have reproed before getting to that point. It looks like the screenshot is cut off below the actual error so I'm not able to see why the browser tests failed, but for this investigation you can disregard failures at that point.

Note that the issue with `dotnet test` does not gener

[2018-04-24 02:24] cltshivash commented on #1561
@abhishkk Please validate on top of https://github.com/Microsoft/vstest/pull/1521

[2018-04-24 07:00] PaulVrugt commented on #1556
@cltshivash

Just to be sure:
I've opened an issue here, because the behavior is not specific to visual studio. Trying to run the tests from the command line (using vstest.console) results in the same issue.

[2018-04-24 11:11] PaulVrugt commented on #1556
ok never mind, I've left the project alone for a while, and now when I tried again this morning it magically worked.

[2018-04-25 04:44] cltshivash commented on #1542
@BrennanConroy @anurse  Please enable diag logs https://github.com/Microsoft/vstest-docs/blob/master/docs/diagnose.md#dotnet-test

[2018-04-25 17:37] BrennanConroy commented on #1542
Reproduced the issue and got diag logs
https://microsoft-my.sharepoint.com/:u:/p/brecon/EUXU80VCVJBEhw2kjnkhD74BC5zjm4PeVWEF-ZqG0PPhNw?e=RveBhQ

[2018-04-26 12:49] roizentner commented on #686
How is #894 not on your backlog/roadmap?!
How is this issue not getting the attention it deserves? This is a major flaw that's been around since the introduction of vstest.
Now, with data-driven tests executed via VSTS, we can't be expected to rollback to the old mstest!

[2018-04-26 12:51] roizentner commented on #894
@PBoraMSFT I've checked your published backlog (#686). Couldn't find this issue there.

How is this issue not getting the attention it deserves? This is a major flaw that's been around since the introduction of vstest.
Now, with data-driven tests executed via VSTS, we can't be expected to rollback to the old mstest!

[2018-04-27 10:10] matthew-horrocks opened #1566 "dotnet core test support for the Visual Studio Test task"
I've seen various comments, reports and suggestions that dotnet core test support for the Visual Studio Test task is on your backlog and will be addressed.

Is there a timeline for this work? Is it in progress? Is there a beta version of the task we can trial this with?

Thanks,
Matt

[2018-04-27 17:07] ericlemes opened #1567 "Code Coverage Excludes for Native C++ Code"
## Steps to reproduce

Not sure if it is a defect. May only be a question. Just run any C++ Native Source Code project, linked to any external library/header, and with the linker setup as described in https://blogs.msdn.microsoft.com/jsocha/2011/08/16/capturing-c-code-coverage-with-visual-c/.

I work for Microsoft btw (alias ercintra) and have the full example uploaded to VSTS.

In my example, I'v

[2018-04-28 01:46] EdwardDing opened #1568 "[C#][.Net Core][UT&Desktop] Cancel "Run All" failed and throw 2 errors"
## Description
Cancel "Run All" failed at the seconding cancelling and 2 error messages will be thrown in output window.

## Steps to reproduce
Repro gif:  \\mlangfs1\public\v-zchan\CancelRunAll.gif
1. Create a Console App(.NET Core) application
2. Have your sample test methods in your project.
3. Add a new "Unit Test Project(.NET Core)" project into this solution.
4. Refer above console app in th

[2018-04-30 09:47] karanjitsingh opened #1569 "TestSession.Message does not get logged to console during discovery"
`TestSession.Message` sent to vstest.console via a custom test host does not get logged to console.

[vstest.console.log](https://github.com/Microsoft/vstest/files/1960126/vstest.console.log)
[code]

[2018-04-30 09:51] mayankbansal018 commented on #1377
We can take this as improvement if it comes as an input from users stating that they don't understand this message. Closing this as not received any such inputs

[2018-04-30 09:51] #1377 closed

[2018-04-30 10:00] mayankbansal018 commented on #1332
@isaac-mcgarvey , neither of your projects are UWP UT projects, I'm adding IDE folks to investigate as to why a test run/discovery request is issued for these projects.

@AbhitejJohn , @ManishJayaswal  , can you please investigate this. A test run/discovery request is being issued for Xamarin projects which are not UT projects.

[2018-04-30 12:05] cltshivash commented on #1542
@BrennanConroy Thanks for the logs.

[2018-04-30 12:52] jayaranigarg commented on #1534
@shawnhar : Any updates?

[2018-04-30 12:57] shawnhar commented on #1534
I haven't had a chance to try this yet, sorry.  The issue is blocking my ability to run tests during automation, so for now I've just turned that off.

[2018-04-30 14:14] mayankbansal018 commented on #1542
@BrennanConroy , I was analyzing these logs, & found that while reading from network stream, we are reading data from multiple writes. To verify this, we would need to get logs from the point where we are writing data into network stream, which would confirm that whether a corrupted data was written, or whether the issue is during read.
The change to log write data, is present in our latest 15.7 v

[2018-04-30 14:29] mayankbansal018 commented on #1567
@ericlemes , I'm not sure what is the exact ask here, you mentioned that you would want to exclude anything that contains "Microsoft" in path, which is possible today as you can mention such modules under <Modules> <Exclude> section of code coverage configuration.

Also as per your screenshot I see only one module covered which is exam**.dll, which I suppose is what you would want.

Are you lookin

[2018-04-30 14:32] mayankbansal018 commented on #1568
@EdwardDing apart from observing exception messages in Test output pane, are you also observing any additional issues, for e.g. your subsequest run test doesn't work, or incorrect result?

[2018-04-30 14:32] mayankbansal018 commented on #1566
@pvlakshm , I suppose we have a story planned for this, can you please share the plan here

[2018-04-30 14:35] mayankbansal018 commented on #1561
@abhishkk , please provide details on expectations, also as mentioned by Shiva, can you validate whether this has been fixed as per your expectations?

[2018-04-30 14:41] mayankbansal018 commented on #1549
@bastianbrinkmann , I tried to repro this, & was successful in referencing package "Microsoft.TestPlatform.TranslationLayer" to net461 app, please see attached screenshot.

If you are stil facing this on latest VS 2015.6.6, can you please share a sample repro with us.
![translationlayerref](https://user-images.githubusercontent.com/24792973/39433111-b3ceb67e-4cb2-11e8-9e70-c280066ea19f.PNG)

[2018-04-30 14:43] mayankbansal018 commented on #1539
Fixed in VS 15.7 RTM

[2018-04-30 14:43] #1539 closed

[2018-04-30 14:46] mayankbansal018 commented on #1535
@shawnhar , the issue was on nuget side, which has been fixed in update 15.7. It will be released around May 7th.

[2018-04-30 14:54] matthew-horrocks commented on #1566
I did wonder this morning if this would have been better asked at https://github.com/Microsoft/vsts-tasks/issues as it relates more to the VSTS Visual Studio Test task.

[2018-04-30 16:08] ericlemes commented on #1567
Hi @mayankbansal018
The issue here is that because it is C++ and there are external libraries compiled and linked inside the module examplecode.mstests.dll, some namespaces which does not make sense to track coverage are being tracked. In the example above, Microsoft::VisualStudio::CppUnitTestFramework is the unit test framework compiled inside the .dll. I don't want to track that coverage, becaus

[2018-04-30 17:44] kendrahavens opened #1570 "Add NUnit templates by default to dotnet test"
## Description
Currently a user needs to run `dotnet new -i NUnit3.DotNetNew.Template`
before they run `dotnet new nunit` in order to create an NUnit project. Since mstest and xUnit templates are shipped with the dotnet cli we should also include the NUnit ones to make it easier for users to discover.

## Steps to reproduce
- Install dotnet cli
- Run `dotnet new nunit`

## Expected behavior
Create

[2018-04-30 19:32] livarcocc opened #1571 "Test aborted"
_From @KevinBurton on April 29, 2018 0:41_

## Steps to reproduce
`dotnet test --filter ImportIndexTest
`
## Expected  behavior
[code]

## Actual behavior

[code]

Test Run Aborted.

## Environment data
`dotnet --info` output:

[code]

The main project
[code]
The test project
[code]
Why is it aborted?

_Copied from original issue: dotnet/cli#9168_

[2018-04-30 19:32] livarcocc commented on #1571
I believe --filter does not work that way. If you are trying to filter your tests to a particular class or test name, you need to do something similar to this: `dotnet test --filter="FullyQualifiedName~ImportIndexTest"`

[2018-04-30 20:57] ManishJayaswal commented on #1332
ok, we will take a look. I have created a tracking bug for this in VSO. We will update this issue with what we find - (https://devdiv.visualstudio.com/DevDiv/_workitems/edit/608790)

@peterwald - FYI

[2018-05-01 15:08] RGH-LaksThiru commented on #858
I had this issue for past 2 days, finally, I solved it.
Tools -> NuGet Package Manager -> Manage NuGet Package for Solution , select all packages to update your project repository.

[2018-05-02 03:11] cltshivash commented on #1570
@kendrahavens This needs to be tracked on the dotnet core repo for templates

[2018-05-02 03:11] #1570 closed

[2018-05-02 09:42] mayankbansal018 commented on #1567
@ericlemes , you can exclude functions under namespaces, by specifying then under *Function* tag of Coverage Configuration, please look at https://msdn.microsoft.com/en-us/library/jj159530.aspx, for details on how namespaces, source files, modules etc can be excluded from Coverage.

For your specific e.g. above, we already exclude "Microsoft::VisualStudio::CppUnitTestFramework" namespace by defaul

[2018-05-02 09:45] #1540 closed

[2018-05-02 09:47] mayankbansal018 commented on #1534
@shawnhar , the support for running tests via ".appx" has been restored from 15.7 preview 3, & will be officially available in 15.7 RTM which is around 7th May.

[2018-05-02 12:37] mayankbansal018 commented on #1516
Closing, as not high priority

[2018-05-02 12:37] #1516 closed

[2018-05-02 12:50] mayankbansal018 commented on #1535
@shawnhar , I'm closing this issue, as it is fixed in latest 15.7 preview, & will be available in official 15.7 RTM

[2018-05-02 12:50] #1535 closed

[2018-05-02 12:51] #1534 closed

[2018-05-02 12:51] mayankbansal018 commented on #1534
@shawnhar , please reopen, if you still face this after 15.7 upgrade

[2018-05-02 15:59] mayankbansal018 commented on #1542
@davidfowl , @BrennanConroy , can you please share from which branch of dotnet/cli do you pick up dotnet sdk? From the logs it seems that it is from https://github.com/dotnet/cli/tree/release/2.1.3xx , our test platform logging changes went in https://github.com/dotnet/cli/tree/release/2.1.2xx, but since no release has been made from it, we can't get additional logs from your CI/CD.

I'll push lat

[2018-05-02 22:25] anurse commented on #1542
We use builds from the 2.1.300 build of the SDK, which is the most recent build as far as I'm aware. @natemcmaster can clarify exactly where we get our CLI builds from.

[2018-05-02 23:16] natemcmaster commented on #1542
We pick up CLIs from the 2.1.3xx branch.

This is concerning to me. 2.1.3xx has shipped two previews. We'll have an RC and final build very soon. If the vstest bundled in 2.1.3xx is older than what you see in 2.1.2xx, we should make sure to fix it ASAP. @johnbeisner @livarcocc can help you get the right branches merged/versions updated, etc.

[2018-05-02 23:26] livarcocc commented on #1542
What version should we be inserting for 2.1.3xx?

[2018-05-03 01:14] joshmouch opened #1572 "Intermittent hang from vstest on VS2017 agent"
I have a problem somewhat similar to #1410 that started happening about a week or so ago.  There were no changes that I am aware of to the solution itself.  It just suddenly started hanging.

When tests are running either from vstest or from dotnet CLI test, the job will hang intermittently.
I've let it sit there for several hours with no progress.
The place where it hangs varies from run to run,

[2018-05-03 01:57] joshmouch commented on #1572
In my last run, in {Guid}.host.{Timestamp}.txt, I have the following troubling log entries around the exact time things hang:

[code]

[2018-05-03 02:00] joshmouch commented on #1572
And the following in {Guid}.txt:

[code]

[2018-05-03 02:06] joshmouch commented on #1572
Another odd thing is in the console, it shows that the test project was finished *before* it shows the last test was passed.  Is this a race condition or just the output being delayed?

[code]

[2018-05-03 06:28] mayankbansal018 commented on #1542
@livarcocc 2.1.3xx should be on [15.7.0](https://github.com/dotnet/cli/blob/b390c9805e6730886129e424f9ce23ee4604266c/build/DependencyVersions.props#L44) , but it is on [15.7.0-preview-20180221-13](https://github.com/dotnet/cli/blob/release/2.1.3xx/build/DependencyVersions.props#L47)

We made change in 2.1.2xx around a month back, & I was hoping it would flow in 3xx implicitly, should I've raised a

[2018-05-03 10:48] mayankbansal018 commented on #1549
@bastianbrinkmann , I cannot repro this currenly please reopen, & attach a sample project, if you still hit this issue.

[2018-05-03 10:48] #1549 closed

[2018-05-03 11:53] mayankbansal018 commented on #1571
@kevinburton the way you are providing Filter should work, it's possible such a test does not exists, but the platform should not say run test aborted.

I was unable to repro this on a simple netcore UT projects(no abort), can you please share logs by passing --diag <filename>

[2018-05-03 12:59] mayankbansal018 commented on #1427
@nothrow , the option is available in latest dotnet sdk https://github.com/dotnet/cli/releases/tag/v2.1.300-preview2-008530 , can you please try it again.

[2018-05-03 13:01] ericlemes commented on #1567
Hi @mayankbansal018,

Thanks! That is really helpful.  But I've bumped in a new issue.

![image](https://user-images.githubusercontent.com/1776244/39577708-f365e9a0-4ed9-11e8-99b7-d905e4fad5cc.png)

Is it possible to exclude these "static void __scr_initialize" and similar. This is not my code...

I used these expressions and they don't work:

<Function>_scrt_.*</Function>
<Function>dllmain\_.*</F

[2018-05-03 13:30] mayankbansal018 commented on #1567
@ericlemes , we also control exclusion at file level, & by default we ignore certain paths for C++, e.g.  any source file from "*\\atlmfc\\.*" , "*\\vctools\\.*"   etc..

We will take this feedback, & try to improve the experience for C++ coverage.

[2018-05-03 13:30] #1567 closed

[2018-05-03 14:03] KevinBurton commented on #1571
@mayankbansal018 I have included a copy of the output when I start the test (interesting that I do get a test succeeded along with a test aborted message). I also included the --diag output (There seems to be two logs generated. The output is also placed in a file in the test project.)

Thank you.

[output.log](https://github.com/Microsoft/vstest/files/1971177/output.log)
[test.log](https://github

[2018-05-03 18:10] ManishJayaswal commented on #1332
We have fixed this issue in 15.8 branch. The fix should be available in previews 2 release of 15.8.

[2018-05-03 21:24] joshmouch commented on #1572
Is there anything else I can log or gather to help with this?  This has completely halted production because the CI is broken.

[2018-05-04 08:58] ninjaboy commented on #1129
guys, until this is properly fixed by MS, please have a look at @dasMulli solution above which works perfectly fine for me even considering that I have multiple solutions in the same folder

[2018-05-04 09:46] ericlemes commented on #1567
Hi @mayankbansal018,

This information is very helpful. But I still didn't manage to do what I want. To clarify the use case I'm expecting is:

1) Run coverage on command line
2) Publish results on a CI tool (TeamCity and VSTS)
3) Provide reports for the developer, allowing to run specific files
4) Provide a html coverage report that can be upload to the CI tool.

So, the process using the .TestSe

[2018-05-04 09:46] ericlemes commented on #1567
I'll open a new issue, since this one was closed even.

[2018-05-04 09:52] ericlemes opened #1575 "Code Coverage Excludes and Specifying Output File (C++ Native Code)"
Hi there,

I'm trying to use Visual Studio for code coverage, and my main use case is:

* Run coverage on command line, using the proper excludes to leave only production code coverage (ignoring libraries, runtimes, 3rd party code, etc)
* Publish results on a CI tool (TeamCity and VSTS)
* Provide reports for the developer, allowing to run specific files
* Provide a html coverage report that can be

[2018-05-04 11:44] thomashoef commented on #1331
@pkruk2 Did you find a solution for this issue? Whenever I run tests locally, they work, but on Team Foundation Server, they fail saying nunit.framework could not be found (FileNotFoundException)

2018-05-04T11:20:56.4737305Z Die Vstest-Diagnose wird in der Datei E:\agent\_work\_temp\357c6d10-4f8d-11e8-b1c2-eb05188701ef.txt protokolliert.
2018-05-04T11:20:56.8487239Z NUnit Adapter 3.10.0.21: Test

[2018-05-04 14:00] mayankbansal018 commented on #1542
I ran test for assembly "Microsoft.AspNetCore.SignalR.Tests", as these were reported failing in logs, on a machine multiple times(20-30 odd) on a low core isolated machine, but the tests did not fail once. I'll continue working on this on Monday.

[2018-05-04 15:54] #1519 closed

[2018-05-04 16:10] mayankbansal018 commented on #1542
@davidfowl , @BrennanConroy I analyzed this further, & the issue is happening because you are still on older version of testplatform, which does not have communication fix. We have pushed this fix in dotnet cli release/2.1.2xx branch, but it has not flown to release/2.1.3xx.

@livarcocc I've raised a PR I've raised a PR https://github.com/dotnet/cli/pull/9191 for release/2.1.3xx, can you please ap

[2018-05-04 22:51] JamesNK commented on #1542
@mayankbansal018 3xx already has the change apparently. What does that mean for us getting the fix?

[2018-05-05 04:53] mayankbansal018 commented on #1542
@JamesNK , once there is a release from 3xx, & you get that dotnet sdk picked for running tests, this issue will go away.

[2018-05-05 04:58] mayankbansal018 commented on #1520
@DerGary , sorry for the delay, we are aware of this issue, & I'll sync-up with UWP team to understand how to mitigate this.

[2018-05-05 05:09] mayankbansal018 commented on #1432
@jnm2 , From the logs it seems you are generating full pdb's for .Net Framework, can you please try this with latest dotnet SDK, 2.1.*. We have moved away from using RegFreeCom via Manifest file, to use P/Invoke, & it works fine for mstest adapter.

[2018-05-05 05:11] mayankbansal018 commented on #1392
@pvlakshm , can you please update the readme, & close this

[2018-05-06 11:11] MohsenBzm commented on #1129
Creating `Directory.Build.targets` didn't work on RHEL.

[2018-05-07 06:02] DerGary commented on #1520
@mayankbansal018 As a workaround I'm currently using a Powershell Script in my build definition to remove the TestApp before it gets installed, may be handy if someone else has this problem:

[code]

[2018-05-07 06:04] DerGary commented on #1524
@jayaranigarg Any progress regarding this issue? It drives me nuts to log in to our build server every time I want to build something.

[2018-05-07 06:12] mayankbansal018 commented on #1520
@DerGary , thanks for providing a workaround, I'm still working with UWP team to see how we can mitigate this issue.

[2018-05-07 07:54] pkruk2 commented on #1331
@thomashoef hmm I think for nunit v2 and xunit I'm simply using latest test adapter as is. For nunit v3 I'm making sure test adapter is next to nunit.framework.dll by making copying both to a temporary directory (more or less)

[2018-05-07 09:41] #1319 closed

[2018-05-07 17:00] thomashoef commented on #1331
Hi @pkruk2 , that is funny - I set a test adapter folder to $(Build.SourcesDirectory)\Testing\NUnit3TestAdapter.3.10.0\build\net35 and made sure to copy the nunit.framework.dll into it -- result: does not change a thing. If I change the version of the task from v2.0 to v1.0 it runs fine.

[2018-05-07 20:51] SoniaKaudjhis commented on #360
I have issue with [CodedUITest], How can I apply fix in my test solutions

[2018-05-08 07:34] mayankbansal018 commented on #1542
Closing this issue, it will get resolved after a dotnet sdk release from 2.1.3xx branch

[2018-05-08 07:34] #1542 closed

[2018-05-08 11:46] abhishkk commented on #1522
@AbhitejJohn Closing this issue as changes are checked in master with warning message in case adapter is not found. Please validate the same.
PR: https://github.com/Microsoft/vstest/pull/1578

[2018-05-08 11:46] #1522 closed

[2018-05-08 14:14] NikolayPianikov opened #1580 "vstest console does not show console output from a test logger for "quiet" verbosity level"
## Description

The [test logger](https://github.com/JetBrains/TeamCity.VSTest.TestAdapter) produces a console output
vstest console does not show this output for default verbosity level (quiet)

## Steps to reproduce
Install [.NET Core sdk-2.1.300-rc1](https://www.microsoft.com/net/download/dotnet-core/sdk-2.1.300-rc1)
Run tests from [sample](https://github.com/Microsoft/vstest/files/1984201/samp

[2018-05-08 15:50] dtretyakov commented on #1580
@smadala, @pvlakshm could you please take a look? It looks like a breaking change on which our customers complains: https://youtrack.jetbrains.com/issue/TW-54720

[2018-05-09 05:44] smadala commented on #1580
@dtretyakov @NikolayPianikov Thanks for reporting the issue.
Looks like there is behavior difference between how the dotnet cli executing VSTestTask(Additional property `-property:VSTestVerbosity=quiet`).

2.2.100-preview1
[code]
2.1.200-preview-007474
[code]

To fix the issue, We will make verbosity value minimal by default same as dotnet cli 2.1.

@dtretyakov I'm not sure making verbosity value

[2018-05-10 09:58] DanAtkinson commented on #594
Hi. Just to let you know that, despite the problem continuing to occur, the recent update to 15.7.0 resolved the issue completely.

**If anyone else has encountered this problem please ensure you have the latest version (15.7+) of Visual Studio 2017 installed.**

[2018-05-10 10:10] mayankbansal018 commented on #594
@DanAtkinson , thanks for sharing this, & good to know that 15.7 update resolved the issue for you.

[2018-05-11 09:48] Praveen1im opened #1583 "Unable to capture Performace counters from server machine while executing Load tests using Visual studio Team services"
We are using Visual studio 2017 Cloud load test and self provisioned rig for running our load tests and we configured some vm's as agents under the self provisioned rig and running the load test using cloud but we are not able to capture the counters from the server machines.

Virtual machines which are acting as agents and the server machines from which we need to capture the counters are in diff

[2018-05-11 10:48] cltshivash commented on #1572
@joshmouch Can you try running without code coverage enabled ? Also are the tests being run in parallel (multiple testhost processes) ?

[2018-05-11 10:56] dasMulli commented on #1129
@MohsenBzm for all projects or specific to this issue? If the `Directory.Build.targets` feature doesn't work at all, do consider opening an issue over at https://github.com/Microsoft/msbuild with a repro.

First thing I ran into with `Directory.Build.targets` on *nix was that I checked in a version with a lowercase `b` instead of `B` which then worked only on windows..

[2018-05-11 11:50] cltshivash commented on #1583
@Praveen1im Thanks for reaching out and using the static agent feature. This isn't supported today. Please  open a developer community issue as the load test issues aren't tracked in this repo. Closing the issue here

[2018-05-11 11:50] #1583 closed

[2018-05-11 12:14] #1572 closed

[2018-05-11 13:35] andreabioli commented on #1224
@chuckries I followed your indications, in a .NET Core 2 solution published on a Raspberry PI, and I could get to run this kind of command:
dotnet xxx/vstest.console.dll xxx/libraryWithTests.dll
But I obtain the following result:
No suitable test runtime provider found for this run.
Could you please just have any ideas on this?
Thanks in advance...

[2018-05-11 13:55] NikolayPianikov commented on #1580
@smadala Test Logger console output should be visible for **ANY** verbosity level
It is a breaking change:
- it is working as expected for SDK 2.1.104
- it is not working for SDK 2.1.200

 See the [attached sample](https://github.com/Microsoft/vstest/files/1995532/sample.zip)

[2018-05-11 13:58] smadala commented on #1580
@NikolayPianikov Thanks for repro, We will look into it.

[2018-05-11 16:37] chuckries commented on #1224
@andreabioli  This has actually gotten a lot easier now that there is a full .NET Core SDK (as opposed to just the runtime) for linux-arm. The .NET Core 2.1 RC1 SDK for linux-arm can be downloaded here: https://dotnetcli.blob.core.windows.net/dotnet/Sdk/2.1.300-rc1-008673/dotnet-sdk-2.1.300-rc1-008673-linux-arm.tar.gz

With this SDK you can build and test your project directly on the raspberry pi

[2018-05-12 06:43] chuanboz opened #1584 "Unable to find tests with FileNotFoundException"
## Description

I have a test which run fine locally but always meet issue in cloudtest complaint about FileNotFoundException and unable to find tests.

## Steps to reproduce

dotnet.exe vstest HttpServiceE2ETests.dll  /Platform:X64 /Logger:TRX /Diag:diag.log

## Expected behavior

Expect test to discover 4 tests and run fine.

## Actual behavior

System.IO.FileNotFoundException: Unable to find te

[2018-05-12 06:52] chuanboz commented on #1584
Microsoft (R) Test Execution Command Line Tool Version 15.7.0-preview-20180221-13

here is httpservicee2etests.deps (3).json that indicate Microsoft.NET.Test.Sdk.
"Microsoft.NET.Test.Sdk/15.3.0": {
        "dependencies": {
          "Microsoft.TestPlatform.TestHost": "15.3.0"
        }
      },

[2018-05-12 07:14] chuanboz opened #1585 "Diagnostics improvement: pass testHostPath also for NoTestHostFileExist"
https://github.com/Microsoft/vstest/blob/47230ad1736246c63f476177064886c5c613ba8c/src/Microsoft.TestPlatform.TestHostProvider/Hosting/DotnetTestHostManager.cs#L229

[code]

see also https://github.com/Microsoft/vstest/issues/1584, if I even have the full testHostPath, that trouble-shooting would be much easier than current error message.

[2018-05-12 11:18] andreabioli commented on #1224
Oh, wonderful news! :-) Thank you very much, I will give a look!

[2018-05-13 19:19] martincostello opened #1586 ".NET Core 2.1 RC1 test runner hangs after tests complete but before results are reported"
## Description

In both using the Test Explorer in Visual Studio 2017 15.7.1 and on the command-line using `dotnet test` with .NET Core 2.1.300 RC1, I'm experiencing an issue where the vstest process appears to be hanging indefinitely between the tests all being run and the test results being reported to the console.

Adding the `-- RunConfiguration.TestSessionTimeout=N` argument breaks the test r

[2018-05-13 19:40] martincostello commented on #1580
I’ve also found this problem, which lead to this issue in the CLI: dotnet/cli#9229

[2018-05-14 07:13] peterhuene commented on #1580
@smadala The issue of the CLI passing the wrong default verbosity to VSTest has been corrected for 2.1 RTM.

[2018-05-14 07:25] mayankbansal018 commented on #1580
I'll revert my fix then, thanks for the update @peterhuene , will close this issue as well.

[2018-05-14 07:30] #1580 closed

[2018-05-14 07:33] NikolayPianikov commented on #1580
@mayankbansal018 Does quite mode will show stdOut messages from loggers?

[2018-05-14 07:37] mayankbansal018 commented on #1580
@NikolayPianikov quite mode does not show any messages from logger, quiet mode only shows passed, & failed count.
Minimal mode: stacks for failed + passed failed count
Normal mode: stacks for failed + Passed tests names + passed, failed count
Detailed mode: messages from stdout + Normal mode

[2018-05-14 07:44] NikolayPianikov commented on #1580
I think it is a breaking change. Some CI are using stdOut for integration and obviously
the integration will be broken in the quiet mode. Moreover there are no way to notify about it from the logger side.
Is the any way to show messages in the stdOut from loggers?

[2018-05-14 07:47] mayankbansal018 commented on #1580
@NikolayPianikov we never used to show messages printed via Console.WriteLine(stdout) in CLI, it was always in detailed mode, the above change restores the behavior back to "minimal" as default, where we only show stack trace for failed messages + passed failed count

[2018-05-14 07:49] martincostello commented on #1580
As a user of dotnet test directly, from an interactive perspective I want stdout and stacks for failed tests only to keep the terminal uncluttered, but in CI want all tests output so tools like TeamCity can display the total passed/fail count on a per-test basis, rather than in aggregate, as well as stdout and stacks for failed tests.

[2018-05-14 07:50] mayankbansal018 commented on #1580
@martincostello for users who need complete data, they can simply pass -verbosity:detailed as input to dotnet cli.

[2018-05-14 07:55] martincostello commented on #1580
That wasn’t required for 2.1.1xx and earlier versions, and also that would increase the MSBuild verbosity, which I don’t want to do. As mentioned above, this is a breaking change for CI integrations that parse the output, like TeamCity.

[2018-05-14 07:56] NikolayPianikov commented on #1580
@mayankbansal018 vstest shows stdOut from loggers in `quiet` mode for SDK 2.1.104 and for previous versions. I've attached the sample for 2.1.104
Users often want to minimize output but they want have CI integration
Also it will be great to have the same behaviour for `dotnet test`, `dotnet msbuild /t:vstest`, `dotnet vstest`

[2018-05-14 08:03] NikolayPianikov commented on #1580
@mayankbansal018 may be there is some API to make possible write down to stdOut without any filtrations?

[2018-05-14 08:04] cltshivash commented on #1575
@ericlemes For a single test run, there would be only one code coverage file generated that will be present in the run results directory. The results directory for a run is configurable through the runsettings file.

[2018-05-14 08:04] #1575 closed

[2018-05-14 08:36] mayankbansal018 commented on #1580
@NikolayPianikov, so far when I mean logger I was only referring to Console logger, I hope you also meant the same.
I went through your sample, & I think the confusion arises because of usage of flag "VSTestDiag", which prints diagnostics information of testplatform to a file(Note: this has nothing to do with what is printed to console, but the information Testplatform needs to diagnose in case of

[2018-05-14 09:01] mayankbansal018 commented on #1520
@DerGary this is indeed a behavior change, however as a possible workaround we suggest you use ".appxrecipe"(present in bin\debug folder) as input to CLI.
Further we would like to know if there is any particular reason as to why you want to use ".appx" as input to CLI.

Also I've created an internal issue to track this behavior change, we expect to close on the exp soon.

[2018-05-14 09:01] smadala commented on #1586
@martincostello Thanks for reporting issue with good details and digging into code.

@cltshivash 15.7.1 doesn't have #1538 changes. We push those changes in 15.8.
Issue is not relate to #1538 because changes(atleast log `DefaultEngineInvoker.Invoke: Testhost process started with args` add in 1538) not present in testhost logs.

I'm assigning to you to investigate this further.

[2018-05-14 09:15] DerGary commented on #1520
@mayankbansal018 I don't really know what you are talking about, I'm using ".appxrecipe" as input to CLI as can be seen in the Diagnostic Log I added in the original post. Using ".appx" as input for CLI did not work with VS v15.6.x. (Did not test it with 15.7 yet)

[2018-05-14 09:19] mayankbansal018 commented on #1520
@DerGary , my apologies, I missed the command line, & assumed that this issue was due to ".appx" as we have seen it internally, however never seen it with ".appxrecipe". I'll investigate it more.

[2018-05-14 09:26] mayankbansal018 commented on #1520
@DerGary I tried this locally on win10 client machine, & could not reproduce this. I'll try it on a win10 server machine, to see if it is specific to it. Will get back to you once I've some analysis.

[2018-05-14 09:30] NikolayPianikov commented on #1580
@mayankbansal018 it is not so important to us which information about tests is appeared in the stdOut because of we are skipping it from all loggers excepted our.
I've attached [sample.zip](https://github.com/Microsoft/vstest/files/2000097/sample.zip).
Our messages like `##teamcity[testStarted` are not in the stdOut for  2.1.300-rc1-008673
I would like to make sure that our messages will be in the

[2018-05-14 10:12] #1169 closed

[2018-05-14 10:41] mayankbansal018 commented on #1580
@NikolayPianikov , as per @peterhuene [comment ](https://github.com/Microsoft/vstest/issues/1580#issuecomment-388720572), the behavior is restored as before where msbuild verbosity is set to quite, & vstest to unspecified(default:minimal).

Which means that messages your were receiving in logger earlier should be restored.

[2018-05-14 10:45] NikolayPianikov commented on #1580
@mayankbansal018 thank you

[2018-05-14 12:13] NikolayPianikov commented on #1580
@mayankbansal018 another one issue:
`dotnet test` command  does not publish stdOut from logger when it is non running from some process (java for instance) except `cmd` for any verbosity level

[2018-05-14 12:18] mayankbansal018 commented on #1580
@NikolayPianikov , please create a new issue, & if possible also attach a sample repro.

[2018-05-14 15:22] NikolayPianikov opened #1590 "Integration of XUnit and TeamCity is broken"
## Description
XUnit has built-in [integration with TeamCity](https://xunit.github.io/docs/getting-test-results-in-teamcity)

## Steps to reproduce
- Create xunit test project `dotnet new xunit`
- Set environment variable `SET TEAMCITY_PROJECT_NAME` to some value to simulate running under TeamCity, for instance: `SET TEAMCITY_PROJECT_NAME=my`
- Run tests using some verbosity level: `dotnet test --

[2018-05-15 05:50] johnwc commented on #298
Why was this closed?

[2018-05-15 05:52] johnwc commented on #624
All, follow that link and use the vote functionality on the site for the issue so they know it has significance.

[2018-05-15 07:58] EdwardDing commented on #1568
@mayankbansal018 The subsequest run test is working and no incorrect result, but if canceling, sometimes, the output window will show this exception, and cancel will failed. Sometimes, cancel is successful.

[2018-05-15 10:56] ericlemes opened #1592 "Code Coverage Excludes and Specifying Output File (C++ Native Code)"
Hi,

Sorry for open a new issue, but since you closed the previous one without my confirmation that a solution was provided, I thought that would be appropriate.

In the issue #1575 you mentioned that I can specify the code coverage output in the runsettings file. Searching all the documentation I found (https://msdn.microsoft.com/en-us/library/jj155796.aspx, https://msdn.microsoft.com/en-us/libra

[2018-05-15 11:14] dtretyakov commented on #1590
@smadala, @martincostello please take a look at this problem. In SDK 2.1.104 all works fine, since 2.1.200 we're able to reproduce it.

[2018-05-15 12:29] ganesh0212 opened #1593 "Vstest.console command failed to run unit test. VS 2015 Command prompt, Error: No test is available"
But response is
Starting test execution, please wait...
Warning: No test is available in Path_of_TestProject_DLL. Make sure that ins
talled test discoverers & executors, platform & framework version settings are a
ppropriate and try again.

[diag.txt](https://github.com/Microsoft/vstest/files/2004933/diag.txt)

Warning: No test is available in Path_of_TestProject_DLL. Make sure that ins
talled tes

[2018-05-15 12:37] mayankbansal018 commented on #1520
@DerGary , I tried to repro this issue with your sample project on win10 server machine(10.0.14393), & I could not repro the issue.

To investigate this further can you please run this on machines where you facing this, & also enable "--diag:<path_to_log>" flag for vstest.console.

e.g. vstest.console.exe .\UnitTestApp.build.appxrecipe /Framework:FrameworkUap10 --diag:"C:\logs\log.txt"

you should

[2018-05-16 06:40] nigurr commented on #1555
This will be tracked at https://github.com/dotnet/cli/issues/9109

[2018-05-16 06:40] #1555 closed

[2018-05-16 07:48] nigurr commented on #1541
@mmajcica Can you please share the trx in both scenarios and highlight the differences?

[2018-05-16 08:16] smadala opened #1597 "PR builds should fail on if no tests execute on Jenkins servers."
## Description
- Not running any unittests should fail build and catch build failures like [this](https://devdiv.visualstudio.com/DevDiv/_build?buildId=1688685&_a=summary) in jenkins RP builds only.

[2018-05-16 14:54] stephenegriffin commented on #800
The above workaround is correct for .net. For C++ and v141, full symbols is handled differently:
<GenerateDebugInformation>DebugFull</GenerateDebugInformation>
See https://developercommunity.visualstudio.com/content/problem/17575/c-unit-testing-code-coverage-not-working.html for further details. This is a regression from v140, where the following is sufficient:
<GenerateDebugInformation>true</Gene

[2018-05-16 23:07] genlu commented on #1332
@mayankbansal018 I think TestPlatform should be able to handle non-test UWP projects passed to it, just like it can handle any .net framework assemblies.

[2018-05-17 03:30] SidShetye opened #1603 "dotnet test on a multi-target projects logs only the last target"
## Description
`dotnet test "--logger:trx;LogFileName=results.trx"` on a multi-target project (e.g. `<TargetFrameworks>netcoreapp2.0;net45</TargetFrameworks>` in the `.csproj`) causes the logger to only log the last target. Possibly because the previous targets' logger output file is overwritten by subsequent targets. FYI, this also happens with the [nunit logger extension](https://github.com/Faiz

[2018-05-17 05:38] dhowe commented on #799
Why is this closed?

[2018-05-17 10:02] IanKemp opened #1606 "So what, exactly, is the default console logger verbosity, and what should it be?"
Environment: Visual Studio 2017 Enterprise 15.7.1, Windows 10 1803 (OS Build 17134.48) x64

There are various issues and PRs floating around that set the console logger's verbosity to `normal` or `minimal`. From what I understand, the default **is intended to be** `minimal`, but this breaks the workflow of many users who are expecting `normal` as the default. So right now I'm not sure what the def

[2018-05-17 10:33] linluxiang opened #1607 "Failed to negotiate protocol. Wait for response timeout"
I tried to run NUnit test cases in Visual Studio 2017 15.7.1 and I got this exception.

[code]

Here are the package and versions I'm using in the project
[code]
[code]

I've also tried latest release 15.7.2 but still got the same exception

[2018-05-17 13:07] linluxiang commented on #1607
If I run directly `dotnet test`. I still got the same exception.

[2018-05-17 15:33] HenrikFrystykNielsen commented on #800
FWIW, it seems that using pdbonly also does the trick:

    <DebugType>pdbonly</DebugType>

Hope this helps,

Henrik

[2018-05-18 00:18] Jm-Fox opened #1608 "Cryptic error message when DynamicData doesn't have any data"
## Description
Using DynamicDataAttribute without any data produces a cryptic error message:

I'm less concerned with what the correct behavior should be here and more concerned with providing developers with meaningful errors. It was very confusing to figure out why my test was failing after my IEnumerable<object[]> was processed but before the first line of code was reached. Note: my DynamicDaa

[2018-05-18 18:14] AmadeusW commented on #527
The test runner still does not provide the reason for StackOverflowException (neither test name nor stack trace).
The issue still happens in 15.7 (`Microsoft (R) Test Execution Command Line Tool Version 15.7.1`) and 15.8 preview 2 internal dogfood (`Microsoft (R) Test Execution Command Line Tool Version 15.0.27713.0`) and whatever runs on the CI server (`Microsoft (R) Test Execution Command Line T

[2018-05-18 22:17] AmadeusW commented on #627
I just spent a day figuring out why the test runner crashes. `/Blame` argument helped narrow this down to a specific test case. I wanted to investigate @smadala's claim that the extra information comes at expense of performance, so I ran tests with and without this parameter. They all took around 11 minutes, without any pattern that indicates that one way is faster than another.

Please set this f

[2018-05-21 11:11] smadala commented on #627
@AmadeusW  Please create new issue for suggestions. Performance depends on how many tests were you running in 11 min and what is running time for each test.

[2018-05-21 11:11] #627 closed

[2018-05-21 11:16] smadala commented on #527
@AmadeusW I have update my comment(https://github.com/Microsoft/vstest/issues/527#issuecomment-310281977).

[2018-05-21 11:16] #527 closed

[2018-05-21 17:02] somelameguy commented on #1524
I am having the same issue. Since I am using multiple win and mac build servers, my workaround currently is to have the mac machine constantly run a remote desktop session with the win machine so that a user is logged on at all times.

This is a horrible solution because as soon as you remote directly into the Windows machine, it will end the session that the mac is running, and you will need to r

[2018-05-21 21:36] pMaske opened #1611 "vsTest is hung after running all tests."
Hello @mayankbansal018 ,
Very recently we have started seeing vstest command hangs after running all tests. It appears to hang at the very end tail of the  process, almost like at the time of reporting how many tests passed/failed.
OR sometimes vstest process will abort in the middle of running tests, the message is " vstest process aborted and reason is blank.
Any ideas what could be wrong here.

[2018-05-22 06:32] mayankbansal018 commented on #1520
Sure, I'll close this issue for now, please ping back on it, if you face it again

[2018-05-22 06:32] #1520 closed

[2018-05-22 18:35] pMaske commented on #1611
Another set of logs files when the process stats are not generated and process is hung..
[2063_2018-05-21_17-03-15log.zip](https://github.com/Microsoft/vstest/files/2028114/2063_2018-05-21_17-03-15log.zip)

[2018-05-23 11:51] DerGary commented on #1520
@mayankbansal018 I just encountered the Problem again and here is the diagnostic log.
For me it does not seem to contain any further information.
[log.txt](https://github.com/Microsoft/vstest/files/2030856/log.txt)

[2018-05-23 12:05] DerGary commented on #1524
We are currently using the same workaround 🤣

[2018-05-23 17:23] chriswolf-nrg commented on #334
`dotnet test --filter "FullyQualifiedName=NS.Demo.TestMethod` doesn't work at all for me.   Also when I try `--no-build`, (after building at least once) it reports, `MSBUILD : error MSB1001: Unknown switch. Switch: --nobuild`
`dotnet --version == 2.1.200`

[2018-05-23 23:17] janaka commented on #981
@pvlakshm just wanted to vote for *.nix support. We (at Hudl) are moving our backend from .NET Framework on Windows to .NET Core on Docker on Linux. Having to generate coverage on Windows build agents which is not ideal. Coverlet and Altcover seem to be options but not sure how good the coverage reports are.

[2018-05-23 23:38] dbogatov commented on #334
@chriswolf-nrg

That's the script I use with the latest distribution

[code]

[2018-05-24 08:17] liangdaxian opened #1616 "Cannot run tests with Fakes"
## Description

i have a machine which uninstalled all visualstuido- want to simulate real testing environment, and i was using 15.7.2 nuget package version, the cmd used to run the tests is simple:
D:\NugetCache\Microsoft.TestPlatform.15.7.2\tools\net451\Common7\IDE\Extensions\TestPlatform\vstest.console.exe path_to_the_test_dll

Error Message:
 Class Initialization method Microsoft.SharePoint.Un

[2018-05-24 16:09] chriswolf-nrg commented on #334
Thanks for the script, but the filter is still not working for me.
[code]

[2018-05-24 16:11] dbogatov commented on #334
I guess, my script is specific for xUnit.
I assume NUnit may have slightly different syntax in filter.

[2018-05-24 21:16] NateZimmer commented on #811
Restarting Visual Studio after deleting `AppData\Local\Temp\VisualStudioTestExplorerExtensions` did the trick for me.

[2018-05-24 23:27] sidshetye commented on #1603
Any news?

[2018-05-24 23:28] sidshetye commented on #1603
Any news? Seems awfully similar to this https://github.com/Microsoft/vstest/issues/243

[2018-05-25 00:02] sidshetye commented on #1603
Note that running just `dotnet test "--logger:trx"` causes it to generate unique filenames in a pattern like `<username>_<machine>_YYYY-MM-DD_HH_MM_SS.trx` but that's distinct from the reported problem.

[2018-05-25 06:36] dtretyakov commented on #1590
@mayankbansal018, any progress on it?

[2018-05-25 07:37] mayankbansal018 commented on #1590
@singhsarab , can you please take a look at this issue

[2018-05-25 08:44] memosk1000 commented on #811
This problem is not platform dependent . It appears also for other kinds tester nugets. Also for Microsoft's

[2018-05-25 12:40] smadala opened #1617 "Running single Desktop(.NET Fullframework) test taking more than one minute"
## Description
- Running one simple desktop(net46) test takes more than one minute.
## Steps to reproduce

[code]

- dotnet test

## Expected behavior

## Actual behavior

[code]

[2018-05-26 08:45] martincostello commented on #1586
Any updates on this? This would block my use of ASP.NET Core 2.1.

[2018-05-28 05:05] IanKemp commented on #1606
Nobody?

[2018-05-28 06:19] singhsarab commented on #1611
@pMaske In case the process hangs, Can you try creating a dump and see where it is stuck ? You can share the dumps with us to take a look.
You can also try setting test case level timeout for your tests, the long running test responsible for hang will timeout.

[2018-05-28 06:41] singhsarab commented on #1607
@linluxiang I was not able to reproduce the issue.

Can you please collect and share logs for vstest.console and testhost*exe
https://github.com/Microsoft/vstest-docs/blob/master/docs/diagnose.md#collect-trace-using-config-file

Also, if you are running on a slow machine, try increasing the timeout by setting the environment variable VSTEST_CONNECTION_TIMEOUT.

[2018-05-28 06:53] singhsarab commented on #1606
@IanKemp
1. Regarding verbosity
a. For vstest.console, the default verbosity is normal and that's what the help docs say today (fixed via the PR you have pointed to)
b. If you use dotnet test, then the default verbosity is minimal.

2. Regarding 2 versions of vstest.console
a.  `\Common7\IDE\CommonExtensions\Microsoft\TestWindow` has older platform and will go away in the next major release.
b. `\

[2018-05-28 07:07] IanKemp commented on #1606
@singhsarab Thank you very much, that tells me exactly what I need to know :).

[2018-05-28 07:07] #1606 closed

[2018-05-28 08:03] dtretyakov commented on #1590
@singhsarab, @smadala, we're getting more and more tickets about this breaking change. Please arrange the priority of this issue.

[2018-05-28 08:11] singhsarab commented on #1603
@sidshetye Thanks for the feedback. This does not seem to be a regression.

@pvlakshm What do you think the spec should be for this one?

[2018-05-28 09:03] singhsarab commented on #1571
@KevinBurton I looked at the logs.

a. The first part of the test run which shows you the warning is for the product dll (/Users/rebeccaannburton/Projects/PocketNurse/PocketNurse) which does have the reference to Microsoft.Net.Test.Sdk and no tests.

b. Second part is for the actual test dll (/Users/rebeccaannburton/Projects/PocketNurse/PocketNurseTest) and the given test passes as expected as per

[2018-05-28 09:03] #1571 closed

[2018-05-28 09:26] singhsarab commented on #1585
testHostPath changes as the code flows. This information is available in detail in the logs using /diag option. Isn't the information provided in the logs sufficient for diagnosis ?

[2018-05-28 09:59] singhsarab commented on #1541
@mmajcica
mstest.exe is on its to deprecation and we do not recommend it.
vstest.console.exe is the recommended runner moving forward. The changes that you see are by design. Example, the description and test property attributes are specific to mstest framework but trx logger is supposed to a generic logger, hence the behavior you see is by design.

[2018-05-28 09:59] #1541 closed

[2018-05-28 15:18] singhsarab commented on #1590
@dtretyakov This is by design as verbosity minimal and quiet, the expectation is that no informational logs should be shown for these levels.
We fixed the behavior as part of https://github.com/Microsoft/vstest/pull/1396

Recommendation is use normal or detailed verbosity for full detailed logs.

[2018-05-28 23:13] zone117x commented on #1590
Using normal or verbose logging is not working. I can see the additional log messages, but nothing that is picked up by teamcity.

[2018-05-29 09:56] martincostello commented on #1586
I've updated the app where I initially found this issue to use `2.1.0` using the early-access download URLs, and tests are still hanging - this issue is a blocker for my app to use `2.1.300` of the .NET Core SDK.

[2018-05-29 11:17] Rawieo commented on #821
It would be so much easier than actually trying to fix encoding issues
![default](https://user-images.githubusercontent.com/5720631/40655440-6ee31c9c-6352-11e8-8df5-1444487f3a35.png)

[2018-05-29 14:43] martincostello commented on #1590
Passing `--verbosity=normal` as an argument to `dotnet test` outputs test results to TeamCity (2017.1.4) as it did in previous versions of the SDK when using `2.1.300` of the .NET Core SDK.

[2018-05-29 15:00] NikolayPianikov commented on #1590
@singhsarab Verbosity level should not make any influence on CI integration. We should take in account that not only people run tests (they can use some IDE for this), vice versa in the most cases a CI runs tests via a command line.

Now
- in the `quiet` mode there are now any integration at all
- in the `minimal` (**default**) mode the integration works only for failed tests

It seems to be defin

[2018-05-29 15:11] martincostello commented on #1590
To illustrate this change, here is a screenshot from my application's CI build in TeamCity.

Build `1.0.1105` uses `--verbosity=normal` - the test results are shown.
Build `1.0.1104` uses the previous behaviour of just running `dotnet test` without any explicit verbosity arguments - no test results are shown at all.

![image](https://user-images.githubusercontent.com/1439341/40667682-a4f21b28-635a

[2018-05-29 16:55] chuanboz commented on #1585
No, I've used /diag and checked the detail logs, still couldn't figure out what is wrong.
I finally figure out #1584 after I look into the source code of DotnetTestHostManager.cs, but we shouldn't expect every user to do so for troubleshooting, the error message here shall be improved to be more clear and actionable.

[2018-05-29 18:07] zone117x commented on #1590
@martincostello You're work around is not working for me. Are you using anything else in your setup? Any preview nuget packages?

The verbosity change is not a work around to the problem, unless I'm missing something.
Here is an example "dotnet new xunit" project with the `TeamCity.VSTest.TestAdapter` package and couple example tests added: https://github.com/zone117x/DebugTeamCityTestReporting

C

[2018-05-29 19:51] martincostello commented on #1590
@zone117x I'm not using the built-in .NET Core TeamCity runner - I'm using a vanilla PowerShell step that calls into my own `.ps1` that invokes `dotnet test` itself.

[2018-05-29 20:04] zone117x commented on #1590
Just created a custom script build step with `dotnet test DebugTeamCityTestReporting.csproj --verbosity Normal /nodeReuse:false`
Doesn't work.

[2018-05-29 20:42] martincostello commented on #1590
What about if your put an equals between the parameter name and value like in my example above? Otherwise, I’m not sure why it would work for me but not for you.

[2018-05-29 21:44] zone117x commented on #1590
Wow. I tried `--verbosity normal` instead of `--verbosity Normal` and it worked..
`dotnet test` should probably not require that to be case sensitive, or at least output a warning about an invalid command line parameter.

@NikolayPianikov In the mean time, Teamcity .NET build agent needs to use lowercase variables for the verbosity option.

[2018-05-30 08:58] NikolayPianikov commented on #1590
@zone117x @martincostello thank you for info, done. Try updating to new version

[2018-05-30 09:59] akatz0813 commented on #1590
@nikolayPianikov which version specifically?

[2018-05-30 10:32] NikolayPianikov commented on #1590
@akatz0813 from [this](https://github.com/JetBrains/teamcity-dotnet-plugin#download) page for appropriate TeamCity version

[2018-05-30 15:43] singhsarab commented on #1616
@liangdaxian
Prerequisite for using any of the datacollectors (fakes, code coverage etc) with xcopyable package is to set the following environment variables for profiler paths.

In your case, set the paths as follows
`set COR_PROFILER_PATH_32=D:\NugetCache\Microsoft.TestPlatform.15.7.2\tools\net451\Common7\IDE\CommonExtensions\Microsoft\IntelliTrace\Microsoft.IntelliTrace.Profiler.dll`
`set COR_P

[2018-05-30 19:58] livarcocc opened #1624 "`dotnet test` exit code should return number of failures"
_From @sidshetye on May 30, 2018 18:41_

`dotnet test` is documented [here](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test?tabs=netcore21) but there isn't any documentation on the exit code.

With test runners like nunit3 (e.g. `nunit3-console.exe`) the exit code is the number of failed tests, which is indeed very handy. `dotnet test` simply return 0 if all pass and 1 if any failur

[2018-05-31 05:40] premaram commented on #1477
@pvlakshm I am still facing the issue even after adding the frameworkUAP10 argument to the vstest.console.exe.
May I know where the Test Adapter, "Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll" should be present?
I do not find it after the test agent update.

[2018-05-31 08:48] martincostello commented on #1590
FYI I've found that using this argument instead means that test verbosity is increased to that required but _build_ verbosity isn't, so then the behaviour is actually like-for-like:

[code]

[2018-05-31 11:06] singhsarab commented on #1624
@sidshetye  This is by design.
Exit codes other than 0, are used to understand what went wrong during the run and sometimes are not controlled. Using exit code for failing tests seems flawed.

Can you please help us understand the scenario. We should be able to give you some suggestions.

[2018-05-31 12:02] smadala opened #1626 "Incorrect Code coverage report on VSTS"
## Description
- Partial code coverage report getting generated when publish the trx with `Publish Test results` task.

## Steps to reproduce
- Run code coverage in parallel.
- Publish trx file using `Publish Test results` task.

## Expected behavior
- All the code coverage attachments should get uploaded.

https://devdiv.visualstudio.com/DevDiv/VS.in%20Agile%20Testing%20IDE/_build/index?buildId=1

[2018-05-31 13:09] martincostello commented on #1586
I've not been able to create standalone repro for this issue outside of my application, but the hang was caused by `IWebHost.Dispose()` hanging indefinitely when a test fixture was tidied up for `node.exe` to terminate when `AddNodeServices()` was in use in the application.

The workaround was to register an application shutdown callback to dispose of `INodeServices` manually.

[2018-05-31 21:04] sidshetye commented on #1624
@singhsarab IMHO, the sole purpose of the runner is to run user demanded tests. So to have the return code tell how many tests fail seems most natural. If one is debugging the runner or the engine itself (something a vast majority of users don't and shouldn't care) then there is exception logging, tracing etc to indicate that.

To answer your question, our CI scripts (in powershell) record the det

[2018-06-01 05:56] acesiddhu commented on #1616
@liangdaxian I am closing the issue for now. Please let us know if you are still facing the issue.

[2018-06-01 06:00] nigurr opened #1628 "Test platform crashes when there's null value in Payload messages"
When tests are being discovered/executed if the adapter sends the value as "null" in the payload, platform fails to deserialize the payload causing it crash.

For example:

       {
          "Key": {
            "Id": "VCTestDiscoverer.TestCategory",
            "Label": "TestCategory",
            "Category": "",
            "Description": "",
            "Attributes": 1,
            "ValueType"

[2018-06-01 09:45] singhsarab commented on #1617
Tried with dotnet 2.1.300, not able to repro

[code]

[2018-06-01 13:01] smadala commented on #1617
This only happening on one of my dev machine, reason seems to be failing to load assemblies from `Extensions` directory. We can close this.

[2018-06-01 13:01] #1617 closed

[2018-06-01 21:34] sidshetye commented on #1624
FYI, it was pretty easy to parse the `trx` for failures. Still think you folks should reconsider the exit code design but our CI is unblocked and this is not a priority for us anymore. Sharing the snippet from our powershell CI scripts for future readers.

[code]

[2018-06-03 17:12] andrewkhomski commented on #1339
Hi

i am still facing the same issue.

Can someone point me how to resolve this.

Thank you
Andrew

[2018-06-04 05:52] jayaranigarg commented on #1339
@andrewkhomski : Which version of Nuget packages are you using?

[2018-06-04 06:04] singhsarab commented on #1624
@sidshetye I am glad that you were able to enable what you wanted. Thanks for posting the code, very helpful.

In the regard to original discussion, the runner discovers the tests as well when you use /listtests option. Currently, we don't have a strong reason to justify the design change. We really appreciate your feedback, we will reconsider if there is enough ask.

[2018-06-04 06:04] #1624 closed

[2018-06-04 07:05] DerGary commented on #1524
@mayankbansal018  any progress here?

[2018-06-04 10:12] #1626 closed

[2018-06-04 12:57] andrewkhomski commented on #1339
Jayaranigarg

Here they are - had to separate into different files as they are too large:

**Solution 1:**
[SeleniumFirstA (2).zip](https://github.com/Microsoft/vstest/files/2068280/SeleniumFirstA.2.zip)
[SeleniumFirstA.zip](https://github.com/Microsoft/vstest/files/2068281/SeleniumFirstA.zip)

**Solution 2:**

[Allergy_Console.zip](https://github.com/Microsoft/vstest/files/2068294/Allergy_Console

[2018-06-04 13:35] agusmag opened #1632 "How can I see UITest on VM?"
## Description
I have an issue running functional test on my VM because it seems the test is running but i cant see it on the VM. I have configure a release in which execute VSTest. IS NOT THE BUILD MACHINE. I deploy an Artifact on VM and after do VSTest task.

Previously requirements:
 - I Have the agent configure in my VM.
 - In the past, I did the functional test doing the deploy of agent and r

[2018-06-04 14:22] jayaranigarg commented on #1339
@andrewkhomski : Thank you for sharing the files. It appears you are using Nunit adapter to run your tests. You should open issues related to nunit adapter here : https://github.com/nunit/nunit3-vs-adapter/

[2018-06-04 14:59] andrewkhomski commented on #1339
Thank you so much!

Andrew

[2018-06-04 17:12] pMaske commented on #1611
@singhsarab , thanks for following up. I was unable to get any info on which test were causing the hang. So I went by what changes were made to the API since the tests started hanging and trailed down new tests added and commented tests that I suspected would be the reason. There were couple tests with an async call that never returned. Whilst the all tests ran and completed but probably a thread

[2018-06-04 18:12] #1632 closed

[2018-06-04 18:13] agusmag commented on #1632
Solved. It was a problem with the Agent configuration and the folder's sharing

[2018-06-04 22:30] roozbehid-ic commented on #1607
I was having similar issues with my unit test which was netcoreapp2.0. Building it with net461 would be fine but not netcoreapp2.0
I've added following to my project and it fixed it for netcoreapp2.0

    <CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>

[2018-06-04 22:55] paulvanbrenk commented on #1501
@smadala I finally had a chance to look at using the `VSTestCLIRunSettings`. This works great from the command line, when you specify a runsettings file, but I haven't found a way to inject this into the process by setting a property in the project file for the project I'm targeting. Any ideas there?

[2018-06-05 06:08] singhsarab commented on #1611
@pMaske Thanks. Good to know that your issue is now resolved. I will close the issue.
Hangs like these are hard, creating a dump and identifying what state the process is in a way to diagnose.

@mayankbansal018 @smadala Let's take a note, we need to re-think about these hang cases related to async tests and see if we add more diagnostics for user.

[2018-06-05 06:08] #1611 closed

[2018-06-05 11:29] smadala commented on #1611
@pMaske Can you please share sample repro for behavior you faced?

[2018-06-05 22:46] paulvanbrenk opened #1633 "Create a testadapter to target .NET Core / .NET Standard"
I'm working on creating a test adapter which should work with .NET Framework 4.5.x, .NET Standard 1.6, and .NET Core 1.0, but I have trouble getting the test adapter to even run in most cases.

I use the following command line to run the tests:

[code]

The only case I can get this to work if when the assembly containing the tests targets net461, in all other cases the output is the following (I h

[2018-06-06 04:52] smadala commented on #1501
@paulvanbrenk You can have some target like below in adapter's targets file.

[code]

[2018-06-06 07:40] hrumhurum commented on #1213
I have this problem too. How to test MSTest v2 project via command line?

[2018-06-06 09:11] singhsarab commented on #1633
@paulvanbrenk Can you share your test project?
Inside the output folder for the netcoreapp1.0, please check if *deps.json file is present.

Also try running with /diag option and share the logs.

[2018-06-06 09:39] singhsarab commented on #1590
@NikolayPianikov May I go ahead I close the issue?

[2018-06-06 09:43] singhsarab commented on #1593
@ganesh0212 What is the test adapter/framework you are using ?
Can you share the test project?

[2018-06-06 10:13] NikolayPianikov commented on #1590
@singhsarab we just found some workaround for (https://github.com/JetBrains/teamcity-dotnet-plugin/issues/127), but I hoped it is temporary solution. Also some related issues (like https://github.com/JetBrains/TeamCity.VSTest.TestAdapter#visual-studio-test-platform) have only partially workaround.
Are you not planing to fix? It is your choice, but please note that it is quite important for any CI

[2018-06-06 12:17] ShreyasRmsft opened #1634 "VsTestPlatform fails to initialize trx logger when ResultDirectory is passed empty in the runsettings"
[code]

Commandline:
vstest.console.exe "C:\AgentSmith133\_work\r7\a\_shrer tia fix\drop\NewBuildSample\UnitTestProject1\bin\Release\UnitTestProject1.dll" /Settings:"C:\Users\shrer\AppData\Local\Temp\tmp860.tmp" /InIsolation /Logger:"trx" /TestAdapterPath:"C:\AgentSmith133\_work\r7\a" /Diag:"C:\AgentSmith133\_work\_temp\Attempt-0_393feea1-7e2b-44e8-8689-f31778f4b052.diag"

Logs:
Microsoft (R) Test

[2018-06-06 13:26] jayaranigarg commented on #1608
This is an adapter issue, porting the issue to TestFx and closing from here.

[2018-06-06 13:26] #1608 closed

[2018-06-06 13:45] jnevins-gcm commented on #326
Anyone planning to fix this? Building via dotnet msbuild CLI and MSBuild.exe is generally inconsistent.

[2018-06-06 14:14] singhsarab commented on #1590
@NikolayPianikov Unfortunate that this came as a breaking change for you guys, but glad that you have a solution in place now. As I mentioned earlier, this change in behavior is actually a fix we made to ensure we are consistent. The current behavior is by design.

The solution you guys have now seems appropriate for specification.
This change is not a take back as such, because logger verbosity c

[2018-06-06 14:36] singhsarab commented on #1568
@EdwardDing We have recently made fixes around to cancellation.
Like: https://github.com/Microsoft/vstest/pull/1543

Can you please try moving to latest bits of VS and then re-try.

[2018-06-06 20:09] pMaske commented on #1611
@smadala not sure if I can easily. There was a bug in our API that was causing a hang. The flows was: async method in API calls into our c-api native method that threw an exception because of which handler was not getting released and await in API call didn't return. The unit test method had that await async call and hence hung up the entire process.

[2018-06-06 22:22] paulvanbrenk commented on #1633
This repo should contain everything you need to reproduce. https://github.com/paulvanbrenk/githubtestadapter

The log files are in the root.

[2018-06-06 22:42] zfilipov commented on #981
@pvlakshm The RFC states that support is expected to be in version 15.8 onward, expected to release Q3 2018. Is this still the case?

In the meantime, is there any way to get code coverage results into a CI/CD pipeline for .NET Core 2.0 test scenarios?

[2018-06-06 23:03] mbenua-mparticle commented on #981
@zfilipov DotCover just released a patch as of maybe a week ago that is now correctly supporting .NET Core 2.0. You do have test on Windows, but at least you can collect coverage metrics without a ton of wrangling on CI/CD.

[2018-06-07 06:06] jayaranigarg commented on #1213
@hrumhurum : Consider using "dotnet test" or vstest.console.exe to run MSTestV2 tests from CLI.

[2018-06-07 13:51] mayankbansal018 commented on #1524
@DerGary Apologies for the delay, I'm still waiting for a response from UWP team, will update as soon as I have something

[2018-06-07 14:07] singhsarab commented on #1586
@martincostello Can you please share the standalone repro with us? We are trying to address hang related issues and this would help.

[2018-06-07 15:15] martincostello commented on #1586
I haven’t been able to repro it outside of my internal application’s codebase yet I’m afraid.

[2018-06-07 15:55] zfilipov commented on #981
@ahaleiii @mbenua-mparticle  Thank you for your input!

@ahaleiii When you generate the code coverage JSON file, is there another task you need to add to the pipeline to upload the coverage results to TFS / VSTS?

[2018-06-07 16:35] pvlakshm commented on #981
@janaka, noted your vote.
@zfilipov, yes it is very much the case. We should be shipping a "preview" to NuGet very soon.

[2018-06-07 18:28] ahaleiii commented on #981
@zfilipov We are generating the coverage in Cobertura format. Yes, there is another task in VSTS used to upload the results (Publish Code Coverage Results).

dotnet test task arguments for working with coverlet:
`--configuration $(BuildConfiguration) --no-build --filter "Category=Unit|Category=UnitTest" /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura /p:CoverletOutputDirectory=test-resul

[2018-06-08 06:39] acesiddhu commented on #1427
Closing the issue as this should work in latest dotnet sdk

[2018-06-08 06:39] #1427 closed

[2018-06-08 10:00] pvvl opened #1638 "vstest.console.exe grabs exclusive read access to its test container"
## Description
vstest.console.exe uses .NET's System.IO.File.Open() with a default ShareMode argument. As a consequence, attempts by other processes to read the DLL simultaneously will fail.

We use several vstest.console instances on the same DLL for maximal execution speed. This fails occasionally because of this race condition.
vstest.console has its own parallel execution mechanism, but the la

[2018-06-08 10:30] singhsarab commented on #1586
As you have already identified the root cause, and as per my current understanding it was in your code, I am going ahead and closing this issue.

[2018-06-08 10:49] singhsarab commented on #1568
@EdwardDing I am closing the issue. Let's re-open if you disagree.

[2018-06-08 10:49] #1568 closed

[2018-06-08 12:59] pvvl commented on #1638
IMHO the problem can be solved by modifying line 30 of VSTest\vstest-master\src\vstest.console\CommandLine\AssemblyMetadataProvider.cs:
changing
`               using (var assemblyStream = File.Open(filePath, FileMode.Open, FileAccess.Read)) `
into
`                using (var assemblyStream = File.Open(filePath, FileMode.Open, FileAccess.Read, FileShare.Read)) `

Our organization needs these chang

[2018-06-08 14:17] smadala commented on #1638
@pvvl Did you tried that the fix works for your scenario? We are happy to accept your contribution 😄

[2018-06-08 14:34] pvvl commented on #1638
Hi,
Yes, I did. It is somewhat harder to reproduce than I originally thought. The race condition occurs when the following events intertwine:

·         Instance 1 of vstest.console is opening the test container with exclusive access to determine the framework version (function GetFrameWork ). This typically takes only a short time, and happens within an exception try/catch block.

·         Insta

[2018-06-08 14:40] smadala commented on #1638
@pvvl It makes sense to me. Feel free to raise a PR. We will ship in next release(15.8).

[2018-06-08 17:05] linluxiang commented on #1607
Unfortunately changing the config file doesn't work for me. I have to run `dotnet test --diag:log.txt` to get the log file.

And I can also give some hint as I tried to decompile vstest.console.exe to debug. I got an Exception on the line below.

https://github.com/Microsoft/vstest/blob/c36ef303f9a9a904a3c5ae70e3ea61a3c05f1eb1/src/Microsoft.TestPlatform.CommunicationUtilities/TcpClientExtensions.c

[2018-06-08 17:15] linluxiang commented on #1607
OK. I got another log.txt by changing vstest.console.exe.config.

[log.zip](https://github.com/Microsoft/vstest/files/2085361/log.zip)

[2018-06-08 18:16] VictorioBerra commented on #705
We worked around the issue by running "dotnet test" in a loop. We use CAKE and Bamboo. **Bamboo is capable of parsing as many .trx files that it finds via the MSTest Parser task and I would wager most other CI/CD solutions can do this as well.** If Bamboo finds failed tests, the Bamboo build fails, so we do not suffer from the issue @cfletcher has cautioned.

BTW, [xunit.console.runner is now depr

[2018-06-10 05:45] pvlakshm commented on #1638
@pvvl, yo mention "We use several vstest.console instances on the same DLL for maximal execution speed."

Have you tried vstest's [parallel test execution](https://blogs.msdn.microsoft.com/devops/2016/10/10/parallel-test-execution/)?
If you are using MSTest V2 based tests, you then try [in-assembly parallel execution](https://github.com/Microsoft/testfx-docs/blob/master/RFCs/004-In-Assembly-Parall

[2018-06-11 06:30] pvvl commented on #1638
Hi,

Thanks for the suggestions.
Indeed, we parallelize by ourselves because of a number of reasons:

·         The majority of the tests are unmanaged code, so in-assembly parallel execution is not an option.

·         We want tests to minimally interfere. Parallel test execution does not guarantee separate processes for each test, as the test processes act as a pool, and execute whatever is thr

[2018-06-11 07:01] smadala commented on #1607
@linluxiang Can you share machine details(OS, etc) and sample repro project?

Can you try downgrading `MicrosoftTestSdkVersion` to `15.7.2`?

[2018-06-11 07:04] smadala commented on #1607
@roozbehid-ic Can you share repro project and details steps how you solved it?

[2018-06-11 09:47] linluxiang commented on #1607
@smadala Hi my system is Windows 10 Pro Version 1709 OS Build 16299.371. And I've tried to downgrade but it didn't help

[2018-06-11 10:04] smadala commented on #1607
@linluxiang Interesting https://github.com/Microsoft/vstest/blob/c36ef303f9a9a904a3c5ae70e3ea61a3c05f1eb1/src/Microsoft.TestPlatform.CommunicationUtilities/TcpClientExtensions.cs#L28 not part of 15.7.2. Can we have quick skype call to investigate this?

Send a email to samadala at microsoft dot com.

[2018-06-11 11:53] MagnusTim opened #1641 "VSTS Platform installer on a machine not connected to the internet"
## Description
I am trying to install the VTest platform installer to get the vstest demand satisfied on a machine in a deployment group. The machine does not have access to the internet and cant access Nuget.org and fails. Is there a way to download the package locally or the specify out internal Nuget instead?

## Steps to reproduce
Use the VsTest Platform installer on a machine not connected to

[2018-06-11 14:58] eduherminio commented on #981
VS or VS Enterprise, @pvlakshm?

[2018-06-11 15:11] smadala commented on #1633
@paulvanbrenk TestAdapter assembly should be present in same directory as tests-source assembly for .NET Core. This was enforced in .NET Core tests to make test adapter discover ability easy.  After adding below patch test adapter getting used.

[code]

[code]

[This is how](https://github.com/Microsoft/testfx/blob/master/src/Adapter/Build/NetCore/MSTest.TestAdapter.props#L2) MSTestV2 adapter copi

[2018-06-11 15:25] pvlakshm commented on #981
VS Enterprise has the viewer.

[2018-06-11 16:22] zfilipov commented on #981
@pvlakshm Thank you for the update! Will we be able to upload the code coverage results to VSTS/TFS as part of a CI/CD pipeline for viewing?

[2018-06-12 11:29] kennethkryger commented on #981
@zfilipov I've got it running on TFS 2018 with code coverage results in the build reports.

I've added the `.NET Core` task to the process with the following properties:

- Version: `2.* (preivew)`
- Command: `test` ;-)
- Path to project(s): `**\*.Tests.csproj`
- Arguments: `--logger "trx;LogFileName=test-results.trx" --collect "Code Coverage"`

After the task above I've got a `Publish Test Result

[2018-06-12 12:37] linluxiang commented on #1607
@smadala I did a fully windows reinstallation and the problem was gone..

[2018-06-12 12:39] smadala commented on #1607
@linluxiang Thanks for update. I will keep this issue open to fix the NRE.

[2018-06-12 15:10] smadala opened #1642 "Few UWP VC++ unit tests are not executing"
## Description
-  Every 10th tests case of UWP VC++ unit test projects are not executing.
## Steps to reproduce
[UnitTestApp3.zip](https://github.com/Microsoft/vstest/files/2094590/UnitTestApp3.zip)
- Download attached UnitTestApp3.zip
- Click Run all in VS 15.7.3

## Expected behavior

## Actual behavior

## Diagnostic logs

[UWP-cpp-testhost-logs.txt](https://github.com/Microsoft/vstest/files/20

[2018-06-12 18:14] paulvanbrenk commented on #1633
that explains a lot... so the `-a, --test-adapter-path <ADAPTER_PATH>   The path to the custom adapters to use for the test run.`  command line option doesn't so anything. (I can file a bug for that).

[2018-06-12 19:10] Coder3333 commented on #981
@kennethkryger I added those steps with TFS Online, and I get test results, but no code coverage.  There is a warning in the test step, "Data collection : Could not find data collector 'Code Coverage'".  Do you have something additional installed to get the code coverage?

[2018-06-12 20:12] kennethkryger commented on #981
@Coder3333 That might be because the preview SDK isn't installed on the Hosted VSTS build agents? If you look at the logs of your builds, you should be able to see what version of the Test Execution Command Line Tool your build i using... Mine says: `15.8.0-preview-20180605-02`

You might be able to install the preview SDK? [See more info here (I haven't tried it!)](https://dennisdel.com/blog/runn

[2018-06-13 06:27] smadala commented on #661
@Aaronontheweb Can you please create new issue with detail repro steps?

[2018-06-13 06:43] ShreyasRmsft commented on #1641
@MagnusTim Offline support for VsTest Platform Installer is in our back log and we will be picking it up soon. But it will probably only be available in TFS 2019.

@PBoraMSFT for more details.

[2018-06-13 06:55] ShreyasRmsft commented on #1593
@ganesh0212 do you have any info for us here?

[2018-06-13 08:34] ShreyasRmsft commented on #1641
@MagnusTim sadly there's no recommended way for acquiring the platform without internet connectivity :(

[2018-06-13 10:13] PBoraMSFT commented on #1641
@MagnusTim - as Shreyas mentioned, support for "not connected" agents will be picked up for implementation soon. Until then, the only way to get VSTest capability for agents that are not connected to the internet is through a full VS install.

[2018-06-13 10:20] ShreyasRmsft commented on #1641
Closing this issue. Hope that a clear resolution was provided.

[2018-06-13 10:20] #1641 closed

[2018-06-13 10:39] MagnusTim commented on #1641
OK, tanks.

/Magnus

Från: Prachi Bora <notifications@github.com>
Skickat: den 13 juni 2018 12:13
Till: Microsoft/vstest <vstest@noreply.github.com>
Kopia: Magnus <magnus@timner.se>; Mention <mention@noreply.github.com>
Ämne: Re: [Microsoft/vstest] VSTS Platform installer on a machine not connected to the internet (#1641)

@MagnusTim<https://github.com/MagnusTim> - as Shreyas mentioned, support fo

[2018-06-13 13:04] smadala commented on #1633
I think for historical reasons `--test-adapter-path` is the only way to pass any custom vstest-extensions(Datacollectors, Loggers, TestAdapters, RuntimeHost, etc..). In .NET Core case you can use `--test-adapter-path` to pass other extensions path but not test-adapter.

There has been debate about adding `extension-path` which makes more sense. Please file a separate issue for that we will try to

[2018-06-13 13:04] #1633 closed

[2018-06-13 13:28] smadala commented on #1503
Below are possible solutions recommended by @rainersigwald
* Important scenarios:
   * dotnet test on the command line
      * produces minimal, colorized output
   * run tests in build otherwise (not a focus so far?)

* Rainer will:
   * Look into ANSI color-coding passthroughs via logging
      * This would be a nice general solution for everyone: if you log strings with ANSI escape codes they J

[2018-06-13 18:30] zfilipov commented on #981
@kennethkryger Thanks for the detailed steps, is this for the Microsoft preview SDK? Or are you using Coverlet for this?

[2018-06-13 19:02] kennethkryger commented on #981
@zfilipov I'm using the Microsoft preview SDK.

[2018-06-13 22:26] genlu opened #1643 "Confusing log message when all tests are filtered out"
## Description
I noticed a confusing warning in the LUT log after restart LUT (see below). Essentially, after filtering out tests, none left to execute, which is expected because there's no code change since LUT was stopped. But this message makes it sounds like an error.  @Satya Madala Could you guys change this message at least for filter scenario (if there’s tests discovered but all filtered ou

[2018-06-14 08:36] smadala commented on #1643
@genlu  Is below message looks good?

[code]

[2018-06-14 08:38] smadala commented on #1643
What is the timeline your looking for this issue to get fixed?

[2018-06-14 12:29] zfilipov commented on #981
@kennethkryger Thanks Kenneth. Are you able to publish your code coverage results to TFS as well?

[2018-06-14 12:35] kennethkryger commented on #981
@zfilipov Yes I am - works perfectly! I haven't tried VSTS - only TFS (on-premise).

BTW: For the `.NET Core` task in my build definition I had to change the following property, in order to get my code coverage results into SonarQube:

Arguments: `--logger "trx" --collect "Code Coverage"` (removed `;LogFileName=test-results.trx`)

[2018-06-14 14:08] idontknowwhY666 opened #1647 "Ngen: default /ExeConfig value for testhost.x86.exe causes error"
## Description
During repeated installation of VS2017 I received error

06/12/2018 16:59:23.881 [5988]: Command line: C:\Windows\Microsoft.NET\Framework\v4.0.30319\ngen.exe eqi 0
06/12/2018 16:59:23.887 [5988]: Executing command from offline queue: install "C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\Extensions\TestPlatform\testhost.x86.exe" /NoDependencies /ExeConfi

[2018-06-14 19:49] lgolding commented on #1624
I just ran into this myself. I want to know if any of my tests failed, and `dotnet test` won't tell me.
[code]

So if you're taking votes for this feature, count me as +1.

[2018-06-15 08:28] smadala opened #1648 "TestAdapterPath not honored in .NET Core tests."
## Description

- Honor `--test-adapter-path` for .NET core tests?

[2018-06-15 08:29] smadala commented on #1633
@paulvanbrenk Created https://github.com/Microsoft/vstest/issues/1648 to follow upon this.

[2018-06-15 08:30] smadala commented on #1648
@mayankbansal018 @abhishkk @singhsarab @pvlakshm @codito

[2018-06-15 09:35] abhishkk commented on #1648
@smadala Is this a regression? We should definitely support test adapter via test-adapter-path.

[2018-06-15 09:36] smadala commented on #1648
AFAIK this is not regression.

[2018-06-15 23:30] genlu commented on #1643
The message above is fine. But for LUT, the filter can be very long (e.g. all tests in project). So can we not include the filter string itself in the message?

In terms of timeline, 15.8 preview 4 would be great. @ManishJayaswal

[2018-06-16 15:37] ManishJayaswal commented on #1643
"No test matches the given testcase filter" may be better.

For LUT, in most cases, this would not be an error condition. It would just point to the fact that no tests are covering the line which was edited. Is there any way we can make this message "informational" so that it only shows up with verbose logging? Else this will keep showing as error when technically there is no error- the program is

[2018-06-17 09:36] Eldadc opened #1650 "Failed to create/publish coverage File."
## Description
Running vstest command via TFS vnext task with EnableCodeCoverage parameter will create a corrupted coverage file , i.e. 1K, corrupted file.
Can not open it with VS 2017.

## Steps to reproduce
Visual Studio Test task - vstest task on TFS

## Expected behavior
Publish cover results in my build info.

## Actual behavior
1K file  , corrupted file.

## Environment
When exactly same CLI

[2018-06-19 11:43] smadala commented on #1592
@ericlemes Apologies for delay in response.

Currently there is no way to create .coverage file in specific location.
Can you consider using `trx` logger? which can be used to get the coverage file [programatically](https://github.com/Microsoft/vstest/blob/master/test/Microsoft.TestPlatform.AcceptanceTests/CodeCoverageTests.cs#L151).

**Example command**
`C:\Path\to\vstest.console.exe "D:\Path\to\

[2018-06-19 11:46] smadala commented on #1569
@karanjitsingh Can you update this issue with detail repro steps?

[2018-06-19 14:39] smadala commented on #1634
@ShreyasRmsft I'm assigning this to you. Create a PR to fix this when you get chance.

[2018-06-19 14:55] smadala commented on #1647
From logs looks like only testhost.exe is on queue 1. I think we should reduce the priority.

@idontknowwhY666 Feel free to create PR for this?

[2018-06-19 14:58] smadala commented on #1643
@ManishJayaswal We didn't get chance fix this for 15.8 preview 4. We will try to get this for preview 5.
@genlu we discuss with about message and log level when we are fixing it.

[2018-06-19 14:59] smadala commented on #1628
This was fixed with https://github.com/Microsoft/vstest/pull/1640

[2018-06-19 14:59] #1628 closed

[2018-06-19 14:59] kaadhina commented on #1650
Hi,
1. Are you on TFS On-Prem or VSTS? If On-Prem, which version?
2. Can you please enable debug logs in your definition by setting system.debug variable to true and send us the logs? You may choose to mail them to devops_tools@microsoft.com as well.

[2018-06-19 15:01] smadala commented on #1566
@PBoraMSFT Can you share plan for this?

[2018-06-19 15:02] smadala commented on #1561
@abhishkk Assigning to you for `No description provided.`

[2018-06-19 17:23] ManishJayaswal commented on #1643
@smadala - we still have a week to fix this in preview 4.

[2018-06-20 06:20] csoltenborn opened #1652 "GoogleTestAdapter: VsTestConsole can not be used with settings any more since VS 15.5"
This issue is the VS Test equivalent of csoltenborn/GoogleTestAdapter#184

## Steps to reproduce
1. Download and unzip [Google Test Adapter](https://github.com/csoltenborn/GoogleTestAdapter/releases/download/v0.12.3/GoogleTestAdapter-0.12.3.vsix) (GTA)
2. Run `VsTest.Console.exe` from VS installation >= 15.5
    * use `/TestAdapterPath` or `/UseVsixEstensions` options (for the latter, of course fi

[2018-06-20 07:54] idontknowwhY666 commented on #1647
hi smadala, I guess the main issue is where comes '/ExeConfig:"......\artifacts\release\net451\win7-x64\testhost.x86.exe' from...mainly this part needs to be changed

[2018-06-20 08:17] smadala commented on #1643
@ManishJayaswal Good to know, I thought 19th June was last checking for M2 approval(Looks like schedule is changed).

@cltshivash @pvlakshm for triage this.

[2018-06-20 09:40] pvlakshm opened #1654 "NUnit3-vs-adapter raises exception when used with "UseVerifiableInstrumentation" set to False."
This is related to NUnit-vs-adapter issue [#519](https://github.com/nunit/nunit3-vs-adapter/issues/519).<br>
I have created a reduced repro here: [BugRepro](https://github.com/pvlakshm/Samples/tree/master/BugRepro
).

[2018-06-20 10:09] ericlemes commented on #1592
Hi @smadala thanks for the response. I noticed that and that's why sometimes using the code coverage tool in Visual Studio is quite discouraging. Most of the operations that are achieved with a single command line in most coverage tools in all platforms needs to be scripted here. Also I found the lack of local coverage reports and speed quite poor.

Here is a snapshot of my MSBuild file to run wha

[2018-06-20 10:12] smadala commented on #1592
/cc @pvlakshm @cltshivash

[2018-06-20 10:14] Eldadc commented on #1650
Hi,

Thanks for the response.
1. TFS 2018 RC1 on-Prem
2. I enabled , Can you please instruct me what entries should I check , I have organization restriction in order to send my logs
3. I have in my logs the following error :" unable to publish telemetry due to lower agent version"
4. Note : No issues publishing the UT results.

Thanks In Advanced,

Thanks In Advanced,

[2018-06-20 12:12] kaadhina commented on #1650
1. You ran the vstest.console.exe CLI from the same build agent machine where the task generated a corrupted file, and it generates a valid file. Can you please confirm it fails only via vstest task in tfs and not from CLI on the same machine
2. What was the VS version (You can find the exact version from Help->About in VS)
3. Since we cannot repro this at our end, we will need task logs, vstest d

[2018-06-20 12:29] ssrakesh opened #1655 "VS2017 build tools: UWP MsTest, Error: No suitable test runtime provider found for this run."
## Description
Not able to run mstest (v2?) in command line for UWP, getting error "No suitable test runtime provider found for this run."

## Steps to reproduce

"C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\MSBuild\15.0\Bin\msbuild.exe" /t:Rebuild /p:Configuration="Release" /p:Platform="x86" /verbosity:normal UnitTestProject2.sln"

"C:\Program Files (x86)\Microsoft Visual Studi

[2018-06-20 14:53] smadala commented on #1643
@ManishJayaswal I'm working on this.

@genlu We will show first 60 characters of testcase filter. Is that sounds good?

@ManishJayaswal We can't make this to info level. Because
- The default console log level for `dotnet test` is minimal which won't print info messages.
- If user try to run the tests and no tests were discovered then warning makes more sense.

Can we do something on LUT side for

[2018-06-20 22:45] ManishJayaswal commented on #1643
@smadala - we should show this error if no tests are found in the assembly. However if tests are found in the assembly but everything is getting filtered out then this should probably be an info, right?

[2018-06-21 03:20] wizofaus commented on #1586
This is happening for me on MacOS, dotnet 2.1.4.  With 2.1.300 it's fine. These a xunit tests FWIW.

[2018-06-21 06:47] Eldadc commented on #1650
Thanks on the detailed response.

1. No issues when running via CLI on Agent machine.
2.  VS 15.0.27617.1
3.  unfortunately we have restricted procedure , I can cut part of the log in some parts if that can help.
4.  No cover report , It seems in the log the coverage file have been created but as 1KB size only.

Thanks

[2018-06-21 08:55] pvlakshm commented on #1592
**>> If VS team is interested in improving these things, please don't hesitate to contact me.**
@ericlemes, Yes we are interested.
What are the painpoints you would like to see us address first?
Can you try out the tool on your codebases and let me know how it fares.
Thank you.

[2018-06-21 10:17] ssrakesh commented on #1655
Also Installed Agents for Visual Studio 2017, and executed vstest.console.exe from the same. still same error occurs

[2018-06-21 11:17] PBoraMSFT commented on #1566
@matthew-horrocks - this question is best suited for the vsts-tasks repo as it relates to the task, not the platform. However, I will answer it here since we have it going on.
dotnet core support in VSTest means different things for different people - it may mean one or more of the following:

1. running dot net core tests using the assembly input
2. Collecting code coverage using the 'Enable code