[2019-08-29 06:27] #2126 closed

[2019-08-29 14:36] N-Olbert opened #2149 "vstest.console hangs up when using parallel tests in combination with code coverage analysis"
## Description
When using MSTestV2 in-assembly parallel test execution in combination with the CodeCoverage-DataCollector vstest.console.dll hangs up indefinitly.

The logs show that vstest.console.dll indefinitly pools (but gets no message):
`TpTrace Verbose: 0 : 20700, 12, 2019/08/29, 13:08:30.803, 16201432794, vstest.console.exe, TcpClientExtensions.MessageLoopAsync: Polling on remoteEndPoint:

[2019-08-29 15:41] giggio commented on #981
@vikasillumina just follow the steps on their readme: https://github.com/tonerdo/coverlet#installation
It works on .NET Core and .NET Framework, and on .NET Core they have a 'msbuild' way and a 'vstest' way. Both work, but have different capabilities (and different bugs). :)

[2019-08-29 16:21] vikasillumina commented on #981
@giggio I am actually already using coverlet something like this:
`dotnet test $project \
	    /p:CollectCoverage=true \
	    /p:CoverletOutput='./TestResults/' \
	    /p:CoverletOutputFormat=cobertura \
	    /p:Exclude=someexclusions
	    /p:CopyLocalLockFileAssemblies=true \
	    --configuration Release \`
But I was curious to try any coverage cli options that can natively run with dotnet core i

[2019-08-30 12:11] kant2002 opened #2151 "Microsoft.CodeCoverage is missing"
Package `Microsoft.NET.Test.Sdk` version 16.3.0-preview-20190828-03 is depends on the Microsoft.CodeCoverage which is broken

[2019-09-02 14:10] remiX- commented on #862
+++++++

[2019-09-03 07:39] vagisha-nidhi commented on #2143
@migheorghe Can you please get full logs by setting `system.debug=true` in your pipeline and share those with us?

[2019-09-03 07:42] vagisha-nidhi commented on #2151
Sorry for the trouble. Microsoft.CodeCoverage 16.3.0-preview-20190828-03 has been uploaded here https://www.nuget.org/packages/Microsoft.CodeCoverage/16.3.0-preview-20190828-03.
This should fix it.

[2019-09-03 08:44] gabrieldausque commented on #2124
Hello, I have the exact same issue :

[2019-09-03 10:34] #2151 closed

[2019-09-03 13:55] brunmorten commented on #2149
I'm experiencing the same issue on some of my builds.

[2019-09-03 19:44] adamralph commented on #1836
@KathleenDollard personally I find that list of whitespaced numbers too difficult to tie back to `Fail/Pass/Skipped/Total`.

My current vote is for:

[code]

or if we loosen the grammar slightly:

[code]

(The critical aspect being minimal = one line.)

And at higher verbosity I don't really care:

[code]

[2019-09-04 04:50] #2141 closed

[2019-09-04 15:25] camerontbelt commented on #2124
@gabrieldausque They fixed it but we're waiting on them to release the fix into production.

[2019-09-04 18:33] AArnott opened #2154 "`dotnet test --blame` does not produce Sequence.xml file"
dotnet SDK version: 2.2.401

`dotnet test -f netcoreapp2.1 --no-build --blame`  should produce a `Sequence.xml` file while running tests so we can know what test was running at the time of a crash or hang. But it doesn't create this file.

[code]

Without this file, for async tests on linux it's impossible to know which test was running when the test runner hung.

[2019-09-05 05:28] vagisha-nidhi commented on #2154
@AArnott I just ran a quick test on blame and it seems like working.
Can you please provide a sample project where sequence.xml wasn't created?
Can you also make sure that there is a crash in the tests? We do not create the sequence file until we have detected a crash. [This](https://github.com/microsoft/vstest/blob/master/src/Microsoft.TestPlatform.Extensions.BlameDataCollector/BlameCollector.cs#

[2019-09-05 09:06] dasMulli commented on #1263
Is it still expected to be able to set this environment variable using `ProcessStartInfo`?
I can add and override any other environment variable, but setting `COR_ENABLE_PROFILING` and `CORECLR_ENABLE_PROFILING` to "0" does not work. (verified in process explorer)
Is there any known hook that tries to re-set these values for child processes?

[2019-09-05 09:13] dasMulli commented on #1263
I'm trying to start a MongoDB server using ` --storageEngine ephemeralForTest` and the process inadvertently always loads `covrun64.dll` and `msdia140.dll` from the `microsoft.codecoverage` NuGet package and then fails to start up fully and accept connections.
![image](https://user-images.githubusercontent.com/6129250/64328429-b5643780-cfcd-11e9-82bb-72b16c6c3829.png)

[2019-09-05 09:17] vagisha-nidhi commented on #2142
Any updates?

[2019-09-05 12:13] vagisha-nidhi commented on #2142
Closing due to no response. Please do re-open  if needed.

[2019-09-05 12:13] #2142 closed

[2019-09-05 12:55] AArnott commented on #2154
OK, there wasn't *actually* a crash in my testing. I just had tests that hung, so I then terminated the test process with Ctrl+C and expected to see the Sequence.xml file.

Is there *any* way to find out which test hangs in a case like this? The logger only writes to the console when the test *completes*, so I can't tell what test is running at any given time. :(

[2019-09-05 14:29] mayankbansal018 commented on #1263
@dasMulli can you check the environment variables set on top of the process where this code is executing, check for COR_PROFILER* variables.

[2019-09-05 14:51] dasMulli commented on #1263
I digested it into the following repro which runs with `dotnet test` but not with `dotnet test --collect "Code Coverage"`:
[repro-subproc-profiling.zip](https://github.com/microsoft/vstest/files/3579844/repro-subproc-profiling.zip)

The problem is that i can modify or add any other variables when starting the subprocess, but not the profiling-related ones.

[2019-09-06 14:39] aminipour opened #2157 "TestPlatformException: Unable to find testhost.dll. Please publish your test project and retry"
## Description
When I build any of my projects, the build succeeds but I see a message in status bar saying:

E.g. if I build one of my non-test projects I see this in Tests Output:

[code]

When I build an NUnit test project, I see a similar output but a little bit different:

[code]

This `[project_path]` causing the exception is always the same project which is my TestInfrastructure which
* is

[2019-09-06 14:44] aminipour commented on #2157
Deleting bin and obj folders fixed this issue

[2019-09-06 14:44] #2157 closed

[2019-09-09 06:01] vagisha-nidhi commented on #2143
Closing since no response. Please reopen with the logs.

[2019-09-09 08:21] vagisha-nidhi commented on #2154
@AArnott We have added the functionality to collect dump on test hang here [here](https://github.com/microsoft/vstest/pull/2110). It generates a dump if for hang scenarios.
You can specify additional parameters with blame to get this in runsettings

[code]
TestTimeout is used for specifying what the expected execution time for the longest running test is.
Also, this wouldn't work for dotnet 2.2.40

[2019-09-09 10:15] MarcoRossignoli opened #2158 "Coverlet in process collector load"
Hi guys I'm Marco from Coverlet, I've got a pair of questions
Can you confirm that [in-process collector](https://github.com/tonerdo/coverlet/blob/master/src/coverlet.collector/InProcDataCollection/CoverletInProcDataCollector.cs#L13) is loaded from 2.2.401(runtime 2.2.6) or greather?
I did some test but I cannot attach to inproc(I'm able to attach and debug to outofproc one) https://github.com/ton

[2019-09-09 16:18] AArnott commented on #2154
That's great to hear!

Does this work cross-plat or only on Windows? (What does a dump file even look like for non-Windows and how can one analyze it?)

Can I enable this and configure the directory to write dump files to as command line switches? I wouldn't want dump files produced by default during development on my local box, but I would like to check in a runsettings file to set the timeout, a

[2019-09-09 18:00] TheHubbit commented on #1763
I ran into the same issues. Why is this considered an enhancement and not a bug though?

Should be obvious already, but just to make very clear:
[code]

**Works:** vstest.console /TestCaseFilter:"Owner=abc" AbcTest.dll
**Fails:** vstest.console /TestCaseFilter:"TestCategory=abc" AbcTest.dll

[2019-09-09 22:26] eerhardt commented on #2126
This fix didn't make 3.0 preview9. Will it make the final 3.0 release?

[2019-09-10 05:45] vagisha-nidhi commented on #2154
@AArnott Dump creation at present only work on windows as we use [ProcDump](https://docs.microsoft.com/en-us/sysinternals/downloads/procdump) for it.

You can use vstest task in azure pipelines with run settings file configured to create dump in test hang.
[code]
The directory is also configurable by the ResultsDirectory node in the run settings(It will create the directory if it doesn't already e

[2019-09-10 08:56] gabrieldausque commented on #2124
@ShreyasRmsft, @vagisha-nidhi , it seems that the fix has not been deployed. do you have any information on the day it will be ? It's quite blocking for our release now. I've tried to change to mstest to see if it is related to NUnit, but we still have the issue. Does it exists any work around on that issue ?

[2019-09-10 13:24] nadvolod opened #2160 "Tests don't run when doing 'dotnet test' or using VS IDE"
## Description
Unit tests are not executing in a .NET Standard project using MsTest testing framework

## Steps to reproduce
1. Pull down this repo: https://github.com/saucelabs/simple_sauce/tree/first
2. Build this solution: https://github.com/saucelabs/simple_sauce/tree/first/dotnet
3. Try to run the MsTest unit test here: https://github.com/saucelabs/simple_sauce/blob/first/dotnet/SimpleSauce/S

[2019-09-10 14:40] LirazShay commented on #1487
@cltshivash You said to use  mstest.exe cmdline to execute the loadtests
We started to use agent controller infrastructure instead of cloud because the cloud is deprecated next year. When I run mstest, I'm getting an error "Visual Studio Enterprise is required to execute the test."
But I do have Enterprise edition and selected the mstest path from that.
Maybe you know something about it?

[2019-09-11 02:14] camerontbelt commented on #2124
@gabrieldausque The "work around" I used is for it to always pass or continue on error. It shows up as a warning now instead of an actual fail but you also have to go inspect your test logs on each release to see if any tests have failed. This just prevents from being a failed release.

[2019-09-12 17:53] ViktorHofer opened #2169 "VSTest is pushing to the wrong channel in BAR"
VSTest pushes to ".NET Core 3 Dev" but we are already on ".NET Core 5 Dev". I recommend to either push a channel that is not directly tied to a release or always stay on the latest one.

Also VSTest should probably stop pushing to the myget feed (https://dotnet.myget.org/F/vstest/api/v2/package) and instead use the same one that all other repositories use (https://dotnetfeed.blob.core.windows.net/

[2019-09-13 06:43] migheorghe opened #2170 "vstest batches execution errors"
Reopenning of https://github.com/microsoft/vstest/issues/2143

Apparently the errors described in that issue were because the misuse of filter category in unit tests. Even if the behavior is strange this issue is open to solve a different case: execution of tests that are marked with ClassData IEnumerable objects

The follosing thins happens:
If the test is marked like this
    [Theory, Smoke] //w

[2019-09-13 08:57] #2143 closed

[2019-09-13 11:37] samneefs commented on #1950
Seems to be fixed with the combination of:
Latest Newtonsoft.Json 12.0.2 (doesn't work with 12.0.1)
Latest stable Test platform: 16.2 (should be >16.0.2)
Latest VSTest task 2.156.2 (should be >2.153.0)

[2019-09-16 07:57] ShreyasRmsft commented on #2124
@munchra could you please elaborate? Are you using the vstest task to run tests inside the container? Do you have an azure-pipelines agent setup inside the container?

[2019-09-16 08:39] #2113 closed

[2019-09-16 08:50] #2100 closed

[2019-09-16 08:52] singhsarab commented on #2099
@ViktorHofer This will be slightly confusing.
Usually I would then expect it work like an OR instead.

@mayankbansal018 What do you think ?

[2019-09-16 08:55] singhsarab commented on #1978
@vagisha-nidhi Can you please link the RFC for this fix and also release when it is available.

[2019-09-16 08:58] singhsarab commented on #1952
/cc: @hvinett

[2019-09-16 09:06] singhsarab commented on #1818
@grizzle2101 We are trying to run through all the issues and prepare a backlog of important issues. Is this still an important ask?

To make Shiva's comment more clear, the test platform is the vstest.console runner in this case. By framework he means, the test framework and adapter being used to author and eventually run the tests.
This ask seems to be MSTest framework specific, reason he wanted

[2019-09-16 09:11] singhsarab commented on #1692
@AbhitejJohn Is this still an issue? I thought this was fixed a long time ago.

[2019-09-16 09:14] singhsarab commented on #1648
This is currently BY-DESIGN. We do not have any customer ask for this yet. Closing this for now.

[2019-09-16 09:14] #1648 closed

[2019-09-16 09:16] singhsarab commented on #1603
The fix for this has been released. https://www.nuget.org/packages/Microsoft.TestPlatform/16.3.0-preview-20190828-03

We advice folks to use LogFilePrefix argument instead.

[2019-09-16 09:16] #1603 closed

[2019-09-16 09:17] singhsarab commented on #1597
This is not relevant anymore as we have moved to Azure Devops pipelines.

[2019-09-16 09:17] #1597 closed

[2019-09-16 09:18] singhsarab commented on #1475
@genlu Are we still looking at perf improvements in this respect ?

[2019-09-16 09:21] singhsarab commented on #1424
Unable to reproduce this one in the latest bits.
Will reopen if you have a consistent repro.

[2019-09-16 09:21] #1424 closed

[2019-09-16 09:22] singhsarab commented on #1384
@mayankbansal018 This is done right ? Closing this one,

[2019-09-16 09:22] #1384 closed

[2019-09-16 09:23] singhsarab commented on #1300
We won't be able to take this as it breaks compat. Closing.

[2019-09-16 09:23] #1300 closed

[2019-09-16 09:24] singhsarab commented on #1239
@mayankbansal018 Is there anything we wish to track here ?

[2019-09-16 09:25] mayankbansal018 commented on #1239
closing it

[2019-09-16 09:25] #1239 closed

[2019-09-16 09:25] singhsarab commented on #1310
/cc: @hvinett

[2019-09-16 09:28] singhsarab commented on #1125
@ShreyasRmsft You might want to point to your fix here and add a note on how hangs scenarios can be take care of.

[2019-09-16 10:25] singhsarab commented on #2169
This would probably require us to upgrade to use the latest Arcade toolset?
/cc: @chcosta

[2019-09-16 10:28] singhsarab commented on #2169
The location given in the command seems to be pointing to the correct feed.
https://github.com/microsoft/vstest/blob/55e7e45431c9c05656c999b902686e7402664573/scripts/build.ps1#L829

[2019-09-16 10:53] ShreyasRmsft commented on #2124
@camerontbelt what version of the vstest task do you have? The fix is in the version 2.157.3.

We do deploy every 3 weeks but the deployment is done stage wise. The inner stages get it first (mostly internal and pre-prod accounts) and then released to other stages. This fix has already been deployed to some accounts and will get deployed to the rest of the accounts by end of this week hopefully.

[2019-09-16 11:07] juanperezADD commented on #1926
We have the same error using `dotnet --collect "Code Coverage"`.

The error occurs randomly and it's difficult to reproduce.

Could this issue be reopened?

[2019-09-16 11:57] mayankbansal018 commented on #1926
@juanperezADD can you please create a new bug, & mention the repro steps, we track these issues internally as well, & reopening long closed bugs, tends to mess up our tracking.

[2019-09-16 13:41] camerontbelt commented on #2124
@shreyasrmsft I noticed it was fixed for me late last week. It now only fails if a test fails.

[2019-09-16 13:49] lauxjpn opened #2173 "Improve current progress output of dotnet test"
Calling `dotnet test` on a large test suit leaves you guessing, how many tests are left to be run.

Instead of just outputting `Test run in progress.", a small summary of the passed, failed, skipped and remaining test should be displayed.

[2019-09-16 16:26] chcosta commented on #2169
@riarenas @johntortugo?

[2019-09-16 16:30] juanperezADD opened #2174 "Code coverage is flaky, throws missing method exceptions"
## Description
This issue is a continuation of #1926.

When we are using dotnet test with codecoverage the following error occurs randomly:

[code]

## Steps to reproduce
Execute the following command until the error occurs:
`dotnet test Solution.sln --logger trx --results-directory D:\W\JP\Git\Co\Wo\TestResults -c release --no-build --collect "Code coverage" --diag:log.txt`

## Expected behavior

[2019-09-16 16:33] juanperezADD opened #2175 "Code coverage is flaky, throws missing method exceptions"
## Description
This issue is a continuation of #1926.

When we are using dotnet test with codecoverage the following error occurs randomly:

[code]

[2019-09-16 16:35] juanperezADD opened #2176 "The dotnet test command fails randomly with codecoverage"
## Description
This issue is a continuation of #1926.

When we are using dotnet test with codecoverage the following error occurs randomly:

[code]

## Steps to reproduce
Execute the following command until the error occurs:
`dotnet test Solution.sln --logger trx --results-directory D:\W\JP\Git\Co\Wo\TestResults -c release --no-build --collect "Code coverage" --diag:log.txt`

## Expected behavior

[2019-09-16 16:39] #2174 closed

[2019-09-16 16:39] #2175 closed

[2019-09-16 16:42] juanperezADD commented on #1926
@mayankbansal018 I have created the issue #2176.

[2019-09-16 17:19] munchra commented on #2124
@ShreyasRmsft We are not using Azure DevOps are are CI system. We are using Jenkins that is passing in a dotnet test command into a docker container. We are getting intermittent build failures when this command is ran, although Unit Tests are successfully ran. Extending verbosity to _detailed_ results in nothing that stands out as the cause.

Test Run Successful.
Total tests: 131
     Passed: 131

[2019-09-16 17:47] JohnTortugo commented on #2169
Can you please point me to your build definition or to a build that is doing the wrong thing?

[2019-09-16 18:21] AbhitejJohn commented on #1692
@singhsarab : Tried this out on a simple MSTest .NET Core project and I did not see the delay. So I guess this is fixed - Don't really know what fixed this though.

[2019-09-16 21:38] genlu commented on #1475
FYI @AbhitejJohn @shyamnamboodiripad

[2019-09-16 22:01] shyamnamboodiripad commented on #1475
@singhsarab Any improvements we can make here would be awesome as it looks like we are paying this cost on every code change that causes tests to be executed for LUT.

It would be interesting to investigate MessagePack for serialization in TP - we are using this in other parts of our code. @AbhitejJohn had measured MessagePack v/s JsonRPC and found that to be better / faster for our uses.

cc @jfl

[2019-09-17 05:22] kaadhina commented on #2170
Can you please collect full debug logs (set pipeline variable system.debug = true) and share the logs zip file here ?

[2019-09-17 06:08] vagisha-nidhi commented on #2158
@MarcoRossignoli I ran a quick test to find out if there is an issue with inproc collector loading.
Just build the inproc collector with some added logs just like
[code]
Run the following command to enable diagnosticts on your test project: `dotnet test --collect:"Xplat code coverage" --diag:"diag.txt"`
This will generate files diag.txt, diag.host.txt and diag.datacollector.txt.  Since the inproc

[2019-09-17 06:14] singhsarab commented on #1692
Thanks for the confirmation. I think I remember we rolled our a fix for this.
Closing.

[2019-09-17 06:14] #1692 closed

[2019-09-17 11:44] MarcoRossignoli commented on #2158
It works! Thank's @vagisha-nidhi!

[2019-09-17 11:44] #2158 closed

[2019-09-17 15:36] paul-cheung commented on #2001
@Rod-in-NM using `blame `option help to solve my issue, thumbup~~~

[2019-09-17 16:18] vagisha-nidhi commented on #2160
@nadvolod I see that your test project does not have a nuget reference to MSTest.TestAdapter here https://github.com/saucelabs/simple_sauce/blob/first/dotnet/SimpleSauce/SimpleSauce.Tests/SimpleSauce.Tests.csproj#L9
Can you please add the reference and check if its working?
<PackageReference Include="MSTest.TestAdapter" Version="2.0.0" />
[Documentation link](https://docs.microsoft.com/en-us/dotne

[2019-09-17 19:21] lauxjpn commented on #294
I use the following PowerShell command to run only the previously failed tests again, based on the newest `trx` file in `.\TestResults\`:

Beware, that there is a character limit on the maximum command line length, that can easily be hit when many tests have previously failed.
Us the `% {$_ -replace '^My\.Long\.And\.Tedious\.Namespace\.', ''}` part, to get rid of long and unimportant namespace pre

[2019-09-17 19:29] matkoch opened #2179 "Handling of --verbosity is case-sensitive"
As already mentioned [here](https://github.com/microsoft/vstest/issues/1590#issuecomment-392955873). This is not in sync with the rest of dotnet CLI.

[2019-09-18 11:12] N-Olbert commented on #2149
Mmmh... is this in fact defined behaviour?
"Features that rely on data collectors will need to globally turn OFF parallel execution. They can do so by either crafting a .runsettings file as shown above, or by passing the "--"syntax from the CLI. For e.g. the VSTest task with Test Impact Analysis ON will need to do this when invoking vstest runner."
(https://github.com/Microsoft/testfx-docs/blob/ma

[2019-09-18 12:47] migheorghe commented on #2170
I ran the test with system.debug = true but I can't share all the logs with you. I looked over them and it doesn't seem to be helpful information for this problem.
I would appreciate if you would take the time to create a project locally and fix this problems once you reproduce it.

Thanks

[2019-09-18 13:27] migheorghe opened #2180 "Vstest batches - waiting 30 min to stop"
When running vstest execution with batches there is a big time gap when it does nothing between end of the test and receiving command to stop. This happens an all 5 agents that are running in our job.

2019-09-18T09:49:40.6147100Z **************** Completed test execution *********************
2019-09-18T09:49:42.7510936Z Publishing test results to test run '1914586'.
2019-09-18T09:49:42.7556590Z

[2019-09-18 13:57] kaadhina commented on #2170
Please share a basic sample project and I will run this in a pipeline at my end to see if I can repro this.

[2019-09-18 14:43] singhsarab commented on #2169
@JohnTortugo I have the definition offline, Can you please take a look.

[2019-09-18 14:49] singhsarab commented on #2180
@migheorghe Can you point us to the build definition?
Also, please share the logs (set system.debug=true)

[2019-09-18 15:14] #2071 closed

[2019-09-18 15:16] mayankbansal018 commented on #2087
@vagisha-nidhi Can you close this, doesn't look a bug, but as designed.

[2019-09-18 15:36] ViktorHofer commented on #2099
Is it currently possible for the /Filter attribute to contain multiple lines? wrapping each condition with brackets in its own line is fine as well.

[2019-09-18 15:37] ViktorHofer commented on #2099
The reason is that we need to be able to replace this xunit exclusion syntax with what VSTest supports with the Filter parameter: https://github.com/dotnet/coreclr/blob/master/tests/CoreFX/CoreFX.issues.rsp

[2019-09-18 20:09] JohnTortugo commented on #2169
@singhsarab your build definition seems to be quite outdated with the way Arcade proposes publishing to be implemented nowadays. We moved to stages based publishing, take a look here to see how to onboard: https://github.com/dotnet/arcade/blob/master/Documentation/CorePackages/YamlStagesPublishing.md

[2019-09-18 20:18] riarenas commented on #2169
I guess I'm a little confused by this whole issue. Is the problem just that master branch builds are publishing to the wrong channels so that corefx can take a dependency update on them, or that the packages need to be available in a different feed?

@mmitche Should vstest move to using the shared publishing infrastructure for .NET?

[2019-09-18 20:19] chcosta commented on #2169
Where's this repos build definition?

@johntortugo, are you saying that the sdk task packages are not working correctly?

[2019-09-18 21:52] JohnTortugo commented on #2169
This was the build that I looked: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=3058217&view=results .

As far as I can tell it's a pretty custom build-definition: https://devdiv.visualstudio.com/DevDiv/_apps/hub/ms.vss-ciworkflow.build-ci-hub?_a=edit-build-definition&id=2923 and it looks like they are using their own custom sign, publish, etc. things.

The only Maestro++ channel c

[2019-09-18 22:10] chcosta commented on #2169
Yeah, there are some repos that .NET Core depends on but aren't directly a part of the core product which are on dependency flow (at our request).  These repos (like NuGet, Application-Insights, etc...) we need to make sure we don't break and we provide support (generally in the form of guidance), so that they can flow dependencies without being in the inner ring of Arcade support.

[2019-09-18 22:39] riarenas commented on #2169
Matt has been assigning and reassigning default channels to get everything release ready.

[2019-09-19 00:35] JohnTortugo commented on #2169
@singhsarab It's good to be on the latest toolset but I think you don't need it to fix the branch to where the builds are published. You just need to use Darc to configure to which channel the build should be assigned to by default.

[2019-09-19 05:58] #2087 closed

[2019-09-19 06:01] vagisha-nidhi commented on #2124
@munchra Can you please file a separate issue with full logs?
We track the issues internally as well so this messes up the tracking.
Closing this as this has been fixed.

[2019-09-19 06:01] #2124 closed

[2019-09-19 08:25] vlad-zuga commented on #2104
I am currently running into the same problem. @vagisha-nidhi is there a fix on the way?

[2019-09-19 09:06] miroras commented on #2124
Hi There.
I'm seeing the exact same issue with version 2.157.3

##[debug]Exit code 1 received from tool 'F:\Workfolder01\_tasks\VSTest_ef087383-ee5e-42c7-9a53-ab56c98420f9\**2.157.3\**Modules\DTAExecutionHost.exe'
##[debug]STDIO streams have closed for tool 'F:\Workfolder01\_tasks\VSTest_ef087383-ee5e-42c7-9a53-ab56c98420f9\2.157.3\Modules\DTAExecutionHost.exe'
##[warning]Vstest failed with error.

[2019-09-19 09:49] kaadhina commented on #2106
We are tracking this using https://github.com/microsoft/vstest/issues/2120

[2019-09-19 09:49] #2106 closed

[2019-09-19 10:17] singhsarab commented on #2090
This seems to be the way are args are getting parsed. This is not a blocking issue as there is already a workaround, Closing.
Please let me know if you disagree.

[2019-09-19 10:17] #2090 closed

[2019-09-19 10:24] singhsarab commented on #2097
@vagisha-nidhi I thought we fixed this one

[2019-09-19 11:52] miroras commented on #2124
Ok - my issue was different than those mentioned above.
My issues concerned an endless looping condition which crashed the test before it was able to report a failure. and due to the fact i didn't have an updated testing platform i didn't get a dump

[2019-09-19 12:40] vagisha-nidhi commented on #2097
ConsoleWrapper.Endsession kills the vstest.console process which is locking the files. We have fixed this. Will look into if this occurs again.

[2019-09-19 12:40] #2097 closed

[2019-09-19 13:51] vagisha-nidhi commented on #2104
@vlad-zuga There have been instances where the vstest task passes on rerun failed tests when tests are not discovered. We are fixing that to fail the task in such cases.

[2019-09-19 14:05] vlad-zuga commented on #2104
Thanks @vagisha-nidhi . Just to make sure I understand, the `TestCaseFilter` problem that @karanjitsingh reported has been fixed and the fix will be deployed when the problem with the failed task is also fixed?

[2019-09-19 14:12] vagisha-nidhi commented on #2104
@vlad-zuga The `TestCaseFilter` issue has not been fixed. We still don't have a fixed timeline for TestCaseFilter containg parameterized/datadriven tests to work in vstest task. You can mitigate the issue by following these [mitigation steps](https://github.com/microsoft/azure-pipelines-tasks/issues/7545#issuecomment-403024781).
The issue which was arising(due to test not being discovered in rerun

[2019-09-20 07:14] migheorghe commented on #2170
Please find the most basic project at https://github.com/migheorghe/vstest
In includes a test marked with class data and the type for the class data is an enumerable with 5 items.
Let me know how testing goes

[2019-09-20 07:19] migheorghe commented on #2180
An all of hour builds (and we have hundreds) there is a big time time gap between the end of tests and when the agent receives command to Stop. We are using batches based on execution time. I can't share the logs because there is to much private info but I did create a basic project for another batches problem …. maybe you can use it https://github.com/migheorghe/vstest

[2019-09-20 08:28] singhsarab commented on #2169
@JohnTortugo I am not aware of how to do that. Can you please provide some guidance for that.

And @riarenas

I think we have to move the repo to arcade tooling before we can do that.

[2019-09-20 13:48] vlad-zuga commented on #2170
I am currently running into the same problem with the batching option, except that I use [InlineData()] and only the first test case is discovered (and run).

[2019-09-20 19:22] StephenRSkinner opened #2187 "Check for tool in tool cache and skip download if exists"
The task should check the tools cache for the existence of the tool prior to download, and skip download if it's already there. This would greatly improve performance.

[2019-09-20 19:32] JohnTortugo commented on #2169
Here are the instructions: https://github.com/dotnet/arcade/blob/master/Documentation/Darc.md#add-default-channel

[2019-09-21 08:37] apobekiaris commented on #2104
side note: to my surprise XUnit adapter looks not well integrated. I faced more discovering issues when use parallel jobs . I switched however to NUnit, (fast process replace in files) and my tests are discovered with no issues.

[2019-09-21 09:47] jnyrup opened #2188 "nuspec does not match csproj"
## Description
https://www.nuget.org/packages/Microsoft.NET.Test.Sdk/16.3.0
lists `netcoreapp1.0` as a target, but the dependency [`Microsoft.TestPlatform.TestHost 16.3.0`](https://www.nuget.org/packages/Microsoft.TestPlatform.TestHost/16.3.0) has `netcoreapp2.1` as the lowest netcore target.

This seems due to a mismatch between https://github.com/microsoft/vstest/blob/master/src/package/nuspec/M

[2019-09-21 16:16] martincostello opened #2189 "`dotnet test` fails to find .NET Core 3.0 SDK when installed from script to custom location"
## Description

`dotnet test` fails to find .NET Core SDK 3.0 when installed from `https://dot.net/v1/dotnet-install.ps1` into a custom install location with `-NoPath` in Azure DevOps on Windows.

This does not appear to be an issue with AppVeyor, Travis CI or Azure DevOps on Linux and macOS.

This worked with various versions of the .NET Core SDK up to and including 3.0.0 RC1, but appears to have

[2019-09-23 09:32] martincostello commented on #2189
Looks like this issue is related to x86 vs. x64, as it seems that a 32-bit PowerShell script will install the x64 version of .NET (because it looks at the machine's architecture), then the SDK will try and use 32-bit version of the SDK (which isn't installed) and then fail.

[2019-09-24 05:31] kaadhina commented on #2160
Closing this. Please get back if the above did not help.

[2019-09-24 05:31] #2160 closed

[2019-09-24 05:36] #2154 closed

[2019-09-24 10:02] kaadhina commented on #2170
I was able to repro and debug this. The problem is that, when the nunit adapter gives a list of discovered test cases, all of them have the same fully qualified name. We do not support such scenarios right now. The FQDNs need to be unique for them to be treated as different test cases.

[2019-09-24 11:03] mayankbansal018 opened #2193 "Update devdiv dependencies for xcopy Testplatform nuget"
Solutions:

- In DevDiv repo, set up a pipeline which creates nuget out of devdiv dependencies & publishes the nuget to appropriate feed, which is accessible by Testplatform CI.

- In Testplatform CI pipeline, add a step to install latest VS version, & then cherry pick those dll's out of VS install folder into the nuget package.

[2019-09-24 13:29] tomaustin700 opened #2194 "Getting System.IO.IOException: The file exists when running tests in an Azure DevOps Services pipeline"
Hi

## Description
We are getting the following error when running tesks via the vstest task on a self hosted build agent. We have ran the pipeline on other agents and get no issues so it is specific to the machine.

[code]

## Steps to reproduce
We can only duplicate this on one of our self hosted agents. Just running a pipeline with the vstest task produces the error.

## Expected behavior
Vstes

[2019-09-24 13:31] tomaustin700 commented on #2194
I can send you the debug logs if someone let's me know an email address to send them to. Thanks.

[2019-09-24 15:19] ViktorHofer commented on #2169
any update?

[2019-09-25 05:35] vagisha-nidhi opened #2195 "vstest.console.exe /ListTests does not respect the /TestCaseFilter option"
## Description
Issue related: https://developercommunity.visualstudio.com/content/problem/727051/vstestconsoleexe-listtests-does-not-respect-the-te.html

"‘vstest.console.exe /ListTests UnitTests.dll’ lists all the tests as expected.
‘vstest.console.exe /ListTests /TestCaseFilter:“Priority=0” UnitTests.dll’ also lists all the tests; I would expect it to only list the priority 0 tests.
The priority

[2019-09-25 10:02] vagisha-nidhi commented on #2189
@martincostello Can you please provide more information on what is the exact scenario and how to repro this?
1. Install latest dotnet sdk 3.0.100 from `https://dot.net/v1/dotnet-install.ps1` into a custom location with `-NoPath`:  `.\dotnet-install.ps1 -InstallDir e:\custom_dotnet -NoPath -Version 3.0.100`
2. Is this happening when the sdk installed is x86? (Install the x86 sdk by specifying `-Arc

[2019-09-25 12:36] #958 closed

[2019-09-25 19:41] tasadar2 commented on #2080
Looks like this is still an issue on the recent 3.0.
image: `mcr.microsoft.com/dotnet/core/sdk@sha256:3afea8958440231a77b3daea267951cc8ba9026fc1015bcbccc206d6f1d031f7`
example: [https://app.circleci.com/jobs/github/tasadar2/vstest-issue-2080/10](https://app.circleci.com/jobs/github/tasadar2/vstest-issue-2080/10)

[2019-09-25 20:25] robdalsanto opened #2196 "TRX logger not including Timers in TestResultType"
This is related to an enhancement request in [testfx](https://github.com/microsoft/testfx), namely #[504](https://github.com/microsoft/testfx/issues/504).

While `%VSINSTALLDIR%\xml\Schemas\vstst.xsd` has a `Timers` collection within `TestResultType`, it isn't clear that anything in the TRX logger will populate those elements if any timer values are present.

So the request is to expand the `TestR

[2019-09-25 20:55] chcosta commented on #2169
@ViktorHofer, the dev (@JohnTortugo) is OOF today, can this wait another day or two for an update or is this more pressing?

[2019-09-25 20:58] ViktorHofer commented on #2169
This can wait, thanks for the update.

[2019-09-26 11:03] singhsarab commented on #2169
Sorry I am still not sure where do I run this instructions to make sure we are pointing to the right channel for vstest repo

[2019-09-26 11:08] singhsarab commented on #2080
@tasadar2 Can you please try to use --logger:console;noprogress=true argument and check the issue reproduces for you ?

[2019-09-26 12:09] ViktorHofer commented on #2169
You can invoke the darc CLI from any fully on boarded repo, ie from corefx. I should be able to change this as well and will try later.

[2019-09-26 13:07] singhsarab commented on #1922
Tried this out, unable to reproduce the abort part.

I agree we should be logging the error/warning, because the coverage file getting generated is corrupted.

[2019-09-26 13:23] ViktorHofer commented on #2169
I just updated the default channel.

Added: `(630)  https://github.com/Microsoft/vstest @ refs/heads/master -> .NET Tools - Latest`

Removed: `(578)  https://github.com/Microsoft/vstest @ refs/heads/master -> .NET Core 3 Release (Disabled)`

[2019-09-26 13:24] singhsarab commented on #2169
@ViktorHofer Great, I assume we can close this issue now ?

[2019-09-26 13:26] ViktorHofer commented on #2169
The packages are still not published to the blob feed: `https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json`.

@JohnTortugo anybody know what needs to be changed to push to our feed?

[2019-09-26 13:31] singhsarab commented on #2169
@ViktorHofer I guess that will require us to change the CI definition. I currently pushes the packages to myget feed

[2019-09-26 14:33] ViktorHofer commented on #2169
You are right, this issue was about the channel. Let me close this one and create a new one for the feed request.

[2019-09-26 14:33] #2169 closed

[2019-09-26 14:36] ViktorHofer opened #2197 "VSTest should push to the dotnet-core azure blob feed"
`https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json` is the feed where arcade enabled repositories publish their packages to. VSTest should publish to that feed to enable a real dependency flow system.

This currently blocks Arcade and CoreFx to take a direct dependency on VSTest.

cc @singhsarab @JohnTortugo

[2019-09-26 19:45] tasadar2 commented on #2080
That arg produces the same results, [https://app.circleci.com/jobs/github/tasadar2/vstest-issue-2080/11](https://app.circleci.com/jobs/github/tasadar2/vstest-issue-2080/11)

[2019-09-26 19:55] tasadar2 commented on #2080
Though, when quoting the argument value, that seems to work `--logger:"console;noprogress=true"`
[https://app.circleci.com/jobs/github/tasadar2/vstest-issue-2080/14](https://app.circleci.com/jobs/github/tasadar2/vstest-issue-2080/14)

[2019-09-26 23:56] wli3 opened #2200 "Run tests on self-contained test project without dotnet runtime"
## Description
similar to https://github.com/microsoft/vstest/issues/775
But we don't want to install dotnet core runtime. In order to run self-cotnained tests. Since it is self-contained, it should no longer required dotnet core runtime.

This could greatly help testing IOT device. Since requiring dotnet core runtime is much harder for such devices with limited internet access.

## Steps to repro

[2019-09-27 12:14] tannergooding commented on #2189
@vagisha-nidhi, I've simplified a repro to:
1. Ensure you have a clean machine without .NET Core already installed
  A. the Azure DevOps 'Microsoft-hosted' agents available for OSS seem to fit the bill
2. Download the 32-bit .NET Core SDK for 3.0.100
  A. This could be downloaded manually from get.dot.net
  B. This could be downloaded using the `dotnet-install.ps1` script and explicitly specifying

[2019-09-27 13:55] HeikeHofmann commented on #1776
This would be a really helpful feature. We use testplatform in combination with cakebuild. And we have for example one project with 33k Unittests, where sometimes 1-2 Unittests fail through random Timing Problems.
It is frustrating, that this flaky Unittests broke often release builds.

[2019-09-27 23:29] jabberhams commented on #2189
I have also encountered this error but through Azure Devops Server (actually, TFS on-prem).  I used [.NET Core Installer Tool Task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/dotnet-core-tool-installer?view=azure-devops) which downloads dotnet-sdk-3.0.100-win-x64.zip and installs (sets PATH) to the build agent folder (\_work\_tool\dncs\3.0.100\x64).  The subsequent `dotnet

[2019-09-29 02:32] Coder-Bryan opened #2201 "customize vstest summary"
Hi Guys,

We have some personal requests about the summary of VSTest. I know we could modify the source codes to build our own VSTest. But except this, just want to check if VSTest already has the feature : ).

The current of summary is(for example):
**Total tests: 518. Passed: 517. Failed: 0. Skipped: 1.**
Could we count the total tests to **517**(means ignore the number of skip tests)? Or even n

[2019-09-29 18:43] SGmuwa commented on #1683
https://github.com/SGmuwa/Information-Security-7-semester/blob/github.com/Microsoft/vstest/issues/1683/UnitTestProject1/UnitTest1.cs#L12
My tests work weird...
## Release
![image](https://user-images.githubusercontent.com/6484464/65837558-75a91b00-e301-11e9-84c1-526e8eef1454.png)
## Debug
![image](https://user-images.githubusercontent.com/6484464/65837594-0253d900-e302-11e9-8336-bbb8944ba252.png)

[2019-09-29 23:26] wli3 opened #2202 "TestWillNotBuildTheProjectIfNoBuildArgsIsGiven is failing CLI update stage 0"
When [updating to the latest stage 0]( https://github.com/dotnet/cli/pull/12733), [TestWillNotBuildTheProjectIfNoBuildArgsIsGiven](https://github.com/dotnet/cli/blob/release/3.1.1xx/test/dotnet-test.Tests/GivenDotnetTestBuildsAndRunsTestfromCsproj.cs#L199) fails. This test is maintained by VSTest. It only fails in Linux.

[code]

However, once you fix the issue in vstest. We need an insertion to t

[2019-09-30 00:40] wli3 commented on #2202
We SKIPPED the test to unblock ourselves

[2019-09-30 08:45] singhsarab commented on #2201
@Coder-Bryan You'd probably have write your own logger in that case.
You can follow https://github.com/microsoft/vstest-docs/blob/master/docs/report.md

[2019-09-30 08:48] #2188 closed

[2019-09-30 08:48] singhsarab commented on #2187
@StephenRSkinner By tool you mean dotnet sdk ?

[2019-09-30 08:53] #2101 closed

[2019-09-30 10:36] xdaDaveShaw opened #2203 "ConfigurationManager.AppSettings is getting null on Azure Pipelines on 16.3-preview"
## Steps to reproduce
Since Azure Pipelines has been updated to 16.3 preview all our test runs are now failing.
I'm not 100% sure what the full root cause is yet, but this appears to be related to reading a value from an `app.config` via `System.Configuration.ConfigurationManager.AppSettings` (this is on .NET Framework).

Previously our code was reading the value OK, now it is null.

## Expected b

[2019-09-30 10:47] xdaDaveShaw commented on #2203
We are still using VS2017 for developers at the moment. But we have managed to re-create by installing VS2019 (16.3) on one machine, so this might be a bigger problem than just console / Pipelines

[2019-09-30 10:50] xdaDaveShaw commented on #2203
There is also this in the Failing build that doesn't exist in the Passing one:

[code]

[2019-09-30 14:51] MarcoRossignoli opened #2205 "[Bug]Coverlet in-process collector is not loaded for version > 1.0.0"
During some [debugging session](https://github.com/tonerdo/coverlet/issues/573) for a user I found that if we update collector version > 1.0.0 the collector isn't loaded.
We can see the exception from logs:
[code]
Run settings above(injected) wants to load version 1.0.0.0. but at the moment we are on 1.1.0.0
For now the workaround is override inproc version
[code]

Issue raise with all runtime ver

[2019-10-01 09:33] MarcoRossignoli commented on #2205
I did some debug and I think that the issue is here

https://github.com/microsoft/vstest/blob/9703a28e597827fdf7269d5db77212f907c501b3/src/Microsoft.TestPlatform.CrossPlatEngine/DataCollection/InProcDataCollector.cs#L72

In proc type is picked by assembly qualified name that contains version.
I think that collector should be searched using this steps
1) If present check PublicKeyToken, to avoid in

[2019-10-01 19:03] primalspacesystems opened #2207 "Vstest.console.exe runs as if the test name is a partial pattern rather than a full name."
## Description
Vstest.console.exe runs as if the test name is a partial pattern rather than a full name.
e.g. "vstest.console.exe UnitTests.dll /Tests:Beta /Platform:x64 /InIsolation" runs any test with 'Beta' in the name

## Steps to reproduce
Make two tests with one being named as the substring of another. Use vstest.console.exe to run the test with the shorter name.
Both tests will run when onl

[2019-10-02 09:55] TclasenITVT opened #2209 "Microsoft.NET.Test.Sdk needs the correct .net core version installed locally"
## Description
I have a Project that is configured to use the netcoreapp2.2 monicker. Using the latest Microsoft.NET.Test.Sdk (16.3.0) it fails in CI if the build agent hasnt installed the correct .net framework version in the default location. For our CI Build Agents we use the '.NET Core Tool Installer' Task to install .net core -> The path is then usually

This works fine for restore, build, pa

[2019-10-02 23:26] sfalik commented on #2189
@jabberhams I have the exact same issue

[2019-10-03 08:58] singhsarab commented on #2207
@primalspacesystems This is by design, and has the behavior ever since this argument existed. Changing the behavior can possibly break a lot of scenarios for users.

Can you try using the testcasefilter argument instead ?

[2019-10-03 10:12] shaynevanasperen commented on #2189
@tannergooding I'm having the same issue. But even when I downgrade to `16.3.0-preview-20190828-03` it fails. This only happens when I run it on TeamCity. When I run the exact same build script on my developer machine, it works fine.

[2019-10-03 14:57] kmughal opened #2210 "How to run vstest in devops so that one test runs at a time"
Hi

Is there a setting which will allow me to run one test at a time through Azure Devops?

[2019-10-03 17:43] crummel opened #2212 "Fix licensing in packages"
Source-build currently uses [this patch](https://github.com/dotnet/source-build/blob/abdad7541bfce0fa703a8345eea771678b67e39a/patches/vstest/0003-Update-the-license-for-nuget-packages-to-point-to-MI.patch) to change the license of the VSTest packages.
 I think @dseefeld has been talking with @singhsarab about getting a proper fix for this in, so I wanted to be able to track it.  Let us know if you

[2019-10-04 05:05] kaadhina commented on #2210
Yes, you can use the vstest task and specify the batch size under advanced execution options as 1. This will run your tests in batches of 1 each.

[2019-10-04 07:01] singhsarab commented on #2212
Omair was supposed to provide some guidance on how can we go about it.
The issue is that we binaries in the nuget packages that are not built as part of this repo. We wanted guidance around the licensing for those binaries

[2019-10-04 09:02] kmughal commented on #2210
thanks

[2019-10-04 09:02] #2210 closed

[2019-10-05 01:33] Grauenwolf opened #2214 "Program does not contain a static 'Main' method suitable for an entry point"
## Description

When I upgrade to Microsoft.NET.Test.Sdk v16.3.0 and rebuild, I get the below error message:

Switching back to Microsoft.NET.Test.Sdk v16.2.0 clears the error.

This has been consistent for both .NET Core 2.1 and 3.0 test projects. It affects both MSTest and xUnit projects.

[2019-10-06 19:47] 0xd4d opened #2215 "16.3.0 is 2.7-3.5x slower than 16.3.0-preview-20190828-03 on Windows only"
Microsoft.NET.Test.Sdk `16.3.0` is 2.7-3.5x slower than any other previous version including `16.3.0-preview-20190828-03`

This is not #2120 since I can't repro it on Linux, only on Windows.

Repro

- Use Windows and .NET Core SDK 3.0.100
- clone https://github.com/0xd4d/iced.git
- dotnet build -c Release
- dotnet test -c Release -f netcoreapp3.0 --no-build Iced.UnitTests/Iced.UnitTests.csproj
- g

[2019-10-07 12:35] singhsarab commented on #2209
@TclasenITVT Can you try setting DOTNET_ROOT environment variable to point to the location for the dotnet ?

[2019-10-07 12:47] singhsarab commented on #2214
@Grauenwolf Can you please add some more details. What is the version of dotnet cli and VS on the machine? I am assuming you are able to reproduce the issue using a simple unit test project.

[2019-10-07 12:51] #2201 closed

[2019-10-07 19:26] puttagunta commented on #1763
I'm not sure, if I need to create a new issue for the problem described below.
Trx files generated for xunit adapter are not recording any Trait attributes. It works fine in mstest where the category attributes are recorded with TestCategory tag under TestDefinitions. Is this also an enhancement or a bug? Please advise if I need to create a new bug for this?

[2019-10-07 21:12] livarcocc opened #2217 "dotnet test has exit code 0 despite BadImageFormatException"
_From @bender2k14 on Monday, October 7, 2019 7:01:10 PM_

## Steps to reproduce and Environment data
When using the [pool](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema?view=azure-devops&tabs=schema#pool) with VM image label [`windows-2019`](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops#use-a-microsoft-hosted-agent), the relevant part

[2019-10-08 13:18] nkristek opened #2218 "Azure Pipelines VSTest task fails after Microsoft.NET.Test.Sdk is updated from 16.2 to 16.3"
## Description
Starting with the most recent [commit](https://github.com/nkristek/Stein/commit/8c2e61a2ddcba9a00dc421fc17be93571f67ef4c) to my project [Stein](https://github.com/nkristek/Stein) the CI build provided by Azure Pipelines fails.
The build in question: https://dev.azure.com/nkristek/Stein/_build/results?buildId=148

Specifically the VSTest task fails with the error:
[code]
Previously e

[2019-10-08 13:51] TclasenITVT commented on #2209
I could not reproduce it after we installed dotnet core 3.0.100 SDK proper.
I then spun up a completly new agent with Version 2.155.1 there I also could not reproduce this behavior. I think it could just be something about the older Agent Version. I will close this now.

[2019-10-08 13:51] #2209 closed

[2019-10-08 15:09] mihaipetroniuandrei opened #2219 "Configurable parameters for ProcDump"
## Description
Currently, ProcDumpArgsBuilder.cs contains some hardcoded parameters for ProcDump:
https://github.com/microsoft/vstest/blob/131ca14b5ee7c56d1469ae2761c700a9b707e4d2/src/Microsoft.TestPlatform.Extensions.BlameDataCollector/ProcDumpArgsBuilder.cs#L20
and here:
https://github.com/microsoft/vstest/blob/131ca14b5ee7c56d1469ae2761c700a9b707e4d2/src/Microsoft.TestPlatform.Extensions.BlameD

[2019-10-08 15:35] jeffrutland commented on #1957
what if a runsettings file isn't used, is it possible to supply this at the command line?  I mean, is it as simple as `/p:CoverageFileName=output.coverage`?  I tried something just as a guess at the prompt and it didn't work as I am supposing here.

[2019-10-08 17:35] cslutgen commented on #862
There is no way to set TestRunParameters from the command line using -- RunSettings. This issue needs should never have been closed as that was the original topic. All other discussions are work arounds to the fundamental issue of needing to set run parameters dynamically during the CI process without needing a runsettings.xml file to manipulate.

[2019-10-09 05:45] vagisha-nidhi commented on #2195
The issue is with cpp adapter. Workaround is to use a different adapter for c++ (ex. Google test adapter). Closing as low priority.

[2019-10-09 05:45] #2195 closed

[2019-10-09 07:39] NicolasDorier commented on #2080
I had the same problem, two workaround worked:

Adding `--logger:"console;noprogress=true"` like @tasadar2

However, I did not like it because I could not see the progress, so instead added `< /dev/null`

[code]

This allow me to see the progress of tests, without hanging.

[2019-10-09 07:43] NicolasDorier commented on #2080
Full logs of a successful build with feedback https://circleci.com/gh/dgarage/NBXplorer/430 before the hack you can see things stalling https://circleci.com/gh/dgarage/NBXplorer/409

[2019-10-09 08:58] singhsarab commented on #149
This should be resolved by https://github.com/microsoft/vstest/pull/2076 and https://github.com/microsoft/vstest/pull/2134

[2019-10-09 10:08] singhsarab commented on #2215
@ViktorHofer After moving to using the apphost feature, we are observing a significant degradation in performance. Could you help point out what could be going wrong here?

[2019-10-09 10:17] #2207 closed

[2019-10-09 10:56] ViktorHofer commented on #2215
cc @vitek-karas can you please loop in the right people that can help with the apphost scenario?

[2019-10-09 15:04] giuliohome commented on #1554
One hour with the business client while my application was crashing and everything I tried to do failed and finally they said: let's change the folder and finally I realized that there was a critical ampersand!

What do you mean exactly by the "*next version of platform*"?

[2019-10-09 15:47] vitek-karas commented on #2215
For now that would be me... We haven't seen any performance issues with `apphost` versus `dotnet.exe`. As it seems the regression is rather severe, would it be possible to isolate it to something like:
* Have the same app to run (same command line, same code)
* Run it via `dotnet.exe app.dll` - measure
* Run it via `app.exe` - measure

I just want to make sure we're trying to diagnose the right co

[2019-10-09 18:32] unaizorrilla commented on #2189
I have the same issue on AppVeyor

[2019-10-09 19:33] unaizorrilla commented on #2189
I fix the issue downgrading Microsoft.Net.Test.Sdk 16.3.0 to 16.2.0, if this can help!

[2019-10-09 19:50] 0xd4d commented on #2215
I can confirm that this appears to be apphost related.

If I delete `testhost.exe` from the output dir before running the tests, `16.3.0` is as fast as `16.3.0-preview-20190828-03`.

[2019-10-09 19:53] vitek-karas commented on #2215
I think the next step is to figure out if the regression happens because the logic which runs the testhost changes behavior based on presence of `testhost.exe`, or if the difference is in the testhost itself.

Would it be possible to extract the command line (and environment) with which the testhost is started, and then try to run it via `testhost.exe` and also via `dotnet.exe testhost.dll` ?

[2019-10-09 19:58] 0xd4d commented on #2215
Parent dotnet.exe + testhost process environments are the same with and without an apphost.

The only difference in command line args is the testhost process args: port number is different, and if you delete testhost.exe, an extra argument to testhost.dll is added (in .nuget cache). This testhost.dll is the same as the one in the output dir.

[2019-10-09 20:55] nnguyen2102 commented on #1487
I'm having the same issue when trying to run a load test using mstest. The load test runs fine with Visual Studio Enterprise 2019 on the same machine. The error message indicates that Visual Studio Enterprise is required but I do have Visual Studio Enterprise installed. I also make sure that is the only version of VS on this machine. Please see run log below:

C:\Program Files (x86)\Microsoft Visu

[2019-10-09 21:49] vitek-karas commented on #2215
This is weird - I did repro the problem (thanks for the relatively easy repro!), but I kind of doubt it has to do specifically with `apphost`, it's probably something in the process which calls testhost.

#### Fast version
1) It starts by testhost for cca 20 seconds where it consumes one 1 CPU on 100%
1) Then the testhost runs for about 1 minute consuming multiple CPUs on 100% (on my machine cca 4

[2019-10-10 00:11] TheHubbit commented on #1763
I agree, creating a new bug for this (attributes not fully working in unmanaged tests) might be better as the title doesn't seem to be related.

[2019-10-10 00:36] FeodorFitsner commented on #2189
Would it be reproducible if .NET Core 3.0 installed with MSI?

[2019-10-10 10:25] ShreyasRmsft commented on #2194
@tomaustin700

We use this dotnet api (https://docs.microsoft.com/en-us/dotnet/api/system.io.path.gettempfilename?view=netframework-4.8) to get a temp file name System.IO.Abstractions.PathWrapper.GetTempFileName() and if your temp folder already has all the possible temp file names this method can generate then it throws.

Ideally the task uses the agent temp folder for generating all these temp f

[2019-10-10 10:32] anshii03 opened #2220 "Error Connecting to VSTest Console"
In AzDevops, while using the VSTest task to run the tests, the tests run seems to fail indicating connection timeout while trying to establish a connection with vstest.console on slower machines sometimes with the following error.

```  process failed to connect to vstest.console process after 90 seconds. This may occur due to machine slowness, please set environment variable VSTEST_CONNECTION_TIM

[2019-10-10 10:34] mayankbansal018 commented on #2218
@nkristek we have identified this issue, & it's happening because in the latest SDK we also drop testhost.dll along with the test assembly. Now since your test filter says to pick any *test.*.dll we also try to run test for testhost.dll which is failing abruptly. We apologize for this, & we have already raised a PR to fix this https://github.com/microsoft/vstest/pull/2206

To help you mitigate it

[2019-10-10 10:34] #2218 closed

[2019-10-10 10:45] mayankbansal018 commented on #2176
@juanperezADD apologies for getting back so late on this, can you please share a small repro project for this? Also if possible can share log files for testhost process as well?

[2019-10-10 10:46] singhsarab commented on #2187
@StephenRSkinner It is not very clear what is the expectation here. Closing this issue, Please provide the details for us to re-open. Thanks.

[2019-10-10 10:46] #2187 closed

[2019-10-10 10:48] singhsarab commented on #2214
@Grauenwolf Are you still facing this issue ?

[2019-10-10 10:53] ShreyasRmsft commented on #2180
@migheorghe i ran this multiple times but was unable to repro the issue with https://github.com/migheorghe/vstest.

Are you still facing this issue? Was it intermittent or does it happen every now and then?

[2019-10-10 12:17] tomaustin700 commented on #2194
@ShreyasRmsft Hi! I have updated the agent to 2.158.0 but I'm still getting it. What is the path to the temp directory and I will try clearing it? Thanks.

[2019-10-10 12:50] tomaustin700 commented on #2194
@ShreyasRmsft Clearing down %TEMP% sorted the issue. Seems that GetTempFileName throws IOException where there are more than 65535 files in temp. Thanks for your help.

[2019-10-10 12:50] #2194 closed

[2019-10-10 13:19] singhsarab commented on #2202
@wli3 @nguerrera I don't understand the reason we think this is an issue on the VSTest side.

If this is a regression, it would be in the dotnet test verb, which has the code for parsing the arguments.
Taking a look at the test, it seems it tries validate the error scenario where if --no-build args are passed, since the dll would not have been built, it would not be able to test it.

Is this test

[2019-10-10 13:50] remiX- commented on #862
Yay reopened :)

[2019-10-10 14:53] nguerrera commented on #2202
It failed with the testplatform updated between these:

[code]

Some change inserted into 3.0 after preview8 (or after that build of preview 8) broke it.

Unfortunately, the tests in dotnet/cli do not see the latest testplaform, they test with what is in the lkg version specified in global.json. This is something that will be fixed with repo consolidation.

[2019-10-10 15:33] zootyzoot commented on #862
Woohoo!

[2019-10-10 16:40] 0xd4d commented on #2215
I think the bug is in this code:

https://github.com/microsoft/vstest/blob/master/src/Microsoft.TestPlatform.TestHostProvider/Hosting/DotnetTestHostManager.cs#L209-L236

Note that in the `if` path (apphost path), `GetTestHostPath()` is never called, but this method initializes `hostPackageVersion` to eg. `16.3.0`, the default value is `15.0.0`. Later, `IsVersionCheckRequired` property is called wh

[2019-10-10 16:41] 0xd4d commented on #2215
When the protocol version is not 2, alot / all json data is ~3x the normal size.

[2019-10-10 17:52] wli3 commented on #2202
and I believe dotnet test verb is also maintained by vstests team. cc @livarcocc

[2019-10-10 20:52] dimant opened #2222 "2 years later profiling of unit tests is not supported for .Net Core framework"
## Description
see title

## Steps to reproduce
try to profile any unit test in a .net core framework project

## Expected behavior
profiling works

## Actual behavior
profiling doesn't work

## Environment
Visual Studio 2019 version 16.3.3

[2019-10-10 21:17] 0xd4d commented on #2215
Looks like PR https://github.com/microsoft/vstest/pull/2206 will fix this issue since the call to GetTestHostPath() is always executed.

[2019-10-11 06:41] singhsarab commented on #2202
@wli3 Yes, it is maintained by my team. But then, I was surprised to see the insertion succeed with failing tests in PR.

[2019-10-11 06:41] singhsarab commented on #2202
@nguerrera Thanks, let me take a look

[2019-10-11 09:12] singhsarab commented on #1453
This is available in https://dotnetcli.blob.core.windows.net/dotnet/Sdk/release/3.1.1xx/dotnet-sdk-latest-win-x64.exe

[2019-10-11 09:12] #1453 closed

[2019-10-11 09:18] singhsarab commented on #2215
@0xd4d I guess you hit the bull's eye.
@vitek-karas Thanks a lot for helping out with the investigations.

@vagisha-nidhi Let's update your PR with the discussed changes and that should take care of all the scenarios.

[2019-10-11 17:16] Grauenwolf commented on #2214
I just retested with a clean project and it is still happening.

[UnitTestProject2.zip](https://github.com/microsoft/vstest/files/3718815/UnitTestProject2.zip)

VS: 16.3.2
Core: 3.0.100

  <ItemGroup>
    <PackageReference Include="Microsoft.NET.Test.Sdk" Version="16.3.0" />
    <PackageReference Include="MSTest.TestAdapter" Version="2.0.0" />
    <PackageReference Include="MSTest.TestFramework" V

[2019-10-12 22:43] martincostello commented on #2215
This might also be related to #2189.

[2019-10-13 22:00] matkoch commented on #2179
Can this please be fixed soon? It's a major headache for everyone that can take a significant amount of time to track down.

[2019-10-14 08:37] ShreyasRmsft commented on #2180
@migheorghe closing this for now as i believe it was an intermittent issue. Please re-open if you are still facing this issue.

[2019-10-14 08:37] #2180 closed

[2019-10-14 09:42] mayankbansal018 commented on #2220
@Anshi92 can you please provide diagnostics information via https://github.com/Microsoft/vstest-docs/blob/master/docs/diagnose.md

Also can you please elaborate on your scenario a bit more

[2019-10-14 10:51] vagisha-nidhi commented on #2222
@dimant This is a VS IDE issue. Please file the issue on developer community https://developercommunity.visualstudio.com/content/problem/post.html?space=8. We won't be tracking IDE issues on this platform.

[2019-10-14 10:51] #2222 closed

[2019-10-14 13:43] xdaDaveShaw commented on #2203
Hi,
I can still reproduce it, to workaround the issue we added the following task:

[code]
And added `vsTestVersion: 'toolsInstaller'` to our VSTest task.

If I revert this change, the problem re-occurs.

Our project is large with over 800 projects.

The test project is .NET Framework 4.5.2, using MSTest TestAdaptor 1.3.2 for running the tests.
The code that gets the AppConfig value is a .NET 4.0

[2019-10-14 14:54] xdaDaveShaw commented on #2203
Sorry, I'm not able to repro, every time I run these tests they fail, even with the same workaround: https://dev.azure.com/taeguk/Public/_git/TestFailures

I'm not sure what it is in a production code that makes these pass when using 16.2.0 and fail on newer versions.

[2019-10-14 23:36] livarcocc opened #2223 "Calling dotnet test from a shell script fails on Ubuntu server with net core 3"
_From @stuartd on Thursday, October 10, 2019 4:08:16 PM_

We have a shell script that runs our .net core 3 integration tests on a Ubuntu server: it was running just fine, but since upgrading to .net core 3 it has stopped working.

It still works on OSX and in WSL using net core 3 (and the equivalent .bat file works on Windows).

I have reinstalled .net core 3 on the server but to no effect.

There

[2019-10-14 23:48] krwq opened #2224 "VSTest is printing using Console.WriteLine instead of using the logger"
## Description

VSTest should be using logger instead of Console.WriteLine. I.e.:
https://github.com/microsoft/vstest/blob/e6c198ca439603f0e81d723538894646032745f6/src/Microsoft.TestPlatform.Build/Tasks/VSTestTask.cs#L132
https://github.com/microsoft/vstest/blob/e6c198ca439603f0e81d723538894646032745f6/src/Microsoft.TestPlatform.Build/Tasks/VSTestTask.cs#L301

This is causing that in some cases ou

[2019-10-15 04:09] ericstj commented on #2224
It also looks like this task creates a process but doesn't redirect output, so that will further be lost logging.
https://github.com/microsoft/vstest/blob/e6c198ca439603f0e81d723538894646032745f6/src/Microsoft.TestPlatform.Build/Tasks/VSTestForwardingApp.cs#L30-L51

[2019-10-15 08:08] Roman-Rostovtsev opened #2225 ""Path to custom test adapters" parameter of VSTest task does not work"
## Description
I develop a custom test adapter. It is deployed to some folder inside an agent's working folder (let's say "$(System.DefaultWorkingDirectory)\MyAdapter") so I specify this path "$(System.DefaultWorkingDirectory)\MyAdapter" in the "Path to custom test adapters" parameter of VSTest task of my build pipeline. The problem is that this VSTest task fails with the strange error "##[error]T

[2019-10-15 10:44] nkristek commented on #2218
I see similar behavior with another repository [Smaragd](https://github.com/nkristek/Smaragd) and GitHub Actions, but the error message is a bit different:
`Testhost process exited with error: A fatal error occurred, the required library hostfxr.dll could not be found.`

It has the following targets:
- main project: .NET Standard 2.0
- unit test project: .NET Core 3.0

[Commit](https://github.com/

[2019-10-16 10:13] mayankbansal018 commented on #2176
Closing this, please ping here again, with small repro project if possible, & log files for testhost process

[2019-10-16 10:13] #2176 closed

[2019-10-16 11:51] vagisha-nidhi commented on #2203
I tried this project on my local box with VS with test platform version 16.2.0 and the test is still failing as you said. I will need a repro project to see what exactly is causing the failure.

[2019-10-16 15:46] Roman-Rostovtsev commented on #2225
Yes, the /TestAdapterPath of vstest.console.exe works fine. I've created issue in that repository:
https://github.com/microsoft/azure-pipelines-tasks/issues/11573

[2019-10-16 15:51] #2225 closed

[2019-10-18 16:28] aprout76 commented on #2104
@vagisha-nidhi I'm running into the same issue as well. When I try to follow the mitigation steps (set batch size) it breaks the initial run as well.

I get the following error:
The slice of type 'Discovery' is 'Aborted' because of the error : System.Exception: No tests were discovered from the specified test sources

Any update on when a fix to the original issue could be ready?

[2019-10-18 19:34] briandunnington commented on #1263
Like @dasMulli , it seems that setting the env vars does *not* result in them being overridden, and thus when `--collect` is on, our tests do not work due to child process not starting properly.

[2019-10-21 06:21] mayankbansal018 commented on #1952
@hvinett @singhsarab this is closed?

[2019-10-21 07:13] #1952 closed

[2019-10-21 10:07] singhsarab commented on #2214
@Grauenwolf I am sorry, not able to reproduce the issue.
I tried on VS 16.3.5 using the project that you shared.

[2019-10-21 16:57] nnguyen2102 commented on #1487
@cltshivash Hi Shiva, I saw that you reopened this issue 11 days ago. Do you have any updates on this issue? Thanks.

[2019-10-22 08:16] LirazShay commented on #1487
@cltshivash
Hi dear friend!
I was very glad to see that you've opened this issue.
Just to remind, @ShreyasRmsft explained that to run loadtest using on release pipeline we should use load test task but this option is deprecated since the cloud load test is deprecated.
So currently if we want to run the loadtest on premise on pipeline there is no way to do so
This is a very big pain for our company

[2019-10-22 11:22] singhsarab commented on #2214
Closing this issue for now. Please share more details so we can help diagnose this.

[2019-10-22 11:22] #2214 closed

[2019-10-22 12:35] vagisha-nidhi commented on #2203
Please feel free to reopen the issue with a repro.

[2019-10-22 12:35] #2203 closed

[2019-10-22 15:15] LirazShay commented on #1487
**Please read this comment to help fixing this bug:**
I opened a bug about this issue in VisualStudio Developer Community,
I've been told that "It has very small amount of new votes or comments. Based on this, its severity, and affected area, it’s my experience that this issue is very unlikely to be fixed."
### If you want this issue to be fixed , please to up-vote for the issue here:
https://deve

[2019-10-22 15:32] nnguyen2102 commented on #1487
@LirazShay Just up vote it. Thanks.

[2019-10-22 21:58] livarcocc opened #2228 "dotnet test can't find included runtime"
_From @patearl on Tuesday, October 22, 2019 1:37:20 PM_

## Steps to reproduce
Create an nunit test project that targets netcoreapp3.0. As of today, it uses the latest microsoft test sdk package and the latest nunit adapter package.

Download the 3.0 SDK ZIP file and unzip it.

Run dotnet test from the 3.0 SDK's folder against the solution.

As can be seen below, running dotnet --list-runtimes sho

[2019-10-22 21:58] livarcocc commented on #2228
_From @PleasantD on Tuesday, October 22, 2019 3:36:21 PM_

A little more background:
We are running compilations (via `dotnet msbuild`) and test (via `dotnet test`) on a TeamCity build server.
Our custom build script downloads and unzips a specific version of the SDK to a local build folder and runs all `dotnet` commands from that.

I had the server run `dotnet --info` and got a few more details
[

[2019-10-22 21:58] livarcocc commented on #2228
_From @PleasantD on Tuesday, October 22, 2019 4:45:19 PM_

A little digging...
I am suspicious of this:
https://github.com/microsoft/vstest/blob/3a94eb15674abbee0a2cfcd13f26796f5dc6bb84/src/Microsoft.TestPlatform.Build/Tasks/VSTestForwardingApp.cs#L34

Looks like the test forwarder`VSTestForwardingApp` is starting a process to call `dotnet`.
But not the `dotnet` that was originally used, which wou

[2019-10-22 23:17] JunielKatarn commented on #2195
@vagisha-nidhi Where is the adapter implemented?

There are related bugs, like FSQNs not being printed when running.
https://github.com/microsoft/vstest/issues/1732

[2019-10-23 01:11] matkoch commented on #2179
@mayankbansal018 I'm already surprised this hasn't been fixed after the [comments from last year](https://github.com/microsoft/vstest/issues/1590#issuecomment-392955873). This issue is so silly and it's wasting countless hours of your users time troubleshooting it. I'm really not happy with the pace of this project overall, especially since it's an important part for .NET.

[2019-10-23 07:17] singhsarab commented on #1487
As discussed above the issue is *not* related to any component inside this repo.
The issue should be tracked using the developer community feedback ticket tagged above.

[2019-10-23 07:17] #1487 closed

[2019-10-23 09:58] LirazShay commented on #1487
@singhsarab
No, but why this was reopened by @cltshivash?
I think the reason is to open this repo to support running load test also
Because the development of mstest has stopped years ago
The only way to achieve solution for this is by adding the funtionallity for this repo
so please help us with it and open it, until we know the direction it goes.
Currently it is a very pain for that the cloud lo

[2019-10-23 16:28] vritant24 opened #2229 "Automatically detect runsettings specified in a build property"
## Description
The Testwindow in Visual Studio detects a runsettings file specified in the build property `RunSettingsFilePath` for a project (c#, f#, and c++), but vstest currently doesn't mimic this functionality.

## Steps to reproduce
1. add the following to the .csproj of a test project
[code]
2. run the tests in the project using the cli

## Expected behavior
run settings defined in the spec

[2019-10-23 18:39] camerontbelt opened #2230 "When changing the build configuration in MSBuild Task from Debug to Release, tests dont run"
## Description

## Steps to reproduce
As the title says, when I changed the build configuration from Debug to Release, this caused my tests not to run in the VSTest task on azure dev ops. I changed the build configuration back to Debug and the tests still will not run.

## Expected behavior
I expect the tests to run no matter what the build configuration is.

## Actual behavior
Only runs in debug

[2019-10-24 03:18] gkalnytskyi commented on #862
@cslutgen, Completely agree. It is quite annoying when [documentation](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test?tabs=netcore21) ([and](https://github.com/Microsoft/vstest-docs/blob/master/docs/RunSettingsArguments.md)) clearly states that you can just specify RunSettings on the commandline, but that doesn't work for NUnit test project.

[2019-10-24 08:53] singhsarab commented on #2217
@bender2k14 This is the current behaviour, such a change in behavior would be a breaking change for them (specially case when using wildcard or giving multiple dlls)

[2019-10-24 08:53] #2217 closed

[2019-10-24 08:55] singhsarab commented on #2228
@PleasantD Could you please try setting DOTNET_ROOT environment variable to point the appropriate runtime ?

[2019-10-24 10:37] singhsarab commented on #2212
@dseefeld Do we want to pursue this ? If yes, can you please help.

[2019-10-24 15:15] PleasantD commented on #2228
Yes, this fixes the issue.

[2019-10-24 17:57] singhsarab commented on #2228
Thanks for the confirmation.

[2019-10-24 17:57] #2228 closed

[2019-10-24 18:06] PleasantD commented on #2228
I'm not sure why this was closed.
It still feels like a hack that we have to functionally redirect {{dotnet test}} via a PATH variable  even through we called it specifically with local version.

This should be automatic.

[2019-10-24 20:09] jimmylewis commented on #2229
How are you running the tests on the CLI?  Seems like an important factor in how this ought to be supported.

[2019-10-25 12:11] thomaslevesque opened #2231 ".NET Core 1.0 no longer supported by Microsoft.NET.Test.Sdk?"
## Description

[Microsoft.NET.Test.Sdk 16.3.0](https://www.nuget.org/packages/Microsoft.NET.Test.Sdk/16.3.0) claims it supports netcoreapp1.0, but it depends on [Microsoft.TestPlatform.TestHost 16.3.0](https://www.nuget.org/packages/Microsoft.TestPlatform.TestHost/16.3.0), which only supports netcoreapp2.1.

## Steps to reproduce
- In a test project targeting netcoreapp1.0, upgrade to the latest

[2019-10-25 13:18] singhsarab commented on #2229
@vritant24 How will this property be available to the test platform? Unlike the IDE, the test platform does not know csproj for the test binary.

/cc: @ManishJayaswal

[2019-10-25 21:02] ManishJayaswal commented on #2229
@singhsarab @vritant24  - what is the current mechanism to pass runsettings to command line test runner?

[2019-10-25 21:04] buvinghausen commented on #2231
For the time being you can use conditions to reference 16.2.0 for the lower level frameworks

[code]

[2019-10-25 21:14] thomaslevesque commented on #2231
Thanks @buvinghausen

What do you mean? Is this going to change in a future release?

[2019-10-25 21:18] buvinghausen commented on #2231
@thomaslevesque I can't speak to what Microsoft's long term strategy here is but in the event they do fix it backwards you can then go back to a normal package reference...

[2019-10-26 12:40] singhsarab commented on #2229
@ManishJayaswal It takes /settings argument

[2019-10-26 18:26] GongziMuchang commented on #1694
thanks for shareing

[2019-10-26 19:48] ManishJayaswal commented on #2229
@singhsarab - how does things work in "dotnet test" command from CLI? Does it not look at the project files? From this issue, it seems like the expectations is that the command line runners should know what is in the project file.

I am trying to understand if there is precedence for command line runners to actually read the project file and if not then what is the correct approach here.

If we do

[2019-10-27 08:54] am11 commented on #605
Thanks! This is implemented and released in VS 16.4 Preview 2.

we can specify a property in csproj, with absolute path:

[code]

another example: https://github.com/dotnet/project-system/blob/bd01722157391c78ab8d74e72b5e27099804c812/build/import/IntegrationTests.targets#L20

The other approach is to place .runsettings file next to .sln, but in my experiments, VS 16.4.2 did not detect the `.runset

[2019-10-27 09:47] 6bee commented on #605
Thanks for your effort - it's much appreciated!
I've successfully tested '.runsettings' file on solution level with 'auto detect runsettings files' enabled in VS 16.4 preview 2.

[2019-10-28 16:50] mcooley commented on #2217
We are also hitting this issue. In my project, test discovery failed for a different reason that what @bender2k14 reported, but we did not detect it for months because vstest returns exit code 0 when no tests are discovered. Our CI pipeline reported "successful" results even though no tests were running at all, and so we did not detect regressions in our project which could have been caught by the

[2019-10-28 17:15] bender2k14 commented on #2217
@mcooley, does your CI pipeline use VSTest?  If so, then https://github.com/microsoft/azure-pipelines-tasks/issues/11328 might (eventually) help you.

[2019-10-28 21:31] AbhitejJohn commented on #605
Thanks for trying this out and providing feedback.
Tagging @vritant24 to help with the issues @am11 detailed. @am11 : Would you mind filing this on  developer community too please? Do share the link here so we can follow up.

[2019-10-28 22:07] mcooley opened #2233 "No tests discovered for C++ UWP project in Release x64 configuration"
## Repro steps:
- In Visual Studio (tested with VS 16.3.6), create a new Unit Test App (Universal Windows - C++/CX) project.
- Set the configuration to "Release" and the platform to "x64"
- "Run All" in test explorer.
- No tests are discovered. Test output window says "No tests found to run."
- Note that in x86 or Debug configurations, the test runs and passes.

The same behavior occurs when the t

[2019-10-29 12:12] singhsarab commented on #2229
@ManishJayaswal The dotnet test verb does take proj file (or sln) as input. We'd have to add some code to make this sure this property gets passed to vstest side. I think for dotnet test scenario, this seems feasible.

My worry is more around dotnet test with dll or vstest.console. vstest,console runner does not read the project file.

User scenario: User has a multiple projects and he/she is able

[2019-10-29 14:03] migheorghe opened #2235 "VsTest parallel execution - error in batch distribution - agents have an execution delay"
## Description
When executing VsTest task with batches on Azure pipelines some agents seem to be lagging in receiving the batch and executing it.

Concrete case:
Executing 3900 tests with 50 hosted agents and 80 tests per batch

Expected behavior:
49 agents should receive a batch to execute, 1 agent will wait for all the parallel jobs to finish
Actual behavior:
45 agents receive a batch to execute

[2019-10-29 16:37] ManishJayaswal commented on #2229
tagging @AbhitejJohn  to get this thoughts on this as well.

[2019-10-29 17:19] AbhitejJohn commented on #2229
runsettings next to the source has its own set of issues apart from performance concerns. What happens if all the output go to one deployment folder? One runsettings would be overwritten by the other if we followed a naming scheme. If we don't have a naming scheme, we'd need to have some form of mapping. What is the general guideline of setting up a CI where there are different categories of tests

[2019-10-29 17:45] ani-mal commented on #1950
Also seeing this problem with VS2017 DotCover.

**To go around this issue the following approaches worked:**
- Add an assembly filter to remove Unity
![2019-10-29_9-18-21](https://user-images.githubusercontent.com/36199397/67793938-26661f80-fa52-11e9-92d8-359721353a14.png)
- Use Assembly filters to only add the assemblies you want the code coverage to be checked. So instead of excluding Unity asse

[2019-10-29 20:04] jimmylewis commented on #2229
Would it help if auto-discovery worked similar to app.config?  If executing tests from Foo.dll and if Foo.dll.runsettings exists, then use it?  Could a build target be added that would take $(RunSettingsFilePath) and copy it to $(OutputPath)\$(AssemblyName).runsettings?

[2019-10-29 20:45] AbhitejJohn commented on #2229
@jimmylewis : That sounds like a possible way of fixing this. What I was inclining to earlier is either re-use an existing format for providing runsettings in these workflows or create something new like what you have. I wonder if there is a common place to put that build target so it works for existing project files as well. One other thing we'd need to think about with an app.config kind of prov

[2019-10-29 22:09] vritant24 commented on #605
@am11 I greatly appreciate that you took the time to try out the feature and provided feedback.

Did you enable auto detection of .runsettings file in **Test > Options > Auto Detect  runsettings Files**?

This is by design as multiple projects can have separate .runsettings files with separate target platforms, and the UI represents default settings for the entire solution. Although, when it comes

[2019-10-30 08:59] karanjitsingh commented on #2235
hi @migheorghe, can you provide full logs for this? and if possible a repro project/pipeline?

[2019-10-30 13:32] singhsarab commented on #2230
@camerontbelt Can you please make you are doing a clean build, and there are no stale built binaries ?

[2019-10-30 17:47] luis-cortina commented on #1830
@AbhitejJohn Building the solution is not currently triggering discovery. Only opening the Test Explorer window does. Is there a service that can help me do this better?

[2019-10-30 18:12] AbhitejJohn commented on #1830
@luis-cortina : Opening the Test Explorer ensures that a few initialization hooks are in place to trigger discovery on build - we wouldn't want to perform any test related work unless a user expresses interest in testing - one of which is opening the Test Explorer.

[2019-10-30 20:08] primalspacesystems commented on #2207
Using "... /TestCaseFilter:"StabbingTSE_Encoder" /Platform:x64 /InIsolation" generates the exact same results.

Cheers
John

[2019-10-30 20:50] heng-liu opened #2237 "Question: is roll-forward available in dotnet vstest commandline?"
dotnet commandline has a --roll-forward parameter to choose the runtime pick policy.
https://github.com/dotnet/designs/blob/master/accepted/runtime-binding.md#rollforward

May I know if "dotnet vstest" is able to use this "--roll-forward" parameter? Thanks!

[2019-10-30 22:01] shyamnamboodiripad commented on #1908
@tmat Could you comment on what would be needed to fix the TP code linked above to support embedded PDBs?

We are running into more cases where it is not possible to run tests from VS editor / navigate to tests from VS test explorer because adapter-discovered tests (for NUnit, xUnit and MSTest) fail to retrieve source information when embedded PDBs are turned on. Adapters are currently using the a

[2019-10-30 22:08] shyamnamboodiripad commented on #1908
Also tagging @peterwald @AbhitejJohn

[2019-10-31 00:12] shyamnamboodiripad commented on #1908
Synced up with @tmat offline and here's what he recommended we would need to do to support embedded pdbs -

1. [This code](https://github.com/microsoft/vstest/blob/master/src/Microsoft.TestPlatform.ObjectModel/Navigation/PortableSymbolReader.cs#L91) is incorrect. Portable pdbs need not necessarily be present next to the binary being built. We need to call [PEReader.TryOpenAssociatedPortablePdb()](

[2019-10-31 09:59] ViktorHofer commented on #2228
cc @vitek-karas who should know more about the host/shared framework resolution logic.

As @singhsarab mentioned, this is by design.

That could cause other unforeseeable issues. Maybe Vitek has an opinion here.

[2019-10-31 10:42] #1408 closed

[2019-10-31 10:59] mayankbansal018 commented on #2179
@matkoch I just tired passing verbosity arg with different cases, & it worked fine on Windows, WSL, & Mac OS

Can you please try again with latest dotnet sdk(3.0.100), or are you facing this issue on some version of Linux? Can you please provide more details where you are facing this issue?

[2019-10-31 11:22] borgewi commented on #1085
@nigurr

Is there any update on overriding .net core test run parameters using the vs test task?

I am able to run the test task, however when the task is running, the updated runsettings is leaving out the TestRunParameters, as such:

![vstest-overrideparams](https://user-images.githubusercontent.com/16647813/67942716-c2ba2e80-fbd8-11e9-8966-1bc275d85d76.PNG)

Thanks!
Børge

[2019-10-31 12:08] singhsarab commented on #2237
@heng-liu No it does not.

[2019-10-31 16:51] heng-liu commented on #2237
Thanks Sarabjot.

[2019-10-31 17:19] singhsarab commented on #2237
@heng-liu Closing the issue, let me know if you want to keep it open.

[2019-10-31 17:19] #2237 closed

[2019-10-31 18:41] heng-liu opened #2238 ""No test is available" when change TFM from netcoreapp3.0 to netcoreapp5.0"
## Description
Our testing projects work well on Linux when TFM is netcoreapp3.0.
Recently we changed testing projects  TFM from netcoreapp3.0 to netcoreapp5.0, to use latest feature that only in netcoreapp5.0.
We installed SDK 5.0 daily builds from [here](https://github.com/dotnet/core-sdk)(Linux-x64 version)
We build the testing projects (we use global.json to specify version 5.0.100-alpha1).
An

[2019-11-01 15:10] dfederm opened #2239 "Microsoft.VisualStudio.Coverage.Analysis is not a well-structured nuget package"
## Description
Microsoft.VisualStudio.Coverage.Analysis is not a well-structured nuget package.

Specifically, there are no dlls under the `lib\net45` dir in the package. Instead, the dlls are under subdirectories there, which make it incorrectly structured.

My guess is that these dlls are separated by architecture for the sole purpose of pointing to the correct native assembly. In that case ther

[2019-11-01 18:02] Mobrockers opened #2240 "Microsoft.TestPlatform.Portable vstest.console.dll does not run on netcore sdk 3.0.x"
## Description
At stryker-net we are trying to implement rollForwardOnNoCandidateFx so that consumers don't have to install .netcore sdk 2.1 in their build every run (assuming no breaking changes) but as soon as we allow rollForwardOnNoCandidateFx to major versions we can no longer attach to vstest.console.dll from stryker. I have tried to pass rollForwardOnNoCandidateFx to vstest.console.dll as w

[2019-11-03 11:24] slang25 commented on #411
Just to echo the previous comment (https://github.com/microsoft/vstest/issues/411#issuecomment-463998490), this can be closed now :tada:

[2019-11-04 17:22] yohanosullivan opened #2242 "Error "Could not load file or assembly" after changing Microsoft.Dynamics365.UIAutomation.Sample.dll with Powershell"
## Description
I am trying to use the Visual Stuidio Test task to run some tests stored in the Repos. However i want to update the tests config file mid-pipeline using Azure Devops powershell task ( to pass in login parameters)

I have stored my sample tests in the Repos for Azure DevOps . The tests use a config file (for example “Microsoft.Dynamics365.UIAutomation.Sample.dll.config”) to store val

[2019-11-05 12:44] baruchiro commented on #1794
How can I know if my `dotnet vstest` supports this?

[code]

And how can I get this change?

[2019-11-05 13:15] vitek-karas commented on #2228
I think there are two parts to this:
1) Which .NET Core install should the tests run on - how do we find it (where do we take this information from)
2) How to setup the environment so that the tests actually use that install

Re 1:
This depends on several things - if the tests can retarget. That is, is it allowed/enabled to run `dotnet test` using "Some" dotnet, but then the tests themselves will

[2019-11-05 16:25] baruchiro commented on #1794
Sorry, my problem was unupgraded `Microsoft.sdk.Test` nuget.

[2019-11-06 13:17] anunay1 opened #2244 "error while publishing results from CLI"
## Description

## Steps to reproduce

## Expected behavior

## Actual behavior

Error: Exception occurred while initializing logger with URI 'logger://Microsoft/TestPlatform/TfsLogger/v1'.  The logger will not be used.  Exception: System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.TeamFoundation.TestPlatform.Client, Version=15.0.0.0, Culture=neutral, PublicKeyToken=b03f5f

[2019-11-06 16:28] anunay1 commented on #2244
I resolved the reference issue by moving to visual studio 2019, but I get another issue with 2019
![image](https://user-images.githubusercontent.com/7989610/68317079-860e9b80-00e0-11ea-9337-6a0f56a48adb.png)

[2019-11-06 18:52] anunay1 commented on #2244
this is what the diagnostics log shows:
TpTrace Verbose: 0 : 19112, 1, 2019/11/07, 00:01:06.591, 6477445108773, vstest.console.exe, TestPluginCache.DiscoverTestExtensions: finding test extensions in assemblies endswith: RuntimeProvider.dll TPluginInfo: Microsoft.VisualStudio.TestPlatform.Common.ExtensionFramework.Utilities.TestRuntimePluginInformation TExtension: Microsoft.VisualStudio.TestPlatfor

[2019-11-06 19:11] anunay1 commented on #2244
Some more info:

TpTrace Verbose: 0 : 19112, 1, 2019/11/07, 00:01:06.591, 6477445108773, vstest.console.exe, TestPluginCache.DiscoverTestExtensions: finding test extensions in assemblies endswith: RuntimeProvider.dll TPluginInfo: Microsoft.VisualStudio.TestPlatform.Common.ExtensionFramework.Utilities.TestRuntimePluginInformation TExtension: Microsoft.VisualStudio.TestPlatform.ObjectModel.Host.ITes

[2019-11-06 22:21] jnm2 opened #2245 ""No test is available" with /logger:trx but everything works with /logger:console"
Please excuse the interesting PowerShell command. It's based on the command that Azure Pipelines VSTest task builds. I'm trying to track down the difference between an Azure Pipelines build that skips all tests and a build in a different project that actually runs the tests. It comes down to what looks like a VSTest console bug. I can repro locally using the open-source project I'm looking at. If

[2019-11-07 04:16] anunay1 commented on #2244
can I get a response for this issue

[2019-11-08 00:37] icnocop opened #2247 "vstest.console.exe returns a zero exit code even if no tests were found/executed"
## Description
vstest.console.exe returns a zero exit code even if no tests were found/executed.
A zero exit code usually means success, but since no tests were found/executed, I expected a non-zero exit code meaning a failure occurred.

## Steps to reproduce
Create and build a new Unit Test Project (.NET Framework 4.6.1) in Visual Studio 2017 v15.9.17

Create a `Local.testsettings' file:
[code]

[2019-11-08 14:09] singhsarab commented on #2247
@icnocop This is by design. Any change in this behavior is potential breaking change for our customers.

[2019-11-08 14:51] singhsarab commented on #2245
@jnm2 Are the adapters present in the directory you are running the cli runner from ?

/testadapterpath should be used only when you are want some specific adapter location to be used for the adapters.
In geenral, most .NET adapters get copied next to the test dll and you need not specify it.

What happens when you use /inisolation flag ?

[2019-11-08 14:57] jnm2 commented on #2245
Yes. What's more, you can see VSTest loading the adapter DLL and failing while doing so, in the first line of the log quote above:

This parameter is hardcoded by the Azure Pipelines VSTest task.

I'm not at my machine right now. @JohanLarsson can you try this?

Regardless of the above, it seems like there is a deeper problem in VSTest if changing *either* the /logger parameter or the /testadapter

[2019-11-08 15:31] singhsarab commented on #2244
@anunay1 TFS publisher is no longer supported with the new test platform.

Please check my response here.
https://github.com/microsoft/vstest/issues/1739#issuecomment-414669360

[2019-11-08 15:31] #2244 closed

[2019-11-08 15:36] JohanLarsson commented on #2245
I tried with:
[code]

But it was hooray for wrong reasons, no tests run. https://dev.azure.com/DotNetAnalyzers/PropertyChangedAnalyzers/_build/results?buildId=581

[2019-11-08 15:37] JohanLarsson opened #2248 "Fail build if no tests were run"
If a test step is specified but no tests are run it is very likely an error.

#2245

[2019-11-08 15:47] singhsarab commented on #2240
You can try setting an environment variable (VSTEST_RUNNER_DEBUG=1) to make sure we know for sure.
This flag helps break the vstest.console at the start.

[2019-11-08 15:57] jnm2 commented on #2245
Cool, `runTestsInIsolation: true` was translated to `/InIsolation`: https://dev.azure.com/DotNetAnalyzers/PropertyChangedAnalyzers/_build/results?buildId=581&view=logs&jobId=12f1170f-54f2-53f3-20dd-22fc7dff55f9&taskId=7bfb7e0f-549d-5929-c603-6e8046613b9e&lineStart=48&lineEnd=48&colStart=1&colEnd=13

@singhsarab The fact is that the adapter DLL beside the test assembly is properly found in all case

[2019-11-08 15:58] singhsarab commented on #2248
This is similar to what is being tracked here. https://github.com/microsoft/azure-pipelines-tasks/issues/11328

[2019-11-08 16:00] JohanLarsson commented on #2248
Ok, closing this as a dupe then.

[2019-11-08 16:00] #2248 closed

[2019-11-08 16:07] singhsarab commented on #2245
@jnm2 I hope adding /inisolation did help.

Yes, adding /logger:trx possibly is causing the issue as the trxlogger itself is getting loaded in the vstest.console process. If the testadapter or any other assembly is dependent on a different version of the runtime dll they might be causing the failure,

[2019-11-08 16:16] jnm2 commented on #2245
@singhsarab /inisolation [did not help](https://dev.azure.com/DotNetAnalyzers/PropertyChangedAnalyzers/_build/results?buildId=581&view=logs&jobId=12f1170f-54f2-53f3-20dd-22fc7dff55f9&taskId=7bfb7e0f-549d-5929-c603-6e8046613b9e&lineStart=48&lineEnd=48&colStart=1&colEnd=13); everything looks the same:

[code]

I can check to see if anything is changed in the diagnostic log, but I'm going to guess th

[2019-11-08 17:18] livarcocc opened #2249 "dotnet process stays even after `dotnet build-server shutdown` and `killall dotnet`"
_From @khteh on Thursday, November 7, 2019 2:50:24 AM_

[code]

_Copied from original issue: dotnet/cli#13034_

[2019-11-08 17:18] livarcocc commented on #2249
_From @livarcocc on Thursday, November 7, 2019 9:22:45 PM_

It seems it is running a tests. I am not sure why it is not getting shutdown as part of the killall command. The testhost dll is the one that is not respecting the command to shutdown. I am going to move this issue to vstest.

[2019-11-08 19:16] icnocop commented on #2247
I'm not exactly sure the scenario where returning a zero exit code is expected.

In any case, I believe this "feature" can still be implemented without breaking changes.

For example, an additional setting and command line parameter can be passed to vstest.console.exe to require that at least one test is run or else exit with a non-zero exit code:

1. The additional setting in the runsettings file

[2019-11-08 20:10] JohanLarsson commented on #2245
There is something weird going on. I have several near identical projects with the same yml and csproj.
Here are two projects that runs tests:
https://dev.azure.com/DotNetAnalyzers/ReflectionAnalyzers
https://dev.azure.com/DotNetAnalyzers/WpfAnalyzers

[2019-11-12 07:04] mayankbansal018 commented on #2179
@matkoch can you please let us know if this is still an issue with dotnet skd(3.0.100, & greater) ?

[2019-11-12 11:36] juniormayhe commented on #813
I think msbuild (or whatever visual studio 2019 uses) is not excluding from code coverage auto generated programs.

I was expecting to test project produces:
[code]

but I got:

[code]

is it possible to excluded from code coverage test project autogenerated (Program) files? Code Metrics results keeps on showing these files with 0% code coverage.

[2019-11-13 01:11] icnocop commented on #2247
@singhsarab, please consider re-opening this issue.

Thank you.

[2019-11-13 06:15] AndiKleini commented on #1870
Exactly the same issue. To solve the problem, I had to install NunitTestAdapter and Microsoft.NET.Test.Sdk. Adding just one of them did not solve the problem. Adding NuintConsoleRunner had no impact for my problem.

[2019-11-13 15:04] mayankbansal018 commented on #2149
@N-Olbert the adapters are not aware of whether data collections is enabled or not, & from vstest platform doesn't whether user intends to run tests in parallel within assembly as it can be achieved via adding adapter specific tags on test classes.

I understand this is a problem, but for now this is a design limitation

I'm closing this issue, please comment in case you have some concerns.

[2019-11-13 15:04] #2149 closed

[2019-11-14 21:37] matkoch commented on #2179
Yes it is.

[2019-11-15 10:34] Mobrockers commented on #2240
I set the VSTEST_RUNNER_DEBUG=1 environment variable which caused my unit tests starting using azure pipelines vstest task to halt (wait for debugger attach) but the vstest instance I start from the translationlayer client using the vstest.console.dll from the portable nuget package does not seem to halt or log anything

[2019-11-15 10:45] singhsarab commented on #2240
@Mobrockers It is in the main itself, so should break for any flow
https://github.com/microsoft/vstest/blob/06101ef5feb95048cbe850472ed49604863d54ff/src/vstest.console/Program.cs#L22

[2019-11-15 10:46] singhsarab commented on #2240
@Mobrockers If there is no break, that means we are not even trying to start the exe, is there any exception while initializing the translation layer?

[2019-11-15 10:54] Mobrockers commented on #2240
Yes sorry I linked to the build pipeline with the exception but I understand you would rather not have to go search for it. The exception is a timeout failure to connect, this does not happen on dotnet core 2.1 runtime, only on dotnet core 3.0. This is why I think starting the exe is failing:

[code]

[2019-11-15 16:29] Mobrockers opened #2253 "vstest 16.4.0 vstest.console process failed to connect to testhost process after 90 seconds"
## Description
Vstest console 16.4.0 started using translationlayer client cannot connect to testhost on macosx or ubuntu

## Steps to reproduce
https://github.com/stryker-mutator/stryker-net/pull/803
https://dev.azure.com/stryker-mutator/Stryker/_build/results?buildId=3194&view=logs&j=8dcd3b11-13fb-50f0-4b7f-731992d2cc40&t=cb30da9f-d093-5976-a5a7-fb4ed5357abf

## Expected behavior
test discovery

[2019-11-16 10:07] MarcoRossignoli commented on #2205
Did some test and seem to load correctly in preview version, I'll close for the moment.

[2019-11-16 10:07] #2205 closed

[2019-11-18 09:04] ShreyasRmsft commented on #2230
Closing due to no response, please re-open after trying following the suggestion mentioned above and if issue persists.

[2019-11-18 09:04] #2230 closed

[2019-11-18 09:27] ShreyasRmsft commented on #2238
For running tests using dotnet vstest you need to ensure that the test project is published.

Take a look at https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-publish?tabs=netcore21

[2019-11-18 16:00] Perrow commented on #1732
I'm using this test-runner to verify versions of our product with a set of tests that runs against a dedicated environment. Like others have reported we have multiple tests with similar or identical names.

Having the ability to have the fully qualified name reported to the command line seems like a logical option. The fact that most other test frameworks has this option verifies this in my opinio

[2019-11-18 23:14] bakester14 opened #2254 "Custom Test Logger registration fails silently if the custom logger doesn't have the ExtensionURI attribute"
## Description
After implementing a custom VSTest logger according to the docs [here](https://github.com/microsoft/vstest-docs/blob/master/docs/report.md), trying to register it via Friendly or Assembly-qualified name to VSTest.console.exe fails with a misleading error message.

## Steps to reproduce
In a new solution, implement a basic test logger following the instructions in the doc linked abov

[2019-11-18 23:15] bakester14 commented on #2254
I did some digging on this and I think I found an issue, editing this comment to show the results of that dig, but wanted to post it before I finish writing in case anyone is reviewing this before I finish

[2019-11-19 09:15] ShreyasRmsft opened #2255 "TRX logger today does not stream the results to a file but rather buffers it and writes it in one shot at the end"
TRX logger today does not stream the results to a file but rather buffers it and writes it in one shot at the end

It should ideally stream the results to the file.

[2019-11-19 15:34] fman028 commented on #1500
I'm running into the same issue.  I'm not sure what is meant by "run the agent in powershell"?

[2019-11-19 15:55] JochemVH1 commented on #1500
By accident I was just checking some of my closed issues. At that time I had the agent running as a windows service on the virtual machine, but if i manually ran the agent in powershell (so opening powershell and starting the agent) I didnt receive the DEP0700

[2019-11-19 16:30] fman028 commented on #1500
Whoa, I did not expect such a fast response!  Hm, I also have my VSTS Agent running as a service on my virtual machine.  I'm still being a bit dense about stharting the agent from powershell :/  You mean opening poweshell on my vm and running `Start-Service <my agent name>`?  Or having a powershell task in my build pipeline?

[2019-11-19 17:20] JochemVH1 commented on #1500
Yeah it's been a while since ive dealt with this but as far as I remember I ran powershell on the VM and started the agent from there which resolved the issue.

[2019-11-19 17:51] fman028 commented on #1500
Hm, weird still getting the same issue after starting my agent from powershell via `Start-Service <my agent name>` :/  Meh, I'll keep looking.  Appreciate the help on an old post :)

[2019-11-21 12:00] colotiline commented on #2189
I've got same issue when run tests for an asp.net core app.

**Error**
[code]

**OS**
CentOS 7.

**dotnet --info**
[code]

**Test csproj**
[code]

**yum list installed | grep dotnet**
[code]

[2019-11-21 12:16] ShreyasRmsft commented on #2242
@yohanosullivan you can consider using the test run parameters in a runsettings file and then overriding them using vstest task input field name "override test run params".

docs for vstest task inputs here https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/vstest?view=azure-devops

Runsettings docs for TestRunParamters here https://docs.microsoft.com/en-us/visualstudio/test/config

[2019-11-21 12:49] yohanosullivan commented on #2242
This worked a treat, thank you @ShreyasRmsft

[2019-11-21 12:49] #2242 closed

[2019-11-24 10:47] WilliamT-Streamba commented on #761
Anyone struggling with this issue in 2019, .Net Core 2.2 and XUnit and running tests in docker.

I had updated `Microsoft.NET.Test.Sdk` to 16.4.0 but didn't update `xunit` and `xunit.runner.visualstudio` to the latest version 2.4.1.

Updating the xunit packages resolved the issue for me.

[2019-11-25 12:36] jayaranigarg commented on #2238
@heng-liu : Any update on this?

[2019-11-25 14:53] hunyhabib commented on #1951
Now My tests also are breaking with Microsoft.Net.Test.SDK V16.3.0

[2019-11-25 15:24] hunyhabib opened #2256 "Microsoft.NET.Test.Sdk v.16.3.0 does not respect LogFileName and appends underscore with date to file name"
## Description
when running dotnet vstest with Microsoft.NET.Test.Sdk 16.3.0 an _ with currentdate appended to file name causing failure after that due to name missmatch.

## Steps to reproduce
run
dotnet vstest x.dll --logger:'trx;LogFileName=xyz'

## Expected behavior
test result gets published with samefile name xyz.trx

## Actual behavior
test result got published under different name
Results

[2019-11-26 07:17] jayaranigarg commented on #2256
@hunyhabib : When you run via commandline, it uses dotnet sdk to run your test dll. Please install latest dotnet sdk and see if that works for you. This issue has already been fixed by us.

[2019-11-26 09:03] hunyhabib commented on #2256
@jayaranigarg i am using mcr.microsoft.com/dotnet/core/sdk:2.2 docker image. the thing is when i downgraded Microsoft.NET.Test.Sdk to V 16.2 it works as expected

[2019-11-26 10:39] hunyhabib commented on #2256
which version you mean 2.2.207 ?

[2019-11-26 11:02] jayaranigarg commented on #2256
Yes please

[2019-11-26 12:12] hunyhabib commented on #2256
![image](https://user-images.githubusercontent.com/34410233/69631437-2f94dd00-104e-11ea-8d2e-f2fd0c778cdf.png)
Still Exists also with updated sdk
![image](https://user-images.githubusercontent.com/34410233/69631575-57844080-104e-11ea-98f2-715939fa7022.png)

[2019-11-27 00:23] himajan opened #2257 "How to exclude mutiple tests based on their fully qualified names"
## Description
I am trying to exclude certain tests using FullyQualifiedName test filter criteria using vstest.console.exe. Is this supported?
Eventually I want to use this filter in the Azure DevOps VsTest task. But, looks like FullyQualifiedName only allows one test to exclude.

I tried many different combinations like below:

C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common

[2019-11-27 01:26] xuzhg opened #2258 "Same test case running fast for .NET Core App 2.0, but can't finish for .NET Core App 3.0 at low memory VM"
## Description

I have test projects both targeting .NET Core App 2.0 and .NET Core App 3.0

Total test cases number is > 7700.

If i run dotnet test to run the test cases for both target framework:

![image](https://user-images.githubusercontent.com/9426627/69685371-00439780-1071-11ea-95a8-a395a2e5da2f.png)

the test for 2.0 is finished quickly, but the 3.0 can't finished.

![image](https://user-

[2019-11-27 09:09] jayaranigarg commented on #2256
![image](https://user-images.githubusercontent.com/17309452/69707964-c03bed80-1120-11ea-984d-a113f46fb6c3.png)

Tried on our end, and it seems to work fine. Can you see what version of Test Execution commandline it is showing for you? I am using 3.1.0-preview2.19525.6 version for dotnet sdk. Can you please try with 3.1 version of sdk?

[2019-11-27 09:24] Mobrockers commented on #2240
@singhsarab Anything else I can test or any other data I can provide you with?

[2019-11-27 12:56] hvinett commented on #2257
Hey @himajan ,
Can you try this
```/TestCaseFilter:"FullyQualifiedName!=MyNameSpace.ClassName1.Test1&FullyQualifiedName!=MyNameSpace.ClassName2.Test2" ``` and see?

[2019-11-27 18:34] himajan commented on #2257
Hi Vineeth,

I already tried this and even this did not work. Only the first test in the filter criteria is getting skipped.

Thanks,
Himaja

From: Vineeth Hanumanth<mailto:notifications@github.com>
Sent: Wednesday, November 27, 2019 4:56 AM
To: microsoft/vstest<mailto:vstest@noreply.github.com>
Cc: Himaja Nallandula (WIPRO LIMITED)<mailto:v-hinal@microsoft.com>; Mention<mailto:mention@noreply.git

[2019-11-28 05:13] hvinett commented on #2257
Hey @himajan ,
Can you provide the sample project and the command that you have tried ?

[2019-11-28 15:47] singhsarab commented on #2258
@xuzhg Is it possible for you to share a repro project ?

[2019-12-01 19:45] ransagy commented on #799
This doesn't work with latest dotnet core cli (3.0.101) on either Windows or Linux with MSTest v2(.0.0). Why is this still closed and ignored after so many requests for actual consideration here for something that is clearly a bug even by the maintainers' replies here?

[2019-12-02 09:26] ShreyasRmsft commented on #2256
@hunyhabib any updates here?

[2019-12-02 22:21] tracker1 commented on #2205
@MarcoRossignoli any idea when this will get released?

[2019-12-03 06:32] xuzhg commented on #2258
@singhsarab you can get the source code from: https://github.com/xuzhg/WebApi/tree/RoutingBaseForNEtCore30

run the https://github.com/xuzhg/WebApi/tree/RoutingBaseForNEtCore30/test/UnitTest/Microsoft.AspNetCore.OData.Test\Microsoft.AspNetCore.OData.Test.csproj for net core 3.0 framework testing at low memory VM

[2019-12-03 08:40] MarcoRossignoli commented on #2205
I'm a coverlet co-maintainer I don't work on vstest team(unfortunately :smile:) so I don't know release plan, we need to ask to @vagisha-nidhi
BTW you can use preview relase updating package ref in your proj with last one https://www.nuget.org/packages/Microsoft.NET.Test.Sdk/16.5.0-preview-20191115-01

[2019-12-03 09:23] singhsarab commented on #2212
@dseefeld Can you please tag Omair here, so that we can make this issue actionable.
As per my current understanding we will not be able to change the licensing as suggested.

[2019-12-03 09:35] vagisha-nidhi commented on #2205
@tracker1 The latest preview release contains this fix. Please use that to get yourself unblocked.

[2019-12-03 14:17] hunyhabib commented on #2256
yah it works with the latest version .. but what was changed suddenly with sdk 2.2 because it worked for 2 month and now got corrupted suddenly..

[2019-12-03 16:01] singhsarab commented on #2258
@xuzhg Thanks for the information. We are prioritizing other important feedback right now.
I will update soon.

[2019-12-03 16:27] dseefeld commented on #2212
@omajid @leecow Any suggestions here?  The patch is updating the licenses for source-build, because we don't include the previously mentioned binaries when building source-build, but the licenses are needed for the binaries in the non-source-build case.

[2019-12-03 17:12] mrward opened #2260 "TestHost.dll discovery does not work on the Mac"
## Description

## Steps to reproduce

Visual Studio for Mac uses the test discovery protocol to discover tests. It currently uses an old 15.5 version but we were looking to update. Using vstest 16.4.0 in VS Mac and test discovery no longer works. It seems that the testhost.dll path is not determined when not on Windows and dotnet fails since no testhost.dll path is being used.

## Expected behavi

[2019-12-03 18:44] xuzhg opened #2261 "The active test run was aborted. Reason: Test host process crashed"
## Description

## Steps to reproduce
1.  `git clone https://github.com/xuzhg/WebApi.git`
     `git checkout -b RoutingBaseForNEtCore30 origin/RoutingBaseForNEtCore30`
2. dotnet --version
![image](https://user-images.githubusercontent.com/9426627/70079111-e944fe00-15b8-11ea-9033-66507dfd39a2.png)

3. run the following command (please replace the following Folder):
`dotnet test  [YOURLocalClonedFol

[2019-12-04 02:58] icnocop opened #2262 "Ability to indicate no tests found/executed as an error"
## Description
vstest.console.exe returns a zero exit code even if no tests were found/executed.
A zero exit code usually means success, but I'd like to identify when no tests were found/executed with a non-zero exit code, meaning an error/failure occurred.

## Steps to reproduce
Create and build a new Unit Test Project (.NET Framework 4.6.1) in Visual Studio 2017 v15.9.17

Create a `Local.testset

[2019-12-04 13:58] ViktorHofer opened #2265 "RunSettingsFilePath property isn't honored by VSTest"
The property `RunSettingsFilePath` which points to the local .runsettings file for the test session should be honored by VSTest and not just by Visual Studio. Doc that points to that property: https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?view=vs-2019#visual-studio-2019-version-164-and-later

We need this in the runtime repo (converged repo

[2019-12-04 16:02] saurabhporwal28 commented on #1663
I'm working on creating a differential build for our Monolithic solution and so don't want to run all the test files on every build and run only those which have been impacted. I've the logic for differential pieces and I'm thinking of using VSTest.Console.exe to run those test files and so would need to include wildcards in the path as well as file names. I tried doing that on my Visual Studio Co

[2019-12-05 01:15] leecow commented on #2212
What are the packages/binaries we're talking about? What is the license they currently carry? Are they open source?

[2019-12-05 06:34] singhsarab commented on #2212
@leecow The test platform packages produced by this repo.
For example, https://www.nuget.org/packages/Microsoft.TestPlatform.CLI/16.5.0-preview-20191115-01

These packages contain some binaries that are not built in this repo, the reason we weren't sure about how to fix the licensing.

[2019-12-05 23:33] leecow commented on #2212
Thanks for that. What's the list of binaries and what are there provenance?

[2019-12-06 10:42] #2256 closed

[2019-12-06 16:47] Fenrir2017 opened #2271 "Dotnet Test selecting the wrong Test Execution Command Line Tool Version"
## Description
I am attempting the use the "dotnet test" command to run unit tests. In my project file, I specify "Microsoft.NET.Test.Sdk" Version="16.4.0", however when the command runs, version 16.3 is used, which will not work for my scenario. 16.4 fixed a bug that did not allow my tests to properly be ran using x86. When ran from the VS studio IDE, everything works as expected. It is only when

[2019-12-09 06:14] vagisha-nidhi commented on #2238
@heng-liu Closing the issue for now. Please reopen if this is still happening.

[2019-12-09 06:14] #2238 closed

[2019-12-09 06:18] AbhaPatankar opened #2269 "test the supa"
## Description

## Steps to reproduce

## Expected behavior

## Actual behavior

## Diagnostic logs

## Environment

[2019-12-09 11:40] nohwnd commented on #2265
A simple repro for this is to have a MSTest test project with a single inconclusive test and force the inconclusive state to translate to fail via run settings. This will give a failing test when settings are picked up and a skipped test when they are not.

[code]
Add the following `example.runsettings` in your solution folder

[code]
and configure the project to pick up the settings file by addin

[2019-12-09 14:08] Mobrockers commented on #2260
Possibly the same issue for #2253
I'll test but when this fix is merged I think my issue can be closed as well.

[2019-12-09 17:00] vritant24 commented on #2265
This issue is currently being discussed here #2229

[2019-12-09 23:01] shyamnamboodiripad opened #2270 "Suppress `The active test run was aborted` message when a run is explicitly cancelled"
When user cancels a test run / discovery in the VS Test Explorer currently, this message ends up being printed in the VS 'Test' output pane -

`The active test run was aborted. Reason: Test host process crashed`

Ideally, the message should be suppressed when client triggers an explicit cancellation. It should only be returned in the case where the test host process dies unexpectedly.

[2019-12-10 08:52] snavarropino commented on #2189
Same issue here after installing visual studio 16.4 (that comes with .Net core 3.1). Downgrading Microsoft.Net.Test.Sdk solved the issue

[2019-12-10 09:14] ShreyasRmsft commented on #2257
@himajan any updates here?

[2019-12-10 10:18] nohwnd commented on #2240
@Mobrockers Sorry for the delayed response, I am taking over this issue. The original build is no longer available, is there a different build that I could inspect and learn more about the failure?

[2019-12-10 10:40] Mobrockers commented on #2240
Hey @nohwnd no problem, thank you for taking a look!

I started a new pipeline run for you here: https://dev.azure.com/stryker-mutator/Stryker/_build/results?buildId=3448

I can provide you with any information or changes required

[2019-12-10 15:21] singhsarab commented on #2220
Root cause for this issue seems to be static initialization of the extensions in the vstest.console which takes long and supposedly happens before it tries to connect back to the client (translation layer).

[2019-12-11 10:53] singhsarab commented on #2271
The runner version that you see, it comes with dotnet sdk.
You should try using the latest version of the dotnet sdk, that should enable your scenario.

[2019-12-11 16:19] MarkKharitonov commented on #840
I do not have the directory VisualStudioTestExplorerExtensions in my temp and I cleaned the workspace with `git clean -qdfX` yet I still get the exact same error:
[code]
Please, reopen the issue.

[2019-12-12 17:56] ViktorHofer commented on #2229
I believe that we should initially just enable the auto-detection feature (a .runsettings file is searched in the test assembly's folder) to unblock folks and afterwards hook into [GetCopyToOutputDirectoryItems](https://github.com/microsoft/msbuild/blob/3b55df0b6289f78c39c6ec4f07d46f8b211a57f0/src/Tasks/Microsoft.Common.CurrentVersion.targets#L4557) to add the `$(RunSettingsFilePath)` to the `AllI

[2019-12-12 18:40] ViktorHofer opened #2273 "Filtering default traits/categories in the .runsettings file"
VS Test Explorer displays all discovered tests by default. In dotnet/runtime some tests are disabled via traits (i.e. ActiveIssue, SkipOnTargetFramework, ConditionalFact, ConditionalTheory). These tests should be filtered out by default inside the VS Test Explorer by introducing a trait filter entry in the .runsettings file. Same applies to when running `dotnet test` on the CLI, default traits sho

[2019-12-12 18:44] ViktorHofer commented on #2273
cc @AbhitejJohn

[2019-12-12 21:52] rockfordlhotka commented on #2189
This SO answer might be relevant

https://stackoverflow.com/questions/59246822/after-updated-visual-studio-2019-to-16-4-0-i-cant-run-tests-with-target-framewo/59282608#59282608

[2019-12-14 06:04] #2269 closed

[2019-12-15 20:57] matkoch commented on #2179
@mayankbansal018 ping. Could you please give an estimate?

[2019-12-16 05:52] ShreyasRmsft commented on #2257
Closing due to no response please re-open with the requested data.

[2019-12-16 05:52] #2257 closed

[2019-12-16 06:57] optiks commented on #1544
I'm hitting this issue in Azure DevOps after upgrading to .NET Core 3.1. Help!?

[2019-12-16 09:01] #2265 closed

[2019-12-16 13:04] nohwnd commented on #2220
@singhsarab What led you to think that the initialization is the problem? I am executing test console in a very slowed down process and still can't see it take anywhere near 90 seconds.

Notice that on the slowed down process it takes 13 seconds just to start the host process, that is how slow it is. So I don't think there is any significant initialization that could be the cause. The "host starts

[2019-12-16 15:45] dazinator commented on #799
Doesn't work with 3.1.100 either.

[2019-12-16 15:53] nohwnd commented on #2240
@Mobrockers Ahhh. In your code you still have the VSTEST_RUNNER_DEBUG set to 1, that is why the build shows timeout. (The console waits for debugger to be attached and stryker times out. There is no output but I can use procexp to see the process running, and waiting.)

I don't see your previous build and I can't change your branch (as far as I know) to get back to state that does not time out.

I

[2019-12-16 16:45] Mobrockers commented on #2240
Thank you for taking a look, and you are right I forgot to remove that again. I am running a new build without the debug lines.

[2019-12-17 06:17] vagisha-nidhi commented on #2271
@Fenrir2017 Please use the latest version of dotnet sdk as suggested above. Reopen this issue if you face anything else.

[2019-12-17 06:17] #2271 closed

[2019-12-17 08:08] vagisha-nidhi opened #2275 "Pass coverlet codebase in runsettings for inproc data collector initialization"
## Description
Initilization of inproc coverlet collector today needs passing the datacollector extensibility in TestPluginCache. This enables the InProcDataCollectionExtensionManager to be able to find the datacollector in all datacollector extension paths if inproc datacollector codebase path is not an absolute path.
We should directly add this path in runsettings ideally since vstest.console.ex

[2019-12-17 20:48] aukevin opened #2276 "DataContract Serialization of TestObject"
## Description
The [TestObject](https://github.com/microsoft/vstest/blob/7b6248203164f8ea821f6795632bd22e0b69afb0/src/Microsoft.TestPlatform.ObjectModel/TestObject.cs#L36) has a [DataMember] that does not properly serialize when sent over WCF.

## Steps to reproduce
Below I have two classes that I used to demonstrate the issue, running from VS2019, targeting .NET Framework 4.7.2.

[code]
[code]

A

[2019-12-17 22:13] aukevin commented on #2276
It is also worth noting that in a previous version of the code that used:

Microsoft.VisualStudio.TestPlatform.ObjectModel, Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL

There were no issues in TestResult serialization.

[2019-12-17 22:31] aukevin opened #2277 ""No suitable test runtime provider found for this run." on MSTestV2 project."
## Description
The `vstest.console.exe` that is built from this repository differs with the behavior of the `vstest.console.exe` that ships with VS2019 when passed an MSTestV2 dll on my machine. The one that ships with VS2019 runs all tests from the test dll, while the one I built from the repo shows "No suitable test runtime provider found for this run.".

I believe this is probably a configurati

[2019-12-17 23:52] aukevin commented on #2277
The test project is no secret, it is quite simple:

[code]

[code]

[2019-12-18 09:17] aukevin commented on #2277
It was pointed out that I was running the wrong vstest.console.exe.
The correct one can be found here, so I am closing this issue.
https://github.com/Microsoft/vstest-docs/blob/master/docs/contribute.md#test

[2019-12-18 09:17] #2277 closed

[2019-12-18 15:31] Mpdreamz commented on #1966
Even the fact that console loggers will be intermixed makes me want to run sequentially on CI to get sane output. `MaxCpuCount` is not a fix.

Please reconsider reopening this.

[2019-12-19 05:22] hvinett commented on #2254
@bakester14 ,We added the  error message in logs .You can find the changes [here](https://github.com/microsoft/vstest/pull/2264 )

[2019-12-19 08:46] MarcoRossignoli opened #2278 "[BUG] vstest.console.exe --collect:"XPlat Code Coverage" throw System.FormatException"
`vstest.console.exe --collect:"XPlat Code Coverage"`  throw System.FormatException

[code]

We had a request on coverlet repo https://github.com/tonerdo/coverlet/issues/652 to use "Visual Studio Test task" https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/vstest?view=azure-devops

cc: @vagisha-nidhi

[2019-12-19 12:22] joshmouch commented on #799
What's the state of this?  If you run xunit tests using "dotnet test", there is no Console output.  If you run xunit tests using vstest.exe then there *is* Console output.
Surely that means there's a way to get this working if vstest.exe managed to do it.

[2019-12-19 15:51] plioi opened #2279 "Tests' build output for netcoreapp3+ mixes the system under test with VsTest implementation details."
## Description

.NET Core 3 changed the default behavior of a project's build output folder (see ["Build copies dependencies"](https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0#build-copies-dependencies)). For test projects, this has the unfortunate side effect of polluting the test projects' build output folder with test-running infrastructure. In addition to being visually j

[2019-12-19 16:51] nohwnd commented on #2240
Tried to reproduce this in WSL2 on Ubuntu LTS and I get this strange error on the test project. Do you see something the I do obivously wrong?

![image](https://user-images.githubusercontent.com/5735905/71191287-698c8400-2286-11ea-8c53-0d4957590ccd.png)

[2019-12-19 17:12] Mobrockers commented on #2240
Could you show me what kind of system dotnet reports your system as from RuntimeInformation.IsOSPlatform ? It looks like it failed to deploy the correct vstest binary for your target platform.

[2019-12-19 17:17] nohwnd commented on #2240
`Console.WriteLine($"{RuntimeInformation.OSDescription} {RuntimeInformation.OSArchitecture} is linux: {RuntimeInformation.IsOSPlatform(OSPlatform.Linux)}");`

`Linux 4.19.84-microsoft-standard #1 SMP Wed Nov 13 11:44:37 UTC 2019 X64 is linux: True`

[2019-12-19 17:17] pkrukp opened #2280 "Missing source information (CodeFilePath, LineNumber) in discovered test cases for .NET Core (3.x?) projects with "Full" PDB (instead of "Portable" PDB)"
## Description
Hi,

I'm using VsTestConsoleWrapper API to discover test cases.

When the test assembly is compiled to .NET Core (3.x?) and is configured to produce Full PDB instead of default Portable PDB, the discovered TestCase have null CodeFilePath and LineNumber is -1.

After switching to Portable PDB the CodeFilePath and LineNumber are correct.

As you can see in next comment, it looks like

[2019-12-19 17:32] Mobrockers commented on #2240
This is the line it's crashing on:

https://github.com/stryker-mutator/stryker-net/blob/d26e5b6880934801066272d2511f1734490b6c5d/src/Stryker.Core/Stryker.Core/ToolHelpers/VsTestHelper.cs#L194

It looks like for some reason the assembly does not contain the vstest zip. Was this a local build or the package from our azure devops build?

Because packaging the vstest binary is a bit tricky, the deploy

[2019-12-19 19:48] krwq commented on #799
I'm wondering if this is somewhat related to https://github.com/microsoft/vstest/issues/2224

[2019-12-19 21:23] MarcoRossignoli commented on #2278
I did a check actually the bug was solved in https://github.com/microsoft/vstest/pull/2221 the real warning is
[code]
Because `/testadapterpath` is injected through https://github.com/tonerdo/coverlet/blob/master/src/coverlet.collector/build/netstandard1.0/coverlet.collector.targets for `dotnet test`.

It works if we provide collector path

[code]

[2019-12-20 10:58] pkruk2 commented on #2280
It works correctly when tested project targets .net framework 2.1 (2.x?) - source information is present for both portable and full PDB. So this looks like a regression.

I may be wrong, but I think I read somewhere about DIA update in .net core 3.x - I may be wrong though.

Attaching
* [ConsoleApp6.zip](https://github.com/microsoft/vstest/files/3987949/ConsoleApp6.zip) - project with unit tests,

[2019-12-20 12:03] nohwnd commented on #2240
Okay, two problems I had here, you are looking for USERNAME and NUGET_PACKAGES env variables, none of which were defined on my system (Consider switching on USERNAME for win and HOME for non-windows, maybe?), secondly my nuget cache has vstest console based on netcoreapp2.1 and you look for netcoreapp2.0.

[2019-12-20 13:28] nohwnd commented on #2240
Think I got it, the problem is that you are launching the console via the console wrapper, there you are not providing any env variable and so it does not know that it should roll forward. The api there does not allow you to pass the variable as far as I can see, but the nice thing about env variables is that they are inherited from the parent process. So to fix this you simply need to set the var

[2019-12-20 13:45] Mobrockers commented on #2240
I am passing the env variable to the testhost, does the testhost not pass them on to the vstest.console dll? See:

https://github.com/stryker-mutator/stryker-net/pull/786/files#diff-6047aae96dc8fe74725299152ea52c58R34

[2019-12-20 14:06] Mobrockers commented on #2240
@nohwnd

https://dev.azure.com/stryker-mutator/Stryker/_build/results?buildId=3512&view=results

😍😍😍😍😍😍😍😍😍😍

Thank you!!!!

[2019-12-20 14:06] #2240 closed

[2019-12-20 14:21] nohwnd commented on #2240
👏👏👏👏👏

[2019-12-20 14:25] Mobrockers commented on #2260
When can we expect a release containing this bugfix?

[2019-12-23 15:53] singhsarab commented on #2245
@jnm2 Sorry that we lost track of this issue, is it still reproducing for you ?

[2019-12-23 16:15] singhsarab commented on #2261
@xuzhg I am not able to reproduce the issue. I followed the steps you have shared.

[2019-12-23 16:18] singhsarab commented on #2260
@Mobrockers A package has been released https://www.nuget.org/packages/Microsoft.TestPlatform/16.5.0-preview-20191216-02

But it will take some time for this fix to flow into the dotnet sdk.

[2019-12-23 16:20] singhsarab commented on #2253
@Mobrockers You are right. This seems to be a duplicate of the tagged issue. Closing this one.

[2019-12-23 16:20] #2253 closed

[2019-12-23 17:33] Mobrockers commented on #2260
That's alright, I just need the nuget packages. Any estimate on when non-preview nuget packages will be avaliable or is that generally at the same time as when it flows into a new dotnet sdk?

[2019-12-23 19:14] JohnTortugo opened #2281 "Use new Arcade SDK publishing infrastructure"
This repository uses a very old form of the Arcade SDK publishing infrastructure. That infra is planned to be removed from the Arcade SDK by the end of the first half of January 2020. The repository build definition(s) need to be updated to use the new publishing infrastructure, otherwise its official builds will fail to publish. It’s a simple process, [documentation about it is here](https://gith

[2019-12-28 20:27] buvinghausen commented on #2231
@thomaslevesque just as a follow up so that you're not maintaining two condition statements I have moved to using the choose .. when .. otherwise element to set the reference to the correct test SDK.

`  <Choose>

    <When Condition="'$(TargetFramework)' == 'netcoreapp2.0' or '$(TargetFramework)' == 'netcoreapp1.1' or '$(TargetFramework)' == 'netcoreapp1.0'">
      <ItemGroup>
        <PackageRef

[2019-12-28 22:38] livarcocc opened #2282 "'dotnet test' sometimes causes terminal to stop echoing after completion (ubuntu)"
_From @beevik on Saturday, December 21, 2019 7:20:52 PM_

When running `dotnet test` on ubuntu, the terminal often stops echoing input after the command completes. It's not 100%. Sometimes echoing remains on.  I'm using the xunit testing framework.

Here are the results of typing `stty -a` after the terminal stops echoing:
[code]
As you can see, echo is off (`-echo`).

This does not appear to be a

[2019-12-28 22:38] livarcocc commented on #2282
_From @rmunn on Monday, December 23, 2019 8:18:21 PM_

I'm the one who reported that issue with Expecto. I also have a vague memory of seeing this pop up with other `dotnet foo` commands such as `dotnet build`, but I don't have a solid example since I'm away from my desk for the holidays. Once I get a solid example I'll mention it here.

BTW, for anyone else who experiences this, you can restore y

[2019-12-28 22:38] livarcocc commented on #2282
_From @beevik on Tuesday, December 24, 2019 11:10:15 PM_

An additional data point.  I encountered the same bug running `dotnet test` on MacOS.

[2019-12-29 18:19] MarcoRossignoli commented on #2275
I'm working on this, I'll let you know.

[2019-12-30 05:50] vagisha-nidhi commented on #2275
Thanks @MarcoRossignoli 👍

[2019-12-30 09:35] MeikTranel commented on #624
Right now dotnet test and visual studio both support this scenario. dotnet test however lacks the conciseness of the test explorer ui we now have in Visual Studio 2019. Should work on the console logging for multitarget testing be moved to another issue? If so i'd consider this issue to be done.

Any thoughts?

[2019-12-30 13:18] thomaslevesque commented on #2231
Thanks @buvinghausen

[2020-01-02 08:25] singhsarab commented on #1854
I hope this PR should help. We have added the support for add/overriding TestRunParameters

PR: https://github.com/microsoft/vstest/pull/2251

[2020-01-02 08:34] singhsarab commented on #2173
The default behavior has already been fixed. Thanks for feedback.

[2020-01-02 08:34] #2173 closed

[2020-01-02 08:35] #2197 closed

[2020-01-02 09:08] singhsarab commented on #862
This PR should fix this issue https://github.com/microsoft/vstest/pull/2251

[2020-01-02 09:12] #2254 closed

[2020-01-02 09:46] nohwnd opened #2284 "Build.cmd fails when VisualStudio 2019 is installed"
## Description
## Steps to reproduce
Install VisualStudio 2019, and VisualStudio 2017 with the workloads as defined in contributions guild. Run `build.cmd`.

## Expected behavior
To honor the dependency on VisualStudio 2017 and pass the build correctly.

## Actual behavior
Build fails with:

[code]
It fails because it finds VisualStudio 2019, which does not ship with msbuild 15.0 (but it has folde

[2020-01-02 14:14] singhsarab commented on #2231
Here is the official support page for reference https://dotnet.microsoft.com/platform/support/policy/dotnet-core

And the recommendation is to bump up the target framework, or to have a reference to older version of the Microsoft.NET.Test.Sdk

[2020-01-02 14:14] #2231 closed

[2020-01-02 14:36] thomaslevesque commented on #2231
@singhsarab thanks, but the problem is not really solved... The package is still lying about which framework it supports. It says that it supports netcoreapp1.0, but it's not true.

[2020-01-02 17:53] nohwnd commented on #2270
I finally back to this. I have repro for Discovery, but not Run as we discussed. Will look into solving it tomorrow.

[2020-01-02 18:10] Fenrir2017 commented on #2271
Hey guys, I am using the latest SDK, .NET Core SDK (3.1.100), its still using 16.3 as opposed to 16.4.

[2020-01-02 18:18] Fenrir2017 opened #2286 "Dotnet Test selecting the wrong Test Execution Command Line Tool Version"
https://github.com/microsoft/vstest/issues/2271

I'm unable to reopen the above issue.

Same issue, I have the most recent SDK(.NET Core SDK (3.1.100)) and it is still using 16.3, as opposed to 16.4.

If I run from the CLI, using "dotnet test", 16.3 is used. However, if I use the developer CLI from Visual Studio, and use "vstest.console.exe", 16.4 is used as expected.

I've uninstalled all SDK's,

[2020-01-03 06:17] #2284 closed

[2020-01-03 15:37] TonyTroeff opened #2287 "Microsoft.NET.Test.Sdk visual studio code coverage integration"
## Description
I had a hard time analyzing my code coverage using Visual Studio.
I thought that it is a local problem from my machine, but actually it wasn't.
All my projects, referencing Microsoft.NET.Test.Sdk version 16.3.0 and 16.4.0, cannot be analyzed.

However, after downgrading them to version 16.2.0, everything works fine.

I would expect to be able to upgrade the package and still be able

[2020-01-03 23:05] fdecaire commented on #2287
I discovered this issue early this morning.  Microsoft.NET.Test.Sdk version 16.3.0 and 16.4.0 does not work.  16.2.0 works.

### Evironment
Windows 10
Visual Studio Enterprise
xUnit
.Net Core 2.2

[2020-01-04 16:59] MarcoRossignoli opened #2289 "System.NullReferenceException if InProcess collector doesn't subscribe to TestCaseStart/TestCaseEnd"
If an InProcess collector doesn't subscribe to TestCaseStart or TestCaseEnd connection between datacollector process and host is not setup(`--datacollectionport 0`)

https://github.com/microsoft/vstest/blob/7b6248203164f8ea821f6795632bd22e0b69afb0/src/Microsoft.TestPlatform.Common/DataCollection/TestPlatformDataCollectionEvents.cs#L96

This lead to null ref exception when we try to read from netwo

[2020-01-04 17:59] MarcoRossignoli commented on #2289
I've got a PR ready, assign to me if you want.

[2020-01-06 07:55] singhsarab commented on #2229
@vritant24
With this https://github.com/microsoft/vstest/pull/2272 going in, is there something that we still think is pending?

[2020-01-06 07:57] vritant24 commented on #2229
@singhsarab No. This should be completely addressed by the #2272

[2020-01-06 08:03] singhsarab commented on #2229
Thanks for confirmation.
Just note, that the fix was possible only for the dotnet test for solution.
For vstest.console and dotnet test for dll, in both these scenarios the runner does not have the knowledge of the project file hence cannot figure out the runsettings file.

Closing this issue now. Let me know if someone has any concerns

[2020-01-06 08:03] #2229 closed

[2020-01-06 08:29] singhsarab commented on #2287
This is a known issue.

When trying to run the tests via VS, VS runs the tests setting the architecture as x86 for AnyCPU projects.
You can try setting the Preferred Architecture for AnyCPU projects to x64 and then retry.

That said, we are making a fix to support code coverage for .Net core for x86 scenario.
@nohwnd We can use this issue for tracking the fix that we trying to make.

[2020-01-06 08:32] singhsarab commented on #2281
/cc: @AbhitejJohn @nohwnd @ManishJayaswal This will need to be prioritized.

[2020-01-06 14:28] PDostalek opened #2291 "[loc][Query][OSS_VSTest] Localizability of 0; "UnableToFetchUriString""
Hello developers,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Unable to find a datacollector with friendly name '{0}'.

String ID:
0; "./src/nativeStrings.not_exited_yet"

File Name:
Microsoft.TestPlatform.Common\Resources\xlf\Resources.xlf

Query:
Is "datacollector" lo

[2020-01-06 15:42] nohwnd opened #2292 "Should StyleCop be installed into every project"
Not every project enforces code style rules, because not every project has StyleCop.Analyzers nuget package installed. Installing it to every project except for the test assets raises some 650 errors (most of which are build errors because the base dependencies are bot able to build).

Should the analyzers be installed into all projects (except for test assets and samples)?

![image](https://user-

[2020-01-06 15:54] nohwnd commented on #2292
I quckly tried fixing the most pressing issues in the common libraries, and reached ObjectModel which has a lot of code style issues. This is a bigger task and probably needs better justification.

https://github.com/microsoft/vstest/compare/master...nohwnd:fix-style

[2020-01-06 16:05] nohwnd commented on #2220
I did some more testing on this, this time on invoking the `vstest.console` from the console wrapper, to see if the initialization is the culprit there. And it was not either. The longest time was spent setting up the connection and processing the first request. So it seems that the computer is simply too slow / busy to finish the connection within the timeout.

As discussed, moving the connection

[2020-01-06 16:09] nohwnd commented on #2287
Related #2283

[2020-01-07 00:38] danjia-microsoft opened #2293 "It's hard to maintain too many taefadapter.runsettings files for each set of test job args."
## Description

## Steps to reproduce

By comparing with VSTest.console.exe command-line options and actual test jobs args in repo, it looks like that not all args parameter can be support in VSTest.console command-line. Besides, there are multiple different args combination across test jobs. In this case, I have to create dozens of taefadapter.runsettings for each test job args which it's hard to

[2020-01-07 07:33] AbhitejJohn opened #2294 "More extensibile nuget based adapter settings"
Currently settings for nuget based data collectors are difficult to specify given that the code base entry cannot be a fixed path on disk.
Currently this is achieved by adding in a check in the vstest code to fix this up based on a build property that supplies test adapter paths through a `VSTestTestAdapterPath` build property.
We'd either want to have an inbuilt mechanism that falls back to adapt

[2020-01-07 08:27] MarcoRossignoli commented on #2294
For the completeness at the moment there is a fallback inside inproc collector based on list of paths passed to host before testing

https://github.com/microsoft/vstest/blob/ca24ad0d8b48021ddbe98e4d688bb7e31c7b7eaf/src/Microsoft.TestPlatform.CrossPlatEngine/DataCollection/InProcDataCollectionExtensionManager.cs#L244

That PR remove that custom code that pass `coverlet.collector.dll` base path.

[2020-01-07 14:54] qmatteoq opened #2296 "Add support to MSIX as packaging format for UWP unit tests"
## Description

In Windows 10 1809 Microsoft has released the next generation of Windows 10 packaging format for Windows applications, called MSIX. This format is replacing AppX and Visual Studio generates a MSIX package if a UWP project has 17736 as minimum target SDK.
The same applies to UWP unit test projects. If you choose 17736 as minimum target SDK, Visual Studio will generate a MSIX package

[2020-01-07 23:31] ViktorHofer commented on #2229
Closing this issue is fine as it just covers the msbuild property but we should have another tracking issue to enable:
1.  the auto-detection feature (a .runsettings file is searched in the test assembly's folder)
2. hook into GetCopyToOutputDirectoryItems to add the $(RunSettingsFilePath) to the AllItemsFullPathWithTargetPath item.

[2020-01-08 09:46] MarcoRossignoli opened #2297 "Add smoke test for coverlet integration"
We should add a smoke test for Coverlet integration, to allow safe update to the embdeded integration code.

cc: @vagisha-nidhi @AbhitejJohn @singhsarab

[2020-01-08 10:14] mayankbansal018 commented on #2179
@AbhitejJohn please track this issue

[2020-01-08 12:09] PDostalek opened #2298 "[loc][Query][OSS_VSTest] Localizability of 0; "InvalidTestRunParameterArgument""
Hello developers,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
The test run parameter argument '{0}' is invalid. Please use the format below.\r\n Format: TestRunParameters.Parameter(name=\\"<name>\\", value=\\"<value>\\")

String ID:
0; "InvalidTestRunParameterArgument"

[2020-01-08 16:54] AbhitejJohn commented on #2179
Tagging @nohwnd . Should be a small change.

[2020-01-08 16:55] nohwnd commented on #2179
@AbhitejJohn kk, adding this to my work list 🙂

[2020-01-08 17:29] cheenamalhotra commented on #1811
We are also waiting for this support to be added, it's a basic requirement in order to gather cumulative code coverage. Is there an ETA to this request?

[2020-01-09 08:30] mayankbansal018 commented on #2239
Please use package https://dev.azure.com/mseng/Domino/_packaging?_a=package&feed=VsTest-CloudBuild&package=Microsoft.VisualStudio.Coverage.Analysis&protocolType=NuGet&version=16.0.29510&view=overview

[2020-01-09 08:30] #2239 closed

[2020-01-09 11:39] MarcoRossignoli opened #2299 "[Discussion]`dotnet test/vstest` support for .NET Framework scenarios"
Today coverlet is usable through 3 drivers:

msbuild /p:CollectCoverage=true VSTasks
dotnet test --collect:"XPlat Code Coverage" vstest integration
coverlet .Net tool

one of most requested feature is the possibility to run coverage solution wide and have a single file with all coverage.
Today we support merge only with msbuild driver, but the support is not so good, as you know msbuild build proj

[2020-01-10 00:20] angelwang opened #2301 "system.io.filenotfoundexception: could not load file or assembly 'microsoft.mshtml, version=7.0.3300.0, culture=neutral, publickeytoken=b03f5f7f11d50a3a' or one of its dependencies."
Seems the package is missing microsoft.mshtml,. I encountered below error when running codedUI tests. If I copy microsoft.mshtml.dll over to where the tool installed under the agent, it works.
The agent is Windows 10 1903, it is a clean install without visual studio or legacy vs test agent installed.

Error:
system.io.filenotfoundexception: could not load file or assembly 'microsoft.mshtml, versio

[2020-01-10 11:02] sherland commented on #880
@pvlakshm It's now more than two years later. Can you share some details about when we can expect a fix/ enhancement on this?

[2020-01-10 11:24] maurei commented on #799
Simplest [Capturing output](https://xunit.net/docs/capturing-output) in a clean xunit environment with visual studio mac (8.4 build 2657) does not seem to work. Don't really know how to debug this.

[2020-01-10 11:28] jonathanantoine commented on #1851
Sorry to come here after this long time @prawalagarwal .

How can I achieve this "launch the test for two test project in parallel" ? I am using dotnet task in azure pipelines and they seems to be done sequentially.

[2020-01-10 11:42] maurei commented on #799
Simplest [Capturing output](https://xunit.net/docs/capturing-output) in a clean xunit environment with visual studio mac (8.4 build 2657) does not seem to work. Don't really know how to debug this.

In case you're coming here in an attempt to get EF Core logging in the xUnit output, the following worked for me:
- create a `XUnitLoggerProvider` as described in [this SO answer](https://stackoverflow

[2020-01-10 13:36] singhsarab commented on #880
We tried to resolve this issue via https://github.com/microsoft/vstest/pull/2140
Please refer to description for the usage.

[2020-01-11 00:15] wizofaus commented on #799
Hard to understand why that'd work as I thought the whole issue was that whatever Console.OpenStandardOutput() returns when running xUnit tests is basically a black hole. What's the difference between the way this works and the standard console logging provider (e.g. via `LoggerFactory.Create(builder => builder.AddConsole())` - there doesn't seem to be anything Xunit-specific about it?

[2020-01-11 06:05] MikePreston17 commented on #799
I tend to use XUnit's abstraction inside of a Print() helper class used in my [Fact]s.  We could have the base UnitTest class be abstract and pass in our favorite print statement using a SetPrintAction(Action a) which will allow us to toggle between Debug, Console, XUnit's abstraction and whatever other quick Actions like ()=>ILogger.Log().  Basically, Implement the Strategy Pattern inside the Tes

[2020-01-13 08:25] nohwnd opened #2303 "Use VS drop to build .Externals packages"
## Description
Test platform gets some of it's binaries from VisualStudio build via a deprecated mechanism. The source of binaries migrated to cloud drops.

- [x] Research how cloud drops work and how to access them programatically
- [x] Research how to get a subset of the drop limited to what we need
- [x] Research what parts of the drop are needed for the various packages
- [ ] Solution proposal

[2020-01-13 09:00] #411 closed

[2020-01-13 10:33] svdHero commented on #2092
I am using Microsoft Visual Studio Professional 2019 Version 16.4.2 and have a .NET Core 3.1 NUnit test project. Once I add "Microsoft.NET.Test.Sdk (16.4.0)" as a package reference, all my NUnit tests are discovered by ReSharper's Unit Test Explorer, but not by the build-in VS Test Explorer. I do have the "NUnit3TestAdapter (3.16.0)" installed via NuGet.

Am I missing something?

[2020-01-13 12:28] #2289 closed

[2020-01-13 13:00] FinexTech opened #2304 "FullyQualifiedName filter doesn't work after switching to Net Core 3.1"
## Description
After switching to new NET Core version (from 3.0 to 3.1) it is not possible to filter tests by FullyQualifiedName. We build and test our application in docker container based on _mcr.microsoft.com/dotnet/core/sdk:3.1_. This issue also can be reproduced locally.

## Steps to reproduce
[code]

## Expected behavior
All tests should be skipped. We don't have tests that correspond to pr

[2020-01-13 16:17] MarcoRossignoli commented on #2297
Waiting merge of https://github.com/microsoft/vstest/pull/2288

[2020-01-13 17:47] #2281 closed

[2020-01-14 01:23] kendrahavens commented on #624
As of [Visual Studio 2019 Version 16.2 ](https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes-v16.2)the test explorer can display and run multi-targeted tests. For more info on using the target framework groupby or column to search or filter tests see [our docs](https://docs.microsoft.com/en-us/visualstudio/test/run-unit-tests-with-test-explorer?view=vs-2019#search-and-filter-

[2020-01-14 01:37] #624 closed

[2020-01-14 08:07] guitarrapc opened #2305 "`dotnet test` does not respect `verbosity` on CircleCI"
## Description

When running `dotnet test` on CircleCI, some how it's default verbosity was recognized as `quiet`, [normally default verbosity is `minimal`](https://github.com/microsoft/vstest/blob/5ef1f3b60404588b91fabb4fab22304ac88b108a/src/vstest.console/Internal/ConsoleLogger.cs#L218-L223).

Even if I want to override verbosity, it ignores arguments override `--verbosity minimal` or `"--logger

[2020-01-14 08:10] guitarrapc commented on #2305
## Workaround

I can fix this issue by adding `< /dev/null` to the `dotnet test.

before

[code]

after

[code]

See config.yml for the detail.

[2020-01-14 08:12] guitarrapc commented on #2305
So the issue is relates to the https://github.com/microsoft/vstest/issues/2080

[2020-01-14 08:59] cilliemalan commented on #799
I have an issue where a test is hanging only when not debugging. I want to simply print to console to see which test is hanging and where. If the console output is being captured (or if you use `ITestOutputHelper`) the output only gets "shown" after the test completes, leaving me in quite a pickle!

I worked around this by printing to a file. But why? Can't I just stop the test runner from getting

[2020-01-14 13:14] pleonex opened #2306 "Enabling code coverage leads to errors in child processes"
Copy & pasting the info from #1263 as requested since the issue is still present and the workaround doesn't work.

## Description
I have a test project that targets .NET Framework 4.7.2 and .NET Core 3.1. The test starts a child process that targets also .NET Framework and .NET Core (same version and each version of the test runs the matching framework).

However, the child process that targets .N

[2020-01-14 18:43] Jihane-Bettahi commented on #1263
Are there any updates regarding this issue? The workaround to set the the profiling environment variables does not work, are there any other workarounds we can try?

[2020-01-14 22:48] A30001835 commented on #1544
Visual Studio 2017 Enterprise Version,  Integration Test project with .NET Core 2.2

Same issue here. Could someone help, please?

[2020-01-15 01:07] briandunnington commented on #1263
We found a work around that worked for us, so I will share it here in case anyone else finds it useful. The behavior of disabling the collection for child processes can also be set using the RunSettings file and that did work for us. But since we were using this in a share DevOps pipeline, we didn't want to have to have the RunSettings file copied in every project, so I was able to use the 'RunSet

[2020-01-15 03:07] Jihane-Bettahi commented on #1263
This last workaround worked for me. Thanks @briandunnington.

[2020-01-15 05:09] MikePreston17 commented on #799
@cilliemalan `ITestOutputHelper` runs independently of Console.Writeline and Debug.WriteLine and is intended to be on another thread from what I red.

I tried to hack this to no avail - xunit simply won't let you print using those methods.  However, I did make a TestBase class to inherit.  Not great, but a start:

[code]

Now you can call Print() on whatever, and overload it by creating wrapper me

[2020-01-15 20:06] briandunnington commented on #2306
@pleonex Try the other workaround mentioned in that issue:

We found a work around that worked for us, so I will share it here in case anyone else finds it useful. The behavior of disabling the collection for child processes can also be set using the RunSettings file and that did work for us. But since we were using this in a share DevOps pipeline, we didn't want to have to have the RunSettings fi

[2020-01-17 18:29] Fenrir2017 commented on #2286
A new SDK was released on 1/14, same issue, still reference 16.3

[2020-01-20 20:19] #2179 closed

[2020-01-21 11:45] pkese commented on #2282
I'm seeing this same thing happening with Xunit and Swensen.Unquote.
Approximately 50% of test runs will lock up the terminal (requiring terminal `reset` command to unlock) on Gnome terminal on Ubuntu 18.04.
This had been happening for a while (dotnet core 2.1, 3.0, 3.1, not sure about before).

[2020-01-22 12:28] vagisha-nidhi opened #2308 "Webtest project is not working while run from testExplorer"
**Repro steps for the issue:**

1.Install Webload component with 16.5 Preview1 build
2.Create Web performance project
3.Record the step and Generate the Webtestcoded.cs file
4. Run web test from Test Explorer

**Expected:**
Webtest test run should go through TestExplorer

**Actual:**
Web test run fails with this message:

An error occurred writing Web test result file 'C:\Users\vseqa1\source\repos

[2020-01-23 17:19] drognanar commented on #2189
Tagging @cvpoienaru

[2020-01-23 17:22] drognanar commented on #1013
Tagging @cvpoienaru

[2020-01-23 17:24] drognanar commented on #1978
Tagging @AbhitejJohn

[2020-01-23 17:25] drognanar commented on #1836
Tagging @cvpoienaru

[2020-01-23 17:45] drognanar commented on #1957
@jakubch1

[2020-01-23 17:57] alefranz opened #2309 "Debug.Assert cause test host process to crash"
## Description
Debug.Assert cause test host process to crash when tests target .NET Core.

_Not sure if this is the right place to report this, but starting from here as there was already an issue here about it: #1022_

## Steps to reproduce
- Create a new xUnit project (C#) targeting `netcoreapp2.1` or `netcoreapp3.0` or `netcoreapp3.1`
- Create a test using Debug.Assert
[code]
## Expected behavi

[2020-01-23 21:29] carlin-q-scott commented on #2209
I had this problem while running from VS2019 v16.4.3. I only have the 3.1.1 Microsoft.NETCore.App SDK installed. That SDK should be able to run NetCore.App v2.2. In fact, if I downgrade the Microsoft.NET.Test.Sdk package to 15.8.0, the issue goes away. That version of the Test.SDK is built against NetCore 1.

[2020-01-23 23:31] JesseNewman19 commented on #981
Gentlemen I have the answer

Instead of:
```dotnet test My.ProjectName.csproj --logger trx --collect:"Code Coverage"```

Use this instead:
```dotnet test My.ProjectName.csproj --logger trx /p:collect="Code Coverage"```

If you're in Azure DevOps, do not use their checkbox for collecting test results and coverage, it will execute the first command.

[2020-01-24 04:12] alexey-gusarov opened #2310 "Solution with netcoreapp3 and net472 projects"
## Description
My projects have both kind of projects: net472 and netcore3.
Very simple sample is here:
[vstestissue.zip](https://github.com/microsoft/vstest/files/4106715/vstestissue.zip)

## Steps to reproduce
In folder with vstestissue.sln run:
[code]

## Expected behavior

[code]
All tests runes successful. vstest group all binaries by framework and run group in suitable runtime.

## Actual be

[2020-01-24 10:16] Adanaran commented on #2278
Adding the test adapter path to the "pathtoCustomTestAdapters" parameter of VSTest v2 did not change the error message on our end. We're using the "old" full .NET Framework tasks (NuGet, MSBuild, VSTest Installer, VSTest).

[2020-01-24 11:57] MarcoRossignoli commented on #2278
I think because plain `vstest.console.exe` run follow a different workflow.

[2020-01-24 20:51] mattgen88 commented on #2282
Seeing this on ubuntu 19.10 (linux 5.3.0-26-generic kernel), dotnet core 3.1, XUnit 2.4.1

[2020-01-27 11:29] nohwnd commented on #2270
This was a bug in the caller, merged a fix there. The message can still be printed when the process actually crashes, but not so often on re-build.

[2020-01-27 11:29] #2270 closed

[2020-01-27 14:29] nohwnd commented on #669
Summarizing, and correcting the information in this thread so we have a clearer way going forward.

This is true. It will add the environment variable to the current environment variables only for the current command (`dotnet test`).

This is partially true. On Windows you can set environment variable for Process, User or Machine, but not for current command. Workarounds exists, but they require c

[2020-01-27 15:53] nohwnd commented on #669
I identified these issues in this thread:

### Set environment variables for `dotnet test`

I like the idea, but would propose to implement it in a way that is not specific to ASP.NET. I think the following syntax would be reasonable:

[code]

The multiple value approach is great because then we don't run into many issues parsing the values, but might be foreign to some. Also I am not sure if ther

[2020-01-27 16:03] mayankbansal018 commented on #2233
Sorry Matt, it took this long to finally narrow down this issue. I’m adding you to original thread we are tracking internally. I'm closing the issue here, hope that would be okay.

[2020-01-27 16:03] #2233 closed

[2020-01-28 12:58] singhsarab commented on #2298
The entire format should not be translated.

[2020-01-28 13:02] singhsarab commented on #2291
This should not be translated

[2020-01-28 14:16] PDostalek commented on #2298
Thanks for reply

[2020-01-28 14:16] #2298 closed

[2020-01-28 14:17] PDostalek commented on #2291
Thanks for reply

[2020-01-28 14:17] #2291 closed

[2020-01-28 23:17] cheenamalhotra opened #2312 "Error CS0234: The type or namespace name 'TestPlatform' does not exist in the namespace 'Microsoft.VisualStudio'"
## Description

I'm trying to compile our tests with the new SDK and we're facing this issue for platforms "x86" and "AnyCPU" when using "Microsoft.NET.Test.Sdk" version 16.4.0.

`Error CS0234: The type or namespace name 'TestPlatform' does not exist in the namespace 'Microsoft.VisualStudio'`

It worked fine for v15.9.0 and we never had any issues. We'd like to upgrade to a later version, but this

[2020-01-29 11:50] singhsarab commented on #2308
@ganesp Will be fixing this one on the adapter side.
Closing this issue here.

[2020-01-29 11:50] #2308 closed

[2020-01-29 15:47] amanda-barton commented on #2287
I'm having the same issue. Downgrading SDK to 16.2.0 worked.

**Environment**
Windows 10
Visual Studio Enterprise 2019
xUnit
.Net Core 3.0

[2020-01-29 17:28] giggio commented on #1176
Using `dotnet vstest` does not work with [TestServer](https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-3.1). Is there a work around that?

[2020-01-30 02:01] AbhitejJohn commented on #669
That is correct. [Link](https://github.com/microsoft/vstest/blob/master/src/Microsoft.TestPlatform.TestHostProvider/Hosting/DotnetTestHostManager.cs#L112).

[2020-01-30 09:33] #2275 closed

[2020-01-30 10:55] jakubch1 commented on #1957
All properties from *.runsettings can be specified through command line with `[-- <RunSettings arguments>]`

Examples:
`vstest.console.exe *.dll /EnableCodeCoverage -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.CoverageFileName="my.coverage"`

For .NET Core:
`dotnet test --collect:"Code Coverage" -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Cove

[2020-01-30 10:56] #1957 closed

[2020-01-31 10:07] nohwnd opened #2313 "Remove dependency on Visual Studio 2017"
## Description
Build script is dependent on Visual Studio 2017 because it searches for msbuild 15, and also searches for VS 15.0<= x <16.0.

Make sure VS2019 (ideally Community) can be used, and document the required workloads to be installed.

[2020-01-31 10:07] nohwnd commented on #2313
FYI @AbhitejJohn

[2020-01-31 10:08] pkruk2 commented on #2280
Hello, how is it going? If you have any questions, please ask.

[2020-01-31 15:36] #2313 closed

[2020-01-31 21:41] AbhitejJohn commented on #2313
Thanks @nohwnd 👍

[2020-02-03 14:52] lg2de opened #2316 "Can Newtonsoft.Json get updated to 11.x or 12.x?"
The package `Microsoft.TestPlatform.TestHost` has a dependency on `Newtonsoft.Json`, for target framework `.NETCoreApp 2.1` it refers to version 9.0.1.

Would be possible to update the reference to at least version 11.x.

**Why?**
The package `Newtonsoft.Json` in version 9.0.1 has no target framework for .NETCore >= 2 or .NETStandard >= 2. When restoring packages for the solution, the direct depen

[2020-02-03 17:28] nohwnd commented on #2316
I think we will try to drop the dependency on Newtonsoft.Json and migrate to System.Text.Json. I did not have a chance to see how difficult that change will be, but hopefully not much. Would that help you with your review process?

[2020-02-04 01:50] foriequal0 opened #2317 "Add dotnet store to the default test adapter search paths"
## Description
I want to install my vstest logger to the dotnet store. However, it doesn't search there by default.

## Steps to reproduce
1. Install some testlogger with dotnet store
[code]
You might need to fix these issues first: https://github.com/dotnet/sdk/issues/10590, https://github.com/dotnet/core/issues/4031

2. ```dotnet test -l:xunit```

## Expected behavior
```dotnet test -l:xunit```

[2020-02-04 08:11] lg2de commented on #2316
Yes, for the future this looks like a good solution.

I took a short look into the current usage of Newtonsoft.Json. I think it will take a lot of effort to replace it.

So, maybe it would be easier to upgrade the referenced version.

[2020-02-04 10:57] victor-yarema commented on #1267
"Fiona Niu[MSFT]
Jun 28, 2018 at 06:57 AM
Thanks for reporting this problem. After careful evaluation of the problem impact & severity we are closing this problem as low priority. We understand that this might not be an ideal resolution for you, but be assured that we don’t make these decisions lightly. We prioritize problem investigations by impact and severity for a broad set of customers; the i

[2020-02-04 13:52] nohwnd commented on #2309
It is possible to plugin a custom trace listener to wrap the debug failure. I don't think we can (or should) give you the pop up back. Instead we should translate the assert failure to an exception that will fail the test and will get reported the normal way.

Even more, because we have access to the stack trace we can look if there is source code available and even print the actual line of code t

[2020-02-04 14:43] nohwnd commented on #2316
I quickly tried to replace the library and ran into many issues with projects still using netcoreapp1.0 I think we need to do a a major cleanup either way, because System.Text.Json does not support net451 and so on.

I need to clear up which versions we should be using and see what the impact is in either case.

[2020-02-04 15:47] provegard opened #2318 "Broken HTML logger?"
## Description

I'm trying to use the HTML logger, but it fails with both `dotnet test` and `dotnet vstest`.

## Steps to reproduce

I simply run `dotnet test` or `dotnet vstest`.

## Expected behavior

An HTML test report is generated.

## Actual behavior

When I run `dotnet test --logger html` or `dotnet vstest <path to DLL> --logger:html`:

    Html Logger Error : Could not find a part of the p

[2020-02-04 15:55] provegard commented on #2318
By the way, the TRX logger works fine.

[2020-02-04 16:23] alefranz commented on #2309
Hi Jakub,
Thanks for looking into it.
I think it would be nice for this to be a runtime feature as the current situation in .NET Core is not great.

I originally stumbled into this while working on a PR for https://github.com/dotnet/aspnetcore, I will open a ticket there to discuss adding this in the project.

[2020-02-05 01:19] stephengeorgewest-navitaire commented on #617
Update from https://developercommunity.visualstudio.com/content/problem/145926/profile-test-fails-on-net-core-xunit-test-due-to-u.html "A fix for this issue has been internally implemented and is being prepared for release. We'll update you once it becomes available for download."

[2020-02-05 10:21] lg2de commented on #2316
Updating to Newtonsoft.Json 11.0.2 looks very easy. Could this be added to 16.5.0?
For e.g. 17.0 you may schedule switch to System.Text.Json.

[2020-02-05 10:58] nohwnd commented on #2316
It can't 16.5.0 was released this morning. I am not sure what the release cadence is here, but imho this should be okay for patch release. I can talk with the team about 16.5.1, or at worst getting it into 16.6.0. We already agreed on using milestones here and in testfx so hopefully the process will be more transparent to you and others once we put that into practice.

[2020-02-05 12:50] nehsharmMS opened #2319 "NUnit tests failure not reported in test results file"
## Description
When NUnit test fails, it is shown in logs but failure is not getting reported in test results file (trx). _Results_ node is missing in trx.

## Steps to reproduce
Create Nunit test project and make a test to fail (e.g. use assert.Fail() ).

cmd to run :
vstest.console C:\Users\path_to_nunitdll\NUnitTestProject1.dll /logger:trx;logFileName="trx file path"

Version Info :
Nunit versi

[2020-02-05 15:27] goblinmaks commented on #2286
Reproduced for me also. How I can use latest released 1.6.5 version of Microsoft.Net.Test.Sdk when start tests by `dotnet test` command ?

[2020-02-05 19:35] efoleymsft commented on #2200
+1 we would like a self contained vstest.console executable to run test executions cross platform without installing the runtime.

[2020-02-05 20:08] MarcoRossignoli commented on #2297
@nohwnd I'm working on this to have also vstest covered(sdk is ok), please assign to me.

[2020-02-06 19:54] himajan opened #2320 "Theory Test names not displayed correctly in the ADO Test Results dashboard"
## Description
The Theory Test names are appearing incorrectly in the ADO Test Results dashboard. But, they are displayed correctly in the trx file.

## Steps to reproduce
Any Theory Test that takes in the MemberData from an IEnumerable Collection like List.

## Expected behavior
The Test Names should appear with the right member data in the Test Results tab in ADO build pipeline.

## Actual behav

[2020-02-08 00:42] AbhitejJohn opened #2322 "Test parallelization is grouped by target framework"
## Description
[Filing this from an internal email exchange]

We have a number of test projects, each targeting 2-3 frameworks. Not all projects target the same frameworks. We run the “dotnet test” command in the same directory as the .sln file, and it seems to pick up all the test projects referenced by it.

If we run all the tests in one go, **even though the tests are set to run in parallel**,

[2020-02-08 00:55] drwill-ms commented on #2322
For others, sharing our work around for the suppression issue, which is conditionally turning off the project as a test project. Add this line (with your own conditional) to your .net core project.

<IsTestProject Condition="('$(TargetFramework)' != 'netcoreapp2.1')">False</IsTestProject>

[2020-02-10 03:21] koenigm-seattleu commented on #2287
Same issue.  UT on Xamarin Forms default project with nUnit tests fail to get CC under 16.3.0 or higher, but work under 16.2.0

[2020-02-10 06:49] ManishJayaswal commented on #2287
@nohwnd  - we should try to fix this in 16.5. I have added the pri1 label to this.

[2020-02-10 06:53] ManishJayaswal commented on #2273
tagging @vritant24  here as well as this would also require changes in VS TE window.

[2020-02-10 06:57] ManishJayaswal commented on #2220
@nohwnd - should we try adding some runsettings parameters using which users can indicate retries ( if they hit this often) since it seems like it is slow/busy  machine issue?

[2020-02-10 06:59] ManishJayaswal commented on #1811
bumping the priority and also assigning to @jakubch1 as he is working on code coverage. Let's see if we can get to this in 16.6 release.

[2020-02-10 07:58] dennis-yemelyanov commented on #1648
I would vote for this feature... Is there any workaround to still pass custom test adapter paths to the underlying vstest.console dll? Maybe not through "dotnet vstest", but using some other entry point?

[2020-02-10 13:51] nohwnd commented on #2287
I am not sure what the original repro here was, because this behavior depends on the pieces of test platform that are is shipped with VS. That said this was fixed and will work once that fix is released in VS. 🎉🎉🎉 Here are my results in the current stable public release of VS and the latest internal preview of VS. I am using older versions of test sdk, mstest and coverlet, but I see the same resul

[2020-02-10 13:51] #2287 closed

[2020-02-10 13:54] NinoFloris opened #2323 "VSTestNoBuild seems broken"
Consider a proj like
[code]
Called like
[code]

I still see builds being done, they don't even seem to use the same cache as normal builds as it takes a long while the first time you run with `VSTestNoBuild=true`

[2020-02-10 14:51] AnthonySteele commented on #2287
I see that [Microsoft.NET.Test.Sdk V16.5.0 is out](https://www.nuget.org/packages/Microsoft.NET.Test.Sdk/16.5.0)
Does this revert back to the behaviour in v16.2.0 ?

Or if the fix is elsewhere which version of which piece should I check? Particularly in ADO pipelines that use `dotnet` tasks, not Visual Studio.

[2020-02-10 14:54] singhsarab commented on #2319
/cc: @AbhitejJohn

[2020-02-10 14:57] NinoFloris commented on #2323
Fixed it by removing quotes around Properties="VSTestNoBuild='$(TestNoBuild)'" to Properties="VSTestNoBuild=$(TestNoBuild)"

[2020-02-10 14:57] #2323 closed

[2020-02-10 16:27] nohwnd commented on #1811
For what it's worth, the types that can merge the code coverage files already ship with the test platform. You can parse the coverage files out from the output and merge them yourself. The only hiccup here is that the interop library is built for specific architecture, so you need the correct bitness. Both 32-bit and 64-bit versions are shipped in TP.

Here is an example that works for solution th

[2020-02-10 16:29] nohwnd commented on #1811
@jakubch1 let's syncup on this tomorrow, maybe this will be easy to fix in test console.

[2020-02-10 16:35] nohwnd commented on #2193
The first solution would definitely be more convenient but would be a big bang rewrite of how it works now.

- third solution is to grab the dependencies from the cloud drop and from the internal nuget feed. I have a prototype for this. It identifies some files as missing and I was not able to find them in any of the nugets yet. Also some of the dependencies we are grabbing are not shipped in the

[2020-02-11 01:39] mygithub07 opened #2324 "vstest.console.exe on cmd gives - An existing connection was forcibly closed"
## Description

## Steps to reproduce

  Run vstest.console.exe from command line using below settings and environment
Command:
[code]
.runsettings I used
Note:   I have tried disabling `DataCollectors` and `MaxCpuCount` but the result is same  System.IO.IOException as described below
[code]

## Expected behavior

Test should run

## Actual behavior

I am seeing ` System.Net.Sockets.SocketExceptio

[2020-02-11 08:17] nohwnd commented on #2287
@AnthonySteele 16.5.0 fixes the issue with collecting the CC on x86, but getting the fixed version is not as simple. The test platrform is shipped in multiple ways, and depending on where you run it from, different versions might run. I am not claiming to be an expert in this (yet 😁 ) so feel free to prove me wrong here, we will both learn:

In Visual Studio there is one version of test platform b

[2020-02-11 09:07] AnthonySteele commented on #2287
It seems to be working now, in ADO pipelines with `dotnet test`, and using the package `Microsoft.NET.Test.Sdk V16.5.0`.

Thanks.

[2020-02-11 09:58] nohwnd commented on #2287
Cool, thanks for reporting back, it is nice to see that your issue was fixed. I will experiment with this a bit when I have time to get better understanding.

/fyi @AbhitejJohn I think you fixed this one, it's working 😀

[2020-02-11 12:54] nohwnd commented on #2223
@stuartd I am trying to reproduce this issue, are you still facing it? I see some inconsistencies in behavior between 2.1 3.0 and 3.1 dotnet sdk in connection to LC_ALL=POSIX, but can't reproduce the exact problem you have. On the other hand I am getting some weird escape sequence printed into my terminal.

If you are still facing this issue, could you share a simple project that shows the error?

[2020-02-11 14:25] kamilzzz commented on #862
So how do I override TestRunParameters via the command line?

`dotnet test .\tests.dll --no-build --settings:nunit.runsettings -- Foo=Bar`

Gives an error:
[code]

[2020-02-11 14:42] singhsarab commented on #862
Have you tried the following ?
-- TestRunParaeters.Parameter(name="YourParamterName",value="YourParameterValue")

[2020-02-11 14:56] kamilzzz commented on #862
I'm getting the same error.

Also it shows that I'm using version 16.3.0 (and here in the repo I can see the newest version is 16.5.0).
I've just installed .NET Core 3.1.1.

Tests which I'm trying to run are using NUnit.

[code]

[2020-02-11 15:01] singhsarab commented on #862
@kamilzzz You are right, this is available in 16.5.0-preview version. You will probably have to wait a couple of weeks for new dotnet sdk to be out to be able to consume this feature.

[2020-02-11 17:27] stuartd commented on #2223
I did try it under 3.1 last week and still got the error.

 I'll have a go at setting up a repro, when I can carve out some time.

We get them like this:

[code]

However, the second issue above - the error message when running the command generated by the above code directly in the terminal - still happens.

When I run this command:

    dotnet test --filter skeleton -l:trx;LogFileName=Project_Te

[2020-02-11 17:40] MarioAtTrimble commented on #2261
We are getting this issue from time to time on our build server, too.  It's not consistent and sometimes it works just fine.  We didn't see before when we were running core 2.2, but now see when we are running 3.1

[2020-02-11 17:41] adaughterson commented on #2261
Also seeing this running the tests within Azure Devops pipeline.

Build agents are containers, each has 300m CPU and 1GiB memory dedicated.

[2020-02-11 18:32] koenigm-seattleu commented on #2287
Confirmed today that in nuget Microsoft.NET.Test.Sdk 16.5.0 the issue is NOT fixed.

Please release a 16.6.0 to fix the problem.

[2020-02-11 18:45] dennis-yemelyanov commented on #1648
@singhsarab , can you please share where this restriction is implemented in the code? Since TestAdapterpath is recognized when calling vstest.console.exe directly, but is not recognized when calling dotnet commands, I assume there is some code that does this check: if the caller is dotnet command, then don't pass test adapter path?

[2020-02-12 00:13] fdecaire commented on #2287
I tried version Microsoft.NET.Test.Sdk V16.5.0 and it did not fix my issue.

[2020-02-12 00:20] AbhitejJohn commented on #2287
@koenigm-seattleu , @fdecaire : Are these tests targeting X64? If not, you'd want to check if you have the right version of the dotnet runtime for x86 and x64 installed locally. `dotnet --list-runtimes` should give that to you.

[2020-02-12 07:08] koenigm-seattleu commented on #2287
@AbhitejJohn, I don't understand your suggestion.

When 16.5.0 Microsoft.NET.Test.Sdk is installed, code coverage is not generated, when downgraded to 16.2.0 and code coverage is generated.

No changes are needed to the targeting of x86 or x64 or such is needed reproduce the issue.

It is just the version of the Microsoft.NET.Test.Sdk that has the problem.

It works in 16.2.0 and fails in 16.3.0,

[2020-02-12 07:40] AbhitejJohn commented on #2287
@koenigm-seattleu : Yes, that could be a little confusing. So the versions of the Test SDK 16.4 and later fixes a bug to honor the default processor architecture specified to it which is x86 by default VS 16.4 and earlier. Now version 16.2 of the Test SDK on the other hand always defaulted to the x64 runtime which was installed by default for older runtimes (2.* for instance). Now when you updated

[2020-02-12 08:15] Adanaran commented on #2278
Is there any chance of getting this looked at? If not we can change to another coverage solution instead.

[2020-02-12 09:35] HeroMaxPower opened #2326 "Running build.cmd has a Obsolete Parameter in one of the steps."
1. Run the build.cmd from a elevated cmd prompt.
2. The build script reports a obsolete parameter -SharedRuntime early on in the script.

![image](https://user-images.githubusercontent.com/24299382/74321776-2c72d880-4d83-11ea-9067-d753367e80ef.png)

[2020-02-12 12:03] HeroMaxPower commented on #2326
I forgot to add the build parameter, Apologies for inconvenience.

[2020-02-12 12:03] #2326 closed

[2020-02-12 12:45] singhsarab commented on #1648
There are different implementations for running the tests, one is for full framework and other for .NET core.

Following are the implementations
1. https://github.com/microsoft/vstest/blob/master/src/Microsoft.TestPlatform.TestHostProvider/Hosting/DefaultTestHostManager.cs#L187
2. https://github.com/microsoft/vstest/blob/master/src/Microsoft.TestPlatform.TestHostProvider/Hosting/DotnetTestHostMana

[2020-02-12 13:24] nohwnd commented on #1811
I've been looking into this and the main issue here is that we are just invoking msbuild which is in turn running VSTest task which invokes vsconsole. This only outputs into console but does not report back to `dotnet test` which invoked the build and could possibly merge the results before returning. This requires quite a big change in how the projects are invoked. Possibly simplifying the vstest

[2020-02-12 13:26] nohwnd commented on #2223
@stuartd thanks!

[2020-02-12 13:35] ViktorHofer commented on #2273
Tracking dotnet/runtime issue: https://github.com/dotnet/runtime/issues/1161

[2020-02-12 14:51] tobyash86 commented on #2280
I can confirm this issue as well. Currently, it is a blocker for me.
Can anybody help with that?

[2020-02-12 16:23] adaughterson commented on #981
Yea, this didn't work either. Still get this lovely message:

[2020-02-12 18:20] mtrtm commented on #981
@JesseNewman19
Your command line works for me, but only outputs a .trx file.  In Azure, how are you getting coverage to tie in?  Do you convert to one of the two supported formats?

[2020-02-12 18:27] adaughterson commented on #981
@JesseNewman19 I retract my statement. I can see the trx and coverage files now.

Thanks for the assist!

[2020-02-12 21:30] goblinmaks commented on #862
@singhsarab what of reason to reference package in csproj file if we still use old package inside of sdk ?
`<PackageReference Include="Microsoft.NET.Test.Sdk" Version="16.5.0" />`
It is possible to use version from reference when we start tests from cli ?

[2020-02-13 12:35] nohwnd commented on #2316
@lg2de I did not have a chance to look into this yet, would you consider implementing this to see what the actual impact will be, and PRing? Then we can get it to 16.6, but otherwise this will not get in as we are focusing on performance and regressions in this sprint.

[2020-02-13 12:43] nohwnd commented on #2310
@alexey-gusarov we've made some fixes in the TP recently that might have fixed this. Could you try if you can still reproduce this with 16.5.0, please?

You are probably aware, but the whole TP ships in this package and there is 16.5.0 available now. https://www.nuget.org/packages/Microsoft.TestPlatform/

[2020-02-13 12:45] nohwnd commented on #2306
@jakubch1 maybe you could take this? and see if that is feasible for 16.6, I am assigning it to that milestone for now.

[2020-02-13 12:51] nohwnd commented on #2305
There was a recent bug fix for case sensitivity of verbosity, maybe this was also affected by it? https://github.com/microsoft/vstest/pull/2300 could you try with the latest dotnet test? Please also share the few lines of output after you run the command, there is a version of the test platform cli tools that are shipping with the dotnet test. New dotnet test that uses 16.5.0 that has fix for the

[2020-02-13 12:55] nohwnd commented on #2193
From #2303:

Description
Test platform gets some of it's binaries from VisualStudio build via a deprecated mechanism. The source of binaries migrated to cloud drops.

 Research how cloud drops work and how to access them programatically
 Research how to get a subset of the drop limited to what we need
 Research what parts of the drop are needed for the various packages
 Solution proposal & prototy

[2020-02-13 12:55] nohwnd commented on #2303
dupe #2193

[2020-02-13 12:55] #2303 closed

[2020-02-13 13:04] nohwnd commented on #2261
We were  seeing similar issues in VS, there was a problem with cancellation of run that  produced a cancellation error and was not caught in the correct place. It resulted in the same error, but probably not the same stack. That error is kind of a catch all for all errors when the other process disconnects in the middle of an operation so it is hard to tell. I would suggest upgrading to 16.5.0 to

[2020-02-13 16:48] lg2de commented on #2316
The PR is created, @nohwnd.
Currently some build steps fail because they are (still) referring to Newtonsoft.Json 9.0.0. So far I could not identify where this expectation is coming from.

[2020-02-13 16:52] jakubch1 commented on #2306
Could you please confirm that you have this package installed:
https://www.nuget.org/packages/Microsoft.CodeCoverage/16.5.0
?

It can be easily installed by:
`dotnet add package Microsoft.CodeCoverage --version 16.5.0`

[2020-02-13 21:26] alexey-gusarov commented on #2310
Unfortunately behavior wasn't changed.
Only one test was started.

d:\temp\vstestissue>d:\vstestissue\Microsoft.TestPlatform.16.5.0\tools\net451\Common7\IDE\Extensions\TestPlatform\vstest.console.exe **netfw\bin\Debug\net472\netfw.dll** **netcore\bin\Debug\netcoreapp3.1\netcore.dll**
Microsoft (R) Test Execution Command Line Tool Version 16.5.0
Copyright (c) Microsoft Corporation.  All rights rese

[2020-02-14 09:54] HeroMaxPower opened #2328 "Some Asserts.AreEqual in TestPlatform.sln have incorrect expected and actual arguments."
Im using static code analyser SonarLint for checking this project and i've come across a violation of this rule

[SonarLint Rule 3415](https://rules.sonarsource.com/csharp/RSPEC-3415)

in some of the tests for this project.

e.g.

`Assert.AreEqual(aggregator.RunContextAttachments.Count, 1, "RunContextAttachments List must have data.");`

should be

`Assert.AreEqual(1, aggregator.RunContextAttachme

[2020-02-14 12:20] nohwnd commented on #2286
Test platform is inserted into Visual Studio and dotnet toolset and will be resolved to those versions that are built-in, for 3.1.100 that is 16.3. You can override the path to the vstest console using ` -p:VSTestConsolePath="<path>"`, the appropriate assembly is shipped in microsoft.testplatform.portable nuget package.

[Relevant code](https://github.com/microsoft/vstest/blob/master/src/Microsoft

[2020-02-14 12:20] #2286 closed

[2020-02-14 12:23] nohwnd commented on #2328
@HeroMaxPower thanks for the report, you are definitely allowed to PR this. The inconsistency among different testing frameworks probably caused this. I personally always have to double-check which of the params is `expected` in the assertion library the framework is using 🙂

[2020-02-14 12:26] nohwnd commented on #2324
Hello, thanks for reporting, are you able to reproduce this after restart? Are could you also try to reproduce this using a newer version of test console, ideally the latest one? The console is shipped in this nuget package that you can extract as a zip file, for example using 7zip. https://www.nuget.org/packages/Microsoft.TestPlatform/16.5.0

[2020-02-14 15:46] AnthonySteele commented on #2287
After expermenting some more with multiple projects and encountering errors, I have found that ability to use `Microsoft.NET.Test.Sdk Version 16.5.0` in Visual Studio Test Explorer works sometime, but not others.

Hint: it depends on which .NET Core SDKs you have installed under `C:\Program Files (x86)\dotnet\shared`,  when of course they should be under `C:\Program Files\dotnet\shared`

Due to th

[2020-02-14 15:52] nohwnd commented on #2287
@AnthonySteele  This sounds like it agrees with what Abhitej described above, when you have 16.4.0 then you need the appropriate x86 runtime installed for the tests to work. 16.5.0 fixes that, but if you just install the package in your project it is not honored by VS, nor dotnet test (unless you provide vstestconsole path). I would suggest we wait till the versions of VS and sdk that have 16.5.0

[2020-02-14 15:56] AnthonySteele commented on #2287
Yes, all good. I'm just documenting the workarounds and details that I dug up so that you don't get asked the same thing again. (and for my own reference next week :P )

[2020-02-14 21:31] ManishJayaswal commented on #2319
@nohwnd - Is this a NUnit testadapter issue or an issue in vstest.console? If it is the former then should we open an issue in NUnit repo?

[2020-02-15 21:00] MarcoRossignoli commented on #2278
I did some test and find the issue, the problem is that coverlet collector is build for netcoreapp2.1 but packed for netstandard1.0 and vstest.console.exe try to load collector for .NET Framework and correctly fails to load .net core reference https://github.com/microsoft/vstest/blob/master/src/Microsoft.TestPlatform.Common/ExtensionFramework/TestPluginDiscoverer.cs#L184
If I try to build coverlet

[2020-02-16 19:33] ViktorHofer commented on #2273
To provide an example of why this is necessary, in https://github.com/dotnet/runtime we attributed tests which are failing either on all or some platforms with attributes that allow excluding them by filtering on that trait: https://github.com/dotnet/runtime/blob/04f22268efb4434b7cd81e8ae2c3354be99fd4a7/src/libraries/System.Composition/tests/CircularityTests.cs#L119-L127

In this example, `[Active

[2020-02-16 20:08] HeroMaxPower opened #2332 "Some tests in TestPlatform.sln could be parallelized"
I was hoping to improve the test execution time of all the tests by annotating.
`[assembly: Parallelize(Workers = 0, Scope = ExecutionScope.ClassLevel)]`
in test projects.

My plan is follows
1. Add Parallelize to AssemblyInfo.cs
2. Test with a 4 core processor run 3-6 times per test project
3. If any projects have problems add the `[DoNotParallelize]` attribute to the TestClass

This would improv

[2020-02-18 09:52] ViktorHofer commented on #2027
This is already done.

[2020-02-18 09:52] #2027 closed

[2020-02-18 09:55] ViktorHofer commented on #1749
@ManishJayaswal @nohwnd I want to resume the discussion for this ask. To make the ask more specific, we need the following feature:

Allow specifying the path to the .NET Host `dotnet.exe` that is used for invoking the VSTest testhost. This should be an additional setting in the .runsettings file. Together with https://github.com/microsoft/vstest/issues/2273, we will then be able to fully switch t

[2020-02-18 11:42] carlosrfernandez commented on #2324
Something similar to this happens under MacOS, but the runner just shuts down with Stack Overflow. Using the latest version of the dotnet tools.

I've been able to reproduce this problem using this project: https://github.com/carlosrfernandez/AspNet.Test.StackOverflow

I believe that there's an issue with discovering assemblies at some point in the process. The sample project uses MediatR to regis

[2020-02-18 14:10] nohwnd commented on #2324
Note to self: This should be the main problem. Seem similar vstest console errors reported when testhost was not able to start because of incorrect setup. See what the exit code means, hopefully not the answer to the ultimate question of life, the universe and everything.

[code]

[2020-02-18 15:26] eerhardt commented on #1749
Small question on the naming: Do we use the term `Muxer` anywhere else in public settings/APIs/docs? I don't think we should use that term publicly. What about just `TestHost` or `TestHostPath`? Or if that is confusing with the `testhost.exe` binary, then maybe `DotNetHostPath`.

[2020-02-18 15:36] nohwnd commented on #2332
I am currently doing a fair amount of changes in the acceptance tests, I can already see some time improvements there. Let’s wait with this change to see if it will be needed.

Probably all the tests that cross check the runners could be paralelized, as they already spawn new processes, and should be isolated.

On the other hand, they are pain to debug already, even without paralelization 😅

[2020-02-18 16:12] ViktorHofer commented on #1749
You are right, `DotNetHostPath` is a much better term.

[2020-02-18 17:15] jpribele commented on #1824
Unicode Pass/Fail is bad for farms or other processes are that are capturing tty.
` û TestName` example output

[2020-02-18 22:55] tremblaysimon opened #2334 "Coverage report file duplicated when using --logger option"
Please see the reported issue here https://github.com/tonerdo/coverlet/issues/733 about using --logger option in conjunction with --collect:"XPlat Code Coverage".

We think that it should be related more with vstest than coverlet.

Is it an expected behavior to get two generated code coverage file instead of one if we use vstest logger option?

[2020-02-18 22:57] luis-cortina commented on #1830
@kendrahavens @AbhitejJohn @cltshivash Any updates on this? I'm looking for some sort of interface to kickstart the test engine without explicitly opening the Test Explorer. Also, any documentation on the Apis that we can use to interact with the testing engine would be great.

[2020-02-19 09:52] thtp commented on #2319
Can be reproduced with `Assert.Fail()` without parameters. Any non-empty message in a failure assertion fixes this issue (e.g. `Assert.Fail("So sad")`). Any conditional assertion also works fine (like `Assetr.True(false)`). So, most likely, issue is related to an empty message.

[2020-02-19 16:14] FinexTech commented on #2304
Looks like this issue was fixed. FQN filter works fine after updating all related packages. Currently we use:
[code]

[2020-02-19 16:14] #2304 closed

[2020-02-19 18:19] SaeidSabzalizadeh opened #2336 "dotnet test failed integration test after new .net core sdk installed"
Here is my xunit test project:

[code]

All was good up until I installed .NET Core 3.1 SDK, now all my integration tests failed.
I checked in different machines as long as I have only .NET Core 2.1 every thing is good but by installing .NET Core 3.1 all integration tests failed.

Is there any config I should add to my project?
It's not an option for me to upgrade my project or test project to 3.1

[2020-02-20 11:03] nohwnd commented on #2336
That's interesting could you post the actual failure please?

You can pin your dotnet version using global.json that way, you know what you will be invoking against. For example like this:

[code]

[2020-02-20 11:05] nohwnd commented on #2319
@ManishJayaswal don't know yet, I would suspect this is reponsibility of the adapter, but need to investigate it first.

[2020-02-20 11:06] nohwnd commented on #2334
@jakubch1 this is CC related, please have a look 🙂

[2020-02-20 11:06] nohwnd commented on #2334
Or maybe @MarcoRossignoli if this is coverlet related? Thx

[2020-02-20 11:14] singhsarab commented on #2319
AFAIK, this is an adapter issue and we should file a bug on Nunit. The older version 3.13 seems to be working as expected.

[2020-02-20 11:22] nohwnd commented on #1824
(in reaction to PR #2333)

Personally I find the default indicators really nice to look at, but a pain to read and search for in log. I like the change but I don't think adding yet another set of options is the best way to do this.

Maybe we could consider changing them:
- to something that is a normal character / character group, but is unlikely to turn up in log otherwise. (e.g. use `[-], [+], [

[2020-02-20 11:54] MarcoRossignoli commented on #2334
I dont' think it's related to coverlet, collectors(wrote by @vagisha-nidhi) only send artifact through data sink https://github.com/tonerdo/coverlet/blob/master/src/coverlet.collector/DataCollection/AttachmentManager.cs#L146

We don't handle nothing about loggers.

[2020-02-20 15:06] SaeidSabzalizadeh commented on #2336
Thank you, It works fine with global.json

[2020-02-20 15:32] SaeidSabzalizadeh commented on #2336
Fails are vary in different servers in one I got 404 for all api requests.
In another server I got System.IO.IOException : The process cannot access the file.

By adding global.json file and pin the sdk version all passed.

[2020-02-20 15:55] nohwnd commented on #2336
Awesome, closing :)

[2020-02-20 15:55] #2336 closed

[2020-02-20 18:04] jpribele commented on #1824
I could live with both unicode and plain text. [Passed √] TestName
In log file that 2000 tests being able search quickly and reliably is nice. Ctrl+F "[Failed" or "[Passed

[2020-02-20 18:46] AbhitejJohn commented on #2319
Also if the trx logger is failing to add in a result for some reason, we'd probably want to add in some logs if they do not already exist.

[2020-02-20 21:12] smfeest commented on #2282
Also experiencing this very regularly on Ubuntu 18.04.4 LTS, .NET Core 3.1.101

[2020-02-21 07:24] nohwnd commented on #2282
Anyone has any theory why this would be? I saw some escape codes being output into my input (ehm after test run I had some characters in the prompt that I did not type).

@beevik I actually can't see that from the prompt output, could you help me understand what I am seeing when the behavior is incorrect, and what I should be seeing when the behavior is correct, please?

[2020-02-21 07:54] nohwnd commented on #1824
For what it's worth searching for <code>&nbsp;&nbsp;&nbsp;&nbsp;X&nbsp;</code> (four spaces X and one space), will find failed tests pretty consistently, especially if you switch to the raw log view.

(Also passed tests are showing `ï¿½ PassingTest2 [7ms]` in the raw view)

[2020-02-21 09:11] singhsarab commented on #1824
@nohwnd This was based on the feedback shared by @kendrahavens. Please get this reviewed from her. Thanks.

[2020-02-21 18:38] naren-vivek opened #2337 "System.IO.FileNotFoundException: Could not find 'dotnet' host"
I have a NetCoreapp 3.0 framework application.

As part of which I added the PackageReference Include="Microsoft.TestPlatform" version=16.5.0
We deploy to a VM and when running the application we receive the below error.

NOTE: We are using Self contained DotNet core application

System.IO.FileNotFoundException: Could not find 'dotnet' host. Make sure that 'dotnet' is installed on the machine and

[2020-02-24 11:05] nohwnd opened #2341 "Add examples / samples back to solution"
In #2340 I removed samples from the main solution because they were using the versions from the test assets. I don't think samples should use our complicated build, and instead should pin normal versions from nuget. Add them back in the same solution or in separate solution that will be built on the CI but won't fail the build. Samples are not supposed to be acceptance tests.

[2020-02-24 14:27] #2328 closed

[2020-02-24 14:52] #2309 closed

[2020-02-24 16:00] alefranz commented on #2309
That was quick! Thanks @nohwnd !

[2020-02-24 16:38] nohwnd commented on #2223
I am not seeing the access denied issue, nor the parameter mangling. I only see the -r command not found when I run it directly in terminal (see below).

I tried reproducing this like this, and it works:
![image](https://user-images.githubusercontent.com/5735905/75171483-f68f0600-572b-11ea-8bed-a9e14c000afc.png)

[code]
---
[code]

---
I can see the `-r` command not found error when I paste the co

[2020-02-24 19:09] HeroMaxPower commented on #2332
Let me know when you are ready for me to take up the challenge

[2020-02-24 21:18] vritant24 commented on #2273
I've created [Bug 1069896](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1069896) in azdo to track the changes needed on the VS TE Window.

[2020-02-24 23:39] chandan11a commented on #1870
Exactly the same issue. To solve the problem, I had to install NunitTestAdapter and Microsoft.NET.Test.Sdk. Adding just one of them did not solve the problem.

[2020-02-25 10:36] code-bringer commented on #1544
@optiks @A30001835 I am not entirely sure but the following issue looks similar https://github.com/microsoft/vstest/issues/2022
So, it looks like "*.runtimeconfig.json" file is missing

[2020-02-25 12:07] nohwnd commented on #2200
Played with this over lunch. One way would be to import the cli package and then invoke the test project direcly, passing on the parameters for test console:

[code]

Notice `<GenerateProgramFile>false</GenerateProgramFile>` which prevents test.sdk from emitting defualt entrypoint.

Then I just did
[code]

The runtime is different than yours, but I was able to run it in WSL2 as:

[code]

I am not

[2020-02-25 16:13] nohwnd opened #2343 "Crashing testhost immediately after start reports timeout error"
## Description
Crashing testhost immediately after start reports timeout error independently on how long the actual timeout it.

## Steps to reproduce
Set test host debugging and start a test run `$env:VSTEST_HOST_DEBUG=1`. Once the testhost process starts, kill it.

Alternatively replace the test host executable, with another one that does nothing.

## Expected behavior
Test host process exited e

[2020-02-25 17:00] nohwnd commented on #2273
I was briefly looking into this yesterday, and I am thinking if it we should take advantage of the filter syntax that already exists in the test platform because that allows for multiple ways of matching (equal, not equal and contains) and pointing the filter to different properties of the test (name / category etc.).

https://github.com/microsoft/vstest-docs/blob/master/docs/filter.md

[2020-02-25 17:02] DotNetSparky commented on #2334
I'm experiencing the same thing (also using coverlet)... each xml file is duplicated.

[2020-02-25 17:16] ViktorHofer commented on #2273
So basically adding the ability to specify the `-Filter` switch in the .runsettings file, if I understand you right?

[2020-02-25 18:22] nohwnd commented on #2337
Related #2200

[2020-02-25 19:49] AbhitejJohn commented on #1830
@luis-cortina : I haven't been great with github notifications off late. I've logged [an issue](https://developercommunity.visualstudio.com/content/problem/929113/test-explorer-to-surface-newer-apis-to-discoverrun.html) to track exposing this new API here. We've currently scheduled to preview this for Q2 of 2020 given our other set of priorities. We should be able to review docs as well as part of

[2020-02-25 19:55] nohwnd commented on #2309
It's available in the myget feed until we do next preview release. https://dotnet.myget.org/feed/vstest/package/nuget/Microsoft.NET.Test.Sdk just used it and it works. (One small gotcha: you need to add the nuget source to your configuration, installing it via console using the command in the link, won't work if you don't have the source in the configuration, because -Source parameter is not honor

[2020-02-26 09:04] nohwnd commented on #2273
Yes that is what I meant. And yes it would leak the details to runsettings file, but the --filter / --TestCaseFilter is already leaking those details. What it gives us is that we don't need to come up with an alternative DSL to unify the possibilities already present in `--filter`, and we don't need to think about possible other options that are used in other custom adapters, or future adapters.

[2020-02-26 09:09] #2343 closed

[2020-02-26 10:41] nohwnd commented on #2332
I think you can start, but I would not sink too much time into it, how about you do a quick pass on it, and then we review it as a proof of concept? I am not sure if I will want to merge it and don't want to waste your time :)

[2020-02-26 20:07] ViktorHofer commented on #2273
Sounds good, let me know if I can help somehow. Thanks.