[2017-03-14 23:54] davkean opened #614 "Times shown in Output window, is too precise"
The time that is shown in the Output window is too precise, to the degree that marks it harder to read:

![image](https://cloud.githubusercontent.com/assets/1103906/23927270/c50670ba-096c-11e7-848b-0816b304dc98.png)

I'm not sure why it needs to show this much precision, it's makes the output so much harder to parse in my head.

[2017-03-15 01:19] codito commented on #614
Copied to https://github.com/xunit/xunit/issues/1164 since the adapter provides this output.

[2017-03-15 01:19] #614 closed

[2017-03-15 01:25] codito commented on #613
@arkasha a `PackageReference` to `Microsoft.NET.Test.Sdk` is missing in test project. Can you please add it? It will allow nuget to compute dependencies closure/binding redirects appropriately.

You may hit into #428, this workaround will help https://github.com/Microsoft/vstest/issues/428#issuecomment-276801928

[2017-03-15 01:27] codito commented on #428
+1, there are several reports on this issue. We should fix this in the next preview nuget package. /cc @sbaid @pvlakshm @smadala

[2017-03-15 01:33] codito commented on #611
We definitely need data to take this decision. Perf savings v/s architecture mesh up.

The architecture mesh up part is because:
* Requirement for in-proc data collector is to run tests without appdomain. I am not sure if this is still a requirement. If it's not, things will be quite simple.
* Test host creates the appdomain on their behalf. This is required to ensure there is no locking of assemb

[2017-03-15 01:42] codito commented on #612
The `Passed` tests no longer show up in default output. Please see #301 #478 for context. It can be enabled with `--logger:console;verbosity=normal`.

I still think this problem will show up though, the `Console.WriteLine` are directly coming from the stdout of child-process (`testhost`), where as the `Passed`, `Failed` events come asynchronously (from adapter) through message logger. @AbhitejJohn

[2017-03-15 01:49] ManishJayaswal commented on #611
@codito - how do you recommend we collect this data? Is there some prototype bits we can use? We can definitely measure the time we spend in creating the host every time but it seems like you are saying there will be some extra cost that may come in if we do the change.

[2017-03-15 02:12] codito commented on #605
Thanks @am11 for the proposal. This is a good value add in my opinion. Users can specify settings with `dotnet test -s <runsettings>` too. The order in which they're picked up could be:

* Use the runsettings provided with `-s <runsettings>`
* Look for runsettings available in the csproj

If user wants to override a particular setting in the `runsettings`, they could pass in `dotnet test -- RunCon

[2017-03-15 04:16] davkean opened #615 "Tests cannot be run twice in a row due to VSTest.executionengine.x86.exe holding onto dlls"
1. Enlist in https://github.com/dotnet/roslyn-project-system
2. Checkout a9e5252cb89e45bc9c5202789bc7effc61b7531c
4. From a VS command-prompt run build.cmd
5. Open src\ProjectSystem.sln
6. Build once
7. Choose Test Explorer -> Run All
8. When finish, choose Text Explorer -> Run All

Lots of errors like:

[code]

I need to kill vstest.executionengine.x86.exe to run tests again.

[2017-03-15 04:18] davkean commented on #615
Make note we have the following xunit test settings turned on:

[code]

[2017-03-15 09:57] AbhitejJohn commented on #612
So atleast MSTest Adapter listens to all Console.Writeline messages and adds to them to TestResult.Messages [here](https://github.com/Microsoft/testfx/blob/master/src/Adapter/MSTest.CoreAdapter/ObjectModel/UnitTestResult.cs#L147) and from the code [here](https://github.com/Microsoft/vstest/blob/ba594a8f2d461f2e2351a0694b02771cbe367a3e/src/vstest.console/Internal/ConsoleLogger.cs#L232) the console

[2017-03-15 10:02] AbhitejJohn commented on #605
Sounds great. This was something we heard from a bunch of folks. This is also solution level now. From this issue, it looks like we want to make it a per-project level setting as well. Correct me if that is not true. /cc @pvlakshm

[2017-03-15 10:09] davkean commented on #560
@codito are there plans to make inroads on this? From my own project (http://github.com/dotnet/roslyn-project-system) - it's takes VS a long time to discover tests, and then after I click Run All - it takes >52 seconds to run the tests. If I do it via command-line, my entire test time is 16 seconds, that means it's 325% slower to inside VS than via the command-line.

[2017-03-15 11:28] ChristophB125 commented on #612
Thanks for looking into it.
@codito : Running the test using`dotnet test --logger:console;verbosity=normal`does not output passing tests.

[2017-03-15 12:20] smadala commented on #612
@ChristophB125 Did you try with `"`, `dotnet test --logger:"console;verbosity=normal"`.

[2017-03-15 13:06] ChristophB125 commented on #612
@smadala Yes, I actually used quotes the way how you specified it (I accidentally removed them in my last comment)

[2017-03-15 13:39] NikolayPianikov opened #616 "Load an extension from sources' paths"
## Description
It will be good to try finding and to load extensions from the directories specified in sources' paths - to have ability to add my extension as reference to a NuGet package for a test project.

## Steps to reproduce
`dotnet test -l=teamcity`
for netcoreapp1.0 test projects

See [this solution](https://github.com/JetBrains/TeamCity.VSTest.TestAdapter/tree/master/Samples) to reproduce

[2017-03-15 14:59] codito commented on #615
@davkean is `Test -> Test Settings -> Keep execution engine running` option enabled in VS?

[2017-03-15 15:03] codito commented on #616
@NikolayPianikov this is recently fixed in master (#557). Will update when a package is available to play with.

[2017-03-15 15:18] codito commented on #611
Yes, I think there will be cost due to marshalling and cross-appdomain calls if we implement keep-alive; it could be less/more than cost of creating a process + startup. @saikrishnav do we have the spike code around? Or did we measure this by any chance during spike?

[2017-03-15 15:25] ChristophB125 commented on #612
Note that when using XUnit instead of MSTest, the behaviour is the same, if not even worse because the order of the Console output is reversed on Windows and completely random Linux (RHEL7.2)

[2017-03-15 15:53] NikolayPianikov commented on #616
@codito thank you

[2017-03-15 15:54] #616 closed

[2017-03-15 17:02] am11 commented on #605
@codito, extending on your feedback and deriving form some projects of past, the precedence order could be:

* Command line argument `-s <runsettings>`
* If missing the previous: read `<RunSettings>` from csproj
* If missing the previous:  per @AbhitejJohn's comment, read the solution level (not sure would that be in the SLN file? that would be 🆒 ❗️ 😎)
* If missing the previous: read from the envi

[2017-03-15 21:37] tmeschter opened #617 ""Profile Test" fails on .NET Core xUnit test due to "Unknown test framework""
## Description

When attempting to profile a .NET Core xUnit test, running the test fails due to an "unknown test framework".

## Steps to reproduce

1. Create a xUnit Test Project (.NET Core) project;
2. Click the “Run Tests After Build” icon on the “Test Explorer” window;
3. Right click the solution in “Solution Explorer” and click “Build Solution”.
4. Wait for the build to complete and the test

[2017-03-16 02:45] arkasha commented on #613
I did that. It didn't fix the issue.

[2017-03-16 05:32] joshes commented on #578
FWIW, I can confirm this bug. I have a build failing on my Mac locally, but builds fine on a Linux based Jenkins box.

[code]

Will dig into it a bit deeper once I have some time.

[2017-03-16 06:08] #588 closed

[2017-03-16 06:09] JamesNK commented on #513
I ended up deleting the Server 2016 VM and replacing it with a Win10 VM that doesn't have any issues. I can't give any more information.

[2017-03-16 09:50] leonziegler commented on #592
I experience the same problem with standard .net solution in Vs Professional 2017. Create Test Units context menu is missing.

[2017-03-16 16:12] smadala opened #618 "Vstest.console hangs on testhost abnormal exit."
## Description

## Steps to reproduce

## Expected behavior

## Actual behavior
[code]

## Workaround

[2017-03-16 18:55] harshjain2 commented on #617
@tmeschter profile tests is not implemented for netcore projects yet. This support requires datacollectors infrastructure (https://github.com/microsoft/vstest/issues/309). It will come post RTW.

[2017-03-16 20:25] rykr opened #619 "test assembly skipped with weird message. netcoreapp1.1 and net452"
I have a library and a test library.  The test library references the library.  They are both using multitargeting of net452 and netcoreapp1.1.   The netcoreapp1.1 side tests fine.  The net452 gives me a weird error.

When do the following:

dotnet test testlib.csproj -f net452

I get this:

Skipping:  testlib (could not find dependent assembly 'testlib, version 6.10.2')

It's saying it's going to

[2017-03-16 21:41] twsouthwick commented on #579
What is the timeline to support .NET Core

[2017-03-16 21:45] KevinH-MS opened #620 "Cannot run specific test from code editor..."
I'm not sure if this bug goes here, but...

## Description

d15rel.26228.0

[2017-03-16 22:29] piotrpMSFT opened #621 "Code coverage for .net core applications"
_From @srini1978 on March 11, 2017 11:5_

## Steps to reproduce

1. Run .net core application with VSTS
2. Choose Analyze test with code coverage

## Expected  behavior

Code coverage should come up for each of the dlls

## Actual behavior

Multiple resultssets show up skewing up code coverage. Some internal dlls report code coverage multiple times

## Environment data
`dotnet --info` output:

_Co

[2017-03-16 22:29] piotrpMSFT commented on #621
_From @ChristophB125 on March 13, 2017 16:54_

@srini1978  I am trying to get code coverage working at the moment as well. Can you please share how you invoke dotnet test and which NuGet package you use for code coverage (I assume Microsoft.CodeCoverage).
Possible duplicate of #1995 ?

[2017-03-16 22:29] piotrpMSFT commented on #621
_From @shanselman on March 14, 2017 23:41_

@piotrpMSFT Did this ship with 1.0 or is this not done?

[2017-03-16 22:29] piotrpMSFT commented on #621
_From @livarcocc on March 14, 2017 23:51_

I don't think this was explicitly done.

@codito @Faizan2304 Will this work out of the box because of vstest?

[2017-03-16 23:50] ivanz commented on #606
Figured it out by looking at what XUnit does, which is MSBuild nuget bits to copy the runner dlls into the build output at build time.

[2017-03-16 23:50] #606 closed

[2017-03-17 01:26] codito commented on #621
Code coverage will not work in 15.0. We're working on bringing up the infrastructure for next release.

[2017-03-17 01:33] codito commented on #579
@twsouthwick this will likely come in the next release (15.1 or 15.2 preview). We're still working out the details. Current thought process:
* In console, code coverage will show up as a data collector (spec is [here](https://github.com/Microsoft/vstest-docs/blob/master/docs/analyze.md)). User may install the code coverage nuget package, and use it like `dotnet test --collect:coverage`
* In VS, it

[2017-03-17 01:36] codito commented on #597
This issue is same as https://github.com/Microsoft/vstest/issues/579. Keeping #579 open and closing this as duplicate to help track better.

[2017-03-17 01:36] #597 closed

[2017-03-17 01:37] codito commented on #621
Same as #579. Keeping #579 open and closing this issue to help track better.

[2017-03-17 01:37] #621 closed

[2017-03-17 01:43] codito commented on #620
Same issue as https://github.com/xunit/xunit/issues/1140. Closing as external.

Please feel free to reopen if this is coming up for non xunit frameworks too.

[2017-03-17 01:43] #620 closed

[2017-03-17 01:47] codito commented on #619
@rykr does diagnostic logs say anything? `dotnet test testlib.csproj -f net452 -d:log.txt`; the `log.host.*.txt` file generated may have interesting information.

[2017-03-17 01:50] cwharris commented on #311
It seems that `Directory.GetCurrentDirectory()` returns `C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE` when debugging tests, but otherwise returns the test project's debug directory, aka `{project_path}\bin\Debug`.

Is this intended?

[2017-03-17 02:06] codito commented on #600
@livarcocc can we try pulling the latest changes from `dotnet-cli/master` into `enable_more_distros` branch and build? /cc @smadala

[2017-03-17 02:10] codito commented on #599
Closing this issue since the adapter already supports filtering with traits.

[2017-03-17 02:10] #599 closed

[2017-03-17 02:12] codito commented on #554
Closing as duplicate of #461.

[2017-03-17 02:12] #554 closed

[2017-03-17 02:13] codito commented on #461
Closing as duplicate of #617.

[2017-03-17 02:13] #461 closed

[2017-03-17 02:13] codito commented on #554
See #617.

[2017-03-17 02:23] onovotny opened #622 "VSTest fails to read source information if DebugType is embedded"
For both .NET 4.6 and .NET Core App tests, if the `DebugType` is set to be `embedded` all tests show up as External in the Test Explorer. It does not appear that the test tools support reading embedded ppdb's yet.

[2017-03-17 05:16] davkean commented on #615
@codito Yes, that is checked. Why did you mark this as a question? It looks like a bug...

[2017-03-17 05:29] davidfowl opened #623 "Entire test runner workflow is too slow and unenjoyable"
I'm on the ASP.NET team and using the VS 2017 Community RTM build and CLI tools. There are a few key issues that totally disrupt my workflow with the test runner and generally make the experience unenjoyable. We use xunit with the test explorer and here are the issues I experience daily:

1. The test explorer window is too narrow and test names are unreadable by default.
    ![image](https://cloud

[2017-03-17 05:44] smadala commented on #311
@cwharris Yes, you are right,It is a bug, has been fixed, fix will be available VS 2017 update 1.

[2017-03-17 05:47] JamesNK opened #624 "Running tests in a csproj with multiple TargetFrameworks"
Inside VS2017 I want to be able to discover and run tests from a csproj that has multiple TargetFrameworks. I believe that right now vstest only takes tests from the first framework in the list and ignores the rest.

I want the UI to discover tests for all frameworks and then let me choose whether to run tests from all frameworks (e.g. net45 and netcoreapp1.0), or to choose one framework (e.g. net

[2017-03-17 05:51] davkean opened #625 "Analyzing Code Coverage a CPS project never completes the test run"
1. Enlist in https://github.com/dotnet/roslyn-project-system
2. Checkout a9e5252cb89e45bc9c5202789bc7effc61b7531c
3. From a VS command-prompt run build.cmd
4. Open src\ProjectSystem.sln
5. Build once
6. Wait until Text Explorer has found all the tests (> 1 minute!)
7. Choose Test -> Analyze Code Coverage

Expected: Tests to run with code coverage
Actual:

Tests never finish:

[code]

[2017-03-17 05:59] issafram commented on #623
5. For XUnit: https://xunit.github.io/docs/capturing-output.html

[2017-03-17 06:04] ckurt commented on #623
6a. Please update the icon used for "test currently running". Ideally to an icon that moves, but at least to an icon that is not mainly green the same color indicating passed tests.  This also make the currently running test very hard to find, especially if it is in a list of tests you already ran and passed.

8. Session management. Please introduce test sessions or "playlists" without the need fo

[2017-03-17 06:11] davidfowl commented on #623
@issafram Wouldn't it be great if `Console.WriteLine` just worked?

[2017-03-17 06:13] bradwilson commented on #623
For the things which appear to be xUnit.net-centric:

1. Names are controlled by config. Use `"methodDisplay": "method"`. https://xunit.github.io/docs/configuring-with-json.html
3. This appears to be newly broken in 2.2, and there is an open bug: https://github.com/xunit/xunit/issues/1140
5. In 2.x, xUnit.net doesn't capture the console output. You could use `ITestOutputHelper`: https://xunit.gith

[2017-03-17 06:20] davidfowl commented on #623
The problem is I'm not trying to `Console.WriteLine` from my test. I'm trying to do it in product code. Plumbing that through manually isn't fun.

[2017-03-17 06:36] xoofx commented on #623
I completely agree. I have been always staying out of using XUnit for this sole reason (+ another one that when using output capturing and you have lots of output, XUnit is damn slow)

[2017-03-17 06:45] davkean commented on #623
I would add one more to that list: not only is discovery really, really slow - to even get to the discovery phase when opening a Solution takes > 1 minute on http://github.com/dotnet/roslyn-project-system. I suspect waiting for output groups from CPS to populate is probably a lot of that - but I've not investigated.

[2017-03-17 06:49] davkean commented on #623
I remember correctly about the "current" running test, I filed this back in VS 2012 when the Test Explorer was added, the reason they don't show current progress was the communication back to VS to update the "current" test was slowing down the test run. However, I really only want to see "current" when the test > a couple of seconds, by which case you could make it to only communicate "current" w

[2017-03-17 06:53] davkean commented on #623
@bradwilson A thought about the Console problem - what if you set your own writer for Console (via SetOut) that stored it's data based on AsyncLocal<T>. That way you could associate console output with the currently running test.

[2017-03-17 06:55] tmat commented on #623
@ManishJayaswal

[2017-03-17 07:09] codito opened #626 "Can't see the currently running test in Test Explorer"
(Created from #623).

## Description

While test explorer supports showing the current running test. `Passed Tests` or `Failed Tests` group shows first in the UI, followed by `Not Run Tests`. If the number of tests is high, the `Not Run` group can get easily outside the screen real estate of test explorer.

Is there a better way for user to get feedback on which test is running (if they have sever

[2017-03-17 07:11] codito opened #627 "Show the test which crashed the test run (test explorer)"
(Created from #623)

## Description
Certain crashes make the test runner implode. I'm working on a refactoring and when I run tests sometimes this happens:
[code]

Which probably means the process crashed but the test runner doesn't help me diagnose things here. I don't know which test was running when it crashed, so I have to manually binary search until I find the one that is the culprit.

[2017-03-17 07:26] magol commented on #624
This is a very enoying bug.

[2017-03-17 07:28] codito commented on #623
@davidfowl great feedback. Taking up the test window ones:

This could be related to https://github.com/dotnet/roslyn-project-system/issues/62? /cc @davkean

It is possible to do parallel discovery with "Parallel" option enabled in Test Explorer. https://github.com/Microsoft/vstest/issues/499 is tracking if discovery should be parallel by default.
![test_explorer_parallel](https://cloud.githubuser

[2017-03-17 07:30] codito commented on #627
The test case start/end events are already available to data collector infrastructure. Could an inproc datacollector help with this scenario?

[2017-03-17 08:04] codito commented on #626
@davkean mentioned in https://github.com/Microsoft/vstest/issues/623#issuecomment-287280338

I remember correctly about the "current" running test, I filed this back in VS 2012 when the Test Explorer was added, the reason they don't show current progress was the communication back to VS to update the "current" test was slowing down the test run. However, I really only want to see "current" when th

[2017-03-17 08:15] codito commented on #626
@ckurt mentioned in https://github.com/Microsoft/vstest/issues/623#issuecomment-287274705

6a. Please update the icon used for "test currently running". Ideally to an icon that moves, but at least to an icon that is not mainly green the same color indicating passed tests. This also make the currently running test very hard to find, especially if it is in a list of tests you already ran and passed.

[2017-03-17 08:53] Mike-EEE commented on #623
I do have to chime in here and say that I have yet to see a unit test experience that I really enjoy.  Even JetBrains which is usually pretty good with their .NET implementations/improvements really misses the mark in their efforts here with their dotCover product.  I might be off the usual beaten path here, but I think at a minimum there should be _a grid view_ of some sort for any test viewer th

[2017-03-17 10:30] gfraiteur commented on #623
@davkean @bradwilson @Mike-EEE

Mike, thanks for mentioning Frigate. The project is still very early, but if you want to know about it, you can watch the [webinar recording](http://www.postsharp.net/blog/post/webinar-recording-postsharp-5-preview) from the 19th minute. Don't hesitate to ping me with questions or feedback. I'm happy to chat about integration with test runners.

[2017-03-17 11:03] SaltyDH commented on #623
@bradwilson I added an issue with examples for changes to xunit that would allow ITestOutputHelper to be registered for all tests without the need for explicit constructor injection. The changes don't affect existing functionally, just provide better subclassing opportunities for those who want/need it. Sorry to partially hijack this issue!

See https://github.com/xunit/xunit/issues/1119

[2017-03-17 13:33] anderslm commented on #523
I'm still having this issue.
[code]

"No source available" for tests, no code-coverage and no context-awareness when trying to run test from the editor.

[2017-03-17 14:24] issafram commented on #623
@davidfowl

Yes it would, but this is very similar to the Microsoft Build & Release Management Team deciding that `Write-Host` should not be allowed in PowerShell scripts.  I think it is a design decision where they decided that there is no concept of a Console (Host) when running on an agent.  That is my guess at least.

I like to use the adapter pattern for this issue.  I use an `ILogger`, or yo

[2017-03-17 14:44] tannergooding commented on #623
@Codito, for 2.

This is a real pain point on large desktop solutions as well (Roslyn). A simple change in one project causes 3-5 minutes of discovery time (which is ridiculous considering the console does it in milliseconds).

[2017-03-17 14:56] onovotny opened #629 "Test Explorer fails to show tests. dotnet test works"
## Description
VS 2017 fails to see unit tests while running `dotnet test` on the command line properly sees and executes the tests.

## Steps to reproduce
checkout Ix.NET from here:
https://github.com/Reactive-Extensions/Rx.NET
commit: 01d73a4da3497fcf79194106e18f7757186ffb6a
Solution: /Ix.NET/Source/Ix.Net.sln

## Expected behavior
Test Explorer should discover the tests in the 'Tests' project

[2017-03-17 14:57] smadala commented on #523
known issue https://github.com/xunit/xunit/issues/1140.

For No source available and no code-coverage, I am not able to repro it on VS 15.0.26228.4, can please provide additional data.

- What is the VS 2017 build?
- Can you please share your project?

[2017-03-17 15:01] onovotny commented on #623
For #6, xUnit has long running test detection but it's off by default. Add a config value called `longRunningTestSeconds` and set it to a value that you want diagnostic messages sent to. https://github.com/Reactive-Extensions/Rx.NET/blob/develop/Rx.NET/Source/tests/Tests.System.Reactive/xunit.runner.json#L4

[2017-03-17 16:05] ManishJayaswal commented on #623
tagging @sbaid

[2017-03-17 16:05] benaadams commented on #623
Often also leaves lots of dotnet processes hanging around

[2017-03-17 16:06] pakrym commented on #623
Grouping in test explorer would be gold, it's so hard to navigate test by using search only.

[2017-03-17 18:46] rykr commented on #619
Here is my log file.    Do you see anything weird?  I see one area where there is a failure to enumerate some types.
[log.txt](https://github.com/Microsoft/vstest/files/851474/log.txt)

[2017-03-17 19:08] agocke commented on #623
cc @jcouv As ref-assembly generation may provide some benefits here.

[2017-03-17 20:04] genlu commented on #549
A related note: why TestPlatform picks JSON for serialization? I believe no one is consuming the json text, it is always just sent over the wire as raw bytes, is that correct? We would be able to see improvements (both size and speed) by switching to libraries like protobuf or simply handling serialization ourselves (directly into byte[])

[2017-03-17 20:04] genlu commented on #549
@ManishJayaswal

[2017-03-17 20:22] #27 closed

[2017-03-17 20:22] genlu commented on #27
Closed since I haven't seen this recently.

[2017-03-17 23:58] livarcocc opened #630 "dotnet test [project] should look for csproj"
_From @lukasz-pyrzyk on March 17, 2017 11:30_

My solution looks like:
[code]

## Steps to reproduce
`dotnet test Tests\Kronos.Client.Tests`

## Expected  behavior
`dotnet test` should automatically find single csproj in given path

## Actual behavior

## Environment data
[code]

I would suggest following points:
- Print information about given path
- If user passed a directory, try to find a cspr

[2017-03-18 00:16] livarcocc opened #631 "dotnet test -parallel N"
_From @lukasz-pyrzyk on March 17, 2017 14:39_

How to disable parallel run for xunit tests?

I found similar issues (#1447, #401), but they look out of date. There is no `-diagnostics`` flag.

Should I use `-s` and create some configuration file?

## Steps to reproduce
`dotnet test Project.csproj -parallel None`
or
`dotnet test Project.csproj -parallel none`

## Expected  behavior
Disable parallel

[2017-03-18 00:38] vector-man commented on #592
Yeah, I forgot to mention, it's a problem for all regular .NET projects for me too.

[2017-03-18 04:47] codito commented on #549
JSON protocol is available to editors: https://github.com/Microsoft/vstest-docs/blob/master/RFCs/0007-Editors-API-Specification.md. `TestCase`, `TestResult` are documented at the end of that doc.

[2017-03-18 05:22] codito commented on #549
Adding an example to help understand better (correct me if details are missing):
1. (LUT)Entrypoint app asks Test Platform (using TranslationLayer) to run a test assembly, the discovery/execution results come back as `TestCase`, `TestResult`  --> there a Deserialization from String to TestResult object here within TranslationLayer
2. Entrypoint app applies some business logic on the objects receiv

[2017-03-18 05:28] jonstelly opened #632 "Dotnet Core test executed in Visual Studio 2017 - Assembly.Load() is incorrectly able to load assemblies from Visual Studio Extensions"
## Description
Attempting to execute dotnet core unit/integration tests that use RavenDB 3.5.3 client.  These tests execute and pass using the dotnet CLI, or the ReSharper Test Runner in Visual Studio, but using the Test Explorer, they fail with an error about log4net and AppDomain.add_ProcessExit:

From debugging, I found that the ravendb client attempts to load log4net using Assembly.Load(...).

[2017-03-18 05:29] jonstelly commented on #632
![image](https://cloud.githubusercontent.com/assets/967068/24069270/d95f43a0-0b71-11e7-8218-cff2d6d6118a.png)
This screenshot was taken during the execution of the tests before I removed PowerShell and Xamarin.  That's a pretty painful workaround as I need to do some Xamarin development also.

[2017-03-18 05:37] codito commented on #631
In the new test platform, it is possible to pass args to adapters using the `dotnet test -- xunit.someconfig=somevalue` syntax. I think you can use parallelizeAssembly and parallelizeTestCollections options in xunit.runner.json (https://xunit.github.io/docs/configuring-with-json.html). A sample project with xunit.runner.json is available here: https://github.com/Reactive-Extensions/Rx.NET/blob/dev

[2017-03-18 05:37] #631 closed

[2017-03-18 05:42] codito commented on #630
Thanks for the feedback @lukasz-pyrzyk.

This fix will likely require a change in the logic to find csproj in `dotnet-test`: https://github.com/dotnet/cli/blob/master/src/dotnet/commands/dotnet-test/Program.cs#L184

[2017-03-18 05:53] codito commented on #592
Thanks for feedback everyone. We've a fix for this issue. It will be part of the next `15.1.x` preview of VS 2017.

[2017-03-18 06:27] codito commented on #623
@tannergooding wrote:

There's a detailed RCA on the discovery perf at https://github.com/Microsoft/vstest/issues/485. Here's the current action plan we're working on:
1. Source Information is a big contributor to slowness. We're prototyping if it's possible to find test source information in the IDE, instead of doing it in the adapter (remove the overhead of parsing PDBs and cross appdomain calls

[2017-03-18 06:33] codito commented on #485
Updating the current action plan:

1.  Source Information is a big contributor to slowness. We're prototyping if it's possible to find test source information in the IDE, instead of doing it in the adapter (remove the overhead of parsing PDBs and cross appdomain calls)
2.  App domains also slow down discovery. For desktop projects (in the older test platform), it is not possible to remove appdomai

[2017-03-18 06:53] codito commented on #619
@rykr can you please share `log.host.17-03-17_13-44-08_89009_1.txt` file too?

[2017-03-18 09:28] mgravell commented on #623
On the names/width issue; since the names are hierarchical, this seems to be a perfect opportunity for an implicit tree structure, perhaps grouped so that you don't have 5 levels with only one sub-level and nothing else; so in your example there would be just one parent node of

- Microsoft.AspNetCore.Kestrel. Server
 - Whatever
 - Another
 - Yada

Relatively simple UI change that could make it so

[2017-03-18 14:58] tannergooding commented on #623
@codito, Repro Steps:

* Enlist in Roslyn: https://github.com/dotnet/roslyn
* Run `Restore.cmd`
* Open Roslyn.sln
* Build Roslyn.sln
* Wait minutes for Test Explorer to Discover all 60k tests
* Make a whitespace change in some project
* Build Roslyn.sln
* Wait minutes for Test Explorer to Discover all 60k tests

I'm also not sure that reading source information is the slow part here, I'm pretty su

[2017-03-18 15:28] onovotny commented on #623
@tannergooding

That's not quite accurate. xUnit never uses Reflection to statically look at tests. It *always* executes the discoverer's, which can happen to be facts/theories, in the assembly under test. That's core to how xUnit is so flexible, you can provide custom discovery/execution mechanisms directly in the assembly under test.

[2017-03-18 15:36] tannergooding commented on #623
@onovotny, you're correct, just didn't explain myself very well 😄. I meant that the default discoverers (asumming you don't have any custom discoverers) appear to use reflection over attributes to locate the tests. Customer discoverers can do whatever mechanism they wish.

In either case, xUnit is able to discover all 60k of the Roslyn tests in seconds (not minutes), so discovery itself is not the

[2017-03-18 16:12] benaadams commented on #623
@tannergooding try opening Task manager next time and killing VsTest.Console while you are waiting...

[2017-03-19 12:36] AbhitejJohn opened #633 "/testcasefilter through translation layer"
## Description
There is no way currently for a consumer of the vstest.console translation layer to pass in arguments like /testcasefilter to vstest.console. It can only communicate through runsettings which does not understand filtering. This blocks consumers who do not store TestCase objects or those that tend to follow a command driven approach.

## Steps to reproduce
* Instantiate an instance o

[2017-03-19 12:37] AbhitejJohn commented on #633
@codito, @singhsarab : Thoughts?

[2017-03-20 08:16] davidfowl commented on #623
This just happened to me, opened a largish solution, discovered all test. Then I clicked Run All, and it proceeded to rediscover all tests.

[2017-03-20 08:19] anderslm commented on #523
@smadala
thx for pointing me to the xunit issue.

VS build: 15.0.0+26228.9

I've just spend two hours trying to reproduce the error in a new solution. Finally did it. It's really weird. You have to have a test class, that inherits from a super-class with a generic type-parameter. The generic-type supplied to the super-class then have to be a MVC controller. When all that is true and you mark a tes

[2017-03-20 12:14] codito commented on #246
Duplicate of #349

[2017-03-20 12:14] #246 closed

[2017-03-20 12:21] codito commented on #349
If anyone wants to try out fixes in xunit/visualstudio.xunit#103, private patches are available at https://www.myget.org/F/codito-private/api/v3/index.json. Please provide your feedback on the xunit issue.

Kindly note that these packages are shared for feedback purpose only, they are not supported or maintained, these fixes may or may not make it into the official releases.

We will close this is

[2017-03-20 12:21] #349 closed

[2017-03-20 12:45] StefH commented on #445
I've the same issue when using `NUnit` (without any custom output path setting).

Error message is like:
[code]

The csproj looks like:
[code]

[2017-03-20 14:17] NotMyself opened #636 "error CS0017: Program has more than one entry point defined."
## Description

I have a small single project console app called DotNetCoreKoans. It has embedded xunit tests in the project. After running `dotnet migrate` I can no longer build the project. In case it is not clear what my project looks like here is a screenshot showing the test location and my program.cs where my main method is.

![image](https://cloud.githubusercontent.com/assets/73120/24086241

[2017-03-20 14:31] codito commented on #623
@tannergooding I am able to reproduce it. Here are the numbers and steps to try out the "parallel discovery" in **Desktop** targeted projects:.

**1. Without any changes**, I see following elapsed time for discovery roslyn.sln:
`========== Discover test finished: 68797 found (0:10:50.8393771) ==========`

**2. With changes below**, this is how the numbers look (*~1/5th of earlier elapsed time*):
`

[2017-03-20 15:36] Faizan2304 commented on #522
An xunit logger is available at https://www.nuget.org/packages/XunitXml.TestLogger. Source code is available [here](https://github.com/Faizan2304/LoggerExtensions).

With `15.0-rtm` builds, user can specify logger with `dotnet test -a:. -l:<loggername>` to run tests with reporting. We've removed the need to specify `-a:.` in `15.1+`.

[2017-03-20 15:36] #522 closed

[2017-03-20 15:38] Faizan2304 commented on #254
Few CI reporters are available now:

| Scenario | Nuget Package | Source Repository |
| -------- | ------------- | ----------------- |
| Local, CI, CD | Inbuilt | [Trx Logger][] |
| Local, CI, CD | Inbuilt | [Console Logger][] |
| Local, CI, CD | [XunitXml.TestLogger][xunit.nuget] | [Xunit Logger][] |
| AppVeyor | [AppVeyor.TestLogger][appveyor.nuget] | [AppVeyor Logger][] |
| TeamCity | [TeamCity

[2017-03-20 15:38] #254 closed

[2017-03-20 16:51] livarcocc opened #637 "'dotnet test --no-build' not working on Linux when binaries were compiled on Windows"
_From @ChristophB125 on March 14, 2017 14:1_

## Steps to reproduce
1.) Create a new MSTest or XUnit project (e.g. in VS2017) targeting NetCore (version does not matter) and optionally add the Nuget package Microsoft.TestPlatform.TestHost.
2.) Compile on Windows using the latest SDK: dotnet clean; dotnet restore; dotnet build; dotnet test
3.) Copy the whole project to Linux and run the test using

[2017-03-20 16:51] livarcocc commented on #637
_From @blackdwarf on March 14, 2017 17:33_

/cc @codito

[2017-03-20 16:51] livarcocc commented on #637
I don't believe dotnet test is supposed to work across machines like that.

If you want to run a test dll from one machine into another, you can use dotnet vstest <path_to_test_dll>.

Can you try that?

[2017-03-20 16:51] livarcocc commented on #637
_From @ChristophB125 on March 15, 2017 0:43_

@livarcocc I get the exact same error and hanging behaviour when using vstest and pointing it to the dll of the test project.
The reason why I want to use it this way is: Only the Windows CI machines are building and publishing the assemblies and then the tests should be run on Linux using those assemblies. This way we can be sure that the tests test a

[2017-03-20 16:51] livarcocc commented on #637
_From @ChristophB125 on March 15, 2017 15:26_

Note that not only MSTest but also XUnit projects suffers from the same issue as well.

[2017-03-20 16:51] livarcocc commented on #637
Are you running restore after you copy the project over?

You need to either run restore on the project again to download the app dependencies to the nuget cache so that they can be found and used during run.

Or, you can try publishing your test app, copying it to the machine and using dotnet vstest. In the case of publish, it should the app dependencies to the publish folder, which you can then

[2017-03-20 16:51] livarcocc commented on #637
_From @ChristophB125 on March 20, 2017 12:6_

Ok. Thanks for the information about the need for publish and restore.
After a `dotnet restore` on the whole solution, executing the test project as `dotnet test --no-build  -o bin/Debug/netcoreapp1.1/publish` seems to work.
I also tried vstest and it seems that a 'dotnet restore' is not needed in this case when it is executed as:
`dotnet vstest bin/De

[2017-03-20 16:51] livarcocc commented on #637
_From @ChristophB125 on March 20, 2017 13:29_

Can you maybe elaborate a bit more about the difference between `dotnet test` and `dotnet vstest`? The official CLI documentation [here](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/) does not mention vstest. I'll leave the bug open in case you want to improve the error message or documentation but feel free to close it otherwise.

[2017-03-20 16:51] livarcocc commented on #637
Moving the bug to VSTest to see about better error and/or documentation.

[2017-03-20 20:18] tmeschter opened #638 ""Open Test" from Test Explorer window does not work with .NET Core project."
## Description

"Open Test" from Test Explorer window does not work with .NET Core project.

## Steps to reproduce

1. Download [DemoOn.NETCore.zip](https://github.com/Microsoft/vstest/files/856234/DemoOn.NETCore.zip) and extract it.
2. Open the solution.
3. Build the solution.
4. Open the Test Explorer window.
5. Right-click on one of the tests and select "Open Test" (or hit F12).

## Expected be

[2017-03-21 04:17] codito commented on #638
@tmeschter the `TrainerTests` test project was referring older versions of NET.Test.Sdk. Able to use `Open Test` after updating the references to following. Tested on VS 2017 RTM build.

[code]

[2017-03-21 05:30] gulbanana commented on #623
Keeping an excessive-overhead protocol for backwards compatibility isn't a good answer. There needs to be a way for software which *is* regularly updated to opt in to some fast communication mechanism. Really it should just be in-process function calls- it's not ok for the adapter infrastructure to be 90% of the time involved in running tests, not in this world of pervasive TDD and new features li

[2017-03-21 05:56] ManishJayaswal commented on #623
@codito what specific features are using the JSON protocol? I am trying to understand what breaks if this is discontinued to improve performance.
If it is not possible to break compat here then can we provide alternative speedy implementation for clients which do not need this?

[2017-03-21 05:58] codito commented on #196
Closing this issue since `shadow copy` feature is part of adapter business logic and is configurable. It is not possible to fix it from test platform.

[2017-03-21 05:58] #196 closed

[2017-03-21 06:03] codito opened #639 "Colored output for dotnet test"
`dotnet test` should print colored output on the console.

Proposal:
* Warnings - yellow
* Failed tests, Stacktraces - red
* Summary - green if run is successful, red otherwise.

[2017-03-21 06:03] codito commented on #255
Not fixing this issue since console output is minimized by default now. Only failed tests and stacktraces are printed on the console.

Will take up console coloring https://github.com/Microsoft/vstest/issues/639.

[2017-03-21 06:03] #255 closed

[2017-03-21 06:22] codito commented on #252
Error that shows up.

![test_project_unicode](https://cloud.githubusercontent.com/assets/28766/24134834/d5c6167a-0e2c-11e7-8abb-34fbccd95002.png)

[2017-03-21 07:43] codito commented on #595
Related to #428.

[2017-03-21 07:45] codito commented on #391
Related to #428

[2017-03-21 07:49] codito commented on #236
@singhsarab I think this is already fixed, can you please validate and close the issue?

[2017-03-21 07:58] codito commented on #600
The PR https://github.com/dotnet/cli/pull/5990 is green and merged. Closing this issue. It was possibly fixed by the netcoreapp2.0 move :)

[2017-03-21 07:58] #600 closed

[2017-03-21 08:54] codito commented on #623
@ManishJayaswal few scenarios: Editors (not all of which will be the same runtime as the test runner or the test host), the ability to decouple testhost in scenarios like Devices or remote execution. However I don't have the data to conclude that JSON protocol is the biggest bottleneck right now. There has been extensive discussion and profiling in #349 and #485 which suggested other big rocks. We

[2017-03-21 09:23] MiaomiaoHuangfu commented on #638
After updating the references to the above according to codito, "Open Test" from Test Explorer window works.
Verified on d15rel.26320.00.

[2017-03-21 12:36] codito commented on #638
Thanks for update @MiaomiaoHuangfu

[2017-03-21 12:36] #638 closed

[2017-03-21 12:42] codito commented on #494
`vstest.console` is now built for netcoreapp2.0, it is inserted with https://github.com/dotnet/cli/commit/d42602e3774149136d6fb2866225764f88ad0db6 in dotnet-cli repository.

[2017-03-21 12:42] #494 closed

[2017-03-21 13:12] Compufreak345 commented on #428
I just want to add myself as a customer being hit by this - it took me almost 2 days to figure it out, and making another developer scratch his head as I thought it was caused by his library.
https://github.com/NickStrupat/EntityFramework.Triggers/issues/13

For now I added the 2 lines to my .csproj and it works fine - but I really would appreciate a quick fix.

Thanks & best regards,
Christoph

[2017-03-21 13:51] Faizan2304 commented on #613
@arkasha: I tried to repro it but no luck. Can you please share a repro project.

Can you also try this:
Add following line in your test project and run the test
[code]

[2017-03-21 16:01] flagbug commented on #558
Had the same problem, for me removing `launchSettings.json` fixed it!

[2017-03-21 17:21] couven92 commented on #558
Would be nice if my problem could be solved as simple as that. **But I have no `launchSettings.json` that I could delete!** And it **still** does not work at my end...

[2017-03-21 18:15] couven92 opened #645 "Running test with multiple xunit projects in a solution"
In a solution with more than once XUnit test project, the Visual Studio test runner is only able to run the first xunit project in the solution. The xunit test runner then fails and prints the following to the test output:

Installed XUnit packages (verfied as being the same version on both test projects):
[code]

Visual Studio:
[code]

.NET Core SDK:
[code]

Installed .NET Core Runtime: `Version

[2017-03-21 22:49] cobyzeng commented on #558
Have you got any other test adapter installed? I had the same problem, for me disabling the NUnit adapter fixed it.

[2017-03-22 07:21] schwamster opened #646 "running dotnet test --logger:trx with docker does not always produce trx file"
## Description
running dotnet test --logger:trx in a docker image where the respective folder is mounted (Win 7 Docker Toolbox) will not produce a trx file since the produced filename is not valid on windows.

## Steps to reproduce
Win7 Docker Toolbox
[code]

The reason for this can be observed running the following sequence:

[code]
Now you can see that the trx file is created (since its done out

[2017-03-22 08:54] MiaomiaoHuangfu commented on #510
After updating the references to following, "Run Tests" from code editor succeeded as expected.
  <ItemGroup>
    <PackageReference Include="Microsoft.NET.Test.Sdk" Version="15.0.0" />
    <PackageReference Include="MSTest.TestAdapter" Version="1.1.13" />
    <PackageReference Include="MSTest.TestFramework" Version="1.1.13" />
  </ItemGroup>

Tested and verified on d15rel.26321.00.

[2017-03-22 09:01] MiaomiaoHuangfu commented on #510
After updating the references to following, "Run Tests" from code editor succeeded as expected.
[code]
Tested and verified on d15rel.26321.00.

[2017-03-22 12:11] gulbanana commented on #623
From my POV the goal is to be able to control how long tests take so that I can match their complexity to the logistics of my infrastructure. If some project has a workflow that involves CI processes then the 'budget' is based on git push frequency; if it's necessary to run tests during some library's development and use them as primary debug entry points then i want more responsiveness in the inn

[2017-03-22 15:27] codito opened #648 "Evaluate data interchange constructs in test platform"
Currently test platform uses JSON messages over sockets to communicate between runner and testhost.

Following scenarios must be supported for communication
* Runner and testhost are both in the same machine
* Runner and testhost are on different machines (remote scenarios). A variation is testhost running on attached devices
* Editor and IDEs must be able to control runner on a JSON protocol
* Ru

[2017-03-22 15:35] livarcocc opened #649 "Assembly.GetEntryAssembly() returns null during integration tests when targeting net462"
_From @nphmuller on March 22, 2017 13:5_

I'm not sure which repository this belongs in, so apologies in advance if it's in the wrong one.

I use Microsoft.AspNetCore.TestHost in a dedicated project for integration tests, which has a reference to the to be tested project (an Mvc Core API).

The following problem occurred after migrating from project.json to MsBuild.

In my startup I have many depe

[2017-03-22 17:39] smadala commented on #523
@anderslm Thanks for sample project, I'm able to repro it. But for similar test method MSTest
[mstest-simple.txt](https://github.com/Microsoft/vstest/files/862329/mstest-simple.txt) is working fine. This could be xunit issue.
/cc @onovotny @bradwilson Can you please look into this?

[2017-03-22 20:03] onovotny opened #650 "Binding redirects are not created for Test Projects"
In some cases, binding redirects are not being generated to test projects when they are needed. This is because the following two properties are missing from the default inferred targets:

[code]
This can come up if there are P2P references between a .NET 4.5 project that uses System.Net.Http and a .NET 4.6.1 test project that has any possible transitive ref to a newer http client lib. System.Net.

[2017-03-22 21:28] bradwilson commented on #523
Theory: Given the description, it sounds like there is probably a dependency lookup failure when getting source information, presumably because the MVC assembly is not loaded into that source info app domain.

[2017-03-22 23:58] genlu commented on #549
The steps you listed above is correct, and step (3) indeed is readonly. LUT has its own serialization logic (directly into byte[]), and it selects data we believe is required by Test Explorer (currently still missing some properties, hence this issue I created). So if we want to pass raw string to VS, then we definitly need the deserialization API from test platform, since the deserialization on V

[2017-03-23 04:23] codito commented on #650
Fixed with 758679f5b3f55d9a8b1cc2c696a2fe48e24ef6b1? @Faizan2304 please confirm and close.

[2017-03-23 04:31] codito commented on #649
@nphmuller can you please try test run with appdomains disabled in [xunit.runner.json](https://xunit.github.io/docs/configuring-with-json.html) (`appDomain`: `denied`)?

For desktop targets, test projects are library (in the msbuild world). The test framework adapters create an appdomain for loading test projects, and since the test project is library, `AppDomain.SetExecuteAssembly` is not called.

[2017-03-23 08:35] MrClyfar opened #652 "Live Unit Tests menu option is missing."
## Description
When I installed VS 2017 Enterprise, after it was released earlier in March, I was able to try out the Live Unit test feature without a hitch. At some point, which I'm not certain of, I've noticed that the Live Unit Test menu option is now missing. It's not displayed in the IDE at all. I cannot find the command in the menu bar customize dialog either. It's simply vanished.

I have r

[2017-03-23 08:49] MrClyfar commented on #652
Er, OK this is weird.

I just started VS 2017 now, and opened the unit test project I mentioned, and the  'Live Unit Tests' menu option has suddenly just appeared again in the 'Test' menu. However, when I click 'Start' I'm seeing a message

"Expected 1 export(s) with contract name 'Microsoft.CodeAnalysis.LiveUnitTesting.Orchestrator' but found 0 after applying application constraints"

I'm going t

[2017-03-23 08:56] MrClyfar commented on #652
As a test, I just closed VS 2017 and re-opened the unit test project again. The 'Live Unit Test' menu option has vanished again. I give up. This is doing my head in.

[2017-03-23 09:30] codito commented on #652
@ManishJayaswal

[2017-03-23 11:29] nphmuller commented on #649
Makes sense, because in the project.json structure the test runner was an executable (dotnet-test-xunit.exe).

Tried it and it works for this specific issue, but it also seems to have some side-effects.

After the line `var server = new Microsoft.AspNetCore.TestHost.TestServer(...)` I run `var client = server.CreateClient()`.
This line runs fine without `appDomain: denied`, even breakpoints work i

[2017-03-23 16:10] singhsarab commented on #236
This was fixed via https://github.com/Microsoft/vstest/pull/455

[2017-03-23 19:06] natemcmaster opened #654 "Live unit testing support for .NET Core"
.NET Core test projects don't support live unit testing yet.

**Steps to reproduce**
Test > Live Unit Testing > Start

**Expected**
It works

**Actual**
Log shows

**Environment**
VS 15.0 RTW

To triage team: I'm sure this is already a known issue, but I couldn't find an issue on GitHub or in VSTS to track this.

[2017-03-23 19:51] caleblloyd opened #655 "Failed to load System.Runtime when tests run from Test Explorer in VS 2017"
## Description

When running tests from Visual Studio Test Explorer, my `net462` tests fail with the exception:

[code]

When I run `dotnet test` from the command line, they work fine.  Additionally, they ran fine from the Test Explorer in previous versions of Visual Studio 2017.

## Steps to reproduce

The exception happens right when the test project calls into another `net462` console project.

[2017-03-23 20:16] caleblloyd commented on #655
If I add the following to my `test.csproj`, the tests will  run in the Test Explorer, however I get a bunch of "package downgrade warnings"

[code]

![image](https://cloud.githubusercontent.com/assets/2414837/24268384/ffc0cb74-0fe3-11e7-8ef6-1bbebbb74994.png)

[2017-03-23 20:34] caleblloyd commented on #655
It appears that the root problem is that my `net462` console application references an upstream package that is only build for `netstandard1.5`, which contains `4.3.0` references for all of it's `System` libraries.

I have rebuilt the upstream package separately for `net462` and the issue goes away.  Why is this just now becoming an issue, and why does it only affect the VS 2017 Test Explorer?  I

[2017-03-24 11:06] Suriman commented on #654
Please, we need it!. It is a very practical tool!.
Thanks!

[2017-03-24 12:10] saikatguha opened #657 "After dotnet publish, Could not find testhost.dll for source"
## Description
After running `dotnet publish` on a test project that includes a reference to Microsoft.TestPlatform.TestHost, and then deploying the published binaries to another host, running `dotnet vstest <project.dll>` throws the error `Could not find testhost.dll for source` even though `testhost.dll` is in the published directory.

Deleting `<project>.runtimeconfig.dev.json` makes `dotnet vs

[2017-03-24 17:38] NickCraver commented on #636
I hit this hard with porting Dapper as well, why is VSTest (if it is), injecting another entry point?

[2017-03-24 17:44] NickCraver commented on #636
Note: there's another bug here: VS reports the issue is with my `net451` build (incorrectly), not the `netcoreapp1.0` build that *actually* has the problem. So there's also an IDE reporting bug around this.

[2017-03-24 17:45] NotMyself commented on #636
@NickCraver FWIW xUnit looks to be solving this by assuming the responsibility over in xunit/xunit#1172

[2017-03-24 18:30] ayende commented on #627
@codito No, we need to see the actual output of the error.
Consider the case that several tests together get into a state that crash the process.
We want to see the actual stack trace /error that caused it.
Right now the error is going into the void.

[2017-03-24 23:01] ravisankar-krinik commented on #576
Look at this
http://www.michael-whelan.net/the-state-of-dotnet-core-testing-today/
x-unit runs in VS 2015

Install-Package xunit -Pre
Install-Package dotnet-test-xunit -Pre

[2017-03-25 15:10] tom3m opened #660 "Tests & Performance Profiler"
Hello team!

Currently it is not possible to run all or just several tests from test explorer under perfomance profiler.
So, it makes it impossible at all to understand main bottlenecks in a set of tests.
Resharper allows that option and it usefull so I don't see why it cannot/should not be done out of the box in the VS.

Thanks
Regards
Yahor Sinkevich

[2017-03-25 15:10] tom3m commented on #623
@codito My 5 cents to improve VS Test
https://github.com/Microsoft/vstest/issues/660

[2017-03-25 16:21] jonstelly commented on #632
Is this issue not clearly worded?  Just wondering since it doesn't seem to have been triaged.  To try and simplify I've attached a simpler test that doesn't use the ravendb client.

[AssemblyLoadExample.zip](https://github.com/Microsoft/vstest/files/870160/AssemblyLoadExample.zip)

    [TestClass]
    public class AssemblyLoadTests
    {
        [TestMethod]
        public void LoadLogForNet()

[2017-03-25 21:31] mgravell opened #661 "Test discovery leaves too many files locked - causes problems for metaprogramming"
## Description

When using `dotnet test` (and presumably other approaches), the discovery phase locks dll files, which are kept  locked for the duration of the execution phase. This means that if any of the files are actually *outputs* (meta-programming artefacts), they will prevent the second (etc) test runs from executing successfully

## Steps to reproduce

- write a test that emits a dll (meta

[2017-03-25 22:43] aelij commented on #661
One more option is to use `System.Reflection.Metadata` for discovery instead of `Assembly.Load`, then load only the assemblies that actually have extensions. Here's some [sample code](https://github.com/aelij/FasterReflection) I've used for similar purposes.

[2017-03-26 12:50] harshjain2 opened #662 "Translation layer : DataCollection Attachments are not reaching IDE."
## Description
Currently, Data collection attachments are not part of `TestRunCompletePayload` and therefore, not reaching IDE.
RCA : As soon as raw messages are received from test host in runner process, raw messages are sent to unblock event handlers.
https://github.com/Microsoft/vstest/blob/master/src/Microsoft.TestPlatform.CommunicationUtilities/TestRequestSender.cs#L224

This model works well

[2017-03-27 05:46] AbhitejJohn commented on #632
Interesting. I guess this is happening because of the powershell tools test adapter that the test platforms assembly resolution is automatically pointing to. Since this is .Net core there isn't a separate appdomain where tests are loaded and run from. It looks like the test adapter assembly resolver is creeping into the test run. We need to turn it off after the adapter is loaded.

[2017-03-27 06:04] #404 closed

[2017-03-27 09:42] #595 closed

[2017-03-27 09:42] #428 closed

[2017-03-27 09:57] Faizan2304 commented on #650
Yes the issue has been fixed.

[2017-03-27 09:57] #650 closed

[2017-03-27 10:53] Faizan2304 commented on #636
@NotMyself : You are hitting this issue because vstest is injecting an entry point for all test project. This is done to help users, where test project targets netcoreapp ( we have a tracking bug where entry point is getting added for projects targeting Full .Net here #608 and we plan to fix this in our upcoming releases)

Since your test project is adding entry point itself, you can suppress auto

[2017-03-27 13:10] sbaid opened #664 "Add VS Unit testing templates for .NET core 2.0"
## Description
Based on the outcome of the discussion https://github.com/dotnet/roslyn-project-system/issues/1836
Add new templates or update existing .NET core 1.1 templates

## Steps to reproduce

## Expected behavior

## Actual behavior

## Environment

[2017-03-27 16:01] sbaid opened #666 "Enable CLI UT template for .NET core 2.0"
## Description
dotnet new mstest for the latest master branch build does not support `-f netcoreapp2.0`

## Steps to reproduce

## Expected behavior

## Actual behavior

## Environment

[2017-03-27 16:06] NotMyself commented on #636
@Faizan2304 this seems to resolve my immediate issue. Adding the new property group to my csproj allowed me to successfully run `dotnet build`, `dotnet test` and `dotnet run`. I am resolving this bug in my project.

[2017-03-27 16:12] sbaid commented on #666
@blackdwarf @morrisjoe @pvlakshm @livarcocc  I see that `dotnet new` behavior is different for templates. Web template support `-f netcoreapp1.0/1.1` whereas  console template support `-f netcoreapp2.0` only.

This item is to change the behavior of `dotnet new mstest/xunit` to same as `dotnet new console` and only support `netcoreapp2.0` . Pl clarify.
@codito

[2017-03-27 16:20] livarcocc commented on #666
There are no templates for web yet because the binaries are still being worked on.

cc @mlorbetske who owns the templates.

[2017-03-27 16:55] sbaid opened #667 "Add test coverage for the netcoreapp2.0 in acceptance tests"
## Description
This will by default include the package fallback folder coverage.

https://github.com/dotnet/cli/issues/6100
https://github.com/dotnet/cli/issues/5575
https://github.com/NuGet/Home/wiki/%5BSpec%5D-Fallback-package-folders

## Steps to reproduce

## Expected behavior

## Actual behavior

## Environment

[2017-03-27 16:57] sbaid commented on #667
@livarcocc do u see any other work in `dotnet test` apart from validation of scenario.

[2017-03-27 17:07] harshjain2 commented on #646
@schwamster You can provide custom filename for trx logger file.

`dotnet test --logger "trx;LogFileName=abc.trx"`

Will this solve your issue?

[2017-03-27 19:10] schwamster commented on #646
valid workaround. still would be nice if it worked the same way ( plus compatible) not matter what operating system.

[2017-03-27 23:54] bryanrcarlson commented on #558
I had the same error, no launchSettings.json file present and no other adapters.  I'm not sure exactly what fixed the problem but I did a couple of things.  I closed VS 2017, ran the test on the command line (dotnet test) then reopened my project in VS2017.  During the launch I got a "Inconsistent Line Endings" prompt for my test .cs file.  I confirmed to make all line endings CR LF.  Now things w

[2017-03-28 04:23] harshjain2 commented on #646
@schwamster Thanks for the feedback.

This issue seems to be specific to Win7 only.
I tried the below command by installing docker in Win10, it is working.

mkdir /app-test && cd /app-test
dotnet new xunit
dotnet restore
dotnet test --logger:trx
cp -R TestResults /app/

[2017-03-28 05:21] #636 closed

[2017-03-28 06:10] #608 closed

[2017-03-28 06:28] schwamster commented on #646
@harshjain2 you are more or less right. The bigger problem i described only applies to windows 7 + docker toolbox. It does work on win 10 with docker for windows - but if you look closely it also is a bit hacky. The colons get replaced by some other strange character. I suppose this is either windows or docker for windows compensating. So on win 10 in will be able to produce the report but it will

[2017-03-28 07:38] rm2k opened #668 "Service added to ItemGroup"
## Description

Running tests in visual studio 2017 add the following in test project `*.csproj`. Is this normal? what is Service?

      <ItemGroup>
          <Service Include="{82a7f48d-3b50-4b1e-b82e-3ada8210c358}" />
     </ItemGroup>

## Steps to reproduce

Create a new console project, and create a new test project, either `mstest` or `xunit` project.

Build the solution to discover the test

[2017-03-28 07:49] RehanSaeed opened #669 "Passing the ASP.NET Core Environment to the Dotnet Test Runner"
Moved from https://github.com/xunit/xunit/issues/857. It would be incredibly useful if I could do something like this in my functional tests:

[code]

Instead of having to set the `ASPNETCORE_ENVIRONMENT` environment variable before running the test and then resetting it at the end of the test. The other advantage is that you can run more than one set of tests at the same time which is important f

[2017-03-28 13:52] Faizan2304 commented on #391
Issue:: If a user's project is taking a dependency on Newtonsoft.Json with version `6.0.5` and in test code he is using Newtonsoft API's inside an appdomain. Appdomain uses config file of the parent process if not provided any, so here it will use testhost config file which has binding redirect `<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />`. Since the user's projects is de

[2017-03-29 01:22] davidfowl commented on #623
@codito Is anyone working on fixing any of the issues mentioned?

[2017-03-29 03:16] PureKrome commented on #623
First time VS Test user, long time R# user.

Started with `VS 2017 Community Edition` to see if it's caught up with Resharper (aka R#) for _some/specific_ features. Literally unable to do any testing because of the tooling ... or more precise, the same issues @davidfowl has accurately and kindly mentioned.

**Literally all the points raised impact us here too :(**

Even something as simple and sim

[2017-03-29 03:18] davkean commented on #623
Test Explorer does let you group by one level:
![image](https://cloud.githubusercontent.com/assets/1103906/24437058/996fa0ec-148a-11e7-9f21-953f6167fccf.png)

[2017-03-29 03:20] PureKrome commented on #623
@davkean That's just one level though. Notice how I mentioned *Tiered* levels?

It's nice to break it down by Tiers. I think @mgravell said the same thing, above?

[2017-03-29 03:22] davkean commented on #623
Ah, misread your second image, apologies. :)

[2017-03-29 14:03] RehanSaeed commented on #383
@codito I'm using a csrpoj based project. How can I pass a command line argument to `dotnet test` and somehow read the value in my tests?

[2017-03-29 14:19] couven92 commented on #558
In my case, this is probably related to: https://github.com/dotnet/sdk/issues/1018

As stated in https://github.com/dotnet/sdk/issues/1018#issuecomment-289134060 the following comment and discussion https://github.com/Microsoft/msbuild/issues/1603#issuecomment-283104367 gives a possible solution.

[2017-03-29 17:27] livarcocc opened #671 "Tests no longer running after removing old versions of dotnet cli"
_From @severisv on March 29, 2017 14:12_

## Description
Tests no longer running after removing old versions of dotnet core sdk. Tests did run when old versions of SDK were present, but not in Visual Studio - only in cmd.

## Steps to reproduce
Remove all versions of dotnet SDK.
Install the latest version of dotnet SDK.
`dotnet test` on

[code]

## Expected behavior
Tests are run

## Actual behavi

[2017-03-29 21:40] ManishJayaswal commented on #623
@codito

This does appear to be a significant bottleneck for LUT runs. With every LUT run ( which we do after every edit) here is what we are seeing:
* This greatly increases the size of payload we have to send over the wire for IPC. Since we have to do a lot of IPC between Test Host, test console and LUT process, it is showing up as a significant bottleneck. For a test run of about 2000 tests, th

[2017-03-29 23:00] ManishJayaswal commented on #652
This is likely because the MEF cache is dirty. Can you please run Developer Command Prompt for VS 2017 as administrator and run the following command - "devenv /clearcache /setup"

[2017-03-29 23:36] jaymedavis commented on #445
@StefH I have the exact same problem. Did you figure this out?

[2017-03-30 02:05] codito commented on #623
@ManishJayaswal I will follow up with you offline to get the traces.

[2017-03-30 02:29] codito commented on #445
@StefH @jaymedavis does test project output path contain any `*.TestAdapter.dll` assemblies? e.g. `C:\xxx\SimMetrics.Net\tests\SimMetrics.Net.Tests\bin\Debug\net45`

[2017-03-30 08:56] #400 closed

[2017-03-30 09:01] davkean commented on #625
@codito this seems likes a fairly big regression moving to CPS, because we're starting enabling more projects to do this, I'd like to get to the bottom of this - this has somewhat broken my workflow for writing tests.

[2017-03-30 09:03] davkean commented on #668
@Faizan2304 This is a dupe of https://github.com/Microsoft/vstest/issues/472.

[2017-03-30 11:09] robalexclark commented on #579
I was struggling with this, but found Microsoft.CodeCoverage started working when I added <debugtype>Full/> to the project containing the assembly to have coverage:

I'm using Microsoft.CodeCoverage 1.0.2, xunit 2.2.0, Ms.Test.sdk 15.0. The project under test is .net framework 4.5.1 and uses nuget packages for .net core 1.1.1 throughout

Can someone else please check and confirm?

  <PropertyGroup

[2017-03-30 13:10] Faizan2304 commented on #668
@davkean : Yes this is a dupe of https://github.com/Microsoft/vstest/issues/472
@rm2k : I am closing this bug as we are tracking it through https://github.com/Microsoft/vstest/issues/472

[2017-03-30 13:10] #668 closed

[2017-03-30 13:29] severisv commented on #671
Update:
It seems that this is not directly related to testing, but rather me being unable to run any .NET Core app targeting net461 on my machine and `dotnet test` not revealing the error.

When I do `dotnet run` on any .NET Core Web App (.NET Framework) I get the following error:
[code]

[2017-03-30 15:24] twsouthwick commented on #579
@robalexclark your test is running on .NET Framework which is supported at the moment. The `debugtype` had to be changed because by default it builds with the new portable format, which is currently unsupported with vstest. If you switched your test to run as a .netcoreapp you won't see any coverage results.

This is probably not what you think it means. The nuget packages may support .NET Core 1.

[2017-03-30 15:27] robalexclark commented on #579
Apologies yes you are right - I am running on .net 4.5.1 as runtime.

[2017-03-30 15:28] twsouthwick commented on #579
Easy mistake to make in some projects!

[2017-03-30 21:19] ekumlin commented on #525
@AbhitejJohn What version is this fix in? This is considered a blocking issue for our team.

As of *15.0.0+26228.10*, I still get `Message: Assert.Inconclusive failed.`.

[2017-03-30 21:39] shyamnamboodiripad opened #673 "VB unit test project templates that ship in VS 2017 do not reference TestPlatform nugets"
## Description
Live Unit testing does not work out of the box for VB unit test projects created using VS 2017

## Steps to reproduce
1. Create a new VB Unit Test Project in VS 2017 -
![image](https://cloud.githubusercontent.com/assets/10579684/24526659/bf3032d2-1553-11e7-8349-0cc1b0d979c3.png)
2. Build the project
3. Turn on LUT (Test -> Live Unit Testing -> Start)

## Expected behavior
LUT is tur

[2017-03-31 05:49] AbhitejJohn commented on #673
@shyamnamboodiripad : The in-box VB templates have not moved to the new framework by default yet. This is on our backlog. As you mentioned, this should work automatically post the move.

[2017-03-31 05:49] singhsarab commented on #236
Validated. Closing.

[2017-03-31 05:49] #236 closed

[2017-03-31 05:54] AbhitejJohn commented on #673
Copied to Microsoft/testfx#132.

[2017-03-31 05:54] #673 closed

[2017-03-31 06:08] AbhitejJohn commented on #525
@ekumlin : This is currently flowing out post the 15.1/15.2 release trains.
/cc: @sbaid, @pvlakshm on the blocking part.

[2017-03-31 06:20] tomkerkhove commented on #525
@AbhitejJohn Thanks for the update, what's the ETA for that?

[2017-03-31 07:50] sbaid opened #674 "Scaling up Test Discovery for large solutions"
## Description
Test Explorer discovers _all_ tests containers* and tests in the _changed_ test containers when the solution is opened or is built. This poses following issues for large solutions
1. On Solution load Test discovery for a solution containing 50+ projects & order of 10K+ tests takes order of minutes. User need to wait for it. It is neither optional nor cancelable.
2. On solution build

[2017-03-31 08:46] pvlakshm opened #675 "Make the Test Explorer playlist extensible"
## Description
Enable other VS Components to integrate into the Test Explorer's playlist functionality.

[2017-03-31 08:58] pvlakshm opened #676 "Visual Studio Test Explorer backlog"
## Visual Studio Test Explorer backlog
This backlog captures the focus of our upcoming work on the Visual Studio Test Explorer.
Please considering voting on the individual issues below.

- [ ] Accessibility drive
- [ ] Perfwatson issues
- [ ] Multi TFM support: [#298](https://github.com/Microsoft/vstest/issues/298), [#624](https://github.com/Microsoft/vstest/issues/624)
- [ ] Improved DPL integrat

[2017-03-31 09:10] pvlakshm commented on #623
Thank you for all the feedback and discussions.

Here is a summary of the concerns raised in this thread. I have pointed to the relevant issue tracking it.
At the end I have added a pointer to the Test Explorer backlog. Please take a look there and vote up the individual issues therein. We will be executing based on the vote count.

**1. The test explorer window is too narrow and test names are un

[2017-03-31 09:43] PureKrome commented on #485
re (3) - yep, would love to cancel if it's taking too long. Scenario: I just need to test _one_ test out and fix stuff. Not have to wait etc...

[2017-03-31 09:57] PureKrome commented on #623
@pvlakshm or @codito - how about my questions about:

- Tier'd heriachy instead of the current two tiers. I think this question is different to question (1) "test window to narrow..."
- Moving the test visual Green/Red button/circle from codlens to free. Not all of codelens stuff, just the RED/GREEN test buttons. (who is the manager to ask about this one? yes, i know this is a huge long shot .. bu

[2017-03-31 14:12] TheAngryByrd commented on #445
I'm also experiencing the same issue with xunit.

[code]

fsproj:
[code]

[2017-03-31 14:27] AbhitejJohn commented on #471
This has been fixed in MSTest.TestFramework (1.1.14) and MSTest.TestAdapter (1.1.14). Release notes are [here](https://github.com/Microsoft/testfx-docs/blob/master/docs/releases.md#1114). Thanks for reporting this.

[2017-03-31 14:27] #471 closed

[2017-03-31 14:44] smadala commented on #639
Fixed in: 85b615b4c7d209e4696100d699725ee42baf8ea2

[2017-03-31 14:44] #639 closed

[2017-03-31 15:02] jaymedavis commented on #445
I am using xunit as well. I believe the issue is it's looking at the x86 version of the sdk. I only installed the 64bit version originally. When I installed the x86 sdk, that took care of it.

I did a lot of things working on this problem yesterday, so let me know if this solves it 👍

[2017-03-31 17:28] codito commented on #649
@natemcmaster @NTaylorMullen any idea if `CreateClient` requires an appdomain?

[2017-03-31 17:34] NTaylorMullen commented on #649
It shouldn't. It's more or less just a pas through to creating an http client: https://github.com/aspnet/Hosting/blob/120fec741d3a0f216bada8135ec73cc15f5dbcfb/src/Microsoft.AspNetCore.TestHost/TestServer.cs#L58-L67

[2017-03-31 17:34] codito commented on #445
I think `NUnit` test projects are probably hitting https://github.com/nunit/nunit3-vs-adapter/issues/296. Please try this workaround:

[code]

@TheAngryByrd `XUnit` tests seem to have a requirement on `net452` (from https://xunit.github.io/docs/getting-started-desktop.html). Can you please try with `net452`?

[2017-03-31 17:40] nphmuller commented on #649
@NTaylorMullen That's what I though, plus the code worked fine in the project.json style project.

By the way, can you reproduce the issue? I can extend the code in my sample repo  with the CreateClient call if you'd like me to.

[2017-03-31 17:46] natemcmaster commented on #649
This looks like https://github.com/dotnet/core-setup/issues/1017

[2017-03-31 18:35] TheAngryByrd commented on #445
[code]

[code]

[2017-03-31 18:41] shyamnamboodiripad commented on #673
@AbhitejJohn Thanks for clarifying. Hopefully this can be fixed for the next major update of VS 2017.

[2017-03-31 18:42] jaymedavis commented on #445
@TheAngryByrd I believe your issue on osx is net452 doesn't exist there. You should only target netcoreapp1.1, as that's compatible with your mac

[2017-03-31 18:51] TheAngryByrd commented on #445
Figured it's some mono issue.  I can get it to build with mono with this https://github.com/dotnet/netcorecli-fsc/wiki/.NET-Core-SDK-1.0.1#using-net-framework-as-targets-framework-the-osxunix-build-fails just fine, but can't run the tests.

[2017-03-31 19:43] TheAngryByrd commented on #445
For sake of completion. I also get this error:

[code]

I'd be willing to look into making this work for mono.  Any pointers you have would be appreciated.  cc: @nosami @mrward

[2017-04-01 01:31] codito commented on #445
@TheAngryByrd this error is coming because `vstest.console.dll` is trying to read stderr of `testhost.*.exe` process (it would have launched this process to actually run the tests).

Possibly `testhost.*.exe` process is not getting launched in mono (since vstest.console just invokes `testhost.exe` without `mono` prefix, since it is not aware of mono runtime)?

[2017-04-01 01:40] codito opened #679 "Support net452 tests in osx/linux (with mono)"
It is possible to build projects targeting `net4x` with `dotnet build` (using these steps: https://github.com/dotnet/netcorecli-fsc/wiki/.NET-Core-SDK-1.0.1#using-net-framework-as-targets-framework-the-osxunix-build-fails).

`dotnet test` should invoke testhost with `mono` runtime for `net4x` targets in osx/unix.

[2017-04-01 08:32] codito commented on #548
Closing since this is already tracked in testfx repo.

[2017-04-01 08:32] #548 closed

[2017-04-01 08:33] codito commented on #374
MSTest framework is now open source at https://github.com/microsoft/testfx.

[2017-04-01 08:33] #374 closed

[2017-04-01 08:33] codito commented on #384
Closing since already tracked in testfx repo.

[2017-04-01 08:33] #384 closed

[2017-04-01 08:36] codito commented on #666
Templates for `netcoreapp2.0` are already available in `dotnet new` (dotnet-cli downloaded from dotnet-cli/master). This issue is probably no-op.

Here's the source: https://github.com/dotnet/templating/blob/rel/vs2017/post-rtw/template_feed/Microsoft.DotNet.Test.ProjectTemplates.2.0/content/MSTest-CSharp/Company.TestProject1.csproj

[2017-04-01 08:38] codito commented on #492
This rootcause is external to vstest. Will close this one. Please create an issue in corefx if this requires follow up.

[2017-04-01 08:38] #492 closed

[2017-04-01 11:16] codito commented on #679
Tried to workaround by making `sdk/TestHost/testhost.x86.exe` a shell script and invoking the actual testhost.x86.exe with mono inside that. Here's the shell script I used:
[code]

It seems testhost is exiting early and that breaks the communication pipe. The `Process.Exited` event on monitored parent process fires even if the vstest.console.dll process is still running. Note the timestamps in log

[2017-04-01 14:22] larini commented on #578
Same problem here.
Linux works fine.
Mac can't find tests.

[2017-04-01 19:30] dougbu opened #680 "`VSTestTask` only logs to the console"
## Description
File logging output contains information about _calling_ the `VSTestTask` but no output from the task itself. This makes it difficult to search the test's output.

## Steps to reproduce
Appears to occur with every ASP.NET repo. For example,
1. `git clone https://github.com/aspnet/HtmlAbstractions.git`
2. `cd HtmlAbstractions\test\Microsoft.Extensions.WebEncoders.Tests`
3. `dotnet re

[2017-04-02 03:16] codito commented on #680
@dougbu can you elaborate little more on the scenario? Is the user intention to customize/diagnose build parameters for vstest task? Is it in the CI or devbox? Can the stdout/stderr redirection with `dotnet test -f netcoreapp2.0 2> vstest.log` or `dotnet test -f netcoreapp2.0 | tee vstest.log` help?

[2017-04-02 04:06] codito commented on #661
@mgravell I could clean the output folder between test runs by adding following `Target` to test project. Hope this will help workaround the issue.

[code]

If I've a test project `test.dll` and it generates `a.dll` during test execution. Now `a.dll` is generated during first run, for the second run we observe `a.dll` is getting loaded during `dotnet test` invocation. So when the test actually exe

[2017-04-02 06:23] dougbu commented on #680
The scenario is diagnosing test failure, reviewing what the tests output. If diagnosing the task parameters were of interest, the minimal logging from the task would be useful.

This is on a developer's machine. By default, we run our command-line builds with a file logger for detailed output. The log file is very useful for searches, reviewing data lost in screenfulls of output, and occasionally

[2017-04-02 09:00] aelij commented on #661
I think the test host loads assemblies in order to discover extensions (see [here](https://github.com/Microsoft/vstest/blob/85b615b4c7d209e4696100d699725ee42baf8ea2/src/Microsoft.TestPlatform.Common/ExtensionFramework/TestPluginDiscoverer.cs#L168) for example). Couldn't that also be a problem?

[2017-04-03 07:29] davidfowl commented on #627
Is there any progress on this? This is one of the most annoying things about working with the new test runner.

[2017-04-03 08:47] codito commented on #625
@harshjain2 can you please look into it?

[2017-04-03 11:33] rnowosielski commented on #578
I am running into the same issue. Is there any known workaround for this ?

[2017-04-03 11:35] #398 closed

[2017-04-03 13:44] codito commented on #680
Thanks for clarification. We need to wire this in.

Possibly use `ToolTask` (https://msdn.microsoft.com/en-us/library/microsoft.build.utilities.tooltask.aspx) for VSTestTask implementation or listen to stderr/stdout of vstest.console.

[2017-04-03 23:38] GaTechThomas opened #683 "After switching from vstest v1 to v2, ASCII bell character in test causes vsts-agent to fail to publish results."
After opening this in the vsts-agent repo, it occurred to me that this is probably something that should be handled in the new version of vstest:

https://github.com/Microsoft/vsts-agent/issues/899

I apologize that I don't know the appropriate way to handle this cross post.

[2017-04-04 00:40] TingluoHuang commented on #683
@nigurr

[2017-04-04 05:42] singhsarab commented on #403
Currently, single instance of dotnet-vstest services only one request at a given instance.

[2017-04-04 06:35] smadala commented on #666
dotnet cli: 2.0.0-preview1-005696 has netcoreapp2.0 templates. closing the issue.

[2017-04-04 06:35] #666 closed

[2017-04-04 08:11] singhsarab commented on #402
There is nothing special for serialization of the nested exceptions.
It is reported like
"Test method UnitTestProject7.UnitTest1.TestMethod1 threw exception: \r\nSystem.Exception: DummyException ---> System.Exception: DummyInnerException"

The result also contains the StackTrace
"at UnitTestProject7.UnitTest1.Foo() in C:\\Users\\userA\\Documents\\Visual Studio 2017\\Projects\\UnitTestProject1\\Uni

[2017-04-04 08:11] #402 closed

[2017-04-04 08:16] singhsarab commented on #401
Received error messages do not change the workflow of operation.
Even for fatal errors, we send a proper message. For example, For given run request, the operation aborts because of some fatal error, but still dotnet-vstest will report a test run complete with aborted flag set to true. Hope that clarifies your doubt.

[2017-04-04 08:16] smadala commented on #664
fixed in: https://github.com/dotnet/sdk/pull/1067

[2017-04-04 08:16] #664 closed

[2017-04-04 08:24] singhsarab commented on #399
This is just an optimization to send just one message instead of two in the end.
But then as per SRP, this seems to be a good feedback.

Also, I guess we might need it for data collector support as well. @harshjain2 share your thoughts.

[2017-04-04 10:05] pvlakshm opened #684 "Devices support in vstest"
## Description

- Author a test in VS IDE, be able to deploy and run it on device, and view the outcome in the Test Explorer.
- Author a test in VS IDE, be able to deploy and debug it on device.
- Author a test, be able to deploy and run it on device using the command line, and view the outcome on the command line.
- Deployment to device, and launching the tests on device, must be realized using e

[2017-04-04 10:23] pvlakshm opened #685 "Enables Fakes support in vstest"
## Description
Currently test projects taking a dependency on Fakes cannot be migrated to **vstest**. This issue tracks adding support for adding Fakes, that will then enable such projects to be migrated.

[2017-04-04 12:28] pvlakshm opened #686 "vstest backlog"
## vstest backlog
Here is our [roadmap](https://github.com/Microsoft/vstest-docs/blob/master/roadmap.md). It calls out the broad themes for our work on the test platform. The below list of issues breaks that down to the line item level focus of our work aligned to the roadmap.

**Configurable CLI**
- [x] Filtering for dotnet test [#334](https://github.com/Microsoft/vstest/issues/334)
- [x] Logger

[2017-04-04 12:41] sbaid opened #687 "Fix additional arguments help in dotnet test"
## Description
dotnet test -h displays this in help.
[code]
suggest change first line to
[code]

This help caused the confusion referenced in this https://github.com/dotnet/cli/issues/5659

## Steps to reproduce

## Expected behavior

## Actual behavior

## Environment

[2017-04-04 13:20] sbaid opened #688 "vstest.console requires /testadapterpath:. when running fullclr tests"
## Description
vstest.console UnitTestProject1.dll `/testadapterpath:.`
`testadapterpath:.` should be picked by default.

## Steps to reproduce

## Expected behavior

## Actual behavior

## Environment

[2017-04-04 13:21] sbaid commented on #688
/cc @codito

[2017-04-04 13:24] codito commented on #688
Duplicate of https://github.com/Microsoft/vstest/issues/251

[2017-04-04 13:24] #688 closed

[2017-04-04 13:28] #391 closed

[2017-04-04 13:28] #613 closed

[2017-04-04 13:39] sbaid commented on #251
@smadala @codito @pvlakshm How about including source directory in `testadapterpath` by default only if there is _only_ one source directory

That is
* vstest.console c:\foo\mytest.mstest.dll [works]
* vstest.console c:\bar\mytest.xunit.dll [works]
* vstest.console c:\foo\mytest.mstest.dll c:\bar\mytest.xunit.dll [requires /testadapterpath to be specified explicitly]

On a side note - Does `/testa

[2017-04-04 15:29] smadala opened #689 "Default test adapters not available for testhost, due to unavailable of Extensions folder."
## Description
- Extensions folder not available testhost.x86.exe in artifacts\Debug\net46\win7-x64\TestHost.
- This cause failure of `CPPRunAllTestExecution` acceptance test failure.

## Steps to reproduce

## Expected behavior

## Actual behavior

[2017-04-04 15:31] #299 closed

[2017-04-04 15:33] smadala commented on #272
Tracking this [here](https://github.com/Microsoft/vstest/issues/689).

[2017-04-04 15:33] #272 closed

[2017-04-04 15:34] Faizan2304 commented on #657
@saikatguha : Thank you for opening the issue with us. I have created a PR to fix this issue.
I have a question here... as per my understanding publish folder shouldn't have `<project>.runtimeconfig.dev.json`. So I got confused here how your publish folder is having `<project>.runtimeconfig.dev.json`.
Am I missing here something?

[2017-04-05 05:35] richarddowner commented on #578
Can also confirm, mac can find tests, windows and linux can. Thanks

[2017-04-05 06:02] Faizan2304 commented on #637
@livarcocc
The `dotnet test` and `dotnet vstest` are wrapper on `vstest.console.dll`. The main difference between them is that `dotnet vstest` need test-file from which it directly run the test. On the other side `dotnet test` need csproj file on which it will do build (if --no-build is not specified) for you and pass all the necessary argument (like framework, testadapter path etc if needed) to v

[2017-04-05 06:02] #637 closed

[2017-04-05 10:00] Faizan2304 commented on #657
Fixed!!!

[2017-04-05 10:00] #657 closed

[2017-04-05 11:12] smadala commented on #578
@rnowosielski Can you try increase max limit for number open files per process, Eg: By adding `ulimit -n 4096` to /etc/profile.

[2017-04-05 11:41] smadala commented on #645
@couven92 Thanks for logging issue.
- Can you please share solution?
- What is output of `dotnet test` for Project2 project?

[2017-04-05 13:19] hickford commented on #374
Great!

[2017-04-05 14:03] saikatguha commented on #657
@Faizan2304: `<project>.runtimeconfig.dev.json` might have been put there by `dotnet vstest -o <publishDir> ...` when building or something else in the build script. Either way, the fix works. Thanks!!

[2017-04-05 14:51] shakie commented on #578
@smadala I can confirm that adding ``ulimit -n 4096`` to /etc/profile fixed the issue for me.

OS: OS X 10.11.6
CLI: 1.0.1 (005bd40cd1)
SDK: 1.1.0 (928f77c4bc3f49d892459992fb6e1d5542cb5e86)

[2017-04-05 14:52] smadala commented on #578
/cc @bradwilson @ @onovotny
Discovery is failing with `System.IO.IOException: Too many open files` at
https://github.com/xunit/visualstudio.xunit/blob/2.2/xunit.runner.visualstudio.desktop/VsTestRunner.cs#L432.
This exception should be logged to testplatform.

[2017-04-05 14:59] smadala commented on #516
Work around: https://github.com/Microsoft/vstest/issues/578#issuecomment-291829228
duplicate: https://github.com/Microsoft/vstest/issues/578

[2017-04-05 14:59] #516 closed

[2017-04-06 06:54] smadala commented on #667
Fixed in: f20e81ca2d6247cc465c627d005d9b091abcff71

[2017-04-06 06:54] #667 closed

[2017-04-06 06:59] codito commented on #592
Fix is available for regular .NET projects https://blogs.msdn.microsoft.com/visualstudio/2017/04/05/visual-studio-2017-update/

Keeping this issue open to track Create Unit Test support for .NET core projects.

[2017-04-06 07:09] smadala commented on #290
Fixed in: 2e3da4b3aeaebdf9dd2ace7c2d55413ae4318b2e, By adding `app.config` for vstest.console project.

[2017-04-06 07:09] #290 closed

[2017-04-06 08:57] smadala commented on #578
Moved issue to xunit repo: https://github.com/xunit/xunit/issues/1199

[2017-04-06 08:57] #578 closed

[2017-04-06 09:04] gulbanana commented on #686
any plan to work on improved handling of multi-TFM testing? right now, you can't write a set of tests for multitargetting projects and run it against each tfm in visual studio.

[2017-04-06 09:08] smadala commented on #252
Verified in: 15.1(26405.3) vsuwpt. Files contents are intact without any warning.

[2017-04-06 09:08] #252 closed

[2017-04-06 09:32] codito commented on #686
@gulbanana MTFM support (tracked by #298) is at the top of [test explorer backlog](https://github.com/Microsoft/vstest/issues/676).

[2017-04-06 09:37] gulbanana commented on #686
great! i didn't realise that was a separate issue :)

[2017-04-06 09:44] davkean opened #692 "Tests fail with "Could not load file or assembly 'Microsoft.VisualStudio.Shell.Interop" when PowerShell tools are installed and you use Microsoft.VisualStudio.Shell.Interop"
After upgrading to xUnit 2.2, every VS test over in http://github.com/dotnet/project-system is failing with:
[code]

We use this assembly in our tests, however, the binary lives alongside our tests - and before upgrading to xUnit 2.2 there was no issues loading it.

1. This only occurs when the PowerShell tools are installed.
2. If I start debugging and break on exceptions, I notice that this asse

[2017-04-06 10:35] davkean opened #693 "Test Explorer is causing large amounts of design-time builds on startup only to show no tests"
On the project system repo (http://github.com/dotnet/project-system), Test Explorer is looking at output groups, causing a large number of builds to occur (94 builds for a 24 project solution - of which ~40 are caused by Test Explorer), only to show zero results in the Test Explorer. This a lot of work to show nothing for it.

1. Git clone http://github.com/dotnet/project-system
2. From VS command

[2017-04-06 10:42] davkean commented on #693
First of all, why is Test Explorer querying a project's output groups if it's not a test project?

[2017-04-06 11:15] Faizan2304 commented on #547
Update: From commandline discovery is working fine. Since Netcoreapp2.0 in not in nugget we need to add a default.config file with content
<packageSources>
    <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
  </packageSources>

Till today VS from d15prerel branch doesn't have template for template 2.0. Trying to create a local machine which can create pr

[2017-04-06 11:57] smadala commented on #251
@sbaid /testadapterpath takes single value.
In TPv1 if multiple test assemblies passed, It looks for adapter from all assemblies directories.

[2017-04-06 12:16] sbaid commented on #251
@smadala I am thinking we should enable most common scenario (example 1 & 2) above where `/testadapterpath:.` can be avoided and clearly there is only one folder that can be looked at for test adapter.

When user specifies multiple folder, looking for adapters in all folders by default may give unpredictable result since they can have different versions of adapters etc.  Having user specify `/test

[2017-04-06 13:37] mayankbansal018 commented on #625
The issue lies in IntelliTrace, & is being tracked internally at https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems?id=404725&triage=true&fullScreen=true&_a=edit

[2017-04-06 13:41] mayankbansal018 commented on #423
PR raised internally against lab/vsualm https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/55574?path=%2Fsrc&_a=overview

[2017-04-06 19:34] luis-cortina opened #695 "Can't build the project using visual studio 2017"
## Description
After doing a git clone, when trying to build the project NugetPackages can't be restored with the following error "The operation failed as details for project SimpleTestProject3 could not be loaded" . If I do a dotnet restore I get timeouts for all the package sources.

## Steps to reproduce
Using VS2017 latest version git clone the master branch, try to build with VS or do dotnet

[2017-04-07 01:39] vector-man commented on #592
Time to switch to 2017 then. Thanks :).

[2017-04-07 01:53] NickCraver commented on #560
I'm seeing this on very small projects as well, things with only a few thousand lines of code and under a dozen *very* small projects...only one or two of which are test projects.

Also, why do we have to build again after just building to discover tests? Hitting build on the solution, clicking run, then building again is crazy to me. How can we help?

[2017-04-07 02:00] NickCraver commented on #229
I'm assuming this is related to the double build in VS 2017 - where you build to discover, and then clicking "Run All" builds *again*. Noting here since these likely cross in cause.

[2017-04-07 02:12] NickCraver opened #696 ""Run All" builds projects again, even immediately after a build."
## Description
When a user has just built their solution to discover tests, upon running a test (or all tests) another build occurs. Why?

## Steps to reproduce
Pull any repo with tests - I'm using MiniProfiler right now: https://github.com/MiniProfiler/dotnet
1. Open `MiniProfiler.sln` in VS 2017 15.1
2. Build solution (Ctrl+Shift+B)
3. Open Test Explorer
4. Click "Run All"

## Expected behavior

[2017-04-07 04:24] codito commented on #696
@NickCraver test explorer depends on "Build" to provide knowledge of test projects (and test containers - the output binaries that have tests) added/removed/updated. It expects "Build" to be a no-op if the solution was just built. My understanding is https://github.com/dotnet/project-system/issues/62 is making "Build" do a full solution build again.

Will this be good idea to let the user decide i

[2017-04-07 04:28] codito commented on #693
It is possible to query for test projects by using Test Container capability (https://github.com/Microsoft/vstest/pull/514).

cc: @sbaid @navin22

[2017-04-07 06:47] AbhitejJohn commented on #251
I think that is a disparity in behavior and would result in a confusing experience. The part where we say that there are multiple versions of the adapters can be easily logged as a warning. In fact this is exactly how the vstest task behaves today(I'm not sure about the warning though).

Lets go a little deeper into the third scenario

what would we expect the user to pass in as an adapter path?

[2017-04-07 07:23] srivatsn opened #697 "How can you test multiple netstandard targets?"
_From @JamesNK on April 6, 2017 21:21_

In Json.NET I have a netstandard1.0 and 1.3 targets. I want to test them individually.

My test project has a netcoreapp1.1 target that depends on the library and automatically pulls in netstandard1.3, allowing me to test that target.

How can I then test the netstandard1.0 target of Json.NET from the same test csproj?

_Copied from original issue: dotnet/pr

[2017-04-07 09:38] Faizan2304 commented on #547
Discovery is working now on VS version 15.1 (26406.1) vsuwpt

[2017-04-07 09:38] #547 closed

[2017-04-07 10:15] #532 closed

[2017-04-07 16:21] #490 closed

[2017-04-07 21:56] NickCraver commented on #696
@codito Ideally? There'd be no prompt at all, Visual Studio should just be aware that it just built. *But that doesn't work*, so at the moment? Yes a prompt would be much better.

I used to think people abandoning the Test Explorer and running all of their stuff from the CLI even when inside Visual Studio working were nuts, but I've just become one of them because it's *so much faster*. I'm very d

[2017-04-09 15:11] jamesqo commented on #645
I am running into the same issue. Here is my solution: https://gitlab.com/jamesqo/PolynomialReducer/tree/256dca71fab1b6cf2faa0228d1f52897bc489443 Running `dotnet test` in the `PolynomialReducer.Tests` directory creates this output:

[code]

After the last message the runner seems to hang instead of exiting, so you have to press Ctrl+C to exit.

[2017-04-10 02:06] NickCraver commented on #472
I'm on 15.1 and this is still annoying the crap out of me on *every commit* trying to sneak it's way into my git repo. What's the status of removing this thing?

[2017-04-10 03:17] JamesNK commented on #472
Big a good csproj citizen and don't dirty our pristine projects with your grimy GUIDs.

[2017-04-10 04:01] livarcocc opened #702 "dotnet test --list-tests ignored --logger parameter"
_From @kmcgain on April 9, 2017 23:19_

This may be a missing feature rather than an issue.

## Steps to reproduce
dotnet new xunit
dotnet restore
dotnet build
dotnet test --list-tests --logger trx

## Expected  behavior
A TestResults folder created with a single trx file that includes test definitions

## Actual behavior
The parameter is ignored and the list is displayed in the program output

If

[2017-04-10 13:16] smadala commented on #695
@luis-cortina Thanks for raising issue.
Tracking fix for this: https://github.com/Microsoft/vstest/pull/703
Mean while you can try out repo at commit: 6924402e13817bd2c749d6ff5027db62ca61225c

[2017-04-10 13:29] smadala commented on #576
@qmfrederik can you please share sample project which repro the issue?

[2017-04-10 14:06] smadala commented on #645
@jamesqo Looks like there are few tests causes `StackOverflowException` exception which is uncatchable.
Ex: `PolynomialReducer.Tests.CompactR.PolynomialTests.Add_Polynomial_Polynomial` cause `StackOverflowException` at
https://gitlab.com/jamesqo/PolynomialReducer/blob/256dca71fab1b6cf2faa0228d1f52897bc489443/PolynomialReducer/CompactR/Polynomial.cs#L109.

You can find exact exception location for

[2017-04-10 15:31] abpiskunov commented on #676
Specifically for dotnet core projects, initial test discovery, i.e. when you opened a solution is very slow. It cam take minutes for tests to start slowly to appear in the window. Refresh after build is also slower than for classic csproj projects.

[2017-04-10 15:50] sbaid commented on #674
## Test Container Discovery
### Background
Test Window allows ITestContainerDiscoverer based extensions to report test containers. Test Containers can be .dll,  .appx, .js file etc which contain tests. These containers are discovered at solution load time and when ITestContainerDiscoverer.TestContainersUpdated event is fired. Thereafter  test discovery is done in the changed test containers by usi

[2017-04-10 15:53] sbaid commented on #693
@davkean  This is likely dupe of https://github.com/Microsoft/vstest/issues/674

[2017-04-10 16:03] baor commented on #579
Hi all!
Do you have any plans about implementation code coverage for dotNetCore for Linux?

If you have any PR or subtasks, I am ready to help.

[2017-04-10 16:55] sbaid commented on #674
@viktorveis @olgaark @srivatsn @davkean @mmanela

[2017-04-10 17:24] mmanela commented on #674
What about file based extensions like Chutzpah?

[2017-04-10 20:21] olgaark commented on #674
Probably the most performant way is to make all test projects (or files) to somehow register with test toolwindow  instead of it asking all projects in the solution.

If this does not sound like a feasible/extendable idea, checking for a project capability (and requiring it to be set in all test projects) would be the next choice - it will work in DPL as well as c++ FPL (project cache) mode withou

[2017-04-10 23:21] davkean commented on #674
You could do a mix of both; have a component that is only present when the TestContainer capability that registers itself with the tool window.

[2017-04-11 00:21] natemcmaster commented on #627
+1. Here's a simple test that is hard to debug because vstest swallows the error:
[code]
[code]

In contrast, using a console app or dotnet-xunit will correctly print to console the Debug.Assert failure.
[code]

[2017-04-11 03:11] viktorveis commented on #674
Today, lightweight solution load (LSL) only discovers tests from loaded projects. First, we should make test discoverability consistent between LSL and normal solution load. Then we can add a way to filter tests as you proposed. LSL has API to discover all projects in the solution without loading them: https://docs.microsoft.com/en-us/visualstudio/extensibility/lightweight-solution-load-extension-

[2017-04-11 06:00] sbaid commented on #674
@mmanela Chutzpah (file based test containers) can continue to implement a test container discovery & provide ITestContainerDiscover2 impl once it is available.

[2017-04-11 06:51] nigurr opened #704 "vstest.executionengine.exe has stopped working"
Ref: https://github.com/Microsoft/vsts-tasks/issues/3926

Process dumps:  https://ufile.io/c1db21

[2017-04-11 10:51] #695 closed

[2017-04-11 12:57] smadala commented on #704
@k3flo Can you please provide user mode dump, follow the instructions from https://msdn.microsoft.com/en-us/library/windows/desktop/bb787181(v=vs.85).aspx.
use `DumpType 2: Full dump`

[2017-04-11 16:46] livarcocc opened #705 "Allow dotnet test to run on all test projects in a given directory"
_From @sunsided on May 19, 2016 17:6_

For continuous integration, I want to be able to run `dotnet test` on all test projects in the `test` directory of my solution, without having to explicitly configure each subdirectory manually, by e.g. issuing

[code]

or

[code]

from the solution directory.
## Steps to reproduce

In the solution directory, run

[code]
## Expected  behavior

Runs all tests

[2017-04-11 16:46] livarcocc commented on #705
_From @blackdwarf on May 21, 2016 17:35_

@livarcocc @piotrpMSFT thoughts?

[2017-04-11 16:46] livarcocc commented on #705
_From @piotrpMSFT on May 26, 2016 7:52_

We need to think about this in the context of the new project model design...

[2017-04-11 16:46] livarcocc commented on #705
_From @bojingo on June 30, 2016 23:24_

Is there even a reason for the `--all` flag?  I can be in the solution folder and do a simple `dotnet restore` and all projects restore, based on looking for project.json files in the subfolders.  I would _love_ `dotnet test` to work this same way.  I have a number of test projects and my VSTS build definition is littered with tasks for running tests.

There

[2017-04-11 16:46] livarcocc commented on #705
_From @dazinator on July 5, 2016 15:14_

Yes please! Just setting up a CI build, and having to CD into each test project directory to run `dotnet test` is a maintainance headache, as I keep having to revisit this build script as new test projects are added.

[2017-04-11 16:46] livarcocc commented on #705
_From @unjello on October 5, 2016 13:52_

Any progress on that?

[2017-04-11 16:46] livarcocc commented on #705
_From @MarinAtanasov on November 5, 2016 8:44_

Fully agree. If I want to run multiple projects from PowerShell, the only way I've found is:

[code]

And the results are not easily readable because it runs every project separately.

Also, somewhat related, we should be able to run all projects in a single run. Even in VS, every project seems to have a separate loading time (about 2 seconds) which

[2017-04-11 16:46] livarcocc commented on #705
_From @glucaci on December 13, 2016 10:36_

For example the `dotnet build` command accept agrument `**/project.json` and builds all the projects from subdirectories.
`dotnet build **/project.json`

I think this will be a good solution for `dotnet test` also.
`dotnet test **/project.json`

Actualy cannot parse the argument:
[code]

[2017-04-11 16:46] livarcocc commented on #705
_From @petrsvihlik on January 14, 2017 19:59_

@MarinAtanasov thanks! i've adjusted it a little bit for my [project](https://github.com/petrsvihlik/WopiHost/blob/master/appveyor.yml) to run only in folders containing tests and to output the test results...

`ForEach ($folder in (Get-ChildItem -Path .\ -Directory -Filter *.Tests)) { dotnet test $folder.FullName -xml ($folder.FullName + "\xunit-resu

[2017-04-11 16:46] livarcocc commented on #705
_From @StrangeWill on April 11, 2017 16:28_

Just ran into this today, we'd been using PowerShell for awhile but the problem comes when we want to test under dotCover and TeamCity (now supported on 2017.1 for .NET Core), to do that through PowerShell would be a pain...

If `dotnet` supported running all tests out of the box this would be a cakewalk.

[2017-04-11 18:19] natemcmaster opened #706 "vstest.console hangs indefinitely if testhost dies"
## Description
vstest.console may hang indefinitely if the testhost process dies

## Steps to reproduce
dotnet new xunit
Add this test:
[code]
## Expected behavior
If test host dies, vstest.console should fail the test run.

## Actual behavior

Error printed to console:

Then the vstest.console.dll process hangs forever.

![image](https://cloud.githubusercontent.com/assets/2696087/24923898/d83be89

[2017-04-12 11:32] k3flo commented on #704
@smadala I created a dump file in user mode:
http://ertelt.us/Upload/vstest.executionengine.exe.3160.zip

[2017-04-12 11:38] Shyam-Gupta commented on #485
Status:

Fix for SourceInformation issue (a): https://github.com/xunit/xunit/pull/1142  (Review pending)

Partial fix for xUnitTestCase to VSTestCase conversion (c): https://github.com/xunit/visualstudio.xunit/pull/104  (Fix merged)

[2017-04-12 12:40] smadala commented on #704
@k3flo Thanks for dump.
![crystalreport](https://cloud.githubusercontent.com/assets/4337332/24957546/aa69545e-1fa9-11e7-8147-96867e364773.png)
Seems like issue with Crystal Reports, which causing
`Unhandled exception at 0x000007FEFE6D32B2 (oleaut32.dll) in vstest.executionengine.exe.3160.dmp: 0xC0000005: Access violation reading location 0x000000025F79EEA0.`

Can you please check any test that not

[2017-04-12 13:00] Faizan2304 commented on #702
@kmcgain: We don't update trx file with tests for list tests.
Can you please help us to identify the use of trx with list tests.
It will be very helpful if you will tell us about the use of trx with list test.

/cc:@pranavkm @codito

[2017-04-12 13:29] andrey-yemelyanov commented on #558
I had the same problem. Using the solution outlined by bryanrcarlson solved the issue.
Thanks!

[2017-04-12 14:55] codito commented on #683
@GaTechThomas thanks for raising this issue.

Error message that shows up is `"Failed to publish test results: '�', hexadecimal value 0x07, is an invalid character."`. @Faizan2304 is this handled in the work we did for escaping special characters (for invalid xml)?

[2017-04-12 15:11] codito commented on #696
@NickCraver appreciate your feedback. Sorry for the pain this is causing. I already see that dotnet/project-system#62 is scheduled for next VS update, we will update this issue once it's fixed.

In the context of scaling test explorer for big solutions, there's a proposal at https://github.com/Microsoft/vstest/issues/674. Please do vote and share your thoughts.

[2017-04-12 22:25] kmcgain commented on #702
@Faizan2304: I want to push a test assembly into docker container, discover all tests and then launch n containers with individual instructions to filter the test run for their specific set of tests.

It seems the simplest way to discover the tests would be with dotnet test. By having an easily parsable output it would make this job cleaner. Currently I need to either switch to reflection to disco

[2017-04-13 01:04] davkean commented on #696
@NickCraver Are you saying that VS 2015 was faster in this regard? It didn't even have incremental build support in _dotnet build_...

[2017-04-13 01:08] davkean commented on #696
@NickCraver Can you do the following and I can quickly see if there's something else running during this second build that shouldn't be:

1. Open Solution
2. Tools -> Options -> Project and Solutions -> Build and Run -> MSbuild project build output verbository -> Diagnostic
3. Build the solution
4. Clear the Output window -> build category
5. Build the solution (not rebuild)
6. Copy that Output, p

[2017-04-13 06:11] sbaid commented on #674
@viktorveis I read through documentation. We need your contribution towards enabling LSL into test explorer -- by adding `NetFxLslTestContainerDiscoverer` extension.

Here is my notes.
1. LSL is supported by NetFx (Full CLR) projects but _not_ by Native, UWP, NET core in 15.3 timeframe.
2. `NetFxLslTestContainerDiscoverer` will implement `ITestContainerDiscoverer` interface.

[code]
### NetFxLslTe

[2017-04-13 06:12] sbaid commented on #674
/cc @navin22

[2017-04-13 06:13] sbaid commented on #674
/cc @navin22 @Shyam-Gupta @codito @singhsarab

[2017-04-13 06:43] k3flo commented on #704
@smadala
We disabled the Crystal Report tests and executed a test run. Everything worked fine.
What shall we do to get our Crystal Report tests working? If we execute the tests with the Visual Studio IDE on our local machines all crystal report tests are running without any problems. Thanks for your help.

[2017-04-13 07:06] davidfowl opened #710 "Exception when running tests on https://github.com/aspnet/KestrelHttpServer"
We recently got a new .NET Core 2.0 SDK and now our command line test runs on .NET Framework  sometimes fail like this:

[code]
## Steps to reproduce
- git clone https://github.com/aspnet/KestrelHttpServer
- Run build.cmd

## Expected behavior
Don't crash

## Actual behavior
it crashes

## Environment
dotnet --info

[code]

[2017-04-13 07:46] mayankbansal018 opened #711 "VS IDE fails to discover test from multiple net46 projects if Tpv2 is enable as default"
## Description
VS IDE fails to discover test from multiple net46 projects if Tpv2 is enable as default

## Steps to reproduce
Enable Tpv2 as default
Create multiple UT(net46) projects
Tests from only one project discovered

## Expected behavior
Tests from all UT projects should be discovered

## Actual behavior
Tests from only one project discovered

[2017-04-13 09:10] Faizan2304 commented on #448
Fixed!!

[2017-04-13 09:10] #448 closed

[2017-04-13 09:10] Faizan2304 commented on #452
Fixed!!

[2017-04-13 09:10] #452 closed

[2017-04-13 11:18] davidfowl opened #715 "Tracking down tests that are taking longer or hanging"
Is there a way to print the currently executing test? Is there a way to get that information?

[2017-04-13 12:21] sbaid commented on #674
### Solution part (1)

#### Add tools->options->Test
- [ ] Disable test discovery at solution load
This will be off by default.

For managed projects - another option like this will help.
- [ ] Discover tests only in projects marked with `TestContainer` project capability.
This will be off by default.
Currently, all projects are queried. This will enable querying projects that have this capability

[2017-04-13 12:38] jayaranigarg opened #716 "Incorrect Project Icon for NetCore UnitTestProject in SolutionExplorer"
## Description
On creating NetCore UnitTestProject, we should get a Test icon for the Project in solution explorer.

## Expected behavior
Project icon should be a test icon(one with beaker)

## Actual behavior
Project icon is that of ClassLibrary.

## Environment
VS 2015 (26403.0 d15rel)

[2017-04-13 14:30] smadala commented on #715
Unfortunately we don't have out of box solution.
We can achieve it using Inproc data collector.
For that you need Inproc data collector dll and runsettings file.
I am attaching simple project source, dll and runsettings file. This simple data collector writes currently executing test name to temp file, you can tail the temp file for knowing which test is executing.
[InprocDataCollector.zip](https:

[2017-04-13 15:24] smadala commented on #710
This has been fixed in other changes: https://github.com/Microsoft/vstest/commit/d189e71eac31a5ebcbe4ab2656a119ff745ca5f6#diff-3704124f8a6986a28c2903753d3f9f07L74.
Will close once it released.

[2017-04-13 15:34] smadala commented on #704
Identify what are the particular Crystal report test(s) causing failure using vstest.console.exe and /testcasefilter switch. (Ex: vstest.console.exe <path_to_test_dll> /framework:<framework> /testcasefilter:FullyQualifiedName~<namespace/testname> /testadapterpath:<path_to_testadapter>).
Check the anything suspicious about same test cases.

What are VS IDE, Crystal Report and vstest.executionengine

[2017-04-13 16:35] davidfowl commented on #715
@smadala Can you guys add support for this please? Tracking down hanging tests takes longer than it needs to. Countless dev hours have been wasted on this. If there was a way to print the running test it would be trivial to find.

[2017-04-13 18:22] smadala commented on #715
@codito @sbaid Should we add this to vstest backlogs?

[2017-04-13 18:37] olgaark commented on #674
The current plan is to support LSL for vc projects in 15.3.

[2017-04-13 18:39] srivatsn commented on #674
To me it sounds like discovering tests with TestContainer capability should be on by default so that most people get the perf benefit. I assume the cases where we need to discover tests from projects that are not test projects would be few and for those cases, users can opt-in.

[2017-04-13 18:46] sbaid commented on #684
### UWP Unit Testing support
#### Components
These are the components involved
1. [UWP Unit Testing Template](https://github.com/Microsoft/testfx/tree/master/Templates/UWP/ProjectTemplates/CSharp/Windows%20UAP)
2. UWP runtime provider that implement [ITestRuntimeProvider](https://github.com/Microsoft/vstest/blob/master/src/Microsoft.TestPlatform.ObjectModel/Host/ITestRunTimeProvider.cs)
3. UWP App

[2017-04-13 18:53] sbaid commented on #684
@unniravindranathan @mayankbansal018 @codito

[2017-04-13 18:54] mikeharder commented on #710
This is blocking ASP.NET builds.  How can we get a fix or workaround ASAP?

[2017-04-13 19:35] smadala commented on #706
@natemcmaster Can you please provide link for dotnet sdk 1.0.3 download?
Please share `C:\Program Files\dotnet\sdk\1.0.3\vstest.console.dll`  `Properties->Digital Signature-> timestamp`?

[2017-04-13 19:40] natemcmaster commented on #706
vstest.console.dll = ‎Thursday, ‎April ‎6, ‎2017 8:35:18 PM

Not sure where to get the 1.0.3 SDK publicly. It is installed via the internal VS channel.  @livarcocc might know.

[2017-04-14 00:19] codito commented on #716
Duplicate of https://github.com/Microsoft/vstest/issues/394?

[2017-04-14 00:31] codito commented on #715
Yes, we should add this. cc: @pvlakshm. I'm wondering if this can be exposed as an argument to `dotnet test` or `vstest.console` e.g. `dotnet test --collect:progress`. Enabling the inproc collector support by default will cost performance (will increase chattyness too since each testcase result needs to flow between the runner and test host, today we batch the results).

@smadala the diagnostic lo

[2017-04-14 00:38] codito commented on #715
Similar request for test explorer is here: https://github.com/Microsoft/vstest/issues/627.

@pvlakshm will this fit into .netcore 2.0 theme in [vstest backlog](https://github.com/Microsoft/vstest/issues/686)?

[2017-04-14 00:42] mikeharder commented on #710
Something in our tests must have been triggering this issue.  Now that our tests are fixed this issue is no longer blocking us.

[2017-04-14 01:44] mikeharder commented on #710
Actually, this is still a blocking issue for ASP.NET.  We just saw this failure in two different test projects where no tests should be failing (and passed on the subsequent build).

[2017-04-14 03:19] davidfowl commented on #710
@smadala Can you articulate what was fixed, what component it is in and if you have a myget feed with those changes?

[2017-04-14 07:04] smadala commented on #710
This issue occurs when test/testhost (full framework) try to write empty line to standard error stream. Passing empty message to `TestSessionMessageLogger.SendMessage()` got fixed [here](https://github.com/Microsoft/vstest/commit/d189e71eac31a5ebcbe4ab2656a119ff745ca5f6#diff-3704124f8a6986a28c2903753d3f9f07L74).
Fix is in `Microsoft.TestPlatform.CLI` nuget package that ships with `dotnet/cli`.

To

[2017-04-14 10:26] smadala commented on #715
Diagnostic log file will have full stack trace in one line.
Ex: `TpTrace Error: 0 : 23432, 8, 2017/04/14, 15:47:39.797, 36138705327, vstest.console.dll, Test host exited with error: Unhandled Exception: System.InvalidOperationException: Operation is not valid due to the current state of the object.   at testfail.UnitTest1.<>c.<OtherThreadFails>b__1_0() in C:\Users\samadala\tmp\testhosthang\UnitTes

[2017-04-15 20:38] MarinAtanasov commented on #705
There is a way to run multiple projects with a single command which returns a single summary for the results. However, you must build the projects/solution first.
[code]
After this, you can use _dotnet-vstest_ to execute the tests. In my case, all projects containing tests are under _/test_ subdir:
[code]
You don't need to use Powershell. You just need the path to all test assemblies. For example:

[2017-04-15 22:56] Drawaes commented on #627
I am having this very issue. I have tests that run locally on my machine, but then crash on appveyor. It's in a test that has a large chain of code it runs, so now I am left with a human binary search to find the location of the bug.

https://ci.appveyor.com/project/Drawaes/leto/build/1.0.47

[2017-04-15 23:41] srivatsn commented on #697
Moved this by mistake here. This involves work in the project system\SDK\nuget.

[2017-04-15 23:41] #697 closed

[2017-04-16 14:09] codito commented on #627
@Drawaes enabling diagnostics for test run may help: `dotnet test -d:log.txt` generates `log.txt` file, upload generated file as an artifact in CI, it may contain crash information. cc: @smadala

[2017-04-16 14:23] codito commented on #702
It may help if logger interfaces support events to handle Discovered Tests (currently they only support Run Result events). This will allow to generate any kind of output with a custom logger and script it easily.

The default console output is customized by adapters. Today user may see different outputs for mstest and xunit tests.

[2017-04-17 05:35] pvlakshm opened #725 "Test Explorer improvements"
Place holder for improvements to the Test Explorer covering the presentation of large suite of tests.

[2017-04-17 12:28] NickCraver commented on #696
@davkean I'm trying to do this, but I can't get the output window to capture it, it's obviously exceeding the buffer capacity. Is there a way to up it, or redirect the output?

The log I captured is 62MB with an unknown amount missing from the front - happy to email that (1.3MB zipped), or preferably: the above - is there a any way to get the output from the way VS invokes it?

[2017-04-17 19:13] natemcmaster opened #730 ".NET Core 2.0: Default test case filter fails"
In https://github.com/Microsoft/vstest/pull/555 @smadala  added this feature:

 - Convert dotnet test --filter "ABC" to dotnet test --filter "FullyQualifiedName~ABC".

This feature fails on .NET Core 2.0.

## Steps to reproduce
1. Download latest .NET Core 2.0 CLI: https://github.com/dotnet/cli
2. Double check `dotnet --version`. You may need to add global.json to workaround https://github.com/dot

[2017-04-17 19:48] smadala commented on #730
@natemcmaster this feature need latest testhost which ship with `Microsoft.NET.Test.Sdk: 15.1.0-preview-20170414-10` you can get it from nuget source `https://dotnet.myget.org/F/vstest/api/v3/index.json`.

[2017-04-17 19:57] natemcmaster commented on #730
Confirmed this bug doesn't repro when upgrading to 15.1. Thanks @smadala.

[2017-04-17 19:57] #730 closed

[2017-04-18 00:35] PureKrome commented on #623
Polite ping to @pvlakshm or @codito again ☝️

[2017-04-18 00:37] PureKrome commented on #725
Any particular improvements? I have a few suggestions which I listed in #623 and can discuss them in here?

[2017-04-18 06:09] AbhitejJohn opened #732 "Add a -debug option to vstest.console to debug tests"
## Description
The ask here is to support a commandline option for debugging tests. This is currently possible via the `VSTEST_RUNNER_DEBUG` environment variable as detailed [here](https://github.com/Microsoft/vstest-docs/blob/master/docs/diagnose.md#debug-test-platform-components). However, the users intention here is to debug tests in a given session not every session that runs on the machine. S

[2017-04-18 14:52] pvlakshm commented on #623
Please see the summary above. Since there were some issues not related to the Test Explorer per se, I have created a new issue [#725](https://github.com/Microsoft/vstest/issues/725) to track Test Explorer specific improvements.

[2017-04-18 18:15] sbaid commented on #674
@olgaark Thanks. Also got to know about this from Viktor in our last discussion.
@srivatsn thanks. We need to likely provide this opt-in initially and at later stage as opt-out.  There will be lot of legacy customer test projects using test adapters that would not have updated to add `TestContainer` capability.

[2017-04-18 21:55] NinoFloris commented on #627
@Drawaes If you are using xunit you could use

[code]

which is a new (beta) xunit runner which works as a dotnet cli tool. It doesn't accept a path (yet) though so you have to cd into your test project and run it from there.

[2017-04-18 23:25] genlu opened #734 "`VsTestConsoleWrapper` failed to initialize with `LogFilePath` set for .NET Core test projects"
## Description
Creating a `VsTestConsoleWrapper` with `LogFilePath` set will throw exception for .NET core test project.
This was found in dogfooding LiveUnitTesting.

[code]

## Steps to reproduce
1. Install latest LiveUnitTesting dogfooding build.
2. Set environmental variable `LiveUnitTesting_TestPlatformLog` to `1`.
3. Create a .NET Core Unit Test Project in VS 2017.
4. Start LiveUnitTesting

[2017-04-18 23:47] ManishJayaswal commented on #734
@codito @sbaid - FYI

[2017-04-18 23:53] davkean commented on #696
@NickCraver There's no way I know to increase the buffer. Instead of the solution, just build one of the projects.

[2017-04-19 06:37] nancykaystudios commented on #592
I installed the latest update for VS 2017 (Microsoft Visual Studio Community 2017 Version 15.1 (26403.7) Release) and the 'Create Unit Test' menu item is back in the context menu. Thanks!

[2017-04-19 08:52] sbaid commented on #715
@davidfowl we are using partner-blocking label for issues are which are blocking partners. dogfood-impacting for issues which are impacting dogfooding but not blocking.

[2017-04-19 08:53] davidfowl commented on #715
That sounds fine but doesn't give me an idea of where this lies in list of priorities for your team.

[2017-04-19 08:57] sbaid commented on #715
@davidfowl backlog is [tracked here](https://github.com/Microsoft/vstest/issues?q=is%3Aopen+is%3Aissue+label%3Abacklog) . Can u pl share all the issues impacting in pri order?

[2017-04-19 09:00] davidfowl commented on #676
@pvlakshm Is that list in priority order?

[2017-04-19 09:06] sbaid commented on #710
PR is pending merge. Fix should be there in the following CLI build.

[2017-04-19 10:18] sbaid commented on #687
/cc @davidfowl

[2017-04-19 10:56] Faizan2304 commented on #689
Fixed!!

[2017-04-19 10:56] #689 closed

[2017-04-19 11:03] Faizan2304 opened #737 "Use "dotnet test --verbosity" arg for console verbosity"
## Description

[2017-04-19 12:32] smadala commented on #715
@davidfowl From https://github.com/Microsoft/vstest/issues/623#issuecomment-287378175 xunit `longRunningTestSeconds` property can be used to find hanging/long running test.
By adding  `xunit.runner.json` to test dll directory with following content print it to console like `[xUnit.net 00:00:06.5689822] XUnitTestProject1: [Long Running Test] 'XUnitTestProject1.UnitTest1.Test1', Elapsed: 00:00:05`.

[2017-04-19 13:04] sbaid commented on #715
A helloworld [sample project](https://github.com/sbaid/samples/tree/master/XUnitNetCoreSample/XUnitNetCoreSample)

[2017-04-19 13:17] sbaid commented on #715
@davidfowl Printing running test will only lead to suboptimal experience https://github.com/Microsoft/vstest/issues/301 xunit diagnostics are likely better to track down hung tests. This looks like the solution.

Chat between runner & adapter for currently running tests will be prone to perf issues.

[2017-04-20 05:09] sbaid commented on #710
@smadala pl verify and close this on latest CLI build

[2017-04-20 05:40] smadala commented on #710
Verified on cli build: `2.0.0-preview1-005825`

[2017-04-20 05:40] #710 closed

[2017-04-20 07:30] raffaeu commented on #597
Guys it's April 20, any update on this?
How come we can't still have Code Coverage on NET CORE?

[2017-04-20 17:55] ekumlin opened #744 "Calls to CallContext.LogicalSetData made in external libraries during tests error out in VS IDE"
## Description

When calling `CallContext.LogicalSetData` in an external library during a test method, the VS IDE will return the following error:

I expect this issue would happen with calls other than `LogicalSetData`, but this is the reliable repro we found first.

### Notes
- This is **a regression** from Visual Studio 2015.
- This **only** happens in the VS IDE. If I run `vstest.console.exe`

[2017-04-20 18:15] ManishJayaswal commented on #676
@pvlakshm - can you please add LUT integration for showing Live Test Set to the list as well?

[2017-04-23 09:49] Lavinski commented on #630
I ran into this upgrading from .proj to .csproj

[2017-04-24 03:40] dzirkler commented on #669
@RehanSaeed as a workaround on Mac & Linux you can do this:
`ASPNETCORE_ENVIRONMENT=Production dotnet test`

Unfortunately, it doesn't work on Windows.

[2017-04-24 03:48] koenigsbier commented on #669
Ho thanks @dzirkler, it means I can do this on Bash on Windows 10 that's cool.
Unfortunately the issue still exist for build machines...

[2017-04-25 07:11] Faizan2304 opened #755 "Add collect support in dotnet test"
`dotnet test --collect <FriendlyNameOfTheDataCollector>` should enable data collector whose friendly name is `FriendlyNameOfTheDataCollector`

[2017-04-25 12:14] Faizan2304 commented on #683
@codito : Yes we have fixed it but fix is in Visual Studio 2017.
In vstest v1 they were taking care of invalid xml character when they read trx file but in vstest v2 it seems they are not. I talked with @nigurr and they want to go with this flow only and expecting trx file generator to give sanitized trx file.

[2017-04-25 12:20] Faizan2304 commented on #683
@GaTechThomas : I am not able to repro the issue with given repro test method shared in bug https://github.com/Microsoft/vsts-tasks/issues/3932 . I used below test method and got the repro

[code]
We have sanitized the invalid xml character in trx file in Visual studio 2017. I have verified and issue is not getting repro if we are generating trx with visual studio 2017.

[2017-04-25 22:25] ekumlin commented on #605
This feature is something we are interested in for our current projects. We would also be satisfied if we could set this at the solution level (i.e. in the `sln` file).

@AbhitejJohn, above you said:

Does this mean this is already possible in the `sln` file? How can we set the `runsettings` file association (without using the transient `.suo` file), and retain it between users in source control?

[2017-04-26 03:55] sbaid commented on #744
/cc @AbhitejJohn

[2017-04-26 06:08] harshjain2 opened #758 "Localize resources"
## Description

[2017-04-26 10:09] AbhitejJohn commented on #605
@ekumlin : This is actually in the suo file today, not part of the sln unfortunately. So this isn't actually persisted in an sln pulled from source control. This at least does seem like a basic workflow that needs to fixed.

[2017-04-26 13:39] tmds opened #761 "running netcoreapp2.0 test in container: Could not find testhost.dll"
I am trying to run a netcoreapp2.0 xunit project.
I have installed the `2.0.0-preview1-005783` cli.

I create a `dotnet new xunit` project and adjust the NuGet.Config file and csproj file to use the `15.1.0-preview-20170414-10` Sdk.

When I run this on a RHEL7 machine, tests are discovered.
When I run this in a RHEL7 container, I get a message:

In the container, the restore completes successfully

[2017-04-26 14:40] smadala commented on #761
@tmds Can you please check `microsoft.testplatform.testhost` exists in values specified for additionalProbingPaths in bin/Debug/netcoreapp2.0/<test_project_name>.runtimeconfig.dev.json.

Add `"` to logger value like following: `--logger:"console;verbosity=normal"`

[2017-04-26 15:00] codito commented on #761
Diagnostics output will help. It can be enabled with `dotnet test -d:log.txt`, it will generate `log.*.txt` files with additional information.

[2017-04-26 15:52] GaTechThomas commented on #683
Thank you. I have been testing VS2017, but not yet on VSTS. It has a few bugs that our team will have to wait before we can switch. However, I may be able to build on the server with VS2017. Probably won't be able to prioritize it for this week.

-Thomas

________________________________
From: Faizan2304 <notifications@github.com>
Sent: Tuesday, April 25, 2017 7:20 AM
To: Microsoft/vstest
Cc: GaTe

[2017-04-26 16:06] tmds commented on #761
@singhsarab the runtime.dev.config has additionalProbingPaths `.nuget/packages` and `.dotnet/NuGetFallbackFolder`.
Under the .nuget folder, there is a testhost.dll at `microsoft.testplatform.testhost/15.0.0/lib/netstandard1.5/testhost.dll` and at `microsoft.testplatform.testhost/15.1.0-preview-20170414-10/lib/netstandard1.5/testhost.dll`.

When I add `"` back to the logger, I get back the first er

[2017-04-26 16:28] smadala commented on #761
@tmds Are you saying `/opt/app-root/.nuget/packages` is empty?
What is full path  for `microsoft.testplatform.testhost/15.1.0-preview-20170414-10/lib/netstandard1.5/testhost.dll`?

[2017-04-26 16:35] tmds commented on #761
No, there are two packages there:  testhost.dll at `microsoft.testplatform.testhost/15.0.0/lib/netstandard1.5/testhost.dll` and at `microsoft.testplatform.testhost/15.1.0-preview-20170414-10/lib/netstandard1.5/testhost.dll`.

The path is empty in this line in the log file:

[2017-04-26 17:34] ekumlin commented on #605
Agreed. Is `sln` or `*proj` support for `runsettings` association on the backlog, then?

[2017-04-26 22:58] jonsequitur opened #763 "TRX logger no longer writes startTime and endTime attributes for UnitTestResult"
## Description

When running tests with `dotnet` I no longer see `startTime` and `endTime` attributes on `UnitTestResult` elements.

## Steps to reproduce
`dotnet test -l:trx`

## Expected behavior
`UnitTestResult` elements look like this:
[code]

## Actual behavior
`UnitTestResult` elements look like this:
[code]

## Environment
[code]

[2017-04-27 06:13] Faizan2304 commented on #761
@tmds : Can you please share the csproj file of your test project.

[2017-04-27 06:33] codito commented on #763
@singhsarab looks like P0 bug. Related to OM refactoring for protocol?

[2017-04-27 06:46] tmds commented on #761
@Faizan2304 Yes, those are the exact steps.

I don't think the problem is with the files since they work when not running in a container.

Do you have an idea why there is an empty path here: `Looking for path <empty_string> in folder /opt/app-root/.nuget/packages`?

[2017-04-27 07:40] codito commented on #761
The empty path message is coming from https://github.com/Microsoft/vstest/blob/master/src/Microsoft.TestPlatform.TestHostProvider/Hosting/DotnetTestHostManager.cs#L317.

For some reason vstest is unable to find testhost.dll from `testapp.deps.json`. Is it possible to share the deps json from container? We can compare the file generated in regular scenario v/s RHEL container to find what's going on

[2017-04-27 08:09] tmds commented on #761
@codito https://pastebin.com/Zb0Chi76

When I diff this with the working deps, it doesn't show a difference...

I checked the log.txt for the working case, that doesn't have an empty path.

[2017-04-27 08:14] tmds commented on #761
I figured out the difference...
When I change LANG from C.UTF-8:
[code]
it is working...

Probably this changes the behavior of this check:
[code]

[2017-04-27 08:27] tmds commented on #761
Using `StringComparison.OrdinalIgnoreCase` should fix the issue.

[2017-04-27 09:57] singhsarab commented on #763
@jonsequitur We should actually raise a bug in xunit repo, as the xunit adapter does not stamp the StartTime and EndTime.
There was an intermediate change in setting of default values for these fields and that has been fixed now. Next insertion into cli repo should resolve this.

For now, please try updating the version of Microsoft.NET.Test.Sdk to 15.3.0-preview-20170425-07 in your test csproj.

[2017-04-27 10:00] #761 closed

[2017-04-27 10:01] Faizan2304 commented on #761
@tmds : Thank you very much for your contribution. 👍

[2017-04-27 10:24] Faizan2304 commented on #734
Fixed!!

[2017-04-27 10:24] #734 closed

[2017-04-27 10:45] tmds commented on #761
@Faizan2304 no problem. Will this be included in the .NET Core 2.0.0 preview?

[2017-04-27 10:53] Faizan2304 commented on #683
@GaTechThomas
To get you unblock we need to have fix in two places:
1) Fix in TestPlatform side ( i'e vstest.console.exe, the one who is creating trx file)
2) Fix in TestAgent (who is reading trx file and uploading test).

We have made fix in TestPlatform side in `VS 2017` but to consume fix you need pass custom vstest.console.exe path which is `VS-Insallation-Directory\Common7\IDE\Extensions\Test

[2017-04-27 10:53] #683 closed

[2017-04-27 16:32] ManishJayaswal commented on #734
thanks!

[2017-04-28 04:05] sbaid commented on #763
@jonsequitur did the issue get resolved?

[2017-04-28 04:08] sbaid commented on #423
@mayankbansal018 see that PR is committed. pl verify & close.

[2017-04-28 04:30] sbaid opened #771 "Test run aborts instead of failing"
## Description
Test run Aborts instead of failing

## Steps to reproduce
https://github.com/sbaid/samples/tree/master/NetCoreCrashTest

## Expected behavior
test fails

## Actual behavior
test run aborts

## Environment
d15prerel latest build

[2017-04-28 04:52] mayankbansal018 commented on #423
yes it is commited, closing this issue

[2017-04-28 04:52] #423 closed

[2017-04-28 12:49] singhsarab commented on #771
@sbaid
The crash is bound to happen, I am not sure if TP can do anything to prevent it.
Debug.Assert failure in NetCore throws DebugAssertException and fails fast. https://github.com/dotnet/coreclr/blob/d8250b52fc596cc9c13d6abbc5aa85dd1440b0d9/src/mscorlib/src/System/Diagnostics/Debug.Windows.cs

This can be reproed via a console app or even directly writing this code in the test.

[2017-04-28 20:26] AbhitejJohn opened #773 "Pass/fail icons get big"
## Description
Icons get big when strings contain newlines:

![image](https://cloud.githubusercontent.com/assets/6148201/25540093/12568816-2c07-11e7-9429-46fc813ee06c.png)

## Steps to reproduce

[code]

## Expected behavior
Icons remain the same size:

![image](https://cloud.githubusercontent.com/assets/6148201/25540244/9f2a2176-2c07-11e7-9df4-f675f272499a.png)

## Actual behavior
(Screenshot, to

[2017-05-01 04:51] damienpontifex opened #775 "Run tests on published test project"
## Description
I'm trying to publish tests and then run them in the Release stage using VSTS Release Management. I would like to copy over the test project publish output to run in the release pipeline.

My project is:
[code]

## Steps to reproduce

Steps with the dotnet cli are:
[code]
The result of this just returns with no output

Steps with VSTest.console.exe:
[code]
The result of this is the

[2017-05-01 17:26] livarcocc opened #776 "dotnet-test: Get machine-readable list of unit tests"
_From @yaakov-h on May 1, 2017 7:38_

Maybe I'm missing something, but I'm trying to get a machine-readable list of unit tests and cannot figure out how.

I've read up on the command-line arguments for `dotnet test` and some of the Issues on here, and discovered that `dotnet test --logger "trx;LogFileName=abcd.trx"` will create an XML file `TestResults\abcd.trx` that I can then read from to read t

[2017-05-02 05:33] codito commented on #775
@damienpontifex can you please try the `dotnet vstest` command?

[code]

[2017-05-02 05:34] codito commented on #771
Closing this since this is a non issue.

[2017-05-02 05:34] #771 closed

[2017-05-02 06:42] damienpontifex commented on #775
Thanks @codito that did it. Will close.

Out of interest, is this command different from VSTest.console.exe that is used by the Test task in VSTS or from the VS dev command line in windows?

[2017-05-02 06:42] #775 closed

[2017-05-02 11:59] nperno commented on #579
@codito I would like to try out the "dotnet test --collect:coverage" for my dotnet core VSTS builds. Do you have any insight/guidance as to when that will be available and we will need to do to get it working?

Thanks for your help!

[2017-05-02 12:16] tmds commented on #761
@Faizan2304 @smadala @codito I am trying this again using 15.3.0-preview-20170502-02. Unfortunately I hit the same error.

I assume this is a daily build which should include the fix. Is that correct?

[2017-05-02 13:40] tmds commented on #761
Ah. I think this is packed as the vstest.console.dll in the cli. So probably this has not been updated yet?

[2017-05-02 14:48] smadala commented on #761
@tmds Yes you are right, It is yet to update. You can track next insertion [here](https://github.com/dotnet/cli/pull/6420), Tentatively insertion will be completed by EOD tomorrow.

[2017-05-03 07:05] k3flo commented on #704
@smadala
We executed all Crystal Report tests using vstest.console.exe on the virtual machine with the following command:
`"C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe"
"C:\IntegrationTestBinaries\labs.ETL.Domain.IntegrationTests.dll" /Settings:"C:\Runsettings\integrationtests.runsettings"
/Platform:x64 /Framework:framewo

[2017-05-03 11:11] sbaid commented on #410
#300 is already addressed. Closing this.

[2017-05-03 11:11] #410 closed

[2017-05-03 14:18] aggieben opened #780 "No tests discovered"
## Description
I converted a project to the new .csproj format recently as a part of an effort to port to .NET Core, and after I did that and got everything building, the vstest runner stopped being able to find tests in the project.  The strangest thing to me is that I can run individual tests in VS2017, but when I try to run with "Run all tests", the runner fails to find any.

The Xunit runner _

[2017-05-03 16:31] bradwilson commented on #780
This looks likely to be a bug in xUnit.net, not VSTest. There is a dictionary in our VS adapter which maps unique IDs to test cases that is probably being tripped up here. The question will be to figure out how you ended up with two test cases with the same unique ID,

[2017-05-03 17:00] aggieben commented on #780
I see that from the output of the runner against the `net46` target output, but do you think that's the case for the `netcoreapp1.0` target as well?

[2017-05-03 17:32] bradwilson commented on #780
Until I can poke around inside and see what's going on, I don't know. It could be that VSTest is handling the two scenarios differently (hiding the bug in one, exposing it in the other, but not running any tests in either case).

[2017-05-04 04:17] livarcocc opened #782 "Invalid DependencyContext in test on net452 after upgrade to CSPROJ"
_From @smbecker on May 3, 2017 19:47_

## Steps to reproduce
I created a test project that has `PreserveCompilationContext=true` and has a project reference. When I run the tests in `netcoreapp1.1`, all of the tests pass without issue. However, if I run `dotnet test -f net452`, the tests will fail because the `DependencyContext` is null. I get the same result with `dotnet xunit -framework net452`.

[2017-05-04 04:17] livarcocc commented on #782
_From @smbecker on May 3, 2017 20:1_

I did find that if I use `dotnet xunit -noshadow` then the tests pass.

[2017-05-04 04:17] livarcocc commented on #782
I believe this is a known issue. @natemcmaster am I right in believing I have seen you talking about this in the microsoft/vstest repo?

[2017-05-04 04:17] livarcocc commented on #782
_From @natemcmaster on May 4, 2017 0:35_

Yes, this looks like a known issue when using xunit.runner.visualstudio and DependencyContext. The default settings use shadow copy, which means the deps.json file cannot be found. You can disable shadow copy by setting `"shadowCopy": false` in xunit.runner.json. See http://xunit.github.io/docs/configuring-with-json.html

[2017-05-04 04:18] livarcocc commented on #782
_From @smbecker on May 4, 2017 2:17_

Thanks.

Any idea why the symbols wouldn't load when debugging a test running under net452?

[2017-05-04 08:33] tmds commented on #761
@smadala I want to be sure this in the 2.0 preview release, so I am trying this out with the daily.
Today using the `2.0.0-preview2-005905` SDK, I still hit the issue. Perhaps I should use a different version? Or wait another couple of days?

[code]

[2017-05-04 10:34] smadala commented on #761
@tmds Changes are in [release/2.0.0 - 2.0.0-preview1-005945](https://github.com/dotnet/cli/tree/release/2.0.0#installers-and-binaries). We will cherry-pick the insertion commit to master.

[2017-05-04 10:36] janbaltus commented on #758
PR with localized xlf
github.com/Microsoft/vstest/pull/783

[2017-05-04 10:53] Faizan2304 commented on #755
Fixed!!

[2017-05-04 10:53] #755 closed

[2017-05-04 10:53] Faizan2304 commented on #737
Fixed!!

[2017-05-04 10:53] #737 closed

[2017-05-04 10:54] Faizan2304 commented on #687
Fixed!!

[2017-05-04 10:54] #687 closed

[2017-05-04 13:29] smadala opened #784 "Stackoverflow in test method causes "dotnet test" hanging in release configuration for .Net core"
## Description
- dotnet test is hanging in release configuration if test method throws StackOverflowException in .Net core test project.

## Steps to reproduce
- run `dotnet new mstest`
- Cahnge content of UnitTest.cs to following:
[code]
- dotnet restore
- dotnet test -c release

## Expected behavior

## Actual behavior

## Environment
- dotnet --info
.NET Command Line Tools (2.0.0-preview1-00594

[2017-05-04 13:58] Faizan2304 commented on #776
@yaakov-h : Unfortunately we don't have capability now to store `--list-tests` result in trx file.

We are tracking similar issue here https://github.com/Microsoft/vstest/issues/702.

I am closing this for now. Please follow https://github.com/Microsoft/vstest/issues/702 to get update.

/cc @pvlakshm @codito

[2017-05-04 13:58] #776 closed

[2017-05-04 14:16] markvincze commented on #579
Hi all,

Is there any update on whether there will be .NET Core code coverage support for Linux too?

Thanks,
Mark

[2017-05-05 05:48] HaroonSaid commented on #579
Any update - VS 2017 is expensive product one of key features is code coverage

[2017-05-05 08:11] raffaeu commented on #579
Guys just yesterday I found a new Nuget Package:
**Microsoft.CodeCoverage** version **1.0.3**

I updated the package into my XUnit test project and run Tests + Code Coverage in VS 2017 Ultimate.
The tests are executed but the **Code Coverage** is not even triggered:

![image](https://cloud.githubusercontent.com/assets/1304736/25738046/3be2f696-317b-11e7-826d-ffb22c0a9b60.png)

So, what's going on?

[2017-05-05 08:23] raffaeu commented on #579
Also if I pass `dotnet test --collect:coverage`

This is what we get **NOT IMPLEMENTED**

[code]

[2017-05-05 13:44] sbaid commented on #773
@singhsarab Is this dupe of bug 399196 in VSO

[2017-05-05 14:13] Faizan2304 commented on #780
@aggieben Please use latest version of package `Microsoft.NET.Test.Sdk` which is `15.3.0-preview-20170502-03`
`<PackageReference Include="Microsoft.NET.Test.Sdk" Version="15.3.0-preview-20170502-03" />`

With new package you will see that error message which adapter is sending is coming to console.

with latest version you will get following output:
[code]

[2017-05-05 14:16] Faizan2304 commented on #780
Only run all scenario ( From both commandline and visual studio) is busted here.
I am closing this bug as this is a bug in xunit adapter and @bradwilson is tracking it in xunit repo.

[2017-05-05 14:16] #780 closed

[2017-05-05 15:10] codito commented on #397
This is fixed in master, available in latest dev builds of `dotnet-cli`.

Specification is updated here: https://github.com/Microsoft/vstest-docs/blob/master/RFCs/0009-Editors-API-RevisionUpdate.md

[2017-05-05 15:10] #397 closed

[2017-05-05 15:11] codito commented on #396
This is fixed in master, available in dev builds of dotnet-cli.

Specification is here: https://github.com/Microsoft/vstest-docs/blob/master/RFCs/0009-Editors-API-RevisionUpdate.md

[2017-05-05 15:11] #396 closed

[2017-05-05 15:18] codito commented on #579
This feature hasn't shipped yet. We're pretty close though, will provide an update soon :)

[2017-05-05 17:22] singhsarab commented on #773
Yes, it is a dupe. Will resolve this, once we push the fix in.

[2017-05-06 09:45] davidfowl commented on #627
Still no progress on this issue, it's been months now...

[2017-05-06 10:38] codito commented on #627
This is fixed in latest dev builds of dotnet-cli `2.0.0-preview1-005963`. Download it form https://dotnetcli.blob.core.windows.net/dotnet/Sdk/release/2.0.0/dotnet-dev-win-x64.latest.zip.

We have also fixed it for VS. Will update when a build with fix is available.

[2017-05-06 10:55] codito commented on #715
Closing this issue since it is already supported by xunit adapter. Please reopen if it doesn't address the requirement.

[2017-05-06 10:55] #715 closed

[2017-05-06 10:57] codito commented on #315
Closing this since it has been solved.

[2017-05-06 10:57] #315 closed

[2017-05-07 00:46] codito commented on #758
Fixed with https://github.com/Microsoft/vstest/pull/783.

[2017-05-07 00:46] #758 closed

[2017-05-07 02:49] StrangeWill opened #786 "Cannot pass parameters to underlying test runner"
## Description
Summarized in https://github.com/dotnet/cli/issues/3114. Basically runners like Xunit have the ability to change behavior based on command line parameters, this is a _must have_ and worked before the move to VSTest.

This used to be accomplished by passing in the args after a double hypen, eg:

`dotnet test myproj.csproj -- -teamcity -xml myfile.xml`

## Steps to reproduce
1) Try to

[2017-05-07 05:27] codito commented on #786
@StrangeWill with the move to vstest, the adapters do get these parameters as run settings. I am not sure if xunit adapter understands these parameters and provides the functionality.

From your example, it looks like the scenario is to produce xunit xml results and enable teamcity integration. It is possible to achieve this using following logger extensions:
https://github.com/Faizan2304/LoggerEx

[2017-05-07 05:32] StrangeWill commented on #786
I guess due to the backwards-compatible breaking changes made they opted to use their own build command as of 2.3 to get off the dependency of VSTest and any further disruption to the platform:

https://github.com/xunit/xunit/issues/1154#issuecomment-295184454
https://xunit.github.io/docs/getting-started-dotnet-core

Is there a reason that VSTest broke this established syntax?

[2017-05-07 05:47] codito commented on #786
One of the guiding principles for vstest is to provide an uniform user experience (across CLI, IDE/Editors, CI) to run tests irrespective of the test frameworks used, and provide great extensibility for developers (e.g. adapters, loggers etc.). We're evolving the platform towards that. This comment also summarizes the thought process: https://github.com/dotnet/cli/issues/4921#issuecomment-26505120

[2017-05-07 05:56] bradwilson commented on #786
We (@xunit) have always viewed VSTest as a way to get integration with Visual Studio. The availability of `vstest.console.exe` in desktop CLR and `dotnet test` (or `dotnet vstest`) in .NET Core is a down-level experience, a common denominator runner platform that does not offer xUnit.net-specific features. For that, we have `xunit.console.exe` for desktop CLR and `dotnet xunit` in .NET Core. These

[2017-05-07 06:00] StrangeWill commented on #786
@bradwilson yeah just noticed that the new beta has `dotnet xunit` functionality, which I know has been talked about since .NET Core dropped the ability to pass parameters onto `xunit.console.exe` prior to the VSTest changes.

This comment: https://github.com/dotnet/cli/issues/4921#issuecomment-281677977 suggests that's probably have 3rd party testing frameworks will work entirely moving forward a

[2017-05-07 06:03] bradwilson commented on #786
I meant automation from a code perspective (i.e., using our VSTest adapter as an API that they can program against, by simulating the Visual Studio APIs themselves). 😉

[2017-05-07 06:16] StrangeWill commented on #786
Guess I'm going to close it with these notes:

VSTest is primarily to create a unified API for communicating with test runners, this relies on runsettings for any specific configuration for the test runners (and support for such). This exposes 3rd party testing frameworks to tools like Resharper and whatnot easily.

Libraries like xUnit are putting out their _own_ test runners so that they can exp

[2017-05-07 06:16] #786 closed

[2017-05-07 06:38] bradwilson commented on #786
Unfortunately, it took me some time to get `dotnet xunit` working the way I wanted it to, which left us in this in-between state for a while. The beta releases of xUnit.net are generally speaking very stable, and you should feel comfortable using the beta runners in CI scenarios (I have personally used almost exclusively beta builds for the last 10 years, on primarily large codebases (including Co

[2017-05-07 06:43] StrangeWill commented on #786
Yeah I had been on beta xunit for awhile before 2.2 hit stable, it was always good to me, I just didn't check for a beta again because I didn't even know that 2.3 was in the works or what was coming with it.

Thanks for the work on Xunit though. 👍

[2017-05-08 12:31] singhsarab commented on #773
This has been fixed for 15.3 Preview 2.

[2017-05-08 12:31] #773 closed

[2017-05-08 15:18] Faizan2304 commented on #784
### What is the issue:
for configuration `release` the compiler is doing some magic and  the method TestMethod1() keep calling itself recursively without throwing `StackOverflowException` exception. As a result of this TestHost never get `StackOverflowException` and hence test keep running.

This is getting repro for console application as well for code
[code]

The above code keep executing withou

[2017-05-08 15:19] Faizan2304 commented on #784
Closing this bug as this is not the bug in vstest but the way dotnet behave.

[2017-05-08 15:19] #784 closed

[2017-05-08 21:04] vsccarl opened #790 ".NET Core Console App & Class Library projects not detecting tests"
## Description
Adding xunit or mstest tests to a .NET Core Console app or Class Library are not being detected by Test Explorer

## Steps to reproduce
1. Create a new .NET Core Console App
2. Add Xunit and Xunit.runner.visualstudio NuGet packages to the project.
3. Add a test to the project
4. Open Test Explorer and select Run All

## Expected behavior
Tests in the project should be shown in Test

[2017-05-09 01:04] codito commented on #790
@vsccarl the test projects for .net core should target an app runtime (netcoreX.Y) and include `Microsoft.NET.Test.Sdk` package, it will bring the test host dependency used to discover/execute tests.

[2017-05-09 01:08] #646 closed

[2017-05-09 07:51] MiaomiaoHuangfu opened #791 "the default Output type should be Class Library for both mstest and xunit"
## Description

- the Output type of UnitTest (.NET Core) and xunit (.NET Core) project are both Class Library, but give "Console Application". It failed to update the output type.

## Steps to reproduce

- Create a Unit Test Project (.NET Core) or xUnit Test Project (.Net Core);
- Right click the project and click "properties", the default Output type is "Console Application", which should be "Cl

[2017-05-09 09:25] smadala commented on #791
@MiaomiaoHuangfu Thanks for reporting issue.
.Net core unit test project suppose to be Console application as per discussion [here](https://github.com/dotnet/sdk/issues/201). `Microsoft.NET.Test.Sdk` package makes sure the same.

[2017-05-09 09:25] #791 closed

[2017-05-09 20:42] ekumlin commented on #744
Just following up on this after a couple weeks.

Is this issue being actively triaged or worked on? Currently our only workaround for this is to run tests from the console instead of the IDE, which is a significant workflow change.

Thanks.

[2017-05-10 02:02] codito opened #792 "Use executable flags in Microsoft.NET.Test.Sdk"
This issue is a follow up to the discussion in https://github.com/dotnet/sdk/pull/1178

We can set following flags for test projects:
* `HasRuntimeOutput = true` to allow generation of deps file
* `OutputType = dll`
* Remove the logic for auto generation of binding redirects
* Check if we need to add a flag to disable packaging of test projects? Or it comes automatically?

[2017-05-10 03:41] livarcocc opened #794 "dotnet-test: expose the help information from the runner when doing dotnet-test --help"
_From @livarcocc on May 19, 2016 21:14_

We should consider also printing the help from the runner when the user does dotnet test --help. This would make discovering the runner options a lot easier.

_Copied from original issue: dotnet/cli#3143_

[2017-05-10 03:41] livarcocc commented on #794
_From @blackdwarf on May 20, 2016 5:30_

@livarcocc I think we should do this. First, very easy step, would be to simply inform the user that there is the possibility to pass in `--help` to the runner as well or a link or something. Second, better step, would be to pass in the `--help` to the runner, collect the output and show it on `dotnet test` as well.

Something like (off the top of my head):

[2017-05-10 03:41] livarcocc commented on #794
_From @igatanasov on May 20, 2016 7:9_

also it will be very easier just to output the xunit.console.exe arguments

dotnet test --help => xunit.console.exe output

xUnit.net Console Runner (64-bit .NET 4.0.30319.42000)
Copyright (C) 2015 Outercurve Foundation.

usage: xunit.console <assemblyFile> [configFile] [assemblyFile [configFile]...]
[options] [reporter] [resultFormat filename [...]]

Note:

[2017-05-10 03:41] livarcocc commented on #794
_From @brthor on May 20, 2016 17:23_

@blackdwarf With your proposal, the help output would change based on the directory (based on the `testRunner` in `project.json`) a user is in, which can be confusing for a first time user of dotnet-test (who need `--help` the most).

Another issue is that the project would need to be restored, before the test runner is available to query for help output.

Wha

[2017-05-10 03:41] livarcocc commented on #794
_From @blackdwarf on May 20, 2016 18:18_

@brthor sounds a little messy. Also, wouldn't we want it to change based on the testRunner? :)

[2017-05-10 03:41] livarcocc commented on #794
I think I am fine with what @blackdwarf initially suggested.

We show the help for dotnet test and under it, we can put some separation: -------- or ===== or something and say test runner help: <runner> and show the content for the runner, if the project hasn't been restored. Otherwise, we can show a message saying restore to see runner help options?

Would this be ok?

[2017-05-10 03:41] livarcocc commented on #794
_From @brthor on May 20, 2016 18:26_

Why messy? It provides a default experience that makes sense for 80% of use cases and caters to new users of the toolset, who might not even be aware of the significance of the testRunner property in the project.json.

It would change based on testRunner when that information is present.

[2017-05-10 03:41] livarcocc commented on #794
_From @blackdwarf on May 20, 2016 18:38_

@brthor people need to be aware of the significance of the test runner property for now, because it tells them what test runner they are using. I like @livarcocc approach. Consider also one thing: if you mix the two, if people didn't restore, they may try to pass in a switch that fails because the binary is not there to handle it.

[2017-05-10 05:56] Faizan2304 commented on #794
@codito : Does this ask needed in current dotnet test scenario. The capability which dotnet test exposes now is already mention in its help content. And for the runner we already have a vstest verb.

[2017-05-10 10:40] navin22 commented on #472
This issue is fixed. Fix will be available in the next VS update.

[2017-05-10 11:48] PureKrome commented on #472
Thank you heaps!

[2017-05-10 14:21] sharwell commented on #124
Was this fixed in #713?

[2017-05-10 14:27] sharwell opened #798 "Cannot easily launch the feature for debugging"
## Description

It is not currently possible to "clone and go" with this repository.

## Steps to reproduce

1. Clone the repository
1. Open **TestPlatform.sln**
1. Right click on a project and select **Set as StartUp Project**
1. Press <kbd>F5</kbd> (Debug &rarr; Start Debugging)

## Expected behavior

The solution builds, and an experimental instance of Visual Studio 2017 opens with the new loca

[2017-05-10 15:12] jnm2 commented on #472
Wow so that was quick! Is this the version you're referring to or is it the next one?
https://www.visualstudio.com/en-us/news/releasenotes/vs2017-relnotes#a-id1522643004arelease-date-may-10-2017---version-152-2643004

[2017-05-10 17:26] italojs commented on #558
I had the same problem. Using the solution outlined by @bryanrcarlson  solved the issue.
Thanks!
sorry @andrey-yemelyanov , I copied your comment.

[2017-05-10 20:14] livarcocc opened #799 "Console.WriteLine calls during dotnet test are not emitted to the console on Windows"
_From @jonsequitur on December 15, 2016 19:10_

## Steps to reproduce

* Add a `Console.WriteLine` call in a test, .e.g `GivenThatIWantToMigrateTestApps.ItMigratesRootProjectAndReferences`
* On Windows, `dotnet test --test-case-filter "FullyQualifiedName=Microsoft.DotNet.Migration.Tests.GivenThatIWantToMigrateTestApps.ItMigratesRootProjectAndR
eferences"`

## Expected  behavior

The string passed

[2017-05-10 20:14] livarcocc commented on #799
_From @krwq on January 5, 2017 23:46_

@jonsequitur You should probably be using Xunit's ITestOutputHelper. making Console.WriteLine forward to that might be slightly harder

[2017-05-10 20:14] livarcocc commented on #799
_From @jonsequitur on January 6, 2017 4:35_

The issue that I was seeing was that this works on OS X but not on Windows.

[2017-05-10 20:14] livarcocc commented on #799
I am seeing that too on windows. None of the Console.WriteLine from my tests gets printed out. We should not ask users to use special APIs to print to the console.

@codito @Faizan2304 Can you guys take a look?

I think we should move this bug to the vstest repo.

[2017-05-11 01:33] codito commented on #799
I think this should be handled by adapters at some level. MSTest for instance captures and sends the console outputs to the runner, I think we are including them in trx logger, but not in the console. We can start showing them in console. cc: @Faizan2304

There were a few requests to capture console output in xunit:
https://xunit.github.io/docs/capturing-output.html suggests to use IOutputHelper
h

[2017-05-11 01:35] codito commented on #124
Yes, it should be part of upcoming VS releases. We can close this issue.

[2017-05-11 01:35] #124 closed

[2017-05-11 01:39] codito commented on #472
This fix should be part of the next 15.3 preview updates.

[2017-05-11 01:43] codito commented on #798
The vsix project today doesn't include project references to other product projects (they are all multi targeted, and don't play nice with project references in a vsix). This definitely makes getting started harder.

It is possible to generate a vsix in command line:
[code]

It can be installed into any VS instance.

[2017-05-11 03:01] codito opened #800 "Code coverage requires DebugType full"
For projects using the roslyn based project system, coverage requires `DebugType = Full` as shown below:

[code]

This issue tracks the requirement to support portable symbols in coverage infrastructure.

[2017-05-11 06:50] Faizan2304 commented on #794
Closing this bug as this ask does not make sense in current context as the way we are showing help is different from the time when this bug was opened.

[2017-05-11 06:50] #794 closed

[2017-05-11 09:14] Faizan2304 commented on #706
Fixed

[2017-05-11 09:14] #706 closed

[2017-05-11 09:14] Faizan2304 commented on #618
Fixed!!

[2017-05-11 10:32] DavidKarlas opened #801 "Null reference exception processing test fail response"
## Description
Null reference exception
at(most right are file and lines of stack trace)
[code]
caused by response from NUnit adapter
[code]

## Steps to reproduce
I just executed test that had failure and it threw exception.
[code]

## Expected behavior
Either expect and handle `null` or change adapter/host(not sure which) to not send `null` for message text

## Actual behavior
Null reference exc

[2017-05-11 11:00] Faizan2304 commented on #801
@DavidKarlas : Can you please share the nuget package version of Nunit adapter and the target framework version of your test project.
Seems like a bug in our side and willing to have a local repro.

[2017-05-11 11:14] DavidKarlas commented on #801
Whole configuration is still a bit in flux but I'm pretty sure Adapter is 2.0.0 and NUnit 2.6.4

[2017-05-11 13:07] smadala commented on #744
This issue was moved to Microsoft/testfx#180

[2017-05-11 13:07] #744 closed

[2017-05-11 16:13] petarrepac commented on #627
affected by this as well, please fix also for
dotnet --version
1.0.4
netcoreapp1.0

[2017-05-11 19:37] vsccarl commented on #790
@codito adding the package causes an error when building:

[code]
Looking in the project properties, I can't set/select any other entry points.

[2017-05-11 20:15] bernardbr commented on #411
In my case, I solved it with a python script. I've tried to do it with a PowerShell script, but I got restriction error.

### Python solution:
[code]

### PowerShell solution:
[code]

### My task.json
[code]

[2017-05-12 05:41] smadala commented on #790
@vsccarl .Net core test projects are console apps. `Microsoft.NET.Test.Sdk` has a target which creates auto generated entry point [here](https://github.com/Microsoft/vstest/blob/333752b3009468ceffe02238df948609019bce5c/src/package/nuspec/Microsoft.NET.Test.Sdk.targets#L66). You can't have any other entry point in your project when you add `Microsoft.NET.Test.Sdk`.

[2017-05-12 09:47] DavidKarlas opened #804 "Include stack traces into Error messages"
## Description
In case TestAdaptor crashes all host gets is error message without stacktrace example:  https://github.com/Microsoft/vstest/blob/5f5e5ce/src/Microsoft.TestPlatform.CrossPlatEngine/Discovery/DiscovererEnumerator.cs#L142-L148
What I had to do is connect with debugger to figure out what happens, could be more annoying if only customer could reproduce problem.

If you disagree with me,

[2017-05-12 10:12] smadala commented on #804
@DavidKarlas Thanks for raising issue.
We can get Sacktrace from /diag:log.txt option which creates `log.*.host.txt` file. The `log.*.host` contains the stacktrace.
Yeah, We should show the StackTrace directly on console. Please feel free to raise the PR for it. (by changing e.Message to e.ToString() in all usages).

[2017-05-12 10:15] smadala commented on #800
Making DebugType to Full for netcore breaks source navigation and context "Run Tests" option. related bug:https://github.com/Microsoft/vstest/issues/373

[2017-05-12 10:16] DavidKarlas commented on #804
You are probably correct about I should use `/diag:log.txt`, hence closing

[2017-05-12 10:16] #804 closed

[2017-05-12 14:51] AbhitejJohn opened #805 "dotnet test --logger "trx" missing categories"
## Description
.trx file generated by dotnet test don't have test categories information

## Steps to reproduce
Create a test project with test methods annotated with [TestCategory("foo")].
Run dotnet test --logger "trx"

## Expected behavior
.trx file with test categories information

## Actual behavior
.trx file without test categories information

## Environment
Windows 10 Pro 1607
MSTest.TestA

[2017-05-12 14:53] AbhitejJohn commented on #805
I can repro this as well. Interestingly enough this data comes out fine in the log from Test Platform v1.

[2017-05-12 15:18] qmfrederik opened #806 "dotnet test: TypeInitializationException in PlatformEqtTrace"
## Description
I'm running dotnet test on .NET Core 2.0 Preview 1.

## Steps to reproduce

1. Make sure you've got .NET Core 2.0 Preview installed
2. Clone https://github.com/corecompat/system.drawing
3. Run the `.\clone-mono.ps1` script to make sure the project can build
4. Do dotnet restore of the solution
5. Run `dotnet test --filter "TestCategory != NotWorking" test/CoreCompat.System.Drawing.T

[2017-05-13 00:16] jmarolf opened #807 "executor holds on to dll after test run"
## Description
Unable to build because vstest.executionengine.x86 holds on to dlls after test run completes

## Steps to reproduce
Right click on a test class and select "Debug Test" from the right click menu.

## Expected behavior
Project rebuilds and debugs test

## Actual behavior
Build fails because dlls cannot be copied

## Environment
dotnetcore 2.0 project
Visual Studio 2017.3 Preview1

[2017-05-13 01:44] alarimer commented on #654
Still unavailable in VS 15.2

[2017-05-13 06:57] Mnuzz commented on #661
See https://github.com/Mnuzz/AutoHotkey.FSharp/tree/31d34922e1163d1a1fe98fff2e66976df2f9039f for a (possible) self-contained reproduction of this issue from VS Test Runner.

[2017-05-13 07:04] Suriman commented on #654
It is in VS 15.3 (still in preview).

[2017-05-13 11:14] yaakov-h commented on #702
Is there any chance this will make it into 2.0?

[2017-05-13 11:44] yaakov-h opened #808 "VsTestConsoleWrapper doesn't work with Microsoft.TestPlatform.CLI"
## Description
In lieu of #702, I'm attempting to build a small program to lists tests and run a select subset. In doing so, it appears that there is a mismatch between `Microsoft.TestPlatform.VsTestConsole.TranslationLayer.VsTestConsoleProcessManager` and `Microsoft.TestPlatform.CLI`

## Steps to reproduce
1. Restore the NuGet package `Microsoft.TestPlatform.CLI` version 15.0.0 to `C:\Temp\VSTest

[2017-05-13 17:41] smadala commented on #808
@yaakov-h Restore Microsoft.TestPlatform package,  you should assign value for `vstestConsolePath` from "...\Microsoft.TestPlatform.15.0.0\tools\net46\vstest.console.exe". [Program.cs](https://github.com/Microsoft/vstest/blob/master/samples/Microsoft.TestPlatform.TranslationLayer.E2ETest/Program.cs) may help you.

[2017-05-13 17:48] yaakov-h commented on #808
`Microsoft.TestPlatform`, as a package unto itself, doesn't appear to exist.

https://www.nuget.org/packages?q=Microsoft.testplatform

[2017-05-13 18:08] smadala commented on #808
@yaakov-h Yeah, you are right, I don't know exact reason why it wasn't published to nuget.org.Can you please use source https://dotnet.myget.org/F/vstest/api/v3/index.json for workaround.

[2017-05-13 18:36] smadala commented on #807
Can you please share csproj, Theoretically `vstest.executionengine.x86` should not be involved in dotnetcore 2.0 project. I was unable to repro for net452 framework by following repro steps.

[2017-05-14 01:56] yaakov-h commented on #808
Thanks, making progress. I now get a different exception:

[code]

[2017-05-14 06:55] smadala commented on #808
Did you can call `wrapper.StartSession()`: Starts vstest.console and `wrapper.InitializeExtensions()`: Initializes test adapter? [Example](https://github.com/Microsoft/vstest/blob/master/samples/Microsoft.TestPlatform.TranslationLayer.E2ETest/Program.cs#L62).

[2017-05-14 07:16] yaakov-h commented on #808
EnsureInitialized calls StartSession and InitializeExtensions internally. So I have to call it separately, too?

[2017-05-14 09:34] yaakov-h commented on #808
OK so that seems to work - calling `wrapper.StartSession()` before `wrapper.InitializeExtensions(...)` does fix the problem.

Unfortunately it doesn't seem to like the test adapter assembly:

[code]

I also get the exact same error if I replace all of my code with the E2E sample above.

I'm using:

* `C:\Temp\VSTest\packages\Microsoft.TestPlatform.15.0.0\tools\net46\vstest.console.exe` as the runn

[2017-05-15 10:59] Faizan2304 commented on #801
Fixed!!!

[2017-05-15 10:59] #801 closed

[2017-05-15 12:17] codito commented on #654
Closing this since it shipped in 15.3-preview release!

[2017-05-15 12:17] #654 closed

[2017-05-15 12:22] codito commented on #579
In `15.3 Preview 1`, code coverage for .NET core is available in VS. Instructions are here: https://github.com/Microsoft/vstest-docs/blob/master/docs/analyze.md#coverage. Please try it out.

We're working on bringing coverage to `dotnet test` command line.

[2017-05-15 12:33] raffaeu commented on #579
@codito we just tried with these versions:

- Visual Studio 2017 15.2
- xunit  2.2.0
- Microsoft.NET.Test.Sdk" Version="15.3.0-preview-20170502-03"

Tests run and they are green but Code Coverage is not triggered.
Is it working only with MsTest? I hope we don't have to re-write all our tests 😢

[2017-05-15 12:37] codito commented on #579
@raffaeu it is available in `VS 2017 15.3 preview 1`, you can get the build from https://www.visualstudio.com/vs/preview/. It works with all frameworks :)

[2017-05-15 12:38] raffaeu commented on #579
Oh, thanks I will try then with the *preview* version
Thank you

[2017-05-15 19:29] drognanar commented on #121
It seems that this issue is happening again after PR #727 was merged.
The portable CommunicationUtilities project is now explicitly referencing Newtonsoft.Json 9.0, while the TranslationLayer package is still referencing 8.0.3.

CommunicationUtilities: https://github.com/Microsoft/vstest/blob/18ca783e16b1e66f3b7e70a6f3af23f4507b9df4/src/Microsoft.TestPlatform.CommunicationUtilities/Microsoft.TestP

[2017-05-15 21:24] jeremymeng opened #811 "Unable to run/debug XUnit tests targeting Desktop from Visual Studio on latest Windows 10 machine"
## Description

After the Windows 10 Creators update, I can no longer run or debug xunit tests
targeting Desktop .NET Framework in Visual Studio.

## Steps to reproduce

1. On a machine with .NET 4.7 and VS 2017 15.2. I think .NET 4.7 comes with
   Windows Creators update. After I installed .NET 4.7 on another machine that had .NET 4.6, I
   don't see `System.Runtime, Version=4.1.0.0` in GAC. The

[2017-05-15 22:11] jeremymeng commented on #811
I  can see that tpv2 is enabled, and `vstest.console.exe` is started. But at the same time, `vstest.discoveryengine.x86.exe` is also started
[code]
Is there any other workarounds?

[2017-05-16 02:47] codito commented on #121
Thanks @drognanar, created a PR for this.

[2017-05-16 03:00] codito commented on #811
@jeremymeng thanks for detailed investigation. Looks like reflection on OM.DiaSession is failing in adapter, need to debug to find what's going on.

[2017-05-16 03:04] tannergooding commented on #121
@codito, @drognanar. This might actually be ok. I forwarded the relevant e-mail to @ManishJayaswal, but it looks like we may be moving forward anyways.

[2017-05-16 05:48] codito opened #813 "Code coverage should exclude auto generated entrypoint"
## Description
Code coverage for .net core projects is including `AutoGeneratedProgram` in coverage metrics. It should be excluded.

## Steps to reproduce
1. Use these instructions to run code coverage for .net core in test explorer: https://github.com/Microsoft/vstest-docs/blob/master/docs/analyze.md#working-with-code-coverage

## Expected behavior
Coverage includes user code only.

## Actual beh

[2017-05-16 06:12] codito commented on #813
Might get fixed with #792 which will remove auto generated code from test projects.

[2017-05-16 06:13] codito commented on #579
Currently known issues are tracked here: https://github.com/Microsoft/vstest/labels/exp%3A%20coverage

[2017-05-16 08:38] Faizan2304 commented on #799
Fixed!!

[2017-05-16 09:37] #618 closed

[2017-05-16 10:35] #685 closed

[2017-05-16 12:28] Faizan2304 commented on #806
@qmfrederik :
It seems like the culprit here is the content of csproj file `CoreCompat.System.Drawing.Tests.csproj `
 https://github.com/CoreCompat/System.Drawing/blob/master/test/CoreCompat.System.Drawing.Tests/CoreCompat.System.Drawing.Tests.csproj#L4

Changing the csproj content from
[code]

To

[code]

is solving the problem.

Can you please change as mentioned above and try to run your test.

[2017-05-16 15:40] qmfrederik commented on #806
@Faizan2304 Thanks I'll give that a try.

I'm a bit confused, though. I want to be able to run tests on both net462 and netstandard2.0; why would specifying mutiple TargetFrameworks be invalid?

[2017-05-16 16:04] codito commented on #806
@qmfrederik these two lines below are conflicting.
[code]

At a time, the project can have either `TargetFramework` where we're indicating this is a single targeted project, or it can have `TargetFrameworks` indicating `build` and `test` for multiple frameworks.

[2017-05-16 17:18] jeremymeng opened #814 "Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.discoveryengine.x86.exe still used when TPv2 is enabled"
(splitting from #811 as this seems a different issue.)

## Description
After I enabled TPv2 for desktop tests, VS still uses `Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.discoveryengine.x86.exe` to discover tests

## Steps to reproduce
1. Enable TPv2 by following instructions at the bottom of https://github.com/Microsoft/vstest-docs/blob/master/docs/contribute.md#building-with-visual-

[2017-05-16 19:26] cdie commented on #579
Hey, finally, great !
Nice to have it again with preview version. And I should also notice that this preview version (15.3) seems to works better than currently supported one (15.2) ...
Can't wait to use it every day

[2017-05-17 00:56] VanKrock opened #815 "Namespace Microsoft.VisualStudio.TestPlatform.Client not exists in nuget package Microsoft.NET.Test.Sdk"
Namespace Microsoft.VisualStudio.TestPlatform.Client not exists in nuget package Microsoft.NET.Test.Sdk last version 15.3.0-preview-20170502-03
How can I get Microsoft.VisualStudio.TestPlatform.Client? Or how can I create instance of ITestPlatform?

[2017-05-17 05:31] livarcocc opened #816 "Test platform should be published to a separate directory than dotnet.dll"
_From @eerhardt on January 26, 2017 5:11_

The `microsoft.testplatform.cli` nuget package is getting published to the sdk folder along with the rest of the CLI assemblies.  However, this nuget package ships a bunch of assemblies (like `System.ComponentModel.Primitives.dll`) in its contentFiles directory.  When the CLI wants to move to different versions of the framework, this causes problems becau

[2017-05-17 05:31] livarcocc commented on #816
_From @piotrpMSFT on February 1, 2017 9:19_

Agreed. The test platform already made targets changes to enable this scenario. The change is a bit too risky for 1.0 but we plan to undertake it in 2.0.

[2017-05-17 05:31] livarcocc commented on #816
_From @eerhardt on May 15, 2017 16:59_

Re-pinging this issue as this continues to cause issues.

Not only should the test platform be published to a separate directory, but we need to restructure the NuGet package that the vstest team gives to the SDK.

The issue here is that vstest "publishes" against version XYZ of the shared fx, and says "here are the 15 assemblies we need to put into the SDK"

[2017-05-17 05:31] livarcocc commented on #816
Yeah, we will chat about it tonight and then I will move this bug to the vstest repo.

[2017-05-17 07:10] k3flo commented on #704
Hi @smadala ,
after we deactivated the Crystal Report Tests the Testrunner didn't crash immediately. But after executing our Build & Deployment Job two or three times it crashes again. I have the feeling that it only works correct if I restart our VM where the Tests are executed every day. But I am not really sure about it. It's only a feeling.

Attached you see the errors from the Event Viewer af

[2017-05-17 08:05] nigurr commented on #704
@k3flo can you also share whether your are using VSTS or On-Prem TFS and the file version of DTAExecutionHost, vstest.executionengine.exe?

[2017-05-17 10:08] smadala commented on #704
@k3flo Can you please share dump for DTAExecutionHost and vstest.executionengine.exe whenever it crashed?

[2017-05-17 11:26] martinfletcher opened #819 "Test runner crashes with VSTS Build"
## Description
I have a build which runs tests on several projects (9) that fails with the following message:

The active test run was aborted. Reason: Unable to write data to the transport connection: An existing connection was forcibly closed by the remote host.

## Steps to reproduce
Run build on VSTS with several projects

"C:\Program Files\dotnet\dotnet.exe" test d:\a\1\s\tests\DependencyInje

[2017-05-17 12:37] Faizan2304 commented on #815
@VanKrock Nuget package Microsoft.NET.Test.Sdk doesn't have assembly which has ITestPlatform interfaces. It has all the things which is needed at the time of building and running test project project.

Can you please let us know how are you going to use ITestPlatform. This is not supposed to be get user outside out test engine.
If you are looking for a programmatic way to run tests then use transl

[2017-05-17 12:54] Faizan2304 commented on #819
@martincostello : Are you able to run this test on your local machine??

What is the version of dotnet you are using? I am interested in output of below two command
[code]

The second command will give a long output. Please provide us first 3 or 4 line of the result which will look similar to
[code]

[2017-05-17 13:00] singhsarab opened #820 "Cleanup windows specific code for net46"
## Description

1. https://github.com/Microsoft/vstest/blob/master/src/Microsoft.TestPlatform.ObjectModel/Navigation/DiaSession.cs#L50
2. https://github.com/Microsoft/vstest/blob/master/src/Microsoft.TestPlatform.ObjectModel/Utilities/XmlRunSettingsUtilities.cs#L44
3.	https://github.com/Microsoft/vstest/blob/master/src/Microsoft.TestPlatform.CoreUtilities/Helpers/DotnetHostHelper.cs#L45

## Enviro

[2017-05-17 13:01] martincostello commented on #819
I think you meant @martinfletcher.

[2017-05-17 13:04] Faizan2304 commented on #819
@martincostello : Yes you are right. Thank you :)

[2017-05-17 13:59] Faizan2304 commented on #811
@jeremymeng : I tried to create local repro but no luck. I have windows 10 with Creator update (OS build 15063.296). I installed .NET framework 4.7. I too don't see `System.Runtime, Version=4.1.0.0` in GAC. The version
`4.0.0.0` is in GAC.

Do you have repro machine where I can debug the issue? If not can you please try to provide us crash dump.

To get the dump, attach vstest.executionengine.x86.

[2017-05-17 14:12] Faizan2304 commented on #814
@jeremymeng : This is by design for now. We will remove it once we will fully move to TPV2. vstest.discoveryengine.x86.exe get spawned at the beginning irrespective of whether we are using TPV1 or TPV2 and it keep waiting for any communication with client.

If target framework is net46 and TPV2 is not enabled through  testplatform.config ([detail info here](https://github.com/Microsoft/vstest-docs

[2017-05-17 14:47] eerhardt commented on #816
The title of this should probably change to something like "Test platform should use typical NuGet packages to distribute assemblies into .NET Core SDK".

The main driving concern here is that we aren't getting dependency unification and any other tooling support because all of the test platform assemblies are shipped as "contentFiles".

[2017-05-17 15:38] Just1n opened #821 "How to change display language to english?"
I once used Win10&VS2017 in chinese, so I got display language in CMD was chinese, it looked like:

Then I changed my Win10's & VS2017's language to english, everything was fine (display in english) except the VSTest tools, it still displayed in chinese.

So my question is, how chould I change the language of VSTest tools to english?

Cache related? or language package of .Net Framework?

[2017-05-17 16:24] Faizan2304 commented on #808
@yaakov-h : I am looking into it, will update you soon.

[2017-05-17 16:52] VanKrock commented on #815
@Faizan2304 I want to run my tests programmatically for example on rest request. I want to create web api service for manage testRuns on remote desktops. Microsoft.TestPlatform.Client seemd to me the best solution. I can do this using console wrappers such as sample, but Microsoft.TestPlatform.Client seems better for my tasks.

[2017-05-17 17:24] jeremymeng commented on #811
@Faizan2304 When I attach to vstest.console.exe and run my test from Visual Studio, the only first-chance exception I got is the following one

[code]

This is the run settings on the stack

[code]

I didn't get the `System.TypeInitializationException` shown in Visual Studio Output window.

[2017-05-17 18:55] martinfletcher commented on #819
Yes, these run fine locally. The issue is on the hosted build agent on vsts. I have spoken to a support engineer today via phone and he seems to think that the issue is with performance of the vsts hosted agent.

[2017-05-18 04:45] #814 closed

[2017-05-18 04:46] Faizan2304 commented on #806
@qmfrederik  I hope your issue has been resolved. I am closing the issue. Please revert back if you have any query.

[2017-05-18 04:46] #806 closed

[2017-05-18 05:30] Faizan2304 commented on #821
@Just1n : Are you suing `dotnet.exe` or `vstest.console.exe` from command line to run the test?
If the answer is `dotnet.exe` then can you check the output of command `dotnet.exe -h`. Is the output is coming in English?

[2017-05-18 06:09] sharwell opened #822 "Tool tips do not match display text for tests"
## Description

When working with a `[Theory]` test in xUnit, the tool tip shown for the test(s) in Test Explorer do not match the text printed for the name. Here is an example from Microsoft/perfview#222.

![image](https://cloud.githubusercontent.com/assets/1408396/26188730/84405cd6-3b66-11e7-8027-fe7af0d01c33.png)

## Steps to reproduce

1. Add a `[Theory]` test with `[InlineData]`

[code]

2. B

[2017-05-18 06:25] mayankbansal018 commented on #625
The issue is fixed by IntelliTrace tream, please verify in latest d15prerel builds

[2017-05-18 10:46] Just1n commented on #821
@Faizan2304 I'm using dotnet.exe, command is `dotnet test`.
`dotnet -h` results in english.
But `dotnet test` results in chinese.

PS. test result is chinese, but build output is english, see entire output:

[2017-05-18 15:30] Faizan2304 commented on #819
@martinfletcher : Ok.. let us know if something come from vsts hosted agent team.

[2017-05-18 17:38] martinfletcher commented on #819
Ok, so the issue is with the hosted agent.

After a long time on the phone with a support engineer, and after setting up a private agent to test on the problem seems to have been pinpointed.

Currently, the latest version of visual studio 2017 is 15.2. The hosted agents are running 15.1, and any project created with 15.2 does not work with the test agent.

I installed the agent tools on a machine

[2017-05-19 06:08] Faizan2304 opened #823 "VsTestConsoleWrapper.DiscoverTests throughs exception if VsTestConsoleWrapper.InitializeExtensions is not called with non null parameter"
## Exception:
[code]
## Root cause
When we don't initialize `VsTestConsoleWrapper.pathToAdditionalExtensions` with non null value the default value of  `VsTestConsoleWrapper.pathToAdditionalExtensions` become null and hence serialization function through exception.

## Fix
initialize  `VsTestConsoleWrapper.pathToAdditionalExtensions` in constructor with empty list.

[2017-05-19 06:36] Faizan2304 commented on #808
@yaakov-h here is the working code
[code]

Thinks to be take care:
1) The project for which you are running test is targeting netcoreapp, so you need to pass this information to runner via runsetting file.

2) Some test result can come as part of `DiscoveryComplete` event.

3) For project targeting netcoreapp there is no need to pass testadapterfullpath through initialize extension (`wrapper.Initi

[2017-05-19 06:46] Faizan2304 commented on #821
Thanks @Just1n.. I am looking into it and will update you soon.

[2017-05-19 06:49] yaakov-h commented on #808
Thanks @Faizan2304, I'll try that shortly.

Is the discovery settings XML documented anywhere?

[2017-05-19 06:53] Faizan2304 commented on #808
Detail doc here : https://msdn.microsoft.com/en-us/library/jj635153.aspx

[2017-05-19 07:32] #823 closed

[2017-05-19 14:41] Faizan2304 commented on #819
@nigurr  can help on test agent issue.

@martinfletcher what is the type of project(language, target framework etc) for which you are seeing the issue?

[2017-05-19 14:43] Faizan2304 commented on #815
@VanKrock : Console wrapper (Translation layer) is the suggested way to go hear. We don't expose ITestPlatform  to outside world. I hope translation layer will fulfill all your requirement.

[2017-05-19 14:43] #815 closed

[2017-05-19 15:14] marc-mueller opened #825 "[Question] appx test discovery not working with self-compiled vstest.console.exe"
## Description

## Steps to reproduce

## Expected behavior

## Actual behavior
[code]

What do we need to do, to be able to run the tests from within the self-compiled version of the vstest.console.exe?

Thanks for your help!
Marc

[2017-05-19 20:39] martinfletcher commented on #819
They are c# net standard 1.4 and 1.6

[2017-05-20 13:12] yaakov-h commented on #808
@Faizan2304 Thanks, that xml was the magic I was missing. It now works like a charm.

Are there any plans to publish `Microsoft.TestPlatform` to nuget.org?

[2017-05-20 13:16] yaakov-h commented on #820
For #3, shouldn't we use `System.IO.Path.PathSeparator`?

[2017-05-20 18:17] lakartoza commented on #578
Don't forget to restart your mac if you try to do the `ulimit -n 4096`. Worked after!

[2017-05-20 21:29] RickStrahl opened #826 "How to run Multi-Targeted Tests in VS 2017.3 Testrunner"
I have an SDK Test Project that uses both `netcoreapp2.0` and `net452` as a target. Tests run properly from the command line with dotnet test, running tests for both frameworks.

I have target frameworks set and configured each target with its appropriate dependencies and constants etc.

[code]

It works from the command line, but inside of Visual Studio however, I cannot get tests to work unless

[2017-05-22 03:51] nigurr commented on #819
@martinfletcher @Faizan2304 I believe you meant "Running tests under hosted pool is failing"?

[2017-05-22 04:17] martinfletcher commented on #819
@nigurr Yes hosted 2017

[2017-05-22 05:21] davkean commented on #615
Still running into this, Keep test runner running isn't checked:
![image](https://cloud.githubusercontent.com/assets/1103906/26293747/3fb02840-3f02-11e7-89cc-1a9804f899f7.png)

However, the runner is still running and locking the dlls:

![image](https://cloud.githubusercontent.com/assets/1103906/26293755/4cf79146-3f02-11e7-8a88-6405cbbba0e9.png)

@codito Can you please mark this as a bug and not a

[2017-05-22 05:28] davkean commented on #615
This looks like it's been regressed significant in the Version 15.3.0-pre.1.0+26521.1.d15prerel build. Every second build is blocked by the dlls being locked.

[2017-05-22 05:29] davkean commented on #615
I'm now blocked from running tests in Visual Studio.

[2017-05-22 05:36] Faizan2304 commented on #808
@yaakov-h We don't have any immediate plan to publish `Microsoft.TestPlatform` to nuget.org but we will publish in near future.

If you want to use/dogfood latest TPV2 then you can use myget feed https://dotnet.myget.org/F/vstest/api/v3/index.json to get `Microsoft.TestPlatform`  package. We keep uploading our daily build there.

[2017-05-22 05:43] davkean commented on #615
I attached to the exe, and the following are the threads:

![image](https://cloud.githubusercontent.com/assets/1103906/26294204/644537a6-3f05-11e7-968e-abc9c26a2500.png)

[2017-05-22 06:19] Faizan2304 commented on #826
@RickStrahl Currently multi-targeting is not supported from Visual studio. Its in our priority list and we are actively working on it to bring it in VS but under which mile stone this will come is not decided.

What version of VS you are using?
Are you able to repro the above issue with a blank unit test project targeting net452?

[2017-05-22 08:11] yaakov-h commented on #808
@Faizan2304 OK, thank you.

[2017-05-22 08:11] #808 closed

[2017-05-22 13:02] Faizan2304 commented on #93
Template has been added in vsualm branch.

[2017-05-22 13:02] #93 closed

[2017-05-22 14:58] bragma opened #827 "vs2017 release 15.2 - Test source code not found and project marked as "external""
Hi,
after installing the latest vs2017 and converting an existing project (ASP NET Core, .NET Framework 4.6) with 1000+ tests, most of them are now marked as "external" in "view by project" and no source code is associated with them (when clicking on the code name). What's strange is that not all tests fail to be recognized, only some and it depends on the code in the test method.
I've not been ab

[2017-05-22 19:40] RickStrahl commented on #826
I'm using the current preview with support for netcore 2.0.

Standalone full framework test works (totally different story). Standalone netcore test works too.

Creating a netcore 2 project, then changing the target to net452 **does not work**. The following tells me no tests were run:

[code]

So it looks like the problem here is that net452 in an SDK project.

The blocking issue for me here is t

[2017-05-22 21:20] Zimmergren commented on #627
@codito , thanks for the update on this. Do you  have an ETA for when the VS fix will be available?
The issue appeared out of nowhere for us over the weekend. running `dotnet test` works fine, but anything from within VS fails exactly as described here. Hence, got some folks waiting to get back in the saddle in VS rather than cmdline :)

[2017-05-22 21:26] commonsensesoftware commented on #605
Explicitly configuring the `*.runsettings` file would be great, but would be even better is if the feature allows for _Convention over Configuration_.  There are arguably only a few possible use cases for a `*.runsettings` file:

1. Explicit build property (as already proposed)
2. Per project
3. Per solution

Where `#1` trumps `#2` and `#2` trumps `#3`. In terms of implementing a convention, this

[2017-05-23 01:46] mattzink opened #828 "Tests not discovered when BaseIntermediateOutputPath changed from default"
## Description

## Steps to reproduce
1. Execute `dotnet new xunit`
2. Edit csproj, adding `<BaseIntermediateOutputPath>obj2\</BaseIntermediateOutputPath>`
3. Delete existing `obj` sub-directory
4. Execute `dotnet restore`
5. Execute `dotnet test`

## Expected behavior

## Actual behavior

[code]

## Environment

[2017-05-23 02:49] rynowak commented on #827
I am having this problem as well with 15.2 and dotnet 2.0.0-preview2-006098

[2017-05-23 05:40] strangesource commented on #525
Any news on this? We would need this ASAP.

[2017-05-23 05:44] Faizan2304 commented on #826
@RickStrahl I am assuming packages are getting restore properly and build is working fine for net452. Having said that can you please try running net452 tests from command line
[code]

I am also interested in getting following information. It will help me to root cause the issue
1) Version of visual studio
2) Version of TestPlatform.vsix (Tools -> Extensions and Updates.. -> Microsoft Visual Studi

[2017-05-23 05:56] RickStrahl commented on #826
Sorry - forgot in the last message. Version is latest preview of 2017.3. (26510.0-Preview).
Test Extension Version: 15.3.2017042709

As I mentioned tests run fine from the command line with `dotnet test` for both targets which I presume is using the above runner you mention.

[2017-05-23 06:21] ekumlin commented on #525
Additional info: Interestingly, doing `Assert.Inconclusive` in a `[ClassInitialize]` method produces the desired results. In a `[TestMethod]` method, it fails the test.

[2017-05-23 06:28] Faizan2304 commented on #827
@bragma we have fixed this issue.
What is the version of Microsoft.NET.Test.Sdk you are using?
If possible can you please provide repro project, it will really help us to root cause and fix the issue faster.

[2017-05-23 06:51] Faizan2304 commented on #828
@mattzink  This is not the issue with vstest but msbuild and sdk.
Here is the solution of your problem https://github.com/dotnet/sdk/issues/980#issuecomment-285957284

[2017-05-23 06:51] #828 closed

[2017-05-23 07:28] rynowak commented on #827
You can repro this with https://github.com/aspnet/Mvc or any of the asp.net repos.

[2017-05-23 10:38] bragma commented on #827
@Faizan2304 I'm using 15.0.0.0. I saw there is a new 15.3 preview, I'll try with that too. Sadly I cannot share the project with the problem, and I've not been able to reproduce it with a simple project.
Consider that in my tests, 200 are correctly recognized, 800 are not. But if I compare the test code, I see little difference between them. The only think I am sure of is that awaits on methods/cl

[2017-05-23 12:14] Faizan2304 commented on #827
Its seems issue with xunit.
I am able to repro it with blank .net core unit test project

[code]
on changing `xunit` version to `2.2.0` everything start working.

Please open a bug in repo https://github.com/xunit/xunit

[2017-05-23 13:34] ircnelson commented on #558
I had the same problem with xUnit and solved this problem changing project type from **Library** to **Console Application**:

[code]

My final csproj: https://gist.github.com/ircnelson/9cbddb681d520d7f581dbfc99709a9e1

[2017-05-23 18:13] DavidKarlas commented on #679
Steps I used to run test:
1st apply this commit: https://github.com/DavidKarlas/vstest/commit/ab09cdbf3de150093748047750ebc76fb485f8b3

Restore+build
[code]
then copy `TestHostRuntimeProvider` into Extensions folder:
[code]
also copy TestHost

[code]
and then execute
[code]

I think you will know how to automate whole thing to load MSTest adapter without parameter and without all copying to Extens

[2017-05-24 05:29] Faizan2304 commented on #819
@nigurr : did you get a chance to look into it?

[2017-05-24 05:32] nigurr commented on #819
@Faizan2304, This is nothing to do with Test Agent. This is purely vstest.console.exe in Hosted Pools.

If you need more info on Hosted Pool versions, I can share with you. But the issue seems to be vstest.console.exe issue as it's unable to run the tests of newer VS version

[2017-05-24 06:33] Faizan2304 commented on #805
From the following testing it seems that the bug is in MSTestV2.

| Test Platform | Adapter Version | Result |
| -------------- | ------------------ | ------- |
|     TPV2         |       MSTestV2     |  No TestCategory info in trx logger |
|     TPV1         |       MSTestV2     |  No TestCategory info in trx logger |
|     TPV2         |       MSTestV1     |  TestCategory info in trx logger |
|

[2017-05-24 10:40] bragma commented on #827
@Faizan2304 there may be multiple problems then, because I am using xunit 2.2.0. Also, I've opened the bug on https://github.com/xunit/xunit/issues/1295 and they told me to ask here. It seems there is a responsibility cycle. :)

[2017-05-24 11:08] martinfletcher commented on #819
@Faizan2304 @DarqueWarrior Any ideas when vstset.console.exe will support VS2017 (15.2)?

[2017-05-24 11:08] Faizan2304 commented on #819
@martinfletcher : Are u still facing the issue or it has been resolved?
If you are still facing the issue can you please share the repro project which I can use to create a local repro.

[2017-05-24 11:10] martinfletcher commented on #819
@Faizan2304 Yes. I can not share the project as its not OS.

[2017-05-24 11:14] Faizan2304 commented on #819
@martinfletcher: Ok.
What is the target framework version of test project and product code for which you are facing the problem.

[2017-05-24 11:37] martinfletcher commented on #819
target framework is net standard 1.4, vs version is  VS 2017 Enterprise 15.2 (26430.6)

[2017-05-24 12:14] Faizan2304 commented on #819
Test project with net standard as targetframework is not a supported scenario. Test project can have targetframework as netcoreapp (eg: netcoreapp1.0, netcoreapp2.0 etc) and .net framework (eg: net46 etc).

Will it be possible for you to collect log and share with us.
To collect log
1) run `dotnet test` with argument `--diag vstestLogFile.txt`
2) Add a `Publish build artifact` task in your build d

[2017-05-24 12:30] martinfletcher commented on #819
@Faizan2304 Appologies, the test project is targeting netcoreapp1.1. The project being tested is netstandard1.4

[2017-05-24 12:33] Faizan2304 commented on #819
@martinfletcher Thanks for confirming. Please collect the log and share with us. It will help us to root cause the issue. Ideally project created in VS 15.2 should run in VS 15.1

[2017-05-24 13:21] martinfletcher commented on #819
@Faizan2304 That is the issue, the build never stops, not even after timeout period. Therefore, the logs never get generated.

[2017-05-24 13:31] Faizan2304 commented on #819
@martinfletcher My assumption is that VS 15.1 doesn't have netcoreapp1.1 runtime installed. If you will change your test code to target netcoreapp1.0, I believe everything will work fine.

[2017-05-24 13:39] AbhitejJohn commented on #525
This should be available in the preview builds of 15.3.
@ekumlin : I cannot repro that on my end. Can you please file an issue with a repro at https://github.com/Microsoft/testfx/issues

[2017-05-24 13:39] #525 closed

[2017-05-24 13:54] martinfletcher commented on #819
@Faizan2304 right OK i will try that. Any idea when 15.2 will be supported?

[2017-05-25 04:48] codito commented on #825
@marc-mueller the support for UWP is not available yet, we're tracking the work with #684.

I assume you meant the `UnitTestClient` that ships in current UWP unit test templates. Unfortunately it uses WCF to communicate back with VS/vstest.console.exe. It will not work as it is since the vstest.console (in this repo) uses json over sockets.

[2017-05-25 06:14] Faizan2304 commented on #827
@bragma : If by any chance you are having this issue
https://github.com/Microsoft/vstest/issues/523#issuecomment-287697801

Can you please do a experiment for me:
Convert the xunit test which is coming in category `External` to MStest and see if it works. This way we will come to know that issue is related to adapter or not.

To convert a test to MStest
1) Add following line in test csproj
[code]

[2017-05-25 08:08] bragma commented on #827
I sure will!

[2017-05-25 09:04] Faizan2304 commented on #392
This is xunit issue: https://github.com/xunit/xunit/issues/1042

[2017-05-25 09:04] #392 closed

[2017-05-25 15:09] wiktork commented on #625
Issue is now being tracked by https://devdiv.visualstudio.com/DevDiv/_workitems?id=440463.

[2017-05-25 16:32] NTaylorMullen commented on #392
I'm shocked; how did this work in project.json land? It used xunit as well.

[2017-05-25 16:57] KevinH-MS opened #832 ".NET 4.5 XUnit project using Newtonsoft.Json with incorrect binding redirect doesn't work with TPv2"
## Description

## Steps to reproduce

I'm not seeing this with an analogous MSTest project, so I'm guessing it has something to do with xunit.runner.visualstudio, but I can't figure out what it could be.  AFAICT, nothing in xunit references Newtonsoft.Json, so I'm guessing it must have something to do with AppDomain creation or policy.

## Expected behavior

## Actual behavior

## Environment

[2017-05-25 17:06] KevinH-MS commented on #832
When running with TPv1 (Test Explorer), I get:
[code]

[2017-05-25 19:22] twsouthwick opened #833 "Test explorer refreshes often and loses status of test runs"
## Description
I often will run my tests, determine the failure ones, and start working on fixing them. After some time, when I go to run a failed test, the project will rebuild, and then test explorer will refresh. At this point, all tests appear to not have run; I have to do a full run (which take a lot longer) in order to see the failed tests again.

## Steps to reproduce
1. Do a test run
2. Wo

[2017-05-26 00:55] andremteixeira commented on #627
Holly fuck, fix this!!! My project is stale because of that for days by now!!! Shit!!!