[2018-10-30 14:04] frjol commented on #1823
We are considering removing/renaming the property to resolve the discovery issue. This might require a lot of changes on our end. At least, we have a workaround.

[2018-10-30 15:13] mayankbansal018 commented on #1815
@javiercn , thanks please let me know if you do capture anything.
@Eilon , no we have not taken any major changes in test platform, after from enabling Code Coverage support(windows only) for dotnet core & your tests are not running under coverage, which means it should not have any impact.

I'll take another look at logs tomorrow, to see if I missed something. Just to summarize, the tests from al

[2018-11-01 20:47] mayankbansal018 commented on #1815
@javiercn , @Eilon , can you please enable logs for xUnit adapter, share them with us. The only thing that is missing right now from logs is whether the xUnit adapter has run all the test, & has send a message back to vstests platform regarding test run completion or not.

[2018-11-01 20:58] Eilon commented on #1815
@javiercn - can you try to do this?

[2018-11-02 15:19] livarcocc opened #1826 "dotnet test targeting netcoreapp2.1 throws exception if no tests found"
_From @davidsk on November 2, 2018 13:24_

## Steps to reproduce
dotnet new console
dotnet test

## Expected  behavior
Report no tests found

## Actual behavior
System.IO.FileNotFoundException is thrown (targeting net462 does _not_ throw an exception)

## Environment data
.NET Core SDK (reflecting any global.json):
 Version:   2.1.402
 Commit:    3599f217f4

Runtime Environment:
 OS Name:     Wind

[2018-11-02 17:50] ViktorHofer commented on #298
As we just discussed a related issue in our standup, is there a tracking issue that discusses what it would need to introduce a test tfm property, decoupled from the configuration property, with a switch in VS that allows running netstandard test assemblies under a specific tfm?

That's not just related to VS, command line with a test tfm switch for `dotnet test` would benefit from that too.

[2018-11-02 18:01] ViktorHofer opened #1827 "Microsoft.Net.Test.Sdk specific tfm targets should not contain TargetFrameworkIdentifier checks"
Right now the `Microsoft.Net.Test.Sdk.targets` file contains conditions that check on the `TargetFrameworkIdentifier`. That makes sense for the file that is placed under `buildMultiTargeting` but not for the files that are under specific tfm directories, i.e. `netcoreapp1.0`.

Removing these conditions and code paths that aren't related to the specific tfms would help us in corefx. That would help

[2018-11-05 01:55] danmosemsft opened #1828 "MSB4018 Access Denied hitting Ctrl-C"
## Description
Hit Ctrl-C during dotnet test run, got unhandled exception

## Steps to reproduce
I had a test that hung. I was running with `"console;verbosity=detailed"`. After waiting for a bit, I hit Ctrl-C. This happens most times. I have no idea why it says access denied, either it should catch this and ignore it or catch this and log it nicely.

## Expected behavior
Regular error message not

[2018-11-05 02:07] danmosemsft commented on #1828
This note in Process.Kill doc may be relevant `If the call to the Kill method is made while the process is currently terminating, a Win32Exception is thrown for Access Denied.`

[2018-11-05 14:37] mayankbansal018 commented on #981
@codekoenig , I'm not sure why the VSTS, is reporting in-consistence numbers regarding coverage results, where as VS IDE shows correct.
Can you please share a coverage file from one such scenario, where number reported were incorrect. We could try to upload the file from our end, & see if it shows any discrepancy.

@RehanSaeed I'll float this though internally. It's possible I'm missing something,

[2018-11-05 14:42] mayankbansal018 commented on #981
@PBoraMSFT , @cltshivash , @pvlakshm do we have an estimate for CodeCoverage on x-plat?

[2018-11-05 15:58] RehanSaeed commented on #981
@mayankbansal018 Azure DevOps has a task to run tests and accept coverage files but I use Cake build to run `dotnet test` myself which generates `.coverage` files. There is a built in task to accept code coverage files but it does not support the `.coverage` format.

[2018-11-05 18:12] kendrahavens commented on #298
@ViktorHofer There is a [test tfm switch](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test) in dotnet test. The UI would essentially use that command and set the `--framework` flag for the test run. Are you describing a different scenario?

[2018-11-05 21:54] ViktorHofer commented on #298
Documentation of the `--framework` commands says `Looks for test binaries for a specific framework.`. I was talking about having netstandard (i.e. netstandard2.0) test assemblies built and invoking them with different frameworks. The framework command sounds like it builds the project against the passed-in tfm and invokes the produced tfm specific assemblies.

[2018-11-06 06:36] karanjitsingh commented on #1826
Pending latest insertion in dotnet CLI

[2018-11-06 07:38] karanjitsingh commented on #1828
@danmosemsft, I tried to repro with a test that's supposed to hang but I'm not able to reproduce this. Could you help me with a consistent repro?

[2018-11-06 07:55] mayankbansal018 commented on #1827
@ViktorHofer, can you please explain this

The current checks for `TargetFrameworkIdentifier` are required for .netcore scenario, as we need to generate exe output type for .netcore UT

I'm not sure how files under specific tfm e.g. `netcoreapp1.0`, get affected by this condition. Can you raise a PR, which will bring out your changes? From your comments,  it seems to me that if user has files layo

[2018-11-06 10:38] ViktorHofer commented on #1827
Forget my comment about buildMultiTargeting, as it only contains the props file, I mixed that up.

Sure, I get that. What I'm saying is that you should not reuse your Microsoft.Net.Test.Sdk.targets file for different tfms (netcoreapp and netfx) and instead specialize them so that you don't need the TargetFrameworkIdentifier checks which trouble us in corefx.

![image](https://user-images.githubuse

[2018-11-06 19:45] kendrahavens opened #1830 "Visual Studio 2019 Test-related API removal"
# Visual Studio 2019 Test-related API removal

In previous releases of Visual Studio there were several test-related APIs marked public, but were never documented or intended for external use. With Visual Studio 2019, we plan to deprecate and/or remove the APIs listed in the tables below. We know this could affect extension owners so we are communicating this very early and before the first previe

[2018-11-06 21:42] devedse commented on #799
How does appveyor do this?

[2018-11-06 23:00] javiercn commented on #1815
I'm adding procdump to the build to try and capture dumps when the build hangs

[2018-11-06 23:53] javiercn commented on #1815
I've setup procdump on our Windows Server 2012 Test build and I'll see if I'm validating that we can successfully capture dumps. Once I've validated that I'll increment the sleep time on the script to try and capture dumps only when the build is hanging.

[2018-11-07 01:14] kendrahavens commented on #298
Thanks for the clarification!

Currently a specific target platform is needed for building and running tests. As in, if you only reference .NET standard in your csproj you will get errors when building. You can think of tests as essentially applications rather than classlibs. Today, if you add a new target framework, restore successfully, and then run the tests with different framework flags, it w

[2018-11-07 13:38] bdebaere opened #1831 "Environment variable not found"
## Description
In an ASP .NET Core project it's possible to set environment variables. These variables are not available during local tests however. I've also tried with setting the environment variables in the test project or any other project related to the solution. Of course I could set it globally in Windows but that seems a tad too much. Is there another way to accomplish what I'm trying?

E

[2018-11-07 16:50] Huffman17 commented on #862
@pvlakshm Why would you close this? This is something alot of people need. (Currently needing to find work arounds for this issue).

[2018-11-07 18:38] marcosadeghi opened #1832 "Testhost.exe has exited with code -1 (0xffffffff)"
I am attempting to override a few variables in my integration test with secrets sourced from KeyVault via a variable group within the build pipeline.

I have added a .runsettings file & I'm able to retrieve the dummy variables when I debug through the test. The test however exits abruptly as soon as the instruction to read the dummy value has been executed with the error below:

Value of CrmClient

[2018-11-08 05:50] karanjitsingh commented on #1832
Hi @marcosadeghi, could you share the diagnostic logs for the crash?

[2018-11-08 06:15] karanjitsingh commented on #1831
Hi @bdebaere, environment variables won't work since visual studio doesn't pass them down to vstest.console.exe. To achieve this you could use a test run parameter,

Set test run parameters in your runsettings as follows:

[code]

You can access these test run properties in your test project with the `TestContext` object

[code]

Use the `Override test run parameters` in the vstest task to overrid

[2018-11-08 06:15] #1831 closed

[2018-11-08 06:29] cltshivash commented on #1832
Also you can leverage the options listed here https://github.com/Microsoft/vstest-docs/blob/master/RFCs/0024-Blame-Collector-Options.md to collect dump and analyze it.

[2018-11-08 19:07] NinoFloris commented on #1820
https://github.com/Microsoft/vstest/issues/1503 is related, so a lot actually happens it just doesn't show up by default in the console

[2018-11-08 19:09] NinoFloris commented on #1820
doing

[code]
seems to work around all weirdness

proj file:

[code]

[2018-11-08 20:10] ViktorHofer commented on #1827
Added PR https://github.com/Microsoft/vstest/pull/1829 yesterday.

[2018-11-08 22:34] javiercn commented on #1815
We have procdump setup on our windows test agents now to capture memory dumps for all the dotnet processes if the build runs for more than 3h.

@mayankbansal018 Will that be enough or do we need to capture dumps for anything other than dotnet.
We are capturing the dumps with `procdump.exe -accepteula -ma` are there any other  parameters that we should pass? (not an expert on capturing dumps here).

[2018-11-08 22:54] javiercn commented on #1815
@mayankbansal018 I was actually able to capture some dumps. What would be the best way to share them?

[2018-11-08 22:59] Eilon commented on #1815
Use your MS SharePoint.

[2018-11-08 22:59] Eilon commented on #1815
I.e. OneDrive for Business.

[2018-11-08 23:08] javiercn commented on #1815
@mayankbansal018 Here is a link to the memory dumps. Let me know if you can't access it https://microsoft-my.sharepoint.com/:u:/p/jacalvar/EYsle6UXX7BFhVIj9Y0BYl8BZTRE0TFAr82CR3R4hsgqIQ?e=8cVpRW

Once our agent kills the build I'll confirm that is stuck in the same place, but it seemed like it.

[2018-11-09 08:39] cltshivash commented on #1818
@grizzle2101 We don;t have this execution extensibility at the test platform level. The extensibility exists in the test framework (mstest).

[2018-11-09 16:13] pkruk2 opened #1833 "InProcDataCollection.TestCaseStart fired after test is actually started?"
## Description
Hi,

I have InProcDataCollection implementation. It seems that TestCaseStart is called after a test starts executing. I assume this is not correct.

Is this handled by vstest, or by vstest test adapter? I'm using nunit 3.

I created a simple test which logs current time to a file.
Similarly, I log current time from the in-proc data collector.

In logs I can see:

[2018-11-09T16:59:0

[2018-11-10 20:38] ViktorHofer commented on #326
Bump.

[2018-11-11 10:05] mayankbansal018 commented on #1815
@javiercn , thanks I can access them, will take a look

[2018-11-11 18:44] moh-hassan opened #1834 "Unify the behavior of testhost in Full Framework and netcoreapp2.x for multi-target projects that handle GetEntryAssemply()"
This issue is a continuation to an issue I provided in [NUnit project](https://github.com/nunit/nunit/issues/3084)

The behaviour of testhost is different in multi-target project (net45, netcoreapp2.1) due to the usage Relection.GetEntryAssemply

I investigated the problem in co-operation of @mikkelbu and I reached to the following conclusion:

Testhost (from within NUnit framework) in netcoreapp2

[2018-11-12 04:33] dmgonch opened #1835 "Debugging of .NET Framework Unit Tests in VSCode got broken with vstest.console.exe from VS2017; worked with VS2015"
## Description
Debugging .NET Framework tests in VSCode natively, i.e. by clicking "Debug Test" link over a test, is broken as described in https://github.com/OmniSharp/omnisharp-roslyn/issues/1332. A workaround for the issue was to execute vstest.console.exe from VS2015 using VSCode's launch configuration. If a breakpoint was set on a test, VSCode will break into the debugger when vstest.console.

[2018-11-12 10:30] cltshivash commented on #1835
@dmgonch Any reason as to why is this issue reported in the test platform repo ?

[2018-11-12 10:33] mayankbansal018 commented on #1815
@javiercn I looked at the logs, & it seems we have not received execution complete message from xUnit adapter. The stacks show that the adapter is waiting at [line ](https://github.com/xunit/xunit/blob/9d10262a3694bb099ddd783d735aba2a7aac759d/src/xunit.runner.visualstudio/VsTestRunner.cs#L615), & then it would have send the final message.

@bradwilson , @onovotny, Can you please help us diagnose t

[2018-11-12 14:37] NickCraver commented on #1815
For what it's worth, we have seen this in unawaited calls in tests. I'd look for `async` shenanigans here in the tests themselves.

[2018-11-12 15:07] cltshivash commented on #1835
Also based on the info you have provided I don't see the test runner behave incorrectly. It looks like the debugger settings are not getting honored/picked up resulting in the breakpoint being hit. I don't have much context on the internal workings of the debugger. But do let us know if there's anything specific that you need help on with respect to the test platform.

[2018-11-12 15:41] dmgonch commented on #1835
@cltshivash: I chose this repo as the starting point for the issue because the only variable that I'm changing in the repro steps is the version of vstest.console.exe. The issue does repo on a machine with both VS2015 and VS2017 installed and with the same VSCode & OmniSharp.

Regarding the debugger settings not being honored: any idea what could have changed in VS test platform that could have ca

[2018-11-12 16:36] javiercn commented on #1815
@Eilon Should we go on the hunt for unawaited calls in tests as @NickCraver suggests? Could we distribute this among people in different areas so that is feasible?

@davidfowl this might interest you as is async related. Could we potentially write an analyzer for our tests if this ends up being the case?

[2018-11-12 16:47] Eilon commented on #1815
@davidfowl - do you know if there's already such an analyzer?

@javiercn - I'm hoping that we can do some basic analysis of at least one of the seemingly-known failing test projects and maybe just spot it. Or if we can find an analyzer that does it, use that.

[2018-11-12 16:50] javiercn commented on #1815
@Eilon I'm a bit scared that trying to find this by eye is like trying to find a needle in a haystack. Given that the test making the build hang might not be related at all with the test that shows up on the log.

[2018-11-12 17:00] Eilon commented on #1815
But we know which test assembly, right? Is any failing assembly a "small" one? I.e. fewer than say 100 tests?

[2018-11-12 17:18] javiercn commented on #1815
@Eilon I searched on MVC real quick https://github.com/aspnet/Mvc/search?q=%22async+void%22&unscoped_q=%22async+void%22

There are a couple of async void tests, and I realized that there are cases where we won't be able to avoid this as we need to test support for async void within our own frameworks.

[2018-11-12 18:48] Eilon commented on #1815
Talked to @javiercn in person, he will search & replace obviously bad tests.

[2018-11-12 19:02] bradwilson commented on #1815
Long-running test detection should help you find the hung test(s). https://xunit.github.io/docs/configuring-with-json

[2018-11-12 19:31] bradwilson commented on #1815
Unfortunately, no.

Your easiest solution is probably a single `xunit.runner.json` that gets auto-included into all test projects with a `Directory.Build.props` file, like we use: https://github.com/xunit/xunit/blob/c54cc52ffb275c81afed022521870193bbca6c39/test/Directory.Build.props#L21-L25

[2018-11-12 20:09] livarcocc opened #1836 "Improve readability of dotnet test"
_From @terrajobst on October 22, 2018 1:21_

The command line output of `dotnet test` is extremely noisy which makes it hard to parse. Instead of this:

[code]

I wish the output would be like:

[code]

Requests like  #10165 are related and are an indicator that folks working on the command line want legible output.

_Copied from original issue: dotnet/cli#10207_

[2018-11-12 20:09] livarcocc commented on #1836
@KathleenDollard @kendrahavens

[2018-11-12 20:09] livarcocc commented on #1836
Should probably move this issue to microsoft/vstest.

[2018-11-12 20:46] L-Sypniewski commented on #1129
For people who can't make it work with **Travis**:

It started returning ` code 0 ` when I changed my travis.yml file from
[code]

to

[code]

[2018-11-12 21:40] khellang commented on #1836
A little (more) color (when supported) would probably help a lot as well 👍🏻

[2018-11-12 22:14] Cronan commented on #1836
Would be great if this command had an option to output in a more structured format, e.g. XML and/or JSON as an option - not many real standards in this space, TAP?

[2018-11-12 23:45] NickCraver commented on #1815
Careful here - the unfriendly aspect of the long-running build detection output is it's tied to diagnostic message output which is much more verbose than normal (I really wish these weren't connected). We'd leave it turned on, if it weren't for that.

[2018-11-13 00:47] natemcmaster commented on #1815
@javiercn I'm hesitant to turn on diagnostic logging and long-running test detection by default across all KoreBuild projects. As Nick mentions, this can balloon output, and we already have problems with test logs producing gigabytes of output. Let's start by applying this option selectively to the tests projects under investigation.

[2018-11-13 06:37] bradwilson commented on #1836
I see what's going on here...

[code]

😝

[2018-11-13 07:08] karanjitsingh commented on #1828
@danmosemsft is this still happening for you?

[2018-11-13 07:09] karanjitsingh commented on #1832
@marcosadeghi, any update on this?

[2018-11-13 10:48] karanjitsingh commented on #1835
@dmgonch as of TPV2, vstest.console.exe has been moved to Common7\IDE\CommonExtensions\Microsoft\TestPlatform\vstest.console.exe,

For .4 try turning on flag for `%VSINSTALLDIR%\Common7\IDE\CommonExtensions\Microsoft\TestPlatform\vstest.console.exe`

[2018-11-13 15:15] danmosemsft commented on #1828
Yes but it may be a few days before I can try to form a repro.

[2018-11-13 16:19] dmgonch commented on #1835
@karanjitsingh : the file you are referring to doesn't seem to exist with VS2017 install but "%VSINSTALLDIR%\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe" does. Using it though doesn't fix the problem, Please see new logs attached [logs1.zip](https://github.com/Microsoft/vstest/files/2577082/logs1.zip).

[2018-11-14 03:41] karanjitsingh commented on #1835
@dmgonch, my bad the path is actually `"%VSINSTALLDIR%\Common7\IDE\Extensions\TestPlatform`

[2018-11-14 05:55] dmgonch commented on #1835
@karanjitsingh : tried this exe as well but fortunately with the same result, i.e. debugger wouldn't attach. I was wondering if you were able to follow the repro steps and get the same result (good with vstest.console.exe from VS2015 and bad from VS2017)

[2018-11-14 08:16] Tonvengo commented on #981
Running dotnet test with --collect "Code coverage" includes in a code coverage dll libraries referenced in a test project. Does anyone has the same error?

![image](https://user-images.githubusercontent.com/18616530/48468886-7326fb00-e7ed-11e8-9d08-663bf69ba5b5.png)

[2018-11-14 08:49] mayankbansal018 commented on #981
@Tonvengo user can configure what all dll's should be reported in coverage, please [check here](https://docs.microsoft.com/en-us/visualstudio/test/customizing-code-coverage-analysis?view=vs-2017)

[2018-11-14 09:40] karanjitsingh commented on #1835
In your launch.json you should remove the argument `/Platform:x64` as an argument to vstest.console.exe.

[code]

What's happening here is that whenever `/Platform:x64` or `/InIsolation` is set, vstest.console.exe starts another another process (testhost.exe) which eventually runs the test. VSCode successfully attaches to vstest.console.exe but since tests are being run in a separate process that

[2018-11-14 10:03] karanjitsingh commented on #1833
Hey @pkruk2, yes NUnit adapter fires asynchronous events to InProcDataCollector, so any synchronous log statements inside the test have a possibility to be logged before the asynchronous collector events. @osiristerje to confirm on that.

[2018-11-14 10:29] OsirisTerje commented on #1833
@pkruk2 Yes, this seems to be the case.  I see you have a repro project.  Can you raise this as an issue in the NUnit3TestAdapter project ?   (https://github.com/nunit/nunit3-vs-adapter/issues)  .   And yes, would be very helpful if you can add in the data collector project too.

[2018-11-14 10:31] pkruk2 commented on #1833
Hi, thanks for quick replies.

@OsirisTerje yes, you answered just as I was writing a comment here :) I have prepared a full repro (including in-proc data collector) in the meantime and will also attach it to the new issue.

[2018-11-14 11:13] #1833 closed

[2018-11-14 15:20] vcsjones opened #1838 "Resource for "IsTestProject" contains incorrect XML"
## Steps to reproduce

Run `dotnet test` from the command line against a solution that contains non-test projects.

## Expected behavior

The output should be:

[code]

## Actual behavior

The output contains an XML snippet with an incorrectly closed XML tag. This lead to me copying and pasting it with a malformed XML, which caused a little bit of head scratching.

[code]

## Environment

Currentl

[2018-11-14 17:15] dmgonch commented on #1835
@karanjitsingh : indeed this worked - thank you very much for the hint!
Sounds like as long one has a choice of targeting AnyCPU platform they can debug their .NET Framework tests in VSCode.
[UT_NET461_VS2015-x64.zip](https://github.com/Microsoft/vstest/files/2581802/UT_NET461_VS2015-x64.zip) contains modified sample UT project that can target x64. To build it run:
`msbuild /t:rebuild /p:DebugType

[2018-11-15 01:11] marcosadeghi opened #1840 "Queued build doesn't contain the test projects\VSTest task can't find test assembly"
Hi team, I've added a VSTest task in our pipeline after our Service Fabric app has deployed. The test task is to run one integration test which will call endpoints (hosted in the SF app), make calls to DocDb\SQL, etc. After the release has been run, I see in the log that the test dll was not found.

2018-11-14T01:34:24.5054237Z ##[section]Starting: VSTest_Integration
2018-11-14T01:34:24.5063872Z =

[2018-11-15 10:39] karanjitsingh commented on #1832
Closing the thread. Please feel free to re-open the issue once you have the required logs and crash dumps.

[2018-11-15 10:39] #1832 closed

[2018-11-15 10:59] vbondaryuk commented on #135
Dear vstest team, any update of it?

[2018-11-15 11:15] karanjitsingh commented on #1835
In that case you will have to manually attach to testhost.exe

1. Add a .NET attach configuration to your launch.json with `type: clr`. *The environment variable `VSTEST_HOST_DEBUG` will set debug mode for the testhost process.*

[code]

2. Run the `Run Tests` configuration and you should get something like this:

![image](https://user-images.githubusercontent.com/4632805/48548948-6640ff00-e8f4-11

[2018-11-15 15:42] #1827 closed

[2018-11-15 19:38] livarcocc opened #1841 "`dotnet test --blame` does not always find the right test to blame"
_From @peterzeller on November 15, 2018 17:33_

## Steps to reproduce

1. Write an xunit test method that produces a stackoverflow (For example as in this project: [blameprob.zip](https://github.com/dotnet/cli/files/2586390/blameprob.zip))
2. Run `dotnet test --blame`

## Expected  behavior

Actually I expected to get a stack trace as I get in other programming languages like Java or C.

But accor

[2018-11-16 00:05] #1838 closed

[2018-11-16 00:07] cltshivash commented on #1840
@marcosadeghi You will need to ensure that the artifact that is being download in the release contains your test dll. When create the artifact, please ensue that the test dlls are also being copied to the location from where the upload to artifact is done.

[2018-11-16 00:08] #1840 closed

[2018-11-16 00:34] #1791 closed

[2018-11-16 04:06] dmgonch commented on #1835
This works as well - I truly appreciate all your help folks! I believe you can close the issue now. Thanks!

[2018-11-16 07:44] dhowe commented on #1022
Yes, why was this closed? I'm having the same issue (dotnet crashing on failed assertion)

[2018-11-16 07:51] #1835 closed

[2018-11-16 18:39] karanjitsingh commented on #1828
Hey @danmosemsft, I'm closing this issue for now due to lack of information, feel free to comeback with a repro and I will reopen it.

[2018-11-16 18:39] #1828 closed

[2018-11-16 19:03] danmosemsft commented on #1828
Why not just add a catch for Win32Exception around Kill() inside VSTestForwardingApp.Cancel() ?

[2018-11-16 21:40] karanjitsingh commented on #1841
@livarcocc, I debugged the issue you were getting, it seems the wrong result/no result is because of the XUnit adapter itself, the blame datacollector receives 4 events from the test adapter

1. `TestCaseStart`
2. `TestCaseEnd`
3. `TestSessionStart`
4. `TestSessionEnd`

The blame detection logic works by trace test case starts and test case ends. If vstest abruptly exists, the last test case with

[2018-11-18 06:32] bradwilson commented on #1841
Since `StackOverflowException` cannot be caught by user code, there's no way for xUnit.net to behave correctly here. The process is terminated unilaterally.

[2018-11-18 20:57] OsirisTerje commented on #98
The Trx logger does not write out categories from NUnit, because the category type name is hardcoded to "MSTestDiscoverer.TestCategory", whereas the NUnit name is "NUnit.TestCategory".  The idea back in 2012 was that categories should be Traits that where not hardcoded to anything in particular.  Can we a) get this fixed so that any trait show up in the trx file?  or b) Add in the NUnit category t

[2018-11-18 21:33] dotMorten commented on #98
@OsirisTerje I'm not sure about the relevance wrt writing a TRX report? The xsd schema has a generic Category field. How these categories are transported around with which trait name seems sort of irrelevant, but if you want to use a Microsoft trx defined standard, you sort of have to adhere to that, or request their loggers have a more abstract way to define the various traits and their meaning.,

[2018-11-19 07:36] OsirisTerje commented on #98
@dotMorten  This code line https://github.com/Microsoft/vstest/blob/0341da456744f78bba8ff2a25c1cddfc89c87b08/src/Microsoft.TestPlatform.Extensions.TrxLogger/Utility/Converter.cs#L51  looks hardcoded to MSTest to me.  The NUnit3TestAdapter doesn't write to the trx file, that  is all up to vstest, it only provides the information, and the category *type* name is marking it as a category.  There is n

[2018-11-19 12:38] singhsarab opened #1842 "Document the vstest cli options"
## Description

[2018-11-20 07:44] karanjitsingh commented on #1828
@danmosemsft, I'll need to reproduce the issue at least once before I go forward with a fix. Is possible to share the test you're running that consistently reproduces this issue? If you can't share here, please share the repro with me internally.

[2018-11-20 14:49] mayerj opened #1845 "Test Runner hangs intermittently, datacollector.exe appears deadlocked"
## Description

## Steps to reproduce

## Expected behavior

## Actual behavior

## Diagnostic logs

## Environment

[2018-11-20 17:00] lvasilev1 opened #1846 "Dotnet test Data Collection problem, “Could not find data collector”"
## Steps to reproduce

1. In Visual Studio 2017, create a new solution and add a Visual C#  .NET Core 2.0 xUnit Test Project. Name the project TEST.MyUnitTests
2. Also add a Visual C# .NET Core 2.0 Class Library project.
3. Add at least one unit test to first project.
4. In Class Library project, add a DataCollector, like in [this](https://github.com/Microsoft/vstest-docs/blob/master/docs/extensio

[2018-11-21 00:47] wizofaus commented on #799
[code]

[2018-11-21 03:13] jrmcdona opened #1847 "Troubleshooting HttpWebRequest on a Hosted Agent"
Hi All,
Is there anything on a Hosted Agent that would block an HttpWebRequest?

I have logged this issue in the Azure pipeline but wanted to reference it here because it is test specific,
https://github.com/Microsoft/azure-pipelines-tasks/issues/8888

Thanks

[2018-11-21 08:30] danvln commented on #799
Any solution to this problem?

[2018-11-21 08:45] karanjitsingh commented on #1669
@CIPop, I know this is a very delayed response, in case you're still getting this issue.

From the logs you provided

[code]

Based on the runtimeconfig the runtime will be loaded, VSTest has no control over whether to load netcoreapp2.0 or netcoreapp2.1

[2018-11-21 11:42] devedse commented on #799
Yeah but that approach doesn't work when you don't want to modify your exisiting code.

[2018-11-21 11:43] devedse commented on #799
Tagging @Faizan2304

[2018-11-21 13:19] olaj opened #1848 "Publish Test Results in a YAML pipline doesn't work when test fails"
## Description
While following the tutorial here https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/publish-test-results?view=vsts&tabs=yaml me and another user noticed that failed tests you get no test results. I've worked around the issue by adding

**exit 0** after the **RUN dotnet test MyProject.Tests.csproj -c Release --logger "trx;LogFileName=testresults.trx"**

But this isn'

[2018-11-22 00:47] wizofaus commented on #799
Don't know anything about appveyor but it's certainly in principle possible for an application to execute the mstest runner itself so that std-output is redirected in away the output can be captured.  Briefly looking through the dotnet cli source code I couldn't really see why Windows would be different to linux/mac etc. (though certainly Console.OpenStandardOutput is implemented differently betwe

[2018-11-22 09:22] svatal commented on #1757
this issue in result crashes both Resharper and Rider
https://youtrack.jetbrains.com/issue/RSRP-471623

[2018-11-22 10:16] codekoenig commented on #981
@mayankbansal018 The problem is two-fold. One one hand, some of the generated coverage reports shows inconsistent results in VSTS and Visual Studio. At the same time, it's clear that not all projects are included in those reports as these files are noticably smaller than they should be and I can see in Visual Studio that some projects are missing from the report.

While on other occassions, I get

[2018-11-22 10:46] karanjitsingh commented on #1848
@olaj, there's a slight caveat, since all tasks will run even if there is script failure, if this breaks your expected behavior. You can use conditional publish test results

[code]

This will publish your tests even when the script has failed.

[2018-11-22 10:55] karanjitsingh commented on #1845
Hi @mayerj, I am not able to infer much from the stack trace you've provided. Could you turn on the `--diag` option and upload the logs here.

It would be even more helpful if you could share a sample project which runs into such problems.

[2018-11-22 13:33] karanjitsingh commented on #1847
@jrmcdona, I think this does not relate to the MSTestAdapter itself since things seem to be working locally.

[2018-11-23 06:49] karanjitsingh commented on #1690
Sorry for the delayed response. This seems to be a coreclr issue since we don't internally check for or set `LD_LIBRARY_PATH`. Our recommendation would be to set this externally.

Considering the time that has passed since this issue was opened, maybe they've already fixed it? If not, please report this issue at [dotnet/cli](https://github.com/dotnet/cli/issues)

[2018-11-23 06:52] karanjitsingh commented on #1690
Closing this issue for now.

[2018-11-23 06:52] #1690 closed

[2018-11-23 08:56] oliverholliday commented on #1690
Hmm they moved it to here from there!

The problem wasn't fixed as of last week, I'll follow up with them thanks.

[2018-11-23 15:50] nguerrera commented on #1690
I'll move this to coreclr. This isn't a CLI issue either.

@oliverholliday Is it possible to supply a complete repro project and steps?

[2018-11-23 15:51] nguerrera commented on #1690
This issue was moved to dotnet/coreclr#21176

[2018-11-23 20:38] livarcocc opened #1850 "SDK 2.1.500 fails to set IsTestProject in net40 projects"
_From @jnm2 on November 22, 2018 16:3_

Here's a full repro: [DotnetTestBug.zip](https://github.com/Microsoft/vstest/files/2608701/DotnetTestBug.zip)

Projects like this worked in all SDKs up to 2.1.500 because Microsoft.NET.Test.Sdk sets `<IsTestProject>true</IsTestProject>`:

[code]

E.g. using SDK 2.1.403, you get this output for `dotnet test`:

[code]

Starting with SDK 2.1.500, `<IsTestProjec

[2018-11-25 16:55] livarcocc opened #1851 "Running all tests in a solution in parallel"
_From @mixandmatch025 on November 25, 2018 15:17_

Hi, I'm trying to run all tests in a given .sln file in parallel, using either ```dotnet test``` or ```dotnet vstest```.

Using https://dasmulli.blog/2018/01/20/make-dotnet-test-work-on-solution-files/ I managed to run all the tests, but they are running sequentially.

I did manage to use vstest to run tests in parallel, but only using .dll files.

[2018-11-26 07:33] prawalagarwal commented on #1851
@livarcocc Do you mean tests within a dll are also not running in parallel? The parallel flag today is at dll level only and does not work across multiple dlls.

[2018-11-26 09:13] mixandmatch025 commented on #1851
@prawalagarwal then I guess that's the parallelism I achieved.
Is there any CLI command to run all tests in parallel in a given solution? Similar to how visual studio is able to.

[2018-11-26 10:38] prawalagarwal commented on #1851
@mixandmatch025 Sorry, my last comment is not accurate. Let me explain in detail:
1) The /Parallel flag available with 'dotnet vstest' works on Assembly level only. What this means is, if you have 2 dlls, one dll will go to one process and the other dll will go to the other process. Tests within a dll will still execute sequentially.
2) 'dotnet test' already implements parallel build by default.

[2018-11-26 11:46] mixandmatch025 commented on #1851
What dotnet sdk is that?

[2018-11-26 12:18] prawalagarwal commented on #1851
The SDk version is v2.1.500.
For XUnit I found this [article](https://xunit.github.io/docs/running-tests-in-parallel) to get started.

[2018-11-26 13:03] mixandmatch025 commented on #1851
@prawalagarwal cool, thanks!
I see that there are several properties that can be sent to MSBuild to config parallelism. How do I pass them to dotnet test?

[2018-11-26 14:07] DerGary commented on #1524
It's so frustrating I can't test this, because the windows update is being pulled from deployment every time I try to install it 😞

[2018-11-27 06:07] prawalagarwal commented on #1851
I will suggest this [thread](https://github.com/dotnet/docs/issues/6295) for more understanding here. 'dotnet msbuild' supports all parameters/configurations which msbuild supports.

[2018-11-27 10:58] singhsarab commented on #1846
@lvasilev1
It seems the datacollector you wrote is not getting recognised. Can you share the repro project with us?

Note: If TestPlatform does not recognise the data collector it simply ignores that collector and goes ahead with the execution hence, the tests passed.

[2018-11-28 08:10] mixandmatch025 commented on #1851
thank you for your help!

[2018-11-28 08:47] #1851 closed

[2018-11-28 09:30] X00158293 commented on #1584
Hi,

I'm facing the same issue when trying to execute some Selenium test as part of the release pipeline...
I have enabled diagnostics and a file seems to have been created, but not sure how I can access it.

Logging Vstest Diagnostics in file: D:\a\r1\a\diag.log

But how do I access that?

Thanks!

[2018-11-28 13:43] singhsarab commented on #1850
@livarcocc Seems like a problem with build and the way nuget is resolving the targets for net40 framework.
Building a project targeting net40, I obeserved that the props (Microsoft.Net.Test.Sdk) file is not getting honored.

[2018-11-28 15:39] #1848 closed

[2018-11-28 15:54] NDDeveloper13 opened #1852 "VsTest Platform 16.0.0 fails due to Unit Test Adapter exception"
Test Agent is VM with Win7
TFS 2018 - Version 16.131.28106.2
Test assemblies compiled with VS 2017

We use a release definition that is scheduled nightly to run our test regression suite. The tasks that run the automated tests have 2 tasks in the agent phase:
1. VsTest Platform Installer - set to install the latest Pre-Release of the VS Test Platform Installer.
2. Visual Studio Test - set to run t

[2018-11-28 16:40] mayerj commented on #1845
I have the diagnostic traces, but I'm a little reticent to upload them here, as there are a lot of product specific paths and references in them.  Is there some way to share them privately?

[2018-11-29 07:09] bergmeister commented on #1776
Moving this feature into vstest would also be helpful to me because then we could add more parameters and tweak its behaviour. At the moment, because the code is in AzureDevOps, I cannot do that. I'd like to see options on what to do if a test had to be re-run, for example I'd like the test suite to be marked as orange instead of green to indicate that tests were ok but still need to be looked int

[2018-11-29 07:44] prawalagarwal commented on #1852
@NDDeveloper13 If you suspect platform is the cause, can you verify this by specifying a version in the Platform Installer task. You can select "Specific Version" and give the exact version: 15.9.1-preview-20181023-04 or 15.9.0

[2018-11-29 07:55] karanjitsingh commented on #1702
Closing this as it has been fixed.

[2018-11-29 10:12] singhsarab commented on #1698
@CoolDadTx I am closing this issue, as it belongs and is being tracked in the azure-pipelines-tasks repo. Please let me know if you have any concerns

[2018-11-29 10:12] #1698 closed

[2018-11-29 11:14] karanjitsingh commented on #1845
@mayerj, can you provide your email on here? If that's not possible then I would suggest posting it on [developer community](https://developercommunity.visualstudio.com), you can limit access to attachments on developer community to only be visible by folks at microsoft

[2018-11-29 12:32] singhsarab commented on #1826
@davidsk This is fixed in Dotnet SDK 2.1.500.
You should now be getting the message similar to:
*Skipping running test for project <csproj>. To run tests with dotnet test add "<IsTestProject>true<IsTestProject>" property to project file.*

[2018-11-29 12:32] #1826 closed

[2018-11-29 13:03] onovotny commented on #1702
Thanks @karanjitsingh. What version of the test SDK has the fix in it?

[2018-11-29 13:13] kotprav commented on #594
Reproduce the issue in 15.9 VS version.

[2018-11-29 13:34] singhsarab commented on #1715
@efrainsteinbach Apologies, we have not been able to get back on this one.
I tried fetching the repro, but unfortunately, it was deleted, Can you please provide another link please.

[2018-11-29 14:05] NDDeveloper13 commented on #1852
Yes, I changed the tasks to choose specific version with a version of "15.9.1-preview-20181023-04", and the tests run as expected. It is only when I specify latest version that this happens.

[2018-11-29 14:06] efrainsteinbach commented on #1715
I'm sorry - unfortunately I don't have these files anymore. 😞

[2018-11-29 14:07] DanAtkinson commented on #594
In the intervening months since my  [last update](https://github.com/Microsoft/vstest/issues/594#issuecomment-388009608), I have had a new machine built. On this machine, this is no longer a problem for me on 15.9.2. I haven't updated to 15.9.3 yet as I'm in the middle of something and it only appears to have been released in the last couple of days.

@kotprav, if you are indeed seeing this issue

[2018-11-29 15:34] kotprav commented on #594
Hi @DanAtkinson ,

I use VS 15.9.3.

[2018-11-29 16:07] rhalaly opened #1854 "Custom arguments with `dotnet vstest`"
## Description
Cant read the custom args that send via `dotnet vstest` command.

## Steps to reproduce
Running the command `dotnet vstest Test.dll -- arg1=val1 arg2=val2`
Read the arguments `arg1` and `arg2` with the `TestContext.Properties` or `Environment.GetCommandLineArgs` but non of them contains those arguments.

## Expected behavior
Able to read `val1` and `val2` from `TestContext.Propertie

[2018-11-29 18:00] jikuma commented on #1624
I am also facing this issue. I am running tests in docker image. Docker run command succeeds even ids the tests fail. This is because dotnet vstest return exit code as 0.

[2018-11-30 00:56] livarcocc commented on #1850
Do you have a binlog to see why they are not being honored? And what do you mean by not being honored? Are they not being set? Are they being overwritten?

[2018-11-30 06:10] karanjitsingh commented on #1702
@onovotny, I truly apologize for this but I was mistakenly under the impression that the DIA api fix had gone in, I tried the repro with the latest version and it seems that it has not been fixed. Reopening the issue.

[2018-11-30 06:44] ssrakesh commented on #1655
At-least Is this going to be included in VS2019? recently there was a roadmap announcement for the same.

[2018-11-30 08:20] jayaranigarg commented on #1734
@jhedlund : Any updates on this?

[2018-11-30 13:02] BladeWise commented on #1129
I noticed that using dotnet 2.1.500 doing this
[code]
provides information that tests are skipped if they not include `IsTestProject = true`
[code]
Was the issue already fixed with a release?
I stumbled on this issue in a Build Pipeline on Azure DevOps using Linux Ubuntu 1604 host, running a .Net Core task
[code]
but the same was not happening using a Linux Preview Host, reporting the same task in

[2018-11-30 16:01] singhsarab commented on #1850
@livarcocc

Attached are the diagnostic logs for the build.
IsTestProject is being set to true for net451 project but not for net40 project.
[diag_net40.txt](https://github.com/Microsoft/vstest/files/2634043/diag_net40.txt)
[diag_net451.txt](https://github.com/Microsoft/vstest/files/2634044/diag_net451.txt)

[2018-12-03 05:59] singhsarab commented on #1854
@PBoraMSFT @cltshivash Please triage this.

[2018-12-03 13:21] singhsarab commented on #1686
@dothenrik Are you still hitting this issue ?
We have setup public PR on the repo now. https://dev.azure.com/vstestplatform/TestPlatform/_build?definitionId=1&_a=summary
And all the tests seem to be running fine.

[2018-12-03 17:21] jonizen commented on #1129
Finally! Nice!

[2018-12-03 17:46] livarcocc opened #1855 "Wrong help message for dotnet test on solution"
_From @kaar on December 3, 2018 9:50_

The help message for adding IsTestProject is missing ending tag.
`</IsTestProject>`

## Steps to reproduce

Run `dotnet test` on solution without a project having a `<IsTestProject>` property

## Expected  behavior
[code]
[code]

## Actual behavior
[code]

[code]

## Environment data
`dotnet --info` output:
.NET Core SDK (reflecting any global.json):
 Version

[2018-12-03 21:08] kaar commented on #1855
Solved in #1839

[2018-12-04 07:04] singhsarab commented on #1129
@johnnyasantoss Thanks for confirming. Apologies, you had to wait this long, thanks for your patience.

We are prioritizing issues like these and are committed to improving the experience. We are open to contributions from the community as well, so we can expedite resolution for such issues.

[2018-12-04 07:04] #1129 closed

[2018-12-04 07:10] singhsarab commented on #1855
@kaar Thanks for sharing the links. This is resolved.

[2018-12-04 07:10] #1855 closed

[2018-12-04 08:14] singhsarab commented on #1847
Closing this as it is not related to vstest. And I see the related issue on azure-pipeline-tasks was closed.

[2018-12-04 08:14] #1847 closed

[2018-12-04 08:17] singhsarab commented on #1850
@livarcocc Gentle ping.

[2018-12-04 14:48] ViktorHofer commented on #1850
Inspecting https://www.nuget.org/packages/Microsoft.NET.Test.Sdk/15.9.0 I can only see a tfm for net45 but none for net40. Why do you believe that VSTest supports net40?

[2018-12-04 14:54] jnm2 commented on #1850
@ViktorHofer Because VSTest 15.9 supports `/Framework:Framework40` and is the first version not to support 3.5:

[2018-12-04 16:03] ViktorHofer commented on #1850
Ok makes sense, but the nuget package doesn't have a tfm for it. Intentional?

[2018-12-04 16:11] jnm2 commented on #1850
@ViktorHofer I guess that's my question.

[2018-12-04 19:59] marcosadeghi opened #1857 "Pass a variable into Azure pipeline"
As part of a test I'm logging in a user into Live & retrieving a bearer token. The work flow to retrieve this token is not 100 reliable so I don't want each test that runs as part of a pipeline to need to make this call.

What I'd like to do is in my first test make this call, retrieve the token & then save it to a parameter in the pipeline that other test can read from. Looking at the vstest task

[2018-12-05 09:06] liudonghua123 commented on #1655
Does this related to https://github.com/Microsoft/react-native-windows/issues/2031 and https://github.com/Microsoft/testfx/issues/314#issuecomment-444374630, it blocked me with the startup of `react-native-windows`.

[2018-12-05 09:33] rhalaly commented on #1854
Is this is `enhancement`?? How should we read these custom arguments inside the tests?

[2018-12-05 09:48] singhsarab opened #1858 "Copyright for vstest assemblies"
## Description
The following dlls do not have AssemblyCopyright set.
    "Microsoft.TestPlatform.Extensions.BlameDataCollector.dll"
    "Microsoft.TestPlatform.TestHostRuntimeProvider.dll"
    "Microsoft.VisualStudio.TestPlatform.Extensions.Trx.TestLogger.dll"
    "Microsoft.TestPlatform.Build.dll"
    "Microsoft.TestPlatform.CommunicationUtilities.dll"
    "Microsoft.TestPlatform.CoreUtilities.dl

[2018-12-05 09:50] jayaranigarg commented on #1655
@liudonghua123 : You are trying to access UWP c++ files in build tools. Those are currently not available. Tagging @MSLukeWest

[2018-12-05 10:09] mayankbansal018 commented on #1815
Hi all, Since this looks unrelated to vstest, I'm closing this issue for now. Please comment here if needs to be re-opened.

[2018-12-05 10:09] #1815 closed

[2018-12-05 11:17] singhsarab commented on #1857
There is such support in the VSTest task.

I have a bunch of concerns.
1) If the workflow to retrieve the token in not reliable, how do you guarantee that it will work the first time?
2) If you really want to try this, can't you do this retrieving in the ClassInitialize of the TestClass and save this token as one of the TestContext properties or static variable in the testclass, where testclass co

[2018-12-05 12:35] singhsarab commented on #1850
@jnm2 While we identify and fix this issue, I hope adding the tag in the csproj works for you.

@ViktorHofer There was need for a separate net40 folder, as net45 used to suffice.
With changes to `dotnet test` to actually check for `IsTestProject` property before running the tests, we identified that props(which adds the IsTestProject property) wasn't getting honored for net40 projects.
I have shar

[2018-12-05 13:41] ViktorHofer commented on #1850
Instead of adding an additional net40 folder I would just downgrade the net45 one to net40. With that both the props and targets files will be honored. I can send a PR for that if you agree.

[2018-12-05 14:09] singhsarab commented on #1845
@karanjitsingh Just checking, you did not get the logs yet, right?
@mayerj Did you get a chance to create an issue on developer community? or is there any other way you want us to access the logs, please let us know.

Please update this thread, so we understand what state we are in.

[2018-12-05 14:11] singhsarab commented on #1846
@lvasilev1 Closing this issue for now. Please let know if you still hit the issue and share the repro project if possible. Thanks.

[2018-12-05 14:11] #1846 closed

[2018-12-05 14:20] singhsarab commented on #1850
Sounds fine to me.
/cc: @mayankbansal018

[2018-12-05 15:04] mayankbansal018 commented on #1850
Downgrading to net20 if fine, as long as the props file gets picked up.

[2018-12-05 15:12] ViktorHofer commented on #1850
Why? Net40 is the minimum supported version.

[2018-12-05 15:24] marcosadeghi commented on #1857
Thanks for the quick response

1) It’s reliable enough. I simply want to reduce the number of times we need to call this method.
2) For now, I’m running one test per VStest task in the pipeline/release & want the pipeline to be the ‘container’ holding the global variable (making it available to the other vstest tasks in the release/pipeline) not the test class. If I was running all tests inside a

[2018-12-05 16:13] singhsarab commented on #1850
@ViktorHofer That was just a sarcastic remark I assume, please go ahead make the change. :)

[2018-12-05 18:44] marcosadeghi commented on #1857
So, if making the variable available class wide is the only option I have, that means I need to have all my tests in the same class. My tests need to follow a particular sequence. How do I enforce a sequence?

I don't see how I can pass in a reference to a playlist to the vstest task.

[2018-12-06 01:35] liudonghua123 commented on #1655
@jayaranigarg, I followed the instructions of https://github.com/Microsoft/react-native-windows/blob/master/docs/GettingStarted.md, then this error occurs, So the https://github.com/Microsoft/react-native-windows project does not support Windows? 😢

[2018-12-06 05:18] karanjitsingh commented on #1845
@singhsarab Yep, haven't received the logs

[2018-12-06 05:19] karanjitsingh commented on #1845
@singhsarab Yep, haven't received the logs

[2018-12-06 06:37] prawalagarwal commented on #1857
@marcosadeghi There is one more option. If you are comfortable writing your token to a file during the duration of the build, then you can use the Env var Agent.TempDirectory to write to. This directory is cleared at the end of each build and resides inside the agent folder (_work\_temp).
In case you don't like this approach, to run your tests sequentially, use ordered testing. [https://damsteen.n

[2018-12-06 07:00] mayankbansal018 commented on #1850
@ViktorHofer, @singhsarab , I didn't mean it to be sarcastic. I just misread your earlier comment & thought you were moving it to net20, because when we tried it locally net40 did not work for us. Please go ahead and make your change.

[2018-12-06 08:19] singhsarab commented on #1715
@efrainsteinbach Without the files, I am really not sure how to make progress on this one.

I will be closing this issue for now. I'll re-open it once you have a repro project that you can share. Hope that's fine with you. :)

[2018-12-06 10:42] remiX- commented on #862
???? @pvlakshm

[2018-12-06 10:47] #1858 closed

[2018-12-06 18:19] dothenrik commented on #1686
I have just run all the tests in the current vstest-master and I still get 64 errors. A quick review of the errors indicate that the they are more or less the same as those I got back in July.

A large part of the errors are (still) related to "\r\n" vs "\n": When in an assert an expected string is created Environment.NewLine (which on non-Unix platforms returns "\r\n") is used but the the actual

[2018-12-06 19:05] lextm opened #1862 "VSTest generates confusing error message for xUnit"
Used a .NET Core test project in VS, and received an error message as below
[code]
This project only added xunit NuGet package, which should fail, but the error message can be confusing.

At least for xUnit.net users, the right way is to install xunit VS adapter NuGet package, not publish the test project itself.

[2018-12-06 19:49] marcosadeghi commented on #1857
Thanks Prawal. Creating a new ordered test though I get a warning: MSTest V2 based tests cannot be used in an ordered test.

I just did a quick test & was not able to launch my tests in a playlist via command line. Is that supported or is my command line wrong?
vstest.console.exe "C:\source\repos\Azure\<removed>\<removed>\PostDeploymentTests.playlist" /Settings:"C:\source\repos\Azure\<removed>\<re

[2018-12-06 23:06] idontknowwhY666 commented on #1647
Hello, really cannot be fixed already in 15.9.x? Has been reported in June...can confirm error persists with 15.9.28307.145. I guess it is not so big change...thank you for feedback.

[2018-12-07 04:52] idontknowwhY666 commented on #1647
-

[2018-12-07 12:53] pvlakshm commented on #1862
Please provide more informaiton so that we can reproduce the problem, and investigate further.

[2018-12-07 12:59] pvlakshm commented on #1842
Here is the documentation:
- [`vstest.console` CLI options documentation](https://docs.microsoft.com/en-us/visualstudio/test/vstest-console-options?view=vs-2017)
- [`dotnet test` CLI optoins documentation](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test?tabs=netcore21)

[2018-12-07 14:45] lextm commented on #1862
Created a branch for review, https://github.com/jexuswebserver/JexusManager/tree/vstest-1862

The detailed steps are,

1. Clone this repo and switch to vstest-1862 branch.
1. Open JexusManager.sln in Visual Studio 2019 preview build (16.0.0 Preview 1).
1. In Test Explorer, execute test cases under the project Tests.
[code]

[2018-12-07 15:45] nvborisenko opened #1864 "TestRunStartEventArgs doesn't contain a list of testcases for execution"
I am trying to implement custom `ITestLogger`.

Current class look like
[code]

Is it expected `e.TestRunCriteria.TestCases` to be **null**? Based on naming of objects I can suppose that `TestRunStartEventArgs` contains all information about plan for further execution. And in `e.TestRunCriteria.TestCases` I am expecting the list of test cases which test host is going to execute.

Please correct me

[2018-12-07 17:06] ViktorHofer opened #1863 "Inconsistent naming for Microsoft.NET.Test.Sdk props and targets"
Hi, with one of my recent changes I accidentally renamed the `Microsoft.Net.Test.Sdk.targets file to `Microsoft.NET.Test.Sdk.targets`. If somebody relies on the exact casing (i.e. Unix) that could cause issues (i.e. in corefx).

Question: What is the correct casing? I believe `Microsoft.NET.Test.Sdk.props` and `Microsoft.NET.Test.Sdk.targets` as the nuget package is also cased the same.

As soon a

[2018-12-07 18:02] ViktorHofer commented on #1863
Fixes in https://github.com/Microsoft/vstest/pull/1860

[2018-12-10 10:52] riezebosch commented on #705
Seems like they answered our requests and slipped in a new feature:
[code]
dotnet --version: 2.1.500

[2018-12-10 11:46] #1864 closed

[2018-12-10 11:57] #1850 closed

[2018-12-10 11:57] #1863 closed

[2018-12-10 12:13] nvborisenko commented on #1864
Thank you @singhsarab, it's clear.

[2018-12-10 12:23] singhsarab commented on #1862
@lextm Do the projects have a reference to Microsoft.NET.Test.Sdk package ?
I think that's the missing piece here.
The message should have been that, it should confirm if you have this package reference in your project.
I'll investigate further and fix it,

[2018-12-10 12:53] singhsarab commented on #705
Indeed it is. With dotnet version 2.1.500, one can now run tests at the solution level without having to create another *Test*sln only for tests.
```dotnet test [*sln]```

Thanks for confirming @riezebosch.

[2018-12-10 12:53] #705 closed

[2018-12-10 17:34] acesiddhu commented on #1852
@NDDeveloper13 can you confirm if you are running coded ui test? If they are coded ui test 16.0 test platform version wont work because the test dlls are still getting build with 15.* version of coded ui test assemblies where as you are using 16.* version of coded ui test assemblies to run. you need to use 15.* version of vstest tools installer to run your coded ui test till you don't move your bu

[2018-12-10 18:00] NDDeveloper13 commented on #1852
Yes, we are running Coded UI tests.

So, even if I would have chosen Latest Stable version (which I don't have this option in my VS Test Platform Installer task), this issue still would have occurred. I believe there needs to be another option for the overall VS version (15.*, 16.*, etc) so that users can avoid this when you release a new test platform version that requires an upgrade of Visual St

[2018-12-10 19:36] lextm commented on #1862
@singhsarab Thanks. Indeed, adding a reference to `Microsoft.NET.Test.Sdk` changes the error message to
[code]
and that's a lot better.

Close this issue now.

[2018-12-10 19:36] #1862 closed

[2018-12-11 04:05] acesiddhu commented on #1852
@NDDeveloper13 we suggest to stick to a particular platform version (Unless there is a bug fix or a new feature) for coded ui tests. Given that VS version which you are using is of specific version. More over this problem will occur for only coded ui test because the version of coded ui test assemblies will change with platform version. This issue is not relevant for any other kind of tests.

[2018-12-11 04:05] #1852 closed

[2018-12-11 08:08] dotMorten opened #1865 "Set default ApartmentState to STA on .NET Core 3.0"
## Description
With WinForms and WPF being added to .NET Core 3.0 we have a need for being able to run in STA on `netcoreapp3.0` targets.
I believe this is done by adding the extra target, and changing these lines of codes to also be STA for netcore3.0+

https://github.com/Microsoft/vstest/blob/7b6248203164f8ea821f6795632bd22e0b69afb0/src/Microsoft.TestPlatform.ObjectModel/Constants.cs#L179-L185

[2018-12-11 08:42] singhsarab commented on #1865
@dotMorten This is a relevant ask with respect to NetCore 3.0. Would you like to contribute?

[2018-12-11 09:57] adamralph opened #1866 "Suppress the message about adding IsTestProject if the property is already present"
## Description

If I add `<IsTestProject>false</IsTestProject>` to a project, I should not see this message:

## Steps to reproduce

- Add `<IsTestProject>false</IsTestProject>` to a project
- Run `dotnet test`

## Expected behavior

This message is not shown:

## Actual behavior

This message is shown:

## Diagnostic logs

n/a

## Environment

<details>
<summary>Output of `dotnet --info`</summary

[2018-12-11 12:11] singhsarab commented on #1845
@mayerj Is there some support ID that you are using to track the case ?

[2018-12-11 14:36] dotMorten commented on #1865
Is it a breaking behavior to change the default apartment state to STA? If so we'd need to enable it with the configuration (which doesn't currently work). Or some other way?

[2018-12-12 09:09] #1866 closed

[2018-12-12 09:58] singhsarab commented on #1865
It will be breaking, I assume for now, so let's keep that as MTA.
We should enable the flow via runsettings for now. That should suffice right ?

[2018-12-12 10:22] karanjitsingh commented on #1669
@CIPop, I tried an experiment, I took the failing test code and ran it in a new console app. On running the console app it throws the same expection

[code]

I'd suggest opening the same issue on dotnet repo. If you want to try out my experiment check [this branch](https://github.com/karanjitsingh/azure-iot-sdk-csharp/tree/exp) that was created with your repro commit as base

[2018-12-12 14:47] vs-odessa opened #1868 "vstest can't run NUnit tests if project contains any CodedUI test"
## Description
Unable to run NUnit tests from dll by vstest.console.exe if project contains any Coded UI test

## Steps to reproduce
1) Create a new Project of type "Coded UI Test Project" (Supported in VS Enterprise edition)
2) Remove default Coded Ui test that was created
3) Using Nuget, Install NUnit3 framework & NUnit3TestAdapter
4) Add new class with using NUnit.Framework namespace. Add nunit

[2018-12-12 16:19] Ausm opened #1869 "dotnet.exe crashes when called from vstest.console.exe on .NET Core 2.2"
## Description
I try to get my build working which uses a "Visual Studio Test" Task to execute tests in a test project (MSTest).
That build runs on a build server that has VS Build Tools and VS Test Agent installed.
When I run:
`& "C:\Program Files (x86)\Microsoft Visual Studio\2017\TestAgent\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe" D:\S\4\s\test\Project.Test\bin\relea

[2018-12-12 16:21] Ausm commented on #1869
Maybe related to #859
Similar behavior, but they say they fixed it in VS 15.3.

[2018-12-12 16:57] NVentimiglia opened #1870 "Unable to run NUnit unit test. 'Unable to find testhost.dll Please publish your test project and retry.'"
## Description
Unable to run NUnit unit test. 'Unable to find testhost.dll Please publish your test project and retry.'

## Diagnostic logs
[12/12/2018 8:33:52 AM Informational] ------ Discover test started ------
[12/12/2018 8:33:54 AM Error] Microsoft.VisualStudio.TestPlatform.ObjectModel.TestPlatformException: Unable to find F:\Projects\Foundation\Foundation.Core\Foundation.Common.Tests\bin\Deb

[2018-12-12 17:01] adamralph commented on #1866
Which version will this fix be released in?

[2018-12-12 17:05] NVentimiglia commented on #1870
Needed the NUnit test adapter project reference

[2018-12-12 17:05] #1870 closed

[2018-12-13 08:18] singhsarab commented on #1869
@Ausm You mean ```/enablecodecoverage``` right ?

[2018-12-13 08:48] mayankbansal018 commented on #1869
@Ausm just to confirm it seems you are using win 2012 server machine? Can you please try following runsettings mentioned at https://github.com/Microsoft/vstest/blob/master/src/DataCollectors/TraceDataCollector/VanguardCollector/DefaultCodeCoverageConfig.xml

use `/settings:DefaultCodeCoverageConfig.settings` instead of `/EnableCodeCoverage`

[2018-12-13 09:16] mayankbansal018 commented on #1868
@vs-odessa when running via CLI can you pass both test dll's as input, & enable diagnostics logs via --diag:<path_to_some_file> & share those log files with us.

@singhsarab from IDE, this could be related to the adapter lookup enhancement, where default adapters are not probed if a particular setting is checked. Can you point us to that option.

[2018-12-13 09:20] mayankbansal018 commented on #1811
@cltshivash , @PBoraMSFT can you check where it can be fit in our backlog

[2018-12-13 09:22] OsirisTerje commented on #624
Is anything happening with this?

The assumption it works with the first framework stated, might not be entirely true either.  I do experience that it sometimes picks the 2nd one.  This issue really need to be fixed.
For a good repro, go to Visual Studio adapter for NUnit3  https://github.com/nunit/nunit3-vs-adapter

[2018-12-13 09:53] Ausm commented on #1869
You mean I should put that xml config into a runsettings DataCollector tag, to have a runsettingsfile that looks like [this](https://github.com/Microsoft/vstest/files/2675399/1b091bf0-fe0a-11e8-996b-6798074e2821.zip), right?

[2018-12-13 09:54] Ausm commented on #1869
Did so and it works... even if I keep `/EnableCodeCoverage`.

[2018-12-13 11:20] mayankbansal018 commented on #1869
/EnableCodeCoverage option gets overshadowed since you are passing the same thing via settings file created above.

This is a known issue on Win 8 based OS, which doesn't happen on recent Win10 based OS

Glad to know that the issue is resolved for you. I'll close this issue.

[2018-12-13 11:20] #1869 closed

[2018-12-13 11:56] singhsarab commented on #1868
@mayankbansal018 The scenario is that the user has both Coded UI and Nunit tests in the same project.

@vs-odessa I can reproduce the issue.
It is the nunit adapter which is not able to load the dependencies like the Microsoft.VisualStudio.QualityTools.UnitTestFramework and others.

When you run the test via vstest.console, nunit adapter gets loaded in the testhost takes over to run the tests. It

[2018-12-13 12:09] singhsarab commented on #1764
@tmat We will be looking into the options we have based on your suggestions. Shreyas and I will keep you posted.

[2018-12-13 13:22] singhsarab commented on #1834
@moh-hassan
1) Copyright and company name attributes, that has already been fixed in the latest packages.

2) I dont understand what GetEntryAssembly behaviour are we talking about here? Do you mean GetCurrentProcessLocation ?

3) Why do you think GetEntryAssembly should not point to testhost, specially in case of net core ? I am just trying understand the use case here.

[2018-12-13 13:34] singhsarab commented on #1842
@PBoraMSFT Will these suffice?

[2018-12-17 04:52] nigurr commented on #1734
@jhedlund We are closing this issue as we don't have repro. Please reach us with repro and feel free to re-open the issue.

[2018-12-17 04:52] #1734 closed

[2018-12-17 06:43] nigurr commented on #1857
@marcosadeghi playlist is not supported from command line. There are multiple ways to solve this problem
1. If your tests are using MsTest v1 framework, Use ordered tests as mentioned above
2. If your tests are using MsTest v2 framework, Use [AssemblyInitialize] method to read the token once and use it through out the execution.
3. Alternatively you can dynamically pass this parameter using "runse

[2018-12-17 06:43] #1857 closed

[2018-12-17 06:47] nigurr commented on #1868
@vs-odessa as mentioned, We recommend to use different test adapters for each project. Since CodedUI can't be loaded by Nunit/external adapters, we suggest the above approach.
Closing this issue as we don't have any plans to migrate from this behaviour

[2018-12-17 06:47] #1868 closed

[2018-12-17 08:54] ShreyasRmsft commented on #1764
@tmat

The Microsoft.NET.Test.Sdk package is a [metapackage](https://docs.microsoft.com/en-us/dotnet/core/packages#metapackages).

Its job is to bring in all the dependencies we need to run tests. If you go expand on the transitive dependencies of this package you see that it depends on certain commonly used nuget packages. For instance

Newtonsoft.Json
System.Runtime.InteropServices

Now the Micr

[2018-12-18 02:22] jmck-contessa commented on #705
@contessa-zoey

[2018-12-18 09:23] nigurr commented on #1554
Next version of platform should contain the fix.

[2018-12-18 09:23] #1554 closed

[2018-12-18 22:46] onovotny commented on #1748
How's this coming?

[2018-12-19 19:04] nvborisenko opened #1873 "VsTest doesn't wait fired `DomainUnload` event when unloads test domain"
Please look at small test project to reproduce issue.
[Domain.zip](https://github.com/Microsoft/vstest/files/2696177/Domain.zip)

Execute tests via `dotnet test` command.

## Expected behavior
`bin\debug\<targetFramework>` folder contains `log.txt` file.

## Actual behavior
`log.txt` file is missing for `netcoreapp2.1` framework.

## Diagnostic logs
Nothing interesting in diag logs.

## Environmen

[2018-12-20 23:19] commonsensesoftware commented on #705
The **IsTestProject** property is indeed nice, but is still incomplete IMO. The filtering of test projects is great, but now there is a bunch of noise for projects that are skipped due to:

[code]

Arguably, the **Condition** should be something like:

[code]

This would still allow the filtering of test projects, but can suppress emitting messages about skipped projects when the **IsTestProject**

[2018-12-21 02:23] ParmjeetSingh15 opened #1874 "VSTest Could not load file or assembly (0x80070020)"
## Description

## Steps to reproduce
One profile is executed as follows.  In this manner we execute 8 profiles.
"C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe" /platform:x64 /logger:trx  Foo.ExtendedTests.dll'  /InIsolation /TestCaseFilter:"P1_Bar"

We have multiple profiles (Test Categories) coming from same dl

[2018-12-21 06:19] MarinAtanasov commented on #705
I agree with the previous comment.

Additionally, it  would be better if `dotnet test [*.sln]` can group the output like `dotnet vstest` instead of printing the results of each test project separately. There is a lot of noise for solutions with multiple test projects.

[2018-12-21 12:34] EddyP23 commented on #705
Any way of running separate project in parallel with `dotnet test`, something like:
`dotnet test --run-seprate-projects-in-parallel`?

[2018-12-21 17:44] yhvicey opened #1875 "'dotnet test' hangs on 'Microsoft.TestPlatform.Build.Tasks.VSTestTask' task"
## Description
`dotnet test` command hangs on `Microsoft.TestPlatform.Build.Tasks.VSTestTask` task, and reports below error after 90 seconds:

It seems raised from `src\Microsoft.TestPlatform.CommunicationUtilities\TestRequestSender.cs!CheckVersionWithTestHost()`.

## Steps to reproduce
1. `git clone <repo path>`
1. `dotnet test`
1. Error after 90 seconds

## Expected behavior
Runs normally, won't

[2018-12-22 06:12] singhsarab commented on #705
@commonsensesoftware I tried fixing that issue differently based on another feedback. If IsTestProject is defined, skip the message. https://github.com/Microsoft/vstest/pull/1867
It will be available in the next release. Let me know if you have concerns.

[2018-12-22 06:13] singhsarab commented on #705
I could request folks to create a new issue for any asks post this. Thanks.

[2018-12-22 15:45] yhvicey commented on #1875
Digging into the code a little and I found that it seems the SocketServer started successfully, but the SocketClient failed right after starting MessageLoopAsync. Client log:

[2018-12-23 08:36] RehanSaeed opened #1876 "Add Support for Templating in LogFileName"
## Description

The trx file produced from `dotnet test` is highly unique but terrible for humans:

I'd like to supply a `LogFileName` using some sort of template syntax:

To output:

MyProject-2018-12-23_08_27_05.trx

There are various replacements that could take place in `LogFileName`:

- TargetFramework e.g. net7.0
- ProjectName
- Timestamp
- Username
- MachineName

## Why is this useful

We c

[2018-12-25 14:44] mohankumarp opened #1878 "Unable to Instrument .Net Core Assemblies using VSinstr /Coverage 15.0.28218 x64"
## Description
Unable to Instrument .Net Core Assemblies using VSinstr 15.0.28218 x64

## Steps to reproduce

## Expected behavior

## Actual behavior
Error VSP1026: Coverage is not supported on libraries that do not reference MSCorLib. This is often the case for Portable Libraries.

## Diagnostic logs
E:\CalcDLL\bin\Debug\netcoreapp2.1>vsinstr  Calc.dll /Coverage /Verbose
Microsoft (R) VSInstr Po

[2018-12-26 05:49] piotrbocian commented on #1491
What in case when command above fails too? In Administrator mode I got:

[code]

[2018-12-26 06:45] nigurr commented on #1686
@dothenrik Is it possible for your to raise PR with the fix? :)

[2018-12-26 06:52] singhsarab commented on #1845
Closing this as user has already opened premier support case.

[2018-12-26 06:52] #1845 closed

[2018-12-26 10:41] dothenrik commented on #1686
No, unfortunately not. I have no experience with Git.

[2018-12-26 11:12] abhishkk commented on #1874
@ParmjeetSingh15
We are not able to repro this issue. Following is what i have tried.

Code:
[code]

Command1: `"C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\Extensions\TestPlatform\vstest.console.exe" /platform:x64 /logger:trx UnitTestProject.dll /InIsolation /TestCaseFilter:"TestCategory=First"`
Command2: `"C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterpr

[2018-12-26 11:32] abhishkk commented on #1875
@yhvicey
I am not able to reproduce this issue. I tried following steps on `Microsoft/vstest` repo:
1. cd `test\Microsoft.TestPlatform.Build.UnitTests`
2. dotnet test

Project built and test ran successfully. Can you do following?
1. Elaborate the steps tried. You haven't mentioned for which project you are trying to run `dotnet test`.
2. Are you able to reproduce this issue in any other machine a

[2018-12-26 11:48] abhishkk commented on #1876
@RehanSaeed
We are adding timestamp in user provided logFileName (PR: https://github.com/Microsoft/vstest/pull/1877) because of Issue https://github.com/Microsoft/vstest/issues/1603
This will allow separate trx files for each test project.

Adding @cltshivash @PBoraMSFT @singhsarab for thoughts on adding template syntax for logFileName.

[2018-12-26 11:59] nvborisenko commented on #1873
I came here from [SpecFlow](https://github.com/techtalk/SpecFlow) repository. To execute a piece of user's code at the end of all tests execution, SpecFlow relies on `DomainUnload` event for all unit frameworks (nunit, xunit, mstest).

@abhishkk can timeout of 100ms be extended? Is it set in vstest or nercore? If this value can be changed somehow, it would be easier way to resolve the issue.

From

[2018-12-26 12:46] yhvicey commented on #1875
I'm not testing this repo but test my own project. However it works well now. Have no idea why, will reopen this if it occurs again. Thanks for your help!

[2018-12-26 12:46] #1875 closed

[2018-12-27 06:17] abhishkk commented on #1873
@nvborisenko Timeout of 100 ms is because as soon as all tests ran successfully, we don't expect any background threads or scenario like domain unload event handling.

You can always use Assembly level cleanup/ class level cleanup etc for cleaning up. Similar functionalties are given by all frameworks (mstest, nunit etc). So, we recommend using these cleanup instead of relying on domain unload.

[2018-12-27 09:04] ShreyasRmsft commented on #1874
@ParmjeetSingh15 may i know how you are running your 8 profiles in parallel?

Don't tell me you are invoking 8 instances of vstest.console.exe all at once!

[2018-12-27 09:19] tmat commented on #1764
@ShreyasRmsft The links to the project actually point to the metapackage definition.

The package is here: https://dotnet.myget.org/feed/roslyn-tools/package/nuget/Microsoft.NET.Test.Sdk

I have simply removed all its dependencies, so none are copied to the output directory.

What functionality in test platform needs these dependencies? Running tests from Test Explorer in Visual Studio works just

[2018-12-27 09:31] Mastahh commented on #1810
I'm using vNext Build and run it using Vstest Platform Installer and then VS Test to run tests.

Also I have a *.bat file to run tests locally, and it is works same way and also failing with same error.

I run this Agent with parameters
C:\vstagent_test\_work\_tool\VsTest\16.0.0-preview-20181205-02\x64\tools\net451\Common7\IDE\Extensions\TestPlatform\vsTest.console

[2018-12-27 09:34] acesiddhu commented on #1810
@Mastahh thanks for the info. Unfortunately running test case data driving test is not supported via test tools installer and https://www.nuget.org/packages/Microsoft.TestPlatform nuget package. you need to have full VS installed to run these test cases.

[2018-12-27 09:39] Mastahh commented on #1810
At the moment I'm moving Test Data from TFS to SQL Server and plan to access this parameters same way as it was done for TFS.
I Just changed DataSourceAttribute to access SQL Server and it is working for now.

I'm do not want to install VS Enterprise on Test PC only for Test Run :)

[2018-12-27 09:46] acesiddhu commented on #1810
@Mastahh the only thing which is not supported by tools installer and the nuget packages is Microsoft.VisualStudio.TestTools.DataSource.TestCase.
Accessing data from sql will work for you as you mentioned.

There are any plans to support DataSource = Microsoft.VisualStudio.TestTools.DataSource.TestCase in the nuget package/Tools installer.

/cc: @PBoraMSFT

[2018-12-27 09:49] tmat commented on #1764
The test project references Newtonsoft.Json that's not compatible with the TFM (netcoreapp2.1). So that's not really a valid scenario. That said I get your point that if the Test Platform needs newer version of Newtonsoft.Json than the test project specifies, you will run into issues.

That's why the Test Platform component that needs to be loaded into the process that runs the tests needs to have

[2018-12-27 10:34] ShreyasRmsft commented on #1764
@tmat Totally agree with you on

Newtonsoft is for serializing and deserializing messages used for communication between the testplatform/datacollector/testhost processes.

The others are transitive dependencies of packages we use. You can walk through this dependency tree on the nuget package dependencies section [here](https://www.nuget.org/packages/Microsoft.NET.Test.Sdk/)

![image](https://use

[2018-12-27 11:43] ShreyasRmsft commented on #1764
@tmat we may have found a way to reduce the minimum version of system.runtime.interopservices required. I'm testing out the changes. Will get back to you once I've validated the solution

[2018-12-27 15:17] tmat commented on #1764
I attached to one of our test projects, running tests from VS 15.9 Test Explorer on .NET Framework. The debugger shows 3 AppDomains in the Modules window:
-	Testhost.x86.exe
-	Microsoft.Build.Tasks.Git.UnitTests
-	xunit.runner.utility.net452

Not sure why the last one is needed, but it seems that Test Platform is only loaded into the first one, while the test code is loaded into the second one. Th

[2018-12-27 15:19] tmat commented on #1764
I think that would be a mistake. What issues are there with AppDomains?

[2018-12-27 20:59] nvborisenko commented on #1873
Ok, let's forget about SpecFlow and focus on simple example that I provided above. Test subscribed on `DomainUnload` event to test some specific logic inside handler, and handler is not awaited. I think this is confusing situation, given that the behavior is different in `console netcoreapp`, and even given that the behavior is different in `net full framework`.

My opinion is, once it's managed b

[2018-12-28 06:01] #1810 closed

[2018-12-28 06:46] abhishkk commented on #1873
@nvborisenko
I agree that the behavior is different in console app and test. The change in behavior is intentional.
Reasoning behind this is that expectation from users is to use class/test/assembly level cleanup functionality to cleanup rather than depending on domain unload events or using background threads.

Waiting for all background threads and event handlers to finish even after all tests r

[2018-12-28 07:45] uppadhyayraj1201 opened #1879 "Build pipeline getting stuck at “Cleanup” task, while running tests with “Test Plan” or “Test Assemblies” as the “Test Selection”."
## Description

## Steps to reproduce

## Expected behavior

## Actual behavior

## Diagnostic logs

[2018-12-28 11:40] abhishkk commented on #1603
Merged: https://github.com/Microsoft/vstest/pull/1877

[2018-12-31 06:56] ShreyasRmsft commented on #1764
@tmat the test sdk package released after the above checkin should solve you issue.

[2018-12-31 09:56] iberodev commented on #669
What's the meaning of setting an environment variable as `VARIABLE = env_value && dotnet test`?
Does this workaround apply for `dotnet vstest`?
And the last question, is it required to reset the environment variable back to `??` (don't know what's the default value when executing outside VS's launchSettings) after the dotnet test or dotnet vstest has finalised?

I am also looking to have some `app

[2019-01-01 03:30] cltshivash opened #1883 "Deciding on behaviour of TPv2 for conflicting settings."
1. When there are conflicting settings, users communicating through TL should also get warning.
     Expected - Warning should reach the clients if there's a mismatch in the dlls configuration.
     Actual - Warnings don't go to the design mode client via the TL. Only Loggers will get the warnings.

2. When 2 dlls passed like, first.dll with framework net46 and second.dll with framework net461 are

[2019-01-01 23:01] tmat commented on #1764
Simply changing the version of one dependency does not resolve this issue. It might address the problem with the specific snapshot of the Roslyn repo, but that's just one problem. The package still has the same dependencies after that change.

[2019-01-02 08:32] abhishkk commented on #1873
@nvborisenko Please let us know in case you have any further questions.

[2019-01-02 08:33] ShreyasRmsft commented on #1874
@ParmjeetSingh15 can you share a sample repro?

[2019-01-02 08:37] ShreyasRmsft commented on #1874
@ParmjeetSingh15 this is very little to go on and Abhishek tried to get a repro but was unable to do so.

The best way to move forward is if we have a repro project.

[2019-01-02 08:39] ShreyasRmsft commented on #1874
Also am I right in understanding that this is because there is test code that is trying to access common resources? Or are you claiming the testplatform itself is causing this issue?

[2019-01-02 09:52] ParmjeetSingh15 commented on #1874
@ShreyasRmsft  I understand the repro is hard due to low repro rate.  Thus I don't know how much sharing the test project will help.  We are also looking into adding /Diag switch to our run to collect logs in case it repros again.

Yes, my current line of thinking is the issue with testpaltform, however the more information may reveal only from diag logs

[2019-01-02 10:44] ShreyasRmsft commented on #1874
@ParmjeetSingh15 we load all resources in read only mode. Doesn't seem likely that the platform is causing this. Anyway you can re-open the issue either when you have a repro or when you have the diag logs. Thanks.

[2019-01-02 16:06] ViktorHofer commented on #1749
Not yet. Unfortunately I couldn't find the right person who could help here. Can you assist here?

[2019-01-02 17:03] danmosemsft commented on #1749
@davkean?

[2019-01-03 06:52] sasivishnu commented on #1846
Hi, I am facing same issue but in .Net framework. Please let me know whether I need to open a new issue since this is for .net core.

I am using Visual Studio 15.9.2 on Windows 10.
My unit test project is based on 4.7.1 framework. References Test Framework (MSTest.TestFramework.1.2.0

cmd:
[code]

I used both type of commands. I get same error both the time. Any help is appreciated. Thanks.

[code

[2019-01-03 10:34] abhishkk commented on #1757
Fixed.

[2019-01-03 10:34] #1757 closed

[2019-01-03 10:39] nvborisenko commented on #1873
Thanks for detailed explanation.

[2019-01-03 10:39] #1873 closed

[2019-01-04 09:36] ShreyasRmsft commented on #1879
Can you please set system.debug = true and share the _entire_ zip logs?

[2019-01-04 11:09] mayankbansal018 commented on #1814
Fixed

[2019-01-04 11:09] #1814 closed

[2019-01-04 15:05] ViktorHofer opened #1884 "VSTest UWP console app"
In corefx we currently test our UWP project with https://github.com/dotnet/arcade/tree/master/src/Microsoft.DotNet.XUnitRunnerUap which consists of a runner and and a launcher. The runner is a UWP console app xunit runner which just runs the tests that are discover able and the launcher bundles the runner and the UWP test project together as we can't do Assembly.Load in UWP.

While discussing with

[2019-01-04 18:10] jhedlund commented on #1734
Hi, sorry for the delay, I was finally able to re-try the error and I can no longer reproduce it.  Perhaps fixed in a subsequent release of VS?  Thanks for the attention to the issue

[2019-01-05 11:03] ViktorHofer opened #1885 "Results are different when executed using "dotnet vstest" vs "Test Explorer" from Visual studio"
from @jaydeept:

I am using `System.Diagnostics.StackFrame` class inside my `log4net` related code where I am seeing an issue with API called `GetMethod()`. When I execute from Test Explorer, the error is something like below for `KeyNotFoundExcpetion`:

While using **dotnet vstest** the error is something like:

If you will notice, the test case name i.e. mytestcasename is being added in error me

[2019-01-07 11:24] vagisha-nidhi commented on #1878
Hi @mohankumarp
To collect coverage using `vstest.console.exe`, you can use **/EnableCodeCoverage** command line option to generate coverage information.
Example : `vstest.console.exe Calc.dll /EnableCodeCoverage`
You can find more details [here](https://docs.microsoft.com/en-us/visualstudio/test/vstest-console-options?view=vs-2017).
For using vsinstr, please file this issue on [developer communit

[2019-01-07 11:24] #1878 closed

[2019-01-07 23:01] carlin-q-scott commented on #1870
@NVentimiglia could you describe how you resolved this? The test adapter package has no project file so I don't understand your solution as described. I am already referencing the NUnit3TestAdapter in my test project.

[2019-01-07 23:34] carlin-q-scott commented on #1870
Well I figured out my problem by comparing a working project with a non-working project. Apparently the VS and dotnet CLI test runners require that my test projects depend on the Microsoft.NET.Test.SDK NuGet package.

[2019-01-07 23:53] nguerrera opened #1886 "Package inserted into CLI should not include dependencies"
See https://github.com/dotnet/toolset/pull/70

These files are in the package that come from other repos (newtonsoft.json, core-setup, corefx).

NewtonSoft.Json.dll;
Microsoft.DotNet.PlatformAbstractions.dll;
Microsoft.Extensions.DependencyModel.dll;
System.Xml.XPath.XmlDocument.dll

cc @livarcocc

[2019-01-08 02:58] NVentimiglia commented on #1870
@carlin-q-scott

I was missing the NUnit test adapter nuget project reference

[2019-01-08 10:36] Baxtex commented on #1870
Solution is to install the Microsoft.NET.Test.Sdk:

Tools>Nuget Package Manager>Manage Nuget Packages For Solution...>Search for Microsoft.NET.Test.Sdk and install for your test project.

[2019-01-11 03:53] CalArabshahi commented on #558
Failing with VS 15.9.5, NUnit3TestAdapter 3.12, Microsoft.NET.Test.Sdk 15.9 when debugging tests targeting **.NET Framework 4.52** . But it works when debugging the same test targeting .NET Core App 2.0/2.2.

[2019-01-14 06:49] Mobrockers opened #1887 "VsTestConsoleWrapper does not support vstest.console.dll"
## Description
We are building a mutation testing framework for dotnet framework and dotnet core. We are trying to integrate vstest using the Microsoft.TestPlatform.TranslationLayer and Microsoft.TestPlatform.Portable nuget packages. This works on windows by providing the vstest.console.exe path from the nuget package to VsTestConsoleWrapper which provides the path to the [VsTestConsoleProcessMana

[2019-01-14 09:19] vagisha-nidhi commented on #1879
@uppadhyayraj1201 Any updates?

[2019-01-14 11:35] mayankbansal018 commented on #1884
@ViktorHofer , can you please explain

a bit more

Our current UWP implementation requires users to use UWP Test template in VS, by default user can write tests in mstest framewowrk, but xUnit(latest) also works with our test template.
The test app can also take reference to another UWP project which is to be tested.

To run the test, user can directly run them from VS, or from CLI via(.appxrecipe

[2019-01-14 11:45] kaadhina commented on #1879
Closing this. Please reopen with logs.

[2019-01-14 11:45] #1879 closed

[2019-01-14 12:16] mayankbansal018 commented on #1887
@Mobrockers since you already have a POC, is it possible for you to pick this issue, we will be happy to help you.

[2019-01-14 13:07] Mobrockers commented on #1887
@mayankbansal018 I can probably pick this up.

[2019-01-14 14:32] mayankbansal018 commented on #981
@codekoenig you can share the file over maban at microsoft dot com

[2019-01-14 14:48] mayankbansal018 commented on #1886
@nguerrera we simply drop dependencies present in this package to dotnet, however as the issue says dotnet sdk already brings these along, which are also latest in revision.

Can you provide some mechanism by which we can make sure that what ever additional dependencies we have, like those mentioned above, are getting packaged into dotnet sdk, & if not then only we drop those explicitly via our nu

[2019-01-14 17:14] ViktorHofer commented on #1884
@mayankbansal018 I'm not sure we are talking about the same thing here. The template just creates an appx package but contains no GUI.

[code]

Can you please point me to the source code where the UWP test runner lives (internal/external)?

[2019-01-14 18:53] fekadeabdejene opened #1888 "Need control over batched executed tests size > 10000"
ITestExecutor.RunTests(IEnumerable<TestCase> tests ...

Returns tests batched in groups of 10000 tests randomly selected. How can I control in my custom test adapter the amount of tests or the order of selected tests passed to my custom TestExecutor?

## Description

## Steps to reproduce

## Expected behavior

## Actual behavior

## Diagnostic logs

## Environment

[2019-01-15 09:18] mayankbansal018 commented on #1686
@dothenrik can you please share list of tests that are failing for you. As per you suggestion we will remove "\n\r" with Environment.NewLine, but a comprehensive list will definitely help us.

Just to confirm you are observing these tests failures on Windows environment? However what is weird is that we run our pipeline on windows machine, & we never face these tests failures.

[2019-01-15 09:37] denxorz commented on #1768
We also experienced a simular problem when running tests on TFS. Our solution contains 10 .NET Core tests dlls and one .NET Full dll. These tests are picked up by the default filter:
[code]
The test session is not directly aborted when the .NET Full is encountered, but it seems to be later. At the end of the test run it only specifies "Test Run Aborted" without any reason. It would have really hel

[2019-01-15 12:35] mayankbansal018 commented on #1885
@jaydeept, can you share a repro project for this issue?

[2019-01-16 06:54] MuhammadBilalYar commented on #1870
facing same issue even after adding **NUnit3TestAdapter** , source and logs are attached

**VSTS Logs**
[tasklog_6.log](https://github.com/Microsoft/vstest/files/2762966/tasklog_6.log)

**Source**
[IntegrationTests.zip](https://github.com/Microsoft/vstest/files/2762962/IntegrationTests.zip)

[2019-01-16 15:58] mayankbansal018 commented on #1884
@ViktorHofer shall I close this issue, as we have started a thread internally & have added you to it ?

[2019-01-16 18:22] ViktorHofer commented on #1884
I agree. Let's close this one. I will respond on the offline thread asap.

[2019-01-16 18:22] #1884 closed

[2019-01-16 21:47] JamesKibirige commented on #1584
Hello @singhsarab I am having this same problem and after following your advice **I have not been able to correct the issue**.

I have several VsTest tasks in my AzureDevOps Release Pipeline, I have ensured that I have published all of the respective test binaries, json files and dependencies as Build artefacts. But no matter what I do I cannot run my Integration or Acceptance tests without seeing

[2019-01-16 22:15] JamesKibirige commented on #1480
Hi, @smadala I am having a similar problem running my integration and acceptance tests in my release pipeline I see this same error. However I have already made sure that I have published all the test binaries and dependencies for the Test projects as Build artefacts, they are in folders next to the Test dlls, but I still see this problem:
[code]

[2019-01-17 07:38] mayankbansal018 commented on #1702
@onovotny the fix should be available in .net test sdk 15.9, let me know if it is not resolved.

[2019-01-17 07:38] #1702 closed

[2019-01-17 08:02] mayankbansal018 commented on #1809
@csoltenborn , please try with latest vstest.console, the issue should have been fixed. Please ping back if it is still valid

[2019-01-17 08:02] #1809 closed

[2019-01-17 11:34] nvborisenko opened #1889 "Logger parameters via command line with special characters"
It seems I cannot do the following:
[code]

Output:

Is there some way how we can escape characters in logger parameters?

[2019-01-17 14:05] singhsarab commented on #1834
@moh-hassan
Sorry for the delay in response. Thanks for confirming that first part of issue is resolved.

Regarding Assembly.GetEntryAssembly

This is what you reported earlier
`
Testhost (from within NUnit framework) in netcoreapp2.0 Assembly.GetEntryAssembly() returns the assembly hosting testhost.dll, but in net4x it returns null.
`
Reason:
In case of Dotnet core, there is not concept of appdom

[2019-01-17 16:19] giggio commented on #1866
I just tested with SDK 2.2.102 and it is still not there. When is this going to be released?

[2019-01-17 18:44] carlin-q-scott commented on #1870
@MuhammadBilalYar The only differences between your test project and mine are:
* I don't have this line: `<AppendTargetFrameworkToOutputPath>false</AppendTargetFrameworkToOutputPath>`
* I don't have the ConsoleRunner package. I think I read somewhere that it's incompatible with the test adapter.

[2019-01-17 20:46] Mobrockers opened #1891 "Cannot build/ test vstest TestPlatform project in visual studio 2017"
## Description
I always get this error when building and or running tests in visual studio, this is blocking me from debugging my change:

[code]

The project builds and tests can be run using build.cmd and test.cmd, but this is not a good debugging experience.

This error comes up for any project that I try to run that uses Microsoft.TestPlatform.CommunicationUtilities through Microsoft.TestPlatf

[2019-01-17 20:56] Mobrockers commented on #1891
After playing around I noticed the stylecop analyzers would once in a while show up as a yellow triangle with no error message. After deleting the stylecop analyzer inclusion from the TestPlatform targets file the project started behaving normally.

[2019-01-18 12:59] #1834 closed

[2019-01-18 14:51] moh-hassan commented on #1834
@singhsarab , The link of [set_entry_asemply](https://dejanstojanovic.net/aspnet/2015/january/set-entry-assembly-in-unit-testing-methods/) you provide may help in unifying test suit in net4x to be like netcore.
For completion of the solution I want to modify the line:

                  Assembly assembly = Assembly.GetCallingAssembly();
To be:

                 Assembly assembly = {what_is_the_Ass

[2019-01-18 15:35] nvborisenko commented on #1889
[code]

works.

But
[code]
doesn't work. I really want to use `log=File.txt` as a name of my file.

[2019-01-18 21:03] JamesNK opened #1892 "A package reference to ASP.NET Core 3.0 breaks the test host"
## Steps to reproduce
1. Install .NET Core SDK 3.0 preview 1
2. Open attached project - [nunittest.zip](https://github.com/Microsoft/vstest/files/2774499/nunittest.zip)
3. Run `dotnet test` in test directory

## Expected behavior
Tests run

## Actual behavior
The presence of `<PackageReference Include="Microsoft.AspNetCore.App" Version="3.0.0-preview-18579-0056" />` in the test project causes the

[2019-01-18 21:04] JamesNK commented on #1892
cc @juntoalua

[2019-01-18 21:34] JamesNK commented on #1892
That works. You're a ⭐️

[2019-01-18 21:34] #1892 closed

[2019-01-19 11:55] mayankbansal018 commented on #1891
@Mobrockers , we have not seen any such issue in with VS 2017, however since you have found a workaround to your issue, should we go ahead and close this?

[2019-01-19 11:55] mayankbansal018 commented on #1886
@nguerrera , any suggestions here please?

[2019-01-20 12:58] mayankbansal018 commented on #1891
Closing this for now, we will investigate, if it repro's locally.

[2019-01-20 12:58] #1891 closed

[2019-01-21 06:09] vagisha-nidhi commented on #1885
Closing this. Please feel free to reopen with a repro project.

[2019-01-21 06:09] #1885 closed

[2019-01-21 07:03] jaydeept commented on #1885
It was in-lining the private function when executed using dotnet vstest

[2019-01-21 07:15] mayankbansal018 commented on #1885
@jaydeept testplatform will not inline any function, infact it won't even know what function is getting executed. In-lining of any function would be handled by dotnet itself.

[2019-01-21 08:35] mayankbansal018 commented on #1888
@fekadeabdejene There is no limit on number of tests any adapter can execute in any given session.
The test platform simply passes the sources to adapters, & as soon as the adapters start executing tests, it returns the result back to test platform via invoking API from interface ITestExecutionRecorder.

The platform simply waits for 10 Test to have executed before it starts displaying that inform

[2019-01-21 09:04] mayankbansal018 commented on #1889
@nvborisenko this is the current design of trx parser, as you can see, [we use "=" delimiter](https://github.com/Microsoft/vstest/blob/7fbfc61921f426b2d680a04b209ed5db804e7cc3/src/vstest.console/Processors/EnableLoggerArgumentProcessor.cs#L167) to identify the file path provided by user.

We don't see this as a major blocker for customers, & adding any specific checks to parse user input for trx l

[2019-01-21 09:04] #1889 closed

[2019-01-21 14:49] fekadeabdejene commented on #1888
Hi,

Let me try to re-explain if I might of been unclear.
- If you open up visual studio and the test explorer and select over 10000 test cases, 15000 for instance.
- right click and "run selected tests".
Two executions will be passed to my custom ITestExecutor. for my TestAdapter. The first instance will pass 10000 TestCases. The second instance will pass 5000 test cases.

My request is to be abl

[2019-01-21 16:34] mayankbansal018 commented on #1888
@fekadeabdejene , this is something controlled by VS IDE itself, where test platform has no control. I believe it was done because passing on more 10K test was not performant. I would suggest that you file a bug for this on https://developercommunity.visualstudio.com/spaces/8/index.html

@AbhitejJohn, from VS IDE to confirm.

[2019-01-21 17:02] scottblasingame commented on #1870
Had the same issue. I already had the nunit and NUnit3TestAdapter packages. The fix for me was to also add the NUnit.ConsoleRunner package. I think it's because I was trying to run within the Visual Studio Test Explorer.

[2019-01-21 18:25] mikkelbu opened #1894 "Incorrect warnings logged in diagnostics ".host" file for nunit tests"
The following problem was raised in nunit/nunit3-vs-adapter#587 by @bachowny, so I cannot fill in all the necessary information, but we suspect that the problem is in vstest and not in nunit3-vs-adapter.

## Description
I work on some NUnit tests which we run under dotnetcore via vstest.

I've turned on some logging to investigate an issue with the test suite aborting with no message (that's cover

[2019-01-22 05:58] kaadhina opened #1895 "Null ref in event log data collector for seemingly unsupported event logs"
https://github.com/Microsoft/vstest/blob/7b6248203164f8ea821f6795632bd22e0b69afb0/src/DataCollectors/Microsoft.TestPlatform.Extensions.EventLogCollector/EventLogDataCollector.cs#L577

`<DataCollectors>
<DataCollector uri="datacollector://microsoft/EventLog/2.0" assemblyQualifiedName="Microsoft.TestPlatform.Extensions.EventLogCollector.EventLogDataCollector, Microsoft.TestPlatform.Extensions.EventL

[2019-01-22 08:01] mayankbansal018 commented on #1894
@mikkelbu

The file is created by test platform only. See the name host appended to it, it signifies that these logs are related to testhost process, where the adapter is actually loaded, & tests are run.

The diagnostics file is generally used by us, to diagnose any errors when test session ends abruptly. However since you are using it in this fashion, & you wish to reduce the messages, I would s

[2019-01-22 15:06] nvborisenko commented on #1889
This issue is marked as `bug`, and closed. May I suppose that it is fixed?

[2019-01-22 15:12] mayankbansal018 commented on #1889
@nvborisenko, Apologies, while investigating it seemed like it was a bug, but after analysis like I mentioned above this behavior is currently by design, & it doesn't seem like key scenario. However if you feel strongly, we will be happy to guide you in raising a PR for it.

Please let us know if you wish so.

[2019-01-22 23:00] bachowny commented on #1894
It may be by design to show warning messages when the logging level is set to warning, but warning that a test isn't found and that there's no tests in progress, when the tests ARE in progress and the test JUST RAN without failure, seems highly illogical.

[2019-01-23 01:53] FruitcakeElemental opened #1896 ".net 3.5 unit tests no longer work"
## Steps to reproduce

## Expected behavior

## Actual behavior

## Environment

From investigating both the cause and what the error message was indicating for me to do I found [this](https://github.com/Microsoft/vstest/pull/1723). Suggesting that the change may have been intentional, however the suggested solution of changing the targeted .net framework to 4.0 is completely unacceptable.

There

[2019-01-23 08:44] mayankbansal018 commented on #1894
@bachowny I agree that those logs might not make sense, but they do happen especially when we mark a Test as being active, & return the result of tests that have been executed.

Also since these are plain diagnostics logs, required to identify abnormal failures, we would have not added any extra logic to recheck while logging. The logging point simply records data if it finds something missing.

T

[2019-01-23 08:44] #1894 closed

[2019-01-23 09:06] mayankbansal018 commented on #1896
@PBoraMSFT , @cltshivash This limitation has been called out in [initial RFC's of test platform](https://github.com/Microsoft/vstest-docs/blob/f25dddc31b8090b6c24d2d20137bfb5b84938332/RFCs/0012-Running-Tests-TargetingNET35.md),

Can you please take a call on what should we do for such scenarios?

[2019-01-23 13:56] singhsarab commented on #1865
@dotMorten Would you like to contribute to enable it with the configuration ?

[2019-01-23 17:09] #1895 closed

[2019-01-23 23:20] bachowny commented on #1894
I guess this is more of an annoyance than anything else but for posterity I'll just restate what you've said: This warning about tests not existing is logged **because we don't expect tests to be executed when we are executing tests**.

If that truly is "by design", then there's not much I can expect in the way of improvement! :-)

Also the TraceLevel switch does work as expected with those versio

[2019-01-24 01:30] pMaske opened #1898 "With VSTest.Console.Exe skipped tests' outcome is changed to "Not Executed"."
## Description
The issue I am facing is that for WPF and UWP unit tests that are `Skipped` when run through test explorer have outcome of `Not Executed` when via vstest.console.exe.

I would like to know why the behavior of skipped tests as "Not Executed" in the TRX- file when run via vstest command line.

Is there a workaround for this?
Our Jenkins plug in marks the build as failed even with 0 fa

[2019-01-24 10:10] josteink opened #1899 "Failing to load test-assemblies and discover tests leads to "success" in VSTest.Console.exe"
## Description

When trying to load broken test-projects and failing to discover tests, ideally the test-runner should report that the test-project is broken, and thus break the build.

VSTest.Console.Exe just reports failure to load DLLs or discover in the console output, but still exits with an exit code of 0.

## Steps to reproduce

1. Create a test-project with some incorrect binding redirects

[2019-01-24 16:08] adam-geisen commented on #909
I'm still getting this issue using a mixed solution of .net framework 4.6.2, .net Standard 2.0, and .net core 2.1...

Are you sure this isn't still happening? My projects using .net standard aren't showing up at all.

[2019-01-24 16:51] ViktorHofer opened #1900 "VSTest stops process execution early"
Coverlet is a code coverage tool which collects hit counts in methods and writes the result either into a file or memory. The result writing is done in the ProcessExit event handler of the current AppDomain. It seems that when using `dotnet test`, the testing framework doesn't wait until the AppDomain's ProcessExit execution is finished and terminates the test process early which leads to no cover

[2019-01-24 21:07] mayankbansal018 commented on #1900
@ViktorHofer is this the FullCLR coverage scenario? I assumed so, since you are pointing us to wait for AppDomain Shutdown.

However test executor(testhost.exe) waits for test adapters to finish executing tests, once that is over, we send "ExecutionComplete" Message to vstest.console, on receiving this message vstest, send a message to testhost process, to exit normally, which is handled by [testh

[2019-01-24 21:11] mayankbansal018 commented on #1899
@josteink , the test platform itself in not responsible to execute the tests, that is handled by Test Frameworks, & Adapters, like mstest, xunit, nunit, etc.. If the adapters report back saying that test dll had some issues, & raise error, then the platform will report that back.

For e.g. if you provide a dll, which has no test, then the test platform will give appropriate warning for it.

[2019-01-24 21:17] ViktorHofer commented on #1900
The question applies to both fullclr and coreclr but I'm more interested in the .NET Core part here. CoreCLR still has an OnProcessExit method which invokes ProcessExit event handlers. When using vstest they don't complete and stop after about half a second. There is a simple repro to test this:

1. dotnet new mstest
2. Paste code from https://github.com/tonerdo/coverlet/issues/210#issuecomment-45

[2019-01-25 06:46] josteink commented on #1899
So what you're saying is that this is not an error with VSTest itself but rather with the MSTest test-adapter?

[2019-01-25 07:55] mayankbansal018 commented on #1899
@josteink yes, most likely, can you also share a small repro project, we can investigate the issue better

[2019-01-25 08:03] mayankbansal018 commented on #1900
@ViktorHofer few more code pointers, vstest.console sends request to testhost to shutdown, [code at](https://github.com/Microsoft/vstest/blob/2d4508232b6655a4f363b8bbcc887441c7d1d334/src/Microsoft.TestPlatform.CrossPlatEngine/Client/ProxyOperationManager.cs#L186).
However if testhost doesn't shut down [within 100ms](https://github.com/Microsoft/vstest/blob/2d4508232b6655a4f363b8bbcc887441c7d1d334/

[2019-01-25 12:16] sharwell commented on #1900
@mayankbansal018 Great! This timeout is causing serious problems for teams using code coverage in CI scenarios, where machines may not be fast (most recently dotnet/machinelearning). How can we disable it?

[2019-01-25 17:08] bergmeister opened #1901 "Feature Request: Optionally abort test run if number of failures exceeds threshold"
I have looked at the documentation and could not find an option to abort a test run early on if the number of test failures exceeds a threshold.
This would be useful for scenarios where a bad code change is causing a long test run because the majority of tests fail, therefore leading to a very long test run. In most CI systems, one can see results only after completion of a task. This would be hel

[2019-01-25 19:00] cleemullins opened #1902 "MSTest projects fail to build with .Net Core 2.2.102 on Azure Devops"
# Issue Title

An MS Test project (netcoreapp2.0, or netcoreapp2.1) fails to build on Azure Devops since the installation of .Net Core 2.2.102

# General
The error is this:
[code]

I have a [minimal repro here](https://github.com/cleemullins/DevOpsBuildFailureRepro), which is just an MSTest project based on netcoreapp2.1. There is a 3-step Azure Devops pipeline (using all default values) to go wit

[2019-01-26 08:42] mayankbansal018 commented on #1901
@cltshivash , @PBoraMSFT we have something similar in Azure devops pipeline right?

[2019-01-26 09:20] bergmeister commented on #1901
As far as I am aware Azure pipelines have the ability to re-run test(s) if they failed but I could not find an option to abort the whole test suite if there are too many test failures

[2019-01-26 12:04] Rotvig opened #1903 "Cannot publish --self-contained test projects"
## Description
When trying to publish a dotnet core 2.2 project combined with using the package "Microsoft.NET.Test.Sdk" Version="15.9.0"  the publish of the self-contained project fails.

See the repo i have made for reproduction

https://github.com/Rotvig/Publish.SelfContained.NetCore.2.2

## Steps to reproduce

## Expected behavior

## Actual behavior

## Diagnostic logs

## Environment

[2019-01-27 14:15] mayankbansal018 commented on #1900
@sharwell , @ViktorHofer we still don't understand that why the timeout has to be increased. Ideally Coverlet integration with vstest should happen as [datacollector](https://github.com/Microsoft/vstest-docs/blob/master/docs/extensions/datacollector.md). I'm not sure how it is today, but if it is as datacollector, then coverlet would get sufficient time to write whatever data it needs to log, & vs

[2019-01-27 17:56] sharwell commented on #1900
@mayankbansal018 coverlet isn't specific to unit tests and can't have _any_ dependencies outside mscorlib. It works for many kinds of application, and makes minimal assumptions that assemblies will behave according to runtime rules. VSTest made its own rules for application lifetime to become the unique case where coverlet does not work.

[2019-01-27 17:59] sharwell commented on #1900
I guess the short form is VSTest made an assumption about test execution lifetime and used that assumption to claim that terminating a process would not have side effects. Coverlet is proof that the assumption was not correct, so the forced termination is not correct in its current form and needs to be changed or removed.

[2019-01-28 05:42] mayankbansal018 commented on #1900
@sharwell I agree that VSTest has made that assumption on when to terminate process, but from VSTest perspective, it has no other way to close the session. VSTest sends a message to testhost to close the session, it waits for 100ms, & then kill the process, if it fails to exit. The reason it does so is because it has no way of knowing whether the testhost is genuinely doing something, or is simply

[2019-01-28 08:35] karanjitsingh commented on #1902
@cleemullins, I tried the sample project you gave me and it seems to build fine with dotnet sdk v2.2.102

Here is the pipeline: https://dev.azure.com/karsin/karsin/_build/results?buildId=3&_a=summary&view=logs

Added a powershell task to check the version of dotnet

![image](https://user-images.githubusercontent.com/4632805/51823524-b4677b00-2305-11e9-8d8b-3b8bc36f2948.png)

[2019-01-28 09:13] FruitcakeElemental commented on #1896
Can I get some assistance in working around this problem? It's halted my development of this 3.5 work, and its not a simple task to drop back versions of visual studio (I don't even know what version that I can drop back to that will support 3.5).

I also need to point out that there was 0 warning that this would happen, no notices, I can't even find information in release notes on this change. By

[2019-01-28 11:15] ViktorHofer commented on #1900
(https://docs.microsoft.com/en-us/dotnet/api/system.appdomain.processexit?view=netframework-4.7.2). As this limitation has been lifted from .NET Core, it's unfortunate that now VSTest applies a timeout.

Coverlet injects code in test assemblies which 1) count code hits and 2) writes the number of hits into a temporary location (memory, file IO, ...) so that the host process `coverlet` can use that

[2019-01-28 11:44] karanjitsingh commented on #1903
@Rotvig the parameter `UseAppHost` must be set to true when using `--self-contained`
`dotnet publish -c release -r win10-x64 --self-contained true /p:useapphost=true` should work for you

[2019-01-28 16:00] mayankbansal018 commented on #1900
Why can't this happen asynchronously? Why does coverlet needs to hold entire data in memory, & only start writing when the tests have executed, it can record this data as we do in dynamic code coverage via a separate process. Also if it needs to wait for test execution to complete, it would be great to have coverlet integration as datacollector , where it will receive explicit event that test sess

[2019-01-28 20:52] AbhitejJohn commented on #558
@CalArabshahi, @ognjenkurtic : If you haven't already, could you delete the .vs folder for your solution and try this out please(@ognjenkurtic you might want to update to the latest as well)? If that doesn't work, would you be able to file an issue in developercommunity and paste a link here please? This specific issue would get more traction there.

[2019-01-28 21:15] Rotvig commented on #1903
it works thanks !

But shouldn't /p:useapphost be set to true when --self-contained true ?

[2019-01-28 23:02] dotMorten commented on #1790
Sorry I dropped the ball on this and never responded. Could we reopen this, as changing the project type really isn't an option when building a test runner host app for Xamarin.
If you look in the nuget package's `netstandard1.5` folder you'll find the 4 assemblies:

- `Microsoft.TestPlatform.CommunicationUtilities.dll`
- `Microsoft.TestPlatform.CrossPlatEngine.dll`
- `Microsoft.VisualStudio.TestP

[2019-01-28 23:55] dotMorten opened #1904 "DataCollectionTestCaseEventSender.InitializeCommunication should be marked virtual"
## Description
Currently `DataCollectionTestCaseEventSender` hardcodes the communication endpoint to `IPAddress.Loopback`, which means you can't bind to any other address (like Any), preventing you from reusing this class in a test runner on an external remote device : https://github.com/Microsoft/vstest/blob/master/src/Microsoft.TestPlatform.CommunicationUtilities/DataCollectionTestCaseEventSende

[2019-01-29 00:57] dotMorten commented on #1904
ignore this

[2019-01-29 00:57] #1904 closed

[2019-01-29 05:42] karanjitsingh commented on #1903
Seems fair, maybe you could take it up with the dotnet repo

[2019-01-29 05:42] #1903 closed

[2019-01-29 07:17] nigurr commented on #1898
@pMaske `Skipped` is specific to MsTest adapter which is what's getting reported in Test explorer.
The results which are shown in Test explorer are derived from Test adapter (MsTest/Nunit/Xunit).

However TRX is not adapter specific, it has its own format of spitting out the results.
Irrespective of which test adapter being used, the TRX output format will be same (it's exactly as designed).
It's

[2019-01-29 07:17] #1898 closed

[2019-01-29 07:34] dotMorten commented on #1790
I also no understand why your proposed "fix" resolves the issue for you: It's because it's the equivalent of not adding a package reference at all, so it wouldn't really do anything.

[2019-01-29 08:00] mayankbansal018 commented on #1790
Thanks, I probably did not try it out with this last time I was compiling by taking reference to `Microsoft.NET.Test.Sdk`, also it makes sense that it's on no use for Xamarin based apps, since it has no target for netstandard. The reason I was suggesting it was because we want to have a common nuget package, which is referred by every test project.

_I would really like to change `Microsoft.NET.Te

[2019-01-29 08:01] dotMorten commented on #1790
That could work too

[2019-01-29 08:05] mayankbansal018 commented on #1790
Agreed on this, please give me sometime to discuss this with other team members. We have other similar changes going on, regarding how we want to acquire test platform dependencies for other scenarios(netcore, UWP, fullCLR), & this falls in same line

[2019-01-29 15:59] livarcocc opened #1905 "dotnet test too many tcp connections time_wait"
_From @theoldscarana on January 29, 2019 14:31_

Hi,

I have a problem with "dotnet test" in container linux.

This is the scenario:

- Nunit Test Project
- Framework .Net Core 2.1
- In the nunit test project, I have a single test that execute a query on sql server
- I use the docker image: "microsoft/dotnet:2.1-sdk"
- Docker Engine Setting: 4 CPU, 2GB RAM

In the container I execute these steps:

[2019-01-30 11:02] swati-jain13 commented on #579
Is there a solution available now for dotnet test --collect:Code Coverage for linux containers?

[2019-01-31 15:03] singhsarab opened #1907 "Auto-generated program.vb throws exception"
## Description
The auto-generated program.vb causes compilation errors if the test code is inside a namespace that starts with Microsoft.

## Steps to reproduce

[code]

## Expected behavior

## Actual behavior

[2019-01-31 18:36] mayankbansal018 commented on #1896
The fix will be available in next release of test platform, @FruitcakeElemental is it okay if we ?close this issue for now?

[2019-01-31 20:39] shyamnamboodiripad opened #1908 "Support embedded PDBs in OM"
## Description
OM currently supports regular and portable PDBs (see https://github.com/Microsoft/vstest/tree/master/src/Microsoft.TestPlatform.ObjectModel/Navigation). However, as far as I can tell, it doesn't support embedded pdbs.

Not sure if this is the same issue as #1748 but is probably related.

## Steps to reproduce
VS's Test Window uses ISourceInformationProvider to side step PDB based so

[2019-01-31 20:39] shyamnamboodiripad commented on #1908
cc @peterwald

[2019-01-31 20:47] shyamnamboodiripad commented on #1908
@pvlakshm Embedded pdb support was mentioned in one of your updates on the internal alias last summer - but I believe that update was mainly around code coverage tooling. Is the OM support something you are working on currently?

[2019-02-01 03:32] FruitcakeElemental commented on #1896
Ok, whats the ETA on the next release?

[2019-02-01 06:39] mayankbansal018 commented on #1896
We expect next release around 17-18th Feb

[2019-02-01 06:39] #1896 closed

[2019-02-01 08:01] karanjitsingh commented on #1905
@livarcocc, can you give the netstat output with the process as well?

[2019-02-04 16:18] livarcocc opened #1911 "Add support for `dotnet test` to have JUnit style output"
_From @wordshaker on February 4, 2019 12:6_

## The Problem

Using CircleCI as a build tool, there are some features you can only get access to if your test output is in a JUnit format. XUnit provides a `-junit` argument to transform XUnit output to a JUnit style of output and it seems similar functionality used to be supported: https://stackoverflow.com/questions/39542533/xunit-dotnet-test-cli-to

[2019-02-05 05:34] karanjitsingh commented on #1905
@livarcocc, sorry for the delay on this, can you provide me with a small project that's running into this for me to repro? In the meantime I'll try to procure a linux machine.

[2019-02-05 06:12] karanjitsingh commented on #1911
@livarcocc, I'm not sure by what you mean by `trx with JUnit formatting`

If you're looking for a `--logger:JUnit` option, then this is explicitly an enhancement ask

[2019-02-05 08:08] theoldscarana commented on #1905
@karanjitsingh, attached a test project, you should change the database connection and query.

[NUnitTestCore.zip](https://github.com/Microsoft/vstest/files/2831244/NUnitTestCore.zip)

[2019-02-05 10:51] saxenark opened #1912 "Trx file + Jenkins"
Hi,

vstest.console.exe logs the test results in a .trx file format. I want to check if there is a way to convert it to HTML either as a native operation or using an external tool. Any suggestions here? I am using VS 2017.

Thanks,
Anubhav.

[2019-02-05 12:06] karanjitsingh commented on #1912
A quick search found me this, https://github.com/NivNavick/trxer

[2019-02-05 12:06] #1912 closed

[2019-02-05 12:44] mayankbansal018 commented on #1790
@dotMorten we had a discussion for this internally, & it makes sense to enhance Microsoft.NET.Test.Sdk to target ".NetStandard1.4" as needed for Xamarin apps.

It would be helpful if can raise a PR for the same.

[2019-02-05 17:39] livarcocc commented on #1911
I just moved the bug here since it was filled on the CLI and I don't believe it belongs there. The original  person who filled the bug is @wordshaker. And yes, I believe this would be a feature request.

[2019-02-06 05:17] saxenark opened #1914 "vstest.console.exe many test dlls"
Hi,
I want to know how to pass many test dlls to vstest.console.exe in VS2017. I know these assemblies have to separated by spaces but I am unsure if there is any max limitations on number of assemblies that can be passed as command line argument. Questions:

1. is there a limit on the number of arguments (or length of arguments) passed to vstest.console.exe?
2. can the assembly names be input thr

[2019-02-06 06:50] dotMorten commented on #1865
@singhsarab Contribute to enable what? From the above discussion it sounds like it should be kept MTA for .NET Core Apps to not be breaking.

[2019-02-06 06:52] dotMorten commented on #1865
@singhsarab Sorry I don't know where I'd have to start to do this. Also it might mean adding netcore3.0 targets across the board, which is probably a rather large task, and I don't know your project architecture well enough to do that.

[2019-02-06 08:20] mayankbansal018 commented on #1900
Any update on this?

[2019-02-06 08:21] #1790 closed

[2019-02-06 08:22] #1701 closed

[2019-02-06 09:39] nigurr commented on #1914
@saxenark `vstest.console.exe /? ` should help you out.
You can wrap all the dlls in response file (source.txt) and pass it as `vstest.console.exe @source.txt`

[2019-02-06 09:39] #1914 closed

[2019-02-06 10:40] karanjitsingh commented on #1905
@theoldscarana, can you share the docker image?

[2019-02-06 11:18] theoldscarana commented on #1905
@karanjitsingh, the image was build with the Dockerfile included in the zip file

[2019-02-06 13:54] DinoSourcesRex opened #1915 "How to destroy objects with live unit testing in vs2017"
## Description
First of all sorry if this is in the wrong place. If it is any direction on where I should post it is welcome.

So. I am currently running Specflow in a dotnet 471 test application for my acceptance tests.

As part of this I have a MongoDb in memory using Mongo2Go.

Unfortunately the way Specflow lets me setup the DB is using static methods and static objects, so I suspect this is p

[2019-02-06 13:54] saxenark commented on #1914
For reference, I was able to use TRX Merger utility well https://github.com/rndsolutions/trx-merger just in case someone needs it.

[2019-02-06 13:58] saxenark opened #1916 "codecoverage.exe in Visual Studio 2017"
Hi,

I  have many .coverage files that I generate as part of running vstest.console.exe. It appears 'codecoverage.exe analyze' allows specifying multiple .coverage files to emit a single xml file as output. Is there a way these .coverage files can be specified in an input file to codecoverage.exe?

If not, then I would be resorting to analyzing these .coverage and generating the .xml in a for loop

[2019-02-06 14:47] wordshaker commented on #1911
Thanks for moving it @livarcocc - I wasn't really sure where it should live.

@karanjitsingh - I know there are OSS repositories available for this, but as we are already using XUnit it would be nice to be able to use their implementation. A nice to have rather than a dire need.

[2019-02-06 14:56] stoiveyp commented on #1911
@karanjitsingh Can appreciate that the vstest team want to keep loggers decoupled, I think the request is that dotnet test and XUnit are more functionally equivalent? So would that make it a CLI feature to add a JUnit logger option within dotnet test?

[2019-02-06 16:50] ViktorHofer commented on #1900
@sharwell submitted a WIP PR: https://github.com/tonerdo/coverlet/pull/329. He still needs to register the data-collector with the RunSettings file.

[2019-02-06 21:25] tmat commented on #1764
Here: https://github.com/dotnet/arcade/pull/1992

[2019-02-07 04:45] nigurr commented on #1916
Hi @saxenark,

I am sorry to inform that such functionality doesn't exist currently.
However we would like to know your end to end scenario to suggest better solution.

We highly recommend using .coverage files to publish coverage information to Azure DevOps for code coverage experience.
If you are planning to use it with any other CI solutions, we would like to help as much as possible to get goi

[2019-02-07 04:45] #1916 closed

[2019-02-07 08:04] singhsarab commented on #1764
Main concern: The ability to be able to test any version of a dll or dll having dependency, via TestPlatform v2.

Problem: Testhost has a bunch of dependencies, targeting specific versions, for example NewtonSoft.Json (currently 9.0.0.0). If the user wants to test NewtonSoft.Json 8.0.0.0, it is not possible given Test host process requires a higher version.

There are 2 scenarios and possible solu

[2019-02-07 08:28] karanjitsingh commented on #1905
@theoldscarana, I don't think these connections relate to anything that vstest is doing.

The log that you mentioned `TpTrace Verbose: 0 : 676, 7, 2019/01/29, 13:42:29.437, 18771123468400, vstest.console.dll, TcpClientExtensions.MessageLoopAsync: NotifyDataAvailable remoteEndPoint: 127.0.0.1:45445 localEndPoint: 127.0.0.1:39065` is the connection between the testhost.exe/dll and vstest.console.exe

[2019-02-07 08:29] #1905 closed

[2019-02-07 08:36] ViktorHofer commented on #1764
@tmat we are mainly concerned about the .NET Core scenario here, right?

[2019-02-07 13:07] saxenark commented on #1914
@nigurr,

You mentioned earlier: "However we are already working on this functionality to show code coverage report in Azure DevOps"

Is there a ticket or reference that you can share with me for progress on this feature? When is the tentative timeline for this feature?

Thanks,
Anubhav

[2019-02-07 13:20] nigurr commented on #1914
@saxenark as mentioned, we don't have tentative timelines to share. Please watch out for Azure Devops Release notes.

[2019-02-07 16:34] tmat commented on #1764
@ViktorHofer We are concerned about both desktop and core equally. Many of our repos target desktop.

[2019-02-07 18:56] omerlh commented on #254
Hey, are there plans to support Circle CI test runner? Look like they can parse [test results](https://circleci.com/docs/2.0/collect-test-data/) in a specific format (see xunit/xunit#1882)

[2019-02-08 05:35] karanjitsingh commented on #1915
@DinoSourcesRex, live unit testing is a VS IDE scenario and not a part of vstest.
@ManishJayaswal, maybe you can help?

[2019-02-08 08:09] DinoSourcesRex commented on #1915
@karanjitsingh Sorry! I can cross post the question.

[2019-02-08 08:09] #1915 closed

[2019-02-08 08:24] mayankbansal018 commented on #1916
@saxenark as a workaround you can use API's Microsoft.VisualStudio.Coverage.Analysis to merge your ".coverage" files. It will give you single output coverage file. Following this use can use CodeCoverage.exe to generate XML content.

[2019-02-08 08:28] mayankbansal018 commented on #1907
As discussed with @nguerrera , @tmat going forward solution for test projects would be to use `<HasRuntimeOutput>true</HasRuntimeOutput>` property instead of setting output type to "exe, but <HasRuntimeOutput>, doesn't generate "runtimeconfig.dev.json", which the platform needs to find location of "testhost.dll".
The issue is currently blocked on https://github.com/Microsoft/msbuild/issues/1310

[2019-02-08 08:29] mayankbansal018 commented on #1907
Duplicate of https://github.com/Microsoft/vstest/issues/792

[2019-02-08 09:15] karanjitsingh commented on #1915
@DinoSourcesRex, since LUT is VS IDE scenario https://developercommunity.visualstudio.com/ would be the right place to post the question.

[2019-02-08 12:52] #1887 closed

[2019-02-08 14:14] steinmr commented on #981
@codekoenig Did you resolve your issue? We have the exact same scenario, but in TFS 2018.3. For those builds that show incorrect numbers, you can go into "Tests"-tab, download all coverage files and combine them in VS. The number shown there is correct, and different from the incorrect percentage shown in "Summary"-tab. So it appears that VSTS/TFS has all the files, but in some builds it calculate

[2019-02-08 14:44] codekoenig commented on #981
@steinmr I'm in (e-mail) contact with @mayankbansal018 and some of his colleagues about this issue and I sent them sample files and screenshots and will provide them any logs they might ask for. So no solution yet, but investigations are ongoing and I will report back as soon as we know more.

The problem you are having definitely sounds like mine, although in my case, whenever TFS reports incorre

[2019-02-08 19:20] GoFightNguyen opened #1917 "dotnet test --collect:"code coverage" includes 3rd party dlls"
## Description
.NET Core 2.1
MSTest.TestAdapter v1.4.0
MSTest.TestFramework v.1.4.0
Microsoft.NET.Test.Sdk v 15.9.0

## Steps to reproduce
Create a .NET Core Test project with a test
Add a dependency to the FluentAssertions NuGet pkg
dotnet test --blame --collect:"Code Coverage"
Open the coverage file

## Expected behavior
I would not see coverage details for FluentAssertions

## Actual behavior
I

[2019-02-08 21:10] GoFightNguyen commented on #1917
I discovered the .runsettings file. At the solution level, I created a codecoverage.runsettings file. I then run this command:
`dotnet test --blame --collect:"Code Coverage" --settings:..\codecoverage.runsettings`

This appears to give me what I need. Here are my runsettings. Hopefully I'm not leaving out anything important.

`<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionR

[2019-02-09 08:36] steinmr commented on #981
@codekoenig Ok, thanks for keeping us posted.
When you say that you download the coverage files, do you do that from the summary page (as a single file) or as attachments on the tests runs on the test page? Because in the first case, I also get inconsistent numbers and a lot of missing projects (seems to be to be a random file out of all the coverage files, but not sure). But in the latter case I

[2019-02-10 07:39] NN--- opened #1918 "Running test for .NET Core 1.1 results in StackOverflowException"
## Steps to reproduce
When I run test for .NETCoreApp.Version=v2.0 the tests are running without a problem.
But for .NETCoreApp.Version=v1.1 the runner crashes.

[code]

I tried to use dotnet test directly and it crashes too:

[code]

## Expected behavior
Tests run both in .NET Core 2.0 and .NET Core 1.1

## Actual behavior
Cannot run tests for .NET Core 1.1

## Diagnostic logs

[code]

[code]

##

[2019-02-10 10:12] #1918 closed

[2019-02-11 12:42] codekoenig commented on #981
@steinmr Ah, missed that in your post - yes I'm talking about the single/merged file from the summary page. I downloaded now the individual coverage files from the test page and you are right, if I merge them in Visual Studio manually, the results are correct. That might be an important find, I'll send the individual files to the team working on the issue too.

And, of course, looks like we have e

[2019-02-12 09:22] nigurr commented on #1917
@GoFightNguyen Currently we do instrument all dependent dlls (whether they come from 3rd part dependency or nuget reference).
In this case we try to collect code coverage for `FluentAssertions`.

However this package can be excluded from `coverage` report by modifying the `runsettings` as you have mentioned.
This is working as designed :)

[2019-02-12 09:22] #1917 closed

[2019-02-13 07:34] ParmjeetSingh15 commented on #1874
Sherayas please help me re-open the issue ( i am unable to reopen it).   The issue is still repro'ing and frequency of repro has increased but not  100%
It appears on github "you cannot re-open your own issues if a repo collaborator closed them"

[2019-02-13 08:13] ShreyasRmsft commented on #1874
@ParmjeetSingh15 were you able to get the diag logs?

[2019-02-13 10:58] nigurr opened #1922 "Test run gets aborted if Data collector crashes"
1. Enable code coverage data collector
2. Make sure CodeCoverage.exe crashes/exits for any reason
3. Test run will be aborted abruptly with no proper information

**Expected:**
1. Data collector can be terminated however tests should continue to run
2. Test run information should be displayed
3. Additionally warning/error can be thrown why data collector crashed.

Sample Logs:
[Sample.zip](https:/

[2019-02-13 11:05] #1907 closed

[2019-02-13 20:35] rojepp opened #1924 "Auto-generated program for F# breaks compilation"
## Description

In #1664, @saul added automatic generation of a `main` method. This breaks compilation for `<OutputType>Exe</OutputType>`, as it is generated even if there is already a main method. Compiling then gives the error

I ran into this using MiniScaffold template. There, the Test app has a `Main.fs`, not a `Program.fs` .
Checking for a hard-coded filename seems like a too weak of a check

[2019-02-13 21:07] jburnett commented on #1866
as @giggio wrote, SDK 2.2.102 still outputs the message when IsTestProject = false.  ETA?

[2019-02-14 09:21] saul commented on #1924
@rojepp what are you proposing as the solution?

The MiniScaffold template be setting the property to not autogenerate a program, as other templates did when this change was rolled out.

[2019-02-14 09:41] nigurr commented on #981
@codekoenig we are acknowledging this bug in code coverage merge at Azure DevOps Service.
We are running into race condition where data might be shown incorrect if many code coverage files exist.

I will raise separate tracking item which can be tracked (don't want to extend this thread with this)

[2019-02-14 09:48] tvaloy commented on #1425
I use grouping by outcome. In this grouping the failed tests are on top and successful tests are right below. In earlier versions of VS2015 recently executed tests were always placed at the top of the list of successful tests. This made it very easy to navigate to the last run tests. Now these tests are ordered alphabetically with all other tests. In solutions with hundreds of tests this makes it

[2019-02-14 09:59] rojepp commented on #1924
Reading the background issue more thoroughly, I don't have a better option. For reference, the property to set is `GenerateProgramFile`.

[2019-02-14 09:59] #1924 closed

[2019-02-14 12:09] saul commented on #1924
@rojepp at a minimum I think the compiler error should be improved (although that will be an issue for Microsoft/visualfsharp).

The compiler error should log the file that is the last compile item - that would at least show you where to look. It may also help if the auto-generated Program.fs had a comment explaining how to disable its generation.

[2019-02-14 19:03] kendrahavens commented on #1425
Thank you for the suggestion @tvaloy ! I've opened an issue to track interest in [adding an option to sort by recently run tests in the Test Explorer groupby](https://developercommunity.visualstudio.com/idea/458103/add-option-to-sort-by-recently-run-tests-to-test-e.html) on developer community.

[2019-02-15 10:55] toqueteos commented on #411
This has been solved by https://github.com/Microsoft/vstest/pull/1745

[2019-02-15 14:36] jhedlund commented on #1896
Will this be released in a Visual Studio 2017 update or only for 2019?

[2019-02-16 01:09] BrokeBoy123 opened #1925 "Program has more than one entry point defined. Compile with /main to specify the type that contains the entry point."
Hi, I'm new to VSC and C#. I have created two test scripts that go like this:
First One:

using System;

namespace ForIteratioin
{
    class ForIteratioin
    {
        static void Main5(string[] args)
        {
            Console.WriteLine("Hi");
            Console.ReadLine();
        }

    }
}

Second One:

using System;

namespace C
{
    class Program
    {
        static void Main(string[]

[2019-02-17 06:23] mayankbansal018 commented on #1925
@BrokeBoy123 while creating test projects for dotnet core, we implicitly add main functions to them. There is an inherit requirement for the test projects to be compiled as OutputType = "exe", to generate all the required dependencies, else the platform can fail to run the test.

In your sample code I don't see that you are using any test framework to actually write the test, if you use [mstest](h

[2019-02-17 08:55] matthew-horrocks commented on #1085
@nigurr

Is there an update available on the status of getting .net core 2 tests running in the Visual Studio Test Task?

Is it possible for my company's DevOps subscription to be added to a beta version of this test task?

Thanks,
Matt

[2019-02-18 09:28] singhsarab commented on #1896
@jhedlund This will be available in VS 2019.
If servicing for VS 2017 allows, we will try to take it for that release as well

[2019-02-18 13:26] onovotny commented on #1748
Ping? What SDK/NuGet version is this in?

[2019-02-18 15:36] onovotny commented on #1702
@mayankbansal018 I'm seeing this issue with the latest 16.0 preview test SDK's.

No code coverage:
https://dev.azure.com/dotnet/Rx.NET/_build/results?buildId=10303

Added /p:DebugType=Full has coverage:
https://dev.azure.com/dotnet/Rx.NET/_build/results?buildId=10304

That was the only change.

[2019-02-18 21:54] onovotny opened #1926 "Code coverage is flaky, throws missing method exceptions"
See the results here:
https://dev.azure.com/dotnet/Rx.NET/_build/results?buildId=10312

It's throwing errors like

[code]

Other times it works.

[2019-02-19 05:42] nigurr commented on #1085
@matthew-horrocks Currently we do support .net core tests in Visual Studio test task with limited functionality (Advance options/Distribution work is in progress).

[2019-02-19 17:57] jbrown16 commented on #1896
@singhsarab I've also run into the exact same issue that @FruitcakeElemental did, except I'm using VS 15.9.7. This would be a highly desired fix for my line of work seeing as I can't support 4.0+ for the foreseeable future. Please continue this test support for VS 2017 if at all possible.

[2019-02-19 18:15] jhedlund commented on #1896
Agree with @jbrown16 .  It was working fine in an earlier v15.9.x release...

[2019-02-21 19:30] kanchm commented on #862
A little ugly but you could do something along the lines of:
`dotnet test -- TestRunParameters/Parameter[contains(@name,'SETTINGNAME')]/@value=SETTINGVALUE`

Left-hand-side of the '=' can be xpath that needs to resolve to an existing attribute or element.

[2019-02-21 20:14] Huffman17 commented on #862
For Azure Dev Ops, we have moved away from dotnet test and started using VSTest. Instead we use a dotnet publish in our build pipeline than in release, we choose a settings file when running our vstest. This is no longer an issue for us.

[2019-02-21 21:59] ParmjeetSingh15 commented on #1874
Hi Shreyas we enabled platform diagnostic traces and have a repro yesterday night. Let me contact you to share the required files.

[2019-02-22 04:44] acesiddhu commented on #1925
@BrokeBoy123 please try what Mayank suggested. I will go ahead and close the issue now. if you have more question do open another issue

[2019-02-22 04:44] #1925 closed

[2019-02-25 11:40] acesiddhu commented on #1874
@ParmjeetSingh15 as discussed offline. the bug was actually in older version of test platform <15.8. see this issue and related fix that went in https://github.com/Microsoft/vstest/issues/1638. please upgrade to latest stable version of vstest/VS. that should fix the problem

[2019-02-25 11:43] acesiddhu commented on #1874
I will close the issue. if you face the issue again please do reopen the issue or mail us back,

[2019-02-25 11:43] #1874 closed

[2019-02-25 20:34] wouterroos opened #1928 "Is it possible to run netcoreapp2.1 mstest tests on an Azure DevOps Release agent without using dotnet publish?"
Hi,

See title, we would like to run our `netcoreapp2.1` test assemblies in the same way as we do for `net461` but are running into the following error:

`Unable to find d:\a\r1\a\Project\e2e\bin\Release\netcoreapp2.1\testhost.dll. Please publish your test project and retry.`

Targetting the exact same assemblies compiled for `net461` runs without any issue, so is there any way to get this to work

[2019-02-27 13:00] singhsarab commented on #445
@MiYanni I tried the repro steps mentioned in the original issue filed . It seems to be working as expected.

* Use VS 2017 with .csproj and create a XUnit .NET Core test project
* Make sure to add XUnit runner package to project:

[code]

* Configure the .csproj to use a custom output path:

[code]

* Run the XUnit tests from VS2017 IDE
* Run the XUnit tests using `dotnet test`

I was able to run

[2019-02-27 19:01] MiYanni commented on #445
@singhsarab At the time that I commented on this, I was working on our build process for Azure PowerShell related to using Azure DevOps. I had tried a lot of different ways to modify our build. Unfortunately, I didn't even put enough context for myself to understand what I was referring to.

That said, I simply modified our test projects' output folder. I ran our build and it worked appropriately.

[2019-02-28 00:38] gregpakes commented on #1349
This happens with the new Windows 2019 Azure DevOps hosted agents too.  Is the fix still to not choose "latest"?

[2019-02-28 04:58] acesiddhu commented on #1747
We haven't heard back on this issue. @Delphinidae84 if you are still facing the issue please share the diag logs with us.
@MSLukeWest it would be great if there are any logs that we can enable which will help us dig deeper to CleanTestHostAsync failure. Let us know if there are any logs that can help here

[2019-02-28 04:58] #1747 closed

[2019-02-28 07:13] singhsarab commented on #445
Thanks @MiYanni I am closing this issue.

[2019-02-28 07:13] #445 closed

[2019-02-28 10:12] jayaranigarg commented on #1928
@wouterroos : In case of net461, all dependencies of your test project gets copied to your build output folder and hence things work fine. But in case of dotnet core, not all dependencies are copied to your build output folder and it depends on *.deps.json to figure out various dependencies.

So, you will have to use a `dotnet publish` so that all dependencies(from build ouput and other locations)

[2019-02-28 12:25] tonyhallett opened #1929 "build.cmd fails"
## Steps to reproduce
run build.cmd

## Expected behavior
build vstest

## Actual behavior
BUILD FAILED

## Diagnostic logs
C:\Users\tonyh\Documents\vstest-master\vstest-master\tools\dotnet\sdk\3.0.100-preview4-010542\Microsoft.Common.CurrentVersion.targets(1636,5): error MSB3202: The project file "..\..\..\src\DataCollectors\Microsoft.TestPlatform.Extensions.EventLogCollector\Microsoft.TestPlatfo

[2019-02-28 13:02] nvborisenko opened #1930 "Extend TestLoggerEvents with TestStarted event"
TestLoggers knows when test finishes with specific `TestResult`
[code]

It would be nice if `TestLogger` also can handle event when specific test is starting execution.

[2019-02-28 15:16] bogdancucosel opened #1931 "Version 16.0.0 The given test sources target multiple frameworks/platforms that are incompatible"
## Description
WE have both .net core and standard tests.
in version 15.9.0 we could run them in a single VSTest task,
Now, in 16.0.0 it fails with:

The given test sources target multiple frameworks/platforms that are incompatible. Please make sure the sources target the same framework and platform.

In VS , running all the tests also works.
We would expect this to work in VSTS also.

[2019-02-28 15:23] PierreLSE opened #1932 "Unable to read beyond the end of the stream in Linux CI"
## Description
Hello, I have a test that pass on windows on my local computer and azure devops and on my local computer on ubuntu 1604 but the test always crashes with a Hosted Ubuntu 1604 in Devops

## Steps to reproduce
Cannot share the repo to reproduce the issue

Here is the command
`[command]/opt/hostedtoolcache/dncs/2.1.504/x64/dotnet vstest /home/vsts/work/r1/a/cnm-ComponentTests/Component-

[2019-02-28 15:30] shortstuffsushi commented on #1931
We don't have multiple targets; all of our projects are currently targeting .NET Framework 4.7.1, and we're also seeing this issue. We do have the .NET Core tools installed on the server, and other projects in other solutions do use them for what it's worth.

[2019-02-28 17:52] mayankbansal018 commented on #1932
@PierreLSE it looks similar to https://github.com/Microsoft/vstest/issues/1069 can you please verify.

[2019-02-28 18:54] cbrianball commented on #1931
I started getting this error today as well. My solution has a single project:
[code]

My unit tests are UI tests (Selenium), so the code it is testing is running on a different server.

If I force version `16.0.0-preview-20190203-03`, then my tests run as expected. Only when targeting `16.0.0` do I get this error.

Looking back at previous logs, I do see output stating which assemblies are not com

[2019-03-01 00:01] chrish619 opened #1933 "Version 16.0.0 has breaking change for Framework:FrameCore10 & NetCoreApp2.0 support"
## Steps to reproduce
* Set up an Azure DevOps Build pipeline
* Use Test Platform installer Build step & Visual Studio Test step (using tools installed by previous step)
* Author UnitTests to target NetCoreApp2.0
* Explicitly set /Framework:FrameworkCore10 (This is the only documented Framework switch available for .Net Core)

## Expected behavior
Run tests built against Netstandard/NetCoreApp2.0,

[2019-03-01 07:58] Mobrockers opened #1934 "No release notes for version 16.0.0"
Version 16.0.0 has been released to nuget.org today but I cannot find any release notes nor release packages on github. Please add the release notes so we can see what has been changed.

[2019-03-01 09:12] PierreLSE commented on #1932
@mayankbansal018 Yes, but there is no solution in this one. I tried --Blame:CollectDump;CollectAlways=true;DumpType=full but it is not supported on Linux.

[2019-03-01 16:49] Suprndm commented on #1931
Since Yesterday we have the same issue :
Visual Studio Test Platform Installer 1.*  on latest
Visual Studio Test : Installed by Tools Installer

All projects are in .net 4.7.

For now forcing the Installer on Specific Version 15.9.0  solved the issue.

[2019-03-03 15:04] lmcarreiro commented on #669
Is there another way to define inside some json file, which environment variables will be passed to the application when running from a test runner?

When running the ASP.NET Core projects, who is responsible for reading the `launchSettings.json` and setting the environment variables? Is it done by dotnet-cli or is it a Visual Studio specific way of setting env vars?

Is there a way to load these

[2019-03-04 04:52] acesiddhu commented on #1930
@nvborisenko whats the scenario?

[2019-03-04 05:46] vagisha-nidhi commented on #1934
@Mobrockers We have added the release notes for 16.0.0. Please find it [here](https://github.com/Microsoft/vstest-docs/blob/master/docs/releases.md#1600).

[2019-03-04 05:46] #1934 closed

[2019-03-04 06:08] acesiddhu commented on #1929
@tonyhallett can you confirm if this file exists.
"C:\Users\tonyh\Documents\vstest-master\vstest-master\src\DataCollectors\Microsoft.TestPlatform.Extensions.EventLogCollector\Microsoft.TestPlatform.Extensions.EventLogCollector.csproj"

[2019-03-04 08:11] vagisha-nidhi commented on #1933
@chrish619
We have changes in 16.0.0 regarding running tests targeting multiple framework dlls and incompatible target framework given by the user which is mentioned in the release notes [here](https://github.com/Microsoft/vstest-docs/blob/master/docs/releases.md#1600).
According to the associated changes, multiple dlls targeting different frameworks (version irrespective) will throw a framework/a

[2019-03-04 08:56] nvborisenko commented on #1930
Just to provide much more information about tests execution for TestLogger. In my particular scenario TestLogger wants to know when test was started to handle this event properly. This should improve logging of events in case of kind of `real-time` logging, so user is able to see all in-progress tests.

[2019-03-04 08:57] vagisha-nidhi commented on #1931
We have a breaking change in 16.0.0 regarding running tests targeting multiple framework dlls and incompatible target framework given by the user which is mentioned in the release notes [here](https://github.com/Microsoft/vstest-docs/blob/master/docs/releases.md#1600).
According to the associated changes, **(1)** multiple dlls targeting different frameworks (version irrespective) will throw a fram

[2019-03-04 12:30] bogdancucosel commented on #1931
@vagisha-nidhi yes, you are right. It seems we have misread the test result before. We now have 2 VSTest tasks, targeting each framework individually , and everything works as expected. (we were also confused because the release notes were not posted together with the 16.0.0 release ). As far as we are concerned, the issue can be closed.

Thank you very much,
Bogdan

[2019-03-04 12:46] #1842 closed

[2019-03-04 14:05] cbrianball commented on #1931
@vagisha-nidhi I don't believe the explanation you provided addresses my issue. I provided details in my first post on this issue.

Short version: My tests target .NET 4.6.2. I do have some dependencies that target .NET Standard (NOT .NET Core).

[2019-03-04 15:13] mmyk commented on #1931
I am also seeing this issue, and my tests target .NET 4.7.2, and all dependencies target versions of .NET Framework except one which targets both .NET 4.7 and .NET Standard.

[2019-03-04 16:51] singhsarab commented on #863
@livarcocc I am not sure how this can we handled on the test platform side. This would actually require dotnet verb design change.

When dotnet test is called, dotnet build gets called implicitly. Is there a way for dotnet test command to be aware of the state of the build. and then skip?
Ideally, build should get invoked as expected and this decision should be with the build command.
But then, I

[2019-03-04 16:53] #686 closed

[2019-03-04 16:56] livarcocc commented on #863
While build is invoked, it should not be changing assemblies as incremental build should kick in and skip compilation and additional build work. So, build is already deciding when to actually build or not. However, many things may contribute to force a build to happen. I am not sure that test is doing such a thing or not. if you are confident it is not, I would just close this issue.

Also, dotnet

[2019-03-04 18:50] bording opened #1937 "Do Microsoft.NET.Test.Sdk releases have minimum Visual Studio requirements?"
The version numbers of Microsoft.NET.Test.Sdk seem to correspond to Visual Studio version numbers, but does that actually convey any meaningful information? Do any Microsoft.NET.Test.Sdk  releases have specific minimum Visual Studio requirements?

For example, I see that Microsoft.NET.Test.Sdk 16.0.1 is out. If I update my test projects to use it, can I still use Visual Studio 2017 without issues,

[2019-03-04 22:35] cmbankester commented on #1932
I've been seeing this issue as well, when running tests in the microsoft/dotnet:2.2.104-sdk-alpine Docker container. The tests run fine on Windows, but in the container they seem to fail after some number of passes (which run-to-run). Also, on Linux I can run the tests one-by-one and they pass fine. Diagnostic logs indicate the test host crashes, which leads to the "Unable to read beyond the end o

[2019-03-05 00:39] armanio123 commented on #1694
I tested the `GenerateProgramFile` property and it does work with the scenario we're implementing. Nonetheless, we feel like this is not the experience we are looking for the user due to the following reasons:

- Requires for the user to manually add the property. This is not intuitive and the only way for the user to know this is through documentation or figuring out himself by searching for simi

[2019-03-05 03:18] vagisha-nidhi commented on #1931
The change we made for aborting test run when there are multiple targets was failing on CI because the vstest.console task was picking up Adapter dlls(present in output folder), that is, PlatformServices.dll and PlatformServices.Interface.dll, of which one target .NetPortable and the other .NetStandard.
We have reverted the change and released Test Platform 16.0.1 with the revert.
Can you please c

[2019-03-05 06:53] Emil-H commented on #1931
My configuration was similiar to @mmyk (only .NET 4.7). Using version 16.0 failed with the reported error message.
Using version 16.0.1 solved it.

[2019-03-05 07:11] singhsarab commented on #630
This is fixed. Validated with dotnet cli version 3.0.100-preview-010184

[2019-03-05 07:11] #630 closed

[2019-03-05 08:34] jayaranigarg commented on #1928
Closing the issue from our end. Let us know if you need further assistance on this!

[2019-03-05 08:34] #1928 closed

[2019-03-05 08:53] jayaranigarg commented on #1937
@bording : Thank you for the feedback. There is no change in the specific Visual Studio requirements. It is same as earlier. Refer this link : https://github.com/Microsoft/vstest-docs/blob/master/docs/contribute.md#prerequisites

If you update your test projects to use the latest nuget packages i.e. 16.0.1, things should work fine in VS2017. Since there were no changes from usage perspective, we h

[2019-03-05 09:54] jayaranigarg commented on #1932
@PierreLSE : Blame datacollector works in Devops CI workflow.
To enable blame, make sure following things are enabled in your VSTest Task:
1. Under Execution options: Check `Collect advanced diagnostics in case of catastrophic failures`
2. Under Execution options: Test PLatform version should be greater than 15.9 ( i.e. either choose `latest` or choose `Installed by Tools Installer`
3. Under Advan

[2019-03-05 09:55] jayaranigarg commented on #1932
@cmbankester : Please share the logs requested in previous comment.

[2019-03-05 10:20] PierreLSE commented on #1932
@jayaranigarg
Those options doesn't work in VsTest Run with a Hosted Ubuntu 1604 i get this error :
This task is supported only on Windows agents and cannot be used on other platforms

To test on linux, i use a .NET Core task and specify a custom command

[2019-03-05 13:12] singhsarab commented on #863
Yes, I just verified the behavior, it just prints build started, and completed. It skips the compilation if it is not required.

And yes --no-build flag works as expected.

Validated using dotnet version = 3.0.100-preview-010184
Closing this issue now.

[2019-03-05 13:12] #863 closed

[2019-03-05 13:31] alastairtree opened #1939 "Enable dotnet test --collect:"Code Coverage" to allow output to xml format"
Thanks for adding code coverage support to the CLI, at least on windows. But because the .coverage files are only really viewable by VS Enterprise it is still quite limited in CICD scenarios - basically azure devops only. If we could output the results in the XML format then lots of external tools could use it, and we could convert them easily to other coverage tool formats - this would unlock a l

[2019-03-05 15:03] bording commented on #1937
Thanks for the information. Given how the version numbers seem to be tracking the Visual Studio version numbers, I think that can be somewhat confusing, especially given that things like the .NET Core SDK itself does have minimum VS requirements.

Is that link correct? I don't really see anything related to VS with that. [This link](https://github.com/Microsoft/vstest-docs/blob/master/RFCs/0005-Te

[2019-03-05 17:17] cbrianball commented on #1931
16.0.1 resolve my issue as well.

[2019-03-05 17:17] mmyk commented on #1931
@vagisha-nidhi Using 16.0.1 resolved the issue for me.

[2019-03-05 17:22] cmbankester commented on #1932
After further testing, I believe the issue with my test suite was ultimately caused by [this EFCore/SQLite issue](https://github.com/aspnet/EntityFrameworkCore/issues/14504). In the latest version of the Dotnet SDK Alpine Linux Docker container, there is apparently an issue with using EF Core + SQLite where the SQLite process seg faults and does not send any stderr when it does so. And since the D

[2019-03-06 12:06] alastairtree commented on #1939
For info, the XML conversation can kinda be done already (only on windows) by using the nuget package Microsoft.CodeCoverage, and then using the exe at `[nupgk package path]\Microsoft.CodeCoverage\build\netstandard1.0\CodeCoverage\CodeCoverage.exe`
by executing something like the following:

    CodeCoverage.exe analyze /output:TestResults\MyTestOutput.coveragexml TestResults\MyTestOutput.coverage

[2019-03-06 16:48] chcosta opened #1941 "Enable dependency flow"
Dependencies which are a part of source build, but do not publish using dependency flow end up causing incoherent builds. Source build is not able to determine which version of the asset is needed because it is not reported to BAR and then someone must manually go to a repo (like core-sdk) and trace back to find which version of the dependency is needed so that it can be built.

https://github.com

[2019-03-06 19:51] wouterroos commented on #1928
Thanks for your help.

[2019-03-06 21:55] jbrown16 commented on #1896
@singhsarab  The next update for VS 2017 came available for me (15.9.8) and I updated but I still get this error when running my unit tests: `Microsoft.VisualStudio.TestPlatform.ObjectModel.TestPlatformException: Framework35 is not supported. For projects targeting .Net Framework 3.5, please use Framework40 to run tests in CLR 4.0 "compatibility mode".` Apparently this still isn't fixed. Is there

[2019-03-06 21:56] NGloreous opened #1942 "Support test retry filtering"
## Description
Add an extensibility point to VSTest to enable custom logic to determine if a failed test should be retried.

The OneDrive team currently uses a custom built test harness to run our tests. To deal with test flakyness  we need to retry tests and we have built up custom logic to determine when it's acceptable to retry tests and how many times a test can retry. We would like to migrate

[2019-03-06 21:56] NGloreous opened #4244 "Support test retry filtering"
## Description
Add an extensibility point to VSTest to enable custom logic to determine if a failed test should be retried.

The OneDrive team currently uses a custom built test harness to run our tests. To deal with test flakyness  we need to retry tests and we have built up custom logic to determine when it's acceptable to retry tests and how many times a test can retry. We would like to migrate

[2019-03-06 22:07] NGloreous opened #1943 "Test execution ordering/filtering extension"
## Description
Add an extensibility point to support filtering what tests to run and the ability to control the order in which they run.

There is really two asks here but I think it makes sense to combine them into one extensibility point.

The OneDrive team has a large set of tests which need to run. To accomplish this in a reasonable time period we stripe our tests across multiple machines. We

[2019-03-06 22:21] armanio123 opened #1944 "Run custom adapter in Extensions folder"
## Description
I was trying to setup a custom test adapter to the Extensions folder in Visual Studio but the test console doesn't pick it up as stated in bullet 5 of [Adapter Extensibliy documentation](https://github.com/Microsoft/vstest-docs/blob/master/RFCs/0004-Adapter-Extensibility.md).

I tried testing it by running `dotnet test` on a .NET Core Console App after pasting our dlls on the Extens

[2019-03-06 22:34] jbrown16 opened #1945 ".NET 3.5 Unit Tests No Longer Work"
## Description
Unit tests for .NET 3.5 projects no longer work in VS 2017 (v15.9.8). A fix for this was proposed and implemented in #1896 but it was only pushed into the VS 2019 release, not for 2017. According to some previous discussion on the issue, .NET 3.5 tests were working during some earlier version in 15.x.x which leads me to believe that this should still be supported. This lack of a fix

[2019-03-06 22:35] TestO2015 commented on #1472
We're experiencing the same socket exception intermittently, in ~30% of builds. [Vstest.console.exe_SocketException.txt](https://github.com/Microsoft/vstest/files/2938611/Vstest.console.exe_SocketException.txt)

**Environment details**: We're running VsTest in an _Azure Pipeline_ on a _Hosted Agent_. We've tried VsTest versions _16.0.0, 15.8.0_.

We have an issue raised as well in
https://github.c

[2019-03-06 23:27] ryanbrandenburg commented on #1876
The problem with the solution that was used for #1603 is that when you pass in the LogFileName you have no way of knowing what name the resulting file will be. If instead it had been solved by giving us `result.[targetFramework].trx` we would know what to expect. Alternatively we could add TargetFramework to the list of replacements for this issue.

[2019-03-07 04:32] abhishkk commented on #1876
@ryanbrandenburg Currently loggers are not aware of target framework and thus are unable to write the target framework name in file naming.

Regarding LogFileName, it is always ensured that file name starts with the name given by the user.

[2019-03-07 06:41] singhsarab commented on #1896
@jbrown16 I am trying to push it for 15.9.9, will update once it is in. Thanks for your patience.

[2019-03-07 10:29] acesiddhu commented on #1939
@alastairtree Thanks for the feedback. As you mentioned currently the only way to generate xml is via codecoverage.exe. we don't have any plans to support xml format out of the box for .coverage. Based on feedback/votes we can take a decision on this one.

[2019-03-07 10:43] acesiddhu commented on #1929
@tonyhallett I am closing the issue for now. if you continue to face the issue please do reopen the issue

[2019-03-07 10:43] #1929 closed

[2019-03-07 12:45] singhsarab commented on #1945
@jbrown16 I am trying to push it for 15.9.9, will update once it is in. Thanks for your patience.

[2019-03-07 12:46] singhsarab commented on #1941
/cc: @cltshivash @PBoraMSFT We would need to plan this work.

[2019-03-07 14:27] napalm684 commented on #1937
Related to this post I am using 16.0.1 and VS 2017 is unable to run the tests.  VS sees them but doesn't execute with the progress bar just cycling over and over?

[2019-03-07 15:08] vagisha-nidhi commented on #1931
Closing the issue as 16.0.1 worked.

[2019-03-07 15:08] #1931 closed

[2019-03-07 15:09] vagisha-nidhi commented on #1933
Closing this issue as we have reverted the change. Please refer this [comment ](https://github.com/Microsoft/vstest/issues/1931#issuecomment-469520519)for details.

[2019-03-07 15:09] #1933 closed

[2019-03-08 07:03] acesiddhu commented on #1939
@alastairtree currently we are working to enable code coverage scenarios on Linux https://github.com/Microsoft/vstest/issues/981. As part of that work we are looking to spit out some other coverage format. But for .coverage format we are not looking to give out an xml format. Closing the issue

[2019-03-08 07:03] #1939 closed

[2019-03-08 08:43] acesiddhu commented on #1942
@NGloreous our recommendation is to use translation layer. The logic which determines what needs to be re run etc needs to be the guy which is invoking translation layer. We follow a same mechanism in Visual Studio Test Task today.
We shouldnt add this in vstest because thats not what vstest.console.exe is supposed to do. It's main work is to run test and provide apis to client (TEstExplorer, VsTE

[2019-03-08 08:43] #1942 closed

[2019-03-08 09:59] PierreLSE commented on #1932
So anybody has an idea on how to get a dump in the linux CI ?

[2019-03-08 10:29] acesiddhu commented on #1944
@armanio123 I didnt try to repro the issue. I have few suggestions though.
1) C:\Program Files (x86)\Microsoft Visual Studio\2019\Preview\Common7\IDE\CommonExtensions\Microsoft\TestWindow\Extensions is a wrong path to place any extensions. the correct place is C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\IDE\Extensions\TestPlatform\Extensions
2) We dont suggest loading of

[2019-03-08 21:56] armanio123 commented on #1944
@acesiddhu I tried the path you mentioned but still vstest is not picking it up. The name of the dll is `Microsoft.JavaScript.TestAdapter.dll` I don't know if that has anything to do.

In regards to the Extensions folder. This is for the Node.js Tools for Visual Studio repo that ships with Visual Studio. We're trying to add support to JS tests on .NET Core apps and would like to deploy the dll out

[2019-03-09 22:55] sharwell commented on #1900
At this point I'm leaning towards rewriting the assembly to replace the 'ldc.i4 100' with 'ldc.i4.m1' followed by enough 'nop' instructions that the code doesn't change size.

[2019-03-10 14:07] Lobosque commented on #981
What is the current state of code coverage? I see that there is a nuget package with a new major version released a few days ago: https://www.nuget.org/packages/Microsoft.CodeCoverage/
Does this adds support for Linux code coverage? If not, is there an ETA?

[2019-03-10 16:40] Mobrockers opened #1948 "How to use Microsoft.TestPlatform.Portable in dotnet global tool"
## Description
For our mutation testing framework we integrate with vstest using the translationlayer package. Since we cannot be sure vstest.console is available on the target system, we include Microsoft.TestPlatform.Portable to ensure the vstest binaries exist on the system. This used to work fine for dotnet cli extensibility tool but we are migrating to dotnet global tool (for dotnet full fram

[2019-03-11 00:21] sharwell commented on #1900
Rewriting the binary in-place appears to have resolved the issue: https://github.com/dotnet/machinelearning/pull/2843

[2019-03-11 04:32] acesiddhu commented on #981
@Lobosque we are actively working on enabling CC on Linux. The latest package that was shipped doesnt have that support yet.
/cc: @abhishekkumawat23 @cltshivash @PBoraMSFT

[2019-03-11 08:39] ShreyasRmsft commented on #1948
Can you please elaborate your setup?

where do you include this:

From what i was able to understand:

Ideally if your mutation testing framework requires vstest.console as a dependency then it is better to add a nuget reference to https://www.nuget.org/packages/Microsoft.TestPlatform in your framework and ensure it is bundled along with your tool.

[2019-03-11 08:51] Mobrockers commented on #1948
@ShreyasRmsft We only need vstest.console so we do not need the full set of binaries and we reference https://www.nuget.org/packages/Microsoft.TestPlatform.Portable

I don't seem to get the content of the package bundled with my tool, nor does nuget seem to restore the package on the target system when installing the dotnet core global tool even though it is listed as a dependency. I would appreci

[2019-03-11 08:59] ShreyasRmsft commented on #1932
@cmbankester do you have any suggestion on how we could detect this and chain forward information from the testhost?

<br>

As for this we are looking for a solution...

[2019-03-11 11:26] mehdiAbbaspour opened #1949 "as a tfs 2018 agent all test method pass but test fail ,VsTest task failed."
i am use xunit in vs 2015 and tfs 2018 with ci/cd
error:
Vstest failed with error. Check logs for failures. There might be failed tests.
Error: C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe failed with return code: 1
VsTest task failed.

and  test assembly with this script :
**\$(BuildConfiguration)\*tests*.dll
!**\obj\**;-

[2019-03-11 11:28] mehdiAbbaspour commented on #1949
then see trx file and find this error
An exception occurred while invoking executor 'executor://xunit/VsTestRunner2/uap': Could not load file or assembly 'System.IO.FileSystem, Version=4.0.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.
[xUnit.net 00:00:01.90] Skipping: Insurance.Tests (could not find dependent assembly

[2019-03-11 11:37] TclasenITVT opened #1950 "System.Security.VerificationException : Operation could destabilize the runtime"
## Description
We have set up a CI Pipeline in Azure DevOps that first builds out Library and then continues with first installing the Visual Studio Test Plattform via the Visual Studio Test Plattform Installer build task and then running the tests with the Visual Studio Test Build Task. Here we set it to use the Visual Studio Test Plattform and also checked the enable Code Coverage checkbox. The

[2019-03-11 14:40] oleksabor commented on #1870
I was able to run NUnit wcf test using VS Test Explorer with nuget package references like below:
[code]

I had no `Microsoft.NET.Test.Sdk` reference before found this issue

[2019-03-11 15:41] livarcocc opened #1951 "dotnet test does not respect LogFileName -- adds date"
_From @hpbieker on March 11, 2019 9:59_

## Steps to reproduce
* Install .NET Core 3.0 preview3
* Create a test project
* Run `dotnet test --logger 'trx;LogFileName=somename.trx'`

## Expected  behavior
A file named `somename.trx` should be created. In .NET Core 2.2 / Test Execution Command Line Tool Version 15.9.0 I get this behaviour.

## Actual behavior
A file named `somename_2019-03-11_10-38-3

[2019-03-11 21:44] kiragengis commented on #1776
I think this would be really helpful. Right now I created my own piece of software only to call the vstest.console and receive the results. If it was the first failure, convert the output to: failed-'NameOfMethod' if it was the second time report the output to TeamCity.
I really appreciate if you handle this.

[2019-03-12 05:44] vagisha-nidhi opened #1952 "DataCollector throws error when friendly name is missing"
## Description
DataCollector throws error when friendly name is missing even though providing URI in the runsettings.

## Steps to reproduce
I used the below `.runsettings`
[code]
command line
`vstest.console.exe C:\CodeBase\CoverageCheck\CoverageCheck\bin\Debug\netcoreapp2.2\CoverageCheck.dll /settings:"C:\CodeBase\CoverageCheck\coverage.runsettings"`

## Expected behavior
Code coverage data coll

[2019-03-12 06:49] singhsarab commented on #1945
I am sorry, it could not make it to 15.9.9, rooting for 15.9.10

[2019-03-12 12:11] ShreyasRmsft commented on #1949
@mehdiAbbaspour can you please use the latest test platform using https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/vstest-platform-tool-installer?view=azure-devops

Also please provide the entire set of logs for the build after setting system.debug = true.

[2019-03-12 12:22] ShreyasRmsft commented on #1951
@livarcocc as of today this is by design.

We do this to create unique files. Consider the option as more of a logFilePrefix rather than logFileName.

And changing the param name is contract breaking change so we won't be able to rename it.

[2019-03-12 12:35] hpbieker commented on #1951
But it did not behave this way in In .NET Core 2.2 / Test Execution Command Line Tool Version 15.9.0 I get this behaviour? This change broke my build scripts because the trx file was not found anymore.

[2019-03-12 17:07] jbrown16 commented on #1945
@singhsarab, Do you happen to know the timeframe of the 15.9.9 and 15.9.10 releases? Also, is this due to the lack of necessity for the fix or just the timing of when you can get the change in? Thanks for you help on this.

[2019-03-12 18:19] shenhong1000 opened #1954 "Running vstest.console with legacy mstest test adapter"
This is more like a question I guess. We want to run vstest.console.exe with a legacy mstest test adapter. I found a document online which points out runsettings cannot take some mstest test adapter (vstest.console doesn't even locate our mstest adapater configured in the runsettings), however I can pass testsettings directly. I found it do tried to load our test adapter configured in testsettings

[2019-03-12 19:36] JuanZamudioGBM commented on #1425
Can we have a tree view based on the namespaces? right now the hierarchy view is not very useful.

Right now its something like this:

TestProject
    Company.FeatureA.SubFeatureA(3)
        TestClassA(1)
            MethodName1(1)
        TestClassB(1)
            MethodName2(1)
        TestClassC(1)
            MethodName3(1)
    Company.FeatureA.SubFeatureB(1)
        TestClassD(1)

[2019-03-13 04:02] luis-cortina commented on #1830
I'm looking to make a vsix interact with some test code (i.e. executing a test, getting the result) Can I use this apis (the ones not deprecated) to do so? Which nuget pkg should I use.

[2019-03-13 08:09] singhsarab commented on #1945
15.9.9 should be out soon in a day or two, while expect 15.9.10 to be released early next month.

Since we have already released the packages with the fix. I can try to unblock you.
- You can download the package https://www.nuget.org/packages/Microsoft.TestPlatform/15.9.1
- Unblock the nuget package (RightClick->Properties), and extract the contents
- Take backup of C:\Program Files (x86)\Microso

[2019-03-13 10:50] tomaustin700 opened #1955 "vstest.console hangs indefinitely waiting to finish network I/O"
## Description
When running UI tests via a TFS build process we occasionally get hangs. When the wait chain is analysed it can be seen that vstest.console.exe is waiting to finish network I/O. The only way to recover from them is to cancel the build and requeue.

![vstest](https://user-images.githubusercontent.com/6324102/54262320-c9bb0080-4565-11e9-8e15-cb3aafef6ed7.PNG)

## Steps to reproduce
Ve

[2019-03-13 15:47] CSmith1111 opened #1956 "Visual Studio Test in Team Foundation Server 2018 Patch 3.2 dont use runsettings"
## Description
VSTest don't take the runsettings you provide by console options or directly from the tfs config site.
The runsettings is allways a default runsettings.

## Steps to reproduce
1: Create a VsTest Buildstep in TFS
2: Select a runsettings from your project or pass it over console options
3: Check "...\AppData\Local\Temp\[a-z0-9]*.txt" for the vstest config and search for /Settings:"C:\

[2019-03-13 15:53] CSmith1111 opened #1957 "CodeCoverage with user defined filename and path for .coverage"
## Description
It's not possible to define a filename and path for the .coverage file.

## Steps to reproduce
Make a CodeCoverage with /EnableCodeCoverage and try to define a path and a name for the .coverage file.

## Expected behavior
A file with a user defined name in a user defined path

## Actual behavior
A random filename in a random foldersystem.

## Environment
Windows Server / Windows 10

[2019-03-13 20:00] jbrown16 commented on #1945
@singhsarab I am pleased to report that my first test run is working successfully! Thank you so much for helping me take care of this. I'll let you know if I have anymore issues and I'll also watch for the 15.9.10 release.

[2019-03-14 06:21] ShreyasRmsft commented on #1951
You are right on the behavior changing from 15.9.0 to 16.0.0. Let me double check the exact reason we made this change and get back to you.

[2019-03-14 08:38] kiragengis opened #1958 "vstest.console hangs indefinitely randomly"
## Description
When running Selenium tests via TeamCity build process occasionally get hangs. The only way to recover from them is to cancel the build. Even when looks like a random event always happen with the same tests. I compared the vstest.console log between a hanging test and any other and the only difference is the hanging one has missed the last six lines. The vstest.console is called fro

[2019-03-14 09:26] ShreyasRmsft commented on #1951
@hpbieker this was done when dotnet test support at solution level was added i believe. The scenario was that when you ran it at a solution level multiple csprojs are present and multiple trx files are generated. To ensure these don't override each other this change was made.

I'm sorry this broke your build scripts. But I don't see a way to go back to honoring the exact file name without adding a

[2019-03-14 20:58] kendrahavens commented on #1830
@luis-cortina We plan to publish a nuget package to make referencing Test Window APIs easy for extension developers. Until this package is published (it may be a month or two looking at our current backlog) you can manually add a reference to this assembly in your Visual Studio install location: `<VSInstallDir>/Common7/IDE/CommonExtensions/Microsoft/TestWindow/Microsoft.VisualStudio.TestWindow.Int

[2019-03-14 22:40] armanio123 commented on #1944
Hi @acesiddhu any comments on my reply? Might be a good idea to sync offline to get a better understanding on vstests and nodejstools repos.

[2019-03-15 00:46] cltshivash commented on #1944
@armanio123 The Extensions folder is not recommended for any new adpaters (including MSTest V2) and the recommendation is to use Nuget packages/alternatives to lay down the adpater next to the test dll/test file.

[2019-03-15 05:43] ShreyasRmsft commented on #1955
@tomaustin700 are you on hosted TFS or TFSonprem?

Also can try using the latest test platform and see if you still hit this issue?

You can use [Vstestplatform tool installer task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/vstest-platform-tool-installer?view=azure-devops) to acquire the latest test platform

[2019-03-15 05:44] cltshivash commented on #1954
1. To use older mstest test adpater you will need to ensure that the adpater is registered on the machine running the tests and validate the execution through mstest.exe. To make it run via vstest.console.exe you will need testsettings file. However,
2. We highly recommend moving to a vstest adapter as the testsettings and the mstest are deprecated and will be removed in a future release of VS. Pl

[2019-03-15 05:44] #1954 closed

[2019-03-15 07:17] #1944 closed

[2019-03-15 08:16] tomaustin700 commented on #1955
@ShreyasRmsft This was using TFS 2017 on Prem. I have now upgraded to Azure DevOps Server and set it to use the Vstestplatform installer task and the issue seems to have gone away. If the issue hasn't recurred within the next few days I will close this.

[2019-03-15 08:23] ShreyasRmsft commented on #1955
Sure :)

[2019-03-15 09:48] tomaustin700 opened #1959 "Additional Settings for Video Data Collector"
## Description
I am wanting to use the video data collector when running ui tests on Azure DevOps Server. After trialing this I am struggling to find any way to configure the data collector. Ideally I want to be able to reduce the quality of the videos as we have close to 2000 tests that run nightly, my testing has shown a 1min test produces a 2mb wmv file and a lot of our tests take upwards of 5

[2019-03-15 11:45] ShreyasRmsft commented on #1956
@CSmith1111 can you please provide the complete logs with system.debug = true

One of the reasons it takes the default runsettings is if the provided one is invalid.

[2019-03-15 11:48] ShreyasRmsft commented on #1958
Are you on TFS Onprem or AzureDevops Hosted Service?

[2019-03-15 14:02] CSmith1111 commented on #1956
hope this is what you asked for, all logs whould be 9,44 MB / 120 MB

Localoutput
![cc_results_local](https://user-images.githubusercontent.com/48524869/54436083-2bc86100-4732-11e9-8543-ccd74bf0b6b2.png)

Agentoutput
![cc_results_agent](https://user-images.githubusercontent.com/48524869/54436090-2ff47e80-4732-11e9-9a7e-5f090b77c6fc.png)

VsTest - testAssemblies Output / Log (just VsTest log withou

[2019-03-15 15:29] kiragengis commented on #1958
We are using TFS Onprem

[2019-03-15 19:03] luis-cortina commented on #1830
@kendrahavens Thanks.

I'm currently using ITestsService, which looks like it will be deprecated in vs2019, to get discovered tests and run them inside an extension. If it's in fact deprecated, which interface should we use to do this moving forward?

Is there any documentation on this APIs? i.e I need to start the test discovery process inside an extension and I don't really know where to look. A

[2019-03-18 00:56] cltshivash commented on #1022
Below is the message on the test output window when tried with mstest. The usage of Debug.Assert is causing the test process to crash. There's no feature to restart the test process post a crash today.

[3/18/2019 6:23:31 AM Error] The active test run was aborted. Reason: Assertion Failed
Failed..
   at ClassLibrary2.Class1.Tes() in C:\Users\shivash\source\repos\ConsoleApp1\ClassLibrary2\Class1.cs

[2019-03-18 06:17] ShreyasRmsft commented on #1958
@kiragengis can you please provide me the task logs with system.debug == true.

Also the version of the vstest task if possible.

I add the fix for the hangs in the following [commit](https://github.com/Microsoft/azure-pipelines-tasks/commit/5460d2bf0177b10c9c809404fea20092a56f4e69#diff-0105c71955f75e0dad8170e7296413f0)

[2019-03-18 07:16] ShreyasRmsft commented on #1956
@CSmith1111 there was a minor bug that we found and patched later round.

As a workaround:
Can you untick _enable code coverage_ in the task

and then add this to your runsettings file: <UseVerifiableInstrumentation>False</UseVerifiableInstrumentation>

the way it is getting added in the generated default runsettings

[2019-03-18 07:28] AbhitejJohn commented on #1830
@luis-cortina : Thanks for letting us know. `ITestsService` is indeed something we are planning to replace with a more performant alternative soon. Just so I understand your scenario fully, you need an API to trigger a test run on a filtered set of tests? Can you elaborate please?

If you have an implementation of `ITestContainerDiscoverer` triggering the `TestContainersUpdated` event should get a

[2019-03-18 11:46] amitla commented on #1715
Hi @singhsarab,

This happened to me as well. you can find the reproduciton project attached.
[UnitTestProject1.zip](https://github.com/Microsoft/vstest/files/2977863/UnitTestProject1.zip)

Any way to work around this issue for the time being?

Thanks.

[2019-03-18 12:02] CSmith1111 commented on #1956
If i untick "enable code coverage" the task don't create a runsettings but use my runsettings i defined in the vstest build step. this works fine and the .coverage also looks good. only problem is that now my .coverage don't get published to the overview but to " http://tfs:8080/tfs/XX/XXXX/_TestManagement/Runs#runId=543&_a=runCharts" under attachments.

![Clipboard01](https://user-images.githubus

[2019-03-18 12:05] CSmith1111 commented on #1956
If i untick "enable code coverage" the task don't create a runsettings but use my runsettings i defined in the vstest build step. this works fine and the .coverage also looks good. only problem is that now my .coverage don't get published to the overview but to " http://tfs:8080/tfs/XX/XXXX/_TestManagement/Runs#runId=543&_a=runCharts" under attachments.
![Clipboard02](https://user-images.githubuse

[2019-03-19 05:51] ShreyasRmsft commented on #1956
@CSmith1111 this has nothing to do with the fact that you unticked the code coverage checkbox.
The job that publishes this charts generally runs after sometime and not immediately.

You are saying this used to work before? Can you try queueing a few more runs (a mix of with the checkboc ticked and without) and tell me whether the code coverage summary appears?

[2019-03-19 08:27] ShreyasRmsft commented on #1959
@tomaustin700 you can get the required nodes by creating a testsettings file in VS and adding the screen and voice recorder and double clicking on it:

![image](https://user-images.githubusercontent.com/25194518/54590791-e5834280-4a4e-11e9-9587-4f8211769c65.png)

[2019-03-19 08:50] ShreyasRmsft commented on #1948
@Mobrockers you will have to author a post build .targets file that copies the package from the packagecache folder to the bin folder.

[2019-03-19 09:56] tomaustin700 commented on #1959
@ShreyasRmsft Thanks for getting back to me, can an option to disable upload and save to a directory be added? If you have thousands of tests (as we do) then a huge amount of data would be uploaded to the database.

[2019-03-19 10:06] ShreyasRmsft commented on #1958
It is the responsibility of the test code to ensure all stale threads and process are terminated. If something lingers on then vstest.console.exe will not exit.

The commit I made force terminates such child processes to ensure there is no hang in case of running this on TFS. Azure-pipelines-tasks is the repo where the tasks for VSTS/TFS (now called AzureDevops).

[2019-03-19 10:52] kiragengis commented on #1958
@ShreyasRmsft I made a horrible mistake in the description of the defect. I am actually running the test in TeamCity and not the TFS, I am going to update the main description. Does your commit still fix my issue? I am really ashamed :(
I saw you commit is from January, what should I do to use it?

[2019-03-19 11:31] kiragengis commented on #1958
I have made some other tests. So far the only way to reproduce the issue (not consistently) is when I use:
`process.StartInfo.RedirectStandardOutput = true;`
`string results = process.StandardOutput.ReadToEnd();`

So far with these lines commented I have never been able to reproduce it. I am going to keep running the tests with the lines commented in order to verify if I am able to reproduce the i

[2019-03-19 15:08] CSmith1111 commented on #1956
This used to work if the box is ticked.
Code Coverage in the Build Details used to have a downloadlink for the .coverage, now i have to go to the TestManagementHub if i unticked the box.
It will come back to the Build Details if i add mspremier.BuildQualityChecks to the build.

[2019-03-19 15:28] CSmith1111 opened #1963 "No CodeCoverage with Tools from Microsoft.TestPlatform / CodeCoverage only in Tempfolder"
## Description
A buildagent on a Windows 10 Ent. with Visual Studio 2017 Ent. 15.9.9 is able to test and cover a build. The same build over the same TFS (2018 Update 3.2) with a buildagent on the buildserver (Windows Server 2019 Standard) without Visual Studio is not able to cover a build.

## Steps to reproduce
Create 2 agents and 1 build with

- Build SLN
- Install VsTest-Tools (16.0.1)
![image]

[2019-03-20 05:34] cltshivash commented on #1932
https://www.raydbg.com/2018/Debugging-Net-Core-on-Linux-with-LLDB/
http://blogs.microsoft.co.il/sasha/2017/02/26/analyzing-a-net-core-core-dump-on-linux/

Couple of links to help with dump creation on linux machines

[2019-03-20 05:34] #1932 closed

[2019-03-20 06:13] ShreyasRmsft commented on #1956
@CSmith1111 the bug I mentioned was fixed in later updates (mostly in 2018 U3 the fix should be present).

I lost you in the last comment. Could you please explain with screenshots all the differences in terms of the coverage UI report of a build with the box checked and without.

[2019-03-20 06:24] cltshivash commented on #1715
@amitla  : https://github.com/dotnet/corefx/issues/22142#issuecomment-473392197 (Please refer to this issue). System.Runtime.Loader is not supported for full framework. The repro that is added targets full framework. ( var gh = System.Runtime.Loader.AssemblyLoadContext.Default;) works fine in a net core test project.

[2019-03-20 06:24] #1715 closed

[2019-03-20 06:27] cltshivash commented on #1937
Using 16.0.1 version of Microsoft.NET.Test.Sdk on VS 2017 works fine.

[2019-03-20 06:28] #1937 closed

[2019-03-20 08:02] tomaustin700 commented on #1955
@ShreyasRmsft I am still getting this issue, it doesn't seem to happen as often however. Here are dumps of testhost and vstest.console during our most recent hang.

https://drive.google.com/file/d/1iGOTOP1ydVBtYfDiB1GCYenSolrqsFO0/view?usp=sharing
https://drive.google.com/file/d/1Se9B9XoSykcKyFmtuh1aDiejOMN6I-P8/view?usp=sharing

I have a log file also but I will have to share that privately if yo

[2019-03-20 08:49] Mobrockers commented on #1948
Thanks, we have implemented a similar solution.

[2019-03-20 08:49] #1948 closed

[2019-03-20 09:03] ShreyasRmsft commented on #1955
@tomaustin700 can you also tell me what tests you run? Are they UI/selenium tests by any chance?

[2019-03-20 09:23] tomaustin700 commented on #1955
@ShreyasRmsft They are UI tests but not selenium, we are using [FLAUI](https://github.com/Roemer/FlaUIl). Thanks

[2019-03-20 09:43] ShreyasRmsft commented on #1963
[code]

[2019-03-20 10:43] ShreyasRmsft commented on #1955
@tomaustin700 can you send the logs with system.debug set to true to shrer@microsoft.com

[2019-03-20 10:57] CSmith1111 commented on #1963
This is my runsettings file, no change on the buildserver agent
[code]

[2019-03-20 11:09] ShreyasRmsft commented on #1963
Can you set system.debug = true and share the full logs zip file?

[2019-03-20 11:59] CSmith1111 commented on #1963
i posted the installer and vstest logs already, do you need new logs? the problem is still the same

[2019-03-20 12:05] ShreyasRmsft commented on #1963
I need the entire zip please. We have additional diagnostic logs we publish there.

for instance this: /diag:"C:\Users\TFSbuild\AppData\Local\Temp\9e528890-4a57-11e9-8c2a-fbe322e0eac3.txt"

there are logs that come form the code coverage data collector also. Those would help with the investigation here. Thanks.

[2019-03-20 12:06] ShreyasRmsft commented on #1963
And also can you provide the entire set of logs for both the successful and the run where code coverage was not found. So that I can check for differences if any.

[2019-03-20 12:26] CSmith1111 commented on #1963
is there a private way to send you the logs?

[2019-03-20 21:12] tremblaysimon commented on #1900
@sharwell, I don't figure out what do you mean by rewriting the binary in-place and the pull request you referenced. Is it only the SingleHit property you added?

Does it fix https://github.com/tonerdo/coverlet/issues/110?

[2019-03-21 02:41] cltshivash commented on #1900
The recommendation for this ask has been to use the inproc data collector model.

[2019-03-21 02:41] #1900 closed

[2019-03-21 05:27] ShreyasRmsft commented on #1963
you can send it to devops_tools@microsoft.com

[2019-03-21 10:09] CSmith1111 commented on #1963
i send you a email with a wetransfer.com download, your mailserver told

- #550 5.3.4 ROUTING.SizeLimit; message size exceeds fixed maximum size for route
- #5.7.133 smtp;550 5.7.133 RESOLVER.RST.SenderNotAuthenticatedForGroup; authentication required; Delivery restriction check failed because the sender was not authenticated when sending to this group

[2019-03-21 10:20] Mobrockers opened #1965 "TestHost SocketClient CancellationTokenSource has been disposed"
## Description
Intermittent exceptions with following stacktrace when running vstest.console.exe:

Unhandled Exception: System.ObjectDisposedException: The CancellationTokenSource has been disposed.
   at System.Threading.CancellationTokenSource.ThrowObjectDisposedException()
   at Microsoft.VisualStudio.TestPlatform.CommunicationUtilities.SocketClient.Stop()
   at Microsoft.VisualStudio.TestPlatf

[2019-03-21 10:31] ShreyasRmsft commented on #1963
@CSmith1111 I got one zip file of 7mb with name logs_13328 without CC
I think the other one might have been too big, can you split and send that?

[2019-03-21 10:40] ShreyasRmsft commented on #1963
got it

[2019-03-21 10:41] ShreyasRmsft commented on #1963
It's failing because of this. You can find this in the 8_43b1e510-4b11-11e9-b119-03b0490c3407.datacollector.19-03-2.txt log file.

`TpTrace Error: 0 : 6228, 1, 2019/03/20, 14:10:53.823, 18274459502187, datacollector.exe, DataCollectionEvents.SessionEnd: Exception occurred while calling handler of type Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector for SessionEndEventArgs: System.Refl

[2019-03-21 10:43] CSmith1111 commented on #1963
so its a missing dependency. shouldn't that be installed with the installation script? if not, where can i find the setup?

[2019-03-21 11:03] ShreyasRmsft commented on #1963
The dll is present actually. The logs in 8_VsTest - testAssemblies.txt indicate that.

My suspicion is that on Windows 10 Ent. with Visual Studio 2017 Ent. it is loading this dll from the GAC and here it is unable to load this.

I think I know the reason.

https://github.com/Microsoft/azure-pipelines-tasks/blob/b22f64b916457afe3d8ca426dcd4c71ede651a9d/Tasks/VsTestV2/vstest.ts#L272

If you look at

[2019-03-21 13:13] CSmith1111 commented on #1963
Thx for your help, with you info its working now by installing the static code analyse tools over the build tools.
we don't want to switch to tfs2019 right now and setting the environment variables manually is not our preferred way to deal with this.

![image](https://user-images.githubusercontent.com/48524869/54754132-14cab880-4be3-11e9-993e-d4640fc66942.png)

[2019-03-21 13:13] #1963 closed

[2019-03-21 16:13] shanchin2k commented on #1854
@singhsarab I have below scenario.

I want to run Selenium based UI tests using  mstest tasks in  Azure pipeline.  Need to configure multiple browsers testing  for the same set of test cases. Plan to create separate test task for each browser, which uses the same test code but with browser name passed at run time. I thought of passing browser name in command line and read it from TestContext in co

[2019-03-21 19:11] flcdrg opened #1966 "dotnet test seems to ignore runsettings MaxCpuCount"
## Description

`dotnet test` when run against a solution that contains multiple test projects, appears to spin up a parallel test runner for each test project.

Attempting to limit to one test runner at a time via the MaxCpuCount value in a .runsettings file doesn't work.

## Steps to reproduce
1. Create a solution with two or more test projects that use NUnit
2. Create a .runsettings file that s

[2019-03-22 02:41] luis-cortina commented on #1830
@AbhitejJohn how soon are you thinking? I'm thinking about upgrading my extension, but not sure if ITestService will be available at all for vs2019? Te blog post helps, thanks for that.

[2019-03-22 02:52] AbhitejJohn commented on #1830
@luis-cortina : We are actively working on getting this through - Hoping to have it in an update soon. Could you tell us what functionality in `ITestsService` is interesting to your extension?

[2019-03-22 05:29] ShreyasRmsft commented on #1965
@Mobrockers hmmm, can you provide the full diag logs? Also does has this been reproing for a particular test project you have?

Looking for some sort of a repro in case the full diag logs don't help in diagnosing the issue. Thanks.

[2019-03-22 05:41] ShreyasRmsft commented on #1966
@flcdrg vstest receives one dll at a time when you run dotnet test on an sln.

When you run dotnet test at an sln, after dotnet finishes build it passed the built binaries on to vstest to run the tests. This means that the build is happening in parallel and soon after the tests are starting.

MaxCpuCount will have no impact on this process whatsoever. One way to get your dlls to run in sequence is

[2019-03-22 07:48] tomaustin700 commented on #1955
@ShreyasRmsft I have emailed you the logs. Thanks.

[2019-03-22 10:46] ShreyasRmsft commented on #1955
@tomaustin700 have received it.

[2019-03-22 13:33] luis-cortina commented on #1830
@AbhitejJohn here is what I'm using:

- IComponentModel to get all the test window related services
- ITestsService to get all discovered tests (GetTestsAsEnumerableAsync) and to run a particular test (RunTestsAsync)
- ITestExplorerServiceContainerDiscoverer, I call the ClearContainers method which seems to start test discovery

[2019-03-22 18:06] AbhitejJohn commented on #1830
@luis-cortina : Thanks.
So the usage of `ITestsService` is essentially to run a specific test - would supplying the test to run through a filter of Full Qualified Name or Outcome be an easier alternative? The `GetTestsAsEnumerableAsync` API cycles through all tests in the store which is pretty slow.

As for `ITestExplorerServiceContainerDiscoverer` this was meant primarily for Live Unit Testing an

[2019-03-22 22:25] ivonin opened #1967 "Setting ServerGC for the test runner"
## Description
VSTest.console.exe is currently configured to run in workstation GC (also concurrent). There is currently no way to change this behavior other than patching the `vstest.console.exe.config` file in the VS installation folder. This solution is obviously not pleasant.

We have a big test assembly (11.5k tests) and it makes a *big* difference: the tests take 9 minutes to run with `Serve

[2019-03-22 23:30] luis-cortina commented on #1830
@AbhitejJohn Yes, that would work. It would be nice that the filter accepts a predicate of ITest (or whatever the new class is to represent a test), this should also allow someway to run multiple tests as well.

The only reason I'm using `ITestExplorerServiceContainerDiscoverer` is to kick off the discovery at the beggining of the vsix load, and it won't be needed anymore.

[2019-03-25 01:36] flcdrg commented on #1966
And this is still the case if you run `dotnet test --no-build --no-restore` ?

[2019-03-25 04:57] ShreyasRmsft commented on #1949
Closing due to no-response. Please re-open the issue with the requested steps.

[2019-03-25 04:57] #1949 closed

[2019-03-25 05:38] ShreyasRmsft commented on #1958
@kiragengis the commit i made is for AzureDevops. This is not a vstestconsole issue as it is stale processes from the test code that is causing the issue. If you take a look at the processes list when this happens you will see a stale chrome (or someother browser) or chromedriver process lingering on that has inherited the stdout stream from vstestconsole.exe. It is the test code responsibility to

[2019-03-25 10:38] nmfernandes commented on #1931
I am still facing this issue with version 16.0.1.

`Microsoft (R) Test Execution Command Line Tool Version 16.0.1

Copyright (c) Microsoft Corporation.  All rights reserved.

vstest.console.exe

"D:\a\r1\a\_PEG UI Tests Build\drop\E2E_test_automation\bin\Release\E2E_test_automation.dll"

"D:\a\r1\a\_PEG UI Tests Build\drop\E2E_test_automation\bin\Release
\Microsoft.VisualStudio.TestPlatform.MSTest

[2019-03-25 12:16] ShreyasRmsft commented on #1967
Consider taking a look at https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/clr-configuration-knobs.md#host-configuration-knobs

If it can be achieved by env vars then you can author a script that sets this assuming you are running in a pipeline

[2019-03-25 12:17] ShreyasRmsft commented on #1967
As for a in-house solution we are open to contributions for making this configurable via runsetttings.

[2019-03-25 13:58] ivonin commented on #1967
@ShreyasRmsft `vstest.console.exe` is not a .NET Core app, am I wrong? I'm not sure if the Core-CLR configuration knobs are applicable in this case.

Do you know of a similar way of providing GC settings for the desktop .NET Framework app? Nothing comes to my mind.

[2019-03-25 14:26] OsirisTerje commented on #1966
@ShreyasRmsft   It is unfortunate , that dotnet test doesn't use the information in the runsettings file. This file can be added as a parameter for dotnet test, and for the user it would feel natural that when one turns off parallel here, it also works for dotnet itself, and not just for the underlying vstest.

[2019-03-25 23:30] lightmanca opened #1970 "Naming nunit tests with "{m}" in formatting string creates artifacts in Test Explorer"
Environment:
     Visual Studio 2017 v15.9.9, also 2019 preview
     .Net Core solution
     Nunit3TestAdapter v 2.13.0
     Nunit v3.11.0
     Microsoft.NETCore.App v 2.2.3
     Microsoft.NET.Test.Sdk v16.0.1

With the following code:

using NUnit.Framework;

namespace TestArtifactSample
{
    [TestFixture]
    public class Program
    {
        public const string TestCaseNameAddValid = "{m}(Add

[2019-03-25 23:33] lightmanca commented on #1970
Fyi.  I am using Nunit's Template based naming, outlined here.
https://github.com/nunit/docs/wiki/Template-Based-Test-Naming

[2019-03-26 05:59] cltshivash commented on #1970
Please report this issue in VS Developer community channel. https://developercommunity.visualstudio.com/spaces/8/index.html

[2019-03-26 05:59] #1970 closed

[2019-03-26 06:10] singhsarab commented on #1945
This is now officially supported in 15.9.10.
Thanks :)

[2019-03-26 06:10] #1945 closed

[2019-03-26 06:19] Selvaraj1989 opened #1971 "Unable to execute codedui tests without installing Visual Studio thrtough Azure DevOps"
## When the "Visual Studio Test Platform Installer" and "VsTest" tasks are added in the release definition, the CodedUI tests are failed with the below errors.

019-03-26T04:42:39.6678793Z ##[warning]DiscoveryMessage : TestSettings will soon be deprecated for automated unit and functional testing scenarios. It is recommended that you use RunSettings. To learn more, see http://aka.ms/runsettings
20