[2020-08-04 14:06] nibeditadan commented on #2218
Yes I updated to newest version. It is working fine

On Tue, 4 Aug, 2020, 7:33 PM Rob Smitha, <notifications@github.com> wrote:

[2020-08-06 13:02] eddynaka opened #2510 "Could not load type"
## Description

Today, I updated to the latest stable version (16.7.0) and, after that it isn't collecting code coverage anymore.

## Steps to reproduce

run the command: `dotnet test --collect:"Code Coverage" --results-directory:"TestResults" --configuration Release --no-build -- RunConfiguration.DisableAppDomain=true`

## Expected behavior

Collect and don't show any error

## Actual behavior

T

[2020-08-06 14:29] Amiron49 opened #2511 "dotnet test CLI throws System.NotImplementedException when trying to load tests from a dll and passing runsettings arguments"
## Description
the dotnet test cli fails while parsing any command targeting a .dll and passing runsettings commands. The same command works fine when providing a csproj or ommiting the target altogether

## Steps to reproduce
Running dotnet sdk version 3.1.302 and vstest cli version 16.6.0

The actual dll doesn't matter as the CLI crashes while parsing the arguments

[code]

## Expected behavior

[2020-08-06 14:58] nohwnd commented on #2511
I think we fixed this while doing some parsing fixes and improvements to the -- settings syntax. Could you try to repro on net5.0? We would probably not bring the fix back to 3.1.x anyway.

For me it does not repro:

[code]

[2020-08-06 20:23] muiriswoulfe commented on #2510
I'm seeing the same thing in our team's Azure DevOps build pipelines, which appears to be attributable to a set of NuGet package updates (although I can't ascertain which package update is responsible). If I revert the relatively large set of changes containing the NuGet package updates, the task works as before. Unfortunately, it is difficult to narrow down the precise update causing the error as

[2020-08-07 06:19] Mobrockers commented on #2510
Can confirm, we have the same issue. Pipeline here:

https://dev.azure.com/stryker-mutator/Stryker/_build/results?buildId=5131&view=logs&j=bf94e6da-eeef-50d1-100b-0ed7f4d964f2&t=6d3eec8c-0b41-5503-31a1-551142db5688&l=141

Started by [this](https://github.com/stryker-mutator/stryker-net/pull/1163) pull request where we update the packages Microsoft.TestPlatform.ObjectModel, Microsoft.TestPlatform.P

[2020-08-07 07:13] aDisplayName opened #2512 "TRX file cannot be correctly located in VsTest 16.7"
## Description
Starting today, the VsTest 16.7.0 is available in Azure DevOps pipeline. We got an error message at the end of the VsTest step that it clamied TRX was not found when publishing the test.
It appears the VsTest was looking for trx file in ```\agent\_work\_temp\TestResults``` while it was actually saved to ```$(Common.TestResultsDirectory)```

We were using VsTest 16.6.1 with the same

[2020-08-07 09:05] Sanan07 commented on #2512
@aDisplayName Are you able to access this result file `Results File: C:\agent\_work\31\TestResults\CMMMM038$_CMMMM038_2020-08-07_14_38_13.trx`? As I know ,we have not done any changes related to TestResults directory in 16.7.0. We will try to look into it.

[2020-08-07 12:26] Sanan07 commented on #2512
@aDisplayName I tested using VsTest 16.7.0 with specifying `ResultsDirectory` and it worked fine.

![trx](https://user-images.githubusercontent.com/8465726/89643970-32bbba80-d8b7-11ea-9e21-b984de4a59d8.PNG)

So, in your case trx file was saved to `/ResultsDirectory:C:\agent\_work\31\TestResults` as you specify it as argument, but AzDo were looking at it in `$(Common.TestResultsDirectory)` which ha

[2020-08-07 13:11] #2511 closed

[2020-08-07 13:46] #2489 closed

[2020-08-07 14:54] aDisplayName commented on #2512
Thanks @Sanan07

Yes, the trx, coverage, and the raw data were all under C:\agent\_work\31 folder.
There is nonthing under C:\agent\_work\_temp\TestResults folder.

The only runsettings was the one generated by VsTest task. I've attached the full log here.
[21.log](https://github.com/microsoft/vstest/files/5042082/21.log)

Also, the azure agent version is 2.165.0

[2020-08-07 15:03] aDisplayName commented on #2512
@Sanan07 , I agree with you. It seems VsConsole.exe did complete with exit code 0. And indeed it was the DTAExecutionHost.exe which exited with error code 1

[2020-08-07 15:25] nohwnd commented on #2510
Sorry for the inconvenience. @cvpoienaru is working on finding out what the issue is and seeing if there is any workaround.

[2020-08-07 15:30] Sanan07 commented on #2512
@aDisplayName Please look at this https://github.com/microsoft/azure-pipelines-tasks/issues/11526 and https://developercommunity.visualstudio.com/content/problem/756960/21574modulesdtaexecutionhostexe-failed-with-exit-c.html
As I understood by default AzDo writes results in temp folder, but you can overwrite it. But in your case it still looks at temp folder, instead of looking at the folder which

[2020-08-07 16:25] Phlow2001 commented on #2510
Just ran into this as well.  16.6.1 is fine.

[2020-08-07 16:36] aDisplayName commented on #2512
@Sanan07  But the only thing between pass and fail is the change from VsTest 16.6.1 to 16.7.0.

Actually I tried with 16.6.1 today after we had problem with 16.7.0, and the tasks passed without any glitch. Back to 16.7.0, failed again. Same build agent.

[2020-08-07 16:51] Sanan07 commented on #2512
@aDisplayName Could you please provide installation logs for VsTest 16.6.1 as you provided in your post for 16.7.0?

As you may see above 16.7.0 was installed inside `work\temp` folder, probably that is why it tries to reach trx log file from there :

`Adding package 'Microsoft.TestPlatform.16.7.0' to folder 'C:\agent\_work\_temp\VsTest'
Added package 'Microsoft.TestPlatform.16.7.0' to folder 'C:\

[2020-08-08 01:00] aDisplayName commented on #2512
@Sanan07 as far as I know, every azure task is installed under _work\_temp

[2020-08-08 03:26] aDisplayName commented on #2512
I am able to reproduce the problem with the following azure pipeline script.
Azure Host Agent: windows-latest
Task Version:
Downloading task: UseDotNet (2.171.0)
Downloading task: PowerShell (2.170.1)
Downloading task: VisualStudioTestPlatformInstaller (1.151.3)
Downloading task: VSTest (2.170.1)
Downloading task: PublishTestResults (2.171.0)

## Using vstest 16.6.1
When using vstest 16.6.1, all t

[2020-08-08 17:46] jozefizso opened #4160 "Test library referencing CefSharp cannot be run"

[2020-08-10 12:07] Sanan07 commented on #2512
@aDisplayName Could you run the agent with v16.7 but without this property `otherConsoleOptions: '/ResultsDirectory:$(Common.TestResultsDirectory)'` and see if AzDo can successfully get the trx file.

As from logs, again it looks like vstest completed successfully, but issue occurs when AzDo trying got fetch trx log file.
@ShreyasRmsft Could you please look at the issue?

[2020-08-10 12:13] Dreamescaper commented on #2384
Same happens for me on 3.1.400.

[2020-08-10 12:55] aDisplayName commented on #2512
The answer is "Yes" that removing the ```/ResultsDirectory``` setting solved the problem. But that is not the solution we can take.

The long story of why we have to use ```'/ResultsDirectory:$(Common.TestResultsDirectory)'```:

* In our production build pipeline, we have multiple test projects, and we use SonarQube to calculate the overall test coverage.
* Some of those unit test projects are tar

[2020-08-10 15:52] cvpoienaru commented on #2510
@nohwnd @jakubch1 @eddynaka @muiriswoulfe @Mobrockers @Phlow2001 I was able to successfully replicate this issue on my machine and now I'm working on a fix for it.

I created a `MSTest Test Project (.NET Core)` project and used the latest `Microsoft.NET.Test.Sdk` NuGet package that has a dependency on the latest `Microsoft.CodeCoverage` NuGet. The issue replicates after running `dotnet test --coll

[2020-08-10 15:56] Mobrockers commented on #2510
@cvpoienaru we cannot upgrade the dotnet core version as we build an open source dotnet cli tool so we have no control of where the tool is executed and which dotnet versions are available. But we have no need to upgrade right now so it's not a problem to wait on a fix.

[2020-08-10 16:05] muiriswoulfe commented on #2510
@cvpoienaru Thanks for the update.

Where is .NET SDK 3.1.400 available from? The latest release listed at https://dotnet.microsoft.com/download/dotnet-core/3.1 that I can see is 3.1.302. If it's a pre-release version, we're unfortunately not able to use that due to compliance reasons, although I expect we would not have to wait too long before an official release, in which case upgrading won't be

[2020-08-10 23:43] Phlow2001 commented on #2510
We're on .NET Core 2.1

[2020-08-11 08:35] AndrueCope commented on #1128
And it seems that has come back with 16.8.0 Preview 1

[2020-08-11 11:10] Haplois commented on #2487
After reviewing the logs sent to me, we saw that the test project uses Coded UI Tests. CUIT are [deprecated][1]. It's not shipped as part of dotnet sdk, and we don't plan to include it in the releases.

You can try to provide the CUIT test adapter to `dotnet test` using `--test-adapter-path` [option][2] for a workaround.

[1]: https://devblogs.microsoft.com/devops/changes-to-coded-ui-test-in-visua

[2020-08-11 11:10] #2487 closed

[2020-08-11 12:22] nohwnd commented on #1128
@AndrueCope you are right, this has been a long running issue. We were fixing it for 32-bit windows and broke it in visual studio, and vstest.console but it works under dotnet test (or will once preview8 is available, or if you are using net5.0-rc1). We already fixed this in 16.8-preview2. You can work around  the issue by specifying the /platform switch in command line, or in VS click the cog in

[2020-08-11 12:37] AndrueCope commented on #1128
Oh, I didn't see that option. Thank you. I'm in the process of upgrading one of our dependencies so we might be able to move away from targeting x86 finally. I've been programming since the 1980s and when this cropped up it struck me as unfunny that x86 was still a thing in 2020 :)

[2020-08-11 16:06] nohwnd commented on #2384
I think this message is a feature of msbuild that is only printed in previews. They wanted to enable it for release builds as well, but because the error was confusing they did not. At least that is what I understood from the brief mention in some meeting, but I don't know who to ask now. 🙂

[2020-08-11 16:08] nohwnd commented on #2384
Either that or we are not following some contract correctly. https://github.com/dotnet/msbuild/issues/5508

[2020-08-11 17:42] Dreamescaper commented on #2384
@nohwnd
It happens for me on stable dotnet (3.1.400).

[2020-08-13 06:56] pi3k14 commented on #360
Could you then please remove TestInitialize and TestCleanup attributes and instructs users to use ctor/Dispose instead.
How many would you guess have mistakenly optimized their test by moving common setup to ctor to no avail?

[2020-08-13 10:19] eddynaka commented on #2510
@muiriswoulfe , the new version got available! https://devblogs.microsoft.com/dotnet/net-core-august-2020/

[2020-08-13 11:26] SedkiHergli opened #2517 "testhost.exe crashes with access violation exception"
I have an unhandled exception in my code which crush my testhost.exe process and fails my azure pipeline build (exactly within the VSTest task).

Exception: 0xC0000005: Access violation read location 0xFFFFFFFFFFFFFFFF

After analysing the dump file of the crush I found that this exception appears when I try to save my pdf document in the specified stream using the "save" method of the "PdfManger"

[2020-08-13 11:59] cvpoienaru commented on #2510
@nohwnd @jakubch1 @eddynaka @muiriswoulfe @Mobrockers @Phlow2001 we have just released the latest version of `TestPlatform`, `16.8.0-preview-20200812-03`, available on [nuget.org](https://www.nuget.org/).

This version contains a fix for this issue in the `Microsoft.CodeCoverage` NuGet, so provided you are able to use the latest set of NuGets you won't have to deal with the `.NET SDK` version bump

[2020-08-13 11:59] #2510 closed

[2020-08-13 17:32] nohwnd commented on #2510
@eddynaka could you (or anyone else) confirm the fix worked? We are considering releasing 16.7.1 and would like to avoid this passing our tests, but not yours 🙂

[2020-08-13 17:33] eddynaka commented on #2510
@nohwnd , sure! let me update my references and test in GH Actions. Will post the results soon.

[2020-08-13 17:54] eddynaka commented on #2510
@nohwnd , the new nuget worked fine. Don't if that's related. But, i have a second job that try to parse the .codecoverage file to .xml. And, with the new version it didn't work.

`C:\Users\runneradmin\.nuget\packages\microsoft.codecoverage\16.8.0-preview-20200812-03\build\netstandard1.0\CodeCoverage\CodeCoverage.exe analyze /output:D:\a\opentelemetry-dotnet\opentelemetry-dotnet\TestResults\13dd00

[2020-08-14 06:33] nohwnd commented on #2510
@cvpoienaru are you aware of change that could cause the above issue?

[2020-08-14 09:34] cvpoienaru commented on #2510
@nohwnd @eddynaka looking at the pipeline output for that particular job, I can see it fails because it's not able to find `CodeCoverage.exe`. Maybe the path you got is wrong ?

I tried running `CodeCoverage.exe` from the same NuGet on my machine and it worked.

[code]

[2020-08-14 09:36] eddynaka commented on #2510
hi @cvpoienaru , when I first looked at that i suspected of that.

But it's strange, since the only difference between this and the old version is the version number.

I will debug a little more and try to find out what is happening.

[2020-08-14 09:42] eddynaka opened #2519 "Microsoft Coverage Collection is spaced"
## Description

When I run the command:

`dotnet test --collect:"Code Coverage" --results-directory:"TestResults" --configuration Release --no-build -- RunConfiguration.DisableAppDomain=true`

It's showing spaced strings:
![image](https://user-images.githubusercontent.com/16199012/90236271-e8779380-ddf8-11ea-8cbf-7c38b3e273c2.png)

**this isn't something new, tested already with 16.6.1 and the new

[2020-08-14 10:30] eddynaka commented on #2519
Adding more info: if we look at the logs generated by GitHub Actions, we can see this:

[code]

[2020-08-14 17:56] valtbarbos commented on #2384
@nohwnd
It happens for me on stable dotnet (3.1.400).

_Originally posted by @Dreamescaper in https://github.com/microsoft/vstest/issues/2384#issuecomment-672127041_

dotnet 3.1.401

/usr/share/dotnet/sdk/3.1.401/Microsoft.TestPlatform.targets(32,5): error MSB4181: The "Microsoft.TestPlatform.Build.Tasks.VSTestTask" task returned false but did not log an error.

[2020-08-17 08:07] nohwnd commented on #2519
@jakubch1 do you know why this is?

[2020-08-17 09:28] jakubch1 commented on #2519
I see the same strange output in test logs. We will fix it but this is not our priority now. @eddynaka  is this blocking you?

[2020-08-17 09:43] eddynaka commented on #2519
@jakubch1 not at all. Let me know if I can help 👍

[2020-08-17 12:01] jakubch1 commented on #1748
It is enough to install newer version of Microsoft.CodeCoverage:

`dotnet add package Microsoft.CodeCoverage --version 16.7.0`

I will make sure that dotnet also uses newer version of this package. Currently it is installing 16.5.

[2020-08-17 12:27] jakubch1 commented on #1748
It's enough to upgrade Microsoft.NET.Test.Sdk to 16.7.0 in csproj.

[2020-08-17 12:27] #1748 closed

[2020-08-17 12:51] nohwnd commented on #2499
It worked already.

[2020-08-17 12:51] #2499 closed

[2020-08-17 15:43] pkruk2 opened #2521 "TestCaseFilter with custom properties?"
Hello,

I'm trying to use `TestCaseFilter` with custom properties. Is that possible?

I was trying to pass various forms of `/TestCaseFilter` to `vstest.console.exe` but without success. Works with `TestCategory` but not with custom properties.

For example in MSTest:

[code]

For XUnit it's `Trait` and for NUnit it's `Property`.

In https://github.com/Microsoft/vstest-docs/blob/master/docs/filter

[2020-08-18 05:45] urbankovak opened #2522 "Test results missing in trx file"
Dear Sir/Madam, we have a problem with publishing test results. Some of them are missing in trx file. We use Visual Studio Test task for running UI tests in the TFS Release Pipeline.

I asked Azure DevOps team for help, but they recommended me to ask you - @vstest.console.exe owners. According to their findings the issue is in the trx where for the missing tests is a warning which is result it not

[2020-08-18 07:00] nohwnd commented on #2521
Looking at the code in MSTest it does not seem to be supported at the moment.

![image](https://user-images.githubusercontent.com/5735905/90480694-e7b06b80-e130-11ea-9502-e61ce4dd8be6.png)

For xUnit it works like this: `dotnet test --filter Bug=12345` or `vstest.console XUnitTestProject1.dll --testcasefilter:Bug=12345`.

[2020-08-18 07:19] pkruk2 commented on #2521
So it must be implemented in each test adapter separately? I was thinking about making this issue a feature request for vstest, but I should probably file it against mstest (and maybe nunit)?

Thanks, that way it works.

[2020-08-18 08:56] DrGriff opened #2523 "NuGet package Microsoft.NET.Test.Sdk v16.7.0 no longer works with DotNetCoreCLI@2 for running tests"
# Summary of problem
Using Azure Devops, a long established build pipeline failed when running tests after updating the NuGet package Microsoft.NET.Test.Sdk from 16.6.1 to 16.7.0.

The test step as defined in the YAML file was:

[code]

[Note: we're also using Sonr to analyse our code.]

The error message was:

Additional information may be found in this [StackOverflow](https://stackoverflow.com/q

[2020-08-18 11:01] #2498 closed

[2020-08-18 12:29] Sanan07 commented on #2522
Hello @urbankovak.
Did you recently update Test Platform in Azure DevOps, so after update you get that issue? I mean when did you start facing that behavior? And do you get the same problem when running test on your machine in Debug and Release mode inside Visual Studio?

[2020-08-18 13:58] nohwnd commented on #2523
This is caused by #2510 we will re-release 16.7.1 with the fix. @cvpoienaru was the fix confirmed to be working?

[2020-08-18 16:13] cvpoienaru commented on #2523
@nohwnd, we got confirmation from Eddy the new NuGet works and my own tests show this as well. He did however encounter some issues with generating the code coverage report, but they didn't seem related to the current issue.

[2020-08-19 07:21] nohwnd commented on #2521
Yes each test adapter needs to implement it separately because they have different representations of tests. The way this was implemented, there is no common abstraction over this filtering concept. If you want it in MSTest then microsoft/testfx is the repo to search for this issue, or creating a new one. And similarly for NUnit.

[2020-08-20 04:45] urbankovak commented on #2522
Hello @Sanan07 and thank you for your reply.

The problem occurs for some time. Definitely before updating to Azure DevOps too. When I run tests on my machine, I don't get this problem. All run test results are published in VS.

We made an experiment and run the same VS Test task with the same list of tests once in TFS **build** definition and once in TFS **release** definition. In the release def

[2020-08-20 10:05] jameswoodley opened #2530 "Microsoft.NET.Test.Sdk v16.7.1 has incorrect dependency on Microsoft.TestPlatform.TestHost"
## Description
Microsoft.NET.Test.Sdk version 16.7.1 has a dependency on Microsoft.TestPlatform.TestHost >= 16.7.1 however that version of TestHost is not listed

## Steps to reproduce
Add Microsoft.NET.Test.Sdk version 1 to your project and receive error:
[code]
## Expected behavior
Package is installed

## Actual behavior
Package is not installed

[2020-08-20 10:36] nohwnd commented on #2530
@jameswoodley Could you retry please? I think you've just hit an intermittent problem with us publishing the test.sdk package to nuget before the testhost.

@cvpoienaru I usually upload the Test.SDK package last to avoid this. Can it be that you uploaded the TestHost package after the Test.SDK?

[2020-08-20 10:37] nohwnd commented on #2530
Looked at nuget and it looked correctly. Tried it locally, it works. Let us know if you still see the problem :)

[2020-08-20 10:37] #2530 closed

[2020-08-20 10:38] nohwnd commented on #2523
@DrGriff 16.7.1 is out, could you try again please?

[2020-08-20 10:39] nohwnd commented on #2510
16.7.1 was released that addresses this. If you face this problem please update.

[2020-08-20 10:43] nohwnd commented on #2510
@abatishchev tagging you here, because you filed an issue on testfx for this. Please update to 16.7.1.

[2020-08-20 10:45] eddynaka commented on #2510
@nohwnd thank you! that version is working fine! already tested!

[2020-08-20 10:46] nohwnd commented on #2510
It was @cvpoienaru who ported the changes and did all the work, I am just a messenger trying to let everyone know 🙂

[2020-08-20 10:47] eddynaka commented on #2510
@cvpoienaru thank you! 👍

[2020-08-20 11:01] jameswoodley commented on #2530
Can confirm, working now- many thanks!

[2020-08-20 14:23] Sanan07 commented on #2522
@urbankovak These 6 test methods are failing in Release pipeline while vstest trying to publish them. The reason for that vstest trying to combine that name with path and getting PathTooLongException.
You can see it in your Release logs :
[3_d0586030-c201-11ea-b3fd-d5545a8ca027.txt](https://github.com/microsoft/vstest/files/5103641/3_d0586030-c201-11ea-b3fd-d5545a8ca027.txt)

This happening while

[2020-08-20 14:51] ChaosEngine commented on #2501
looks like it is fixed with latest `mcr.microsoft.com/dotnet/core/sdk-3.1-alpine` image

[2020-08-20 14:51] #2501 closed

[2020-08-20 17:28] nohwnd commented on #2522
It is recommended to make the path to the agent as short as possible this: `C:\TFSAgents\TFS-BUILD-16_Agent1_SBS_Interactive\`, should ideally be `C:\a1\`, you might also use the [subst](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/subst) utility to map that directory to a different "disk", e.g. `subst x: C:\TFSAgents\TFS-BUILD-16_Agent1_SBS_Interactive`.

[2020-08-20 17:58] ShahViral6438 commented on #2459
We are also getting the same error for our gated builds and it started out of nowhere.

VSTS test task fails with below error for 50% of unit test cases:
Error: System.MissingMethodException: Method not found: 'Void Microsoft.VisualStudio.CodeCoverage.Shim.4251430275__coverage_runtime_method__28318_17131__(UInt64)'

Any update is highly appreciated.

[2020-08-20 18:30] jons-aura commented on #2459
Also having nearly half our builds on Azure Devops fail with this issue.

[2020-08-21 07:38] nohwnd commented on #2459
We did a release of 16.7.1 yesterday, are your builds picking up that version of TestPlatform installer task?

[2020-08-21 08:12] urbankovak commented on #2522
Thank you for your comments.
The full path in the screenshot you attached is C:\TFSAgents\TFS-BUILD-16_Agent1_SBS_Interactive\_work\r1\a\INDSW-APP11 - Deploy with tests\UITests_CSharp_Alfa\bin\Debug\ZalozEditujStornujKlientskyFwdAmortizacni.png, which is **167 characters long**. **It doesn't exceed 248 or 260** mentioned in the log file. So we are confused what exactly is wrong.
We will try to sho

[2020-08-21 08:27] jakubch1 commented on #2459
This is same issue as https://github.com/microsoft/azure-pipelines-tasks/issues/12808
You can find workaround there.
@ShreyasRmsft  what is the issue here?

[2020-08-21 08:40] nohwnd commented on #2522
@urbankovak I don't think the path that you see in the log is the one that directly causes the issue, instead the TestResultHandler, calls LegacyNormalizePath and GetFullPathName which throws.

@Sanan07 Could you please try making a project locally with the long path as shown above to see what is happing in the TRX resolve? We should be able to reproduce this locally.

[2020-08-24 09:41] DrGriff commented on #2523
Tried with 16.7.1 and this solved the issue.  Many thanks for such quick turn-around!

[2020-08-24 10:16] #2523 closed

[2020-08-25 10:08] urbankovak commented on #2522
Hi @Sanan07 and @nohwnd, it helped! We changed the directory structure on our agents so the final path for failed tests screenshots doesn't exceed the limits and the failed tests which weren't published correctly before are correctly published in TFS now. Thank you once more for your kind help.
I'm going to close this issue, because it looks OK now.
Wish you all a lovely day.

[2020-08-25 10:08] #2522 closed

[2020-08-25 10:33] SedkiHergli commented on #2517
Downgrading to mstest v1 everything works fine, it seems related to the QTAgent process because only mstest v1 launch QTAgent process through testhost process.
​
​Thks for help :)

[2020-08-25 10:33] #2517 closed

[2020-08-25 13:11] adrianiftode commented on #2384
Same happens with 3.1.401, but not with 3.1.202

[2020-08-25 19:58] cristianosuzuki77 opened #2538 "[loc][query] Translation question."
## Description

Our translators have question on one string in Microsoft.TestPlatform.Build\Resources\xlf\Resources.xlf
String: Test run for {0} ({1})
String ID: 0; "TestRunningSummary"
Question: There are no DevComment. What do {0} and {1} mean?

## Steps to reproduce

## Expected behavior

## Actual behavior

## Diagnostic logs

## Environment

[2020-08-25 20:00] cristianosuzuki77 opened #2539 "[loc][query] Translation question."
## Description

File: Microsoft.TestPlatform.Extensions.TrxLogger\Resources\xlf\TrxResource.xlf:
String: Cannot get find an available filename for {0} using timestamp format '{2}' at {1}.
String ID: 0; "Common_CannotGetNextTimestampFileName"
Question: Please clarify all placeholders, thank you.

## Steps to reproduce

## Expected behavior

## Actual behavior

## Diagnostic logs

## Environment

[2020-08-25 23:02] wiweinbe opened #2540 "What is expected behavior of AbortTestRun and CancelTestRun?"
## Description
We've implemented an IVsTestConsoleWrapper and are have ITestRunEventsHandler that monitors test execution. When running multiple iterations of a same test to gather performance data and the test is failing, we want to fail fast, rather than waste time continuing to run a test that is not yielding useful information (beyond the fact that something is broken).

## Steps to reproduce

[2020-08-26 06:50] nohwnd commented on #2538
It means this.TestFileFullPath and this.VSTestFramework, eg: C:\temp\UnitTestProject1.dll and netcoreapp2.1

https://github.com/microsoft/vstest/blob/59354e1f9c366b40d06ecf62372fc455d7f1ba18/src/Microsoft.TestPlatform.Build/Tasks/VSTestTask.cs#L167

[2020-08-26 06:52] nohwnd commented on #2538
The string seems to be correctly translated already, it is just the spacing that changed from `{0} ({1})` to `{0}({1})`.

[2020-08-26 14:08] nohwnd commented on #1773
You can remove the copyright notice by `--nologo`

[2020-08-26 23:17] aalmada commented on #2209
I'm getting the same error when running **GitHub Actions**. My unit testing project targets `net461`, `netcoreapp2.1`, `netcoreapp3.1`, and `net5.0`. I get the following errors:

[code]

I'm using `windows-latest` with the following to install .NET 5.0:

[code]

It was working previously. I don't know what changed. Here I bumped to all the latest versions to see if it would fix the issue but it do

[2020-08-27 00:21] Sanan07 commented on #2540
@wiweinbe If you want immediately stop test run you can use `wrapper.EndSession()` - where `wrapper` is object of your `VsTestConsoleWrapper`

[2020-08-27 00:28] wiweinbe commented on #2540
@Sanan07 That sounds like a really big hammer. But worth considering.

[2020-08-27 13:35] Sanan07 commented on #2540
@wiweinbe After my quick investigation, I see that, `AbortTestRun()` calls asynchronously, so while aborting operation is executing, tests are running in another thread. `AbortTestRun` calls `HandleTestRunComplete` from `ITestRunEventsHandler` and complete execution.

I did my own test: using 300 empty test methods. I have condition: to abort after 10 test methods already executed, but it ended up

[2020-08-27 23:15] cristianosuzuki77 opened #2548 "[loc][query] Translation question."
## Description

Question about the resource "DisplayChosenSettings" in the file Microsoft.TestPlatform.ObjectModel\Resources\xlf\CommonResources.xlf:
- in the string "Test run detected DLL(s) which were built for different framework and platform versions. Following DLL(s) do not match current settings, which are {0} framework and {1} platform.{2}Go to {3} for more details on managing these setting

[2020-08-27 23:18] cristianosuzuki77 opened #2549 "[loc][query] Translation question."
## Description

Question about the resource "NotRunTestIndicator" in the file vstest.console\Resources\xlf\Resources.xlf: need more information about the string "Not Run".
Does this mean "One test not run" or "Some/many tests not run"?

## Steps to reproduce

## Expected behavior

## Actual behavior

## Diagnostic logs

## Environment

[2020-08-27 23:23] vasokot opened #2550 "How i can specify batch size for vstest task if i run under windows docker ?"
I use visual studio build tools 2019 at windows docker (image microsoft/dotnet-framework:3.5-runtime-20190312-windowsservercore-ltsc2019)

how can i specify batch size for vstest from comandline to use it at docker ?

[2020-08-28 01:57] xt0rted commented on #2280
I'm working on a test logger to use with GitHub Actions and just ran into this issue. Both `CodeFilePath` and `LineNumber` are empty for my .net core 3.1 project. I tried setting up a .net core 2.1 and 2.2 project but I'm seeing the issue there too. I found that xunit 2.3.x will give `-1` for `LineNumber` while 2.4.x gives `0`, otherwise it's always the same results no matter what combo of package

[2020-08-28 12:03] nohwnd commented on #2548
@Sanan07  was it you who added this message?

[2020-08-28 12:05] nohwnd commented on #2549
It means a single test.

[2020-08-28 12:17] Sanan07 commented on #2548
@nohwnd yes, thanks for mention.

@cristianosuzuki77
{0} - .NET Framework version - e.g - .NETFramework,Version=v4.0
{1} - Windows architecture - e.g x86 or x64
{2} - Some warning message, containing incompatible framework and platform version
{3} - Link to Microsoft documentation  (http://go.microsoft.com/fwlink/?LinkID=236877&clcid=0x409)

[2020-08-28 23:03] kendrahavens commented on #1911
It's been a while since we've had activity on this issue. I'm wondering if the ask is mostly satisfied by 3rd party nuget packages such as [https://www.nuget.org/packages/JUnitTestLogger](https://www.nuget.org/packages/JUnitTestLogger). That seems to be the most popular solution.

Is there still a strong ask that we add the junit output format to the built-in tools?

Thank you for the feedback.

[2020-08-29 18:37] Haplois commented on #2539
Hi,

|Placeholder|Name|Example|
|:----:|----:|----|
| _{0}_ | fileName | log.txt |
| _{1}_ | directoryName | c:\data |
| _{2}_ | timestampFormat| _yyyyMMddHHmmss |

Resource string is used in:

https://github.com/microsoft/vstest/blob/de02d84384541d2fe423720abf6a4ce9d0f97ffc/src/Microsoft.TestPlatform.Extensions.TrxLogger/Utility/TrxFileHelper.cs#L180

[2020-08-29 18:37] #2539 closed

[2020-09-01 09:29] #2441 closed

[2020-09-01 10:22] nohwnd opened #2551 "*.resources.dll are built as Debug"
## Description
All resources.dll assemblies are built as Debug. There is probably a parameter missing in the custom LocalizedBuild somewhere.

(More info in .NET Core DLL's Coming from NuGet packages are Debug Assemblies) mail thread.

[AB#1286123](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1286123)

[2020-09-01 13:27] greycoding commented on #2301
I have exactly the same problem with Windows 10 version 2020.
@angelwang Can you describe your workaround in more detail? Which DLL (from which file path) did you copy to which target path?

[2020-09-01 14:30] mattgen88 commented on #2282
any updates on this? It's just a huge pain to have a broken console everytime I run my test suite. I now instinctively write `stty echo` after `make test`. This is affecting multiple developers in my org.

[2020-09-01 14:54] WellspringCS commented on #2282
I find myself wondering, is this problem certainly a VSCode one? Or might it be related to [this issue](https://github.com/OmniSharp/omnisharp-vscode/issues/1794#issuecomment-681945143) and possibly related to some bug in the code itself. There is a comment on that other issue that suggests possibly an async await bug in the user project itself is the root cause of the problem.

I have to type stt

[2020-09-01 14:56] mattgen88 commented on #2282
definitely not. It happens running dotnet test from my terminal, vscode not involved at all.

[2020-09-01 14:57] WellspringCS commented on #2282
But the dotnet test is running your test code. And when I run tests via VSCode... that's the same test code getting run.

[2020-09-01 15:04] mattgen88 commented on #2282
Ah, saying vscode confused me.

It sounded like this is something related to not restoring the environment correctly when launching multiple processes per https://github.com/microsoft/vstest/issues/2282#issuecomment-614620392

I have multiple projects affected by this, while I'm certain I have bugs, I would be surprised if I managed to cause the same bug multiple times.

This is happening with cod

[2020-09-01 15:09] WellspringCS commented on #2282
Hahah yeah, I have only two projects and they're rather incestuous in terms of common approach, common code. I wish I had your confidence.

[2020-09-02 09:20] timbaas commented on #799
I've just used the `-l` argument to get `Console.WriteLine` to output my messages:

`dotnet test -l "console;verbosity=detailed"`

At first I thought I'd get a lot of detailed verbosity using this, but that is actually not the case, only the regular output and `Console.WriteLine` is outputted.

[2020-09-02 13:46] johndaintree commented on #2384
I get this error after upgrading from 3.1 to 5.0. My test ouput (via coverlet) is as follows:

./test.ps1
Test run for F:\devt\src\19.0.core\svn\netcore\tests\bin\Debug\net5.0\tests.dll(.NETCoreApp,Version=v5.0)
Microsoft (R) Test Execution Command Line Tool Version 16.8.0-preview-20200811-01
Copyright (c) Microsoft Corporation.  All rights reserved.
Starting test execution, please wait...
A total

[2020-09-02 13:49] nohwnd commented on #2384
@johndaintree we've seen this happen with the latest dotnet 5.0 SDKs and with Microsoft.NET.Test.Sdk nuget package in version 16.2.0 or older. Which version are you using?

[2020-09-02 13:57] nohwnd commented on #2384
This is caused by Nuget.Frameworks, change that started returning net5.0 in the DotNetFrameworkName, this change was reverted and I cannot reproduce the issue on the latest RC1 build from https://github.com/dotnet/installer#installers-and-binaries

It does not reproduce on Preview7, reproduces on Preview8 and reproduces on older versions of RC1, but not on recent versions of RC1.

[2020-09-02 14:12] johndaintree commented on #2384
@nohwnd dotnet info follows. I'm on preview 8, but I'm happy to try RC1. Looks like I'm using Microsoft.NET.Test.Sdk 16.1.0, so it's probably wise for me to update that too.

 dotnet --info
.NET SDK (reflecting any global.json):
 Version:   5.0.100-preview.8.20417.9
 Commit:    fc62663a35

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.20201
 OS Platform: Windows
 RID:         win10

[2020-09-02 14:16] nohwnd commented on #2384
@johndaintree yeah it will fail that way on this Preview8 build. If you get todays RC1 from dotnet/installer it will work. It will also work if you update Test.SDK to 16.3.0 or newer.

One last thing you might run into if you decide to just update is that xUnit tests are also affected by this. And will show  `No test is available in <assembly> Make sure that test discoverer & executors are registe

[2020-09-02 14:18] johndaintree commented on #2384
@nohwnd, thanks. I'll try all that. :)

[2020-09-02 16:11] nohwnd commented on #2380
Inserted into RC1 should be done for now. 🎊🥳🙌

[2020-09-02 16:11] #2380 closed

[2020-09-02 23:38] kendrahavens commented on #1013
I believe the multi-targeted test project support that we have today combined with compiler directives may be able to satisfy this issue. Let me know if I'm missing something.

Today, you can target multiple frameworks from a test project and tests will be discovered for every framework listed. For example, if your test project csproj has the target frameworks listed below:
`<TargetFrameworks>netc

[2020-09-03 00:31] airbreather commented on #1013
That was #624, which I called out in this issue's initial description as not being enough for the use cases I was interested in.

The critical difference is the fact that there's no convenient way to test both the (say) .NET Standard 1.3 and the .NET Standard 2.0 implementations of some API.  The best we can do by setting `TargetFrameworks` on the test project involves artificially limiting the AP

[2020-09-03 01:10] airbreather commented on #1013
My previous comment went into some details about why I would want to run two different versions of my library through tests on (what could be) the same version of the test framework.  To follow on from that (less important to me at the moment), I'll go into some detail about why I might be interested in doing it the other way around: same version of the library, different versions of the tests.  I

[2020-09-03 10:09] nohwnd commented on #1013
Do you have any suggestion how to make this actually work? 🙂 To use .NET Core 3.1 we would have to run a .NET Core 3.1 compatible test project, and then we would have to run that project twice, once building with netstandard1.3 dependency and in the other case the netstandard2.0 dependency. This would still validate that it only works on netcoreapp3.1 and on the given platform (say Windows).

[2020-09-03 11:24] airbreather commented on #1013
A perfect solution would involve a bit of support built into the SDK, but when I opened this issue, I was entirely prepared to deal with some weird workarounds.

I created [MultiTargetDemo](https://github.com/airbreather/MultiTargetDemo) a few years back when trying to figure out what was already available at the time, where I ultimately ended up using multiple .csproj files that would use `net46`

[2020-09-03 11:33] #2384 closed

[2020-09-03 12:00] nohwnd commented on #2384
This will continue to happen until they fix it in MSBuild, but we are setting the property, so once they fix it the message will go away.

[2020-09-04 16:52] #2548 closed

[2020-09-04 21:03] lovettchris opened #2561 "API to run vstest without using vstest.console.exe?"
Is there an API way to run a test?  I want to run a test from an C# Azure Function which means I need to use nuget to install the vstest host, but do you have docs/sample somewhere that shows how to run a test using API's in this nuget package?

[2020-09-07 08:26] DominiqueChabaud commented on #2149
Hello @N-Olbert , I can see that you have <MaxCpuCount>1</MaxCpuCount> in your settings file. Does it solve the problem? If not how did you solve the problem?

[2020-09-07 11:06] EnriGrossi opened #2562 "Blame Collector attachment not found in test results. So it is not a test case abort issue. It's abort from test platform, might be during app domain tear down."
I get this message while running tests in azure devops build pipeline.
I have already tried without useful results to add this parameter to the runsettings:
`<DisableAppDomain>true</DisableAppDomain>`

In the event viewer i've this message:
Application: testhost.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: exception code c

[2020-09-07 12:14] Sanan07 commented on #2561
@lovettchris You can use [VsTestConsoleWrapper.cs](https://github.com/microsoft/vstest/blob/master/src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/VsTestConsoleWrapper.cs#L62) explicitly discover and run your tests. But for this you need to send path to `vstest.console.exe` and then call `DiscoverTests` and `RunTests` methods.

For this you need to install `Microsoft.TestPlatform.Transla

[2020-09-07 15:03] nohwnd commented on #2561
https://github.com/microsoft/testfx/issues/733 there was a similar question on testfx few days ago. There are few more links.

[2020-09-07 15:06] nohwnd commented on #2562
These might be related. https://github.com/microsoft/vstest/search?q=0xc0000005&type=Issues Same access violation exception, but it might mean anything.

[2020-09-09 02:29] lovettchris commented on #2561
Thanks.

[2020-09-09 13:18] #2561 closed

[2020-09-09 14:41] TrayanZapryanov commented on #2511
Is there a chance this to be backported to 3.1 ?
We are trying to use dotnet test in our release pipeline and we cannot pass any argument to the tests.....
I guess Azure will not be updated soon to support net5.0.

[2020-09-09 15:24] Amiron49 commented on #2511
What I did end up doing to circumvent the issue was to apply a filter that would yield only the wanted assembly DLL

[2020-09-09 18:10] suehshtri commented on #1830
There is, in general, a need to be able to extend test discovery to different test sources, as well as to have those test results recorded in TFS.

[2020-09-09 18:30] AbhitejJohn commented on #1830
@suehshtri : The test platform adapter extensiblity helps with that - https://github.com/microsoft/vstest-docs/blob/master/RFCs/0004-Adapter-Extensibility.md. Is there a case where this does not work for you?

[2020-09-10 06:20] N-Olbert commented on #2149
Hi @DominiqueChabaud. Well… it is defined behavior, you can’t bypass it: Either you use Code Coverage (from MS) or parallel execution.
Another option is to use Coverlet instead of MS-Code Coverage, according to the devs it should work fine with parallel execution (see https://github.com/coverlet-coverage/coverlet/issues/864)

[2020-09-10 06:24] meer93 commented on #2384
I was getting the same error with .NET Core 3.1. Thought of sharing my experience and how I resolved it.

I ran dotnet test command with normal verbosity (appending "-v n") and found the error came because of some target mismatch between .sln and .csproj files.

I deleted the .sln file and then ran the test(via dotnet test command) and error was no more.

[2020-09-10 07:53] johndaintree commented on #2384
I can confirm that this problem went away (for me) with 5,0 RC1

[2020-09-10 14:12] eddynaka opened #2564 "Can't run web integration test in version xunit.runner.visualstudio 2.4.3"
## Description

I have a web integration test that has reference to the api/mvc. I'm facing an issue when I update the version of `xunit.runner.visualstudio` from `2.4.1` to `2.4.3`.

The motivation to update to `2.4.3` came from this: https://github.com/microsoft/vstest/issues/2384. With net5.0, the version `2.4.1` hangs forever.

## Steps to reproduce

1. Access this: https://github.com/dotnet/A

[2020-09-10 15:31] nohwnd commented on #2551
https://github.com/dotnet/msbuild/issues/5731 depends on

[2020-09-11 05:51] Tasteful opened #2565 "Notification about tests in progress"
## Description
Notification about tests in progress.

## Steps to reproduce
Run the same test for the second time.

## Expected behavior
When starting the test for the second time, mark the test as s `Not run`
![image](https://user-images.githubusercontent.com/357589/92869566-3c2eca00-f403-11ea-9c73-96c3d510ba3e.png)

## Actual behavior
Test is starting but it is hard to read by numbers how many t

[2020-09-11 06:31] DominiqueChabaud commented on #2149
Hello @N-Olbert. Thanks for your feedback. Our team did the same analysis and choose to deactivate MS Code Coverage and use Coverlet. Have a nice day.

[2020-09-11 10:17] nohwnd commented on #2511
@TrayanZapryanov  quite unlikely, but you can download the net5.0 sdk (which is RC1) and use that to build netcorapp3.1 app and test it. The app that you produce will still require 3.1 runtime and will be able to run in the same places as before, you will just use a more modern set of tools to build it.

[2020-09-11 10:30] nohwnd opened #2566 "Using arm64 in TargetPlatform node in RunSettings throws"
## Description

Originally posted here https://github.com/dotnet/runtime/issues/42017

Forcing the  <TargetPlatform>$$TARGETPLATFORM$$</TargetPlatform> to arm64 will fail with

This is because TargetPlatform is Architecture enum and that enum does not have arm64. There is also PlatformArchitecture and IsPlatformIncompatible and other few places that possible need update, not just the enum value.

[2020-09-11 10:36] nohwnd commented on #2564
FYI you are on the latest net5.0 rc1 the version 2.4.3 of xunit runner is no longer needed, the reverted the change that caused this. https://github.com/dotnet/core/blob/master/release-notes/5.0/5.0-known-issues.md#preview-8-1 see 1. and 2.

The entrypoint should be generated by Microsoft.NET.Test.SDK do you have that installed?

[2020-09-11 10:38] nohwnd commented on #2564
^^^ checked the projects myslef. You don't have it installed. Add that reference and you should be good to go.

[2020-09-11 10:44] nohwnd commented on #2565
@Tasteful Thanks for reporting, this is a VS specific issue, we can't do much about it here, but I am tagging John below, maybe he knows about a Feedback ticket that already mentions this.

@jfleisher is there any Feedback ticket for this where it can be redirected please?

[2020-09-11 11:06] eddynaka commented on #2564
@nohwnd , thanks for the hint. I'm updating that!

The strange part: locally the tests was working fine (even with the version `2.4.1`), but when I was testing using Azure Devops, the issue occurred!

[2020-09-11 12:50] eddynaka commented on #2564
Thanks for the hint. It solved my issues!

[2020-09-12 12:02] TrayanZapryanov commented on #2511
Thank you for suggestions. My case is Tfs Release pipeline step. There I can create step to execute dotnet test ... step with some unit testing over deployed newer version of our service in staging environment. From answers I understand that I have to wait until .net5 is integrated in pipelines.

[2020-09-14 09:09] #2564 closed

[2020-09-14 09:33] nohwnd commented on #2511
There you should be able to use Use .NET Core step and install version 5.0.x (after checking Include Preview Versions). Right now 5.0.x resolves to 5.0.0-preview8 because that is the latest on preview channel. If you needed newer you would need to use the dotnet-install script directly.

![image](https://user-images.githubusercontent.com/5735905/93069525-0d705800-f67e-11ea-9c66-6e1848d0c439.png)

[2020-09-14 18:20] am11 commented on #2566
With the upcoming MIPS64 architecture (https://github.com/dotnet/runtime/pull/42194, and in future there will be more arch/platforms supported by the runtime); if possible, imo it would scale well if the internal/hardcoded enum dependency is shifted to the executing runtime's API for such information.

[2020-09-14 18:22] ViktorHofer commented on #2566
+100

[2020-09-14 18:27] lovettchris opened #2567 "Cannot test a delayed signed assembly"
## Description
[UnitTestProject.zip](https://github.com/microsoft/vstest/files/5220225/UnitTestProject.zip)

vstest.console reports "Strong name validation failed. (Exception from HRESULT: 0x8013141A)" on the attached unit test.

## Steps to reproduce
- nuget restore UnitTestProject.sln
- msbuild UnitTestProject.sln
- vstest.console UnitTestProject\bin\Debug\net48\UnitTestProject.dll

## Expected

[2020-09-14 23:34] pedramrezaei commented on #2209
I am having the same exact issue on github actions with .NET 5

[2020-09-15 08:06] nohwnd commented on #2209
@aalmada @pedramrezaei  your environment does not have all the runtimes that you need. You are building your project via the net5.0 SDK and target netcoreapp2.1, netcoreapp3.1 and net5.0. Net5.0 SDK has runtime for net5.0, but does not have runtime for 3.1 and 2.1. You need to either install those runtimes, or allow the host resolver to roll forward to a newer major version (by setting it to `2`)

[2020-09-15 18:40] TrayanZapryanov commented on #2511
Thank you. I will try.

[2020-09-16 04:14] wli3 opened #2570 ".NET 5.0 RC1 - "dotnet build" succeeds to build but "dotnet test" fails to build the same exact SLN"
---
**Issue moved from dotnet/sdk#13584**
- Please respond to @pedramrezaei.

---

_From @pedramrezaei on Monday, September 14, 2020 8:23:06 PM_

Repro:

1- Clone this repo: https://github.com/cloudtoid/interprocess
2- Run `dotnet build src/Interprocess.sln` and it succeeds.
3- Run `dotnet test src/Interprocess.sln` and it fails to build.

[2020-09-16 07:36] nohwnd commented on #2570
@pedramrezaei could you show us the error please? 🙂

[2020-09-16 08:21] loop-evgeny commented on #2384
Happens to me on SDK 3.1.402, too. It happens consistently when a test fails, but also intermittently when all tests pass: https://github.com/dotnet/sdk/issues/13431

[2020-09-16 20:26] joshua-phillips commented on #799
@timbaas I'm not having luck with that working for me. What version of the .net core sdk are you using? Anything besides that cli command and simply using `Console.WriteLine()` in the tests needed?

[2020-09-16 21:49] marcpopMSFT opened #2572 "dotnet test will hang on Windows if RedirectStandardOutput is set to true"
---
**Issue moved from dotnet/sdk#13569**
- Please respond to @huiren-jiang.

---

_From @huiren-jiang on Monday, September 14, 2020 4:03:42 AM_

As tested on Windows, if I launch the `dotnet test` command by C# `Process` and set `RedirectStandardOutput` to true, the dotnet process will start but never end. Monitoring the event `OutputDataReceived` will also get no output. If I set `RedirectStanda

[2020-09-16 21:49] marcpopMSFT commented on #2572
---
**Issue moved from dotnet/sdk#13569**
- Please respond to @marcpopMSFT.

---

_From @marcpopMSFT on Tuesday, September 15, 2020 11:29:14 PM_

@dotnet/dotnet-test-templates-admin for triage

[2020-09-16 21:50] marcpopMSFT opened #2573 "Dotnet test fails in docker ENTRYPOINT when using ARG Configuration=Release."
---
**Issue moved from dotnet/sdk#13568**
- Please respond to @VictorioBerra.

---

_From @VictorioBerra on Monday, September 14, 2020 2:49:16 AM_

Hear me out...

`dotnet new xunit`

## Dockerfile:

[code]

- `docker build --tag docker-dotnet-test-arg .`
- `docker run -it --rm docker-dotnet-test-arg`

## ERROR:

[code]

Now comment out `ARG Configuration=Release`, build and run the container agai

[2020-09-16 21:50] marcpopMSFT commented on #2573
---
**Issue moved from dotnet/sdk#13568**
- Please respond to @marcpopMSFT.

---

_From @marcpopMSFT on Tuesday, September 15, 2020 11:30:39 PM_

@dotnet/dotnet-test-templates-admin for triage

[2020-09-17 22:51] wiweinbe commented on #2540
That is helpful. I've actually made progress on this and found that I get a more expected behavior by calling ``CancelTestRun``, instead of Abort (and by operating on a more realistic test case that takes some time to execute).
However, it appears that even in this case, the run acts more like it's aborted. Much of the end processing (what you note as ``HandleTestRunComplete`` above?). For instanc

[2020-09-18 14:51] tannergooding opened #2576 "Provide a way to explicitly specify a target architecture from the command line."
# Issue

https://github.com/microsoft/vstest/pull/2571 updated the logic so that the bitness of the host is used by default in .NET Core. This means that if you run tests from a 32-bit SDK, you will run the tests in 32-bit mode. Likewise, if you run tests from a 64-bit SDK, you will run the tests in 64-bit mode.

This works well if you only have the 32-bit or 64-bit SDK installed, such as if you a

[2020-09-18 15:29] richardwerkman opened #2578 "Testsession crashes after AbortTestRun() with message "Cancelling the operation as requested.""
## Description
When working on Stryker mutator I noticed vstest is reporting some sort of _error_ when running a session with two assemblies. At some point in stryker we know all mutations have been tested and we can abort/cancel the testrun. This goes right most of the times. Some times however a error with the message `Cancelling the operation as requested.` comes from vstest. After that the ses

[2020-09-18 23:41] pedramrezaei commented on #2570
@nohwnd, here is an example:

`src\Sample\Publisher\Program.cs(2,17): error CS0234: The type or namespace name 'Interprocess' does not exist in the namespace 'Cloudtoid' (are you missing an assembly reference?) [...\interprocess\src\Sample\Publisher\Publisher.csproj]`

[2020-09-21 11:43] nohwnd commented on #2572
@huiren-jiang do you have example code please?

[2020-09-22 10:51] Haplois opened #2580 "Provide a way to change the behavior when picking up default TestAdapters"
## Issue
VSTest automatically picks up all the `*TestAdapter.dll` assemblies present with the assembly tested. We don't offer a way to change this yet. A customer reported on a [feedback ticket][1] that this delays their tests for a long time.

## Proposal
Since TestAdapters and DataCollectors can be in the same assembly, specifying a different load order is not feasible. We'll use the same loadin

[2020-09-22 11:25] nohwnd commented on #2580
It might be worth thinking about multiple scenarios. It would be nice if this fits well with enabling just adapters that are next to the source, and possibly allowing additional adapters to take path to the dll not just to directory. This would hopefully improve the perf as well if there are any data collected on that already @Sanan07 ?

I think flags choice for how adapters are picked up would be

[2020-09-23 17:30] wdolek commented on #2570
@nohwnd I'm facing the same issue with [w4k-aspnetcore-correlator](https://github.com/wdolek/w4k-aspnetcore-correlator), however when I specify `-f netcoreapp3.1`  (as my test project targets that) it works as expected. (However I'm still struggling to make this to work in GitHub Actions)

@pedramrezaei what if you try adding `<TargetFramework>`/`<TargetFrameworks>` to your test project? Will it h

[2020-09-24 04:10] greenlink commented on #1476
I'm having a similar problem, but I didn't understand your response, In my machines the tests pass with no problem, but in the Azure build server it throws a System out of memory exception, we have a machine with 4 GB Ram and e 2 core processor.

[2020-09-24 09:57] nohwnd commented on #2570
@wdolek looking at the error in your pipeline you have net5.0 installed but you don't have the runtime for netcoreapp3.1 which is the target framework of your test projects. This means that you can build the project just fine, because SDK can be used to build any TFM (target framework). BUT then when you try to run it, the test host will try to start using the appropriate runtime (netcoreapp3.1) a

[2020-09-24 09:58] nohwnd commented on #2570
@pedramrezaei what if you do `dotnet build` to build the solution, and then follow it by `dotnet test --no-build`? make sure to specify the same --configuration in both places though. Would that work?

[2020-09-24 11:13] nohwnd commented on #2570
@wdolek Can repro on your master. I collected some binary logs. It looks like it takes different paths if we provide the TargetFramework and when we don't provide it. When we provided it uses the new core build target. And the old one is missing a reference when calling compiler (csc).

@rainersigwald Would you mind having a quick look on this one, please. Looks like when the build itself has to f

[2020-09-24 18:13] wli3 commented on #2570
I'll look into this later

[2020-09-24 18:23] wli3 commented on #2570
actually is it possible to have a minimal repro? The missing reference seems very specific to this project. And there is a fair amount of custom build.

[2020-09-24 20:18] danjcosg commented on #1911
My team would find it really useful @kendrahavens. For Jenkins CI, the solutions we're using at the minute either involve the MSBuild plugin or 3rd party XSLT file. Outputting TRX directly would simplify things nicely

[2020-09-24 20:32] ap0llo commented on #2570
I think I ran into the same issue and was already setting up a repro for it before I found this issue.
You can find the repro code here: https://github.com/ap0llo/repro-net5-dotnet-test-error

Some observations I made that might be helpful:

- `dotnet test --no-build` works fine
- The issue seems to only occur when project referenced from the test project uses mutli-targeting
- The issue seems to

[2020-09-27 13:29] ViktorHofer opened #2582 "Blame adapter too verbose and throws exception if no dump was generated"
[code]

@nohwnd can we make the success path less verbose by not logging the "Sequence file will not be generated" message? This is always logged and doesn't provide much value. I would instead document when a Sequence gets generated with the blame logger.

Also it seems that the FileNotFoundException shouldn't occur in the "blessed" path when no dump is generated?

[2020-09-29 06:44] nohwnd commented on #2582
Which version of dotnet-sdk (otr tesplatform is this?) I fixed the file not found exception in rc2 I think.

As for the sequence file, people who are aware of it always asked why it was not generated in some cases, that is why the warning was added.  Without it it is hard to distinguish when it just did not work at all, and when it did not upload the sequence file for a reason.

[2020-09-29 06:58] nohwnd commented on #2578
@Sanan07  saw that you responded to other issues around run cancellation, could you have a look on this one please?

[2020-09-29 07:00] nohwnd commented on #2301
@cvpoienaru this is coded UI tests, do you know more about it, please?

[2020-09-29 07:10] ViktorHofer commented on #2582
Cool, I'm testing with an RC1 build.

Can we downgrade the warning to an information message only? We usually turn on TreatWarningsAsErrors and even though this code might not be affected as it comes from VSTest, IMO a warning is still an overkill.

[2020-09-29 07:26] nohwnd commented on #2582
Can we still make changes after rc2? Otherwise we would have to do it in net6.0 only

[2020-09-29 07:40] ViktorHofer commented on #2582
Not really as the SDK is now in ask-mode afaik. I think it's fine if we do this for 6.0, we might need a 6.0 SDK anyway if we depend on a working inisolation mode in dotnet/runtime.

[2020-09-29 11:15] Sanan07 commented on #2540
@wiweinbe When you call `AbortTestRun` it then calls `HandleTestRunComplete`, so you can collect your metadata as inside `HandleTestRunComplete`, but `CancelTestRun` just cancel active test run, so that why you can collect metrics.

As you can see from this comment [BaseTestsRun.cs ](https://github.com/microsoft/vstest/blob/50b5b33261f7593eb92ae221dae1b9c74234207e/src/Microsoft.TestPlatform.CrossP

[2020-09-29 15:41] Sanan07 commented on #2578
@richardwerkman I tried to reproduce the issue as you described above, but got the different behavior.

It did not work for me as you wrote in 3 step : `Application arguments: -f`, I got an error, so I needed to specify working project.

So I changed application arguments to `--project-file=C:\Work\Issues\2578\example\stryker-net\src\Stryker.RegexMutators\Stryker.RegexMutators\Stryker.RegexMutator

[2020-09-29 16:13] Sanan07 commented on #2399
@nohwnd reassigning to you, as you recently investigated it (in mail thread)

[2020-09-29 18:55] kendrahavens commented on #1911
@danjcosg To clarify, would you like to output a trx in junit format? (`dotnet test --logger trx` can already output a trx directly.)

[2020-09-29 20:27] danjcosg commented on #1911
@kendrahavens sorry, typo, I meant ability to output in JUnit format would be useful!

[2020-09-30 12:37] ViktorHofer commented on #2576
Isn't that already possible with the `--runtime` switch?

[2020-09-30 16:07] tannergooding commented on #2576
@ViktorHofer, the `--runtime` switch requires you to have built the project for a specific runtime as well.

This would allow you to say run my existing binaries, which are not RID-specific and which are AnyCPU, under a specific host for the current OS.
That is you could just say `x64`, `x86`, or `arm64`; you don't need to have built the project for a specific RID, you don't need to be aware of wh

[2020-09-30 16:15] ViktorHofer commented on #2576
You are right, when I invoke `dotnet test --runtime X` on a test assembly it ignores the value:

[code]

@nohwnd do you know why the https://github.com/dotnet/sdk/blob/master/src/Cli/dotnet/commands/dotnet-test/VSTestArgumentConverter.cs doesn't handle the `--platform` switch?

[2020-09-30 16:36] tannergooding commented on #2576
I'd like to call out that I think the following command is important to test: `dotnet test -c "$configuration" --no-build --no-restore -v "$verbosity" /bl:"$logFile" /err "$properties" "$solution"`

Namely, this is what I use in CI as I will have already run a discreet `restore` and `build` step and so I want to use the existing outputs.
I have discreet: `restore`, `build`, `test`, `pack` steps as

[2020-09-30 17:18] ViktorHofer commented on #2576
@tannergooding one more thing, doesn't `dotnet test --runtime any-x64` work?

[2020-09-30 17:18] tannergooding commented on #2576
I don't want to have to track every output manually. This should work when passing in a solution file and therefore cover all test projects at once with a single invocation.

If I have a project that has 20-40 test projects, I want to be able to say `dotnet test --no-build -configuration Debug -platform x86 Name.sln` and have it run all test projects under a 32-bit host for the current OS, even if

[2020-09-30 17:22] ViktorHofer commented on #2576
@tannergooding one more idea from my side. Can you try this out:

[code]

[2020-09-30 17:28] ViktorHofer commented on #2576
@nohwnd Tanner let me know that the above command doesn't work.

`dotnet test` or `dotnet vstest` already supports specifying the `--platform` when invoked on an assembly. I believe `--platform` should work as well when building for AnyCPU and using the emulation layer (as Tanner said above). Also I'm unsure why the `RunConfiguration.TargetPlatform` setting doesn't work.

[2020-09-30 20:10] dsplaisted commented on #2570
This will be fixed in the GA release of .NET SDK 5.0.1xx.  So we can close this issue.

[2020-10-01 07:58] #2570 closed

[2020-10-01 07:59] nohwnd commented on #2570
Thanks! Especially @rainersigwald 👏👏👏

[2020-10-01 10:16] Sanan07 commented on #1836
It looks live all work is done her. Closing.

[2020-10-01 10:16] #1836 closed

[2020-10-01 10:18] nohwnd opened #2585 "[net5] dotnet test output total time elapsed in all threads"
_originaly posted by @dtopuzov in https://github.com/dotnet/sdk/issues/13892_

Output of test run with `5.0.100-rc.1.20452.10`:
[code]
Those `9 m 44 s` are the total time of all threads, actually, tests were executed in ~3min.

dotnet sdk `3.1.401` shows the real elapsed time (not the sum of all treads).
I prefer the old behavior.

AB#1272733

[2020-10-01 18:39] kendrahavens commented on #1911
Gotcha, thanks!

[2020-10-01 21:18] oca159 commented on #2501
I am having the same issue with net core 3.1.202, any idea?

[2020-10-02 08:05] richardwerkman commented on #2578
@Sanan07 Hi, I've updated the steps to reproduce. I just followed them myself and got the error this issue is about:
![image](https://user-images.githubusercontent.com/14224500/94901171-7e917700-0496-11eb-9971-d1de8a023b70.png)

My guess is that you forgot to checkout the branches? If you run on master you won't get the error. And you have to clone twice as stryker cannot run on itself.

If you fo

[2020-10-02 14:43] Sanan07 commented on #2578
@richardwerkman  Thanks, I was able to repro the issue, but after getting that exception StrykerCore continued working.
Could you please launch vstest console inside your application with /diag option (https://docs.microsoft.com/en-us/visualstudio/test/vstest-console-options?view=vs-2019) to get diagnostic logs, so we can see where the exception is throwing.

[2020-10-02 14:58] richardwerkman commented on #2578
Great that you can now reproduce this.

Yes stryker keeps working, that is one of my concerns. I'll explain why: I throw an exception, but vstest seems to swallow it somehow? So I cant let the other code in stryker know the error occured. And after this error the vstest host has crashed. But stryker spins up as many vstest hosts as CPU's your PC has. So on large stryker runs the vstest hosts crash

[2020-10-05 14:01] Sanan07 commented on #2578
@richardwerkman I was able to run the app without the exception by removing `timeout` option from runsettings [timeoutSettings](https://github.com/stryker-mutator/stryker-net/blob/b67ddd7b25409207eb712d44410e62dc8f343c5c/src/Stryker.Core/Stryker.Core/TestRunners/VsTest/VsTestRunner.cs#L418).

[2020-10-05 14:58] richardwerkman commented on #2578
Interesting. So could that mean the error is raised when a timeout is triggered? Removing the timeout option is not a solution for stryker btw. Some of the mutations we place cause endless loops to take place. If no timeout is passed, some testruns will just run forever and stryker will never finish.

But its good to know the issue is correlated to timeouts.

[2020-10-05 15:38] pavelhorak commented on #1911
@danjcosg to output in JUnit format you can add a reference to the [JUnit Logger](https://www.nuget.org/packages/JUnitXml.TestLogger) nuget package in your test project and then use the following command to run tests
`dotnet test --test-adapter-path:. --logger:junit`

See more usage details: [https://github.com/spekt/junit.testlogger#usage](https://github.com/spekt/junit.testlogger#usage)

[2020-10-05 15:55] Sanan07 commented on #2578
@richardwerkman I decreased timeout to 1000ms and got very soon aborting [(RunSettings description)](https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?view=vs-2019)
So you will need to determine timeout for each your test case for successful running then.

[2020-10-09 05:06] wli3 opened #2590 "dotnet test should fail when it can't find any tests"
---
**Issue moved from dotnet/sdk#13942**
- Please respond to @omajid.

---

_From @omajid on Thursday, October 1, 2020 7:26:04 PM_

At various times, `dotnet test` seems to run into an issue where it can't identify any tests. When that happens, `dotnet test` exits with a 0 exit code. Everything interprets 0 as success. That tells the user (and any automated systems) that everything is working, ev

[2020-10-09 05:06] wli3 commented on #2590
---
**Issue moved from dotnet/sdk#13942**
- Please respond to @omajid.

---

_From @omajid on Thursday, October 1, 2020 7:26:13 PM_

cc @tmds @aslicerh

[2020-10-09 05:06] wli3 commented on #2590
---
**Issue moved from dotnet/sdk#13942**
- Please respond to @omajid.

---

_From @omajid on Thursday, October 1, 2020 7:32:41 PM_

We ran into this issue during a previous release too: https://github.com/microsoft/vstest/issues/2079. This also had the bug that `dotnet test` was not actually working but returning with a 0 exit code fooling CI into thinking that everything was working correctly.

[2020-10-09 05:06] wli3 commented on #2590
---
**Issue moved from dotnet/sdk#13942**
- Please respond to @tmds.

---

_From @tmds on Friday, October 2, 2020 7:22:20 AM_

A zero exit code MUST mean success for `dotnet test`.

I feel like clicking the ':+1:'-button a hundred times.

cc @KathleenDollard

[2020-10-09 09:42] nohwnd commented on #2590
https://github.com/microsoft/vstest/issues/2247
https://github.com/microsoft/vstest/issues/2262

[2020-10-11 09:03] MarcoRossignoli commented on #2278
@nohwnd @jakubch1 can someone please take a look at this and tell me if we can compile for netstandard?
We want to allow to .NET Framework apps to use collectors to avoid "early process kill" msbuild issue.
Some more info https://github.com/coverlet-coverage/coverlet/issues/705#issuecomment-586733191

Feel free to reach me off line also, thanks guys!

[2020-10-11 20:23] saucecontrol commented on #2278
As the netcore and netfx platforms diverge, it is becoming ever more important to be able to test on both and merge coverage results to make sure everything is covered.  I really hope this can be fixed.

[2020-10-12 10:13] #2578 closed

[2020-10-12 17:55] ViktorHofer opened #2592 "dotnet test logs "netcoreapp6.0" instead of "net6.0""
See log here: https://helixre107v0xdeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-39923-merge-aa9b5bbbcfef4b559b/System.Net.Security.Tests/console.7e5e7c45.log?sv=2019-07-07&se=2020-11-01T16%3A25%3A58Z&sr=c&sp=rl&sig=91ls7H2FESnHzB5xwF328nTIAR6ll5m0TAnYPSZOmeA%3D

Using the latest runner: `16.8.0-release-20201009-01`.

There is no `netcoreapp6.0` TargetFramework. Instead it should be `

[2020-10-12 18:01] ViktorHofer opened #2593 "Hard to distinguish between a test host crash because of a hang or an actual crash"
Example log:

[code]

The log says that the run was aborted because the test host process crashed but after that it says that the inactivity time has elapsed. I'm unsure if this means that the test process crashed because of a test crash or because a test hang.

[AB#1583163](https://devdiv.visualstudio.com/0bdbc590-a062-4c3f-b0f6-9383f67865ee/_workitems/edit/1583163)

[2020-10-12 18:20] Sanan07 commented on #2592
@ViktorHofer What is targetFramework in your runsettings?

[2020-10-12 18:46] ViktorHofer commented on #2592
I don't specify one, I assumed it's auto-detected.

[2020-10-12 19:01] Sanan07 commented on #2592
You can look TFM through diag logs. From code I see that TP gets targetFramework from runsettings and then call NuGetFramework.Parse to get exact name for output.

[2020-10-12 19:06] ViktorHofer commented on #2592
I assume someone writes that then into the in-memory representation of the .runsettings file. Here is our .runsetttings (we dynamically generate it):

[code]

[2020-10-13 08:22] nohwnd commented on #2593
I tried to tell the runner that datacollector is killing the testhost, but I could not find a good way, this probably needs more love.

[2020-10-13 08:54] #1911 closed

[2020-10-13 10:59] Sanan07 commented on #2592
What about TFM of dll which you are testing `System.Net.Security.Tests.dll`?

[2020-10-13 12:14] nohwnd commented on #2592
We rely on the Nuget.Frameworks package for doing that conversion, I would look into how the version that is shipped with SDK (because that is where we load it from) behaves. The flow here should be that we look at the assembly metadata and find .NETCoreApp,6.0

[2020-10-13 12:35] ViktorHofer commented on #2592
`net6.0`...

[2020-10-13 14:26] ViktorHofer opened #2594 "Test duration numbers are wrong"
[code]

This shows that the test assembly executed for more than 9 minutes even though it only took ~1 minute. @stephentoub just noticed the same issue on his machine locally as well.

Using the latest runner: 16.8.0-release-20201009-01

[2020-10-13 14:30] ViktorHofer opened #2595 "Test timeout kills the process while the debugger is attached"
The test timeout should likely not be respected when a debugger is attached. Conditioning on the DEBUG switch wouldn't work as the SDK contains the Release configuration of VSTest.

[2020-10-14 11:41] nohwnd commented on #2278
I don't know why it is done that way, if coverlet is targetting netcoreapp2.1 it should probably distribute as such. When I look at coverlet nuget package it lists no dependencies. I don't know what the minimal requirements are for coverlet, but Microsoft.NET.Test.SDK targets netcoreapp1.0, netcoreapp2.1 and net45. So if you want coverlet to run everywhere where test.sdk runs you should target tha

[2020-10-14 11:52] nohwnd commented on #2592
@Sanan07  are you going to take this issue? I think there might be a chance that it fixes itself when NuGet.Frameworks 5.8.0 is released and dotnet sdk starts relying on it.

[2020-10-14 12:34] MarcoRossignoli commented on #2278
Minimum for coverlet core features is `netstandard2.0`(`coverlet.core.dll` shared between 'drivers' .NET tool, msbuild tasks, collectors) so we're ok to be usable on runtime that support >= `netstandard2.0` I know we won't support net45 but is better than nothing support >=net461.
Today we don't support any version of .NET Framework.

I know, I don't know why was done as is, by the way we can go o

[2020-10-14 12:38] Sanan07 commented on #2592
I tried to reproduce the issue, but was not successful, so I am not sure, what to do next, cause I do not see any issue with code in TP, it just reads target framework and uses Nuget to convert it. So probably your thoughts are correct, we can wait until Nuget update.

[2020-10-14 13:27] MarcoRossignoli commented on #2299
Closing this because no more doable.

[2020-10-14 13:27] #2299 closed

[2020-10-14 13:38] MarcoRossignoli commented on #2278
closed in https://github.com/coverlet-coverage/coverlet/pull/970

Thanks to all for the support!

[2020-10-14 13:38] #2278 closed

[2020-10-14 14:35] nohwnd commented on #2278
ping us when you release it, we should get it into templates in early stage, to detect errors while we can still fix them.

[2020-10-14 14:40] MarcoRossignoli commented on #2278
Got it, we don't have an ETA atm we have one fix on queue and after we can go, I'll let you asap.

[2020-10-14 19:13] gbirchmeier commented on #799
@timbaas That worked great for me.  Thank you.

[2020-10-15 01:21] moh-hassan commented on #799
@timbaas ,It's working fine using Nunit framework in netcore 3. Thanks.

[2020-10-16 11:25] maciejw commented on #522
OMG I'll add this info here, in case someone in on a verge of nervous breakdown and is looking for this info like me:)

if you have a custom logger and you want to use friendlyName, or url to specify logger you want to use, you have to put your logger in assembly that ends with ```.TestLogger.dll``` for example ```my.TestLogger.dll``` without it you have to use I think setting file and specify Cod

[2020-10-17 09:39] farhad-taran commented on #2573
I am having the same issue

[2020-10-17 13:39] VictorioBerra commented on #2573
@farhad-taran

I am still waiting on an official reply, but the main issue is that its trying to test the default .dll in /Debug, not the one that was built in /Release. If you hardcode the Configuration option in your test command it will work.

When arg is commented out, it builds and tests both in Debug.

[2020-10-17 13:44] VictorioBerra commented on #2573
I should reply with my usecase for anyone else (and my future self) since I cant edit the orig post now:

Running the tests AFTER the container is built would be really important if you wanted to connect to a SQL container to run the tests against using docker-compose. But if you run the tests after like in `ENTRYPOINT` you can no longer get access to the orig Configuration that was used to build

[2020-10-19 17:05] danjcosg commented on #2334
Still experiencing this

[2020-10-19 18:29] caghand opened #2599 "DataCollector in ".runsettings" file does not get injected into the test host process"
## Description
When running `dotnet test`, if I specify a DataCollector using the command line, the in-process collector *will* be injected.  But if I specify a DataCollector using a ".runsettings" file, the in-process collector *won't* be injected.

## Steps to reproduce
**Good case:**
`dotnet test <path_to_csproj_file> --collect "XPlat Code Coverage"`
- coverlet.collector gets injected into the

[2020-10-20 13:50] jesperoastrom commented on #2261
We had the exact same issue with our build. It turned out to be misconfigured settings for code coverage. In our CodeCoverage.runsettings-file we were not properly excluding test projects from coverage.

[2020-10-20 15:10] nohwnd commented on #522
Yup it's also in the docs:

https://github.com/Microsoft/vstest-docs/blob/master/docs/report.md#create-a-test-logger

## Create a test logger
Go through the following steps to create your own logger
1) Add a nuget reference of package `Microsoft.TestPlatform.ObjectModel`.
2) Implement ITestLoggerWithParameters (or ITestLogger, if your logger is not expecting any parameter). [Logger Example](https:

[2020-10-20 21:22] dten commented on #2282
`dotnet test /m:1` does not exhibit the same problem as `dotnet test` for me

[2020-10-21 09:58] #2540 closed

[2020-10-21 13:15] romantitov commented on #411
Issue still happening with dontet version 3.1.403

[2020-10-22 05:20] mwpowellhtx commented on #2384
Same for me, `MSB4181` trying to run some tooling, an _MSBuild Task_ to _BumpAssemblyVersions_. I get the same thing trying to run against a _WindowsDesktop WinExe WinForms_ `netcoreapp3.1` build.

[2020-10-22 07:20] nohwnd commented on #2384
@mwpowellhtx this should be fixed in 5.0-rc2, but will continue to happen on 3.1, there is servicing fix https://github.com/dotnet/toolset/pull/4941 up for consideration, so hopefully the committee deciding about that will approve and merge.

[2020-10-22 08:00] huiren-jiang commented on #2572
I cannot repro the issue when I extract the related code to a minimized example, before I found the child process is blocked by flush. The root cause is because there is no read operation to `StandardOutput` in parent process. It's a little bit tricky because the behavior is different across different platform. This issue hid in our code before we finally found it.

This issue could be closed sinc

[2020-10-22 12:42] Sanan07 commented on #2594
@ViktorHofer  which test adapter do you use? Is it XUnit? As I can see from code we use duration which is sent from adapter, so we convert it and output in console

[2020-10-22 13:13] mwpowellhtx commented on #2384
@nohwnd Appreciate the update, thank you. Is there anything I can do on my end? Pin a `runtimeconfig.json` to my tooling to avoid this embarrassing snafu? Thank you...

[2020-10-22 13:52] quixoticaxis opened #2602 "The active test run was aborted. Reason: Unexpected character encountered"
## Description
If I pass strings that are not correct Unicode as parameters to xunit theories, the test run fails:

If I use `dotnet test --diag log.log`, I see that the values cannot be deserialized by Newtonsoft.Json.
I'm not certain whether this is a bug of xunit runner (I've created the [issue](https://github.com/xunit/visualstudio.xunit/issues/243) just in case), or of the runner infrastructu

[2020-10-22 14:11] nohwnd commented on #2384
You can stick with older 3.1 sdk.

https://github.com/dotnet/sdk/issues/13431#issuecomment-714380033

[2020-10-23 11:06] qsdfplkj commented on #1870
For me the assembly name was wrong it was b.c changing it in projects properties to a.b.c solved it.
It was not matching the (prefix of) the namespace a.b.c.d;

[2020-10-24 11:38] ViktorHofer commented on #2594
xunit.runner.visualstudio.

Some offline conversations with @ericstj:

[Yesterday 11:39 PM] Eric St. John
    I noticed something funny when playing with VStest
​[Yesterday 11:39 PM] Eric St. John
    If I run it on System.Text.Json.Tests it says the tests take 3minutes, however the process is exiting in under a minute
​[Yesterday 11:40 PM] Eric St. John
    (~53s)
​[Yesterday 11:40 PM] Eric St. J

[2020-10-24 11:43] ViktorHofer commented on #2594
cc @clairernovotny

[2020-10-24 22:17] smfeest commented on #2282
Same for me. On Ubuntu 20.04.1 for both projects I'm actively working on `dotnet test` stops the terminal from echoing after completion pretty much every time, but I've not been able to reproduce the problem with `/m:1` added to the arguments

[2020-10-24 22:44] WellspringCS commented on #2282
Perhaps this is a stupid question, but what does /m:1 mean, and why am I not able to answer that question with a quick google? Am I missing something? I did try to figure it out without having to ask...

[2020-10-24 23:58] chrisheil commented on #2282
@WellspringCS based on ths link, i think it might be an MSBuild param to run tests sequentially instead of in parallel

https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/Examples/MSBuild/MergeWith/HowTo.md

[2020-10-25 07:34] smfeest commented on #2282
This had me stumped for a while too @WellspringCS . As @chrisheil suggests its an option that's passed through to MSBuild to specify the maximum number of concurrent processes used. It's documented under 'maxCpuCount' here https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-command-line-reference?view=vs-2019

[2020-10-26 09:44] xamadev commented on #1085
Any news on this? Would like to be able to override TestRunParamteres defined in .runsettings file by passing it to CLI command in my CI-pipeline:

`dotnet test -- myrunparametertobeoverridden=newvalue`

[2020-10-26 10:36] Haplois commented on #2580
/cc: @jakubch1

[2020-10-26 12:43] WellspringCS commented on #2282
Ah, thank you, @smfeest and @chrisheil -- I've given it a try on ubuntu 18.04, and a few tests over here suggests that /m:1 solves the problem for me, too. I'm a believer.

[2020-10-26 15:20] jakubch1 commented on #2580
Consider having separated configs for test adapters and data collectors

[2020-10-26 21:32] AbhitejJohn opened #2607 "Aborting test discovery prints a message indicating that the test host crashed"
## Description
When a discovery operation is aborted from VS Test Explorer, the test platform ends up sending the following message to the Test Explorer which is printed to the Output->Tests pane.
"The active test discovery was aborted. Reason: Test host process crashed"

This does not happen when a test run is aborted though. This message is confusing and would be great to get rid off in this spe

[2020-10-26 21:34] AbhitejJohn commented on #2607
/cc: @shyamnamboodiripad.
Also tagging @cvpoienaru as well since this would fall in the same workflow as the other performance updates you were thinking about.

[2020-10-27 20:27] mcallaghan-bsm commented on #2261
We have the same intermittent issue here.

rough important list of packages in our UT test project:
[code]

Our default gitlab runner job is on a kubernetes runner, and defaults to docker image: `"mcr.microsoft.com/dotnet/core/sdk:3.1-alpine"`

[2020-10-28 17:37] kartheekp-ms commented on #2593
In `NuGet.Client` team we use dotnet test hang detection and [`longRunningTestSeconds`](https://xunit.github.io/docs/configuration-files#longRunningTestSeconds) setting to enable long-running (hung) test detection. If any tests is running longer than time specified, xUnit will display the test as long running one in the log followed by `dotnet blame` log.
[code]

[2020-10-28 18:21] kartheekp-ms opened #2608 "CollectDumpOnTestSessionHang doesn't save dump file to TestResults directory when Azure DevOps pipeline job was canceled due to the timeout"
## Description

We [NuGet.Client](https://github.com/NuGet/NuGet.Client) team are working on running tests in blame mode to collect dumps when tests hang on the CI pipeline.

[Linux tests job](https://github.com/NuGet/NuGet.Client/blob/dev/build/vsts_build.yaml#L240) on the CI pipeline is configured to timeout after `45 mins`. We publish build artifacts such as `dump`,`sequence.xml` and `test resu

[2020-10-28 18:23] insightcoder commented on #2200
@nohwnd I did indeed try your workaround, but when trying to run on a machine that doesn't have dotnet installed I do also get the `Could not find 'dotnet' host` error that you linked in #2337.

Does this mean that test projects cannot actually be packaged up to be truly self-contained?

[2020-10-28 18:56] ViktorHofer commented on #2593
@kartheekp-ms How does that relate to this issue?

[2020-10-28 19:13] kartheekp-ms commented on #2593
@ViktorHofer - The title of the issue says `Hard to distinguish between a test host crash because of a hang or an actual crash`. I agree with that. I thought using `xUnit longRunningTestSeconds` setting will help because it adds additional information `[Long Running Test]` before hang/crash dump was collected.

[2020-10-28 19:22] kartheekp-ms commented on #2608
I am unable to reproduce it locally on Windows. Here are the steps I followed.

1) Execute `dotnet test "a.dll" "b.dll" --settings "path to .runsettings file"`
[code]
2) `dotnet test` started executing tests 'a.dll` in parallel. The process encountered a test which ran more than 1 min. A dump was collected.
[code]
3) I pressed `Ctrl + c` to exit the test execution immediately. Hence `dotnet test`

[2020-10-29 08:12] ovirta commented on #2459
We are still experiencing build failures during test phase running code coverage in Azure devops as part of the PR pipeline. The workaround suggests providing path to empty directory for adapters and we have tried adding `-a ./path/to/empty/dir` but that didn't help.

Roughly 50% of our builds are now failing.

This is excerpt from one of failures.

[code]

Start of the log file with version:

`20

[2020-10-29 08:15] ovirta commented on #2459
@ShreyasRmsft  Any updates?

[2020-10-29 09:39] ovirta commented on #2459
FYI

After downgrading packages in our test projects issue has not reproduced:

[code]

[2020-10-29 12:52] pavelhorak commented on #2247
Expected behaviour is that vstest.console.exe command, like any other external command, exits with status code 0 if it terminates normally. This also applies to a situation where no tests meet the selection criteria. Now, we won't change this as a DEFAULT behaviour, however, to satisfy the needs, we will introduce an option (new .runsettings parameter and command line switch like suggested by @icn

[2020-10-29 13:41] ViktorHofer commented on #2594
Closing as dup of https://github.com/microsoft/vstest/issues/2585

[2020-10-29 13:41] #2594 closed

[2020-10-29 13:44] jakubch1 commented on #2580
It would be good to be able to specify order. For example

<Order>Default,FromAdditionalAdapterPath,Local</Order>

[2020-10-29 13:49] stephentoub commented on #2585
+1.  The new behavior is meaningless.

[2020-10-29 15:13] Volkmire commented on #2247
Thanks for an update, @pavelhorak .
On a side note, I urge you to check what exit code is returned if you try to use `cp` or `copy` commands if you specify a non-existent file to them or a pattern that matches 0 elements. I guess, it's actually a developer who defines what is considered a normal termination after all. :)

[2020-10-29 19:01] zivkan commented on #2037
Can someone please elaborate on "you can ignore the warning"?  Was this advice given because netcoreapp5.0 is able to execute binaries compiled for netcoreapp2.1?  Our goal is to detect when our code has problems when running on the older runtime, not if our code compiled for an older TFM works when running on a newer runtime. Hence it's important to us that the netcoreapp2.1 test assembly actuall

[2020-10-29 19:06] heng-liu commented on #2037
Sorry, I'm not able to reopen it.
Hi @vagisha-nidhi, @ShreyasRmsft ,could you help re-open this issue? Thanks!

[2020-10-30 13:30] plachta11b commented on #2261
I have got here due to use of wrong function.
`Assert.ThrowsException<MyException>(async () => await myFunction())`
Fixed by replacing to async version:
`await Assert.ThrowsExceptionAsync<MyException>(async () => await myFunction())`

[2020-10-30 13:35] tomaustin700 opened #2667 "Vstest.console.exe exited with code -1073741819."
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: VsTestV2

## Environment
- Server - Azure Pipelines

- Agent - Private

OS is Windows 10 2004, Agent version is 2.175.2

## Issue Description

One of our pipelines is throwing the following exception or completely lock

[2020-10-31 12:51] WellspringCS commented on #2282
Problem has not resurface since I added -m:1. I can live with this workaround until the real solution arrives. Thanks again @smfeest @chrisheil  for explaining and @dten for pointing it out!

[2020-10-31 13:41] rmunn commented on #2282
The fact that -m:1 solves the issue is more evidence for the race condition that I described in https://github.com/microsoft/vstest/issues/2282#issuecomment-609686635. Hopefully that description will allow someone to find a solution.

[2020-10-31 17:54] tmds commented on #2282
The solution on vstest side is what I put in https://github.com/microsoft/vstest/issues/2282#issuecomment-614620392:

This change for .NET 6: https://github.com/dotnet/runtime/pull/42303 should also make it less likely terminal ends up non-echoing after running `dotnet test`.

[2020-11-01 00:00] roji commented on #2309
FWIW there's a school of thought that debug assertions should immediately terminate the test process, by-design (although ideally in a sane way that allows understanding which test failed). The main issue with translating the failure into an exception, is that it may get handled in various ways by the normal program flow. Since code typically doesn't expect exceptions to actually be raised from as

[2020-11-02 14:41] nohwnd commented on #2608
The `ResultsDirectory` option under DataCollector  > Configuration does not work, and never worked in this way. It specified a folder that was used as temporary location to store the dumps, before they were picked up by the attachments subsystem and moved to the "TestResults" folder where you have your xml reports, trx etc.

The folder specified in ResultsDirectory had to exist, but always ended u

[2020-11-02 14:43] nohwnd commented on #2602
Based on the callstack it looks like our issue:

Do you know which character causes that issue specifically?

[2020-11-02 14:45] nohwnd commented on #2607
https://github.com/microsoft/vstest/issues/2270 is it related to this? Which version do you see that on? I remember not being able to get stable repro, but after the fix it was way less common.

[2020-11-02 14:48] nohwnd commented on #2607
https://devdiv.visualstudio.com/DevDiv/_git/VSUnitTesting/pullrequest/223694 this is the fix I am referring to.

[2020-11-02 15:07] nohwnd commented on #2200
I did one more prototype somewhere. What we would need to do would be:

1) do the thing above
2) add a condition that would do the same for testhost.dll when "testhost" option is passed

This way we have 1 executable that we build from the test project that refers both to vstest.console, and `testhost` and also contains the tests.

3) change the testhost provider code in vstest.console to be able

[2020-11-02 15:39] nohwnd commented on #2037
This whole behavior is imho a mix of historical reasons when only running in process was possible, wrong assumptions and inability to effectively change the current behavior to make more sense for .NET Core.

This warning happens because using dotnet test with a dll will just direct the call to vstest.console. vstest.console will grab the whole set of assemblies and check if they are all targettin

[2020-11-02 18:38] quixoticaxis commented on #2602
Unfortunately, I don't know.

I empirically found out that it definitely fails on a string of the first seven high surrogates (integer codes: 55296, 55297, 55298, 55299, 55300, 55301, 55302):
[code]
but it fails with a different error:

I can't find a particular sequence that leads to the error in my original post. That's why I pick strings randomly.

[2020-11-02 18:41] insightcoder commented on #2200
@nohwnd Thanks for the reply and the thought.  For my particular use case, we have decided to use either a console app or a service to run some high-level end-to-end tests outside of the xUnit framework.  Not being able to run in `self-contained` mode was just one of the many factors that contributed to that.  I still think that being able to run tests in `self-contained` mode would be extremely h

[2020-11-03 11:45] #2247 closed

[2020-11-03 11:45] #2262 closed

[2020-11-03 11:45] #2590 closed

[2020-11-03 14:36] ViktorHofer commented on #2593
I think it would be best if VSTest itself logs all the information that is useful to identify a hanging test and not rely on an adapter's feature for that.

[2020-11-03 17:01] marek-safar opened #2614 "vstest hides problems when runtime libraries are broken"
When vstest is used on dotnet/runtime and underlying implementation has broken networking implementation vstest fails with no details about the problem.

The error message issued is

[code]

The only detail in the verbose log is

[code]

@jkotas

[2020-11-03 17:05] marek-safar opened #2615 "DivideByZeroException when there are no tests discovered"
The verbose log contains following exception when there are no tests discovered (probably accidentally)

[code]

this points to this line https://github.com/microsoft/vstest/blob/aabbb714e344c0edd2482d6c3b7c2b3963594ad3/src/Microsoft.TestPlatform.Extensions.HtmlLogger/HtmlLogger.cs#L285

AB#1272732

[2020-11-03 17:05] jkotas commented on #2614
cc @ViktorHofer

[2020-11-03 17:07] ViktorHofer commented on #2614
thanks for the ping. Marek and I talked about this offline and I asked him to file the issue. cc @nohwnd

[2020-11-04 09:06] tapika opened #2616 "Ability to halt testing and wait for developer to come up at the very point of exception handler"
We have huge amount of tests running in azure devops. We are using C#, C++ and C++/cli and test applications are mostly written in C#.

Some of tests are flaky, so they persists with some probability - for example 20%.

This basically means that test works 4 times out of 5.

It takes time to run tests, so it could be so that reaching of problematic point could take 1-4 minutes.

Trying to reproduc

[2020-11-04 10:39] nohwnd commented on #2616
So would this work roughly?

[code]

I am not sure we'd be able to do that in all code. But if you are willing to PR it we can help you get that to work.

[2020-11-04 11:41] tapika commented on #2616
This could be good starting point at least. What means "willing to PR" ?

[2020-11-05 01:38] kartheekp-ms commented on #2608
I found `ResultsDirectory` option in this [doc](https://github.com/microsoft/vstest-docs/blob/master/RFCs/0028-BlameCollector-Hang-Detection.md#steps-to-configure). I thought it make sense to configure `ResultsDirectory` option to `AGENT_TEMPDIRECTORY` because the folder is cleaned after each pipeline job even if attachments subsystem fails to pick the dump files in the worst case.

If `ResultsDir

[2020-11-05 09:14] nohwnd commented on #2608
I thought that is done automatically, by setting the TEMP for the agent, at least it seemed to work that way when I tried it, but now I don't see it happen.

Yeah that slipped during review.

You can do that using the variable mentioned above.

I thought it handles cancelling correctly. But might re-visit it and fix it. If it does not happen it would be a bug.

[2020-11-05 18:03] kartheekp-ms commented on #2608
I even tried to mimic cancellation by manually cancelling the CI build after the dump was collected when a test timed out. I didn't see dump file published to `TestResults` directory. It looks like a bug to me unless I am missing something.

[2020-11-05 18:11] kartheekp-ms commented on #2608
If `VSTEST_DUMP_PATH ` setting causes `dotnet test` to create dumps directly in this folder instead of creating in `%TEMP%` and moving them later to `desired` location, then we can consider this option.

[2020-11-05 20:00] tobyash86 opened #2620 "Security vulnerabilities reported by OWASP Dependency Check"
## Description
Some of VSTest assemblies are reported as vulnerable by security scanner. Looking at the details, it seems like those vulnerabilities can be false positives. The CVE messages are related to DIA and VSCode. Does the same issues exist also in VSTest (e.g. some vulnerable fragments of code are re-used)?

## Steps to reproduce
Use OWASP Dependency Check to scan Microsoft.TestPlatform Nu

[2020-11-06 20:22] Haplois commented on #2620
/cc: @jakubch1, @cvpoienaru

[2020-11-07 15:25] 0xd4d opened #2623 "Microsoft.NET.Test.Sdk v16.7.0 and later are ~4x slower than v16.6.1"
## Description

Microsoft.NET.Test.Sdk v16.7.0 and later are ~4x slower than v16.6.1

I reported https://github.com/microsoft/vstest/issues/2215 a year ago, maybe these issues are related. That issue was fixed and I closed it.

What changed between 16.6.1 and 16.7.0? Serializing more data? Used new serializer version/nuget? Or something else?

## Steps to reproduce

.NET: 5.0.100

ClassLibrary1.cs

[2020-11-09 06:26] jakubch1 commented on #2620
Regarding msdia.dll we do not copy their code but we use their binaries especially msdia140.dll for both x86 and amd64. Those binaries are included into Microsoft.TestPlatform nuget package.

Regarding  'Visual Studio Code Python Extension Remote Code Execution Vulnerability' could you please help us investigating it? I believe we don't have any python code.

[2020-11-09 11:04] nohwnd commented on #2623
@Sanan07  @cvpoienaru  you are focusing on perf, could you have a look on this. That's a huge downgrade in performance.

[2020-11-09 13:38] tobyash86 commented on #2620
That's interesting. If you could look at the screen-shot I have attached... It seems like the scanner has not detected any issues on msdia assemblies, but it reports on:
- Microsoft.VisualStudio.TestTools.UITest.Extension.IE64.Communication.dll
- Microsoft.VisualStudio.TestTools.CppUnitTestFramework.x64.dll

I am not expert regarding details of how OWASP Dependency Check works, but it looks like a

[2020-11-09 14:08] tobyash86 commented on #2620
I have investigated a bit how the scanner works. It collects a set of evidences to match the assembly with CVE. In case of Microsoft.VisualStudio.TestTools.UITest.Extension.IE64.Communication.dll it looks like this:

![image](https://user-images.githubusercontent.com/34890669/98551147-46533480-229d-11eb-8ff4-160a895faaba.png)

Also, while looking on the [CVE-2014-3802](https://nvd.nist.gov/vuln/de

[2020-11-09 14:25] Sanan07 commented on #2623
@0xd4d I tested following your instructions and got these results:

When I test using .NET SDK 3.1.403 I got the same numbers as yours and sometimes a bit higher (around 4 minutes), but when I use the latest .NET SDK 5.0.100-rc.2.20479.15 I got :

Version | Time
--------|------
16.6.1 | 1 m 46 s
16.7.0 | 2 m
16.9.0-preview-20201020-06 |  1 m 47 s

These are screenshots :
![16 6 1](https://user-ima

[2020-11-09 15:58] ffMathy opened #2625 "Specifying extremely long filters doesn't work"
I get an error when passing an extremely long filter as the --filter argument.

Is it possible to circumvent this limitation? Can I specify a filter from a file, or pass it in from stdin?

Or is there another way to execute extremely long filters?

We are talking probably 50.000 characters long.

[2020-11-09 16:21] Sanan07 commented on #2625
@ffMathy Could you please show what error are you getting and the command which you ran.

[2020-11-09 16:32] nohwnd commented on #2625
Probably this:

[code]

Seems like issue with the command line length. Not sure how to work around that, probably via environment variables, or runsettings.

[2020-11-09 16:51] ffMathy commented on #2625
Yes @nohwnd. That's exactly the reason.

You may wonder why I want to have such a large filter.

I'm building a CLI which can run in watch mode, and run tests automatically as you save your files. However, it only runs tests that ran through the lines you changed (affected tests).

It's similar to DotCover's automatic testing, or Visual Studio's Live Unit Testing feature, but works well with Visua

[2020-11-09 16:55] ffMathy commented on #2625
What I'd like to run, is a set of tests that have been affected by the lines that the developer changed (based on previous coverage reports), but I'd also want to run new tests that the developer may have added, that are new compared to the old coverage report.

So let's say the previous coverage report contains coverage for tests A, B, C, D, E and F.

Now, the user changes some lines that tests A

[2020-11-09 16:55] ffMathy commented on #2625
And as you can imagine, that filter quickly becomes huge.

[2020-11-09 16:59] Sanan07 commented on #2625
Why not to run test discovery and get new tests instead of filtering already known tests?

[2020-11-09 17:15] ffMathy commented on #2625
The problem with test discovery (I'm assuming you mean `--list`) is that it doesn't return the namespace of tests - only the name. In other words, there may be a conflict if two tests are named the same.

[2020-11-09 17:16] ffMathy commented on #2625
And it still doesn't solve the problem if the developer has changed a lot of files, leading to a large filter for the affected tests (the `FullyQualifiedName=A|FullyQualifiedName=B|FullyQualifiedName=C` part).

[2020-11-09 17:25] 0xd4d commented on #2623
.NET SDK: 5.0.100-rc.2.20479.15

version | VS test says | actual time measured with `Measure-Command`
--------|--------------|-------------------------------------
16.6.1 | Duration: 1 m 1 s | 58.8492535 seconds
16.9.0-preview-20201020-06 | Duration: 57 s | 210.8753572 seconds

It claims to have executed in 57 s but the actual time is 211s.

With 16.6.1 it claims to have executed in 61s but the ac

[2020-11-09 19:30] wli3 opened #2626 "dotnet test <dll> -- <RunSettingsOverrides> fails with NotImplementedException"
---
**Issue moved from dotnet/sdk#14401**
- Please respond to @hallipr.

---

_From @hallipr on Sunday, November 1, 2020 11:56:40 PM_

When calling `dotnet test some.dll -- key=value`, I get a run time exception in CLIRunSettingsArgumentExecutor.

## Given a single test
[code]

## in a simple test project, simple.csproj
[code]

## After `dotnet build`, this doesn't work
[code]

[code]

## These al

[2020-11-09 19:30] wli3 commented on #2626
---
**Issue moved from dotnet/sdk#14401**
- Please respond to @plemasantos.

---

_From @plemasantos on Friday, November 6, 2020 2:17:11 PM_

Bumped into the exact same problem a couple of minutes ago.

[2020-11-09 21:55] chaoticsoftware commented on #2261
Anyone has any update for this issue or any idea how to solve it?

[2020-11-10 13:38] Sanan07 commented on #2623
Yes, I agree with you about that numbers. I tested using your `Measure-Command` and also in parallel started Stopwatch in Windows. So the numbers of `Measure-Command` and Stopwatch were the same, but `dotnet test` number was 2 times less.

![meas](https://user-images.githubusercontent.com/8465726/98679069-bd510180-235f-11eb-900d-efb9e144bd44.PNG)

Something wrong with our duration calculation. Pot

[2020-11-10 19:54] kartheekp-ms commented on #2608
A work-around for this issue to increase the CI job timeout so that that `dotnet test` is not interrupted by a cancellation request and has sufficient time to publish dumps to `Test Results` directory even if there is a hang.

[2020-11-11 08:28] nohwnd commented on #2623
@Sanan07 what you measure by the wall clock (Measure-Command), is all startup cost, discovery and all other overhead. The time reported by the summary is the time spent running tests.

[2020-11-11 13:58] jakubch1 commented on #1263
I'm working on changes related to this:
1) When you specify DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.CodeCoverage.CollectFromChildProcesses=False we make sure to not instrument child processes and this should make code coverage never fails. Currently this doesn't work correctly.
2) I will try also to use DOTNET_ADDITIONAL_DEPS and pass reference to Shim.dll which should

[2020-11-11 14:03] jakubch1 commented on #1263
@yangyadi1993  could you please provide info what exact parameters you are passing? This looks like something wrong with your command.

[2020-11-12 10:46] nohwnd commented on #2626
@hallipr @plemasantos  This was fixed a while ago,  it does not happen in net5.0.

It won't. `dotnet test + dll` uses different path than `dotnet test + csproj` (or sln, or just a folder). `dotnet test + dll` is pretty much `dotnet vstest`, which just passes the parameters to `vstest.console`. `dotnet test + csproj` will lookup the csproj, run msbuild, pass parameters through msbuild, grab the pat

[2020-11-12 17:21] marinovdh commented on #2384
In my case I was just missing NuGet package _Microsoft.NET.Test.Sdk_ in my solution's test project...

[2020-11-12 17:48] 0xd4d commented on #2623
As I suspected, it appears to be a serialization issue. I've updated the first post with a minimal repro.

I debugged the code and randomly saved 2 serialized messages received by `TestRequestSender.OnExecutionMessageReceived()`, here are the results (length in chars):

 Length|Name|Version
 ------|----|-------
  30453|new-msg|16.9.0-preview-20201020-06
  30454|new-msg2|16.9.0-preview-20201020-06

[2020-11-12 18:22] cvpoienaru opened #2629 "Early testhost startup performance improvement for test execution"
Deliver test execution performance improvements by starting the testhost early and brushing off that time from execution by decoupling the two operations.

[2020-11-12 18:30] Sanan07 commented on #2623
@0xd4d Thank you for your investigation. We also found out this. So I think we know how to fix this and after we do it, we will put an update here.

[2020-11-13 08:01] pbarbero opened #2632 "Visual Studio Test Platform Installer version 16.8.0 produces a crash dump executing Visual Studio Test task"
## Description
There is a problem using **Visual Studio Test Platform Installer** Azure Devops Task, selecting version lastest stable version (16.8.0) of Visual Studio Test Platform Installer Azure Devops Task causes a crash dump file when running **Visual Studio Test** task, but the task ends green and the unit tests pass.

Selecting 16.7.1 version works, generating code coverage file as expected

[2020-11-13 12:30] jakubch1 commented on #1263
I've added logic described above for `dotnet test` case inside this nuget package: https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=test-tools&package=Microsoft.CodeCoverage&protocolType=NuGet&version=16.9.0-preview-20201113-07

We can't correctly support all the cases because of this: https://github.com/dotnet/runtime/issues/3368

Settings `DataCollectionRunSettings.DataCollectors.D

[2020-11-13 12:30] #1263 closed

[2020-11-13 13:32] Sanan07 opened #2634 "Assembly caching in Test Platform"
## Description
Provide a way to efficiently get necessary types from assemblies

[2020-11-13 15:20] Sanan07 commented on #2632
@pbarbero Could you please provide that crash dump file?
Adding @jakubch1

[2020-11-13 15:24] pbarbero commented on #2632
Sure @Sanan07
[testhost.net472.x86_591512_20201112T170331_crashdump.zip](https://github.com/microsoft/vstest/files/5537720/testhost.net472.x86_591512_20201112T170331_crashdump.zip)

[2020-11-13 16:20] Sanan07 opened #2635 "Review release note script"
Review release not script. Potentially could be some bug about tagging.

[2020-11-13 17:42] Sanan07 commented on #2632
From my quick analysis of dump file `mscoreei.dll` caused a crash. Not sure if Code Coverage interact with it.
@jakubch1 should have better understanding.

[2020-11-16 08:09] arabelaa opened #2637 "VSTest with coverlet collector fails"
## Description
I have a .NETCore 3.1 test project with  `"Microsoft.NET.Test.Sdk" 16.7.1` of and `"coverlet.collector" 1.3.0`.

I am getting an exception when running tests using VSTest - Version 16.7.0 (I can't switch to dotnet test approach, unfortunatly - there is a strong requirement to stick to vstest)

## Steps to reproduce
`vstest.console.exe --collect:"XPlat Code Coverage"  C:\Projects\tes

[2020-11-16 12:11] #2623 closed

[2020-11-16 12:27] nohwnd commented on #2623
@0xd4d the issue was that there is a custom serializer used, and when protocol version was updated to 3, it started using serializer for protocol version 1, which produces large messages. I forced Test.SDK to dowgrade to protocol 2 when asked for 3, and pushed the current version to 4, which will use the correct serializer. This should fix the speed issue for older console version which will only

[2020-11-16 12:48] arabelaa commented on #2637
Based on the answer I received on https://github.com/microsoft/vstest/issues/2278 I will close the issue.

[2020-11-16 12:48] #2637 closed

[2020-11-18 06:33] csMACnz commented on #1224
I played with this for a while because I really wanted to avoid the sdk for no particular reason.

I figured out I could use [https://www.nuget.org/packages/xunit.console/](xunit.console) and call it's main from my main, hardcoding my app as the test dll.  Publish your app and it becomes self executing without the test framework.

https://stackoverflow.com/a/64888158/2118268

Not sure if the lack

[2020-11-18 06:36] arabelaa opened #2639 "No coverage available for IIS processes"
## Description
I have a .NETCore 3.1 test project with  `Microsoft.NET.Test.Sdk 16.7.1` that is used Azure pipeline.
The agent has Visual Studio 2017 VSTest.

I am getting an exception when running tests using VSTest on the agent machine. We are interested in the coverage of integration tests - we have an API that is hosted in IIS -  hence the configurations `<CollectAspDotNet>True</CollectAspDotN

[2020-11-18 11:20] alexxphoenix opened #2640 ""The method or operation is not implemented." error when passing parameters for "dotnet test""
Hi.
I'm trying to run dotnet test command and override settings that are stored in runsettings file.
I found instructions here for passing test arguments:
[https://github.com/Microsoft/vstest-docs/blob/master/docs/RunSettingsArguments.md](url)
My command line:

`c:\temp\agent_work\TestLibs>dotnet test Tests.dll --Tests TestMethod1 --Platform x64 --logger:"trx;LogFileName=vstest.trx" --logger:conso

[2020-11-18 11:34] Sanan07 commented on #2640
@alexxphoenix Where do you run this command, in which terminal environment?
It looks like you run it in bash, and if you look at these examples, so you missed `\` before `value`.
[code]

[2020-11-18 11:40] alexxphoenix commented on #2640
@Sanan07 I run it in Windows Command Prompt.
Adding `\` before `value` not solves the problem

[2020-11-18 11:54] Sanan07 commented on #2640
Please update your .NET SDK to 5.0 or later. Based on this [862](https://github.com/microsoft/vstest/issues/862), that TestRunParameters overriding feature works starting from 5.0 SDK.

I tested using .NET SDK 5.0 and it works fine for me with this format :
`-- TestRunParameters.Parameter(name=\"propertyName\",value=\"testValue\")`

[2020-11-18 12:06] alexxphoenix commented on #2640
After updating SDK to 5.0 the problem was solved. Thanks!

[2020-11-18 12:27] #2640 closed

[2020-11-18 13:58] jakubch1 commented on #2632
@pbarbero could you please try generating runsettings file with Code Coverage configuration?

In the file please specify which binaries you want to instrument like this:
<ModulePaths>
  <Include>
   <ModulePath>.*Fabrikam.Math.dll</ModulePath>

  </Include>
</ModulePaths>

Please let us know if this helps.

I suspect Code Coverage is instrumenting some system binaries.

More info:
https://docs.mic

[2020-11-18 14:05] #149 closed

[2020-11-18 14:14] nohwnd commented on #2632
#2641  the crash dump is probably caused by this bug, which causes the crash dumper to always produce a crash dump when used on Windows, with runtime earlier than net5.0.

[2020-11-18 14:23] nohwnd commented on #2608
#2641 Added the fix to pickup the agent temp folder here. This fix will get also into 16.9

[2020-11-18 15:43] jons-aura commented on #2459
This is still an active issue for my company something like half of our builds are failing with this error and having to go in and manually re-run them is a lot of overhead.

[2020-11-18 18:14] omajid commented on #2212
Hey folks, any update on this? The packages are still under a proprietary license in 5.0 :(

[2020-11-18 21:10] #1128 closed

[2020-11-18 21:11] #1495 closed

[2020-11-18 23:34] PureKrome commented on #1495
@Sanan07 - does that mean that this is fixed?

[2020-11-18 23:38] Sanan07 commented on #1495
@PureKrome Yes, that is fixed.

[2020-11-18 23:51] PureKrome commented on #1495
@Sanan07  Woot! TA! 🍰 🎉

![](https://media.giphy.com/media/ZGHczTUuB1nw5HfFwh/giphy.gif)

[2020-11-19 18:07] #2634 closed

[2020-11-20 09:28] bantolov commented on #2004
IMHO, for unit tests it is preferred to reduce the impact of the environment, including the current working directory of the build scripts. If a unit test needs to tests some code that is dependent on the CWD, the test should explicitly set CWD, not depend on the external scripts to use specific directories. I think the current behavior causes less issues then suggested modification.

[2020-11-20 17:57] gregberns commented on #2004
+1 to operate like `run`.

Here's my current workflow: Run `dotnet test` in a test project directory using XUnit to run tests. I need to execute the tests from the test project directory (or a fixed known place) so that relative paths I need match up. The tests are end to end tests, so need to hit various files and executables.

My current workaround is to get the Test DLL path and change working

[2020-11-22 15:47] ffMathy commented on #2625
Hmmm it seems this PR describes something that should be possible, but it's not working. Does that still work for .NET 5?

https://github.com/microsoft/vstest/pull/2356

[2020-11-23 08:51] pbarbero commented on #2632
Hi @jakubch1 , sorry for the delay.

The runsettings file looks like this

[code]
Is this something we can customize vía the **Visual Studio Test** task?

Thanks a lot

[2020-11-23 12:54] arabelaa commented on #2639
After some further investigations I noticed that I can collect coverage if I run manually the powershell commands.

Before test run: `CodeCoverage.exe collect /IIS /session:WebTests /output:webtests.coverage  ` .The output shows that the IIS process is restarted and that all the dll are instrumented properly.

After test run: `CodeCoverage.exe shutdown /session:WebTests `

I didn't see any documen

[2020-11-24 01:14] Vaccano opened #2651 "HttpContext.GetAsync fails when using RunImpersonated, but ONLY when in a Test"
## Description
When run in a unit test (and ONLY in a unit test) an impersonated call to any URL will fail.  (Impersonated calls made outside a unit test work just fine.)

This happens in NUnit and XUnit, which leads me to believe that it is an underlying issue with the `Microsoft.NET.Test.Sdk` NuGet Package.

The fact that it works without errors outside a unit test, and fails in both NUnit and X

[2020-11-24 08:25] jonnyguo1988 commented on #1983
I got the same issue recently, the testhost file is there. I finally fixed it by reinstall VS and add C:\Program Files\dotnet to PATH

[2020-11-24 08:36] nirasher1 commented on #1776
This would be a very heplful feature also for me.
@Sanan07 Do you have an estimated time for the feature to be released?

[2020-11-24 11:23] Sanan07 commented on #1776
@nirasher1 I can't say for now, we still need discussion with the team, if it makes sense to implement on our side. If so, I assume, not earlier that the beginning of the next year.

[2020-11-24 18:56] Vaccano commented on #2651
I can't be sure, but this may be related to this issue:

https://github.com/dotnet/runtime/issues/29935

[2020-11-24 19:07] Vaccano commented on #2651
This seems to be a workaround to this issue:

    Environment.SetEnvironmentVariable("DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER", "0");

I have no idea what this does or why it fixes it.

[2020-11-24 21:07] ffMathy commented on #2625
That worked. Added the missing documentation here. The issue can be closed.

https://github.com/MicrosoftDocs/visualstudio-docs/pull/6139

[2020-11-24 21:09] ffMathy opened #2654 "Run tests in a specific order"
It would be great if `dotnet test` could allow running tests in a specific order, perhaps via a runsettings file - similar to the old Playlist feature that used to exist.

The reason I want to do this is that I would like to (for instance) run failed tests first on the build server.

[2020-11-25 02:53] pensono commented on #2209
I'm having the same issue as @aalmada and @pedramrezaei. It seems to be related to https://github.com/actions/setup-dotnet/issues/136. As a workaround, I install both the SDK I build with and the SDK which the tests/project target, in my case 5.0 and 3.1

[2020-11-25 07:38] jakubch1 commented on #2632
@pbarbero yes. You should be able to set `Settings file` to file from your repository.
Please set it up to contain only assemblies that you want to get code coverage for:

[code]

by this you will have better performance and shouldn't get any issues with instrumentation.
But as @nohwnd  said please try using [16.9.0-preview-20201123-03](https://www.nuget.org/packages/Microsoft.TestPlatform/16.9.0-

[2020-11-25 08:06] ashewani commented on #612
Hi Team,

Currently facing the same issue using Microsoft (R) Test Execution Command Line Tool Version 15.7.0.

From the above comment posted by @cltshivash , it seems that it was fixed in 15.5.0 but that;s not the case for 15.7.0, the console is generating the failed logs in a random manner.  Happy to provide more info, is there anything that needs to be done from my side?

Attached are the image

[2020-11-25 09:53] Sanan07 commented on #612
@ashewani Please update Test Platform to latest stable16.8.0 version, so you should not see such behavior.

[2020-11-25 09:54] #2625 closed

[2020-11-25 10:01] ashewani commented on #612
Quick question, can that be updated independently? My code is based on .net core 2.1 (VS 2017).

[2020-11-25 10:15] Sanan07 commented on #612
Yes, you can update it. You can install latest .NET SDK 5.0 and it should be fine.

[2020-11-25 10:17] Sanan07 commented on #2654
We have this [Rerun failed tests](https://github.com/microsoft/vstest/issues/1776) feature request and potentially can implement it.

[2020-11-25 10:21] ashewani commented on #612
Thanks will try it out soon!

[2020-11-25 11:03] ffMathy commented on #1776
The Pruner CLI makes this possible.

https://github.com/pruner/cli

[2020-11-25 13:06] MarkKharitonov opened #2655 "VSTest hangs for over 45 minutes before running a few unit tests."
## Description

I have a .Net Core 3.1 code which has a few unit tests using NUnit. The tests have a global OneTimeSetUp phase and then there are about 2 dozens unit tests.
**dotnet test --no-build** runs for 45 minutes on average. The setup phase takes about 30 seconds. The tests in total take about the same.

I ran `dotnet test --no-build -p:VSTestVerbosity=diag -p:VSTestDiag=c:\temp\test.log`.

[2020-11-25 13:48] Sanan07 commented on #2655
@MarkKharitonov Which version of vstest.console do you use? Is it 16.5.0? You can see it console output.
Do you face this issue only with this test project or some others too?

[2020-11-25 15:28] MarkKharitonov commented on #2655
Here is the output of the command:
[code]
So, it is `16.7.0-release-20200703-01`

I face it with this particular solution only. No other solution exhibits this behaviour.

[2020-11-25 15:32] nohwnd commented on #2655
That seems like there is some long setup somewhere. I would dump the testhost process while it is waiting (e.g. open Task Manager, find the testhost process, right click and select Create Dump File). Then you can open it in Visual Studio, and look at the different call stacks to see where it is hanging. Or share it with us.

[2020-11-25 15:39] MarkKharitonov commented on #2655
I can do that. To make sure I am doing the right thing, could you give me procdump.exe command line? This way I will capture it exactly the way you wish.

[2020-11-25 16:19] nohwnd commented on #2655
IDK I just do it via the right click in Task Manager. 😁 It's actually better if you inspect it in your VS because you have all the symbols for your project, it will ask you to navigate to them imho. So you will see more info than me. I usually do Debug > Windows > Parallel callstacks, and look at all the call stacks to see if it's waiting in some user code. The one running user code is usually the

[2020-11-26 00:26] broetchenrackete36 opened #2656 "Adding Microsoft.NET.Test.Sdk to a .NET Core prevents it to be packed as a NuGet-Package"
Not sure if this belongs here or to dotnet/core...

## Description
Adding Microsoft.NET.Test.Sdk to a .NET Core or .NET5 project prevents it to be packed as a NuGet-Package.

## Steps to reproduce
[code]
The first `dotnet pack` works as expected, the second one `dotnet pack` doesn't do anything, it doesn't fail but it doesn't produce a NuGet-Package either.
Same behavior with Visual Studio and msb

[2020-11-26 03:56] ashewani commented on #612
@Sanan07 , Tried out with MS Test execution command line tool version 16.8.0 (dotnet sdk 5.0.100), the output is the same, they are still out of sync.

![image](https://user-images.githubusercontent.com/37093828/100306307-35255a00-2ff7-11eb-9e39-4cc463f85335.png)

![image](https://user-images.githubusercontent.com/37093828/100306329-466e6680-2ff7-11eb-9df9-e529b5c1652b.png)

![image](https://user-

[2020-11-26 12:56] Sanan07 commented on #612
@ashewani Please also try to update Microsoft.NET.Test.Sdk nuget package to latest one and see if it fixes it for you. I tried and got this output :
![xunit](https://user-images.githubusercontent.com/8465726/100353472-d4921f00-2fee-11eb-986e-e1651e94c5ef.PNG)

It also confusing for me. From my perspective we do not above part of output. Only results where it shows which tests are passed and which

[2020-11-26 16:05] Haplois commented on #2656
Projects referencing `Microsoft.NET.Test.Sdk` are not packageable by-design. If you would like to override this behavior, please set the `IsPackable` property to true in your `.csproj` file. An example is below:

[code]

_Note: You might get a warning about multiple entry-points. To fix this, please add another property named `GenerateProgramFile` and set it to `false` as shown above._

[2020-11-27 02:01] ashewani commented on #612
Thanks @Sanan07 , the latest version of Microsoft.NET.Test.Sdk (v16.8.0) isn't compatible with .net core 2.0 so I had to create a new .net core 2.1 test project with the latest NuGet packages and the result is still the same.

![Snag_9111478](https://user-images.githubusercontent.com/37093828/100402494-86ddeb00-30b0-11eb-8970-0a49df13be57.png)

![Snag_9100cfb](https://user-images.githubusercontent

[2020-11-27 07:44] ashewani opened #2657 "Dotnet vstest producing console logging output out of sync"
## Description

Dotnet vstest is printing detailed test cases output out of sync on the console.

This issue is similar to [issue #612 ](https://github.com/microsoft/vstest/issues/612).

## Steps to reproduce

Create a new XUnit Test project with a couple of test cases, some of them being failed and running the test command through the CLI.

dotnet vstest XUnitTestProject1.dll --logger:"console;ve

[2020-11-27 14:23] broetchenrackete36 commented on #2656
Thank you for the quick response, setting the property fixed my problem.

[2020-11-27 14:23] #2656 closed

[2020-11-27 19:41] Jsparham777 commented on #880
Even using the prefix switch I still get the overwrite warning. This is due to the resolution of the timestamp. Is there a way to insert the test project name into the filename? This would stop it from overwriting or is there another way to overcome this?

[2020-11-27 23:21] MarkKharitonov commented on #2655
I found the root cause. Your advice to attach the debugger to testhost.exe was the most fruitful. I have a global setup that runs a process using the following code:
[code]
I copied this pattern from https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.processstartinfo.redirectstandardoutput?view=netframework-4.7.2

As it turns out, the test apparently deadlocks on `p.StandardOutput.Read

[2020-11-27 23:21] #2655 closed

[2020-11-27 23:31] MarkKharitonov commented on #2655
Posted here - https://stackoverflow.com/questions/65044945/how-to-collect-redirected-standard-output-and-error-in-net-core-correctly

[2020-11-29 20:39] kartheekp-ms commented on #2608
Thanks for the update. Looking at the PR, I think `<ResultsDirectory>%AGENT_TEMPDIRECTORY%</ResultsDirectory>` setting in `.runsettings` file is not required because temporary directory is chosen from environment variables with a fall back option on current user's temporary folder.

Is there any update on the issue discussed above to ensure that collected dump will always be moved from `TEMP` dire

[2020-11-30 08:22] deyanp commented on #2282
Got hit by this issue in Ubuntu 20.10 ... do I really need to slow down the execution of my tests with -m:1 just so that my cursor does not disappear after running dotnet test??

[2020-11-30 08:26] rmunn commented on #2282
@deyanp - You can create a `test.sh` script containing `dotnet test "$@" ; stty echo` to ease the pain.

[2020-11-30 08:49] dten commented on #2282
Just a thought. If you run it via a script does the problem only affect the subshell?

i.e. will the shell created for ruining the .sh be affected but will then close immediately when the script ends leaving you in the untouched original shell?

If yes then `(dotnet test)` should also work (in bash) because it will run in a subshell

[2020-11-30 09:23] rmunn commented on #2282
@dten - I just tried that, and unfortunately your idea doesn't work. Running in a subshell via `(dotnet test)` I was still able to reproduce the non-echoing behavior pretty consistently. The reason is because the *terminal* (or the pseudo-terminal, the pty), not the subshell, is where the echo flag lives. So running the dotnet test command in a subshell doesn't change the behavior because the subs

[2020-11-30 09:25] dten commented on #2282
Darn

[2020-11-30 09:26] jakubch1 opened #2658 "[Code Coverage] Support attribute exclusions for lambdas, yield, local and async functions AB#1265121"
## Description
Dynamic code coverage can show coverage info inside excluded methods that contain lambda, yield or local functions. Same can happen if method is async.  The issue is that compiler is not preserving attributes when generating nested classes or methods. This can be fixed in similar way as coverlet did it:
https://github.com/coverlet-coverage/coverlet/pull/671

Related issues:
https://

[2020-11-30 11:26] nohwnd commented on #2655
Thanks for the follow up.

[2020-11-30 15:02] nohwnd commented on #880
@Jsparham777  Medeni was fixing this in https://github.com/microsoft/vstest/pull/2508  which is shipped in 16.8.

[2020-11-30 15:44] nohwnd commented on #2602
@quixoticaxis thanks for trying, too bad you are not using seed for the random, that way this would have been reproducible. :(

[2020-11-30 16:03] quixoticaxis commented on #2602
@nohwnd As I've mentioned above, it can be reproduced when using first seven high surrogates (no randomness at all). It can be also reproduced when using the seed of 1 (`new Random(1)` at line 21).
The interesting thing is that the runner no longer fails if the project is switched from `netcoreapp3.1` to `net5.0`.

[2020-12-01 12:38] mikeblakeuk commented on #981
We are running
dotnet 5.0 C#
xunit
AzureDevop - both windows and ubunt

We want:
- unit test results in devops,
- code coverage, excluding xunit dlls
- code coverage, results in devops (TBC)
- block the PR if the coverage is too low
- see ticks/crosses in the PR

any ideas what yaml we need to run? / runsettings we need?

[2020-12-01 15:38] arabelaa commented on #2639
It seems this approach is not working. My app - which is a .NET Core 3.1 app - (hosted in IIS) fails to load because of the following error
[code]

In the output of test project I have the `Microsoft.VisualStudio.CodeCoverage.Shim.dll.`
To be honest I don't know where to look next.

Any hint is highly appreciated.

[2020-12-01 15:53] Haplois commented on #669
This is partly done. It's possible to pass environment variables into the `dotnet test` command via the `--environment` parameter with https://github.com/dotnet/sdk/pull/13436. `--launch-profile` support is on hold for the time being because it's part of the `dotnet run` command and needs some more development by its owners; we'll implement the support on the `dotnet test` after the work is done.

[2020-12-03 08:49] tobyash86 commented on #2620
Sorry for late follow up on that, but I have no time for this recently.
Either way I have accomplished analysis for the rest of reported issues:

| Assembly | Weakness ID | Qaulification | Description |
| ------ | ------ | ------ | ------ |
| Microsoft.VisualStudio.TestTools.UITest.Extension.IE64.Communication | CVE-2014-3802 | False Positive | Invalid match by name |
| Microsoft.VisualStudio.Code

[2020-12-03 10:46] RehanSaeed commented on #1098
This still seems to be an issue.

I use xUnit and I still get this in one of my test projects. The solution is to add the ObjectModel package but why do I have to do that?

[2020-12-03 17:11] omajid commented on #2590
That doesn't solve the original problem, does it?

[2020-12-03 19:57] JDCain opened #2664 "dotnet test vs dotnet vstest"
The documentation located https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-vstest says:

Is the ability to run assemblies with dotnet test using this project still under the hood but with different command line syntax? Running dotnet vstest vs dotnet test with a specified assembly seem to produce the same output and version numbers as far as I can tell.

[2020-12-03 22:26] Haplois commented on #2664
`dotnet test` and `dotnet vstest` are basically identical if you call it on an assembly; both execute the test via `vstest.console`. There is a difference in command-line arguments, though.

[2020-12-08 12:00] egil opened #2668 "Find navigation data (file, line no.) for tests written in .razor files"
## Description - feature request

**TLDR:** Read `#line` pragmas in generated files when discovering test method positions, to make it possible to use the "navigate to test by double clicking it in Test Explorer" for tests written in files that transpilled into .cs files, e.g. .razor files.

**Background:** With [bUnit, a test library for Blazor components](https://github.com/egil/bunit), it is po

[2020-12-08 12:21] mcichonqa commented on #2418
Hi, is there any way to execute tests which have runsettings for own dll from cmd?
I don't know if this is possible at the moment, I couldn't find an answer to my question.

I used this, but it doesn't load dll's runsettings files.

`dotnet vstest Test1.dll Test2.dll Test3.dll`

I'm using netcoreapp3.1 and VS 16.8.2.

[2020-12-08 13:11] ViktorHofer commented on #2418
Nope, that isn't possible as dotnet test / vstest only works with a single .runsettings file when operating on n assemblies.

[2020-12-08 16:47] JDCain opened #2669 "Screen and Voice Recorder cannot be found when using dotnet test/vstest"
## Description
Video datacollector cannot be found when using dotnet vstest or dotnet test.

## Steps to reproduce
`dotnet vstest $dll /collect:'Screen and Voice Recorder' /resultsdirectory:c:\temp`

## Expected behavior
Video recorder functions as it does when calling vstest.console.exe

## Actual behavior
[code]
## Other Attempts
I also tried to set the path to the data collector but it would ge

[2020-12-09 00:46] mcichonqa commented on #2418
Thanks for answer @ViktorHofer.

[2020-12-09 10:16] #2664 closed

[2020-12-09 20:39] nm4568 opened #2670 "Parallelization support inside of single assembly no longer working"
## Description
In the process of migrating from testsettings to runsettings, I am unable to fully migrate due to limitations in vstest
parallelization support so I am using ForcedLegacyMode as a work around.  The ability to run tests in parallel within a single dll appears to have been supported in the past but has since been changed.  Here is a blog article written by Microsoft to back this claim

[2020-12-10 03:57] ArchieCoder commented on #2378
Spent the evening doing tests here and there trying to understand why I was getting random folders. Glad that I finally found this, but sad this is not implemented. This is definitively not CI/CL friendly.

[2020-12-10 09:35] Sanan07 commented on #2669
Please use `dotnet test` instead of `dotnet vstest` and also you should specify runsettings file and add video collectors there.
Please refer this documentation [Screen and Voice Recorder](https://docs.microsoft.com/en-gb/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?view=vs-2017#example-runsettings-file).

[2020-12-10 09:41] Sanan07 commented on #2670
Please use `/Parallel` argument. [vstest command line arguments](https://docs.microsoft.com/en-us/visualstudio/test/vstest-console-options?view=vs-2019).

[2020-12-10 12:44] JDCain commented on #2669
@Sanan07 I have the same error using dotnet test and when specifying the recorder in the runsettings.

[2020-12-10 13:20] Sanan07 commented on #2669
@JDCain Yes, I was able to reproduce the issue. Seems that the problem with Screen and Voice Recorder, cause it works fine with Code Coverage data collector setting in runsettings file.  Will try to look at it.

[2020-12-10 13:25] nm4568 commented on #2670
I did try using this /Parallel argument which made no difference.  The following function always seems to overwrite the Parallel setting to use 1.

[code]

[2020-12-10 13:28] JDCain opened #2672 "dotnet test console output different then vstest.console"
## Description
dotnet test/vstest does not provide the same output as vstest.console.exe

## Steps to reproduce
`dotnet test .\TestLogger.Common.Tests.dll --tests TestTests.Test0`

## Expected behavior
Expected behavior is to output the same as if using vstest.console.exe
[code]

## Actual behavior
[code]

## Environment
dotnet v5.0
vstest.console.exe  16.8.0

[2020-12-10 13:36] JDCain commented on #2672
I have also tried --verbosity=normal but I get the error
`The argument --verbosity=normal is invalid.`

[2020-12-10 13:43] Sanan07 commented on #2672
I am not sure, why it is like this, but we had request for change output for `dotnet test`, refer this [Link](https://github.com/microsoft/vstest/issues/1836).

[2020-12-10 13:50] JDCain commented on #2672
@Sanan07 I was doing some more searching online and I came across an article which suggested using -v n (instead of --verbosity=normal) and the -v n works.

[code]

[2020-12-10 13:54] Sanan07 commented on #2672
That's correct. Did not pay attention at your example :) You can find all arguments [here](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test#examples).
`dotnet test --verbosity normal` also work

[2020-12-10 13:54] #2672 closed

[2020-12-10 17:19] Haplois commented on #2669
As far as I know, Screen and Voice Recorder data collector doesn't ship with dotnet. You might need to use `vstest.console.exe` shipped with Visual Studio, or use the one in the `Microsoft.TestPlatform` package.

[2020-12-10 20:04] JDCain commented on #2669
Is there a way to point to it using /TestAdapterPath ?
When I attempted to it would not work but I suspect I am not setting the path right.

[2020-12-11 13:19] richardwerkman commented on #2578
Yes, indeed the error does not seem to occur when the timeout is drastically lowered. But that does not solve our issue... It just skips running the tests and marks all of our mutations as timeout. But we want to know if the tests succeeded to mark the mutants killed or survived.

Could you please open the issue again as it is not resolved yet.

[2020-12-11 17:31] Mobrockers commented on #2578
@Sanan07 The issue is that the vstest process never exist, even after the timeout we set has expired. Your decreasing of the timeout makes the tests time out yes, but that is not our goal.

We try to set a reasonable timeout for the testrun to account for any additional processing required due to our added mutations, this is not an extremely high timeout though.

You said before:

True, stryker co

[2020-12-11 19:11] Haplois commented on #2669
It might be possible. I need to verify it thou. I'll let you know on Monday :)

[2020-12-11 19:50] #2629 closed

[2020-12-11 20:00] Haplois commented on #2669
So I just checked it. `Screen and Voice Recorder` is not compatible with `dotnet test`. It would be best if you use the NuGet package (or vstest.console.exe shipping with Visual Studio).

[2020-12-11 23:53] NelsonLamprecht commented on #1655
Anyone made progress on this?

[2020-12-12 00:19] MSLukeWest commented on #1655
@NelsonLamprecht Yes, the most recent release of Visual Studio 2019 supports running UWP unit tests with just the Build Tools sku installed.

[2020-12-12 23:34] NelsonLamprecht commented on #1655
Trying to figure out what to install on our Azure Dev Ops local build agent to support running our UWP unit test via Azure Pipelines: Currently generating "##[error]No suitable test runtime provider found for this run" with "/Framework:FrameworkUap10"

[2020-12-13 06:55] fahadabdulaziz opened #2673 "Stack overflow exception after upgrading to 16.8.3"
## Description
After upgrading to from version 16.8.0 to 16.8.3 I get stack overflow exception, while on 16.8.0 works well.

[code]

## Steps to reproduce
nothing just using dotnet test command

## Expected behavior
Working.

## Actual behavior
[code]

## Diagnostic logs
[log.txt](https://github.com/microsoft/vstest/files/5684287/log.txt)

## Environment
Windows 10 20H2

[2020-12-14 08:56] Sanan07 commented on #2673
@fahadabdulaziz Do you see that behaviour in all your projects or is it only this one?
By logs it says
`Message loop: failed to receive message due to socket error System.IO.IOException: Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host..
 ---> System.Net.Sockets.SocketException (10054): An existing connection was forcibly closed by th

[2020-12-14 09:05] fahadabdulaziz commented on #2673
Only one project.
Also in VS tests not returning result, I suspect there is a problem with a test but weirdly I can't get any clear error.
When I run every test individually or by groups works fine.

[log.host.20-12-14_12-01-15_10926_4.txt](https://github.com/microsoft/vstest/files/5687663/log.host.20-12-14_12-01-15_10926_4.txt)

[2020-12-14 09:11] Sanan07 commented on #2673
@fahadabdulaziz I did not find anything related to this error in log file and it looks as not finished logs in it, probably by that exception. Try running your tests with `vstest.console.exe` which is in `C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\IDE\Extensions\TestPlatform` and call your test dll.
Also try to get crash dump of testhost process in Task Manager while ru

[2020-12-14 13:21] JDCain commented on #2669
@Haplois
Good to know. I started writing my own using ffmpeg as a work around.

Because I am curious, is the incompatibility due to dependencies which are not included in dotnet, like System.Configuration.ConfigurationManager?

[2020-12-14 18:52] fahadabdulaziz commented on #2673
After digging at dump file I found out I had infinite loop in my tests.
Sorry for the inconvenience..

Though I wish it shows a good error message instead of ambiguous error.

[2020-12-14 18:52] #2673 closed

[2020-12-14 19:15] MSLukeWest commented on #1655
If you're installing the Build Tools sku you will need to include the "Universal Windows Platform build tools" workload.  The ID is "Microsoft.VisualStudio.Workload.UniversalBuildTools".

[2020-12-14 20:32] JDCain opened #2675 "TrxLogger & TestCase.Id generation"
I am attempting to understand how a TestCase.Id is generated and how it connects to the TestId used in the TrxLogger and the Id used within TFS for connecting test case automation to a work item.

To connect a test case to a work item in TFS the following code can be used to generate the Microsoft.VSTS.TCM.AutomatedTestId from the full test case name.
[code]
this code appears to be the same used t

[2020-12-14 21:13] Haplois commented on #2675
`TestId` is not only based on the fully qualified test name. It also includes executionUri and source name.

After cloning the repository, run `.\scripts\build.ps1` in a PowerShell window; it should build it. After a full build, you can use Visual Studio as you normally would.

[2020-12-14 21:43] JDCain commented on #2675
Thank you, I will attempt to do that in order to get the project built. That additional info in the string explains part of it for me but I still am missing something with the test logger:

I have a testlogger method which looks like this:
[code]
I attempted to have the output replicate what is happening in GetTestId
[code]
Output:
[code]

Running the built string through the hash returns "60663ad

[2020-12-14 22:47] Haplois commented on #2675
Which version of the test platform are you using? It might use `ManagedType.ManagedClass` instead of the fully equal name.

https://github.com/microsoft/vstest/blob/57c4e48042efec946a993ef31b609f296fb7279c/src/Microsoft.TestPlatform.ObjectModel/TestCase.cs#L345-L353

[2020-12-14 23:57] JDCain commented on #2675
16.8.0
I made sure the version installed in the tests matched the version currently listed when running dotnet test.
When I decompile the references using resharper it does not look like the source code online but looks like this:
[code]

[2020-12-15 09:00] Haplois commented on #2675
Yes, the code was a bit different on that version.

https://github.com/microsoft/vstest/blob/v16.8.0/src/Microsoft.TestPlatform.ObjectModel/TestCase.cs#L213-L239

[2020-12-15 15:01] JDCain commented on #2675
Based on a test within the project I passed in the ExecutorUri, source, &  FullyQualifiedName which is outputted when the test runs. This generates a Id which matches my manual generation based on the same data, but does not match what is output when I run the test in the runner.
[code]

This generates 60663ad4-075a-4830-a7e5-51bd2a45be04 I get when doing it manualy instead of 8e2c12e9-b54b-764f-0

[2020-12-15 15:48] tomaustin700 commented on #2667
Apologies for the delay. Here are the logs and .diag logs for the build that hung today. I had to manually cancel it.
[LogsDiag.zip](https://github.com/microsoft/vstest/files/5696968/LogsDiag.zip)

Let me know if there is anything else you'd like.

Tom

[2020-12-15 15:49] JDCain commented on #2675
I believe I have found my answer here:
https://github.com/xunit/xunit/blob/a8614d34999c889e1c8014f679de95d20eae1304/src/xunit.runner.visualstudio/Sinks/VsDiscoverySink.cs#L89

the xUnit discovery generates a new Guid based on the executor + the uniqueId xUnit creates based on the name + parameters which is then run through a hash to get a guid. These seem to match up with TestId I see in outputs o

[2020-12-15 17:03] #2675 closed

[2020-12-15 17:06] Haplois commented on #2675
We’re planning to expose a public API for testId generation in future releases; also, keep in mind that Id generation logic is changed in v16.9 and will change further to handle some edge cases better.

[2020-12-15 19:18] wli3 opened #2677 "Unable to find installed framework when using x64 runtime"
---
**Issue moved from dotnet/sdk#14891**
- Please respond to @chaoticsoftware.

---

_From @chaoticsoftware on Wednesday, December 9, 2020 1:00:37 AM_

I started getting the following error in my Azure pipeline, when running `dotnet test` in the Win2019 image. The same thing runs in the Win2016 image:

The thing is that as far as I can tell the runtime is installed.

I can also repro the same thi

[2020-12-21 09:22] nullimpex commented on #2480
It would be great to add grouping option by "traits" (akin to _VS Test Explorer_ Traits grouping) to trx output, with xml nodes nesting in trx/html output ofc

The "traits" in _VS Test Explorer_ are based on [TestCategoryAttribute] and [CategoryAttribute] applied to classes marked with [TestAttribute] and [TestFixtureAttribute].

There are 4 categories defined in our tests at present: "FileAttachm

[2020-12-22 06:25] manfred-brands commented on #2282
What seems to work for me is redirecting standard-input away from the terminal: `dotnet test < /dev/null`.
Although I still don't see _why_ `dotnet test` queries my cursor position.

[2020-12-22 08:21] rmunn commented on #2282
I can confirm that this works. I found a project that triggers this bug fairly reliably and ran 100 instances of `dotnet test` without redirection, then 100 instances running as `dotnet test < /dev/null`. Without redirection, the bug triggered 81 times out of 100 runs, and 19 runs out of 100 did not trigger the bug. When I added `< /dev/null`, 0 out of 100 runs triggered the bug, and 100 out of 10

[2020-12-29 13:36] mfogliatto commented on #2092
Sorry I didn't see this earlier. We use the MSTest test adapter. I understand that `Microsoft.NET.Test.Sdk` is required, though test discovery doesn't seem to work if that one is a dependency of a dependency.

The dependency chain looks like follows (all are `PackageReferences`):

MyTestProject -> TestDependency -> Microsoft.NET.Test.Sdk

[2020-12-30 15:37] liiri commented on #2467
I couldn't get sqlite to work with .NET core in Alpine at all. Not via service or test. Installing sqlite packages didn't help either.
I ended up moving to a Debian based image.

[2020-12-31 16:18] chamons commented on #2282
I can confirm this this on macOS 10.15.7 and that `/m:1` works around my project.

I'm happy to test out preview bits to validate a bug fix here.

[2021-01-04 01:20] jzabroski commented on #2310
@alexey-gusarov Thank you for such clean repro.

It turned out my problem was different than this but you really saved me some time and properly framed the problem.

[2021-01-04 13:54] nohwnd commented on #2677
Which version of Microsoft.NET.Test.SDK are you using in your project?

[2021-01-07 12:04] tobyash86 commented on #2620
Newest version of Dependency Check has been released, it should contain the fix for this issue. I will clise it as soon I will verify that the issue is fixed in Dependency Check 6.0.5.

[2021-01-07 15:49] nohwnd commented on #2576
( I am only talking about .NET Core here )

I've been looking into this for the past few days and the platform switch is mostly ignored. To be more precise it is used only on Windows x86 and x64. The ARM switch there has almost no significance and on Windows it won't result in ARM runtime being forced, instead it will result in x64. Unfortunately there is no history for this functionality because

[2021-01-07 16:37] tannergooding commented on #2576
CC. @KathleenDollard

[2021-01-08 09:39] richardwerkman opened #2686 "Vstest hangs after "Cancelling the operation as requested." message"
## Description
*Note* This** is a follow up issue for #2578. Lowering the timeout does _not_ fix our issue. Stryker keeps crashing thanks to the error coming out of vstest.

Original issue:
When working on Stryker mutator I noticed vstest is reporting some sort of _error_ when running a session with two assemblies. At some point in stryker we know all mutations have been tested and we can abort/ca

[2021-01-08 20:00] chaoticsoftware commented on #2677
`    <PackageReference Update="Microsoft.NET.Test.Sdk" Version="16.7.1" />`

[2021-01-09 13:39] mcartoixa commented on #680
Slow days at work, so here what I intend to do:
- submit a PR to the [dotnet/sdk](https://github.com/dotnet/sdk) project so that `dotnet test` (and `dotnet vstest`) rely directly on the execution of `dotnet exec vstest.console.dll` instead of going through MSBuild. This will (amongst other things) ensure that these commands will be able to retain the colored output of the original, which should pl

[2021-01-10 14:38] mcartoixa commented on #1503
Hi, coming (late) from #680: it seems that this colorization against logging issue has spread all over different repositories now...

My take on this is that:
- MSBuild is a very mature environment with a robust and tested logging system. If we are to integrate with it, we should do it properly. Right now this means losing fancy colorization, but in a twist of fate this also means gaining some lev

[2021-01-10 17:45] jnm2 commented on #880
AltCover is cool. When I run `dotnet test /p:AltCover=true` with AltCover in the test project, it outputs `coverage.netcoreapp3.1.xml` and `coverage.net5.0.xml`. Why can't .trx output be more like AltCover?

[2021-01-11 10:36] quasarea commented on #2310
Replicated with latest release of TestFramework 16.0.20630.163001

[code]

[2021-01-11 13:25] Sanan07 commented on #2686
@richardwerkman I remember this issue from you. Could you please run it with using [diagnostic logs](https://docs.microsoft.com/en-us/visualstudio/test/vstest-console-options?view=vs-2019) and send to us with case when you see that message "Cancelling the operation as requested". I think you can do it faster than us it would be nice to have and analyze again.

[2021-01-11 19:02] richardwerkman commented on #2686
[VsTest-log.txt](https://github.com/microsoft/vstest/files/5797782/VsTest-log.txt)

This is the vstest logs until the moment that we get the error. Scroll all the way down to see what happened right before the error :+1:

If you need anything else please let me know! I really hope this issue can be fixed as it is a real struggle for us at stryker.

[2021-01-11 19:19] tobyash86 commented on #2620
I have verified that the issue is resolved in Dependency Check 6.0.5. Closing.

[2021-01-11 19:19] #2620 closed

[2021-01-12 08:45] egil commented on #2668
It seems this actually work in some cases as expected, so this might be a non-issue, but I will investigate further and report back.

[2021-01-12 10:44] nohwnd opened #2688 "Add integration tests for `dotnet test`"
## Description
VSTest only partially tests using dotnet test, which leaves it vulnerable to errors that are introduced in dotnet/sdk where part of test platform, is also present. Add few basic scenarios testing `dotnet test + csproj` and `dotnet test + dll`.

This can also be used to confirm that changes in VSTest MSBuild task are correct.

[2021-01-12 12:52] pavelhorak commented on #2658
AB#1265121

[2021-01-12 13:23] nohwnd commented on #2688
Related https://github.com/dotnet/sdk/pull/15282

[2021-01-12 14:00] pavelhorak opened #2690 "This is a test issue"
Test description

- dsfsdfsd
- sdfsdds

**END**

[2021-01-12 14:04] pavelhorak opened #2691 "This is a test issue 2"
Test description

- dsfsdfsd
- sdfsdds

**END**

[2021-01-12 14:06] pavelhorak opened #2692 "This is a test issue 3"
Test description

- dsfsdfsd
- sdfsdds

**END**

[2021-01-12 14:17] pavelhorak opened #2693 "Test"

[2021-01-13 15:47] tmds commented on #2282
@rainersigwald when I run the steps from https://github.com/microsoft/vstest/issues/2282#issuecomment-605665646:
[code]
These `dotnet` processes are started:
[code]
I see the processes `dotnet /usr/lib64/dotnet/sdk/5.0.100/MSBuild.dll /usr/lib64/dotnet/sdk/5.0.100/MSBuild.dll /nologo /nodemode:1 /nodeReuse:false /low:false`
are not waited for by their parent:
 `dotnet exec /usr/lib64/dotnet/sdk/5.

[2021-01-13 17:32] hauntingEcho commented on #2378
This is also not IDE friendly, as there is no deterministic way to find the most recent result folder.  Coverage highlighting tools (VSCode Coverage Gutters, in my case) can't be effectively configured to work with this behavior.

[2021-01-14 12:23] Prodigio commented on #880
I have a similair issue when running following command
[code]

This overrides the test file on each test run. Is there a way to specify that each test run should create a new test result file? Or can I specify the file type when using `LogFilePrefix`?

[2021-01-14 14:33] dbtfsbre commented on #2261
I am seeing the same error message both with **vstest.console.exe** on Visual Studio 2019 16.8.4 and with **dotnet test**.
My test projects are using MSTest V2 v2.1.0. On the Windows 10 machine (OS build 17763.1697) I have installed .NET framework 4.7.2.

`X:\Directory Y>dotnet test MyMsTestProject.dll --filter OneSpecificTest -v diag
Microsoft (R) Test Execution Command Line Tool Version 16.8.3
C

[2021-01-14 14:53] nohwnd commented on #2261
@dbtfsbre you can install 5.0.101 dotnet SDK, and also install ProcDump so it is available in your PATH (if you open command line and type procdump, you should see output of the procdump tool). Then you do just:

[code]

And it should create a dump for you, open that in VS and you should see where that exception is coming from. Most likely it is your code calling some method recursively and forget

[2021-01-14 16:56] dbtfsbre commented on #2261
@nohwnd Thanks. Something went wrong when copying files to the test machine for an investigation. The test is running fine in Visual Studio using Test Explorer and during our regular Release test runs. After compiling the test again directly on the test machine, I was able to run it with **dotnet test** as well as **vstest.console.exe**.

[2021-01-15 14:54] cvpoienaru opened #2699 "Enable testhost sharing between discovery and execution"
Enable testhost sharing between discovery and execution

[2021-01-15 17:19] pavelhorak opened #2700 "GitHub Actions test issue"

[2021-01-15 17:34] pavelhorak opened #2701 "This is GH Action test ticket"

[2021-01-15 21:46] kccarter76 commented on #1220
this issue has resurfaced:

I have updated to 2.4.3, I am unable to run any of the discovered tests in xunit, I have changed through all the options for the processor architecture for AnyCPU Projects. I have provided snap shots for all the screens.

![image](https://user-images.githubusercontent.com/5841402/104781116-1f9ef780-573f-11eb-8089-fe57c42c9f5e.png)
![image](https://user-images.githubuser

[2021-01-18 09:52] pavelhorak opened #2703 "GH test issue X"
this is a test

[2021-01-18 10:10] pavelhorak opened #2704 "GH test Z"
test

[2021-01-18 13:33] Sanan07 commented on #1220
@kccarter76 Did you try some workarounds from [here](https://github.com/microsoft/vstest/issues/811)?
And could you please run your test with [diag](option) and get logs there and share with us.

[2021-01-18 15:00] #2688 closed

[2021-01-18 19:36] kccarter76 commented on #1220
- %TEMP%/VisualStudioTestExplorerExtensions folder does not exist.
- Clearing the packages folder had no effect.

here is the diagnostic output
[unittest.host.21-01-18_12-35-26_57056_1.log](https://github.com/microsoft/vstest/files/5832103/unittest.host.21-01-18_12-35-26_57056_1.log)

[2021-01-18 21:43] Sanan07 commented on #1220
By the logs, it seems that some dll from Test Platform are missing. Can you update Microsoft.Net.Test.SDK in your project to latest one and test it? Is it any other log file did you get from \diag option? It should generate two diagnostic log files, if you have please share that one as well.

[2021-01-19 00:35] kccarter76 commented on #1220
here is the new log after adding Microsoft.Net.Test.SDK nuget.

[unittest.host.21-01-18_17-18-58_00803_1.log](https://github.com/microsoft/vstest/files/5832860/unittest.host.21-01-18_17-18-58_00803_1.log)
[packages.config.txt](https://github.com/microsoft/vstest/files/5832891/packages.config.txt)

the log still has these errors:
System.IO.FileNotFoundException: Could not load file or assembly 'Mic

[2021-01-19 13:14] Adanaran commented on #2278
@MarcoRossignoli Any news on a release on this?

[2021-01-19 13:29] tmds commented on #2282
@Forgind -^ can you take a look at the previous comment.

[2021-01-19 13:31] MarcoRossignoli commented on #2278
@nohwnd @Adanaran we released version 3.0.1 and in a week we'll release 3.0.2 due to some regression.

[2021-01-19 14:01] Sanan07 commented on #1220
@kccarter76 That is the problem, dotnet test runs on net 5.0 and you probably do not have it installed.
It tries to load these dlls :
 "C:\\Program Files\\dotnet\\sdk\\5.0.102\\Extensions\\Microsoft.Diagnostics.NETCore.Client.dll",
  "C:\\Program Files\\dotnet\\sdk\\5.0.102\\Extensions\\Microsoft.TestPlatform.Extensions.BlameDataCollector.dll",
  "C:\\Program Files\\dotnet\\sdk\\5.0.102\\Extension

[2021-01-19 14:24] nohwnd commented on #1220
@Sanan07 I don't think that is the problem. This looks like a more generic problem with the extensions resolving. I see that same assembly errors even on run that passes all tests. And in dotnet versions going back to at least 3.0.301/

Imho this is the actual error:  could not find dependent assembly 'Microsoft.AspNet.OData.Test, Version=7.5.4')

TpTrace Information: 0 : 13364, 12, 2021/01/18, 12

[2021-01-19 15:52] Forgind commented on #2282
@tmds The first process (7920) was created to invoke MSBuild for dotnet build. The second and third are worker nodes, which, if they aren't finishing their work before the parent exits, may be the reason /m:1 resolved the issue—it forced all the work to be done with the first node. Making the nodes without /nodemode:1 wait for its children to exit would be problematic in the /nodeReuse:true scenar

[2021-01-19 16:11] tmds commented on #2282
@Forgind

What does `/nodemode:1` mean?

Can we look into making this change? Does this code live in dotnet/msbuild?

[2021-01-19 16:22] Forgind commented on #2282
It specifies that a particular node is a worker node. Build requests originate at the parent and come through that to the worker node that executes build logic and passes back the results. If /nodeReuse is true, that worker node is supposed to survive after the build completes to be reused by another build. If it keeps getting reused, it could live forever.

Yes, I think so. I'd probably start at

[2021-01-19 16:47] kccarter76 commented on #1220
@Sanan07  I have 5.0.102 installed,

@nohwnd the file xunit.abstractions.dll is in the bin folder for the AspNet project. it is version 2.0.3 dated 8/25/2018 7:54 pm

[2021-01-19 17:13] nohwnd commented on #1220
@kccarter76 you are missing 'Microsoft.AspNet.OData.Test, Version=7.5.4' not xUnit.

[2021-01-19 17:17] kccarter76 commented on #1220
![image](https://user-images.githubusercontent.com/5841402/105069685-85d99200-5a3f-11eb-8012-e834a1b04d5f.png)

[2021-01-19 17:23] nohwnd commented on #1220
Yeah I just realized the dll you are supposed to be missing is the same as your test dll. So either you are referencing the version 7.5.4 of the same-named assembly in your test assembly (can happen when ctrl+dot or alt enter completion goes wrong), or I don't know :D Maybe enabling fusion logs could help? (or this tool https://github.com/awaescher/Fusion)

[2021-01-19 17:36] kccarter76 commented on #1220
here is the diag with fusion logging enabled.

[unittest.host.21-01-19_10-34-22_07554_1.log](https://github.com/microsoft/vstest/files/5837557/unittest.host.21-01-19_10-34-22_07554_1.log)

[2021-01-20 20:59] RikkiGibson opened #2706 "dotnet test should forward msbuild errors through standard error stream"
## Description

## Steps to reproduce
[code]

## Expected behavior
When the dotnet test command has errors, relevant error messages should be given through the standard error stream, not standard output

## Actual behavior
Sometimes dotnet test errors are given through the standard output stream.

## Environment
Powershell 7 on Windows 10

[2021-01-20 21:56] Sanan07 opened #2707 "Add failed logic for trx logger when TreatNoTestAsError is set to true"
We have TreatNoTestAsError parameter. When it is set to true and no tests discovered/executed, vstest.console.exe returns 1.

We do not see that in the TRX logger, only message about "no tests found".

We can potentially change TestRun/ResultSummary@Outcome to specify it or do the same as usual failed cases.

# Current Behavior
[code]

# Proposed Behavior
[code]
(_Note that the value of `//ResultS

[2021-01-21 10:10] Haplois commented on #880
@Prodigio, which version of the Test Platform are you using? This issue should be fixed by #2508 and shipped with v16.8 as mentioned by @nohwnd.

[2021-01-21 17:33] Haplois commented on #2669
Parts of `Screen and Voice Recorder` is only supported on Windows and not compatible with dotnet, I think that's the main reason. I am not sure, but I think it's only available with VS Enterprise SKU; this might be another issue.

[2021-01-21 17:33] #2669 closed

[2021-01-21 19:30] Haplois opened #2708 "Move FQN related code into a separate NuGet package"
## Description
As part of supporting new TestCase properties like `ManagedType` and `ManagedClass`, some changes introduced to `Microsoft.TestPlatform.ObjectModel`. (https://github.com/microsoft/vstest/pull/2611) These changes broke the compatibility of the Test Platform with earlier Visual Studio releases.

We need to move new TestCase properties, Managed Name Utilities, Modern Test Id generation

[2021-01-22 06:08] Prodigio commented on #880
@Haplois I was using v16.7.1 when I wrote the first post, but updated to v16.8.3 recently. Still the file get's overriden on every test execution.

[2021-01-22 10:01] Haplois commented on #880
It's possible not to customize the extension when using the `LogFilePrefix` option.

When you specify the exact filename using the `LogFileName` option, the TRX log gets overridden if it's already there. You need to use the `LogFilePrefix` option to keep the log file from getting overridden, unfortunately as I said, we don't support customizing the extension in this case.

[2021-01-22 16:23] Nefarion opened #2710 "Test host crashes without any errors in the logs"
## Description
After running dotnet test on my project, i recieve `The active test run was aborted. Reason: Test host process crashed` in the console, and a non-zero exit code.

Everything in the logs indicates that the process ran to completion, and vstest.console did not recognize that.

Tests were run with:
`dotnet test -verbosity:diagnostic -bl:msbuild.binlog -noconsolelogger --diag:log.txt`

[2021-01-22 17:04] Sanan07 commented on #2710
You can get dump file of testhost in Task Manager, right click on testhost proces -> Create Dump File and share with us.

[2021-01-22 17:29] nmeyering opened #2711 "Test project build fails when packages restored to inside project directory"
## Description

Running `dotnet test` or just `dotnet build` with nuget packages restored inside the project directory results in this warning:

[code]

Attempting to build or test without the `--no-restore` option, this error happens instead:

[code]

This only happens when the nuget `--package` option is pointed at the project directory itself, not the parent directory.

## Steps to reproduce

T

[2021-01-22 17:44] Sanan07 commented on #2711
There is no need to run `dotnet restore` explicitly, cause it runs implicitly with `dotnet new` and `dotnet test` [doc](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test)

[2021-01-22 17:45] Haplois commented on #2711
We don't support putting the packages inside the project folder out-of-box on SDK style projects because the `Microsoft.NET.Test.Sdk` package contains some code files injected into your test project during compile time. Since SDK style projects automatically include all `.cs` files unless excluded and try to compile them, this is resulting in some code duplication.

You can work around this using

[2021-01-22 17:45] #2711 closed

[2021-01-22 17:48] Nefarion commented on #2710
Files are here: [Link](https://engie-my.sharepoint.com/:f:/p/gt5845/EhObEazRZQBOn_wqT8XDX_kBxX3K8JU-tg3XGpTfe_3FBw?e=mQQcBN)

[2021-01-22 18:27] Sanan07 commented on #2710
I briefly looked and it did not give me anything valuable, in the same time you can debug it it [VS ](https://docs.microsoft.com/en-us/visualstudio/debugger/using-dump-files?view=vs-2019).
I will continue my investigation and will let you know.

[2021-01-22 19:34] Nefarion commented on #2710
To me, it looks like testhost.net48 exits gracefully, and vstest.console THINKS it crashed, but it did not.
In the logs, i can see the "final" transmission of the Testcases and their results, so i think testhost.net48 did his job.

[2021-01-25 09:31] Nefarion commented on #2710
I tried it with 3.1.405, same result.

I realised its one of my dependencies that does not like beeing referenced in a testproject, without it, it works!
Sorry for the trouble!

[2021-01-25 09:31] #2710 closed

[2021-01-25 19:33] wli3 opened #2717 "Investigate flaky tests"
GivenAProjectAndMultipleTestRunParametersItPassesThemToVStestConsoleInTheCorrectFormat, GivenADllAndMultipleTestRunParametersItPassesThemToVStestConsoleInTheCorrectFormat in SDK repo has been disabled due to flakiness. https://dnceng.visualstudio.com/public/_test/analytics?definitionId=136&contextType=build
![image](https://user-images.githubusercontent.com/6993335/105756189-22e57080-5f01-11eb-8a0

[2021-01-25 19:33] wli3 commented on #2717
https://github.com/dotnet/sdk/pull/15483/files

[2021-01-26 15:07] remcoros commented on #792
Any progress on this issue?

Currently, in a test project targeting .NETFramework, which also uses a nuget package containing native platform dlls, we need to set either HasRuntimeOutput to true, or specify a RuntimeIdentifier of win-x86/x64.

We have nuget package containing native x86 and x64 dlls (located inside runtimes/win-x64/native).

When using this package inside a net48 Exe/WinExe projec

[2021-01-27 08:03] spaasis commented on #2459
I also worked around this by downgrading Microsoft.NET.Test.Sdk from 16.8.3 to 16.6.1

[2021-01-27 12:32] jakubch1 commented on #2459
There is 1 more way of fixing the issue in case of .NET Core, .NET Standard and .NET 5: you can start using unverifiable probes. Unverifiable probes don't require Microsoft.VisualStudio.CodeCoverage.Shim dependency.

To enable unverifiable probes please set in your runsettings:
[code]

If you don't use runsettings you can add ` -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuratio

[2021-01-27 13:36] nohwnd commented on #2707
IIRC this being just a warning was one of the motivations to introduce the new option. That way the build actually fails if there are no tests. Maybe the TRX should reflect that and it should be an error instead of warning?

[2021-01-27 13:44] nohwnd commented on #2707
I thought the example above is an example of the final message, and the example above says warning. But if there will be error then great. 🙂

[2021-01-27 14:46] pavelhorak opened #2718 "GH action test issue"
## Description

## Steps to reproduce

## Expected behavior

## Actual behavior

## Diagnostic logs

## Environment

[2021-01-28 11:32] Haplois commented on #2707
Should we keep the `//ResultSummary/@outcome` attribute as `Completed` in this case? Since the test run actually never happened. Shouldn't we set that as `Failed` as well?

[2021-01-28 12:19] Sanan07 commented on #2707
We can provide new outcome like `Not started`. It is not `Failed`, cause there were not errors during discovery or execution.

[2021-01-28 12:23] nohwnd commented on #2707
But how will that show in AzDO? IF that is a new status, AzDO won't know about `not started` and because TRX is versionless we won't be able to tell them that this is supported. Also they would have to do development to support this.

[2021-01-28 12:29] Sanan07 commented on #2707
Yes, you are right. IMHO, in this case `Completed` could be more reasonable, cause we finished test run even if test execution did not start, while `Failed` means that something wrong happened during discovery/ execution.

[2021-01-28 12:42] Haplois commented on #2707
Currently, even one test fails, we report `//ResultSummary/@outcome` as `Failed`. Considering we report a failure from `vstest.console.exe`, I think we should report a failure in this case as well. Otherwise, it implies a successful run. If we have the `TreatNoTestAsError` switch set, we should treat this as a failure.

[2021-01-28 13:13] Sanan07 commented on #2707
Thanks, I will take into consideration these opinions, while working on this change.

[2021-01-28 17:22] jakubch1 commented on #2639
Please try using unverifiable probes. More info: https://github.com/microsoft/vstest/issues/2459#issuecomment-768254976

[2021-01-28 17:32] #1816 closed

[2021-01-29 10:22] #2639 closed

[2021-02-01 15:14] #2615 closed

[2021-02-02 03:45] ChrisGuzak commented on #2667
Might be related to [this issue](https://github.com/microsoft/azure-pipelines-tasks/issues/13404). In my case, a buggy native test (that called `std::terminate()`), resulted in a timeout of the test execution. it seems vstest does not consider this a test failure.

[2021-02-02 12:28] ElvenSpellmaker commented on #981
We use coverlet, but Azure DevOps's built in Code Coverage checker only supports `.coverage` and as we build on Linux we can't get the nice code coverage features without moving the build over to Windows... =|

[2021-02-02 12:30] ElvenSpellmaker commented on #981
Is there a way to convert Coverlet Cobertura files into `.coverage`? I know the reverse is possible.

[2021-02-02 15:56] IvanAlekseev commented on #981
@ElvenSpellmaker we use this on windows machines but I guess it will work on linux as well
You will not get all devops coverage features but at least you can fail build on insufficent coverage.
It uses [another microsoft task](https://github.com/MicrosoftPremier/VstsExtensions/blob/master/BuildQualityChecks/en-US/overview.md) to achieve that
[code]

[2021-02-02 16:05] ElvenSpellmaker commented on #981
@IvanAlekseev We'd really like to use this: https://docs.microsoft.com/en-us/azure/devops/pipelines/test/codecoverage-for-pullrequests?view=azure-devops

But it seems it's not possible to trigger it on anything other than Windows as it needs the `.coverage` files to work. You'd think in 2020/2021 Microsoft wouldn't work on a feature for Azure DevOps that only worked with `.coverage` but hey ho.

T

[2021-02-02 16:13] IvanAlekseev commented on #981
@ElvenSpellmaker I am with you on this one. It is pretty sad to see 0 progress in Azure DevOps code coverage handling for a year

[2021-02-02 18:56] ahaleiii commented on #981
I am feeling a lot of the same pain points listed in this thread, and I agree they all seem to come back to Azure DevOps Pipeline integration. I think Coverlet is a perfectly viable solution for cross-platform code coverage. The pain isn't that Coverlet can't produce a binary coverage file, or even that vstest can't collect coverage on Linux; the pain is that Azure DevOps requires a binary coverag

[2021-02-03 07:06] vdanche opened #2728 "[Windows ARM64] with NET 6 preview 1 SDK installed, Unhandled exception when running dotnet test"
**Repro steps:**
Install dotnet-sdk-6.0.100-preview.1.21102.16-win-arm64.exe from https://github.com/dotnet/installer under Release/6.0.1xx-preview1 branch on windows ARM64 machine
dotnet new xunit or mstest
dotnet test

**Expected behavior**
Should successfully run the test included in the template.
**Actual behavior**
![image](https://user-images.githubusercontent.com/65637796/106710570-1a8fe280

[2021-02-03 07:11] vdanche commented on #2728
similar reported issue [#2473](https://github.com/microsoft/vstest/issues/2473) on .NET 5 which has been fixed

[2021-02-03 12:14] nohwnd opened #2729 "Improve logging when adapter fails"
## Description
When an adapter has internal failure we don't get the stacktrace in log which makes finding the root cause difficult.

AB#1274107

[2021-02-03 12:30] spaasis commented on #2459
@jakubch1 Seemingly after your proposed workaround, our pipelines no longer collect any coverage information:
"Coverage for changed lines cannot be determined. Coverage data not found."

The tests are run as before, and the output of the test process implies that the results are published

Our CodeCoverage.runsettings:

[code]

And the pipeline:
[code]

[2021-02-03 15:09] jakubch1 commented on #2459
@spaasis  could you please post also output from dotnet test command? Could you please run it locally and see if .coverage file is generated?

[2021-02-03 16:27] #2729 closed

[2021-02-04 01:33] Haplois opened #2733 "ManagedNameUtilities does not support spaces and other special characters in method names"
## Description
We're switching to the `Microsoft.TestPlatform.AdapterUtilities` package to ensure every test method has a unique name. (See https://github.com/microsoft/vstest-docs/blob/master/RFCs/0017-Managed-TestCase-Properties.md) In our current implementation, we won't allow spaces in method names; F# does. Do we need to support it?

It looks like CIL supports all kinds of strings in type nam

[2021-02-04 05:56] spaasis commented on #2459
@jakubch1  sure, here's the raw output from the pipeline (it's a bit verbose..): https://pastebin.com/bijKZ5d8

Running `dotnet test --no-restore --configuration Release --collect:"Code Coverage" -s "CodeCoverage.runsettings"` **does** generate a code coverage result in e.g. /Tests/IntegrationTests/TestResults/

[2021-02-04 07:59] jakubch1 commented on #2459
@spaasis in both places code coverage report was generated:
[code]

could you please send me those .coverage files for investigation? [You can add it in pipeline to artifacts if it's not accessible.]

[2021-02-04 08:16] spaasis commented on #2459
@jakubch1 Here you go - seems to open correctly in VS and have (maybe) proper data.
[20210204.1.Release.Any CPU.9239.zip](https://github.com/microsoft/vstest/files/5924145/20210204.1.Release.Any.CPU.9239.zip)

Could the issue be then in the Pipeline reporter?

Our azurepipelines-coverage.yml:
[code]

[2021-02-04 08:28] jakubch1 commented on #2459
@ganesp @ShreyasRmsft  could you please help on this? I've checked that coverage file is generated and it contains data for example:
[code]

[2021-02-04 10:26] jakubch1 commented on #981
Sorry for delay in providing cross platform code coverage. We are still porting a lot of quite old C++ code to .NET Standard. I believe we are done in 80%. At the beginning we will be able to support Ubuntu and Alpine distributions. Do you use other distributions?

@ganesp @ShreyasRmsft is CC related logic in Azure Devops cross plat? We can already provide you cross plat library for analyzing .cov

[2021-02-04 13:04] nohwnd commented on #2728
https://github.com/dotnet/test-templates/pull/121 Issue is specific to 16.7.0 and 16.8.0 Test.SDK package. Fix is to manually update the project to use a newer (or <=16.6.1). We are updating the templates in the PR above.

[2021-02-04 15:19] peterwald commented on #2733
Yes, I agree we should add this support.

[2021-02-04 16:12] spaasis commented on #2459
Huh.. All of a sudden one pipeline reported the coverage successfully..
Maybe something changed on Azure's end?

[2021-02-04 16:19] fhnaseer commented on #2639
@arabelaa Can you try running vstest.console.exe with admin rights? Or Visual Studio with admin rights? And see if you need to do this additional step or not.

[2021-02-05 08:51] richardwerkman commented on #2686
@Sanan07 any progress yet?

[2021-02-05 11:30] vadim-96 opened #4156 "What is Duration, startTime and endTime in trx report?"
## Steps to reproduce
Just generate trx file with following command: `dotnet test --filter Category=Test --logger:trx;LogFileName=results.trx`

## Environment
- Windows 10 x64, NET 5.0, Visual Studio Community 16.8.4
- SpecFlow 3.6.23, SpecFlow.Tools.MsBuild.Generation 3.6.23, SpecFlow.xUnit 3.6.23, xunit.runner.visualstudio 2.4.3, Microsoft.NET.Test.Sdk 16.8.3, FluentAssertions 5.10.3

In trx fil

[2021-02-06 16:39] MarcoRossignoli opened #2737 "Coverlet support SDK version 2.2.207"
## Description
Coverlet should be supported since SDK version `2.2.300` that was released in 2019-05-21.
After that a version 2.2.8 was released with SDK `2.2.207` in 2019-11-19 and in this version coverlet is no more supported and throws exception

## Steps to reproduce
You can follow @PureKrome repro https://github.com/coverlet-coverage/coverlet/issues/1078#issue-798889883

## Expected behavior

[2021-02-07 01:26] PureKrome commented on #2737
A further note to the VSTest team: I understand that SDK 2.2.* is now classified as unsupported / EOF (and we should all be upgrading to 3.1.* or 5.*), but it feels like is an unfair regression which breaks compatability?

[2021-02-08 10:41] ShreyasRmsft commented on #2459
@ganesp to help out here.

[2021-02-08 13:25] #2585 closed

[2021-02-09 01:33] Haplois commented on #2733
Some escaped examples are below:

IL: https://github.com/microsoft/vstest/blob/94717fe4a6495d51d5f0986729052c652e89e829/test/TestAssets/CILProject/OrphanMethod.il#L30
[code]

IL: https://github.com/microsoft/vstest/blob/94717fe4a6495d51d5f0986729052c652e89e829/test/TestAssets/CILProject/OrphanMethod.il#L40
[code]

IL: https://github.com/microsoft/vstest/blob/94717fe4a6495d51d5f0986729052c652e89e82

[2021-02-09 01:49] shyamnamboodiripad commented on #2733
@peterwald @Haplois Note that we will need to implement identical support on the Roslyn side. I am not sure if Roslyn will create symbols for types / methods with such names - but we should at least ensure that the code fails in a graceful / predictable way.

[2021-02-09 01:49] shyamnamboodiripad commented on #2733
The choices above seem reasonable although I have a few questions -

* How do we determine that a particular character should be escaped? Does any non-ascii character get escaped with `\u***`?
* Do we need to escape regular white space characters too (considering that we already add `'` around escaped names? Conversely, considering that escaped names can never contain white space above, is the `'`

[2021-02-09 01:50] shyamnamboodiripad commented on #2733
@Haplois Could you please share a link to the IL documentation around escaping upon which the proposed escaping format above is based?

[2021-02-09 02:03] Haplois commented on #2733
In this case, `(`, `)` and `,` are part of the method name, and for the other one, the method name is ```MethodName`3```, and the rest is the parameters for that method.

[2021-02-09 03:27] Haplois commented on #2733
We don't escape a char if
- it's a digit and not the first char
- a letter
- or belong to one of these Unicode categories:
  - NonSpacingMark (Mn)
  - SpacingCombiningMark (Mc)
  - ConnectorPunctuation (Pc)
  - Format (Cf)

It's the same as C# standard (https://www.ecma-international.org/wp-content/uploads/ECMA-334_5th_edition_december_2017.pdf, page 41, 7.4.3 Identifiers)

[2021-02-09 03:28] Haplois commented on #2733
It's easier to parse if we use `'`. (We can stop encoding whitespace)

[2021-02-09 05:10] shyamnamboodiripad commented on #2733
Sounds good so long as we only do one of the two

[2021-02-09 07:55] huiren-jiang opened #2740 "Is it possible to generate file instead of output to Console for switch --list-tests?"
## Description
We hope to get the filtered test case list and process it using code, so we dotnet test could generate file (e.g. JSON) to export the case list instead of everything is output to console.

## Steps to reproduce
dotnet test --list-tests

## Expected behavior
The filtered test case list exported as specific format.

## Actual behavior
The filtered test case list is output to console.

[2021-02-09 09:17] nohwnd commented on #2740
Not at the moment, but you can either use vstest console wrapper to discover tests. Or write a custom logger to store your tests into a file. It's rather simple, you add a class lib that references testplatform object model, and name it *.TestLogger.dll

You also specify friendly name for the logger and handle the tests discovered event in it. Here is a quick example of a logger that saves the ful

[2021-02-09 09:42] huiren-jiang commented on #2740
Hi Jakub,

Actually I'm using test logger, but I didn't know that it can discover tests even if `--list-tests` is specified. Your solution perfectly solves my problem.

Thank you so much!

[2021-02-09 09:42] #2740 closed

[2021-02-09 15:34] peterwald commented on #2733
I like the idea of matching the encoding of C#. How would we escape `'` in the since it's being used to delimit the name? Would we just use the unicode character for it?

[2021-02-09 18:06] Haplois commented on #2733
We're escaping that as `\u0027`.

[2021-02-10 13:42] Sanan07 commented on #2686
@richardwerkman Unfortunately, not big progress yet. I will try to start looking at this.

[2021-02-10 18:19] Sanan07 commented on #1707
Currently when we have TimeOut[1000] attribute and test timeouts we get error message in console "Test 'TestMethod1' exceeded execution timeout period.", but in trx logger we see that test marked as ResultSummary outcome as "Failed", but in Counter we have failed="1", instead of timeout="1"
**Actual :**
[code]
**Expected:**
[code]
**Changes :** In Counters tag timeout set to "1" as test actually t

[2021-02-11 15:56] GRascm opened #2745 "Error running uwp tests in docker"
## Description

`vstest.console.exe` cannot find `UwpTestHostRuntimeProvider` installed with build tools
[code]

## Steps to reproduce
Take the [official instruction](https://docs.microsoft.com/en-us/visualstudio/install/build-tools-container?view=vs-2019) on how to install build tools to docker container

Modify Dockerfile, to support building UWP applications (Select different buildtools to inst

[2021-02-15 03:14] icnocop opened #2747 "Coded UI IE browser test hangs when trying to enter text in a dialog input prompt"
## Description
Calling `browserWindow.PerformDialogAction(BrowserDialogAction.PromptText, "input text");` will hang and not input the text in the dialog prompt.

![Internet Explorer User Prompt](https://user-images.githubusercontent.com/507649/107901467-89562100-6ef8-11eb-9186-f9f40dd4405a.PNG)

## Steps to reproduce
1. Clone repo https://github.com/icnocop/CodedUITestProject472_PerformDialogActio

[2021-02-15 10:24] Haplois commented on #2733
I made some changes to our escaping. With the new changes, if a string segment is not a valid c# identifier I put it inside single quotes, and only escape `'` and `\` chars (to `\'` and `\\` respectively). So with my new change, the output is a bit cleaner. Some samples below:

[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[c

[2021-02-16 06:35] spaasis commented on #2459
For a couple days our code coverage reports have worked as expected

[2021-02-16 08:56] #2733 closed

[2021-02-16 11:32] SamJongenelen opened #2755 "Feature request: Support TestOutcome NUnit 'Inconclusive'"
## Description

Currently, it appears that test NUnits'  testoutcome _Inconclusive_  is mapped to _Not Run_ in vstest.
I would like to be able to use the _Inconclusive_ outcome in the test run reports.

## Steps to reproduce
- VS2019 +  netcore3.1 Test project  +  NUnit + NUnit3TestAdapternuget packages (see code snippets below)
- Have testmethod with `NUnit.Inconclusive("test" );`
- run test
- ob

[2021-02-16 15:44] acn-sbuad commented on #2459
We are still experiencing this sporadically for our DevOps pipeline running .NET 5.

[2021-02-17 19:17] jakubch1 commented on #2459
@acn-sbuad what version of TestPlatform do you use? Did you put
[code]
to your runsettings?

[2021-02-18 15:44] #2707 closed

[2021-02-18 16:36] jzabroski commented on #2667
I think I have the same problem.  In my case, it's a StackOverflowException.  This is super annoying since I don't know how to get the stack trace.  Anyone know ?

[code]

I think we should be turning on this:

| Argument | Description |
| - | - |
| `diagnosticsEnabled` <br/> Collect advanced diagnostics in case of catastrophic failures | (Optional) Use this option to turn on collection of diagnos

[2021-02-18 16:55] jzabroski commented on #2667
@ChrisGuzak Have you tried the `diagnosticsEnabled` flag?  I turned it on and it is producing a crash dump file, but I don't have it in my build output logs.zip - very strange design by AzureDevOps team to let you dump something and not download it easily?

[2021-02-18 18:22] lhfiedler commented on #2459
Why would the verifiable instrumentation work sometimes and not work other times?  In all the scenarios that folks have listed, it's not like it never works or always works.  It's an  occasional failure of the missing method exception.

[2021-02-19 11:42] wyoming98-hub commented on #2607
Any updates on this topic? We are experiencing the same issue from test.sdk version 16.7. on. 16.6. is running fine on our build pipline

[code]

[2021-02-19 11:54] thestonehead opened #2761 "Project is unbuildable due to missing feed"
## Description
  I can't build the project from source due to missing feed "https://dotnet.myget.org/F/vstest/api/v3/index.json".
Same thing if I just run dotnet restore.
When I use my browser to go to that feed it says that it doesn't exist: "Feed does not exist."

## Steps to reproduce
1. Clone or download source code
2. run build.sh or build.cmd

## Expected behavior
I expect the project to be

[2021-02-19 12:40] richardwerkman commented on #2686
@Sanan07 Did you have time to look into this yet?

[2021-02-19 14:24] Haplois commented on #2761
Hi @thestonehead,

We replaced the package sources; which branch are you trying to build? Are you sure you have the latest commit?

[2021-02-19 14:24] #2761 closed

[2021-02-19 14:25] Sanan07 commented on #2686
@richardwerkman Sorry for late, have other priority tasks to complete. Will mark as current work to look at.
Will come to you next week.
Could you also provide testhost logs, which you can get form diagnostic logs (I mentioned earlier in comments). Log you provided is vstest.console logs.
Thank you.

[2021-02-20 02:57] jnm2 opened #2763 "The experience is bad using `dotnet test` with net35 because all tests are silently skipped"
This is very similar to https://github.com/microsoft/vstest/issues/1850, but for net35 instead of net40.

The SDK is failing to set `<IsTestProject>true</IsTestProject>`. This is something that should probably be set in a `buildMultitargeting` .props file so that it gets set for the project no matter what the target framework is.

The fact that VSTest only supports *running* tests on net40 and up

[2021-02-20 11:24] lukos commented on #2626
@nohwnd I'm not sure I understand. We are running dotnet core 3 apps inside docker containers so we would need to update the base image but last time I installed the .Net 5 SDK assuming it was backwards compatible, it didn't build dotnet core and I had to install that SDK too.

Like most people who have worked in .Net for 20 years, I am utterly confused with .Net 5 anyway. .Net is a massive legacy

[2021-02-20 16:48] ch1seL opened #2764 "No possibility to run tests with long VSTestTestCaseFilter"
## Description

## Steps to reproduce
* compose file with hundreds of test case filters, for example, tests.rsp:
```/p:VSTestTestCaseFilter=(FullyQualifiedName="Test1")|(FullyQualifiedName="Test2")|...|(FullyQualifiedName="Test9999")```
* run dotnet test @tests.rsp

## Expected behavior

## Actual behavior

## Diagnostic logs
[code]

## Environment

[2021-02-21 15:16] tonyhallett commented on #2378
dotnet test standard output provides the generated folder name

"Starting test execution, please wait...\r\nLogging Vstest Diagnostics in file: C:\\Users\\tonyh\\Source\\Repos\\DataCollectorXUnit\\XUnitTestProject1\\bin\\Debug\\netcoreapp3.1\\fine-code-coverage\\coverage-tool-output\\diagnostics.log\r\nA total of 1 test files matched the specified pattern.\r\n\r\n
**Attachments**:\r\n  C:\\Users\\

[2021-02-22 06:49] thestonehead commented on #2761
You are correct.
I was building the last tagged version and not master.

My mistake.

[2021-02-22 12:00] Haplois commented on #2761
No worries, if you replace the `NuGet.config` file with the one in the `master` branch, that should successfully build as well.

[2021-02-22 15:11] xwu-ndsc commented on #791
Change the project output type from 'Console' to 'Library' did cause one change on the .csproj file.  It introduced three extra properties in the PropertyGroup which will not get  removed even after the Output Type on project Application property tab get reset back to Console.

![image](https://user-images.githubusercontent.com/77012477/108727210-edc34280-74ed-11eb-99b2-378574fe8dcb.png)

[2021-02-22 22:15] dansiegel opened #2766 "DotNet Test returns non-zero without any output from Process"
## Description

Working from within the context of a custom dotnet cli tool that does a build and some customization prior to running tests, the tool fails when it invokes dotnet test from

## Steps to reproduce

Assuming that you would have a CLI command like the following:

[code]

Within a custom CLI tool start a new process using the dotnet exe
Pass the arguments to the ProcessInfo

Start the

[2021-02-23 08:28] nohwnd commented on #2766
The syntax looks a bit broken in your example. There are some extra spaces after `=`, is that just a copy paste error?

I would start by adding `--diag=<ProjectPath>/logs/log.txt` to the command line to enable diagnostic logging. Please upload the log here if you are willing to share it.

[2021-02-23 10:38] hhoangnl commented on #2459
In my case I only needed to downgrade Microsoft.NET.Test.Sdk (from 16.8.3) to 16.6.1

[2021-02-23 12:49] remiX- commented on #799
@moh-hassan Hey, I'm using NUnit + .Net Core 3 as well but my Console.WriteLines do not show :(

Did you have to do anything special?

[2021-02-23 19:20] dansiegel commented on #2766
@nohwnd It seems that there was some strange error being caused from having it use the working directory of the output directory even though we were specifying --no-build... I've removed that and dotnet test now runs as expected. I would still say there is probably an issue with it needing to have some sort of error output if we're getting a non-zero exit code.

[2021-02-24 07:28] moh-hassan commented on #799
@remiX-
I use the next packages in NUnit in netcore3.1 or net5
[code]
with the next command

[code]

[2021-02-24 08:32] fanjunfengxx commented on #2677
我也遇到相同的问题了

[2021-02-24 17:24] pb-qs commented on #2459
I had this error pop up for 1 of my 5 solutions being build in DevOps self hosted docker agent, but only some of the time.

Upgrading nugets related to testing helped me.

Eg:
<PackageReference Include="Microsoft.NET.Test.Sdk" Version="16.8.3" />  --was 16.5.0 in this solution
<PackageReference Include="xunit" Version="2.4.1" /> --was 2.4.0
<PackageReference Include="xunit.runner.visualstudio" Ver

[2021-02-26 11:06] AndiRudi commented on #2657
Yep, pretty annoying. I am forwarding all logs into the test window, and you really can't say which log is related to which test. I feel there should be something like this

[code]

[2021-02-27 05:55] pcartwright81 opened #2783 "Could not load type 'Microsoft.VisualStudio.TestPlatform.ObjectModel.ManagedNameUtilities.ManagedNameHelper' from assembly 'Microsoft.VisualStudio.TestPlatform.ObjectModel, Version=15.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'"
## Description
When running in Windows CMD, PowerShell, or Visual Studio 2019 an exception is thrown on an empty unit test or the Microsoft sample if the NuGet package is updated to Microsoft.NET.Test.Sdk > 16.9.0-preview-20210106-01.  There are no app.configs in either location.  Since 16.9.1 is a stable version but > 16.9.0-preview-20210106-01 it is also affected.

## Steps to reproduce
Create n

[2021-02-28 11:06] s-glatshtein opened #2814 "dotnet test does not detect tests using Test SDK 16.9.1 and .Net Core 3.1"
Steps to reproduce:
I created a new NUnit project with Visual Studio and .net core 3.1. It contained the following dependencies:

[code]

The project is created with a simple empty test, which I can see in the test explorer and execute through it.
However, I have CLI which uses `dotnet test` to run these tests. When I run the following command, i get no tests:
`dotnet test -t MyFirstTestProject.dl

[2021-03-01 09:50] Sanan07 commented on #2783
@pcartwright81 You should install this nuget package : [Microsoft.TestPlatform.AdapterUtilities](https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=test-tools&package=Microsoft.TestPlatform.AdapterUtilities&protocolType=NuGet&version=16.10.0-preview-20210228-03)

[2021-03-01 09:52] #2708 closed

[2021-03-01 13:23] pcartwright81 commented on #2783
My project file looks like this now, and I have the same issue.
<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>net5.0</TargetFramework>
    <IsPackable>false</IsPackable>
    <Nullable>enable</Nullable>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.NET.Test.Sdk" Version="16.10.0-preview-20210219-03" />
    <PackageReference Include="Microsoft

[2021-03-01 13:38] Sanan07 commented on #2783
@Haplois Could you please look at this?

[2021-03-01 14:24] Haplois commented on #2783
@pcartwright81, `Microsoft.TestPlatform.AdapterUtilities` has some breaking changes. You can't use that preview with it. Please wait for the release of  `v2.2.0`, or use the latest preview package from https://dev.azure.com/dnceng/public/_packaging?_a=feed&feed=test-tools.

Also, please don't mix versions if you're referencing TestPlatfrom packages explicitly. `Microsoft.NET.Test.Sdk` and `Microso

[2021-03-01 14:51] pcartwright81 commented on #2783
After making the project look like this, and deleting the bin, obj, and TestResults folder it is now working.
[code]

[2021-03-01 14:51] #2783 closed

[2021-03-02 06:14] vdanche commented on #2728
The issue has been fixed on .NET 6 preview 1 SDK: 6.0.100-preview.2.21127.3(runtime:6.0.0-preview.2.21123.7)

[2021-03-02 06:16] #2728 closed

[2021-03-02 12:42] sudgarre commented on #2387
Thanks @nohwnd for the work around !

[2021-03-02 12:49] sudgarre commented on #1085
@xamadev : Did you try [workaround](https://github.com/microsoft/vstest/issues/2387#issuecomment-644845962)

[2021-03-02 18:49] ishatalkin opened #2788 "dotnet test doesn't runs tests in parallel, only when -verbosity option is set to normal or detailed"
## Description
I try to execute Nunit or xUnit tests in parallel. Visual Studio runs them as expected (in parallel), but `dotnet test` runs tests consistently. If I provide `-verbosity` option set to `normal` or `detailed`, then tests are run in parallel.

## Steps to reproduce
1. Clone https://github.com/ishatalkin/parallel-tests (there are 4 nunit tests and 4 xunit tests, each containing `Thread

[2021-03-02 23:54] SimonCropp opened #2791 "updating to Microsoft.NET.Test.Sdk 16.9.1 causes ReflectionTypeLoadException"
* TFM: net48 and net5
 * Repro: https://github.com/SimonCropp/TestSdkRepro
[code]
 * run `dotnet test`
 * Result: `ReflectionTypeLoadException`
[code]

Also seen in other projects. https://github.com/SwissLife-OSS/snapshooter/pull/126 note they worked around it by catching `ReflectionTypeLoadException`

Environment:

 * .net sdk 5.0.103 and 5.0.200-preview2
 * Windows Server 2016

[2021-03-03 00:11] SimonCropp commented on #2791
interestingly (random guess). adding a ref manual ref to `Microsoft.VisualStudio.Coverage.CoreLib.Net.dll` make the test pass
[code]

not sure if that helps anyone debugging?

[2021-03-03 00:17] nodavis-msft opened #2796 "Adding nested Runsettings arguments"
I know there is functionality to manually pass in additional RunSettings parameters through the command line (`e.g. -- ParentNode.ChildNode=Value`), but I am trying to create an element one deeper beneath the "ChildNode", so the runsettings file after command line args would look like:
[code]

As you can see, I'm trying to set values in the TAEF test adapter here. With the API specified, though, I

[2021-03-03 23:34] jnm2 commented on #2245
I lost track too. @JohanLarsson have you seen this recently?

[2021-03-04 06:21] JohanLarsson commented on #2245
Still a repro: https://dev.azure.com/DotNetAnalyzers/PropertyChangedAnalyzers/_build/results?buildId=2476&view=ms.vss-test-web.build-test-results-tab

[2021-03-04 09:17] JohanLarsson commented on #2245
A good default would be to fail build if no tests were run. Setting up a VsTest task and expecting no tests to run should be rare.

[2021-03-04 09:29] nohwnd commented on #2245
There is an option to fail the build on no tests https://github.com/microsoft/vstest/issues/2707

[2021-03-04 16:50] nodavis-msft commented on #2796
I ended up going a different route actually, nulling this issue out. Thanks for the response, though!

[2021-03-04 16:50] #2796 closed

[2021-03-04 23:35] trampster commented on #2004
I just got bitten by this, I expected it to operate like dotnet run, All my code is set to copy the things I need to the output directory, but when you do dotnet test, it doesn't use the output directory so nothing works.

[2021-03-05 09:59] joemey commented on #2791
The excepetion is raised by loading `Microsoft.TestPlatform.Utilities`.

I guess the problem is that in the `testhost.deps.json` file inside the nuget package `Microsoft.TestPlatform.Utilities` is referencing `Microsoft.VisualStudio.Coverage.CoreLib.Net/16.9.0-beta.21119.4`.

https://github.com/microsoft/vstest/blob/6a858a323caa439115e9e3cf1c958b04f4ff9993/scripts/build/TestPlatform.Dependencies.p

[2021-03-05 10:45] nohwnd commented on #2791
@Haplois probably connected to the other issue you are solving.

[2021-03-05 12:17] sonnin opened #2800 "Data collector 'Blame' message: Could not start process dump: System.ArgumentException: Illegal characters in path."
## Description
When running unittest on the command line, sometime the test fails with:
"The active test run was aborted. Reason: Test host process crashed"
This does not happen when running the tests from within Visual Studio.

When trying to identify what happens I have add /Blame:CollectDump which gives below error message.

How do I troubleshoot this?
What paths are used and my contain illegal

[2021-03-05 12:24] nohwnd commented on #2800
Do you also have logs from the datacollector? They should be in the same folder as the diagnostic log you posted. You can also add "/diag:logs\log.txt"  and you will find the logs in folder called logs in your current folder.

[2021-03-05 12:43] Haplois commented on #2791
The issue here is, `Microsoft.CodeCoverage` package doesn't include all of its dependencies correctly thus `Microsoft.VisualStudio.Coverage.CoreLib.Net.dll` file is missing from the build output.

/cc: @fhnaseer @jakubch1

[2021-03-05 13:01] sonnin commented on #2800
Here is the output from --diag:log.txt;tracelevel=verbose
[log.txt](https://github.com/microsoft/vstest/files/6090601/log.txt)

[2021-03-05 15:54] richardwerkman commented on #2686
Sorry this took a while. Here are all the logs I can provide right up till the moment the error occurs. I hope this helps!
[logs.zip](https://github.com/microsoft/vstest/files/6091616/logs.zip)

[2021-03-05 18:04] JDCain opened #2801 "'No test is available' using 16.9.1"
## Description
netcoreapp3.1 test sets updated to 16.9.1 which also use xUnit will not discover tests when being run on a build server with only VS 2019 Build Tools installed. Downgrading to 16.8.3 allows the tests to run fine.

Test sets with 16.9.1 work fine if run on a machine with full VS 2019 Enterprise.

Enabling xUnit diagnostics shows no data so it looks like it never loads the xUnit adapt

[2021-03-06 01:09] mcallaghan-geotab commented on #2261
FWIW: the solution we found was actually due to OOM kills from kubernetes gitlab-runner setup.  The nodes were stretching their RAM too tightly, and eventually digging showed events where k8s was killing the dotnet process.

Looked like this:
[code]

This might not be the problem or solution for everyone, but wanted to share back as it is definitely something to consider!

[2021-03-06 07:01] dotMorten opened #2802 "TestResult can't be deserialized"
## Description
If you save a TestResult using the datacontract defined on it, you can't deserialize it again.

## Steps to reproduce
Create a serializer for test results
[code]
Next serialize some test results to a stream:
[code]
Rewind the stream and read the results back in again:
[code]

This will throw:
[code]

My guess is this is because the [internal field store](https://github.com/microsoft