[2019-03-26 07:01] ShreyasRmsft commented on #1967
Will have to read-up on this. Lemme know if you find anything. I'll also try seeing if there's anything we can do for full .Net

[2019-03-26 07:03] singhsarab commented on #1228
@ShreyasRmsft This seems related to the ask we got from the customer the other day. Right?

[2019-03-26 07:19] singhsarab commented on #489
Will use https://github.com/Microsoft/vstest/issues/326 to track this one. Closing this.

[2019-03-26 07:19] #489 closed

[2019-03-26 07:35] ShreyasRmsft commented on #1966
@OsirisTerje agreed. The current experience is a little unintuitive.

[2019-03-26 07:38] ShreyasRmsft commented on #1228
@singhsarab @codito yes seems similar to https://github.com/Microsoft/vstest/issues/1948

The reason is we don't have any default props file along with these packages that copies them to the output directories when added as a package ref.

[2019-03-26 07:58] ShreyasRmsft commented on #1971
Please provide the full set of logs (the entire zipfile you get when you click download all logs) with system.debug = true.

Also if you are building with a particular major version of VS then you will have to ensure you use the same major version of the testplatform when running CODED UI tests. My suspicions are on this.

[2019-03-27 07:10] ayls commented on #1950
I bumped into the same issue, but then tried a different JSON serializer:

https://docs.microsoft.com/en-us/dotnet/api/system.web.script.serialization.javascriptserializer?view=netframework-4.7.2

That got my tests going so I suppose the issue is more likely to be with Newtonsoft.Json.

[2019-03-27 07:20] ShreyasRmsft commented on #1956
@CSmith1111 any updates here?

[2019-03-27 14:45] phraemer commented on #1655
@pvlakshm this is also a major issue for us in our CI environment.

[2019-03-29 00:30] cltshivash commented on #1965
Please do provide logs (or a minimal repro as suggested by the template).

[2019-03-29 00:31] #1965 closed

[2019-03-29 06:06] ShreyasRmsft commented on #1971
@Selvaraj1989 closing due to no response, please re-open if you are still facing issues (with the requested logs) after following the suggestion above.

[2019-03-29 06:06] #1971 closed

[2019-03-29 06:09] ShreyasRmsft commented on #1956
Closing due to no response. Please re-open if still facing the issue.

[2019-03-29 06:09] #1956 closed

[2019-04-01 16:38] jbrown16 commented on #1945
Awesome! Thank you so much, @singhsarab!

[2019-04-01 16:46] jbrown16 commented on #1896
This issue has been resolved in VS 2017 v15.9.10 (https://github.com/Microsoft/vstest/issues/1945). @FruitcakeElemental @jhedlund

[2019-04-01 18:39] tomaustin700 commented on #1955
Hi @shreyasrmsft, is there any update on this?

[2019-04-02 08:25] ShreyasRmsft commented on #1955
@tomaustin700 I tool a look at the logs and the dumps.

The vstest.console.exe is meant to be in that state because it is waiting for the testhost to exit.

Having taken a look the testhost seemed to be hung in executing test code. I didn't get time to take a closer look. You can ignore what is happening in vstest process as it seems to be behaving correctly.

Can you take a look at the testhost d

[2019-04-02 09:30] tomaustin700 commented on #1955
@ShreyasRmsft I am struggling to view the stacktrace of the dump, are you able to email me the stacktrace you can see and I can confirm if it corresponds to the adapter code? Thanks

[2019-04-02 11:59] mayankbansal018 commented on #1926
@onovotny apologies for getting so late on this, can you please share if this is still happening, if yes, can you please share a build, the above one expired.

Or better if we could have some repro steps

[2019-04-02 12:24] onovotny commented on #1926
We switched to Coverlet

[2019-04-03 01:48] brittonbeckham commented on #1951
BTW: this happens even when running tests against a single .csproj file. We have the same problem where it broke our CI pipes.

[2019-04-03 05:02] ShreyasRmsft commented on #1951
@brittonbeckham can you please create a new issue and provide the entire set of logs and screenshots (where applicable) for this?

[2019-04-03 08:18] kaadhina commented on #1958
Please try the above if the issue reproduces. And reopen if needed.

[2019-04-03 08:18] #1958 closed

[2019-04-03 12:08] roelandvh commented on #1876
We had a similar issue and fixed it by relying on shell wildcard expansion (i.e. "projectname.trx*").

[2019-04-03 12:13] AndrewASel opened #1973 "SettingsMigrator: Remote execution is not added in .runsettings"
## Description
I used SettingsMigrator.exe tool for convert .testsettings to . runsettings. Remote execution parameters has been skipped in .runsettings file

## Expected behavior
Add remote execution settings in converted .runsettings file

## Actual behavior
TestSettings:
`<RemoteController name="Testcontroller" />`
 `<Execution location="Remote" parallelTestCount="2">`

Converted .runsettings f

[2019-04-03 13:40] WillR27 opened #1974 "Trx file has redundant outcomes listed in summary"
At the end of a Trx results file, there is a ResultsSummary node with a count for each possible test outcome, however, from what I can tell it will only count 'total', 'executed', 'passed' and 'failed' despite having many more listed such as 'warning', 'aborted', 'inprogress', 'timeout' etc.

Not sure if this is intended or not and if it is why are the outcomes listed there?

I would either expect

[2019-04-03 17:29] tremblaysimon commented on #1951
@ShreyasRmsft This change broke our pipelines too.

Is it normal that a patch version (.NET Core SDK 2.1.**602**) brings a breaking change like that?

[2019-04-04 08:29] #1926 closed

[2019-04-04 08:30] mayankbansal018 commented on #1973
@kaadhina , can you please take a look

[2019-04-04 08:58] mayankbansal018 commented on #1955
@tomaustin700 from the testhost dumps I can see exception being thrown in method "**Patient_AddPatient_NewPatient**" in class "**Patient.PatientTests.PatientTests**"

`>	Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll!Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.Execution.TestMethodInfo.HandleMethodException(System.Exception ex, string className, string methodName) Line 409	C#

[2019-04-04 09:10] kaadhina commented on #1973
Hi @AndrewASel Remote controller is not a supported node in runsettings.

[2019-04-04 09:16] tomaustin700 commented on #1955
@mayankbansal018 Thanks for getting back to me. We have several thousand UI tests which run nightly and it is not uncommon to see test failures. Both of the tests mentioned do have the possibility to throw exceptions in certain scenarios and I see both dumps mention
`Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.Execution.TestMethodInfo.HandleMethodException`

Am I right in thinking `Hand

[2019-04-04 10:38] jonjomckay commented on #1951
This also broke all of our build pipelines too. Nothing exotic is happening in this section of our pipelines - it's merely pulling the `microsoft/dotnet:2.2-sdk` Docker image and running `dotnet vstest /logger:"trx;LogFileName=report.unit.xml"`, so it looks like this was a breaking change made in a non-major version update...?

[2019-04-04 10:54] Mpdreamz opened #1975 "isConsoleLoggerEnabled is always false."
Browsing the code base noticed this:

https://github.com/Microsoft/vstest/blob/46cb498d95f0bea86bb5ac9cb1a38364366748be/src/Microsoft.TestPlatform.Build/Tasks/VSTestTask.cs#L207-L214

Should that not be the reverse e.g setting it to `true`? This is the only write usage so that leads me to believe `isConsoleLoggerEnabled` can never be `true`

[2019-04-04 14:48] mayankbansal018 commented on #1955
@tomaustin700 The method could be, but from the dumps itself it's hard to stay so. All it's saying that some exception occurred while running tests, & the test adapter was trying to parse it, unfortunately we don't know from dump what exception actually occurred.

Can you try to check why the tests could throw exception? You can also enable diagnostics logs via --diag:<path to log file>. That migh

[2019-04-04 18:21] EzrealJ opened #1977 "Need to accurately communicate errors"
Hello there
My English is not very good. The following text was obtained by the translation software.I hope that grammatical errors are not minded
After the official release of Visual Studio 2019, I installed it for the first time and coexisted with Visual Studio 2017; this caused me to have some problems when using the unit test project.
My test project refers to Microsoft.NET.Test.Sdk 15.9.1; wh

[2019-04-04 18:24] AndrewASel commented on #1973
Hello @kaadhina thank you!
I believe this can be related with
Unable to run unit tests remotely on Test Agent using MSTest V2
https://github.com/Microsoft/testfx/issues/315

But actually starting form visual studio version 15.5 we getting message before test execution: TestSettings will soon be deprecated for automated unit and functional testing scenarios. It is recommended that you use RunSettin

[2019-04-04 18:24] jnm2 opened #1978 "Several problems are being caused by the new log file name timestamp"
https://github.com/Microsoft/vstest/pull/1877 is causing problems.

- VSTest inventing directories that don't exist because the string.Replace is hitting all containing directory names, not just the file name.
- The filename is unsightly and there's no way to turn this off.
- Our CI scripts have to guess at the resulting filename based on the directory listing or else direct VSTest to a temp folde

[2019-04-05 03:53] kaadhina commented on #1973
@AndrewASel , the recommended way to distribute test is to use the multi agent settings in the pipeline itself. Please read https://aka.ms/testingwithphases for more info.

[2019-04-05 06:44] mayankbansal018 commented on #1977
@EzrealJ Thanks for sharing this. I tried your scenario where in VS2019 I used 15.9.0 Test SDK, & was able to run the tests successfully.

Can you please try this scenario(`running tests using 15.9.0 Test SDK` from CLI(developer cmd prompt), & also enable diagnostics logs via --diag:<path_to_log>, & share those with us?

[2019-04-05 08:13] tomaustin700 commented on #1955
Hi @mayankbansal018 because our tests are UI tests we throw exceptions when we can't find an expected UI element, it is highly likely this is the reason for the exceptions you have seen. Do you advise against this approach?

[2019-04-05 08:18] mayankbansal018 commented on #1955
@tomaustin700 without knowing the exception being thrown it's actually hard to debug this. Can you please enable diagnostics logs like I mentioned above, & share those, we often tend to log exception in those, & it can help us identifying the issue?

[2019-04-05 08:32] tomaustin700 commented on #1955
@mayankbansal018 I have enabled diagnostics. Would I be able to email you the logs as they may contain private information?

[2019-04-05 09:04] mayankbansal018 commented on #1955
@tomaustin700 , please forward them to maban @ microsoft dot com

[2019-04-05 09:11] Kemyke commented on #1951
Same here, broke our build pipelines too.

[2019-04-05 09:30] ShreyasRmsft commented on #1975
https://github.com/Microsoft/vstest/blob/46cb498d95f0bea86bb5ac9cb1a38364366748be/src/Microsoft.TestPlatform.Build/Tasks/VSTestTask.cs#L168

Is console logger is set to true by default. The cmdline switch is to disable if required.

[2019-04-05 09:47] mayankbansal018 commented on #1975
@Mpdreamz , the use of this variable is only to check whether the verbosity of console logger is to be overridden or not.

I agree the name is misleading, but what it is actually doing is checking if user has explicitly specified  verbosity `-v` on dotnet exe, & has also specified `logger:console`, then ignore the verbosity level in `-v`, & use whatever verbosity is specified for "`console`" logge

[2019-04-05 09:47] #1975 closed

[2019-04-05 09:48] mayankbansal018 commented on #1975
I'll fix the naming.

[2019-04-05 10:09] mayankbansal018 commented on #1978
@jnm2 we are looking at this issue, & re-designing on how we should handle the results at dotnet sln(multiple test project / multi target test project) level.

We are not reverting the fix done earlier immediately, as it might cause confusion for those whose trx are getting published.

We will publish an RFC once we have a design in place, before implementing it.

[2019-04-05 10:27] mayankbansal018 commented on #1974
@WillR27 the summary will only contain whether a test passed or failed, even if the test was inprogress it will eventually complete, & can either fail, or pass, or get aborted, which again is treated as failed.

Hence the summary only contains total, executed, passed, & failed

[2019-04-05 10:27] #1974 closed

[2019-04-05 11:01] WillR27 commented on #1974
@mayankbansal018 That's understandable. I suppose a follow up question would be why are these other outcomes listed if they aren't counted?

[2019-04-05 11:07] mayankbansal018 commented on #1974
The other outcomes are basically when the tests are being run, the way trx is generated is as an extensible logger, & when we get the results back for tests, it keeps on logging what is the state for a given test, now since a test is not completed, an intermediate state could be `inProgress`

[2019-04-05 12:17] jnm2 commented on #1978
Good to know. I'd love if there was a way for the TRX format to be enhanced so that a single file can contain all the results for each target framework. Projects that use TRX would be able to follow the `<multi-project run name>.trx` pattern that is possible with NUnit XML.

Second-best would be `<multi-project run name>.netstandard2.0.trx` etc, but that puts a burden on our CI scripts to play cat

[2019-04-05 14:27] EzrealJ commented on #1977
[log@15.9.1.txt](https://github.com/Microsoft/vstest/files/3048353/log%4015.9.1.txt)
This is my log file

[2019-04-05 15:03] mayankbansal018 commented on #1977
@EzrealJ there must be two log files, one having ".host" in it's path, can you please share that as well?

[2019-04-05 15:15] EzrealJ commented on #1977
[log.txt](https://github.com/Microsoft/vstest/files/3048550/log.txt)
[log.host.19-04-05_23-12-09_51783_6.txt](https://github.com/Microsoft/vstest/files/3048551/log.host.19-04-05_23-12-09_51783_6.txt)
Sorry to keep you waiting, I regenerated the logs.

[2019-04-05 15:25] mayankbansal018 commented on #1977
from the logs the communication between the vstest & teshost process did not happen, however there is not sufficient info in logs to debug this.

Can you please run dotnet publish on your sample test project, & share the publish folder with us, we might be able to figure it out locally.

[2019-04-05 15:34] EzrealJ commented on #1977
ok ，I run “dotnet publish .\Ezreal.ShouQianBa.ApiClient.Test.csproj”, and package "publish"
[publish.zip](https://github.com/Microsoft/vstest/files/3048643/publish.zip)
Source code at
https://github.com/EzrealJ/ShouQianBa
If needed

[2019-04-05 15:34] silentnightwalk opened #1979 "TFS. Test project has 100 tests. However, final .Trx file contains results of 60 tests (50 passed 10 failed)."
## Description

I'm running `dotnet vstest` command from TFS. Test project has 100 tests. However, final .Trx file contains results of 60 tests (50 passed 10 failed). They pass when i run some of the missing tests locally.

Also found 2 seemingly similar questions on stackoverflow without satisfying answer:
https://stackoverflow.com/questions/36680473/tfs-not-all-tests-are-run-although-the-build-i

[2019-04-05 17:51] chcosta commented on #1941
Any update on this?

[2019-04-05 22:07] cheng93 commented on #1979
Im getting something similar on my CI build.

Trx shows ~75 test out of 339. Console output shows all test being run

https://circleci.com/gh/cheng93/TripleTriad/29#tests/containers/0
trx https://gist.github.com/cheng93/d0749cac168a0ce92491a09c09b1fb3b
Just focusing on the `Requests` project

Funny enough, running the command locally works perfectly

[2019-04-06 13:17] silentnightwalk commented on #1979
With TextTemplate help, I could generate code to run each test in its own `exec`.
Real numbers are **113**all/**48**passed/**50**in.trx/**2**failed. I randomly took the numbers for the question because I thoght it didn't matter. 100/50/60 is fake.

-------------------

The output of the run of all test execs are 101 deiag.txt files and 100 TestOutput.trx files.
I identified the one test, which mis

[2019-04-08 06:43] singhsarab commented on #1941
@chcosta This work is planned for this quarter. Will update once, we pick this.

[2019-04-08 08:34] ShreyasRmsft commented on #1959
@PBoraMSFT

[2019-04-08 09:01] samneefs commented on #1950
Had the same problem, after switching to Newtonsoft.Json version 12.
Turning of Code Coverage seems to be the only workaround for me. The other JSON serializer isn't an option for me: since it isn't .NET Standard
Also found a related issue: https://github.com/nunit/nunit3-vs-adapter/issues/519

[2019-04-08 09:53] mayankbansal018 commented on #1977
Thanks for sharing above, I was able to successfully run the project you shared in publish folder.

The current issue that you faced, where vstest.console was unable to communicate with testhost.exe could be machine specific. Can you please try following.

- On your latest VS2019, please create an empty UT project, & manually set version of .NET.Test.SDK to 15.9.0, & see if that runs or not

- Can

[2019-04-08 10:03] mayankbansal018 commented on #1966
@flcdrg , @OsirisTerje dotnet test currently works on a single project, i.e. even you pass a solution file to it, internally dotnet test is invoked individually for every UT project. Doing this ensures that test doesn't have to wait till build is complete, & helps in performance. Hence there is no need for it to honor `MaxCpuCount`

However we are working on bringing in support of running `dlls` w

[2019-04-08 10:03] #1966 closed

[2019-04-08 10:08] OsirisTerje commented on #1966
Thanks @mayankbansal018 !

[2019-04-08 16:00] EzrealJ commented on #1977
Ok, I am sure it is a problem with my computer. I asked my friend to repeat my steps. It is working on his computer. I recorded my screen and showed you what I encountered. One day someone else encountered the same problem as me and found out the reason. I hope you can tell me where the problem lies.
![录制_2019_04_08_23_46_53_453](https://user-images.githubusercontent.com/28976837/55738841-7fd91380

[2019-04-08 16:02] silentnightwalk commented on #1979
Ok, the experiments with `.runsettings` (shown in UPD2 of my previous post) resulted in following:
 - 101 `diag.txt` files
 - 68 `.trx` files

After that, i first returned back the `TargetFrameworkVersion`. Secondly, removed the `MSTest` section. In both cases, the outcome files are:
 - 101 ` diad.txt` files
 - **0 (zero)** `.trx` files

[code]

[2019-04-08 16:45] mayankbansal018 commented on #1977
@EzrealJ from this it is not clear why the communication would fail on your machine, when we have made no changes in the way we establish IPC between vstest.console, & testhost process.

[2019-04-08 16:53] EzrealJ commented on #1977
Thank you very much for taking the time to check the problem for me. I will evade this problem by upgrading sdk in order to continue using the test project.
Thanks again

[2019-04-08 16:55] mayankbansal018 commented on #1977
Thanks for reporting this, apologies we could not get to the root of the issue.

[2019-04-08 16:55] #1977 closed

[2019-04-08 19:32] AndrewASel commented on #1973
@kaadhina
We use test controller and agents for CUIT+Selenium UI testing. Why we need to distribute tests:
1. Reduce time of execution thousand of tests, sure we can turn on parallelization, but it take resources. Anyway we use parallelization for selenium to reduce time of execution even on multiple agents.
2. We need to use different OSs and browsers.
We can take a look at selenium grid as alter

[2019-04-08 21:40] Marusyk commented on #1951
@ShreyasRmsft This change broke our pipelines too. What's going on?

[2019-04-08 22:48] brittonbeckham commented on #1951
I think MS wants us to open another issue for this, but seems like it shouldn't have been closed. A patch like this to a container image shouldn't have been a breaking change without, at minimum, a minor version number change. We found a work around for the meantime, but this is definitely frustrating.

On the flip side, I am happy and excited about where all this .NET Core stuff is going and have

[2019-04-08 22:48] chcosta commented on #1941
@singhsarab , am I to take "this quarter" as meaning, "it will be done by June"?  The last day for .NET Core 3.0 support in Jenkins is May 3rd.

[2019-04-09 04:01] kaadhina commented on #1973
@AndrewASel Testing with phases (https://aka.ms/testingwithphases) will allow to do all the above mentioned scenarios. And is the recommended approach.

[2019-04-09 05:46] cltshivash commented on #1951
@brittonbeckham @Marusyk @Kemyke Apologies for the break here and do acknowledge that we should have called this out broadly and with an equivalent version update. The cause of the change was to address the scenario of multi targeted test project where the log file provided was being overwritten and ending up with data loss. We will revisit the change and see if we could retain the earlier behavio

[2019-04-09 06:23] mayankbansal018 commented on #1955
@tomaustin700 any update on this?

[2019-04-09 06:27] mayankbansal018 commented on #1951
Adding reference to https://github.com/Microsoft/vstest/issues/1978 , we plan to publish an RFC on how trx file name would be generated, will update once that is out.

[2019-04-09 06:38] singhsarab commented on #1941
@chcosta How is this related to Jenkins ?

[2019-04-09 07:00] tomaustin700 commented on #1955
@mayankbansal018 Not yet, I've not had any hangs for a few days unfortunately. When I have the logs for you I will send them immediately. Thanks.

[2019-04-09 07:42] mayankbansal018 commented on #1979
@silentnightwalk The error in **1)** shows that communication b/w vstest.console, & testhost process broke, & yes you are correct, if this happens we do not run the tests after that.

For **2)** where `TestMethod` attribute was under `Debug` compilation option, we won't such tests in case of release. I tested this out locally. If possible can you please try this on a simple project, & share with u

[2019-04-09 09:05] ivonin commented on #1967
@ShreyasRmsft any update on this?

Could you help me understand which downsides you see in just setting `ServerGC=on` by default? It seems reasonable considering that the MSTest v1 runner worked that way.

[2019-04-09 09:30] ShreyasRmsft commented on #1967
@ivonin looping in @singhsarab and @mayankbansal018 to help with this

[2019-04-09 11:25] jasase commented on #1748
Any new information when this will be available?

[2019-04-09 12:06] silentnightwalk commented on #1979
Thanks a lot for your answer!

I think it is more appropriate to ask about the issue i'm facing now in a new thread, as it looks to be a separate one.

----------

As for defining constants (2.)

The Property window of the testing project showed the "Define DEBUG const" was checked. However, Unchecking this (Define DEBUG constant) flag resulted in NO changes to the .csproj.
In other words, the DEB

[2019-04-09 13:01] mayankbansal018 commented on #1979
@silentnightwalk I cannot see your last comment here, but it seems you will open a separate issue for this. If that is so, should I go ahead & close this?

[2019-04-09 14:22] silentnightwalk commented on #1979
@mayankbansal018, Thanks a lot for your reply.

It is now hard to figure out, whether, the error in **1)** always happens with one certain test, or this error randomly occurs on one test or another. Actually (Intuitively), it's always the same test, which breakes the connection, because it had been same count of tests previously (before breaking into many execs). As for now, you may close the issu

[2019-04-09 15:31] silentnightwalk opened #1983 "TFS. Failed to launch testhost. Possible to make it working?"
## Description
One test run on server resulted in (say) half of tests to be countered. From [my previous post and the answer],(https://github.com/Microsoft/vstest/issues/1979) i found out that once connection b/w vstest and testhost breaks, the other tests do not get run.

Second and 3rd and 4th and so on... test runs **fail to launch testshost** at all. None of tests are countered in .trx. No .tr

[2019-04-09 15:35] chcosta commented on #1941
Ack, you're right, my bad. I crossed streams.

[2019-04-09 17:03] cheng93 commented on #1979
@mayankbansal018

Don't know if you have seen my comment.

Should I create a new issue for it?

[2019-04-09 19:07] AndrewASel commented on #1973
Thanks @kaadhina, I will try it.
Testing with phases does not support Chrome/Edge and hosted agents, I believe in VStsets Version 3 task, this options will be available?
We not able to execute coded UI tests on build servers directly.
I will also try to copy artifacts to remote agents and execute this task, I hope that  I will be have only 1 combined .trx in output as we usually have when using re

[2019-04-09 19:29] chhh commented on #799
It's April 2019, Visual Studio 2017 Community, Run XUnit tests for the first time from an `xUnit Tests` project created by VS - no console output. Neither from test code, nor from code under test. Running the same test with NUnit happily produces the output.

[2019-04-10 04:06] kaadhina commented on #1973
@AndrewASel  Testing on hosted agents is supported. It has chorme and firefox browsers installed.
Coded UI is not supported on hosted agents but you can run UI tests with selenium and that is the recommended approach as well. Or you can set your own agents and install anything you want.
There will not be one single combined trx, but you will have one single consolidated test reporting on the serve

[2019-04-10 04:08] mayankbansal018 commented on #1979
@cheng93 I just went through the links you shared, & the trx file shows all 329 tests,
[usertrx.txt](https://github.com/Microsoft/vstest/files/3061951/usertrx.txt)

Also in your CI system, I can see you ran test two times in step 6, & 7. In step 6 I can see 229 tests being ran, whereas in 7 329 tests ran, are you saying this is the difference you were not expecting? If yes, can you please provide

[2019-04-10 04:19] mayankbansal018 commented on #1983
From the logs it seems that testhost.exe was not even found by vstest.console. Can you share the diagnostics logs, it will contain information from where we were trying to launch testhost process.

[2019-04-10 04:42] mayankbansal018 commented on #1930
@nvborisenko is it possible for you to try and implement it, we will we happy to help you in case you need help

[2019-04-10 06:52] tomaustin700 commented on #1955
Hi @mayankbansal018, I have sent you the logs.

[2019-04-10 08:24] cheng93 commented on #1979
@mayankbansal018

I was just focusing on step 7. The unit tests on `Requests`. Although the issue is also there in step 6.

You are right that the trx does show all the tests in the `Results` and `TestEntry` section, however in `TestDefinition` section, a lot is missing.

Total lines of the file should be around ~1600

[2019-04-10 10:22] mayankbansal018 commented on #1967
@ivonin The servergc can be enabled for testhost.exe, testhost.x86.exe, do you think you can raise a PR for this?

[2019-04-10 13:20] AndyL-Edit opened #1984 "SQL Unit Testing Support?"
We are using an Azure DevOps Release Pipeline to deploy a dacpac to a server which does not have Visual Studio installed. This all works great. We now wish to run some database Unit tests against this database. We have a step in the pipeline that runs the "Visual Studio Test Platform Installer" and gets the latest stable version of vstest.console.exe from Nuget and places it in the Tools folder fo

[2019-04-10 14:12] sharwell opened #1985 "testhost.x86 is not large address aware"
Currently testhost.x86 is compiled with platform set to x86:

https://github.com/Microsoft/vstest/blob/53c0a341b07c1f224a31b2378e696f535a1f6080/src/testhost.x86/testhost.x86.csproj#L12

This compilation setting causes the application to omit the large address aware setting, which causes problems on larger multi-core machines (I'm observing frequent OOM errors on 2990WX).

The correct setting for a

[2019-04-10 15:14] mayankbansal018 commented on #1955
@tomaustin700 the logs we needed were in file `C:\Build Agent\_work\_temp\ebdd48b0-5b06-11e9-94f5-711fefcb284f.host.19-04-09_21-35-37_02180_1.txt` can you please check if you can share that as well?

[2019-04-10 15:45] ivonin commented on #1967
@mayankbansal018 I created a PR, see above.

From what I can see `vstest.console.exe` runs some tests directly, at least in some scenarios, and changing the GC mode for `vstest.console.exe` fixes the problem. I ended up setting the GC options for all three of the executables.

[2019-04-10 18:24] mayankbansal018 commented on #1984
@AndyL-Edit , can you please try this scenario on a clean box with no VS Install? From the error it doesn't look anything specific to platform,& since the exception is thrown in Assembly Initialize, it means platform was able to load the test adapter, which then tried to run the tests.

However when the initialize was invoked for your test class, some dependencies were not found, which probably ge

[2019-04-11 03:52] JunielKatarn commented on #1732
(Retaking this issue).

Thanks, @cltshivash.
This command works for me to run an individual test:
[code]

[2019-04-11 07:00] tomaustin700 commented on #1955
@mayankbansal018  I will get these to you as soon as possible. I will have to wait for it to hang again as those files have now been cleaned up.

[2019-04-11 08:27] AndyL-Edit commented on #1984
Forgive me - but I am a little confused. This was on a box with no VS install, That is the issue I am trying to overcome and why we are using the "Visual Studio Test Platform Installer" task in devOps?

[2019-04-11 08:33] cheng93 commented on #1979
Diagnostic file https://gist.github.com/cheng93/cea3878115860b8e85f6b0883ac1203e

[2019-04-11 12:11] silentnightwalk commented on #1983
@mayankbansal018, thanks, here's some diagnostics:
[code]

[2019-04-11 13:11] jcoburn commented on #1978
well maybe you could use the existing feature?
--logger "rx;LogFileName=Framework.trx"  for framework

--logger "rx;LogFileName=Core2_1.trx"  for Core 2.1

--logger "rx;LogFileName=Core2_2.trx"  for Core 2.2

this change broke all of my multi-targeted builds!

[2019-04-11 14:28] tobysainsbury commented on #1213
This fixed my issue. I am using Jenkins to automate Selenium tests and was running into the "No tests found to execute" issue when Jenkins was using CMD to run the visual studio project dll file. Now it runs fine, thanks!

[2019-04-11 16:01] mayankbansal018 commented on #1984
@AndyL-Edit , the "Test Platform Installer" task is for users who don't have VS installed on their build agents, & would simply want to run tests. This also helps in faster servicing with bugs fixes in test platform, which would otherwise be only available with VS releases.

The task itself brings in all the dependencies for test platform which runs the tests, however the dependencies that the tes

[2019-04-11 16:06] mayankbansal018 commented on #1983
@silentnightwalk from the logs the location from where vstest is trying to run the testhost is correct, & from the above exception the only conclusion I can draw is that the testhost.exe is not present at that location.
I'm not sure why that would be, but can you confirm if on your build agents under path `C:\Program Files\dotnet\sdk\2.1.503\TestHost`, is testhost even present? Or alternatively ca

[2019-04-11 17:53] silentnightwalk commented on #1983
@mayankbansal018 , thanks!
I'll try to update or confirm the presence of testhost tomorrow. Sorry for misleading info: we have fresh dotnet on other machine, but on this one it's outdated...

[2019-04-11 22:17] JunielKatarn commented on #1763
I'm running into a like related error.
(See https://github.com/JunielKatarn/VSTestSample/blob/master/SampleTest/TestClass2.cpp#L19)

If I invoke:
[code]
The test labeled with that `Owner` attribute gets run successfully.

But, if I invoke:
[code]

The test is not located.
Is this the same root issue?

If this is not a priority for the development team, can someone maybe point me to where to start

[2019-04-11 22:45] verbal-defense opened #1988 "Execution target framework guidelines"
I was wondering about targetted frameworks used for execution of tests.

On [docs.microsoft.com](https://docs.microsoft.com/en-us/visualstudio/test/vstest-console-options?view=vs-2019) documentation page, it is mentioned that "Valid values are Framework35, Framework40, Framework45, and FrameworkUap10."

From code, however, I see that whatever is accepted in [FrameworkName's constructor](https://do

[2019-04-12 05:38] mayankbansal018 commented on #1988
Yes, you are correct, if the user is aware of the actual framework of the dll(452 vs 472) we recommend to use actual framework, though the platform itself doesn't bring in any additional benefits for either.

[2019-04-12 05:42] mayankbansal018 commented on #1930
@nvborisenko I'm closing this, please let us know if datacollection approach doesn't work for you.

[2019-04-12 05:42] #1930 closed

[2019-04-12 09:20] AndyL-Edit commented on #1984
Thanks for your assistance.
We have found a workarounf for this issue.

[2019-04-12 09:20] #1984 closed

[2019-04-12 09:20] AbhitejJohn commented on #1985
@sharwell : Just trying to understand the affect of moving to LAA, how would this affect low config systems?

[2019-04-12 09:31] mayankbansal018 commented on #1979
@cheng93 is it possible for you to create a smaller repro of this issue, & share with us?

One thing I noticed, that the methods which were missing under `TestDefinition` section are data driven, however that is not true for all data driven tests.

A smaller repro would actually help us a lot in figuring this out.

[2019-04-12 09:39] cheng93 opened #1989 "Trx Missing TestDefinitions"
From #1979

https://circleci.com/gh/cheng93/TripleTriad/29#tests/containers/0
trx https://gist.github.com/cheng93/d0749cac168a0ce92491a09c09b1fb3b
[code]
[code]

Diagnostic file https://gist.github.com/cheng93/cea3878115860b8e85f6b0883ac1203e

[2019-04-12 09:40] cheng93 commented on #1979
Ive made a new issue, will try and get a smaller repro here.

I guess this issue can be closed

[2019-04-12 09:40] cheng93 commented on #1989
Will try and produce small issue.

Can someone tag it with `bug` and `needs-repro`

[2019-04-12 09:49] #1979 closed

[2019-04-12 12:34] jnm2 commented on #1978
How would my build script know which TFMs to use? They change pretty often. This is additional pain.

[2019-04-12 17:01] silentnightwalk commented on #1983
Haven't yet had managed to update version. Hopefully, i'll do it on monday.
(i'll delete these two last comments later)

[2019-04-13 01:28] andrewliang commented on #862
Runsetting is an option for me if there's a secure way of storing credentials in it.

[2019-04-13 01:29] andrewliang commented on #862
What? I did not unassign @pvlakshm  from this ticket...

[2019-04-14 12:03] cheng93 commented on #1989
You'll need docker to reproduce.

1. Pull the docker image
[code]

2. Run the image in interactive mode (and mount a volume for easy access to logs)
[code]

3. Now inside the container, clone my repository
[code]

4. Run the following commands
[code]

5. On the host, you should be able to view the trx and logs in `/tmp/TripleTriad/TripleTriad/TestResults`

Here are my outputs

[_9e642c4ec876_2019-

[2019-04-15 11:55] #1973 closed

[2019-04-15 15:16] PedroS11 commented on #669
Using the variables defined in launchSettings.json would be perfect. Is it possible?

[2019-04-15 16:17] andyturner commented on #1951
+1, broke our build chain too. I'm surprised such a change was implemented without any backwards compatibility. Was it not more sensible to implement a "UniqueLogFileName" parameter for those people with the multi-target issue to use, and to leave the behaviour of "LogFileName" untouched/unbroken?

[2019-04-15 20:37] SimonCropp commented on #799
@chhh that is a design decision by xunit so as to avoid the use of static state. one possible option is to try this approach https://github.com/SimonCropp/XunitLogger which uses asynclocal to keep track of the logging context

[2019-04-16 06:59] tomaustin700 commented on #1955
@mayankbansal018 I have just sent you the other log files you requested. Thanks.

[2019-04-16 08:59] subprime commented on #1951
+1, broke our build chain too.

[2019-04-16 09:11] mayankbansal018 commented on #1955
@tomaustin700 from the logs it is clear that something is wrong in test `Home_CodeTables_CantReorderSystemCodeTable`. The log shows that this was the last tests being executed, & after that vstest.console, & testhost are just polling each other.

Please see line **451** in `0baf5d80-5fcc-11e9-ba5d-c92f734c6a81.host.19-04-15_23-16-51_76510_1.txt`, & line **46043** in `0baf5d80-5fcc-11e9-ba5d-c92f73

[2019-04-16 09:23] mayankbansal018 commented on #1989
@cheng93 Thanks for the repro, I could see this, & the reason you are facing lesser number of entries under `TestDefinitions` section, is because of data driven tests, & how the identities are assigned to them.

Each test be it data driven or not, is uniquely marked under `Results` section, where they are assigned unique identity, however since data driven tests have same same meta data associated

[2019-04-16 09:28] mayankbansal018 commented on #1989
Closing this, as this is by-design, please comment here to let me know if there are any concerns.

[2019-04-16 09:28] #1989 closed

[2019-04-16 09:29] mayankbansal018 commented on #1988
Moved to backlog to correct docs.

[2019-04-16 09:29] #1988 closed

[2019-04-16 15:48] crhairr commented on #1951
This broke our build scripts that execute inside of Jenkins. The test result collector at the end of our build pipeline stages can no longer find the files. We have many, many dozens of these build scripts, all run inside Docker images. Fixing this is a huge issue for us, and a reason not to adopt the newer .NET Core versions.

The better solution would have been to allow developers the options to

[2019-04-16 15:56] ivonin commented on #1985
From what I read, setting the performance hit from setting the /LAA flag exists although it's not too big.

Can't find anything more thourough than [this StackOverflow post](https://stackoverflow.com/a/26001862/501518) at the moment. @sharwell what's your take on this?

[2019-04-16 20:54] sharwell commented on #1985
I've never heard of there being a difference. I can't benchmark the difference in a meaninful way because the current release just crashes.

[2019-04-16 22:35] cheng93 commented on #1989
@mayankbansal018

I just noticed the classname inside TestDefinition's TestMethod is wrong. (line 161 in my reproduction)

It is `TripleTriad.Requests.Tests` instead of `TripleTriad.Requests.Tests.GameTests.GameMoveTests.ValidatorTests`

[2019-04-17 07:46] mayankbansal018 commented on #1983
Any update on it?

[2019-04-17 08:57] SeppPenner commented on #1951
Broke our scripts as well. I totally agree with @andyturner and @crhairr. It should be backwards compatible and simply provide the possibility to add prefixes/postfixes if needed.

[2019-04-17 10:18] silentnightwalk commented on #1983
Sorry for late reply.
After version update, now it's fine.
Not sure what the problem was.

[2019-04-17 10:24] mayankbansal018 commented on #1983
Sure, please comment back here, if you find this issue again, I'll reopen it.

[2019-04-17 10:24] #1983 closed

[2019-04-17 11:43] slavkof commented on #1586
I am also seeing test runner hang on IWebHost.Dispose().

Did anyone manage to find a solution?

[2019-04-17 12:11] martincostello commented on #1586
My workaround was to register a handler for the `IApplicationLifetime.ApplicationStopping` event and then do something this:

[code]

[2019-04-17 20:57] luis-cortina commented on #1830
Hi @kendrahavens @AbhitejJohn, VS2019 is out and I'm looking to upgrade my extension to it. Are any of the deprecated apis available or should i wait for the new ones to come out?

[2019-04-17 23:52] AbhitejJohn commented on #1830
@luis-cortina : The deprecated `ITestsService` is still available, yes. The new API I've detailed above are part of a larger change that's being stabilized. We will update this thread as soon as that is available in a preview.
APIs, other than the ones marked deprecated above, are removed. So `ITestExplorerServiceContainerDiscoverer` wouldn't be available anymore. A solution build triggers discove

[2019-04-18 14:53] #1985 closed

[2019-04-18 15:36] mayankbansal018 commented on #1955
closing this issue, please let me know if there are any concerns.

[2019-04-18 17:46] grondinjc commented on #1763
@JunielKatarn Yes, this is the same issue that I have.
So far, my workaround is the fudge more information into the `owner` field since it is a considered string using an user-defined delimiter. To apply a testcasefilter on top of it, I then use the contains operations `~`. Because the string values can overlap when using a string contains, I added a prefix.

[code]
Invocation then looks like that

[2019-04-20 12:03] cheng93 opened #1992 "Trx TestDefinition classname"
## Description

The classname under test definition is wrong.

For example

[code]

the classname is `XunitTrx` which is **wrong**

## Steps to reproduce

Instructions are here https://github.com/cheng93/XunitTrx

Example output is in the `TestResults` folder

|docker tag|vstest|
|-|-|
|2.2|16.0.1|
|2.2.105|15.9.0|

## Expected behavior

[code]

the classname should be `XunitTrx.FactTests`

## Act

[2019-04-21 07:16] mayankbansal018 commented on #1992
@cheng93 can you share the different trx files generated when run locally, v/s when you are getting the error?

[2019-04-21 07:25] cheng93 commented on #1992
@mayankbansal018  pushed to repo

[2019-04-21 17:04] vany0114 commented on #1951
+1 broke my build too

[2019-04-25 18:20] abatishchev commented on #1491
Didn't help me.

[2019-04-26 11:11] mikrj commented on #1951
+1 It broke our builds too, it would be better with possibility for prefixes/postfixes.

Also the description in dotnet test -h is now misleading:
`Log in trx format using the specified file name: --logger "trx;LogFileName=<TestResults.trx>"`

[2019-04-26 14:30] #1950 closed

[2019-04-26 14:42] singhsarab opened #1998 "Stdout in the trx logger does not preserve newlines"
## Description
Newlines are not getting preserved for the logs published via the adapter.

## Expected behavior

[code]

## Actual behavior

[code]

[2019-04-28 05:42] piotrbocian commented on #1491
​After update to VS 15.9.4, it seems to be fixed.

[2019-04-28 16:09] #1998 closed

[2019-04-30 11:38] ecoffman commented on #1951
+1 Our scripts are broken now, too.

[2019-04-30 19:59] kbirger commented on #862
This gives an error:

   at System.Xml.XmlDocument.CheckName(String name)
   at System.Xml.XmlElement..ctor(XmlName name, Boolean empty, XmlDocument doc)
   at System.Xml.XmlDocument.CreateElement(String prefix, String localName, String namespaceURI)
   at System.Xml.XmlDocument.CreateElement(String name)
   at Microsoft.VisualStudio.TestPlatform.Common.Utilities.RunSettingsProviderExtensions.Crea

[2019-04-30 21:36] kanchm commented on #862
@kbirger the xpath must resolve to an existing node. Otherwise it will try and create the node.
Refer code [here](https://github.com/Microsoft/vstest/blob/7b6248203164f8ea821f6795632bd22e0b69afb0/src/Microsoft.TestPlatform.Common/Utilities/RunSettingsProviderExtensions.cs#L95)

[2019-05-01 17:44] Rod-in-NM opened #2001 "Dup of https://github.com/Microsoft/vstest/issues/627, fix is available in VS15.3.0 preview2. You can use `blame` option to narrow down the stackoverflow exception to particular test case."
In the reply that smadala made on June 21, 2017, he recommended the original poster, "... use the `blame` option to narrow down the stackoverflow exception to a particular test case".
I would love to do that, but don't know what the `blame` is or means. What is it, please?

Dup of https://github.com/Microsoft/vstest/issues/627, fix is available in VS15.3.0 preview2. You can use `blame` option to n

[2019-05-01 19:31] Rod-in-NM commented on #2001
I've got an answer to my question on this [VSTest.Console.exe page](https://docs.microsoft.com/en-us/visualstudio/test/vstest-console-options?view=vs-2019).

[2019-05-01 19:31] #2001 closed

[2019-05-02 15:35] kbirger commented on #669
That seems to be a murky subject. From another issue which I can't find right now, the support seems like it should exist, but folks are commenting that it doesn't work.

[2019-05-02 16:34] cltshivash commented on #1647
@idontknowwhY666 Do you still see this issue ? Can you share the details on the installation being done (scripts) ? We haven't heard this issue anywhere else.

[2019-05-03 01:10] armanio123 opened #2003 "RunSettings not including configuration on VS Test Explorer"
I'm working on implementing a JS and TS test adapter for Visual Studio, so far it looks good but I'm stuck on getting tests to be discovered/run on Visual Studio Test Explorer.

We have worked on leveraging the `VSTestCLIRunSettings`  on a `targets` file, and works great for the dotnet cli but not on Visual Studio. You can see the file [here](https://github.com/Microsoft/nodejstools/blob/master/No

[2019-05-03 21:30] peterhuene opened #2004 "dotnet test/run have inconsistent CWD"
_From @yoshiya8 on Monday, 27 August 2018 15:10:42_

## Steps to reproduce
Create a .NET core app that simply prints out the current directory from the environment *and* a .NET core XUNIT test case that does the same:

    using System;
    namespace DotnetRun
    {
        class Program
        {
            static void Main(string[] args) => Console.WriteLine($"CWD: [{Environment.CurrentDirector

[2019-05-03 21:30] peterhuene commented on #2004
_From @yoshiya8 on Monday, 27 August 2018 15:11:48_

I believe this relates to: https://github.com/dotnet/cli/issues/4473

[2019-05-03 21:30] peterhuene commented on #2004
_From @peterhuene on Friday, 03 May 2019 21:28:53_

I finally got around to tracking down the source of the discrepancy between `dotnet run` and `dotnet test`.  Neither commands in the CLI set the current working directory.

The culprit is the [test host manager](https://github.com/Microsoft/vstest/blob/9ddaf36ee96c9ed961b9c1c2b806b20fbffb4659/src/Microsoft.TestPlatform.TestHostProvider/Hosting/Do

[2019-05-03 21:32] peterhuene commented on #2004
`dotnet test` users are expecting the CWD of their test code to be where `dotnet test` is running.  However, the test host manager (see link in my previous comment) is explicitly changing the CWD to the directory containing the test dll.

As this isn't a `dotnet test` CLI command issue, but an issue with the test tools, I've moved the CLI issue here for you to decide on the correct behavior.

[2019-05-04 10:47] singhsarab commented on #2004
@yoshiya8 This is my design.
This is the code responsible for this behavior https://github.com/Microsoft/vstest/blob/f33bb21b47b027016959d8385e0f69a7e3ff8027/src/Microsoft.TestPlatform.TestHostProvider/Hosting/DotnetTestHostManager.cs#L234

Note that dotnet run and dotnet test are independent verbs.
dotnet test invokes the test platform, and test platform runs the tests in isolation, making sure a

[2019-05-04 19:24] ftaran opened #2006 "create report from within visual studio"
Is it possible to create test reports whenever the tests are run from within visual studio?

[2019-05-06 08:18] SeppPenner commented on #1746
@singhsarab Is there somewhere a page how it is configured? The only thing I found is https://docs.microsoft.com/en-US/dotnet/core/tools/dotnet-test?tabs=netcore21 which is not really telling me anything.

Running e.g. `dotnet test src\MyProject\MyProject.csproj "--logger:trx;LogFileName=MyProject.trx" --results-directory:..\..\src\TestResults\ --collect:"Code Coverage"` generates a trx file but p

[2019-05-06 08:23] SeppPenner commented on #1939
@alastairtree I would also like to see that feature.

[2019-05-06 08:24] SeppPenner commented on #1746
Okay, I found out that currently only the `.coverage` file format is available as output which is only readable in VS Enterprise (see https://github.com/Microsoft/vstest/issues/1939). So, forget about the second question.

[2019-05-06 13:28] singhsarab commented on #1746
@SeppPenner We are integrating with coverlet and those options, hopefully you'd have soon.

Regarding the file name and folder, there is already an [issue](https://github.com/Microsoft/vstest/issues/1957) filed, you can up vote it. We are currently prioritizing other important issues based on feedback and we might not be able to take this one up as of now.
PS: That said, we would really like if yo

[2019-05-06 16:45] SeppPenner commented on #1746
@singhsarab I will see what I can do, but I'm busy at the moment with e.g. the German version of the Arduino reference and some other smaller projects. I will keep that in mind and hopefully come back later to help.

[2019-05-07 01:13] cltshivash commented on #2006
For issues related to the test experience in Visual Studio, please report it using Visual Studio's "Send Feedback" option that can be accessed from the Help menu OR using this link https://developercommunity.visualstudio.com.

[2019-05-07 01:13] #2006 closed

[2019-05-07 03:50] tim-arheit opened #2008 "Could not load file or assembly 'Microsoft.VisualStudio.ArchitectureTools.PEReader - 16.0.2-preview"
## Description
When running the unit tests in an Azure devops build pipeline "(https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/test/vstest?view=azure-devops)  using 16.0.2-preview
Many of the unit tests throw the error:

System.AggregateException : One or more errors occurred. (The type initializer for 'Velocity.Common.Processors.Base.Common.ProcessorBaseFactory' threw an exception.)

[2019-05-07 11:06] sjblack opened #2009 "Failing to run Nunit test: System.Security.VerificationException error"
## Description

Running NUnit tests through a DevOps build results in the following error on all assemblies that it tries to load:

I can see a bug was raised and fixed with a similar error to this, as far as i could tell the fix was in the 16.0.2 preview?

## Steps to reproduce

Run a build through DevOps 2019 (on-prem) with a VS Unit Test build task loading assemblies.
The test task has code cov

[2019-05-07 11:29] #2009 closed

[2019-05-07 13:53] Brunni commented on #1951
+1
It broke our builds, too!
Our command: `dotnet test --logger "trx;LogFileName=TestResults.trx"`

[2019-05-07 16:30] ftaran opened #2010 "Run scripts before or after tests are run from within visual studio"
is it possible to run scripts before or after tests are being run from within visual studio, either using runsettings file or another approach?

I need to generate a text summary report each time the tests are run locally by devs, but for this I first need to generate the XML report and then use another tool to turn that XML report to a text summary.

we want to include this report at the top of e

[2019-05-07 17:19] singhsarab commented on #2008
@tim-arheit
Is that the complete stack trace?
Please run the build with System.Debug= true, share the logs with us.
Is it possible for you share some a repro project/link to pipeline with us?

[2019-05-07 20:53] jeffschwMSFT opened #2011 "Dependency resolution issues within net framework unit tetst class"
from @maximburyak https://github.com/dotnet/coreclr/issues/20606

This issue replicates when referencing nuget package with embedded kestrel dlls from unit test class library, that also references aspnetcore.
Please take a look into this repro repository: https://github.com/maximburyak/EmbeddedProjectsReferenceIssue
I'm not sure if it's a coreclr issue or mstest issue, probably something in betwee

[2019-05-08 17:32] jerryluoaustin commented on #1425
Please bring back sorting **_all_** tests in alphabetic order.

[2019-05-08 19:33] StephenCleary commented on #1603
Please reopen, since the fix for this has been reverted.

[2019-05-08 21:09] livarcocc opened #2013 "dotnet test without shared runtime"
_From @Rast1234 on Tuesday, 23 April 2019 12:06:14_

Currently we run our apps with heavily customized corporate docker image. We publish self-contained apps, because we deemed it too time consuming and potentially problematic to get shared runtime to run in there.
So basically we do this (extra stuff omitted) in microsoft's SDK image:
[code]
Then we copy results to our image and just run the bina

[2019-05-09 07:32] karanjitsingh commented on #2013
@Rast1234 you can take a reference on Microsoft.TestPlatform itself https://www.nuget.org/packages/Microsoft.TestPlatform/16.0.2-preview-20190502-01

![image](https://user-images.githubusercontent.com/4632805/57435290-9e4d4d00-725a-11e9-8a54-945da1346692.png)

[2019-05-09 13:00] singhsarab commented on #2010
It is not very clear as to how you running these tests and what is the intent here?
If I understand correctly, you need some report for each pull request.

Why do you want to run and generate this report for every run in Visual Studio?
How are you running these tests?
Have you considered using pipeline tasks ?

If at all you want to generate a specific report, you can run your script after you inv

[2019-05-09 15:08] tim-arheit commented on #2008
I have found the offending code which is suppose to load a list of types that implement a particular interface:
`Type type = typeof(ICommand);

            IEnumerable<Type> types = AppDomain.CurrentDomain.GetAssemblies()
                .SelectMany(s => s.GetTypes())
                .Where(p => type.IsAssignableFrom(p) && p.IsClass);`

It works in production, but when running unit tests on 16.0.2

[2019-05-09 15:25] singhsarab commented on #2008
@tim-arheit I cannot think of anything that seems related to this.

For your comment I am inferring that this was something in your code that you have fixed now. Is that correct?

[2019-05-10 09:57] singhsarab commented on #2011
@maximburyak Can you please give some repro steps for this issue?

@jeffschwMSFT Why do we think the issue is with test platform?

[2019-05-10 11:35] singhsarab commented on #1647
@idontknowwhY666 Apologies for the delay in getting back this. Can you please revert back?

[2019-05-10 12:48] singhsarab commented on #1992
@cheng93 Thanks for feedback. The fix will be available in the next preview release.

[2019-05-10 12:48] #1992 closed

[2019-05-10 15:16] jeffschwMSFT commented on #2011
This issue was in an a different repro and moved based on Daniel's analysis.

[2019-05-13 06:56] divais commented on #1808
Hi Kendra,
The basic principle of Data driver or ordered tests is if all are passing then it passes, if one fails then it also fails. Other than a customer feedback, can you share other reasons why should this change?

[2019-05-13 14:41] cdotnet commented on #1951
+1 broke our build too.

Microsofts cowboy builder at it again...

Any updates on this?

[2019-05-13 14:46] mayankbansal018 commented on #1951
It was fixed via https://github.com/microsoft/vstest/pull/1996
Release: https://github.com/microsoft/vstest/releases/tag/v16.0.2-preview-20190502-01
Notes: https://github.com/Microsoft/vstest-docs/blob/master/docs/releases.md#1602-preview-20190502-01

[2019-05-13 14:47] #1951 closed

[2019-05-14 13:24] boga5 commented on #939
Hey guys!
It would be great if we get this functionality in Azure DevOps.
Let me know if there are any workarounds at least!

[2019-05-14 20:07] accu-joeykarns commented on #981
@acesiddhu Is there any update in enabling CC on Linux? Does the 16.1.0 nuget have it?

[2019-05-15 03:26] acesiddhu commented on #981
@accu-joeykarns as we speak the support is currently under development. We are integrating it with coverlet. Here is the documentation https://github.com/tonerdo/coverlet/pull/402 that has details on how this is going to work

[2019-05-15 04:04] hrai commented on #1951
Using the trx regex like `TestResult_*.trx` in my build script fixed it temporarily until we get the sdk up to date.

[2019-05-15 05:34] #1729 closed

[2019-05-15 05:37] #1770 closed

[2019-05-15 16:51] JakubJaworskiPL opened #2018 "Intellitrace with runsettings"
Hi All,

Is it possible to turn on IntelliTrace for test run using .runsettings?
I can see it is available for .testsettings but cannot find any guidance for .runsettings.

Thanks
JJ

[2019-05-17 07:11] jayaranigarg commented on #2018
@JakubJaworskiPL : Can you please explain your scenario as to what are you trying to achieve?
It would help if you can share with us a simple repro project along with sample testsettings file that is working for you?

[2019-05-17 10:13] HoraceBury opened #2019 "vstest does not work with published selenium suite"
[Related SO post](https://stackoverflow.com/questions/56148081/is-this-dotnet-vstest-equivalent-to-this-dotnet-test-command)

## Steps to reproduce
Globally installed selenium package [as described by Scott Hanselman](https://www.hanselman.com/blog/RealBrowserIntegrationTestingWithSeleniumStandaloneChromeAndASPNETCore21.aspx)
Running selenium like this:
[code]
Running chromedriver like this:
[code

[2019-05-18 07:21] fergusonr commented on #1425
I'd love to have the ability to create your own sub-hierarchy within a namespace / class driven by the user overridden test name

[TestCase(@"data\rollleft.mdl", TestName = @"Movement\Roll left")]
[TestCase(@"data\rollright.mdl", TestName = @"Movement\Roll right")]
[TestCase(@"data\walkforward.mdl", TestName = @"Movement\Walk forward")]
public void Runner(string testdata)
{

[2019-05-18 18:59] scale-tone commented on #1544
After adding an integration test to my Azure DevOps Release Pipeline, I am now observing this issue constantly (even though my only one test contains only one WriteLine() line of code). Tried 3 times.
So it is not intermittent.

How do I set that VSTEST_CONNECTION_TIMEOUT variable?
What is the measurement unit of it? Should it be seconds?
Where do I find documentation for this variable?

[2019-05-18 19:30] scale-tone commented on #1544
Set that environment variable to 6000.
Validated that it takes effect via a separate pipeline task:

2019-05-18T19:24:40.3661744Z 6000

Still constantly getting from Visual Studio Test pipeline task:

2019-05-18T19:24:49.5634020Z Microsoft (R) Test Execution Command Line Tool Version 15.9.1
2019-05-18T19:24:49.5636551Z Copyright (c) Microsoft Corporation.  All rights reserved.
2019-05-18T19:24:49.

[2019-05-20 15:57] geirsagberg commented on #1926
Can confirm this happens for me too, using `dotnet --collect "Code Coverage"`.

[2019-05-21 14:53] RamiSh commented on #981
hey -- where is the separate tracking item for this? and where are we with merging multiple code coverage files?

[2019-05-21 15:09] codekoenig commented on #981
@RamiSh https://github.com/microsoft/azure-pipelines-tasks/issues/9581

[2019-05-21 19:24] valentinacupac commented on #2008
@singhsarab, today I got the same error.

My tests were working in the past, but today after I updated my Visual Studio to the latest version (I have VS 2019 and updated it today to Version 16.1, and after that update, my tests started failing with the same error.

In my code I also have the line of code AppDomain.CurrentDomain.GetAssemblies().

As can be seen below, error is same as posted by @ti

[2019-05-21 19:30] dukeofharen commented on #2008
I've also just updated Visuals Studio 2019 and also got this exception when running my unit tests. Most of them ran fine, but I have some integration tests where I query the assemblies in the AppDomain for adding them to my IServiceCollection. For some reason, when running the unit tests from within Visual Studio, my code tries to get the types within the namespace `Microsoft.VisualStudio.Architec

[2019-05-21 19:48] valentinacupac commented on #2008
Based on all the above, it seems that the quick fix in all 3 cases seems to be additional filtering of assemblies to prevent scanning the assemblies that are referencing Microsoft.VisualStudio.ArchitectureTools.PEReader, Version=16.0.0.0

The interesting question is why it's searching for Microsoft.VisualStudio.ArchitectureTools.PEReader Version=16.0.0.0.... Perhaps that's why the tests work with

[2019-05-22 03:08] kasnti commented on #2008
I also got the same exception,AutoMapper's dependency injection test can work in VS16.0, but there is a problem in VS16.1.
In my code I also have the line of code, which I used to tell AutoMapper to scan all asemblies (in the past it worked):
`services.AddAutoMapper(AppDomain.CurrentDomain.GetAssemblies());`
so Instead of scanning all asemblies, I specified to provide the assembly containing the '

[2019-05-22 03:38] airbreather commented on #624
VS2019 16.2 Preview 1 adds [something](https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes-preview#test-explorer-162P1) that sounds a lot like this.

Testing it out on something basic, it seems to work for me.

[2019-05-22 05:57] prawalagarwal commented on #2019
@HoraceBury  Where are you running this scenario? Is it on a hosted VM or your own devbox? Also your logs indicate a similar problem as mention in this [SO post](https://stackoverflow.com/questions/48834963/selenium-server-error-unable-to-create-new-service-chromedriverservice)

Driver info: driver.version: unknown (SessionNotCreated)

Please try mitigation steps as mentioned in the post.

[2019-05-22 09:55] tcoreal opened #2021 "Tests execution hags with the latest version of Test Execution Command Line Tool Version (16.1.0)"
## Description
Tests execution hags with the latest version of  Test Execution Command Line Tool Version (16.1.0) dotnet sdk 2.1.700
Previous version (16.0.1 dotnet sdk 2.1.604) with the same arguments works fine

## Steps to reproduce
command line ```dotnet test --logger "trx;LogFileName=TestResults.trx" UnitTests.csproj```

Docker Engine Version: 18.09.1
Kernel Version: Linux b8b2a23dda36 4.15.0

[2019-05-22 10:57] #2013 closed

[2019-05-22 10:59] karanjitsingh commented on #2013
Locking this conversation, if you want to get back to us on this, please open a new issue.

[2019-05-22 19:25] scale-tone opened #2022 "VsTest hangs (v.15.6.0) or fails immediately (v.16.1.0) in Azure DevOps Release Pipeline"
## Description

"Visual Studio Test" task does not work in Azure DevOps Release Pipelines. This makes it impossible to run VsTest-based integration tests after deployments. The behavior differs from version to version. Latest VsTest fails immediately (and does not respect the VSTEST_CONNECTION_TIMEOUT environment variable). Previous versions hang forever.

## Steps to reproduce
- In Azure DevOps g

[2019-05-22 20:29] qidydl commented on #862
Not having this capability makes it difficult to use Azure DevOps "secret" pipeline variables from unit tests. Secret variables are not automatically added to environment variables, and not having this feature means there's no way to explicitly reference the pipeline variable from the .NET Core CLI task and pass it in on the command line.

[2019-05-23 06:27] jayaranigarg commented on #2010
Closing the issue from our end because of no response. Let us know if you are still blocked on this!

[2019-05-23 06:27] #2010 closed

[2019-05-23 06:29] jayaranigarg commented on #2011
Closing the issue due to no response. Let us know if you are still blocked on this!

[2019-05-23 06:29] #2011 closed

[2019-05-23 08:06] mgkeen commented on #2021
I've been getting the same thing. However i'm getting it when running `dotnet test --filter Category=Integration` and it seems to be ignoring the filter altogether as well when on linux

[2019-05-23 10:26] tomaustin700 commented on #1955
We are still getting this very regularly. I don't think this is test related as it appears to happen with random tests. It seems to happen more regularly when there are a lot of concurrent builds running tests at once (16+). Can you help me debug this in any way? I have a dump of testhost but I am unsure of the best way to analyse it.

[2019-05-23 20:27] mgkeen commented on #2021
Downgrading to `16.0.1` fixed both the hanging and the filtering issues for me. It wasn't obvious how to downgrade. As i'm only seeing the issue on my CI i just pinned the version of the container i was using to `mcr.microsoft.com/dotnet/core/sdk@sha256:d0a71e1312be2618f320a7b7cc6d7423af3810542b3ffd35438108800ecfb958` to solve the problem for now.

[2019-05-23 20:35] tcoreal commented on #2021
Yes, exactly, downgrading to ‘2.1.604’ tag fixed the problem, but this just underlines the problem with the current version

[2019-05-23 21:26] brpratt commented on #2021
This may be same issue as:

https://github.com/dotnet/core/issues/2775

There is an insightful comment by @JSkimming in the conversation:

https://github.com/dotnet/core/issues/2775#issuecomment-495083631

He's also created a PR to potentially fix this issue:

https://github.com/microsoft/vstest/pull/2024

[2019-05-23 21:43] StevenRasmussen commented on #2008
Just wanted to add that I'm now getting this exception as well.  Same scenario where I am scanning all assemblies and their types in a unit test.

[2019-05-24 06:56] mayankbansal018 commented on #1955
@tomaustin700 can you please share the dumps with us, you can upload them to onedrive, & mail the link to maban at microsoft dot com

[2019-05-24 07:02] tomaustin700 commented on #1955
@mayankbansal018 Thanks, I have sent you three dumps from different agents.

[2019-05-24 10:02] mayankbansal018 commented on #1955
Replied back via mail. The issue is caused in test stack, I've mentioned call stacks in my analysis.

[2019-05-24 16:53] livarcocc opened #2025 "Dotnet test hangs when running on a multi-project solution"
_From @ruimaciel on Friday, May 24, 2019 11:46:29 AM_

I've just upgraded to dotnet 2.2.300 and since the upgrade I've started experiencing a problem running unit tests.

I have multi-project solutions which store all unit tests in a dedicated subfolder, and when I run `dotnet test` in the solution directory the test project hangs with the following output:

[code]

Oddly enough, if I run `dotnet

[2019-05-24 21:36] AbhitejJohn commented on #149
I've gone ahead and reopened this issue. It would be really great to have a form of discovery cancellation where other high priority operations need to supersede a currently running potentially long discovery operation. For instance a build/rebuild/clean operation or a solution close.

From an implementation standpoint if I understand this correctly it could probably just be killing the testhost p

[2019-05-24 22:06] AbhitejJohn opened #2026 "IVstestConsoleWrapper.EndSession leaves console processes hanging around"
## Description
Calling into IVsTestConsoleWrapper.EndSession does not automatically dispose vstest.console processes and a StartSession thereafter creates a new process. This is in context of tying in diagnostic logging of vstest.console to an IDE switch so its easier to collect logs.

## Expected behavior
vstest.console processes need to be cleaned up/recycled.

## Actual behavior
Multiple vstest

[2019-05-24 23:20] singhsarab commented on #2026
@ShreyasRmsft Seems to be similar to what we were talking about the other day. Do you have an issue filed already ?

[2019-05-27 03:06] ViktorHofer commented on #1764
I'm hitting this now too in corefx. We recently enabled project restore (in a separate branch yet) and when referencing `Microrosft.Net.Test.Sdk` from the test project, it adds the dependencies as app-locals and therefore overrides the runtime assemblies from the shared framework. We need a fix for this asap and I'm willing to help here if possible.

Have you thought about @tmat's initial proposal

[2019-05-27 03:17] ViktorHofer opened #2027 "Microsoft.TestPlatform.ObjectModel add netstandard2.0 configuration"
The Microsoft.TestPlatform.Object package should add the `netstandard2.0` configuration when multi-targeting to minimize the dependency graph.

[2019-05-27 04:58] prawalagarwal commented on #2019
@HoraceBury Any updates here?

[2019-05-27 06:03] ViktorHofer commented on #1764
Also after reading the full conversation I assume that work hasn't yet started to isolate the testhost from  test assemblies and their dependencies?

@cltshivash I believe this is a bug and should be marked as such. Whenever dependencies are needed app-local which conflict with what is used by the testhost, you will most likely hit issues.

[2019-05-27 06:08] ShreyasRmsft commented on #2026
@singhsarab there is an internal bug on mseng. Haven't filed an issue on the repo.

[2019-05-27 08:24] jayaranigarg commented on #2018
Closing the issue from our end due to no response. Please feel free to open a new issue with the above details to help us investigate.

[2019-05-27 08:24] #2018 closed

[2019-05-27 08:30] mayankbansal018 commented on #1899
closing this.

[2019-05-27 08:30] #1899 closed

[2019-05-27 10:32] prawalagarwal commented on #2025
Your issue looks similar to [this](https://github.com/dotnet/core/issues/2775). Please follow that thread for updates on fix for this.

[2019-05-27 10:45] benizri-ofir commented on #2008
the same issue for me, the unit-test used to pass before moving to visual studio 2019 16.1.1

my code:
`m_fieldValidatorTypes = AppDomain.CurrentDomain.GetAssemblies()
                .SelectMany(s => s.GetTypes())
                .Where(t => type.IsAssignableFrom(t) && !t.IsAbstract && !t.IsInterface)
                .ToDictionary(ft => ft.FullName, ft => ft);`

getting this exception:
`System.Re

[2019-05-28 18:42] SeppPenner opened #2031 "Update System.Net.Http from System.Net.Http@4.3.0 to 4.3.2 to avoid DoS, SFB, PE and Spoofing issues."
## Description
Update the `System.Net.Http` from version 4.3.0 to 4.3.2 to avoid `Security Feature Bypass`, `Denial of Service`, `Elevation of Privilege` and `Spoofing` issues introduced with the prior version. Check https://github.com/aspnet/Announcements/issues/239 and https://app.snyk.io/vuln/SNYK-DOTNET-SYSTEMNETHTTP-60045.

I recently saw this issue using the snyk application on my Github acc

[2019-05-29 08:34] EskilSaatvedt commented on #2008
We have the same problem. It was mentioned in the release notes for 16.1.1 but is persisting. Rollback to visual studio 2017 works for now.

[2019-05-29 17:51] StevenRasmussen commented on #2008
@EskilSaatvedt - I'm not seeing it anywhere in the release notes for 16.1.1.  I am hoping that a fix makes it into 16.1.2 or 16.2 though.

[2019-05-29 22:18] Jonathan-Walsh opened #2032 "Option to suppress stdout output to trx file"
## Description
I'm using VSTest throught the build task on Azure DevOps. We are logging to a .trx file and would like to retrieve that file once the build has completed. Unfortunately, the .trx file is too large to be uploaded (>75MB). It looks like if we suppress the stdout logging to the .trx, we could reduce the size of this file by 10x.

## Steps to reproduce
See this attached VSTest task log

[2019-05-30 05:04] ChrisGuzak opened #2033 "Where are the project templates for C++ and UWP?"
I'd like to update the contents of the C++ project generated by the Visual Studio project templates (screen shot below). I was hoping to find them in this repo but they don't see to be here.

Specifically I'd like to
- Remove unnecessary artifacts from the test code generated by the template
- Create a C++ WinRT template so we don't need to use C++ CX

I found \test\TestAssets\CPPSimpleTestProject

[2019-05-30 08:50] vagisha-nidhi opened #2034 "Multiple vstest.console processes being started in translation layer"
## Description
vstest.console is started 2 times for each run in reference to this
[https://github.com/microsoft/vstest/blob/master/src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/VsTestConsoleProcessManager.cs#L123](https://github.com/microsoft/vstest/blob/master/src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/VsTestConsoleProcessManager.cs#L123)

Attaching process tree image

[2019-05-30 08:56] vagisha-nidhi commented on #2026
@AbhitejJohn Looked at the issue here. The end session sends a session end message and and when vstest.console receives it, it gets disposed here [https://github.com/microsoft/vstest/blob/master/src/Microsoft.TestPlatform.Client/DesignMode/DesignModeClient.cs#L218](https://github.com/microsoft/vstest/blob/master/src/Microsoft.TestPlatform.Client/DesignMode/DesignModeClient.cs#L218)
There are multi

[2019-05-30 09:09] jayaranigarg commented on #2032
@Jonathan-Walsh : As of now, there is no way to suppress stdout logging to trx file.

[2019-05-30 11:30] nramprakash88 opened #2036 "Is it possible to associate custom test with TFS/MTM Test case?"
I have created a VSIX based test adapter using visual studio test platform(vstest) API. It will read my custom test item(in xml) where my test information is there and it will enable the unit test explorer in visual studio to list my tests written in custom test file. (I referred the following blog to create the adapter
https://devblogs.microsoft.com/devops/writing-a-visual-studio-2012-unit-test-a

[2019-05-30 16:58] heng-liu opened #2037 "Does dotnet vstest support multiple test projects targeting different frameworks at a time?"
Recently we’re testing for test projects targeting netcoreapp2.1 and netcoreapp3.0.

We found that if we run “dotnet vstest” with test projects targeting netcoreapp2.1 or netcoreapp3.0 only, the result looks correct(and no warnings).

But when we tried to run the two kinds of dlls together in one single command, there was a warning popping out immediately:
Test run will use DLL(s) built for framew

[2019-05-30 17:04] shueybubbles opened #2038 "Is there a good example of excluding modules from code coverage using vstest.console.exe only?"
I have seen examples of using a .runsettings file to exclude modules, but when I try to use a runsettings file with my tests and the vstest.console from the microsoft.testplatform nuget package it gives me an error about not being able to launch codecoverage.exe.
I see that vstest.console.exe accepts Runsettings parameters; is there a way to list modules to exclude in that command line?

[2019-05-30 17:53] Jonathan-Walsh commented on #2032
Is there some sort of CLI option that could be enabled for the logger to suppress this logging, or set logging to .trx to something like the "minimal" option for console?

[2019-05-31 04:36] jayaranigarg commented on #2032
Unfortunately, as of now there is no option to minimize logging to .trx files

[2019-05-31 06:19] olivermue commented on #2008
Just ran into the same error after update of Visual Studio to the latest version. After some search I found, that all the failing tests are doing a scan on the loaded assemblies of the application domain. After digging a little deeper, the following code produces the error:

[code]

Be aware that this error really only occurs if you run the test within Visual Studio 16.1.1 through the Test Explore

[2019-05-31 06:31] vagisha-nidhi commented on #2038
@shueybubbles
Sharing example of using .runsettings to exclude modules: [https://docs.microsoft.com/en-gb/visualstudio/test/customizing-code-coverage-analysis?view=vs-2019#sample]( https://docs.microsoft.com/en-gb/visualstudio/test/customizing-code-coverage-analysis?view=vs-2015#sample) and [this](https://docs.microsoft.com/en-gb/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-fi

[2019-05-31 06:52] vagisha-nidhi commented on #2037
@heng-liu
Yes. Since both the dlls are of .NetCoreApp, the runner will issue a warning saying that it has picked up the highest version of .NetCoreApp and will run tests in both the dlls. You can ignore the warning as long as the frameworks is .NetCoreApp in both.
Although, if you are trying to run dlls targeting two different frameworks, that is, say, one is .NETFramework v4.5, and the other is .

[2019-05-31 07:48] olivermue commented on #2008
And just for the people searching for an easy to use solution for their tests. Replace
[code]
with
[code]

Maybe you get an error, cause the return value of this call is changed to `IEnumerable<Assembly>` instead of being `Assembly[]`. Perhaps a good day to make the corresponding functions less demanding and changing their signatures accordingly. If you really need that array then add `.ToArray()`

[2019-05-31 10:27] jayaranigarg commented on #2019
Closing the issue from our end due to no response. Please feel free to raise another issue if you are still hitting this.

[2019-05-31 10:27] #2019 closed

[2019-05-31 14:19] fifthgearonline commented on #834
this appears to have been fixed in VS 2019
![unknown](https://user-images.githubusercontent.com/21365801/58711906-1bb13c80-8385-11e9-803a-28f67ddb89a5.png)

[2019-05-31 14:43] sharwell commented on #834
Weird. I refiled this as #1985 and then fixed it in #1986.

[2019-05-31 15:26] shueybubbles commented on #2038
Here's a sample command line using a .runsettings file. Notice I'm trying to use the Microsoft.TestPlatform nuget package so I don't have to install VS on build agents.
[code]

the test immediately pops up an error dialog
testhost.x86.exe - Fatal error
CLR error: 80004005.
 The program will now terminate.
OK

with this output
[code]

Alternately, if I remove the .runsettings file and use --collect

[2019-05-31 18:20] singhsarab commented on #834
@sharwell Cool! Thanks.
@fifthgearonline Thanks for confirmation.

[2019-05-31 18:20] #834 closed

[2019-06-01 09:04] adamralph commented on #1866
FTR this problem is fixed in 2.2.300 (and possibly some earlier versions).

[2019-06-01 09:44] adamralph opened #2040 "Compressed test results"
## Description

The test results output in the command line spans several lines and considerably bloats the line count, especially when multiple test runs form part of a single build.

## Steps to reproduce

Run any test project from the command line.

## Expected behavior

Something like:

[code]

## Actual behavior

[code]

## Environment

Windows 10, dotnet 2.2.300.

[2019-06-03 06:04] cltshivash commented on #2033
@ChrisGuzak These aren't present in the repo and following up over email with you.

[2019-06-03 06:04] #2033 closed

[2019-06-03 06:06] cltshivash commented on #2036
@nramprakash88 Association of test case is supported currently for only NUnit, xUnit and MSTest test adapters in VS to cater to customers who were using this flow earlier. We recommend users to declare the tests to run as part of the pipeline instead of defining a test case, associating it with a test method and then executing it.

@PBoraMSFT : fyi.

[2019-06-03 06:06] #2036 closed

[2019-06-03 06:09] cltshivash commented on #2032
@Jonathan-Walsh : The trx logger is part of this repo and enhancements to it are welcome.

[2019-06-03 06:09] #2032 closed

[2019-06-03 08:27] scale-tone commented on #2022
Any news?

[2019-06-03 09:32] ShreyasRmsft commented on #2022
Hi @scale-tone, let me look into this.

[2019-06-03 09:36] cltshivash commented on #2031
@SeppPenner We target the lower versions of NetStandard to support a wider customer segment. Also we don't directly reference the impacted dll rather pick what is present with the installed framework.

[2019-06-03 09:37] cltshivash commented on #2031
We will look at the steps detailed at https://github.com/aspnet/Announcements/issues/239

[2019-06-03 09:37] ShreyasRmsft commented on #2022
Quick thing for you to try, can you set it to 600000 and then give it a shot. I'm suspecting a "unit of time" issue

[2019-06-03 09:54] ShreyasRmsft commented on #2040
@adamralph we arrived with this format after much thought and it is a lot more readable than the compressed form.

However the vstestplatform is extremely extensible and you have the option to extend the existing logger and create a custom version of it that you use for your test runs.

https://blogs.msdn.microsoft.com/vikramagrawal/2012/07/26/writing-loggers-for-command-line-test-runner-vstest-co

[2019-06-03 09:54] #2040 closed

[2019-06-03 10:15] vagisha-nidhi commented on #2038
@shueybubbles
This is what I have tried, and code coverage seems to be working fine along with the runsettings provided.
[code]
This is the exact runsettings I provided: [https://docs.microsoft.com/en-gb/visualstudio/test/customizing-code-coverage-analysis?view=vs-2019#sample-runsettings-file](https://docs.microsoft.com/en-gb/visualstudio/test/customizing-code-coverage-analysis?view=vs-2019#sample

[2019-06-03 10:31] vagisha-nidhi commented on #2034
Fixed in #2035

[2019-06-03 10:31] #2034 closed

[2019-06-03 11:20] adamralph commented on #2040
@ShreyasRmsft how was this decision made? Was it discussed publicly?

I see that this is a recent thing, since older versions of the SDK have a more compact output.

[2019-06-03 13:37] scale-tone commented on #2022
Nice try, but no luck:
``
2019-06-03T13:34:45.7200327Z Starting test execution, please wait...
2019-06-03T13:34:48.7649332Z vstest.console process failed to connect to testhost process after 600000 seconds. This may occur due to machine slowness, please set environment variable VSTEST_CONNECTION_TIMEOUT to increase timeout.
2019-06-03T13:34:50.2346886Z Results File: D:\a\r1\a\TestResults\VssAdmini

[2019-06-03 14:31] shueybubbles commented on #2038
It works for me with the same file, but as soon as I remove a few of the excludes sections (my binaries use the same public key listed , for example) it fails with this error in the log.host

[code]

[2019-06-03 14:51] shueybubbles commented on #2038
ok. I figured out that the settings file parser is not resilient to improperly formed regular expression on excludes

IE this leads to the failure:
<ModulePath>*moq.*</ModulePath>
Note the missing leading character class.
.*moq.* works fine.

So it's a user error but the tool should be more resilient.

[2019-06-03 15:00] vagisha-nidhi commented on #2038
This issue is a different issue. [https://github.com/microsoft/vstest/issues/2008](https://github.com/microsoft/vstest/issues/2008). We will be giving fix for this soon.

Seems like you are able to exclude modules in code coverage now.
Closing the thread. Feel free to open another issue if needed.

[2019-06-03 15:00] #2038 closed

[2019-06-04 06:25] ShreyasRmsft commented on #2022
@scale-tone we tried it out on the hosted agent, setting it to 600, then 10. It worked fine (version 16.1.0).

Leading me to believe it's something specific to the agent machine you are running it on. Set system.debug = true in your release definition and please provide the full zip logs that you get.

Also what agent are you using? private or hosted?

Additionally please set up a public project w

[2019-06-04 07:43] ShreyasRmsft commented on #2040
@cltshivash @singhsarab to give reasoning behind the change.

[2019-06-04 10:22] ShreyasRmsft commented on #2025
This issue was fixed in pr https://github.com/microsoft/vstest/pull/2024

It is available in vstest platform version 16.1.1
https://github.com/Microsoft/vstest-docs/blob/master/docs/releases.md#1611

Insertion into dotnet cli/sdk is pending on this pr https://github.com/dotnet/cli/pull/11448

[2019-06-04 10:22] #2025 closed

[2019-06-04 17:36] silentnightwalk opened #2042 "Couldn't locate Sequence.xml"
## Description
I cannot find expected Sequence.xml file after running dotnet vstest with /Blame option.
Where is it located?

## Steps to reproduce
The command ""C:\Program Files\dotnet\dotnet.exe" vstest  /Diag:"...........................Tests\bin\Release\diag.txt" "...........................Tests\bin\Release\...........................Tests.dll" /Blame /logger:trx;LogFileName="................

[2019-06-04 17:39] SeppPenner commented on #2031
@cltshivash Thank you for the information.

[2019-06-04 17:46] nguerrera commented on #1886
What other inserters to the root dotnet directory do is provide a package with genuine runtime assets and dependencies and dependencies on other things, instead of putting dlls in the content folder. We can then let nuget resolve the right version. Look at https://www.nuget.org/packages/Microsoft.Build.Runtime/

[2019-06-04 17:51] nguerrera opened #2043 "Retarget netcoreapp1.0 -> netcoreapp2.1, remove System.Xml.XPath.XmlDocument"
## Description

We need to eliminate pre-built binaries for source build and System.Xml.XPath.XmlDocument isn't built anymore. It is present in the package inserted into CLI only because the bits target netcoreapp1.0 AFAICT. You should be able to retarget to netcoreapp2.1 now as the CLIs you insert new bits into have that as a baseline. When you do this, you can remove the package reference to s.x

[2019-06-04 17:52] nguerrera commented on #2043
Moderately related: https://github.com/microsoft/vstest/issues/2043, but this is more blocking. Even if the dependencies were handled better, we would still want this dependency to be eliminated entirely.

[2019-06-04 18:49] singhsarab commented on #2040
@adamralph Here is the link to the issue https://github.com/microsoft/vstest/issues/1836

[2019-06-04 18:52] singhsarab commented on #2042
@silentnightwalk The path to the sequence file is published on the console itself.
Can you please share the snapshot of the run ? What is the error that you get ?

[2019-06-04 18:57] singhsarab commented on #2043
@mayankbansal018 @cltshivash We need to consider picking this up soon. I am under the impression that moving to netstandard2.0 should resolve such issues.

The only problem I see would be related to supporting older UWP projects (built in VS2017 or prior), I think we can take a call on that.

[2019-06-04 19:23] nguerrera commented on #2043
Do the vstest bits in C:\Program Files\dotnet\sdk\[version\\ impact UWP projects? How so? (I hope not.)

If you can't move *everything* to netstandard2.0 (or netcoreapp2.1), the only requirement from us that you don't build the bits being inserted into CLI against netcoreapp1.0. Actually, even that you can get away without doing for this, if you can otherwise remove System.Xml.XPath.XmlDocument, b

[2019-06-05 01:24] singhsarab opened #2045 "[Source-Build] Fix dependencies for Source build"
## Description
This issue will be used to track the changes that are required to remove packages that are not required for clean build from source.

For information refer https://github.com/dotnet/source-build/issues/896

[2019-06-05 01:25] singhsarab commented on #2045
Most of the packages removed via https://github.com/microsoft/vstest/pull/2017

[2019-06-05 08:31] adamralph commented on #1836
I'm all for making the test output less noisy, but

[code]

is _more_ noisy than

[code]

If I run 10 test suites, I'd much rather see 10 lines than 50 lines.

Also, a problem with multi-line output, where the meaning of one line is dependent on the meaning of the previous, is that it completely breaks down when running test suits in parallel, e.g.

[code]

[2019-06-05 08:36] adamralph commented on #1836
And specifically, IMO the new output in 2.2.300 is at least partially a regression, i.e. in older versions:

[code]

in 2.2.300:

[code]

This is now worse than before.

[2019-06-05 08:51] adamralph commented on #1836
Moreover, it would be great if the result line could repeat the test project and platform:

[code]

[2019-06-05 11:42] xygon commented on #2008
I am also getting this error when running tests after updating to Visual Studio 16.1.1

The code under test is using [mediatr](https://github.com/jbogard/MediatR) and that is scanning assemblies looking for classes that implement specific interfaces an that is where the error gets thrown.

[2019-06-05 14:03] olivermue commented on #2008
@xygon When initializing MediatR in asp core you use the extension method `services.AddMediatR()`. This will scan the whole application domain. Instead call `services.AddMediatR(assemblies)` and for the assemblies variable you provide the list of assemblies excluding the TraceDataCollector like shown in [my answer](https://github.com/microsoft/vstest/issues/2008#issuecomment-497612298).

[2019-06-05 14:43] KathleenDollard commented on #1836
It could drop a few more words, and is the full directory interesting?

Consider playing with the verbosity settings so folks can tune this if @adamralph 's opinion isn't widespread.

[code]

[2019-06-05 15:14] adamralph commented on #1836
@KathleenDollard true, we could probably drop the path, since two test assemblies with the same name in different paths is an edge case. We could also use the TFM for the platform:

[code]

[2019-06-05 15:15] adamralph commented on #1836
How about we have the single line for `minimal` verbosity and multiple lines for `normal`?

[2019-06-05 17:50] silentnightwalk commented on #2042
Actually, the sequence itself is in the output (in the BuildLog which is most probably same as console).
I tried to serch for Sequence.xml, but could not find it.
Could you please hint the search words to use?

[2019-06-05 19:46] scale-tone commented on #2022
@ShreyasRmsft , what you pointed to is a build pipeline.

I explicitly underscored in the bug that the problem occurs inside a **Release** pipeline (please, pay attention). Build pipelines work fine.

The build agent is the very default one provided by Azure DevOps, no changes. I just created an empty release pipeline and added a VsTest task to it, no any other specifics.

Logs under system.debug=

[2019-06-06 05:55] jayaranigarg commented on #2021
@tcoreal @mgkeen : We have released [16.1.1 ](https://github.com/microsoft/vstest/releases/tag/v16.1.1)version of nuget package with the fix #2024 . Please try that out and let us know if you are still hitting the issue.

[2019-06-06 06:03] ShreyasRmsft commented on #2042
@silentnightwalk you will get the sequence xml only when the test run gets aborted.

![image](https://user-images.githubusercontent.com/25194518/59010448-f160f280-884e-11e9-847f-51e562e4b9bd.png)

[2019-06-06 06:04] ShreyasRmsft commented on #2042
Look for logs similar to above. But only on an aborted test run will it be created. Closing the issue. Please re-open if you are still unable to find it with the above information.

[2019-06-06 06:04] #2042 closed

[2019-06-06 06:16] JSkimming commented on #2021
How do we try it out?

[Here's the build](https://circleci.com/gh/JSkimming/abioc/1031) with the updated package and it still takes ages, also `dotnet test` still reports the following as still using `16.1.0`.

[code]

[2019-06-06 06:19] ShreyasRmsft commented on #2022
@scale-tone if you are running dotnet core tests you will need to make sure you run dotnet publish before running the tests in the releases pipeline (or a different machine from where the dlls were built basically. This is because additional dlls are copied to the output directory and these are required to run the tests. On the same machine they are picked up from the packages folder directly.)

S

[2019-06-06 06:22] ShreyasRmsft commented on #2022
@scale-tone after examining the logs that you sent I see a different error than the one you reported

[code]

And here's a run with the same version of vstest.console.exe 16.1.1 where everything went smoothly

https://clttestsu0.visualstudio.com/validationTest/_releaseProgress?_a=release-environment-logs&releaseId=4&environmentId=4

[2019-06-06 06:24] ShreyasRmsft commented on #2022
@scale-tone have you published the dotnet core project in the build phase?

[2019-06-06 06:27] ShreyasRmsft commented on #2022
@scale-tone I think the issue is specific to the test project that you have. Is it possible to provide a scaled down repro with a dummy test and dummy code and upload it somewhere on github?

[2019-06-06 06:40] ShreyasRmsft commented on #2022
I think the issue is with the target framework of the test project. It would speed up the investigation if you can author a simple test project with a single dummy test (keeping all the target framework etc. similar to your actual test project) and see if it repros there and then provide that to me. I should be able to narrow down the cause. Also make sure you use the latest version 16.1.1

[2019-06-06 06:55] jmaragon commented on #1544
I am observing the same behaviour in one of the agents (out of 5) of our private hosted pool. The only difference is this has Visual Studio 2017 v 15.19.12 and the rest is 15.19.11
Any reason why this bug has been closed?

[2019-06-06 06:57] jayaranigarg commented on #2021
@JSkimming : The fix is in process of getting inserted in dotnet sdk. Meanwhile, you can try running the tests in IDE with your test projects pointing to 16.1.1 and test.

[2019-06-06 07:03] JSkimming commented on #2021
@jayaranigarg My original issue dotnet/core#2775 occurred in the CLI and only then in two hosted CI systems CircleCI and Travis.

Do you know when updated SDKs will be released?

[2019-06-06 09:31] olivermue commented on #2008
Just updated to 16.1.2 and tried again. Unfortunately the error is NOT fixed. So hoping for the next version.

[2019-06-06 10:21] scale-tone commented on #2022
Indeed, occasionally it fails with a different error, without me doing or changing anything.
Here are the logs from another occurrence, with system.debug=true and "vstest.console process failed to connect to testhost process after 600000 seconds" error message:
https://microsoft-my.sharepoint-df.com/:u:/p/kolepes/EbbRibWtkEhPgCo4Pbbl4skBk3_XzRQGg9kUH9YzaNj0gA?e=gOIK4T

Sources are here: https://gi

[2019-06-06 10:47] ShreyasRmsft commented on #2022
@scale-tone thanks. Let me take it from here. Will get to the RCA and update here.

[2019-06-07 01:17] KathleenDollard commented on #1836
Coming back to this, I find this hard to parse. Maybe (and I'm not on that team, just offering an opinion)

[code]

[2019-06-07 16:02] Hilarius86 commented on #1959
I also search the web for the settings and failed. Maybe the documentation could be updated reporting all the possible settings.

[2019-06-07 17:09] TheMadStrater commented on #2008
I agree, this issue persists!

[2019-06-08 06:52] ViktorHofer commented on #2043
Targeting netstandard everywhere would also help us in corefx to not clash with framework assemblies that are currently restored via the graph.

[2019-06-09 07:18] vagisha-nidhi commented on #2008
@olivermue Can you please check if the issue still persists with 16.2.0-preview-20190606-02?

[2019-06-10 15:34] silentnightwalk opened #2049 "TfsPublishing - CustomLogger - Where and how is it supposed to publish info?"
## Description
Where and how is it supposed to publish test results to when saying "tfs publishing"?

After looking at this issue
https://github.com/microsoft/vstest/issues/1739
it seems that TfsLogger is not supported anymore.

I'm trying to do a custom TFSLogger.
I can find general instructions of how to do custom loggers.
But where and how to send info from the logger?

A little bit more about

[2019-06-10 19:54] crummel opened #2050 "Source-build patch removal for VSTest"
Source-build has some patches that we are currently applying to your repo.  This issue tracks removing the patches.  These patches can be found at https://github.com/dotnet/source-build/tree/release/3.0/patches/vstest.

Patches that have the responsibility "Repo" and the Disposition "Incorporate" are patches that we believe are valid source-build fixes that should be moved into your repo.  Please

[2019-06-11 06:09] ShreyasRmsft commented on #2049
@silentnightwalk take a look at the TFS rest api docs.

https://docs.microsoft.com/en-us/rest/api/azure/devops/test/runs/create?view=azure-devops-rest-5.0

Make sure you select the appropriate version of the apis depending on your tfs version. You will basically need to create a test run. Add test results to it and then mark the test run as complete.

[2019-06-11 06:09] #2049 closed

[2019-06-11 06:39] olivermue commented on #2008
Unfortunately trying to run any of my tests in VS Community 16.2.0 Preview 1.0 produces a different error:

[code]

[2019-06-11 06:44] olivermue commented on #2008
Took my unit test from above and ran it within VS Community 16.2.0 Preview 1.0. The error is still:

[code]

[2019-06-11 07:35] ShreyasRmsft commented on #2022
@scale-tone i am currently setting this up locally to get a repro i can debug through. Was a little busy the last few days. Will get back to you soon. Sorry for the delay.

[2019-06-11 08:17] #1647 closed

[2019-06-11 08:28] vagisha-nidhi commented on #2008
@olivermue The fix will be available in VS 16.2.0 Preview 3.
Meanwhile, if you are running the unit tests in an Azure devops build pipeline, you can simply select 16.2.0-preview-20190606-02 version in the tools installer.

[2019-06-11 17:44] JDCain opened #2052 "VSTestVideoRecorder Crash"
## Description
When running tests using a nuget download of TestPlatform.16.1.1 and recording videos with a generic runsettings to enable video recording there are intermittent issues with vstestvideorecorder.exe causing a system reboot within a vmware workstation virtual machine. Tests are xUnit.

## Steps to reproduce
no explicit cause I can determine. Error takes place on multiple virtual machi

[2019-06-12 00:57] aeulitz opened #2053 "How to control COM threading model during test execution?"
Is there documentation describing if/how I can control the COM threading model (e.g. STA, MTA) while running C++ tests (https://docs.microsoft.com/en-us/visualstudio/test/how-to-use-microsoft-test-framework-for-cpp?view=vs-2019)?

Ideally, I'd want to use a test class or test method attribute to document the threading requirements in code (rather than a setting in a project file, let's say).

[2019-06-12 09:08] ShreyasRmsft commented on #2022
@scale-tone this has proved to be an interesting issue indeed!

We had a small bug in our code where if the testhost process exited/crashed we were incorrectly showing this

I am currently in the process of fixing this logging issue.

Further the root cause for this is that the testhost process is crashing and it is crashing because of this

On further digging the issue is in the dotnet sdk

https

[2019-06-14 08:32] singhsarab commented on #2050
@crummel
https://github.com/microsoft/vstest/blob/master/TestPlatform_BuildFromSource.sln does not suffice here ?

[2019-06-14 17:26] scale-tone commented on #2022
**dotnet publish** over the test project during build time was not enough.
An extra step of copying the <testProject>.runtimeconfig.json file into the artifacts folder was also needed (that file is produced by dotnet publish).
A combination of these two changes indeed helped.

[2019-06-14 18:58] maksim36ua commented on #1854
@singhsarab

[Documentation](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-vstest?tabs=netcore21) says [args] should be supported, but seems like it's still not working.

Could you please clarify on this?

[2019-06-17 06:48] ShreyasRmsft commented on #2022
[testProject].runtimeconfig.json gets generated in the publish folder itself right?

Also I think you can remove the additional arguments from msbuid (/p:WebPublishMethod=FileSystem etc related to publishing your webapp) and use dotnet publish to publish your webapp also. You can find documentation for this on the dotnet cli page.

Also many thanks for reporting this issue and patiently providing

[2019-06-18 17:28] jimmylewis commented on #1824
Copying some feedback from a VS Feedback ticket:

After running tests in the console, it used to be really easy to search for “Passed”, “Skipped”, and “Failed” tests using those strings. When I used to get a result like:

Total tests: 6543
Passed: 6502
Failed: 1
Skipped: 40
Total time: 4.7696 Minutes

I could find the failing test just by searching in the console for "Failed".

Now the output uses

[2019-06-18 17:32] nguerrera opened #2057 "SatelliteResourceLanguages property doesn't filter all resources when publishing test projects"
*Moved from https://github.com/dotnet/sdk/issues/3338 on behalf of @lzganec*

Having a dependency to Microsoft.CodeCoverage (which comes from Microsoft.NET.Test.Sdk) leaves Microsoft.VisualStudio.TraceDataCollector.resources.dll localized resource satellite assembly in the publish output using .NET Core version 2.2.

[2019-06-18 17:33] nguerrera commented on #2057
The issue is that the package is doing manual copies of these files in a custom target rather than supplying them as assets that publish can reason about:

https://github.com/microsoft/vstest/blob/64a4c978822a25e88c119c8da42b543fa9ac5a96/src/package/nuspec/Microsoft.CodeCoverage.targets#L17-L25

[2019-06-19 06:41] singhsarab commented on #1941
@chcosta fixed the issue hit while trying to generate manifest. Refer https://github.com/dotnet/arcade/pull/3080#pullrequestreview-251498763

[2019-06-19 07:23] AbhitejJohn commented on #2026
@vagisha-nidhi : Thanks, can this issue be closed out now?

[2019-06-20 09:16] 6bee commented on #605
@pvlakshm
Can we re-open this one? Seems the item coped over to VSFeedback got just stale too!?

[2019-06-20 10:20] maksim36ua commented on #862
@kanchm thanks for your answer, it works! Maybe you could suggest, how to run it in bash/powershell?

[2019-06-20 12:14] divinci commented on #2008
Yes @olivermue !

[2019-06-20 18:11] AbhitejJohn commented on #605
@6bee : The VS Feedback issue above is still around. We haven't gotten to prioritizing that in just yet but we have heard of a fair amount of feedback for that ask.
/cc: @ManishJayaswal

[2019-06-21 05:38] cltshivash commented on #2052
@JDCain The information provided points to possible driver issues. The video recorder uses the windows media foundation to capture video.

[2019-06-21 05:39] #2052 closed

[2019-06-21 05:42] cltshivash commented on #2031
System.Net.Http is not used in any of the TestPlatform flows and hence we won't be taking up the changes recommended for transitive dependency.

[2019-06-21 05:49] cltshivash commented on #2031
We do have plans to move the TP to target netstandard 2.0 soon which should address this.

[2019-06-21 05:49] #2031 closed

[2019-06-21 06:03] cltshivash commented on #2053
@aeulitz There isn't an option to control the threading model. The C++ tests run in STA today (  Microsoft.VisualStudio.TestTools.CppUnitTestFramework.Executor.dll.manifest). For any other option, will need the user to explicit set it in a separate thread and execute the required code in it.

[2019-06-21 06:03] #2053 closed

[2019-06-23 17:03] vipetrul commented on #2008
Getting the same exception when Debugging NUnit tests that utilize TestCaseSource attribute.

[2019-06-24 05:36] vagisha-nidhi commented on #2026
@AbhitejJohn Yes. Closing this.

[2019-06-24 19:44] crummel opened #2063 "VSTest should publish artifacts to BAR"
VSTest is included in the dotnet/toolset project, but VSTest doesn't publish to BAR so updates have to inserted manually.  You can enable BAR publishing without switching to Arcade using something like [this template](https://github.com/dotnet/arcade/blob/master/eng/common/templates/job/publish-build-assets.yml).  You can see an example of this being used in [source-build-reference-packages](https

[2019-06-25 14:09] mxavierciandt opened #2064 "Problem when rerunning tests Hosted VS2017"
## Issue Description
I've enabled the option "Rerun failed tests", after my test have runned there was one test that has failed. When the test tryed to rerun occurs some erros:

### Question, Bug, or Feature?
Type: Bug

Enter Task Name: Visual Studio Runner

![image](https://user-images.githubusercontent.com/51972378/59718168-ed8a8400-91ef-11e9-9864-0b4f5e66c3bd.png)

## Environment
Server - Azure

[2019-06-25 15:01] generik0 commented on #1758
@ShreyasRmsft any update on this? with the csproj nuget version allowing "*" the dotnet test fails

[2019-06-25 17:04] singhsarab opened #2065 "Make improvements in vstest for integration with Arcade"
## Description
Looking at the diff, between the custom target already being used for Arcade and VSTest, following stand out
- Htmllogger (Anything which is cross plat actually, trx format does not fulfil that requirement)
- Also, if there is way to build AnyCpu and run for multiple architectures
- For Roslyn, there is config used to customize parallel, something like that would be good to have.

[2019-06-25 19:26] AbhitejJohn commented on #2003
@armanio123 : I'm guessing you found what you were looking for based on our offline conversation. Please feel free to resolve this in that case.

[2019-06-25 19:28] armanio123 commented on #2003
Yes I work it out. Thanks for helping me.

[2019-06-25 19:28] #2003 closed

[2019-06-26 06:53] kaadhina commented on #2064
Hi can you please collect the complete debug logs (system.debug = true) and share them?

[2019-06-26 10:17] olivermue commented on #2008
Tested with VS Community 16.2.0 Preview 3.0 and the error is FIXED.

[2019-06-26 13:18] clairernovotny opened #2070 "Test run sessions should show TFM when multiple frameworks"
When multiple frameworks are being tested (with multi targeting), the test run session names are all the same: "VS Test Run session for ...". It's nearly impossible to see which platform the results are for.

In the case of multi-targeting, please add the TFM to the test result session name.

[2019-06-26 13:30] singhsarab opened #2071 "Error and Help message for incorrect args need to be improved"
## Description
In case the user has invalid/incorrect args given to the commandline runner, the runner gives the error. and also shows the entire help text which makes it hard for the user to know what arg was incorrect.

## Steps to reproduce

vstest.console test.dll --incorrectArg

## Expected behavior

## Actual behavior
Error is not very actionable, is printed twice and also entire help gets p

[2019-06-26 13:43] singhsarab commented on #2008
@olivermue Thanks for confirming.
Thanks everyone for your patience.

[2019-06-26 13:43] #2008 closed

[2019-06-26 14:59] singhsarab commented on #1764
@ViktorHofer @tmat I am closing this one as the current set of dependencies point to the minimum versions.
We already plan to move to netstandard2.0 in the next couple of weeks so some of explicit dependencies will away.
Also, I have already gotten rid of the dependency on the Microsoft.Extensions.DependencyModel so that should be relief.

I have created another issue to track issues/improvements

[2019-06-26 14:59] #1764 closed

[2019-06-26 17:10] livarcocc opened #2072 "dotnetcore filter parameter not working with xunit running on dotnetcoreapp3.0"
_From @vpaulino on Monday, June 24, 2019 7:20:43 PM_

On cake scripts Until recently i used --filter Category=unit on dotnetcoretests to filter my unit tests and execute them with Xunit2 tools.

But now to support code coverage with coverlet I had to change to  something like this:

[code]
and my coverlet settings goes like this:
[code]

and I run my unit tests like this:

	`DotNetCoreTest(file.Fu

[2019-06-26 17:10] livarcocc commented on #2072
_From @livarcocc on Tuesday, June 25, 2019 3:32:42 PM_

I believe it would be more appropriate if you filled this issue under microsoft/vstest. Could you please move it there?

[2019-06-26 17:12] onovotny opened #2073 "TestPlatform ObjectModel has bad dependencies"
The TestPlatform ObjectModel has old/bad dependencies. It causes lots of package downgrade warnings.

![image](https://user-images.githubusercontent.com/1427284/60200341-eaa51a00-9813-11e9-91a7-304ab6eb2e29.png)

It should reference .NET Standard Library 1.6 and not the other packages. There should also be a netstandard2 target that reduces those all-together.

[2019-06-27 12:39] mehagar opened #2077 "Difference between TestPlatform/vstest.console.exe and TestWindow/vstest.console.exe?"
I see the file sizes and versions are different - which one should I be using from the command line?

[2019-06-27 18:45] livarcocc opened #2078 "Regression in build times for Travis CI using 2.2.300 SDK"
_From @martincostello on Saturday, June 8, 2019 9:32:34 AM_

I've noticed across several different projects I maintain that since the SDK was updated from 2.2.1xx or 2.2.2xx to 2.2.300, the time to build the projects in Travis CI has regressed by up to an order of magnitude on both Linux and macOS.

However I'm not seeing the same regression in Azure DevOps pipelines for Linux, macOS or Windows, o

[2019-06-27 18:45] livarcocc commented on #2078
_From @martincostello on Saturday, June 8, 2019 9:35:12 AM_

Maybe requires integration of https://github.com/microsoft/vstest/pull/2024? These projects are all using the 16.1.1 NuGet reference, which shows no improvement ([commit](https://github.com/martincostello/project-euler/commit/d5a8bd75515bdd0ba842af721894cb5a11f3771d), [build](https://travis-ci.org/martincostello/project-euler/builds/5391

[2019-06-27 18:45] livarcocc commented on #2078
_From @martincostello on Saturday, June 8, 2019 9:42:31 AM_

Related fix: https://github.com/dotnet/cli/pull/11497

[2019-06-27 18:45] livarcocc commented on #2078
_From @livarcocc on Monday, June 10, 2019 8:53:19 PM_

Just to confirm further this is potentially a regression on vstest, would it be possible for you to gather these numbers if you turned off tests on your CI, just to collect data?

cc @singhsarab

[2019-06-27 18:45] livarcocc commented on #2078
_From @singhsarab on Tuesday, June 11, 2019 8:25:59 AM_

@martincostello
Progress indicator would not come into play if Console.IsOutputRedirected is set, which I am guessing should be true.

I looked at logs of one of the PRs, https://travis-ci.org/justeat/JustEat.StatsD/jobs/541122616, the total time reported for test run is 10 seconds, let's add some start and cleanup time, even then it should

[2019-06-27 18:45] livarcocc commented on #2078
_From @martincostello on Tuesday, June 11, 2019 8:28:11 AM_

@singhsarab Can you let me know exactly what logging parameters you need setting through `dotnet test` (info, verbose, debug?), and I'll do a PR to add them to the slowest run and see what happens.

[2019-06-27 18:45] livarcocc commented on #2078
_From @singhsarab on Tuesday, June 11, 2019 10:26:43 AM_

@martincostello You can use --diag:log.txt argument
https://github.com/microsoft/vstest-docs/blob/master/docs/diagnose.md#dotnet-test

[2019-06-27 18:45] livarcocc commented on #2078
_From @martincostello on Tuesday, June 11, 2019 11:04:00 AM_

There's a [test running now](https://travis-ci.org/martincostello/project-euler/jobs/544164410), it hasn't gotten as far as printing out anything yet, but it seems like whatever is slow is running after the last test finishes before the process exits.

[2019-06-27 18:45] livarcocc commented on #2078
_From @martincostello on Tuesday, June 11, 2019 12:58:12 PM_

There appears to be a 17 minute gap between [these two log messages](https://travis-ci.org/martincostello/project-euler/jobs/544203317#L1080-L1081):

[code]

[2019-06-27 18:46] livarcocc commented on #2078
_From @livarcocc on Wednesday, June 12, 2019 11:58:36 PM_

@singhsarab is @martincostello's lastest reply and logs enough for you to make headway on this?

[2019-06-27 18:46] livarcocc commented on #2078
_From @singhsarab on Thursday, June 13, 2019 12:43:37 AM_

@martincostello Thanks for the logs. I am not able to come up with a hypothesis right away. There seems to be some issue while clean up.

Is this issue happening only on travis CI ? I am trying to see if I can get a local repro to debug this one.

[2019-06-27 18:46] livarcocc commented on #2078
_From @singhsarab on Thursday, June 13, 2019 12:45:08 AM_

Let's transfer this to microsoft/vstest, will help us track this better

[2019-06-27 18:46] livarcocc commented on #2078
_From @martincostello on Thursday, June 13, 2019 5:37:05 AM_

@singhsarab Yes, only Travis CI. Locally, AppVeyor and Azure DevOps Pipelines are all fine.

[2019-06-27 18:46] livarcocc commented on #2078
_From @martincostello on Thursday, June 13, 2019 5:58:37 PM_

@singhsarab This issue does not seem to affect .NET Core 3.0 preview 6: https://travis-ci.org/martincostello/project-euler/builds/545376053

[2019-06-27 18:46] livarcocc commented on #2078
_From @martincostello on Monday, June 17, 2019 7:39:00 PM_

One thing I've noticed that's different in Travis CI compared to Azure Dev Ops is that `Test run in progress..` gets printed to the console a lot in Travis, but not in Azure.

Could _something_ different be making vstest think it should be printing progress to an interactive console, rather than say not because `$(CI)` is true in the envi

[2019-06-28 07:35] mayankbansal018 commented on #2077
please use one in testplatform folder. also if you are using developer cmd prompt, it's implicitly picked.

[2019-06-28 07:35] #2077 closed

[2019-06-28 08:56] #2022 closed

[2019-06-28 15:19] inkel commented on #1773
It isn't really working for me:

[code]

I'm ok with leaving the build warning, but afterward, I only want to see this:

[code]

Is that possible at all?

Note that I'm using `--verbosity quiet` which, according to `dotnet test -h` _set the MSBuild verbosity level_.

[2019-06-28 20:24] crummel commented on #2050
That should take care of it, I'll make a PR if it doesn't.  Thanks!

[2019-06-28 20:24] #2050 closed

[2019-06-28 22:18] livarcocc opened #2079 "dotnet test doesn't work on .NET Core 3.0 Preview 6"
_From @omajid on Friday, June 28, 2019 9:56:30 PM_

## Steps to reproduce

    dotnet --info
    dotnet new xunit
    dotnet test

## Expected  behavior

The generated `UnitTest1` class with the single `Test1` is executed and the test is marked as passed

## Actual behavior

[code]

## Environment data
`dotnet --info` output:

[code]

This dotnet SDK was compiled from the `v3.0.0-preview6-27804-01

[2019-06-30 11:03] yukia-yuqin commented on #1616
any update on this? I am facing the same issue.

[2019-06-30 11:27] JamesNK opened #2080 "Tests hang from dotnet test"
## Steps to reproduce
Tests run on travis CI via `dotnet test` now intermittently fail. Failures started after updating to a newer .NET Core SDK. It appears that the test tool increased from 16.0.1 to 16.1.1 with the new SDK.

Source code: https://github.com/grpc/grpc-dotnet/commits/master

## Expected behavior
Tests run and exit

## Actual behavior
Tests hang and the build is terminated

## Diagn

[2019-07-01 05:00] kaadhina commented on #2064
Closing this now. Please reopen or create new issue if u still face a problem.

[2019-07-01 05:00] #2064 closed

[2019-07-01 08:42] mayankbansal018 commented on #1616
@yukia-yuqin , can you please file a new bug for the exact issue you are facing.

[2019-07-01 08:45] mayankbansal018 commented on #2080
@JamesNK , if this is an intermediate issue, can you please enable diagnostics logs for testplatform & share those with us https://github.com/Microsoft/vstest-docs/blob/master/docs/diagnose.md

[2019-07-01 08:49] mayankbansal018 commented on #2073
@onovotny a similar task is already picked by @vagisha-nidhi in #2067

[2019-07-01 09:00] mayankbansal018 commented on #2070
@onovotny can you please share an expected outcome, it would help us close on user experience

/cc @singhsarab

[2019-07-01 11:06] mayankbansal018 commented on #2079
@omajid I just tried this on fresh machine, & things worked as expected. Can you please try it on some another box & let us know if you are facing similar issue

Also you can enable diagnostics logs via https://github.com/microsoft/vstest-docs/blob/master/docs/diagnose.md, & share those with us.
You can also try running dotnet new mstest, & verifying whether tests for those are run or not.

[2019-07-01 11:25] mayankbansal018 commented on #2078
this should be fixed via https://github.com/dotnet/cli/pull/11497, will keep it open for tracking

[2019-07-01 11:28] singhsarab commented on #1453
I have created RFC for above ask and mentioned the issues that need to be addressed.
RFC: https://github.com/microsoft/vstest-docs/pull/196

[2019-07-01 11:46] mayankbansal018 commented on #2072
@vpaulino, can you please share [diagnostics logs](https://github.com/microsoft/vstest-docs/blob/master/docs/diagnose.md) for the same , also it would be helpful if you can share a repro project.

[2019-07-01 11:53] vpaulino commented on #2072
I will need some time to setup that repo because this is happening on my company CI that Im building, and the code I cannot share... as soon as possible I will share similiar use case on my github.

[2019-07-01 12:02] onovotny commented on #2070
I would like to see the TFM added into the session name:

Here's what I see currently. I think adding net461/netcoreapp2.1, etc would help a lot.
![image](https://user-images.githubusercontent.com/1427284/60435043-8fd63e80-9bd6-11e9-8344-a39d5c0c125b.png)

[2019-07-01 16:32] gremlm commented on #1502
When using code coverage with vstest.console.exe it is impossible to specify location of the output .coverage file! That problem makes usage of the code coverage with vstest.console.exe useless!

[2019-07-02 00:05] jainaashish commented on #862
Why was this issue closed without a resolution? I'm also facing this with vstest.console.exe`. My scenario is to override some property already defined in my runsettings file through commandline arguments.

[2019-07-02 02:37] JamesNK commented on #2080
I can't easily get logs off the build server but I can repo freezing on my dev machine with this. It freezes all the time within a couple of iterations:

`while($true) { dotnet test --diag:log.txt }`

[testlogs.zip](https://github.com/microsoft/vstest/files/3348043/testlogs.zip)

[2019-07-02 06:20] vagisha-nidhi commented on #1773
@inkel  The minimal verbosity level is `--verbosity quiet`, but this will show the below status as designed.
[code]

[2019-07-02 10:06] bidiudiu opened #2081 "Unit test failed only when analyzing code coverage"
## Description
Hi,
I have an UnitTest project. When Test->Run->All Tests, all tests are successful. But if Test->Analyze Code Coverage, **those tests with Process.Start()** are failed.

## Steps to reproduce
I'm using VS 2017 Enterprise with Microsoft.NET.Test.Sdk 15.8.0, MSTest.TestAdapter 1.2.1 and MSTest.TestFramework 1.2.1. My project's framework is NetCore 2.0.
## Expected behavior
Codes have

[2019-07-02 12:57] inkel commented on #1773
@vagisha-nidhi so there's no way to remove the copyright notice? Bummer 😞

[2019-07-02 13:04] poulsky commented on #2079
I also having problems using xunit. I can see that you also run Fedora 30, so maybe a dotnet-sig problem? Tried mstest as suggested by @mayankbansal018 and no received no errors.

Anyways here are environmental info:
`.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview6-012264
 Commit:    be3f0c1a03

Runtime Environment:
 OS Name:     fedora
 OS Version:  30
 OS Platform: Linux

[2019-07-02 13:34] omajid commented on #2079
@mayankbansal018 Sorry about that. This looks like a [source-build](https://github.com/dotnet/source-build/) issue.

`dotnet new xunit && dotnet test`

This works with [Microsoft-built .NET Core 3.0 Preview 6](https://download.visualstudio.microsoft.com/download/pr/72ce4d40-9063-4a2e-a962-0bf2574f75d1/5463bb92cff4f9c76935838d1efbc757/dotnet-sdk-3.0.100-preview6-012264-linux-x64.tar.gz) but not wit

[2019-07-02 14:03] omajid commented on #2079
@poulsky

Yeah. The `dotnet-sig` packages use source-build to build and assemble .NET Core. So they should have the exact same set of issues.

For a workaround, you can disable the `@dotnet-sig/dotnet-preview` copr repo downgrade to use the 2.1 or 2.2 SDK which should not have these issues. Obviously this is not great advice if you enabled `@dotnet-sig/dotnet-preview` intentionally to identify sou

[2019-07-02 15:14] tmds commented on #2079
With this error, `dotnet test` is returning a zero (that is: success) exit code.

[2019-07-02 18:55] mayankbansal018 commented on #2081
can you please upgrade to latest test sdk(15.9+), & see if that resolves the issue for issue?

[2019-07-02 18:57] mayankbansal018 commented on #2079
@poulsky , @omajid if you can share the logs that would also help us. My guess is for some reason xUnit adapters were not dropped along with test dll, which is why we failed to discover/run tests. The logs can provide us better info.

[2019-07-02 19:14] mrbcmorris commented on #1544
@smadala I'm experiencing the same faults as @scale-tone.  You can see from his logs that it fails out with this error message well before the defined timeout time.

[2019-07-02 19:36] omajid commented on #2079
Here's the log file from `dotnet new xunit && dotnet test --diag:log.txt` [source-build-log.txt](https://github.com/microsoft/vstest/files/3352032/source-build-log.txt)

[2019-07-03 03:19] bidiudiu commented on #2081
Hi,
  Thanks for your suggestion! I tried latest version 16.2.0 and the issue still exists. Maybe because I'm using netcore 2.0 but the sdk supports netcore 1.0?

[2019-07-03 03:41] mayankbansal018 commented on #2081
@bidiudiu the SDK brings in the lower version netcore1.0 so that any higher target framework will get those dependencies implicitly.

Can you please try this via CLI, enable diagnostics logs, & share those with us. https://github.com/Microsoft/vstest-docs/blob/master/docs/diagnose.md

[2019-07-03 03:42] bidiudiu commented on #2081
Sure. Will provide more info later. Thanks!

[2019-07-03 05:43] bidiudiu commented on #2081
@mayankbansal018 I put logs here(still use 15.8.0 in the log since 16.2.0 has same behavior): [https://github.com/bidiudiu/Issue/tree/master/VsTest](VsTest)

[2019-07-03 07:56] tmds commented on #2079
I've been investigating this a bit.
So with source-build .NET Core:
[code]
with Microsoft built .NET Core:
[code]
ok, MS works, source-build doesn't.

now, let's copy the output of the xunit_ms folder into the xunit_sb folder:
[code]
using the source-build dotnet, testing both:
[code]
This is weird. The xunit dll that was build using Microsoft dotnet works, but the one compiled with source-build d

[2019-07-03 08:44] mayankbansal018 commented on #2079
@tmds , thanks for sharing this analysis, I suppose you can log this issue at xUnit repo, & they can provide a fix, or reasoning.
Let me know if this can be closed.

[2019-07-03 09:34] tmds commented on #2079
@mayankbansal018 I'm not sure the issue is with xunit, I can't derive that from the logging.

There is a difference between Microsoft and source-build .NET Core, so I think this needs a fix within one of the .NET Core repos.

cc @dagood @crummel @dseefeld

[2019-07-03 09:46] singhsarab commented on #2045
Removed the rest via https://github.com/microsoft/vstest/pull/2058

[2019-07-03 09:46] #2045 closed

[2019-07-03 11:40] mayankbansal018 commented on #1955
@tomaustin700 any update on this?

[2019-07-03 15:48] tmds commented on #2079
I had copied over a bunch of files from `xunit_ms`:
[code]
The xunit_ms dll also runs successfully with the source-build dotnet when only copying over: xunit_ms.deps.json, xunit_ms.dll, xunit_ms.pdb, xunit_ms.runtimeconfig.dev.json, xunit_ms.runtimeconfig.json.

[2019-07-03 20:51] drognanar commented on #2026
Reopening this issue as I'm still seeing the vstest.console processes hanging. I'm calling StartSession and EndSession without requesting a discovery and run in between. In this specific case the vstest.console process stays around.

[2019-07-03 20:51] drognanar commented on #2026
From my quick look at the code it seems that EndSession does not wait for the handshake with the test console to be established. This introduces a race between the handshake and EndSession messages sent to the testhost.

[2019-07-04 09:22] krishnaanaril commented on #1957
@singhsarab @ShreyasRmsft  Any one working on this issue? Can I try?

[2019-07-04 09:24] singhsarab commented on #1957
@krishnaanaril Sure, feel free to give it a shot.

[2019-07-04 11:13] mayankbansal018 commented on #2081
@bidiudiu can you please share a sample repro project for this. I tried locally & it worked fine.

[2019-07-04 11:25] tmds commented on #2079
@mayankbansal018 do you have some thoughts on how the `deps.json` file could be affecting the resolved assemblies for tests?

[2019-07-04 20:22] JamesNK commented on #2080
This is an ongoing problem. I'd like to make some progress on fixing it.

Do you need anymore information from me?

[2019-07-05 04:58] kaadhina opened #2085 "Attachments with path too long lead to missing results in trx"
If there are test cases with attachments with path too long, it can lead to missing results. in trx report. We may skip the attachment but this should ideally not lead to missing test results in the trx

This has more detailed info and logs:
https://developercommunity.visualstudio.com/content/problem/612228/azure-devops-unit-test-result-not-being-published.html

[AB#1865106](https://devdiv.visuals

[2019-07-05 06:42] mayankbansal018 commented on #2080
@JamesNK I went through the logs & from the logs I didn't see any hang state. The only interesting thing I observed was that it seemed we start 10 different testhost processes in sequence, but you have shared logs for 30 testhost process. Can you please share how many test dlls are you running ?

[2019-07-05 07:00] mayankbansal018 commented on #2079
@tmds AFAIK dotnet uses it resolve dependencies for an assembly. https://natemcmaster.com/blog/2017/12/21/netcore-primitives/#depsjson should help.

[2019-07-05 07:23] bidiudiu commented on #2081
@mayankbansal018 sure. I put a repro project here: https://github.com/bidiudiu/Issue/tree/master/VsTest/DevStudio/DevStudio.Core.UnitTest

I'm using VS Enterprise 2017, 15.9.13. Thanks for your help~

[2019-07-05 07:36] mayankbansal018 commented on #2081
@bidiudiu I was able to run this project successfully both with & w/o coverage. This could be a machine specific issue, I can suggest that you please try this on a separate VM, & see if you still face this issue.

[2019-07-05 08:00] tomaustin700 commented on #1955
Hi @mayankbansal018, I think this can be closed. This doesn't seem to be happening much anymore and when it has happened I have tracking it down to a local issue. Thanks for your assistance with this.

[2019-07-05 08:00] #1955 closed

[2019-07-05 08:22] bidiudiu commented on #2081
@mayankbansal018 that's a little bit strange...On my two VMs and on VSTS (use 'dotnet test' in CI), same issue exists.
But I just tried on my laptop (with earlier version VS 2017 15.6.7) and the issue disappeared. I'll re-install lower version VS on my VMs and try again.

[2019-07-05 08:57] #1941 closed

[2019-07-05 08:58] singhsarab commented on #2063
This is done. Related to #1941

[2019-07-05 08:58] #2063 closed

[2019-07-05 15:43] dagood commented on #2079
My two cents: the hashes are actually the same, since `\u002b` is `+`. I guess some library involved in source-build nuget restore or deps file generation likes to escape characters more. This leaves the diff as:

[code]

I don't have ready access to a 3.0 Preview 6 source-built SDK (my focus is dotnet/core-setup right now), is it possible to share your repro bits? (Even better if it runs standalo

[2019-07-05 15:57] omajid commented on #2079
@dagood Here's a Dockerfile that should reproduce the issue:

[code]

[2019-07-05 17:34] livarcocc opened #2086 "dotnet test command does not generate Test Results.xml file.How to generate it"
_From @upretyrohan on Thursday, July 4, 2019 10:51:54 AM_

## Steps to reproduce

## Expected  behavior

## Actual behavior

## Environment data
`dotnet --info` output:

_Copied from original issue: dotnet/cli#11738_

[2019-07-05 17:39] dagood commented on #2079
I repro'd, and also ran a Msft dotnet on the "bad" bin dir in the same container, and that repro'd the bad behavior. Based on this, I think it's safe to focus on the deps file as the cause.

I don't know how to figure out why whatever's using the deps file isn't interpreting `\u002b` as `+`.

On the deps file creation side, I know a little more. The Msft SDK carries an old Microsoft.Extensions.Dep

[2019-07-05 17:41] livarcocc commented on #2079
The deps file is consumed by the host. cc @vitek-karas

[2019-07-05 18:36] carlowahlstedt commented on #1544
@smadala I've got someone in my company who also came to be with the issue. Looks like it might be more wide spread or there's some fix we're not aware of?

[2019-07-05 19:07] tmds commented on #2079
Aha! I hadn't noticed. It was so weird that using 'different' hashes caused things to work, but in fact, they were not so different :smile:

[2019-07-05 19:22] dagood commented on #2079
It's easy to manually repro this on Windows too, by the way (if you have `3.0.100-preview6-012264` installed):

[code]

@vitek-karas took a look at corehost logs I sent offline (`COREHOST_TRACE=1`, `COREHOST_TRACEFILE=t.log`) but he didn't see anything to indicate the host is involved in this. If there were a problem there, a hard failure would be expected anyway, not just failing to find extensio

[2019-07-05 20:48] vitek-karas commented on #2079
I tried to look at the vstest code to figure out where it goes wrong, but no luck. The idea was that due to the change of JSON parsing library in `Microsoft.Extensions.DependencyModel`, the old version would have trouble parsing the new json file - but it seems to work OK (vstest does indeed use the DependencyModel APIs to parse the `.deps.json`).

I think at this point it needs somebody more fami

[2019-07-06 00:27] JamesNK commented on #2080
Because I'm doing it in a loop: `while($true) { dotnet test --diag:log.txt }`

In the example of the logs I attached it freezes are 3 runs.

Have you tried reproing it?

[2019-07-08 07:21] bidiudiu commented on #2081
I find that there're two problems here: One is machine specific issue. Another is that: If in Process.Start() an user-written dll is executed, we should add Microsoft.CodeCoverage package to this user-written project.

[2019-07-08 07:21] #2081 closed

[2019-07-08 13:31] tmds commented on #2079
I've looked into this further and traced down the issue to xunit json parsing: https://github.com/xunit/xunit/issues/1980.

[2019-07-08 14:26] mayankbansal018 commented on #2080
I'm looking into it, I've cloned the repo, & all I need to do is run dotnet on sln right?

[2019-07-08 14:49] mayankbansal018 commented on #2080
I tried it locally multiple times, but it did not repro for me.

[2019-07-08 18:31] tourdedave commented on #1085
Is there an update on this issue? This feature would benefit a lot of people writing end-to-end tests with Selenium & C#.

[2019-07-09 12:03] vagisha-nidhi opened #2087 "Unable to find custom datacollector nuget"
## Description
Unable to find custom datacollector nuget. Any custom datacollector, published as a nuget package would not be able to be directly consumed if specifying the datacollector via run settings file and running tests via VS.

## Related issue
https://github.com/tonerdo/coverlet/issues/485

## Steps to reproduce
1. Have a reference to coverlet.collector nuget in test project.
2. Add this

[2019-07-09 14:54] lmartuc commented on #2078
I stumbled upon this issue as well. Our build times went up from around 1 minute to over 30 minutes.

I fails using the 2.1.700 sdk, rolling back to 2.1.604 solved the issue temporarily, but we are interested to know if there is another workaround. We would like to update to dotnet 2.2.

[2019-07-09 18:38] martincostello commented on #2078
I _believe_ the fix for this is in the 2.2.301 SDK that was just released.

[2019-07-09 21:29] tcoreal commented on #2021
I can confirm that the issue is resolved with the newest sdk 2.1.701 and Command Line Tool Version (16.1.1)

[2019-07-09 21:29] #2021 closed

[2019-07-09 23:32] gremlm commented on #981
When using code coverage with vstest.console.exe it is impossible to specify location of the output .coverage file! That problem makes usage of the code coverage with vstest.console.exe useless!

[2019-07-09 23:34] nguerrera commented on #2079
See https://github.com/dotnet/core-setup/issues/7137

The reason why the non-source-built SDK was working is that we were accidentally still using DependencyModel 2.2.

Further, we can't really rely on the xunit fix as we need to be able to run `dotnet test` on projects using older xunit with latest SDK. The JSON parsing code in xunit is pulled in from a package reference.

So we need to change De

[2019-07-10 06:56] steinmr commented on #981
@codekoenig I added a workaround for our common problem in microsoft/azure-pipelines-tasks#9581

[2019-07-10 09:25] kaadhina commented on #2072
Will reopen when we have logs

[2019-07-10 09:25] #2072 closed

[2019-07-10 19:17] JSkimming commented on #2078
It looks like Travis has now incorporated the latest SDK releases.

[2019-07-11 09:30] kaadhina opened #2089 "SocketException at vstest end session in pipeline"
There are a few SocketExceptions in the pipeline (noticed this from our telemetry for vstest runs in pipeline). Unfortunately there were no diag logs in any of it.
Look similar to some issues we fixed in the past.

Stack trace:
System.AggregateException: One or more errors occurred. ---> System.IO.IOException: Unable to write data to the transport connection: An existing connection was forcibly cl

[2019-07-11 23:08] tasadar2 commented on #2080
We are currently experiencing the same issue. We have been using `mcr.microsoft.com/dotnet/core/sdk:2.2.204` to avoid the performance degradation issue which is now resolved. But when attempting the latest `mcr.microsoft.com/dotnet/core/sdk`, currently `b4c25c26dc73f498073fcdb4aefe167793eb3a8c79effa76df768006b5c345b8`, only a couple test runs finish while the rest seem to hang.
As with the perform

[2019-07-12 07:06] DNikitenko opened #2090 "Console logger ignores verbosity level when run via dotnet vstest"
## Description

I want to see which tests are currently run, so that I increase a default value for the console logger verbosity like described in help:

      Example: /logger:console;verbosity=<Defaults to "minimal">
      Allowed values for verbosity: quiet, minimal, normal and detailed.

My library contains NUnit tests and uses NUnit3TestAdapter of 3.13.0 version.

## Steps to reproduce

`dotn

[2019-07-12 17:34] krishnaanaril commented on #1957
@CSmith1111 While going through the source code I found that it is possible to provide filename by adding `<CoverageFileName>YourName.coverage</CoverageFileName>`in the *.runsettings file.

[2019-07-13 23:15] JamesNK commented on #2080
Running test projects individually has fixed this problem for us - https://github.com/grpc/grpc-dotnet/commit/152255ec5419c1360819788d7911f4957c8e4e2c

[2019-07-14 23:59] JamesNK opened #2091 "The application to execute does not exist"
## Steps to reproduce
1. Update to 3.0.100-preview8-013196
2. Call `dotnet test`

## Expected behavior
Tests run

## Actual behavior

The application to execute does not exist: 'C:\Program Files\dotnet\sdk\3.0.100-preview8-013196\vstest.console.dll'
Fatal error. Internal CLR error. (0x80131506)
   at Microsoft.NET.Build.Tasks.ConflictResolution.ConflictResolver`1[[System.__Canon, System.Private.Co

[2019-07-15 10:37] karanjitsingh commented on #2091
@JamesNK, slightly confused here since the version you mentioned is `3.0.100-preview8-013196` and the latest dotnet sdk version released is `3.0.100-preview6-012264`

![image](https://user-images.githubusercontent.com/4632805/61210560-7c6cbc80-a71a-11e9-9760-44c00c238ba5.png)

I tried for the latest version and things seem to be working normally for me

[code]

[2019-07-15 11:17] JamesNK commented on #2091
The number indicates this is from a nightly SDK build......

https://github.com/dotnet/core-sdk/blob/master/README.md#installers-and-binaries

[2019-07-15 11:37] karanjitsingh commented on #2091
Tried with `3.0.100-preview8-013210`, I can confirm this is not working. It seems, the specific build is not packing test platform with it (there's supposed to be a TestHost folder containing the test platform binaries). Can you ask the dotnet cli team about how packaging is done for the nightly builds?

[2019-07-15 12:35] JamesNK commented on #2091
Are you talking to me? I don’t know the cli team. There is no value in me relaying messages between you two

[2019-07-15 13:26] karanjitsingh commented on #2091
The issue is out of context for this repo. This issue should be tracked with dotnet/core-sdk itself. I would've moved the issue there but it seems there's already one. See dotnet/core-sdk#3202

[2019-07-15 13:27] #2091 closed

[2019-07-15 23:09] ManishJayaswal commented on #149
@cltshivash - any update on this issue?

[2019-07-16 00:45] cltshivash commented on #149
@ManishJayaswal The changes are in and we should be inserting the TP version with the fix for 16.3 this week.

[2019-07-16 01:09] ManishJayaswal commented on #149
@cltshivash great to hear this!

[2019-07-16 01:31] PureKrome opened #2092 "What is Microsoft.NET.Test.Sdk and when should we use it in a test project?"
👋  This is a general question for the VSTest team.

- What is the `Microsoft.NET.Test.Sdk` nuget package / library?
- When should we install this into a project and use it?

Currently, I have a simple test project and just updated this package to version `16.2.0`. Everything is working fine. I then _commented it out_,  full clean and rebuild and ran all the tests .. which .. worked?

[code]
I'm us

[2019-07-16 11:25] karanjitsingh commented on #2092
@PureKrome, building the project without the reference should work, but running tests will not work. Interestingly, you said running tests also worked? Try running tests both via VS and via the command `dotnet test`.

This reference is required for projects targeting dotnet core, it basically carries the test platform reference along with it.

[2019-07-16 11:30] #2079 closed

[2019-07-16 12:54] hicks86 opened #2094 "Unit test templates missing from .NET Core Unit test project"
**Visual Studio Version**:
Visual Studio Professional 2017
Version 15.9.11

**Summary:**
Clicking on AddItem on a .NET Core 2.1 Unit Test Project does not show the Test category or any of the Unit test templates **(1)** (as opposed to a .NET Framework project **(2)** ).

**(1)**
![netcore_testtemplates](https://user-images.githubusercontent.com/11144895/57832213-02b66200-77af-11e9-83ef-9233b6a191e

[2019-07-16 15:38] livarcocc opened #2095 "dotnet test coverage with partially failed tests"
_From @saxenark on Tuesday, July 16, 2019 1:20:16 PM_

Hi,

I am using .net core 2.2 in my ASP.NET core application. My command line to invoke tests is like so:

dotnet test -v n <path_to_test_csproj> -c Release --no-build --logger:trx /p:CollectCoverage=true /p:CoverletOutputFormat=\"opencover,lcov,Cobertura\" /p:CoverletOutput=<path_to_coverage_results> --results-directory <path_to_test_results>

[2019-07-17 08:24] #2092 closed

[2019-07-17 09:25] karanjitsingh commented on #2095
@saxenark, I believe this is an issue with coverlet, see the thread https://github.com/tonerdo/coverlet/issues/37. Although a fix was merged so not sure what's happening here.

Additionally, coverlet is now integrated into dotnet itself, you can try to run your coverage via `dotnet test`. See https://github.com/tonerdo/coverlet/blob/master/Documentation/VSTestIntegration.md

If things still don't

[2019-07-17 10:44] saxenark commented on #2095
Hi, I have .net core 2.2.0 which I use in my project. What is the default friendly name of the collector?

When I run 'dotnet test --collect:"XPlat Code Coverage"'

I get the error

'Data collection : Could not find data collector 'XPlat Code Coverage'

In short, what are the step by step instructions to use the tool?

Thanks,

[2019-07-17 11:23] saxenark commented on #2095
Here is my sample project as requested. When I run the dotnet test command, there is json file in the TestResults folder.
[ConsoleApp2.zip](https://github.com/microsoft/vstest/files/3401603/ConsoleApp2.zip)

[2019-07-17 11:31] karanjitsingh commented on #2095
You need 2.2.3 to run with coverlet

[2019-07-17 15:27] saxenark commented on #2095
Ok. Then what is the command line to generate cobertura coverage file using dotnet test command line for .net core 2.2.0 projects?

[2019-07-18 10:54] karanjitsingh commented on #2095
Coverlet integration for dotnet test was done for dotnet sdk version 2.2.300

To be able to run `dotnet test --collect:"XPlat Code Coverage"`
1. You need to have the latest sdk version of dotnet, see https://dotnet.microsoft.com/download/dotnet-core/2.2
2. In your project you must reference the nuget package Coverlet.Collector 1.0.1

Sample
[code]

By default this will produce a cobertura coverage

[2019-07-19 05:29] A141749 commented on #862
Still no way of passing cmdline to the runsettings? Seems a bit silly to close the issue without any resolution.

[2019-07-19 07:41] karanjitsingh commented on #2094
@hicks86, this repository is for test execution engine for visual studio. i.e visual studio test platform.

AFAIK, this is by design. Since this repository is out of context for this issue, I suggest you post this on http://developercommunity.visualstudio.com/ for better traction.

[2019-07-19 07:41] #2094 closed

[2019-07-19 09:02] ShreyasRmsft opened #2097 "ConsoleWrapper.Endsession does not dispose of translation layer EqtTrace logs"
## Description
ConsoleWrapper.Endsession does not dispose of translation layer EqtTrace logs

The only time the translation layer log file lock gets released is after the process hosting the translation layer dies.

[2019-07-19 09:04] hicks86 commented on #2094
Ah right!

I posted this here: https://github.com/dotnet/project-system/issues/4828#event-2486592170, then I was told to move it here?

So this is a regression from .NET framework IMO, in the sense that this is not available. I cannot be the only person with this issue. I assume the "work around" is to create my own template.

[2019-07-19 09:04] ShreyasRmsft opened #2098 "ConsoleWrapper should allow reinitializing vstest console diag file so that relaunching vstest.console.exe can be avoided when smaller segmented diag files are required"
ConsoleWrapper should allow reinitializing vstest console diag file so that relaunching vstest.console.exe can be avoided when smaller segmented diag files are required

[2019-07-19 09:16] hicks86 commented on #2094
I have reposted on dev community as suggested - if anyone end up here, this is the link: https://developercommunity.visualstudio.com/content/problem/652802/unit-test-templates-missing-from-net-core-unit-tes.html

[2019-07-19 13:14] ViktorHofer opened #2099 "Allow passing in multiple TestCaseFilter/Filter arguments in dotnet vstest/test"
Combine multiple filter arguments with an AND operator. Having to pass in many filters in one argument is cumbersome.

cc @mayankbansal018

[2019-07-19 17:17] rschiefer commented on #617
1.5 years later, any updates?

[2019-07-19 17:50] ViktorHofer opened #2100 "Specify environment variables in the runsettings file"
Specifying environment variables in the runsettings file is necessary to support non-trivial projects that require settings env vars like DOTNET_ROOT. As discussed offline this is a blocker for dotnet repositories like corefx and sdk to onboard onto VSTest (dotnet test / vstest) and being able to use VS Test Explorer.

cc @singhsarab @cltshivash @vitek-karas @mayankbansal018

[2019-07-19 17:55] ViktorHofer opened #2101 "Testhost should use the apphost sdk feature"
testhost.dll should use the apphost sdk feature to crate a native executable `testhost.exe` which finds the right host itself without using the PATH environment variable. This native executable should be invoked instead of the `testhost.dll`. This would also solve the problem with looking up the right host for x86 vs x64.

This helps dotnet repositories like corefx to use VSTest and VS Test Explor

[2019-07-22 06:47] karanjitsingh commented on #2095
@saxenark, I'll close this issue for now. If you're still facing an issue let me know and I'll reopen

[2019-07-22 06:47] #2095 closed

[2019-07-22 11:16] singhsarab commented on #2078
Thanks for confirmation @JSkimming @martincostello. Closing this issue.

[2019-07-22 11:16] #2078 closed

[2019-07-22 15:01] timmsch commented on #2008
The issue still seems to exist, even when using the Visual Studio Test Platform Installer.
Version 16.2.0 (stable)
`Error details: Could not load file or assembly 'Microsoft.TeamFoundation.TestManagement.Controller, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.
`

[2019-07-22 16:12] jjxtra commented on #2008
Why is this closed? I get this error in latest visual studio 2019 when running unit tests...

[2019-07-22 16:29] jjxtra commented on #2008
[code]

[2019-07-23 15:03] DNikitenko commented on #2090
However, it does work when using `--logger:"console;verbosity=detailed" `.

[2019-07-23 15:37] singhsarab commented on #2080
@tasadar2 @JamesNK sdk:2.2.301 has a fix, can you please check if you are still hitting the issue ?

[2019-07-23 15:41] singhsarab commented on #2086
@upretyrohan Have you tried --logger:trx option ?

[2019-07-23 19:24] Dstar2020 opened #2102 "VSTest executes fine from CMD but not from release pipeline ON premise TFS task"
## Description

## Steps to reproduce

## Expected behavior

## Actual behavior

## Diagnostic logs

## Environment

[2019-07-23 19:26] Dstar2020 commented on #2102
The VS test task fails in the release pipeline with the following error message

I have .Net framework installed and the Vstest console exe executes fine within server or when remotely.
Please suggest if I am missing something here

[2019-07-24 01:45] tasadar2 commented on #2080
Still appears to be an issue.
image: `mcr.microsoft.com/dotnet/core/sdk@sha256:a50e175acd618c3e90bc91dceb5194e6c3764c5b4d179390cef874a887476ba9`
example: [https://circleci.com/gh/tasadar2/vstest-issue-2080/7](https://circleci.com/gh/tasadar2/vstest-issue-2080/7)

[2019-07-24 10:53] sroe commented on #1472
Same here, using VS 2017 Test Platform 15.9.1.2019030503, I have to kill the vstest.console.exe-Processes to get another Unittest running.
Sometimes there are 2 processes spawned but I only run 1 Method with Test Explorer.
I will update von VS 2019 in a week and will look if it's buggy there too.
As a workaround I am adding PostBuild-Events to the Unit Test Project with `cmd.exe /K "kill vstest.co

[2019-07-24 15:30] singhsarab commented on #2102
@Dstar2020  Can you please share the arguments? and possibly the logs for the run ?

[2019-07-24 16:35] apobekiaris opened #2104 "Xunit failed tests are not discovered when rerun."
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this in

[2019-07-24 16:37] Dstar2020 commented on #2102
Logs from /diag

   at Microsoft.VisualStudio.TestPlatform.CommandLine.Processors.FrameworkArgumentExecutor.Initialize(String argument)
   at Microsoft.VisualStudio.TestPlatform.CommandLine.Processors.ArgumentProcessorFactory.<>c__DisplayClass20_0.<WrapLazyProcessorToInitializeOnInstantiation>b__0()
TpTrace Error: 0 : 6756, 1, 2019/07/24, 11:14:05.057, 1949376217128, vstest.console.exe, ArgumentPr

[2019-07-24 16:38] Dstar2020 commented on #2102
arguments

[2019-07-24 17:11] singhsarab commented on #2102
I see there is space after ```/framework:``` Can you please try after removing that please

[2019-07-24 19:29] Dstar2020 commented on #2102
Thanks @singhsarab . It worked but the task log shows

2019-07-24T19:20:50.3730951Z Logging Vstest Diagnostics in file: \\servername\d$\logs\log.txt
2019-07-24T19:20:51.1074706Z NUnit Adapter 3.13.0.0: Test execution started
2019-07-24T19:20:51.1074706Z Running all tests in \\servername\D$\FAF_Applications\Http\Landing\test\Landing.Nunit.UITests.dll
2019-07-24T19:21:06.4986932Z    NUnit failed to

[2019-07-24 19:45] Dstar2020 commented on #2102
Arguments passed : /Framework:".NETFramework,Version=v4.7.2"  --diag:\\servername\d$\logs\log.txt
log from --diag

   at Microsoft.VisualStudio.TestPlatform.CommandLine.Processors.FrameworkArgumentExecutor.Initialize(String argument)
   at Microsoft.VisualStudio.TestPlatform.CommandLine.Processors.ArgumentProcessorFactory.<>c__DisplayClass20_0.<WrapLazyProcessorToInitializeOnInstantiation>b__0()
T

[2019-07-25 08:06] singhsarab commented on #2102
@Dstar2020 It says that Nunit was not able to load the test dll, can you please sure all the dependencies are present in the directory of the the test dll.

[2019-07-25 15:05] Dstar2020 commented on #2102
Thank you. It has all the needed dependencies and runs fine in Build pipeline.
The issue is happening only in release pipeline. This is just a simple test like Hello world assertion.
Is there a doc or checklist that I have to go through to get the Dev/UAT machine ready for VSTest testing

[2019-07-25 15:50] singhsarab commented on #2102
Are you using the artifacts from the build pipeline and trying to run in the release pipeline ?

If yes, then I would suggest, trying to publish (using dotnet publish cmd) the test project and then try.

[2019-07-25 16:13] singhsarab commented on #862
For folks using Azure Devops vstest task, you can use

![image](https://user-images.githubusercontent.com/18569990/61890171-8d8ca900-af24-11e9-93e7-169cdd54f5ed.png)

[2019-07-25 16:17] #2086 closed

[2019-07-25 19:59] Dstar2020 commented on #2102
Yes I am publishing the artifact using the task "Publish Artifact". I am not able to attach screen prints here.

[2019-07-26 08:20] karanjitsingh commented on #2090
Reproduces on ubuntu (not windows) when quotes are not given for `/logger:console;verbosity=detailed`

[2019-07-26 15:34] jannikbuschke commented on #2008
I ran into this issue with the following code
[code]
Explicitly adding the assembly fixed it for me:
[code]

VS 16.1.5
dotnetcore 2.2

[2019-07-29 09:51] vagisha-nidhi commented on #2100
@ViktorHofer
What is the exact ask here? From what I am understanding, we need the capability to set environment variables before the test run starts.
I'll share a sample runsettings.

[code]
These environment variables will be set when test host process is launched as part of its ProcessStartInfo.

@ViktorHofer Is there anything else to be taken into consideration?

cc: @singhsarab @PBoraMSFT

[2019-07-29 10:05] singhsarab commented on #2100
Things to consider:
1. Should we have a separate node? or should this node be part of the RunConfiguration node itself?
2. Will this run in isolation always (i.e. tests run in test host) ?
3. Can users give these settings as commandline arguments ?

[2019-07-29 10:39] vagisha-nidhi commented on #2100
@ViktorHofer Also, there is an option to specify [run parameters](https://github.com/microsoft/vstest-docs/blob/master/docs/configure.md#run-parameters) as key value pairs which can be used at run time. Does this suffice your need?
Or is it necessary to set the variables during test host process start?

[2019-07-29 12:34] singhsarab commented on #2102
The point that I am trying to make is, that it is possible that the build machine has all the dependencies and hence we are able to build the test projects.

But while you are publishing the artifacts from the build pipeline and then trying to run the tests in the release which will have on a different agent machine, there are chances that all the dependencies are not present.

Are you using hoste

[2019-07-29 13:07] Dstar2020 commented on #2102
okay I will get back with the agent information. Mean while I would like to highlight that I am able to run the test from CMD line(from remote machine as well). This makes me wonder if there are dependency issues.

[2019-07-29 13:47] karanjitsingh commented on #2104
`TestCaseFilter` does not work as expected when filter contains special characters and also throws when `,` is escapes like `\,`

[code]

[code]

[2019-07-29 15:36] singhsarab commented on #2043
This is done. https://github.com/microsoft/vstest/pull/2067

[2019-07-29 15:36] #2043 closed

[2019-07-29 15:54] AdamYoblick opened #2105 "Any planned support for Microsoft fakes in .net core?"
Hello,

Not sure if this is the right place to ask, so I apologize if it's not. I'm trying to use Microsoft Fakes to shim some non-virtual methods, and it seems fakes is not supported in .net core.

Are there any plans to support this tech in .net core?

Thank you :)

[2019-07-29 20:38] stakx opened #2106 "Progress indicator floods CI server build log with lots of distracting "Test run in progress..." messages"
## Description

VSTest's [`ProgressIndicator` class](https://github.com/microsoft/vstest/blob/1e37ee32dbba48ad797b03bff0058c5c60a3a770/src/vstest.console/Internal/ProgressIndicator.cs) doesn't play particularly well with some terminals, such as the one of AppVeyor for Linux. It repositions the cursor in order to display a varying number of dots behind a "Test run in progress" message, but that doe

[2019-07-30 08:46] singhsarab commented on #2102
@Dstar2020 If you are running tests for just one test dll, you can probably try running without giving any framework argument, the platform can figure out the framework itself

[2019-07-30 09:51] JamesNK commented on #2080
I've narrowed down my hanging issue to with how vstest writes to the console. If no tests fail then vstest completes without any problems. If a test fails then it hangs until the CI build times out (this is in Travis CI)

The workaround I am using is to write the test output to a text file, and the write the text file to console.

[2019-07-30 10:20] singhsarab commented on #2080
@JamesNK What is the dotnet sdk version you are using ? Can you share the link to the CI ?

[2019-07-30 10:39] JamesNK commented on #2080
3.0.100-preview8-013532

https://travis-ci.org/grpc/grpc-dotnet/builds/565363470?utm_source=github_status&utm_medium=notification

[2019-07-30 10:55] singhsarab commented on #2105
@AdamYoblick You should raise it here https://developercommunity.visualstudio.com/

[2019-07-30 10:55] #2105 closed

[2019-07-30 12:51] UncleSamSwiss opened #2107 "Dotnet XUnit test hangs when running on a solution in 3.0 preview 7"
## Description
After upgrading our Docker containers from preview 4 to preview 7 (`mcr.microsoft.com/dotnet/core/sdk:3.0-buster`) all our XUnit tests are hanging.

Command (in the solution directory):
[code]
Output:
[code]

After this comes nothing.

I've seen the same (or similar) issue reported here for .NET Core 2.x https://github.com/microsoft/vstest/issues/2025
It seems to be fixed for 2.1.70

[2019-07-31 20:15] guillaume86 commented on #1732
@phatcher I'm curently evaluating moving from TeamCity to Azure Pipelines.
I'm hitting the same issue regarding the tests results tab. The UX is abysmal compared to TeamCity, but being able to group by and see namespaces would make it bearable.

Did you find a solution? Not sure if the root issue is here or if the Azure team has already the information but is not making it available in the tests t

[2019-07-31 20:23] Dstar2020 commented on #2102
Tested as per the suggestion. Its not able to deduct the test still.
2019-07-31T20:10:55.6219827Z Starting test execution, please wait...
2019-07-31T20:10:55.6219827Z Logging Vstest Diagnostics in file: \\BuildServer\d$\logs\log.txt
2019-07-31T20:10:56.6596639Z NUnit Adapter 3.13.0.0: Test execution started
2019-07-31T20:10:56.6752888Z Running all tests in \\BUILDSERVER\D$\FAF_Applications\Http\Ap

[2019-07-31 20:33] ificator opened #2108 "Failed to negotiate protocol, waiting for response timed out after 90 seconds"
## Description
I followed [these instructions](https://docs.microsoft.com/en-us/dotnet/core/testing/unit-testing-with-mstest) to create a trivial project with some unit tests. The only deviation was that I added a `global.json` to use `dotnet 2.2.300` instead of the 3.0 beta.

After having run through all the steps, `dotnet test` blocks for 90 seconds and then fails:

[code]

## Steps to reproduce

[2019-07-31 21:11] ificator commented on #2108
I decided to go ahead and clear out my nuget cache for `Microsoft.NET.Test.Sdk`, `MSTest.TestAdapter`, and `MSTest.TestFramework` and that seems to have resolved things. No idea why though, unless somehow one of the packages was corrupt?

[2019-07-31 21:12] #2108 closed

[2019-08-01 06:12] TestO2015 commented on #1472
Hi @sroe,

We were able to resolve this issue in https://github.com/microsoft/azure-pipelines-tasks/issues/9095. The underlying error was covered up, and could be revealed by enabling a custom batch size. This allowed us to fix it.

[2019-08-01 06:27] #2073 closed

[2019-08-01 13:53] Dstar2020 opened #2109 "Is it possible to trigger the post approval only on hundred percent success of tests from the task VSTest"
## Description

## Steps to reproduce

## Expected behavior

## Actual behavior

## Diagnostic logs

## Environment

[2019-08-02 10:22] mcartoixa commented on #680
Bump.

My tests work fine on my machine but fail on the build server (AppVeyor). There I can only access the MSbuild logs, and as there is no output I am completely blind...

.NET Core 3.0 preview 7

[2019-08-02 17:39] nvborisenko commented on #1930
Could you please briefly explain what is principle difference between datacollector and testlogger? I see that architecturally they are similar. They get events from test platform and save it to somewhere. I saw trx logger and console logger (they are saving tests info), also I saw VideoRecorder (not sure whether this is logger or datacollector).

As for me all they are very similar. I see that ot

[2019-08-02 20:14] Dstar2020 opened #2111 "Vstest fails in build pipeline with message " Debug information could not be found for target assembly ""
## Description

## Steps to reproduce

## Expected behavior

## Actual behavior

## Diagnostic logs

## Environment
Build server
VStest.console version 2

[2019-08-02 22:40] dparvin opened #2112 "I am having issues running tests with fakes"
## Description
When I use the vstest.console.exe that is placed in my _tool folder on my machine where I have installed my Azure DevOps agent, (in my case: C:\agent\_work\_tool\VsTest\16.2.0\x64\tools\net451\Common7\IDE\Extensions\TestPlatform) the unit tests that I have created that use Fakes will fail with the error listed below.  If the machine I am running the tests on has Visual Studio 2015 o

[2019-08-05 06:09] singhsarab commented on #2102
`
2019-07-31T20:11:12.2429582Z NUnit failed to load \BUILDSERVER\D$\FAF_Applications\Http\AppName\test\AppName.Nunit.UITests.dll
`
This means the Nunit adapter is not able to load the dll. If you can somehow get diagnostic logs for nunit or the fusion logs on the machine, we'd be able to make out what is missing.

[2019-08-05 16:04] livarcocc opened #2113 "dotnet test LogFileName break change in 2.2.300"
_From @elvisFabian on Friday, August 2, 2019 9:48:27 PM_

The last docker image `mcr.microsoft.com/dotnet/core/sdk:2.2` upgrade **DOTNET_SDK_VERSION** to **2.2.300**

## Steps to reproduce
- Create multiples test projects
- run: `dotnet test --logger "trx;LogFileName=TestResults.trx"`

## Expected  behavior
Create a unique file name per test project

## Actual behavior

**Using DOTNET_SDK_VERSION=

[2019-08-05 18:27] rishi2110 opened #2114 "Add support for a singleton datacollector"
## Description
A new data collector process is spawned for each parallel assembly being tested using vstest.
There is no option to have a singleton data collector that serves all tests.
A new command line param or runsettings config should be added that allows for this behavior

We are creating a test framework which has the ability to capture network traces using fiddler.
The capture logic will b

[2019-08-06 09:57] ShreyasRmsft commented on #2111
@Dstar2020 this is not the right forum for this question please post this on https://github.com/microsoft/azure-pipelines-tasks/issues and tag it with Area: Test to bubble it up to the Test team. Thanks

[2019-08-06 09:57] #2111 closed

[2019-08-06 10:09] javiercn opened #2115 "TestHost locking files"
I've been experiencing file locks that seem to be caused by testhost in visual studio.

[code]

I've created a dump of the process and made it available here https://microsoft-my.sharepoint.com/:f:/p/jacalvar/EihUo-IvUlxBo0Q9wBLMn4kBsfsoiqCLqOcEav1lcF-bFQ?e=5NFM6J

Could you folks take a look?

[2019-08-06 11:01] ShreyasRmsft commented on #2112
@dparvin the testplatform in the _tool folder is installed by the vstestplatform tool installer and is meant to be used with the vstest task.

The reason is that additional work is done by the vstest task to set environment variables needed to point the testplatform to the intellitrace profiler dlls etc. in case of the nuget package.

If VS is installed on the machine these need not be set since t

[2019-08-06 11:16] ShreyasRmsft commented on #2114
@PBoraMSFT please take a look at the ask.

[2019-08-07 09:12] ShreyasRmsft commented on #2102
@Dstar2020 were you able to get fusion logs?

[2019-08-07 09:23] ShreyasRmsft commented on #2113
@livarcocc we reverted the change where we were appending suffixes to each trx file and not fully honoring the LogFileName=TestResults.trx param based on feedback.

We are working on a solution to stop the trx getting overriden.

[2019-08-07 09:55] mcartoixa commented on #680
Anyone?

I have tried to base `VSTestTask` on `Tooltask` as suggested as it seems the right thing to do to enjoy the benefits of a whole infrastructure, including the ability to automatically log the output. Unfortunately my work proves very difficult to test: the generated assemble does not seem to work simply as a drop in in .NET Core 3.0 preview 7. I figure this is because it targets .NET Stand

[2019-08-07 10:09] ShreyasRmsft commented on #2109
@Dstar2020 it is not possible to do this from the VsTest task.

However the vstest task fails if any tests fail and your approval automatically gets denied since the build/release will fail.

Therefore adding a script after the vstest to approve should work as this task never gets executed if even a singe test fails.

[2019-08-07 10:09] #2109 closed

[2019-08-07 10:22] ShreyasRmsft commented on #2112
@dparvin were you able to try this out?

[2019-08-07 10:27] ShreyasRmsft commented on #2114
@rishi2110 as a workaround i could suggest your author your data collector in such a way that it handles conflict resolution and only one datacollector sets the proxy/launches fiddler.

[2019-08-07 10:31] ShreyasRmsft commented on #2115
Can you please specify which files are being locked?

Also dlls are meant to remain locked when tests are running by the way.

[2019-08-07 10:44] javiercn commented on #2115
![locked-files](https://user-images.githubusercontent.com/6995051/62616968-9fc3fb00-b8c5-11e9-995f-185890f58b52.png)

The test were not running. Other members of my team are also experiencing this.

[2019-08-07 12:15] ShreyasRmsft commented on #2115
@javiercn hey i opened the dump but found no managed threads. Could you please provide the full dump?

My suspicion is that XUnit is holding onto the dlls for some reason. If you could take a first look at the dump and see if you can find XUnit code somewhere in the stack that would confirm this.

Also please provide the diag logs. Use this to enabled diagnostic logging https://github.com/microsof

[2019-08-07 12:18] javiercn commented on #2115
@ShreyasRmsft That was the full dump. I took it with sysinternals process explorer and selected full dump

[2019-08-07 15:02] javiercn commented on #2115
[code]

I captured the full list of locked files from another instance. This happens while running within Visual Studio.

How do I capture the logs from within VS?

I see some Xunit objects in the heap.

[2019-08-07 15:13] Dstar2020 commented on #2109
Thanks @ShreaysRmSoft is there a sample script intended for this purpose

[2019-08-07 18:06] rishi2110 commented on #2114
That is an option we have considered but there will be a lot of overhead to make it work.
We would have to end up creating a global fiddler process that would need to communicate with the vstest spawned datacollector processes over sockets using json.

I think that it's better to support this in vstest natively than implement a one off solution only for us given that this single datacollector proc

[2019-08-08 06:25] ShreyasRmsft commented on #2109
Please do go through the docs

https://docs.microsoft.com/en-us/azure/devops/pipelines/release/approvals/approvals?view=azure-devops

https://docs.microsoft.com/en-us/azure/devops/pipelines/release/deploy-using-approvals?view=azure-devops

https://docs.microsoft.com/en-us/azure/devops/pipelines/release/approvals/gates?view=azure-devops

[2019-08-08 06:27] ShreyasRmsft commented on #2115
For logs from VS take a look at this doc https://github.com/microsoft/vstest-docs/blob/master/docs/diagnose.md#collect-trace-using-config-file

I opened this is VS and it said it was a minidump

[2019-08-08 06:29] ShreyasRmsft commented on #2115
You would need the stack trace to find out who exactly is holding on to the files and the current dump being a minidump did not have the stack traces. Try using proc dump https://docs.microsoft.com/en-us/sysinternals/downloads/procdump to capture a **_Full_** dump

[2019-08-08 06:32] ShreyasRmsft commented on #2114
@rishi2110 this is something we would need to discuss with regards to feasibility and usage. I have tagged this as an enhancement and this will take quite a lot of time to implement as it involves changes in the architecture. We will be prioritizing enhancements based on popular demand.

You are however always free to contribute and we will help out in terms of reviews etc. where possible. Thanks

[2019-08-08 08:27] ShreyasRmsft commented on #2107
@UncleSamSwiss could you please move this issue to the dotnet repo? We can not port a fix to an older release and you will get accurate info on which preview version this fix will be going into. Please provide the PR/commit info there. Thanks.

[2019-08-08 13:03] cescoferraro commented on #669
I have stumbled upon this yesterday. although it drove me mad, it seems reasonable that test should not rely on the environment. I have used this library to circumvent the issue.
https://github.com/bolorundurowb/dotenv.net

[2019-08-08 13:30] JesperBjerre opened #2119 "testhost.exe - only with Code Coverage: TestCaseEventsHandler.RaiseTestCaseStart: System.NullReferenceException"
## Description
We see a lot of exceptions in the TestHost log file.

[code]

This only happens when Code Coverage is enabled.

**TFS Build Code Coverage issue:**

Our main issue is that the TFS build job hangs 3 out of 100 builds when Code Coverage is enabled and we expect the above exception to be related.

vstest.console.exe keeps polling testhost that never will return success or failure of the

[2019-08-08 18:05] davidruhmann commented on #2080
Here is a repro for this issue on CircleCI
https://github.com/davidruhmann/vstest2080

https://circleci.com/gh/davidruhmann/vstest2080/3

Each line of `Test run in progress.` output takes several seconds making the tests take a long time on big projects.

[2019-08-08 18:40] davidruhmann opened #2120 "Since SDK 2.2.300 test performance is magnitudes slower"
## Description
Tests take a long time to run on detached hosts build servers (CircleCI)

Similar issue was closed, but the issue still happens. https://github.com/microsoft/vstest/issues/2078

## Steps to reproduce
Repo which can reproduce the issue https://github.com/davidruhmann/vstest2080

## Expected behavior
Tests to complete `< 1s`

## Actual behavior
Tests take over `> 20s`

Each line of `T

[2019-08-08 18:42] davidruhmann commented on #2078
Since this issue is closed, posted a new issue since this issue still occurs with 2.2.401 on CircleCI
https://github.com/microsoft/vstest/issues/2120

[2019-08-08 23:47] AbhitejJohn commented on #149
@cltshivash : I just tried this out on a solution with 100,000 MSTest tests -> Closed solution while discovery is still in progress but that did not stop the operation. It looks like we bail out from discovery between adapter calls but if an adapter is still servicing a request, there isn't a way of hard-stopping it. That's probably a change in the adapter interface but until that is fixed, we cou

[2019-08-09 01:26] AbhitejJohn opened #2121 "The platform does not report a warning/diagnostic message when dropping adapters"
## Description
This originates from [this](https://developercommunity.visualstudio.com/content/problem/671226/unit-tests-not-found-filter-problem-on-newly-upgra.html) feedback issue in reference to this repro: https://github.com/conficient/MStestNotFoundRepro. The problem is that the IDE passes in all the adapters it finds to the test platform which includes the following list:
[code]

but it look

[2019-08-09 05:32] UncleSamSwiss commented on #2107
@ShreyasRmsft thanks for your reply. Do you have a suggestion which repository will be responsible for this?
- https://github.com/dotnet/cli
- https://github.com/dotnet/coreclr.xunit
- https://github.com/dotnet/coreclr

[2019-08-09 05:40] ShreyasRmsft commented on #2107
I believe this is the one you'll need to post it in https://github.com/dotnet/cli.

[2019-08-09 05:45] UncleSamSwiss commented on #2107
Closed in favor of https://github.com/dotnet/cli/issues/12182

[2019-08-09 05:45] #2107 closed

[2019-08-09 07:50] ShreyasRmsft commented on #2120
@davidruhmann does this repro on your local devbox as well?

[2019-08-09 07:52] ShreyasRmsft commented on #2119
@JesperBjerre could you please use the [vstest platform tool installer task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/vstest-platform-tool-installer?view=azure-devops) and use the latest pre-release version of the testplatform to see if you still face the issue?

[2019-08-09 08:57] ShreyasRmsft commented on #2112
Closing due to no-response. Please re-open if issue persists after trying out above suggestions.

[2019-08-09 11:37] JSkimming commented on #2120
@davidruhmann Try separating the package restore and build from the test steps. you're doing all three in a single step that takes 27 seconds; I usually do something like the following:

[code]

If you do this in distinct CirlceCI steps it will give you a more accurate reflection of where the time is being taken.

[2019-08-09 12:53] DerAlbertCom opened #2122 "Visual Studio does not run all tests when the test discovery failed on one test in a class"
Visual Studio Test Runner does not run all xUnit Tests (maybe also other test frameworks) when the test discovery throws an exception. I also filed this under https://github.com/xunit/visualstudio.xunit/issues/165

## Steps to reproduce
Checkout the repository https://github.com/DerAlbertCom/MisbehavingUnittestRunners it in Visual Studio. More details why the problem occurs is also there.

## Expe

[2019-08-09 14:01] davidruhmann commented on #2120
@JSkimming separated steps as requested to show that dotnet test is super slow by itself.

https://circleci.com/gh/davidruhmann/vstest2080/7

Note, this is just a repro of the issue, this is affecting production builds at the company I work with.  Running hundreds of tests that should take seconds, take 5+ minutes on those projects.  And only on versions of the SDK since 2.2.300.

[2019-08-09 14:05] davidruhmann commented on #2120
@ShreyasRmsft Yes, I can reproduce the issue locally with running tests in docker.  Added a dockerfile to the repo and README instructions.

https://github.com/davidruhmann/vstest2080

[2019-08-09 16:07] JSkimming commented on #2120
@davidruhmann I've created a PR (davidruhmann/vstest2080#3) to test against previous SDK releases, and I'm finding no real difference, certainly not on a different magnitude.

[2019-08-09 16:43] davidruhmann commented on #2120
@JSkimming Thank you for taking a look!

I do see a difference both using docker and on CircleCI when using 2.2.204 vs 2.2.401.

branch `2.2.204` vs `master`

**Docker**
using `2.2.204` it takes `4s`
using `2.2.401/latest` it takes `26s`

**CircleCI**
using `2.2.204` it takes `3s` to run the test step
https://circleci.com/gh/davidruhmann/vstest2080/11
using `2.2.401/latest` it takes `24s`
https://

[2019-08-09 16:51] livarcocc opened #2123 "dotnet test swallows unit tests"
_From @DerAlbertCom on Friday, August 9, 2019 12:35:27 PM_

dotnet swallows silently xunit tests (maybe also test from other test frameworks) when there is a problem on the test discovery. I filed the same under: https://github.com/xunit/visualstudio.xunit/issues/164

## Steps to reproduce
Checkout the repository https://github.com/DerAlbertCom/MisbehavingUnittestRunners run dotnet test. More deta

[2019-08-09 16:56] davidruhmann commented on #2120
For some more context, here are more reports of this issue on CircleCI's board.
https://discuss.circleci.com/t/dotnet-core-testing-randomly-times-out/30492

[2019-08-09 16:57] JSkimming commented on #2120
@davidruhmann This looks a lot like the issue I had originally in CircleCI. Looking at the output, the step that takes 24 seconds reports to only take 1.5117 seconds.

[code]

The discrepancy when running in docker is strange, as I don't get that at all.

What happens if you don't use `-v n`, as verbose logging was the issue I originally received and added a fix with PR #2024.

[2019-08-09 17:01] JSkimming commented on #2120
@davidruhmann I further enhancement I was thinking about to #2024 was not to show the progress indicator if the environment variable `CI` had any value. Several CI systems use that convention.

[2019-08-09 17:02] davidruhmann commented on #2120
@JSkimming Correct, if I do not use `-v n` on `2.2.401` then it is fast as `2.2.204`.
https://circleci.com/gh/davidruhmann/vstest2080/14

However, I would not categorize that as a resolution.

[2019-08-09 17:03] davidruhmann commented on #2120
So you think, not showing a progress indicator might fix the issue?

[2019-08-09 17:04] JSkimming commented on #2120
Agreed, but it narrows down the potential causes, and I suspect the progress indicator is the culprit.

Yup, but I don't think it can be disabled using cli options.

[2019-08-09 17:06] davidruhmann commented on #2120
@JSkimming Thank you for the quick replies!  Let me know if I can help diagnose it further.

[2019-08-09 17:11] JSkimming commented on #2120
@davidruhmann I think you should consider submitting a PR as I did 😃

[2019-08-09 17:14] camerontbelt opened #2124 "VSTest Task Fails even though all tests pass"
## Description
I have an azure release pipeline that deploys and runs UI tests using a VSTest task. I am now getting this issue where it fails even though all tests are passing. Please see logs below.

## Steps to reproduce
Let me know what I can do, this is just a build pipeline task.

## Expected behavior
I expect it to pass when all tests pass.

## Actual behavior
Task fails even when all tests

[2019-08-09 18:52] davidruhmann commented on #2120
Just found this PR while looking through the source that adds a `noprogess` parameter
https://github.com/microsoft/vstest/pull/2117
and associated issue
https://github.com/microsoft/vstest/issues/2106

Will look at creating a PR that sets `DisableProgress` to `true` when environment variable `CI=true`.

[2019-08-09 19:02] JSkimming commented on #2120
Just a suggestion, but a check for the environment variable being anything other than empty or `"false"` (case insensitive) would be more robust.

[2019-08-09 19:35] davidruhmann commented on #2120
That is an interesting thought.  What constitutes the default.

Normal Environment no `CI` defined.
CI Environment assume `CI` defined.  what values should be accepted?  truthy?  0/1/true/false?  any?

* **AppVeyor** uses `True` https://www.appveyor.com/docs/environment-variables/
* **TravisCI** uses `true` https://docs.travis-ci.com/user/environment-variables/#default-environment-variables
* **Ci

[2019-08-09 19:37] davidruhmann commented on #2120
Personally I lean towards having invalid boolean value ignored.  `CI` can be `0|1|true|false/i`

[2019-08-09 20:06] JSkimming commented on #2120
I was thinking that the convention of setting CI environment variable may not be followed well, say `CI=NameOfCIService` though it's an edge case.

[2019-08-09 22:45] tannergooding opened #2126 "Test Console fails if path contains forward slash"
## Description

When using the latest SDK, you get an error if your `VSTestResultsDirectory` contains a forward slash (on Windows).

[code]

## Steps to reproduce

1. Clone https://github.com/microsoft/clangsharp
2. Run .\scripts\cibuild.cmd

## Expected behavior

Everything succeeds (as with previous versions)

## Actual behavior

The Test Execution Command Line Tool fails with the above diagnost

[2019-08-09 22:48] tannergooding commented on #2126
This does not repro on preview 7 (3.0.100-preview7-012821)

[2019-08-12 05:57] ShreyasRmsft commented on #2102
Closing this due to no response. Please do re-open with the requested details.

[2019-08-12 05:57] #2102 closed

[2019-08-12 06:13] ShreyasRmsft commented on #2115
@javiercn any updates here?

[2019-08-12 06:44] ShreyasRmsft commented on #2124
@camerontbelt could you please set system.debug = true and provide the full set of zip logs that you get.

That should provide us with enough info to get started. Thanks.

[2019-08-12 07:44] ShreyasRmsft commented on #2120
@JSkimming it is indeed strange that the progress indicator is causing slowness. Could it be that IO is bottlenecked? Just a thought. We will look into this.

Thanks a lot for diagnosing the issue.

[2019-08-12 07:48] ShreyasRmsft commented on #2123
@livarcocc could you run this with diag logs enabled and share them here?

[2019-08-12 08:11] ShreyasRmsft commented on #2126
@tannergooding i took a look a have an idea what is causing the issue.

https://github.com/microsoft/vstest/blob/03cb97c1e7a57dfed561a872e5797110524a1d70/src/vstest.console/Processors/ResultsDirectoryArgumentProcessor.cs#L178

this methods "IsValidPath"

is first splitting the given path using Path.DirectorySeparatorChar which returns '\' for windows.

Then for each folder (results of the split) w

[2019-08-12 12:54] alexrp opened #2129 "Documentation on writing test adapters?"
Hello,

A little background: I'm working on a programming language implementation. While many aspects of the compiler and VM can be easily tested in e.g. xUnit, there are other things that are much easier to test with other tools similar to [LLVM's FileCheck](https://llvm.org/docs/CommandGuide/FileCheck.html). That said, I'd like for these tests to still be run and reported as part of `dotnet test

[2019-08-12 16:37] camerontbelt commented on #2124
@ShreyasRmsft
Im not sure how to do that.

[2019-08-12 16:56] mehagar commented on #2077
Just curious - what's the difference?

[2019-08-12 17:00] livarcocc commented on #2123
@ShreyasRmsft I just transferred the issue here.

@DerAlbertCom  can you share diag logs here so that this can be further investigated?

[2019-08-12 17:03] ShreyasRmsft commented on #2124
https://docs.microsoft.com/en-us/azure/devops/pipelines/troubleshooting?view=azure-devops#get-logs-to-diagnose-problems

Follow the above.v

[2019-08-12 17:04] ShreyasRmsft commented on #2124
On the Variables tab, add system.debug and set it to true. Select to allow at queue time.

Queue the build or release.

In the explorer tab, view your completed build or release and click the failing task to view its output.

If you need a copy of all the logs, click Download all logs as zip.

[2019-08-12 17:11] tannergooding commented on #2126
@ShreyasRmsft, why does the path need to be validated at all? Why aren't we just passing the path (as given) down to the right APIs and allowing the file operation to fail if it determines it should?

There are a range of characters that may or may not be valid based on where the destination exists and the file system it falls under. For example, it could be a network path in which case normalizin

[2019-08-12 17:53] dparvin commented on #2112
Sorry, was on vacation.  I tried using the VSTest task to run the tests and I tried running a batch from the command line and both gave the same results.  I installed Visual Studio 2015 (That is the current version we are using with build) and VS 2019.  I was able to set the VSTest task to use the installed VS 2015 and my unit tests ran just fine.  I also made a test process that ran my tests with

[2019-08-12 18:04] DerAlbertCom commented on #2123
@ShreyasRmsft @livarcocc  you now that there is a repository with an easy reproduction sample, and a lot more details  https://github.com/DerAlbertCom/MisbehavingUnittestRunners

But anyway :) here the logs.

[diag.host.19-08-12_19-59-49_08946_6.log](https://github.com/microsoft/vstest/files/3493738/diag.host.19-08-12_19-59-49_08946_6.log)
[diag.log](https://github.com/microsoft/vstest/files/34937

[2019-08-12 18:05] ShreyasRmsft commented on #2126
@tannergooding the main motive was to fail fast with a helpful error message upfront rather than failing to say create the attachment after an hour long test run. And i would stand by this and not change my stance here.

As for the normalization , the normalization happens on the target machine (there is no other target machine as such, the testhost runs on the same machine as vstest.console.exe).

[2019-08-12 18:08] ShreyasRmsft commented on #2112
When using the VsTest platform tool installer task (https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/vstest-platform-tool-installer?view=azure-devops) you also need to change an option in the vstest task to use the test platform from the tool installer. See the linked blog for details on how to do this.

Once this is done, whether you have VS or not on the machine  you should be

[2019-08-12 18:19] ShreyasRmsft commented on #2123
@DerAlbertCom i took a quick look. The diag logs are basically open for the test adapters to use as they please. The test host process simply invokes the adapter and listens to exceptions if any. In this case the xunit adapter did not throw any exceptions.

I know for a fact that mstest does log the reason/exception if any when discovery has issues. I would recommend you either try and debug throu

[2019-08-12 19:12] tannergooding commented on #2126
Why not validate this with something as simple as validating that the directory exists or can be created upfront?

[2019-08-12 20:42] JeremyKuhne commented on #2126
As a fundamental design principle, don't try and validate paths. You'll inevitably get it wrong. Let `Path.GetFullPath()` normalize it for you (which it does through the OS) and let the OS tell you if the path isn't usable when you try to use it.

Note that even if you do validate a path, there is no way to ensure that the path will be the same next time you access it. Files turn into directories

[2019-08-12 20:45] JeremyKuhne commented on #2126
Note that we explicitly took "pre validation" out of .NET as we blocked valid scenarios. The _only_ thing we check up front now is that you don't have an embedded null in a path as that can result in very hard to reason failures. If you need to try to assert something don't hesitate to contact me and I can give you feedback.

[2019-08-13 12:07] ShreyasRmsft commented on #2115
Closing due to no response. Please do re-open with the request details if the problem persists.

[2019-08-13 12:07] #2115 closed

[2019-08-13 12:11] ShreyasRmsft commented on #2119
Closing due to no response. Please do re-open if problem persists after trying out the above suggestion.

[2019-08-13 12:11] #2119 closed

[2019-08-13 14:42] camerontbelt commented on #2124
[tasklog_5.log](https://github.com/microsoft/vstest/files/3497474/tasklog_5.log)

[2019-08-13 14:59] devinvisible opened #2130 "VS2019 shouldn't write Warning "No test is available" when that's expected"
In Visual Studio 2019, when I (re)build my C# project, the _Tests_ section in the Output window shows the following warning:

[code]

I have a separate project which contains my unit tests. Foo.dll will never contain tests. How can I avoid this assembly/project being scanned for tests and causing that warning message from being written?

Here is the full diagnostic log:

[code]

This is Visual Stu

[2019-08-13 16:15] dbsanfte commented on #2087
Just hit this myself.

[code]

[2019-08-13 16:54] ShreyasRmsft commented on #2124
@camerontbelt could you please upload the entire zip? there are additional log files we upload that might indicate something. They'd be of the form *.diag, i would need all of them (example: Attempt--1_kkcfzd.diag)

Uploading the entire zip would help

[2019-08-13 17:01] camerontbelt commented on #2124
@ShreyasRmsft When I click on the zip link to the right of the task name in the pipeline, it just downloads the .log file.
Unless i'm missing something.

[2019-08-13 17:03] camerontbelt commented on #2124
@ShreyasRmsft
Ok I had to click "Download All Logs" to get that zip you mentioned.

[ReleaseLogs_95.zip](https://github.com/microsoft/vstest/files/3498080/ReleaseLogs_95.zip)

[2019-08-13 20:19] devinvisible commented on #2130
The `InvalidOperationException` seems to be a nuget issue when the project has multiple target frameworks and conditional assembly name:

[code]

The workaround I've used is to introduce a _src\Microsoft.Common.props_ file that contains:
```<PackageId>$(MSBuildProjectName)</PackageId>```

With the InvalidOperationException gone, my _Tests_ output has changed a little; it now says that the assembly

[2019-08-13 21:56] martincostello commented on #2078
I'm also still observing this with the `3.0.100-preview8-013656` SDK - has the fix been ported to the 3.0.0 SDK yet?

[2019-08-14 06:39] ShreyasRmsft commented on #2124
@camerontbelt went through the logs, the issue seems extremely strange. no indications that anything went wrong. The last thing i can take a look at is the trx file, could you please upload that? Also how often is this occurring, would it be possible for you to provide a repro so that i can debug it through?

[2019-08-14 09:39] bencollinsuk commented on #2008
I still get this problem - it prevents my unit tests from running.

Microsoft Visual Studio Enterprise 2019
Version 16.1.6
VisualStudio.16.Release/16.1.6+29102.190

[2019-08-14 10:01] olivermue commented on #2008
Yes, in Enterprise this error still exists (just tested it again, also with 16.1.6). Due to the fact, that it is solved in VS Community 16.2.0 Preview 3.0, we have to wait till the Enterprise Version 16.2.x arrives.

And in case you use Azure DevOps, you have to wait till Microsoft releases a new hosted agent image. Depending on how Microsoft names this agent, you then have also to configure your

[2019-08-14 10:59] vagisha-nidhi commented on #1603
@SidShetye @StephenCleary We are revisiting the scenario and would appreciate your inputs on the spec. Here is the [RFC](https://github.com/vagisha-nidhi/vstest-docs/blob/multiTargetTrxRFC/RFCs/0028-Dotnet-Test-MultiTarget-Project-Trx-Logger.md) I have posted. Let me know if there are any concerns.

[2019-08-14 13:22] camerontbelt commented on #2124
I can try to find the trx file for you. It happens every time I run the pipeline.

[2019-08-14 18:00] AbhitejJohn commented on #2130
@devinvisible : There isn't unfortunately a way to avoid this at the moment. Would you mind filing an issue at developer community and we'll put this on our backlog? (Here's how you could do so: https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019)

[2019-08-14 19:22] camerontbelt commented on #2124
@ShreyasRmsft It tells me that I can find the file here `C:\agent\_work\_temp\TestResults\cbelt_DC-DEVELOPMENT_2019-08-13_17_08_06_300.trx` but when I navigate to that location _temp is empty.

[2019-08-15 09:25] DerAlbertCom commented on #2123
@ShreyasRmsft thank for the information.

I filed already the bugs under https://github.com/xunit/visualstudio.xunit/issues/164 and https://github.com/xunit/visualstudio.xunit/issues/165 no reaction so far.

[2019-08-16 05:16] acesiddhu commented on #1663
@vagisha-nidhi is this done. I see that there was a PR above that was merged with this support

[2019-08-16 05:37] ShreyasRmsft commented on #2124
@camerontbelt the trx gets uploaded as an attachment to your test run. Could you please navigate to the tests tab a take a look there?

Something like this

![image](https://user-images.githubusercontent.com/25194518/63145715-170c3400-c016-11e9-944a-6893dc949227.png)

[2019-08-16 05:41] ShreyasRmsft commented on #2123
@DerAlbertCom since all of these are open source you should be able to just add a throw in the discovery code of the xunit adapter and see who is handling/catching it.

[2019-08-16 06:47] ShreyasRmsft commented on #2129
@alexrp the docs are present here https://github.com/Microsoft/vstest-docs/blob/master/RFCs/0004-Adapter-Extensibility.md

You can ship the adapter however you want. You can quite literally copy it to the test directory just before running tests.

Or you can have it in some common location and set the adapter path property in the runsettings to point to the adapter dll.

Let us know if you need an

[2019-08-16 06:47] #2129 closed

[2019-08-16 08:35] vagisha-nidhi commented on #1663
@acesiddhu Yes this is complete

[2019-08-16 08:40] nphmuller commented on #1663
@vagisha-nidhi Do you perhaps now in which version this improvement has been included?

[2019-08-16 08:50] vagisha-nidhi commented on #1663
@nphmuller Here is the latest version that is released https://github.com/microsoft/vstest/releases/tag/v16.3.0-preview-20190808-03

[2019-08-16 09:05] ShreyasRmsft commented on #2122
@DerAlbertCom i think once xunit propagates this the IDE can show this against the tests. You can open this issue in the developer community if after xunit fixes this and it still does not show up.

[2019-08-16 09:05] #2122 closed

[2019-08-18 12:55] DerAlbertCom commented on #2122
@ShreyasRmsft i've done some research on this topic on xunit side, i also added my findings on that issue. but xunit has a ton of indirection, not that easy to check or fix if someone is not familiar with the code.

[2019-08-19 06:10] ShreyasRmsft commented on #2112
Please re-open after following the requested steps.

[2019-08-19 06:10] #2112 closed

[2019-08-19 16:38] pwen090 commented on #2008
I am also not clear on what version fixes this and agree this should not have been closed under a preview release. Is there any confirmation that Visual Studio Professional 2019 version 16.2.2 fixes this issue?

[2019-08-19 17:21] TheMadStrater commented on #2008
This isn't fixed on any of my versions of VS...not sure why this isn't a trivial fix?!?

[2019-08-20 06:36] xygon commented on #2008
I have Visual Studio Professional 16.2.2 and the issue is fixed.

[2019-08-20 06:40] ShreyasRmsft commented on #2130
Closing this here. Please do open an issue in the developer community as suggested. Thanks. The feature request is for the VS IDE and in this repo we track issues with vstest platform only.

[2019-08-20 06:40] #2130 closed

[2019-08-20 08:15] ShreyasRmsft commented on #2124
@camerontbelt any updates here?

[2019-08-20 09:34] michael-colclough commented on #1811
This is very important to our team. Without it, the code coverage results are meaningless. Please could this be implemented as soon as possible

[2019-08-20 09:58] carlmacdiarmada commented on #1746
Just in response to this, you can convert that .coverage file using the VSTS console.
[code]
or
[code]
then
[code]

this creates an XML file with the code coverage details from the .coverage file.

[2019-08-20 14:32] camerontbelt commented on #2124
@ShreyasRmsft I apologize. I could have sworn I uploaded the zip file to you, I guess the comment did not post.
[ReleaseLogs_103.zip](https://github.com/microsoft/vstest/files/3521119/ReleaseLogs_103.zip)

[2019-08-20 21:21] mfaulcon commented on #2095
Does this imply that code coverage cannot be calculated in the scenario referenced (partially failing tests) when the developer is using VS2017, and therefore has core 2.2.104 installed?

[2019-08-21 05:55] olivermue commented on #2008
Just installed Visual Studio Enterprise 2019 Version 16.2.3 and I can confirm the error is fixed. So the only bogus version is within Azure DevOps the agent pool image _Hosted Windows 2019 with VS2019 image_, cause it contains _VisualStudio/16.1.6+29102.190_

[2019-08-21 18:35] NGloreous opened #2138 "Allow sources to be parallelized across processes and controlled by adapters"
## Description
Today vstest doesn't split tests within a dll across multiple processes (e.g. if I only have 1 dll with thousands of tests they will all run sequentially in one process, assuming the adapter doesn't support parallelization or the tests can't be parallelized in the same process).

Ideally control of how tests within a dll are split across processes is determined by the adapter to all

[2019-08-22 09:54] ShreyasRmsft commented on #2124
Fixed in https://github.com/microsoft/azure-pipelines-tasks/pull/11185

[2019-08-22 16:47] vritant24 opened #2141 "Stopping Debugging shows non-descriptive error"
cancelling/stopping debugging before it is complete shows the following error in the test output pane:
```The active test run was aborted. Reason: Test host process crashed```

Would it be possible to indicate with the error that the debugger was cancelled.

[2019-08-22 17:46] camerontbelt commented on #2124
@ShreyasRmsft When will I see those changes reflected in my pipeline? I assume you guys release every two weeks.

[2019-08-22 17:53] camerontbelt commented on #2124
@ShreyasRmsft The reason I ask is because I ran it again and it still failed for the same reason even though all tests passed. But I dont know if the task has been updated or not.

[2019-08-23 13:04] Mobrockers commented on #2034
Oops sorry 🙈

[2019-08-23 14:10] snehalsilicus commented on #1469
What was the solution for this? I'm also facing the same issue.

[2019-08-23 23:46] eerhardt commented on #2126
Note this is also breaking ML.NET consuming 3.0 preview8 SDK.

https://github.com/dotnet/machinelearning/pull/4115

Are we going to get a fix for preview9?

[2019-08-24 11:50] snehalsilicus opened #2142 "Error Message: System.IO.FileNotFoundException : Could not load file or assembly 'Mono.Android,"
## Description
Xamarin Nunit test cases failing with error
Error: The process 'C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe' failed with exit code 1

## Steps to reproduce
 1. Added NUnit test cases for Xamarin Native project
 2. Using VSTest task to execute it
[code]

## Expected behavior

## Actual behavior
Fa

[2019-08-24 16:41] martincostello commented on #2120
This has regressed as per #2078 in the .NET Core 3.0 SDK since preview 7 as well. A test run in Travis CI that writes to the log that it takes 3 seconds to run the tests for takes about 15 minutes to complete.

Again it appears that lots of time is being wasted writing `Test run in progress.` to the console.

Examples below using `3.0.100-preview9-013994`:

  * https://travis-ci.com/martincostello

[2019-08-24 16:56] martincostello commented on #2120
Can workaround the issue by specifying the following parameter to `dotnet test`:

`'--logger:Console;noprogress=true'`

[2019-08-26 06:59] migheorghe opened #2143 "vstest batches execution"
## Description
Tests marked with ClassData attribute are not executed in AzureDevOps using vstest configured with batches.

## Steps to reproduce

We have a job in AzureDevOps that uses strategy 'parallel' with 5 agents  and it's using vstest task in configured with the settings bellow:
            distributionBatchType: 'basedOnExecutionTime'
            batchingBasedOnExecutionTimeOption: 'custo

[2019-08-27 05:31] vagisha-nidhi commented on #2124
@camerontbelt As @ShreyasRmsft has mentioned, the fixes have gone in, but it'll take a couple of weeks to get deployed.

[2019-08-28 05:42] vagisha-nidhi commented on #2142
@snehalsilicus Can you please provide a sample repro project to try this on?

[2019-08-28 05:50] snehalsilicus commented on #2142
@vagisha-nidhi , Please check private repo for source code. https://github.com/snehalsilicus/UserModuleXamarinNative

[2019-08-28 09:54] #1663 closed

[2019-08-28 10:08] mayankbansal018 commented on #1696
this is already fixed

[2019-08-28 10:08] #1696 closed

[2019-08-28 10:52] anaprikho commented on #1931
@nmfernandes
have you solved this issue?

[2019-08-28 10:57] vagisha-nidhi commented on #2142
I am trying to run your test dll using vstest task but I am unable to get this error.
Can you please try these two things.
1. Update you vmimage to windows-latest OR windows-2019 (so that it uses the latest tools, [doc](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops))
2. Since I don't have access to your pipeline, can you also run the pipeline with diagnost

[2019-08-28 11:30] vagisha-nidhi commented on #2141
When the debugger is cancelled such that the test host process aborts, the test host abort error will be shown. And as the test host has already aborted, I don't think there is a way to find out the reason of the abort was the debugger.

[2019-08-28 11:48] nmfernandes commented on #1931
Although those messages about "DLL(s) do not match framework/platform settings" keep being displayed, the tests run as expected, so after all this is not an issue for me.

[2019-08-28 12:29] anaprikho commented on #1931
@nmfernandes can you see then the results of your tests? It seems there is no test available cause of the platform incompatibility

[2019-08-28 13:18] nmfernandes commented on #1931
@anaprikho, and are you sure that the platform incompatibility is the reason for which the test results are not being displayed?

[2019-08-29 00:49] giggio commented on #981
I just tested the coverlet integration and it works. Is this going to be ported over to VSTest or that will be the recommended approach? If so, this issue should be closed and the docs should be updated.

[2019-08-29 00:58] vikasillumina commented on #981
@giggio this is great news that it works on all the platform. Please can you share details of your cli command and version of dotnet core you used? I would like to try it.

[2019-08-29 01:11] eerhardt commented on #2126
Should this issue be closed now that #2133 is merged?

Also, will the fix make it into 3.0, since this is a regression?

[2019-08-29 02:16] gremlm commented on #981
By the way, how it can be executed just in .Net, not  under .net core?

Sincerely, Grigoriy Milman

On Aug 28, 2019 5:59 PM, vikasillumina <notifications@github.com> wrote:

@giggio<https://github.com/giggio> this is great news that it works on all the platform. Please can you share details of your cli command and version of dotnet core you used? I would like to try it.

—
You are receiving this b

[2019-08-29 06:27] vagisha-nidhi commented on #2126
@eerhardt Yes the issue should be closed. We have made a release as well with this fix.
The fix will go into dotnet cli 3.0 also.